[2020-05-10 13:41] rutujasurve94 commented on #4082
Hi, I've raised a PR here: https://github.com/sunpy/sunpy/pull/4135 for improving the example.

[2020-05-10 14:17] rutujasurve94 commented on #4042
Hi, Open PR https://github.com/sunpy/sunpy/pull/4136 for this issue.

[2020-05-10 14:45] rutujasurve94 commented on #4091
Hi, I've raised PR: https://github.com/sunpy/sunpy/pull/4137 for this issue.

[2020-05-10 17:25] #4099 closed

[2020-05-10 17:41] rutujasurve94 commented on #4095
Hi, I've submitted PR for issue #4091. Hopefully this helps wrt RTD failure as well.

[2020-05-11 08:31] nabobalis commented on #4042
Closed by #4136

[2020-05-11 08:31] #4042 closed

[2020-05-11 08:32] nabobalis commented on #4091
Fixed by https://github.com/sunpy/sunpy/pull/4137

[2020-05-11 08:32] #4091 closed

[2020-05-11 13:49] Cadair commented on #3643
I was quite surprised to see when talking to @hayesla that astropy's `wcs_to_celestial_frame` didn't use `obsgeo-` I don't think either me or @hayesla opened an astropy issue for that.

[2020-05-11 16:08] Cadair commented on #4096
Now fixed upstream.

[2020-05-11 16:08] #4096 closed

[2020-05-11 16:08] dstansby commented on #4096
Fixed by https://github.com/astropy/astropy/pull/10326

[2020-05-11 16:20] #4095 closed

[2020-05-12 09:37] #4120 closed

[2020-05-12 17:03] ehsteve opened #4156 "Remove NOAA solar cycle data from sample data set"
### Description

NOAA solar cycle data will always be out of date given that it is always updating. This is also true of the prediction data set. The names of these data sets are `NOAAINDICES_TIMESERIES` and `NOAAPREDICT_TIMESERIES`. Given that these are simply available as csv files, ftp://ftp.swpc.noaa.gov/pub/weekly/Predict.txt and ftp://ftp.swpc.noaa.gov/pub/weekly/RecentIndices.txt, that are

[2020-05-12 17:53] mbobra commented on #4156
Agree. I see no reason for us to host the data. We can simply download it when necessary.

[2020-05-12 18:19] rutujasurve94 commented on #4156
Hi, I've updated the PR: #4135 to use live data from ftp://ftp.swpc.noaa.gov/pub/weekly/Predict.txt and ftp://ftp.swpc.noaa.gov/pub/weekly/RecentIndices.txt - changing _sample.py script to update NOAAINDICES_TIMESERIES and NOAAPREDICT_TIMESERIES to the new sources and adding a mirror URL for ftp://ftp.swpc.noaa.gov/pub/weekly/

[2020-05-12 18:32] rutujasurve94 commented on #4156
I had updated _sample.py but the example script needs to be updated instead hence reverted the changes.

[2020-05-12 18:44] vn-ki commented on #2711
Our current method of parsing different formats isn't very elegant.

https://github.com/sunpy/sunpy/blob/7e8e7664cc1f2ecb095157e9dd63a1444931acb2/sunpy/time/time.py#L91-L131

The idea, iirc, was to use Astropy's custom class method to define the formats, replacing the current regex method. This has the advantage of playing nicely with `astropy.time` and ability to freely convert between different

[2020-05-13 01:49] #3793 closed

[2020-05-13 02:14] ehsteve commented on #4156
@rutujasurve94 I added a comment to your PR to show you how to download the data.

[2020-05-13 02:49] ehsteve commented on #4117
Shouldn't this be configurable with the config file [sunpyrc](https://github.com/sunpy/sunpy/blob/7c48c8ca44e11561a71e2a44c605a8d1b1a01575/sunpy/data/sunpyrc)? Then it would just be a matter of packages shipping with their own custom config. I highly recommend if we cannot do this we should enable it.

[2020-05-13 02:52] ehsteve commented on #3997
This sounds like a terrible idea to me given that you'd have to inject some major assumptions about the three-dimensional nature of the structures in LASCO images. You might argue that we already do this for the low-corona in EUV images but you can see through so much more once you are above the solar limb.

[2020-05-13 02:57] ehsteve commented on #3906
I understand how this is getting ridiculous. How about we provide some sort of function that users can run to prints a table with all meta data fields that state "ignored", "read", maybe "corrected", extra?

[2020-05-13 02:59] ehsteve commented on #3885
csv files also render nicely on GitHub which might be convenient.

[2020-05-13 03:03] ehsteve commented on #3702
See also #3885.

[2020-05-13 03:08] ehsteve opened #4158 "Remove NOAA FidoClient and add SWPC client"
### Description

SWPC provides lots of different data files in JSON including both of the solar cycle and predicted solar cycle files that are provided by the NOAA fido clients. They can be found [here](https://services.swpc.noaa.gov/json/). A new client called SWPC should be created which replaces and expands on the NOAA client.

### Additional context

This may really push on the capabilities of

[2020-05-13 07:45] Cadair commented on #4117
The sunpyrc is for users not packages though. If heliopy changed that then all the fido downloads for sunpy would also end up in ~/heliopy`

[2020-05-13 09:11] dstansby commented on #4117
Correct, or per package (ie. a different directory for sunpy/heliopy).

The use case I am thinking of is a planetary scientist who wants a bunch of cassini data, and therefore doesn't care about sunpy. I think it would be confusing in this case to download data to a `sunpy` directory.

Perhaps the answer is that heliopy has it's own `Fido` instance with a different download directory set? This mea

[2020-05-13 09:46] Cadair commented on #4117
This kinda rather defeats the whole purpose of a "unified downloader" no? Maybe they do want to just download cassini data today, but maybe tomorrow they also care about the code X ray light curve to correlate with some thing in their data? :shrug: The point being the idea from my perspective is that we have one interface to the data.

I don't disagree with this, but I do think there can only be o

[2020-05-13 11:33] dstansby opened #4159 "Fido downloading invalid FITS files for recent AIA data"
Running the code below results in downloading a FITS file that is invalid and can't be loaded by `Map` (see error message below). I think this is a problem for recent AIA data (ie. data that hasn't yet been processed into http://jsoc2.stanford.edu/data/aia/synoptic/, but is present at http://jsoc2.stanford.edu/data/aia/synoptic/nrt/).

I did not have this problem yesterday, so I think something ma

[2020-05-13 12:39] ehsteve commented on #4117
How about we call that directory “Fido”. Problem solved! The subdir could be the name of the package so “Fido/sunpy” if needed.

[2020-05-13 12:40] ayshih commented on #4159
Not directly related, but I'll cross-reference to #3505 because at least at one time it was possible to download NRT data through Fido, and those NRT files were openable by `Map`, but not without interpretation issues (observer location).

[2020-05-13 12:48] ayshih commented on #3997
As you say, the default assumption is already not correct (especially for, say, a halo CME), so this would just be a different assumption.  If you haven't already looked at it, #4003 implements this as a context manager, so it'd be an active choice by a user that they are using this different assumption.  (I'll point out that a user can't "do this themselves" by just manually specifying fully 3D c

[2020-05-13 16:09] ejm4567 commented on #4159
I was able to run the code above and get the file and it seems fine.

Results from 1 Provider:

1 Results from the VSOClient:
   Start Time [1]       End Time [1]    Source Instrument   Type   Wavelength [2]
                                                                      Angstrom
       str19               str19         str3     str3      str8      float64
------------------- ---------------

[2020-05-13 16:14] ehsteve commented on #4158
SWPC should be a provider and we can use PhysObs for the choices probably.

[2020-05-13 16:15] jhourcle commented on #4159
The file in question is actually at the SDAC :  https://sdo5.nascom.nasa.gov/data/aia/synoptic/2020/05/12/H0000/AIA20200512_000300_0193.fits

I don't have access to that machine any more, but I want to say that there's a cronjob that does an rsync to a machine at LMSAL.  So it's possible that something got corrupted at LMSAL (maybe they pull from the JSOC using HTTP?), but then got fixed, so SDAC

[2020-05-13 16:42] ehsteve commented on #3997
The AIA one is cool. I just don’t think that anyone in their right mind should try to infer 3D structure from only an image without it being driven by an eruption model which goes beyond what is being described for this machinery. This is not my area of expertise so perhaps there are “default” ways of doing this accepted by the commmunity and with limitations that are understood that SunPy could s

[2020-05-13 17:38] nabobalis opened #4160 "Expand our selection and features of net attributes"
Monica's suggestion:

What else can we do with our attribute system?

[2020-05-14 10:01] #4128 closed

[2020-05-14 17:12] ayshih opened #4167 "Eventually remove our minigallery Sphinx directive"
The custom Sphinx directive to insert mini-galleries (#4124) has now been upstreamed to `sphinx-gallery` (sphinx-gallery/sphinx-gallery#685).  The version there is a bit more robust and featured.  Once it shows up in a release of `sphinx-gallery`, we can remove the version that we have in our code.

[2020-05-14 17:15] rutujasurve94 commented on #4156
Hi, thanks a lot.
I've updated the PR #4135 to download the data and use it as time-series. Thanks a lot for the Fido snippet for downloading data.

[2020-05-14 21:39] ehsteve opened #4168 "Provide easier access to valid TimeSeries source keywords"
### Description

I suggest that it should be shown at the top when a user inputs the command
[code]

### Additional context

[2020-05-14 22:00] hayesla commented on #4168
I think all the supported timeseries can recognize the source from the input data file in `is_datasource_for`.

However it would be nice to have a way to easily access them, we should also have a check to see if the source provided is valid.

We should have a better error for things like this:

[code]

as the source keyword over rights the detection from the input filename itself.

[2020-05-14 22:04] ehsteve commented on #4168
Good point! Then why do we set the source in the gallery examples explicitly? In any case, it would nice to easily look it up and not have to run to the online docs.

[2020-05-14 22:16] hayesla commented on #4168
Actually the more I think about it there is really no reason for source? Unless I'm missing something.

Even if you made a `TimeSeries` from your own data and use `source` the data does not have to conform to the `source` data structure as far as I can tell (i.e. same column names or meta information).

But again I could be missing something on why `source` exists ....

[2020-05-14 22:16] hayesla commented on #4168
But yes, it probably should be removed from the docs and example gallery unless someone else has a point to why its there

[2020-05-14 22:21] hayesla commented on #4168
Wait it's needed for 'NOAAIndices',  'NOAAPredictIndicesTimeSeries' and 'EVESpWxTimeSeries' - but not for the others

[2020-05-15 02:41] wtbarnes opened #4170 "Cannot pass sortby keyword argument through to MapSequence from Map"
`MapSequence` accepts a `sortby` keyword argument that can be used to optionally sort the maps in the sequence in different ways. However, if you try to pass this kwarg in through `Map`, eg.

[code]

you get the following exception,

[code]

Presumably, this is because `Map` does not properly deal with the `sortby` kwarg before it can be passed to `MapSequence`.

[2020-05-15 09:45] dstansby opened #4171 "Map Factory should be able to create Maps backed by Dask arrays"
In https://github.com/sunpy/sunpy/pull/2689 support was added for loading a dask array into `Map`, but the data has to manually be put into a dask array first, and then given to `Map` as `Map(data, meta)`.  My question is therefore twofold:

- How do I load a `.fits` file into a dask array, without first loading it into a numpy array? (I think it would be helpful to have a section in the docs expl

[2020-05-15 09:48] dstansby commented on #4159
Hmm, running the code above is still giving me the same error as above. The Fido search output is
[code]

[2020-05-15 10:28] Cadair commented on #4083
Chatting to @nabobalis about this, the best solution might be for us to host the json files on data.sunpy.org and then have a way for the clients on import to determine if the file has been updated server side. Also we can rebuild the files nightly on CI.

[2020-05-15 11:07] #3907 closed

[2020-05-15 13:22] ayshih commented on #4170
I believe the list of Maps will already be sorted by filename before the `MapSequence` is created, so passing through `sortby=None` may not work the way a user wants.  I'm thinking that we should actually have a `sortby` keyword that functions at the `MapFactory` level, regardless of whether the output is a list or a `MapSequence`.  (Then, if `sequence=true`, it creates a `MapSequence` with `sortb

[2020-05-15 13:50] #3154 closed

[2020-05-15 22:18] hayesla opened #4173 "New GOES XRS (16- 17) data will be in netcdf format"
### Description
GOES-15 X-ray sensor is currently no longer operational (i.e no more GOES data from GOES-15).
GOES-16 and 17 are now taking data are are being used by SWPC for flare classification. GOES-16 has actually been observing since 2017 but the XRS data has not been publicity released - but hurrah as far as I'm aware NOAA are planning to release this data next week (both the new data and t

[2020-05-15 22:33] wtbarnes commented on #4173
#3738 is probably relevant here.

[2020-05-15 22:45] wtbarnes commented on #4171
For the case you’re interested in, you have to lazy load the FITS file. There are ways that you can do this, but probably not anything standard enough to put in core yet. See also #2715

[2020-05-16 01:34] hayesla opened #4174 "Functionality for parse_time to take list as input"
### Description
It would be super handy if `sunpy.time.parse_time` could take in a list of time inputs and return a list of the `astropy.time.Time` objects.

I find myself again and again doing things like
[code]

where it would be great just to do
[code]

What are peoples thoughts on this?

[2020-05-16 03:14] ayshih commented on #4174
Is there a chance that something is out of date in your setup?  Currently, if you call `parse_time()` on a list of time inputs, you get back an array `astropy.time.Time` object.

Or, are you specifically requesting that it return a list of scalar `astropy.time.Time` objects *instead* of a single, array `astropy.time.Time` object?  I'd be resistant to that notion.

[2020-05-16 09:24] Cadair commented on #4173
It's much easier to add support for netcdf to Timeseries than Map. However, we will need to have a detailed think about adding the dependency required to read the files.

[2020-05-16 11:43] dstansby commented on #4171
Is it worth me opening a similar issue/feature request in astropy, given that's where the FITS loading is done?

[2020-05-16 12:01] dstansby opened #4175 "Edits to map.{draw_rectangle, submap}"
To keep a list for myself, so I don't forget between now and opening a PR, my suggested edits to https://github.com/sunpy/sunpy/pull/3677 are

- Add more tests to get patch coverage to 100% (see https://codecov.io/gh/sunpy/sunpy/compare/ead9cd3c62741aaa15b35d0e836c491fc38795a0...1a3b4ac6620f794b5289bbc7c741f8081da46d07/diff)
- Add a fuller changelog instructing users how to change their code from

[2020-05-16 13:48] ayshih commented on #4174
Ah, my mistake!  It's been a while since I've worked with inputs that couldn't be directly parsed by `astropy.time.Time` (e.g., `'2001-Jan-01'` instead of `'2001-01-01'`).  This is only a problem for certain types of inputs in a list.  For example, the current behavior is:
[code]

Absolutely, `parse_time()` should be fixed so that the two examples above return the same output.

[2020-05-16 13:57] ayshih commented on #4173
As a correction, the 1-second XRS data has actually been publicly available for a while through NOAA CLASS, albeit in an extremely awkward form (in 30-second-long netCDF4 Classic files that have to be requested through a website).  netCDF4 Classic is particularly annoying because it is resistant to concatenation, so if I recall correctly, I couldn't use `pycdf` satisfactorily, and instead used `xa

[2020-05-16 22:05] hayesla commented on #4174
oh strange! - yes I was working with `%Y-%b-%d` formats. Yes an array of `astropy.time.Time` object return is exactly what I'm looking for (rather than a list of `astropy.time.Time` objects)

I'l look into this some more for a fix

[2020-05-16 23:00] hayesla commented on #4173
Yes thats true, but its in such a pain of a format. I was using `netCDF4` which works pretty well, but never thought of xarray but that also works well.

Unfortunately it looks like they will netCDF4 classic, this is going from the re-processed GOES 13-15 files here: https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/goes15/gxrs-l2-irrad_science/

But again both netCDF4 and xrray work well

[2020-05-17 19:02] Cadair commented on #4171
There probably already is an issue. I think a PR got merged for saving a FITS file from a dask array without loading it all into a numpy map, which should be included in 4.1.

Deciding how you want to lazy load a file into dask requires you to make decisions based on your use case, what are you trying to do where dask + map together is the right answer so we can work out what the best solution is?

[2020-05-18 10:07] #3325 closed

[2020-05-18 14:20] #3575 closed

[2020-05-18 14:27] nabobalis opened #4180 "Issues with the attrs reg"
Have to address both before the final 2.0 release.

Fix https://github.com/sunpy/sunpy/pull/3637#discussion_r426643732
Fix https://github.com/sunpy/sunpy/pull/3637#issuecomment-630089231

[2020-05-18 17:28] wtbarnes opened #4181 "Example of reading data/header with io.fits.read is broken"
In the docs, we have [the following example of how to read the data and header directly from a file using `sunpy.io.fits.read`](https://docs.sunpy.org/en/stable/code_ref/map.html#fixing-map-metadata),

[code]

There are a few problems here.

1. If you have 2 HDUs, this returns the first to `data` and the second to `header`, obviously not the intended behavior.
2. You can use the `hdus` kwarg to se

[2020-05-18 19:31] Cadair opened #4184 "Finish affiliated packages section of website"
(opened to block 2.0 final)

[2020-05-19 06:10] #4181 closed

[2020-05-19 15:55] mridullpandey commented on #4000
hi, @Cadair  may I please take this up.

[2020-05-19 16:00] nabobalis commented on #4000
@mridullpandey we still do not depend on astropy 4.0 only, I would suggest another issue.

[2020-05-19 16:18] wtbarnes commented on #4040
From @dstansby's comment on #4175,

[2020-05-20 13:41] dstansby opened #4189 "How to set observer coordinate in a Map?"
I currently have a lot of maps with missing observer coordinate information, and I would like to set this information to the location of the earth at the time the map was observed.

One way of doing this is to manually calculate what the values of the `'hgln_obs', 'hglt_obs', 'dsun_obs'` FITS keywords should be, manually add them to the existing header, and create a new map. But I think a user sho

[2020-05-20 13:54] ayshih commented on #4189
One could imagine creating a convenience function or method (e.g., called something like `set_map_observer_coordinate()`) that does this without it having to be a setter for `observer_coordinate`.

[2020-05-20 13:54] ayshih commented on #4189
Obviously whoever actually writes such a function would need to "learn FITS". =)

[2020-05-20 13:57] dstansby commented on #4189
Why a convenience function/method instead of a setter?

[2020-05-20 14:06] ayshih commented on #4189
Some reasons to avoid a setter:

- We may not want users to think of a Map as mutable.
- We may not want to provide setters for everything, and then it could be confusing to the user which attributes are settable and which ones are not.
- We may want to return a new Map with the new observer information to make sure that all of the normal machinery is triggered (i.e., to minimize the potential for

[2020-05-20 14:14] dstansby commented on #4189
Why not?

This seems easily fixed by clear documentation ("This is a list of the properties that can be set").

What's the normal machinery that needs to be triggered? Wouldn't it be possible to trigger it from a setter (which is essentially just a method)?

I don't think there are implementation reasons to choose a setter or a method, but it seems like there are API reasons, the difference being

[2020-05-20 14:46] wtbarnes opened #4190 "More tests for submap/draw_rectangle"
From @dstansby's comment in #4175 regarding #3677,

[2020-05-20 14:47] wtbarnes commented on #4175
All of these components have been separated into or added onto other issues so I'm going to close this.

[2020-05-20 14:47] #4175 closed

[2020-05-20 14:48] wtbarnes commented on #4190
I've milestoned this for 2.0 but we should be very OK with bumping it.

[2020-05-21 09:15] Cadair commented on #4189
There is a *lot* to unpack here. I am going to focus on the short term things, given the current design we have for map etc. I think the bigger picture issues (setters, mutability etc) can be considered as and when we refactor the metadata handling.

Firstly, I started hacking on addressing #3643 which should be a part of this, although our current design of on-the-fly generated WCSes makes it not

[2020-05-21 13:18] ayshih opened #4194 "Modifying our approach to Map metadata"
The current storage of our Map metadata (`.meta`) is confusing because it is the combination of:

- keywords in the original header that we trust and use actively for calculations
- keywords in the original header that we know have wrong values (e.g., #3906, #3057, #3038)
- keywords in the original header that we have no opinion on
- keywords that we've *overwritten* from the original header
- key

[2020-05-21 13:18] ayshih commented on #4189
See #4194 for a concept that's been brewing in my brain

[2020-05-21 21:17] Sandy4321 opened #4198 "do you have simple example to track sun activity to see how it influence health ?"
do you have simple example to track sun activity to see how it influence health ?

[2020-05-21 21:27] dstansby commented on #4198
Thanks for opening an issue. I'm not sure this is relevant to sunpy, which is a package for solar physics and not health issues, so I'm going to close this as wontfix.

[2020-05-21 21:27] #4198 closed

[2020-05-22 19:02] abhijeetmanhas commented on #2500
@nabobalis is this issue partly resolved by attrs registration #3637 ?
We can get all possible values an attribute can take for a client, by printing that client.

[2020-05-22 19:05] abhijeetmanhas commented on #1589
@nabobalis  As per my comment, the results now are same in VSO and sunpy clients. This issue can either be closed or renamed as `SunPy VSO doesn't support only time and wavelength queries` which is again a upstream issue, even VSO webportal doesn't supports it.

[2020-05-22 20:43] nabobalis commented on #1589
Closed in that case.

[2020-05-22 20:43] #1589 closed

[2020-05-22 20:44] nabobalis commented on #2500
Yes.

[2020-05-22 20:44] #2500 closed

[2020-05-26 10:12] mridullpandey commented on #4000
thanks

[2020-05-26 15:15] Cadair commented on #4000
I still think it's too early to do this, but following the pattern of incrementing our astropy dep by one each release, we can make these changes on master in a month or so.

[2020-05-27 11:12] dstansby commented on #1753
I'll take a look at this for 2.1. There's a couple of places (e.g. contouring) where it would be good to add support for unitful-data, so I think some sort of global review of this will be helpful.

[2020-05-27 13:06] dstansby opened #4201 "Improve Map __str__"
`Map` has an nice `__repr__`, but currently `print(map)` just prints the data array. It would be nice if `print(map)` could print some extra info like in `__repr__` (maybe even the same info?).

[2020-05-27 13:08] dstansby opened #4202 "Add Map.shape"
Currently it's possible to do `m.size` to get the size of the data in the map. Would be nice to add `m.shape` to get the shape of the data (instead of having to do `m.data.shape`).

[2020-05-27 13:35] dstansby commented on #2750
Just to add a note that `KEYCOMMENTS` being removed by SunPy can cause some odd side effects/bugs when using `KEYCOMMENTS` in map source classes, which is what pfsspy does at https://github.com/dstansby/pfsspy/blob/322429eec62be7c699a58df651d35a919fb379db/pfsspy/map.py#L10

[2020-05-27 16:19] mridullpandey commented on #4202
can i take this up
@dstansby

[2020-05-27 16:23] Cadair commented on #4202
We already have `m.dimensions` which returns the dimensions a a `u.Quantity`. I think we picked "dimensions" to make people understand it's not the same as shape because it's a quantity

[2020-05-27 16:26] mridullpandey commented on #4202
I think it's not a beginner-friendly issue

[2020-05-27 20:03] dstansby commented on #4202
Hmm, but `m.size` works fine and returns a `Quantity` so I kind of expected `m.shape` to work too, even if it did return a `Quantity`. There's also precedence to just return `m.data.shape`, as that is what `SkyCoord` does. I think either one would be fine, but having `m.shape` would be nice to 'mimick' numpy array properties.

[2020-05-28 10:55] dstansby commented on #4194
I'm 👍 for saving the original 100% untouched header somewhere. Whilst writing map classes for synoptic maps it is often helpful to validity check metadata fixes against parts of the original header that may be subsequently modified by the map class, so keeping a copy of the original header would be very useful in at least that case.

[2020-05-28 12:55] ayshih commented on #4194
I'll preserve here some Riot discussion between myself and @Cadair:

[2020-05-28 14:31] Cadair commented on #4194
I am going to maintain my position that this is worth doing properly in the 3.x cycle. It's rattling around my brain at the moment and I might take a swing at putting together a concrete proposal for better metadata handling.

[2020-05-28 15:01] abhijeetmanhas opened #4207 "XRS searches for wrong sat_number in overlapping urls"
### Description

When we request for `GOES` data from `XRSClient` and timerange overalps date `1999/1/15`, then the scraper uses incorrect pattern and possibly defaults every satellite number to `10`.
### Expected behavior

File urls with satno. `8` should be returned, if found else empty list.
### Actual behavior

`urls` with satno. `10` were returned

### Steps to Reproduce

[code]
`['https://um

[2020-05-28 16:05] hayesla commented on #4207
Oh yes it looks like the timerange overlaps with this condition for when the year fomat changes from %Y to %y https://github.com/sunpy/sunpy/blob/master/sunpy/net/dataretriever/sources/goes.py#L127

which then calls  _get_overlap_urls which doesn't include a `satellitenumber` keyword .. strange! good catch

[2020-05-28 16:09] dstansby opened #4209 "zenodo entry missing for 1.1.3 release"
I want to cite the 1.1.3 release in a paper, but it doesn't look like the 1.1.3 release has been properly archived on zenodo. https://zenodo.org/record/3779284 lists the most recent release as 1.0.10, and the most recent 1.1.x release on zenodo is 1.1.2.

[2020-05-28 17:09] dstansby opened #4210 "Update .zenodo.json with new contributors for 2.0 release"

[2020-05-28 17:11] abhijeetmanhas opened #4211 "GBMClient remote doctest fails"
### Description

One docstring test in `fermi.py` file when ran with `pytest-remotedata` fails
### Expected behavior

Test should pass outputting 3 records.
### Actual behavior

Test fails with 0 records.
### Steps to Reproduce

Run this on terminal, being in sunpy directory;
[code]
it fails without returning any results
[code]

### System Details

- SunPy Version: '2.0rc2'
- Astropy Version: '4.1

[2020-05-28 17:32] ayshih commented on #4211
It works if one uses `a.Detector('n3')` instead of `a.Detector.n3`, which is equivalent to `a.Detector('N3')`.  It looks like the case matters now?  I have created a PR.

[2020-05-28 17:44] nabobalis commented on #4211
I thought I made the check case insensitive, clearly not.

[2020-05-28 17:48] ayshih commented on #4211
I was a little surprised that it would break and break now, so maybe I'm doing something wrong.  But, empirically, lowercase works and uppercase doesn't...

[2020-05-28 18:01] #4211 closed

[2020-05-29 20:29] wtbarnes opened #4216 "Support for Level 3 EVE data products"
We currently support downloading and parsing Level 0 and Level 1 EVE data via Fido and TimeSeries. Support for Level 2 data is still an outstanding issue (#2407). Additionally, there are Level 3 data products. These are daily averages from each spectral band from each instrument. Additional details in the links below. We should consider adding support for downloading and parsing these files.

* [E

[2020-05-29 20:49] hayesla commented on #4216
I guess we only support EVE/ESP level 0 and 1, ESP is only timeseries and doesn't deal with spectra - EVE/MEGS which is a bit more complicated but would be great to do!

[2020-05-31 11:22] dstansby commented on #4216
Should this go in the new instrument package instead of core?

[2020-06-01 16:23] #4180 closed

[2020-06-02 12:12] dstansby opened #4232 "Figure test infastructure should automatically delete unused figures"
When the figure tests are changed, merging into master automatically uploads a copy of the new figures to https://github.com/sunpy/sunpy-figure-tests/. However, if an image test is removed, the corresponding image isn't removed from that repository, e.g.: https://app.circleci.com/pipelines/github/sunpy/sunpy-figure-tests/31/workflows/f34ac1c1-6ff4-4eb0-8af7-cee458688e6a/jobs/32/steps

It would be

[2020-06-02 12:16] dstansby commented on #2210
I don't think mapcube exists anymore and has ended up as ndcube? Feel free to re-open if this is incorrect.

[2020-06-02 12:17] dstansby commented on #2441
Could someone post a link to an example SWAP file that has this issue?

[2020-06-02 12:20] dstansby commented on #3340
I think `draw_rectangle` and `submap` now transform `top_right` into the frame of `bottom_left`, so is this fixed? A short, self contained example would be useful, as I'm not 100% sure what the issue here is.

[2020-06-02 13:07] Cadair commented on #3340
I am pretty sure this has always worked. The `pixel_to_world` method took this into account as part of the transform. Either way, unless someone can provide an example of this not working I am going to close it.

[2020-06-02 15:09] MSKirk commented on #2441
They come in compressed .tar.gz files each containing a Carrington rotation worth of fits images. `http://proba2.sidc.be/swap/data/carrington_rotations/`

[2020-06-02 15:11] MSKirk commented on #2441
In each of these fits files, the header is abbreviated since they are created from a stack of level-1 processed SWAP images.

[2020-06-02 16:50] wtbarnes opened #4234 "Map.rotate expands dimensions of a map for even modest roll angles"
When calling `.rotate` on a `Map`, I've found recently that, for even very modest roll angles, the resulting map is expanded by a few pixels in both dimensions. For example,

[code]

In general, `.rotate` should of course change the dimensions so as to not crop or change the resolution of the image. However, whether this is the correct behavior or not, this marks an unexpected (or at the very leas

[2020-06-02 17:06] wtbarnes commented on #4216
Maybe? This goes back to the question of what the responsibility of core is though.

We definitely don't want to provide specific analysis tools for this data. But I think we should be providing at least a way to download and read in the data into some core, albeit maybe generic, data structure.

To @hayesla's point though, I guess this would necessitate better support for spectra which we certain

[2020-06-02 18:47] ayshih commented on #4234
Can you provide a better example of *changed* behavior?  `AIA_171_IMAGE` has a non-zero `CROTA2` angle (~arcmins), so the rotated dimensions has "always" been (1028, 1028).  For kicks, I've confirmed that that was true even in SunPy 0.9.

[2020-06-02 18:58] ayshih commented on #4234
This almost certainly is due to the recent fixes to `submap()` (#4134), and has nothing to do with rotation.

[2020-06-02 19:58] wtbarnes commented on #4234
The aiapy test failures do indeed seem to be due to the submap changes in #4134 which I embarrassingly did not pull into aiapy.

Closing as this seems to be a non-issue.

[2020-06-02 19:58] #4234 closed

[2020-06-03 10:03] Cadair commented on #4232
This would require adding some additional steps to this lovely one line bash script in the circleci config: https://github.com/sunpy/sunpy/blob/master/.circleci/config.yml#L133

[2020-06-03 10:05] Cadair commented on #2210
`MapCube` got renamed `MapSequence` and it still does not have a save method.

[2020-06-03 10:06] Cadair commented on #2441
I ran into issues with this when doing some of the recent submap work, so I think we might have a bigger issue on our hands with default to no projection. We probably want to default to `-TAN`.

[2020-06-03 10:07] Cadair commented on #4216
I believe that @jmason86 and others at LASP are working on stuff related to this, so we should coordinate with them.

[2020-06-03 10:11] Cadair commented on #3254
I would like to remove the hard dep on mpl, there are at least a small subset of usecases where you don't need mpl. I think the work relating to #4022 might make this easier to achieve in map.

[2020-06-03 10:15] Cadair commented on #4201
:+1: for all `__repr__`'s being `return f"{object.__repr__(self)}\n{self}"`.

[2020-06-03 11:43] Cadair opened #4237 "HeliocentricEarthEcliptic frame does not copy obstime when transforming to HGS"
[code]
[code]

[2020-06-03 11:43] Cadair commented on #4237
ping @ayshih @samaloney

[2020-06-03 13:05] ayshih commented on #4237
The workarounds are:

- Explicitly specify the `obstime` for the destination frame: `HeliographicStonyhurst(obstime=hee.obstime)`
- Use `Skycoord`: e.g., `SkyCoord(hee)`

Of course, these workarounds may not be possible to implement in certain situations.

The issue is that transformations between frames, when not using `SkyCoord`, do not propagate frame attributes such as `obstime` as aggressivel

[2020-06-03 13:05] ayshih commented on #4237
Hmm!  I think I have an idea for an "easy" fix...

[2020-06-03 15:02] jmason86 commented on #4216
"working on" is generous. We have plans to do so and are proposing a NASA HDEE to get all of the LASP hosted solar spectral irradiance data accessible from sunpy through Fido. It'll likely be analogous to the VSO or JSOC classes that are there now (LASP's is called LISIRD and the API is called LaTiS). We're planning to leverage @wafels ongoing HDEE work to establish a spectral container / data str

[2020-06-03 20:42] abhijeetmanhas opened #4243 "Skip remote tests for HELIO if server is unreachable"
### Description

There should be a way to skip all remote tests in helio after checking if server is reachable or not.

### Additional context

This is useful https://docs.pytest.org/en/latest/skipping.html#id1 . We can prior check the server state and use `@pytest.skipif(condition)`

[2020-06-03 21:12] dstansby commented on #3611
Upstream issue at https://github.com/astropy/astropy/issues/10441 - can be reproduced without sunpy.

[2020-06-03 21:22] #4210 closed

[2020-06-04 12:57] ayshih commented on #4243
As I mentioned elsewhere, I'm uneasy with this approach.

I think I'd feel more comfortable if the tests were marked with `xfail` with a condition (see https://docs.pytest.org/en/latest/skipping.html#condition-parameter) instead of `skipif`.

[2020-06-04 13:12] Cadair commented on #4243
yeah xfail makes more sense here I think :+1:

[2020-06-04 13:16] #4156 closed

[2020-06-05 09:37] #4184 closed

[2020-06-05 10:55] Cadair opened #4255 "SunpyDeprecationWarnings should cause the doc build to fail"
This is especially true in the gallery. I tried to set a filter in the `conf.py` file, but that didn't seem to propagate into the gallery.

[2020-06-05 13:44] ayshih commented on #4237
I actually was wrong here.  `obstime` isn't carried through because only our transformations in SunPy internally preserve it.  When you cross between the two subgraphs, we depend on Astropy transformations, and the `obstime` gets dropped.

I've just put up a PR to Astropy (astropy/astropy#10453) to fix the `transform_to()` behavior to be more like when using `SkyCoord`.

[2020-06-05 15:57] wtbarnes commented on #4216
That's great to hear. I'll go ahead and keep this open and perhaps we can break it into more specific issues as things progress.

[2020-06-05 16:18] Cadair opened #4258 "submap inverted rectangle warning fires when not expected"
This example triggers the warning, but I am specifying a width and height, on an aligned map, how?!

[code]

[2020-06-05 16:18] Cadair commented on #4258
@dstansby any ideas?

[2020-06-05 16:21] dstansby opened #4259 "Document how to copy a map"
Would be nice to be able to create copies of maps, e.g. sometimes I want to modify a map, but also keep a copy of the original hanging round. In my head this is just a case of copying the data and header and putting it in a new `Map`, but I'm sure it's more complicated (and there are other considerations as to whether this should be implemented)

[2020-06-05 17:12] wtbarnes commented on #4209
We could just submit the 1.1.3 release by hand I guess?

[2020-06-05 17:18] dstansby commented on #4209
Now 1.1.4 is up, and there wasn't much time between 1.1.3 and 1.1.4, personally I'm not too bothered about this any more.

[2020-06-05 17:26] ayshih commented on #4259
Do you want such a `.copy()` method to do something different than calling `deepcopy()` on the `Map`?

[2020-06-05 17:29] dstansby commented on #4259
I didn't realise one could do `deepcopy()`, thanks! No, I guess a deepcopy would be what I'd expect, but I suppose `copy()` is a more user-friendly method?

[2020-06-05 18:44] #4258 closed

[2020-06-05 19:17] wtbarnes commented on #4209
Unfortunately, I just realized that, because of the order I did the releases in, Zenodo now shows the "latest" version as 1.0.11 🤦

[2020-06-06 12:51] dstansby opened #4263 "make_fitswcs_header should take observer_coordinate as input"
It would be good if `make_fitswcs_header` took an observer coordinate as input, and put it into `hgln_obs` etc. keywords in the fits header.

[2020-06-08 09:29] Cadair commented on #4263
You have to specify the `observer=` property of the `coordinate=` kwarg.

i.e. (from the docstring)
[code]

The reason we ended up with it being like this and not a separate kwarg is that then you don't have the confusion of worrying about if the frame should have observer or not (although with SkyCoord you can always set it anyway).

[2020-06-08 11:43] lzivadinovic commented on #4259
My 2 cents is that more pythonic way is to call `deepcopy()` because with `.copy()` method you will try to override something that is already built in into language and really generalized (it just creates copy of whatever python object you want). So i guess there is no need to write wrapper around something that is build in and straight forward.

I mean, if there is no extra task that should be do

[2020-06-08 11:56] dstansby commented on #4259
Sounds good - I guess it would be good to add a bit of documentation to the sunpy docs (https://docs.sunpy.org/en/stable/guide/data_types/maps.html) explaining how to copy a map (using `deepcopy`) then.

[2020-06-08 12:45] nabobalis opened #4265 "Pull Request Check Improvements"
We have reports from our stakeholders that the checks on a pull request are both overwhelming, poorly named and under documented. We must therefore increase the synergy of our pull requests.

This issue is to track users comments and suggestions that can be turned into actionable items.

Current Ideas:
- [X] Enable checks on CircleCi
- [x] Rename the giles check that previews our docs.
- [x] Consi

[2020-06-08 18:06] dstansby commented on #4263
Thanks! I'm going to label this as a doc update issue then, to make it a bit clearer that this is where the observer coord should go.

[2020-06-09 06:22] dipanshu231099 commented on #4232
i would like to solve the issue but i am a new comer can you point me in the right direction

[2020-06-09 08:21] nabobalis commented on #4232
Hi @dipanshu231099, as cadair said above, you will need to work out the correct bash commands in order to do so and add them to https://github.com/sunpy/sunpy/blob/master/.circleci/config.yml#L133

[2020-06-09 08:28] nabobalis opened #4268 "Move away from Package Novice and to Good First Issue"
We currently to use "Package Novice" in our documentation to direct people to issues they can start with.

But with the introduction of the "Good First Issue" label, we need to update our documentation to reflect this. We should be using this label but to do so we also need to tag issues with it.

[2020-06-09 14:30] Cadair commented on #4232
Depends how familiar you are with bash :rofl:

Although you will also need to setup your own circleci builds to really test it, so it's not simple.

[2020-06-10 18:02] dstansby opened #4273 "Error trying to set observer to heliographic_carrington coord"
I am trying to set the observer of a `helioprojective` coord to a coordinate in a `heliographic_carrington` frame, using the following code:

[code]
however this gives me the error:
[code]

I'm guessing this is something to do with `heliographic` coords becoming observer based, but I'm not sure how an observer coordinate can itself have an observer attribute? Or perhaps I'm doing something wrong h

[2020-06-10 19:44] #4273 closed, assigned to nobody

[2020-06-11 11:26] Cadair opened #4278 "Investigate options to make ArrayAnimatorWCS more efficient when updating WCSAxes"
Currently when using `ArrayAnimatorWCS` on each iteration of the animator (array slice change) WCSAxes' [`reset_wcs`](https://github.com/astropy/astropy/blob/master/astropy/visualization/wcsaxes/core.py#L328) method is called. `reset_wcs` makes no assumptions about continuity of the `wcs`, `frame_class` or `slices` arguments between calls. (It is also used as a way to initialise the axes in the fi

[2020-06-11 13:14] dstansby commented on #3611
Fixed upstream

[2020-06-11 13:14] #3611 closed

[2020-06-11 13:35] ayshih opened #4279 "Enable a HeliographicCarrington frame to be defined using only the Sun-observer distance"
Our `HeliographicCarrington` frame is now observer-based (#3782), and the API requires a complete coordinate for the observer.  This turns out to be awkward when wanting to create a `HeliographicCarrington` coordinate representing an observer location, because the observer coordinate is seemingly needed to define the frame for the observer coordinate.  Mathematically, the `HeliographicCarrington`-

[2020-06-11 14:00] Cadair commented on #4279
Oh this is going to be a fun trip down descriptor lane.

[2020-06-11 14:01] Cadair commented on #3611
This is going to break our figure tests isn't it :grinning:

[2020-06-11 14:13] dstansby commented on #3611
Perhaps? I can't remember off the top of my head if we have any Carrington maps in the figure tests.

[2020-06-11 14:30] #4040 closed

[2020-06-13 10:22] Cadair opened #4285 "Our tox-conda build does a poor job of picking up conda build issues as it uses a mix of conda and pip to install the dependencies."
The only solution I can think of is to enable `--no-deps` in the pip install command for tox on that build and make sure that *all* possible dependencies are in the `conda_deps` list in the tox.ini file

[2020-06-13 10:40] vit1-irk opened #4286 "HelioviewerClient downloads image with wrong date"
### Description

Just try to run this code sample:

[code]
![Снимок экрана 2020-06-13 в 18 26 37](https://user-images.githubusercontent.com/3207316/84566439-b8cdf000-ada3-11ea-9417-756b4913f01c.png)

### Expected behavior
Image with correct date and time is downloaded

### Actual behavior
Image with WRONG date & time was downloaded

### System Details
sunpy is the latest version from Git master br

[2020-06-13 13:33] vit1-irk commented on #4286
Important clarification: a few months ago everything was correct about downloading
Maybe it is a server issue

[2020-06-13 13:52] vit1-irk commented on #4286
[code]

[code]

[2020-06-13 14:48] ebuchlin commented on #4286
This comes from the server: `https://api.helioviewer.org/v2/getJP2Image/?date=2017-10-05T00:00:00Z&sourceId=0&jpip=true` gives `jpip://helioviewer.org:8090/EIT/2013/08/07/171/2013_08_07__13_00_13_864__SOHO_EIT_EIT_171.jp2`

But this is expected: there are no EIT images in the HV archive after 2013-08-07, as can be seen from the JPEG2000 files: `https://helioviewer.org/jp2/EIT/` (yes, there are 2 d

[2020-06-13 17:08] wtbarnes commented on #4286
This definitely seems like a Helioviewer issue on the server side but perhaps @wafels can confirm?

[2020-06-14 02:01] vit1-irk commented on #4286
@ebuchlin Yeah, looks like they don't want to store recent data (or they deleted it), despite the fact EIT is still [observing](https://umbra.nascom.nasa.gov/eit/eit_full_res.html). Maybe it is worth contacting Helioviewer staff for some explanations or providing clear error messages on Sunpy side

[2020-06-15 15:22] ayshih opened #4290 "Intermittent image-rotation test failures on OS X when using conda"
We have intermittent failures of our image rotation tests and these failures appear to be isolated to OS X when using conda(-forge).  #4235 added raw output for these failures occurred, and some of the output is truly bizarre.  I will add investigative stuff in separate posts.  My current conjecture is there is nothing wrong with SunPy code, but rather a C extension in the `numpy`/`scipy`/`scikit-

[2020-06-15 15:32] ayshih commented on #4290
One example failure:
[code]
Takeaways:
- The test failure is for rotating the image by -270 degrees (`k=1`), and for reference, the images are 512x512 pixels
- The test failure is limited to solely a 16-pixel segment of the image: `expected[52:68, 217]`
- The sequence of values seen in `result` appears to exactly match different place in the image: `expected[68:84, 186]`

[2020-06-15 15:48] ayshih commented on #4290
Another example:
[code]
Takeaways:
- Different build with a failure for a "different" rotation.  This time it's +90 degrees, but that's of course the same rotation as -270 degrees.  Regardless, the failure this time is on the check that the rotation is reversible.
- 8-pixel segment: `expected[404:412, 216]`
- Since this segment is in a column of the *original* image, it is actually *orthogonal* to

[2020-06-15 16:29] Cadair opened #4291 "Support url-tar method downloads in the JSOCClient"
### Description

Currently we hard code downloading files from the JSOC using the `url` method. This in general is the nicest way for our users as they get the number of files they expect to get from the search results returned to them, and they can be opened with no further manual steps.

However, sometimes if you are requesting *a lot* of files, this isn't a good situation for the JSOC who have

[2020-06-15 17:01] wtbarnes commented on #3336
I'm going to close this in light of the new changes in 2.0 and parfive 1.1. See https://docs.sunpy.org/en/stable/whatsnew/2.0.html#download-behind-proxies

[2020-06-15 17:01] #3336 closed

[2020-06-15 18:14] ayshih commented on #4290
Arrays should be defaulting to row-major and C contiguous, yet these problem segments are both columns.  I don't know what to make of that.

[2020-06-15 18:45] ayshih commented on #4290
[Yet another example](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=173946&view=logs&j=52e15be3-1159-54cf-e587-d2beae947832&t=e644f731-8249-5015-4f4e-b99d9b0bb3a5&l=3079):
[code]
Takeaways:
- This one's interestingly different because the mismatch is a row segment rather than a column segment
- However, since it's only 4 pixels long, there are too many possible matches

[2020-06-15 18:53] ayshih commented on #4290
[Last example from this overall build](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=173946&view=logs&j=52e15be3-1159-54cf-e587-d2beae947832&t=e644f731-8249-5015-4f4e-b99d9b0bb3a5&l=3147):
[code]
Takeaways:
- Multiple column segments in columns, 210, 275, 279, 340, 341
- I haven't yet tried to disentangle what's coming from where, but it's a mess

[2020-06-16 09:12] #4207 closed

[2020-06-16 17:35] dstansby opened #4294 "test_heliographic_grid_annotations warning about memory access"
One of the warnings that https://github.com/sunpy/sunpy/pull/3648 has revealed is below. I spent about half a day trying to work out what was going on, but to no avail. Full error message below:

[code]

[2020-06-17 09:30] #4285 closed

[2020-06-17 15:25] mridullpandey commented on #4268
hi@nabobalis greetings!
I'm taking this up
suggestions are welcome.

[2020-06-17 16:57] nabobalis commented on #4268
Hi @mridullpandey, to tackle this issue requires the ability to relabel our issues which is limited to a handful of people. They will be the only ones who can do this.

What you could do is change the places in our documentation that refer to "Package Novice" and replace it with "Good First Issue".

[2020-06-18 13:22] ayshih commented on #4290
There's a testing PR (#4293) for this investigation.  Stuff I have learned over recent days:

- Failures appear to occur regardless of whether multiple test workers are used.
- If a comparison fails, running the comparison again appears to fail the same way.  This suggests that it's not a bad memory access on reading, but rather likely contained within the transformation call (`skimage.transform.w

[2020-06-18 13:31] ayshih commented on #4290
I'll also note that I am unable to reproduce these errors on my local MacBook.  I'm running OS X 10.13.6 instead of 10.15.5, so that could be relevant.  However, given the intermittency of these test failures, it's possible that I'm simply not doing enough in parallel on the machine compared to what's presumably the situation for our CI.

[2020-06-19 08:22] Cadair opened #4301 "Mapsequence.plot docstring lacks information on plot_function signature"
it should either link to the animator docs or copy the function signature information

[2020-06-19 13:34] ayshih commented on #4290
Recording some more notes:
* `scikit-image` pinned to 0.16.2 instead of 0.17.2 [can still fail](https://dev.azure.com/sunpy/sunpy/_build/results?buildId=8454&view=logs&j=e3067c91-6712-555b-2980-b8af7b04ed9e&t=05c028fe-8e9e-5b45-ee5e-2aca5a190234&l=177) (the conda solution uses OpenBLAS libraries)
* I haven't yet seen a failure when specifying MKL libraries instead of OpenBLAS libraries – it could

[2020-06-19 13:39] dipanshu231099 commented on #4232
yeah i think ill keep looking for some easier issues first.

[2020-06-19 14:19] dstansby opened #4302 "Add datamanager docs to the User's guide"
I went looking through the user guide (https://docs.sunpy.org/en/stable/guide/acquiring_data/index.html) for some narrative docs on using `sunpy.data.manager`, but couldn't find any - it would be good to add some docs there to make it more discoverable.

[2020-06-19 14:36] Cadair commented on #4302
data manager largely isn't user facing API, it's developer API, so most of the documentation for it is in the developer guide: https://docs.sunpy.org/en/latest/dev_guide/remote_data.html

The only part of the API I would consider user facing is the override stuff. However, I think we need to be careful about how we document that to not confuse people. Having a section on it maybe in the code refer

[2020-06-19 14:56] dstansby commented on #4302
If it's not user facing it probably shouldn't be the first example in the example gallery!

[2020-06-19 14:58] dstansby commented on #4302
Thanks for the link to the dev guide; in my head the dev guide was a "how to develop sunpy", as opposed to "here is sunpy API that is helpful if you are developing other packages". Indeed, I think "remote data manager" is an exception and the only section in the dev guide that is "sunpy API helpful for developing another pacakge".

[2020-06-19 15:19] Cadair commented on #4302
yeah, why is that at the top :confused:

yeah that's fair, our whole docs need a reorganize, not sure it fits in the user guide either in that way?

[2020-06-20 04:17] ayshih commented on #4290
## Latest facts

- Test failures do not occur at all when using MKL libraries instead of OpenBLAS libraries.
- Test failures are significantly more likely when using multiple workers in pytest (i.e., `pytest-xdist`), but they can still occur with only a single worker (specifying `-n 1` or `-n 0`).
- While the test failures occur in our function calling a `scikit-image` function, the [actual line t

[2020-06-24 11:44] dstansby opened #4314 "ModuleNotFoundError: No module named 'importlib_metadata'"
On `pfsspy` readthedocs builds I'm seeing the below error, which I think is new since sunpy 2.0. It looks like the issue is a hard requirement that `importlib_metadata` is installed, but that is not necessarily the case. The offending code was introduced by https://github.com/sunpy/sunpy/pull/4223.

[code]

[2020-06-24 12:04] Cadair commented on #4314
Whoops.

[2020-06-24 12:04] nabobalis commented on #4314
Whoops indeed.

[2020-06-24 14:29] Cadair commented on #4314
How did nothing find this?!

[2020-06-24 14:32] nabobalis commented on #4314
Clearly something is working on our CI as we expect.

[2020-06-24 14:43] Cadair commented on #4314
or one of our deps pulls this in and somehow @dstansby hasn't got that installed?

[2020-06-24 14:45] nabobalis commented on #4314
Good point.

[2020-06-24 14:56] nabobalis commented on #4314
If i do `pip install .[all]` under a python 3.7, something does indeed pull `importlib-metadata-1.6.1`

[2020-06-24 16:46] #4314 closed

[2020-06-26 09:51] olebole opened #4320 "2.0: test_hgc100 fails"
### Description

I am currently in the process of building and uploading sunpy 2.0 to Debian. During the automates build time test, I see a failure in `test_hgc100()`.

### Expected behavior

The test should pass.

### Actual behavior

[code]

### Steps to Reproduce

Build sunpy on Debian unstable, resolving all dependencies with apt.

### System Details

- SunPy Version: 2.0
- Astropy Version: 4.

[2020-06-26 10:00] Cadair commented on #4320
This looks like the entry points sunpy registers with asdf haven't worked, asdf isn't deserialising the coordinate frame to the sunpy coordinate frame class.

Does the debian packaging need to do anything special to handle entrypoints?

[2020-06-26 10:21] olebole commented on #4320
This explains it: the test is done before the package was installed anywhere (just after the build, before we install it). So, entrypoints are not installed at this moment.

I am going to close this (and to disable the test during the build). Thank you for the explanation.

[2020-06-26 10:21] #4320 closed

[2020-06-26 10:32] Cadair commented on #4320
No worries, thanks for packaging sunpy :grin:

[2020-06-26 13:15] #556 closed

[2020-06-26 16:29] dstansby opened #4322 "Should coordinates.sun.B0 return a Latitude object?"
https://docs.sunpy.org/en/stable/api/sunpy.coordinates.sun.B0.html, returns "the heliographic latitude of the of the center of the disk of the Sun as seen from Earth.". Currently the return type is an `Angle`, and in a few tests both here and in `heliopy` I've had to convert this to a `Latitude` object to compare with other coordinates etc.

So should the return type of `B0` be `Latitude`? I think

[2020-06-26 16:35] dstansby commented on #4322
Also worth noting that `L0` (https://docs.sunpy.org/en/stable/api/sunpy.coordinates.sun.L0.html#sunpy.coordinates.sun.L0) returns a `Longitude` object (as opposed to an `Angle`).

[2020-06-26 17:12] ayshih commented on #4322
Yup, the return type should probably be `Latitude`.

[2020-06-27 16:06] mridullpandey commented on #4268
okay

[2020-06-29 05:44] dipanshu231099 commented on #3239
i would like to work on this could you point me out to the right place in the codebase

[2020-06-29 12:46] dstansby opened #4324 "Fix CRDER nan values in HMI maps"
Loading a HMI map (e.g. https://docs.sunpy.org/en/stable/generated/gallery/acquiring_data/downloading_hmi.html#sphx-glr-generated-gallery-acquiring-data-downloading-hmi-py) results in a bunch of these warnings:
[code]

It would be good to fix the header in the `HMI` map source to prevent these warnings.

[2020-06-29 13:18] ayshih commented on #4324
Related discussions: astropy/astropy#10153 and astropy/astropy#10165

In [this comment](https://github.com/astropy/astropy/pull/10165#issuecomment-616011425) from astropy/astropy#10165, @ndl303 said:

Given that, we may not want to take any steps towards squelching these warnings.

[2020-06-29 14:28] Cadair commented on #4324
I think that in general exposing warnings to the user about invalid FITS is a good thing, if we always hide these people will never learn :rofl:

[2020-06-29 14:33] dstansby commented on #4324
How about warning once when loading the map and then fixing it? Currently the warning is thrown a lot, as it's every time `.wcs` is accessed on the map (I think), which can lead to a lot of warnings cluttering a terminal/notebook.

[2020-06-29 14:37] dstansby commented on #4324
More generally, should we be warning every time we change some metadata in the map source `__init__`s? Should probably have a consistent policy about how to handle stuff there 😆

[2020-06-29 14:44] Cadair commented on #4324
Ah this would be an unintended side effect of the PSP changes to the generation of the WCS object. This is probably worth considering. (tbh I would expect these to be raised the first time you load the header out of the FITS file).

I think we did discuss this or something close to it reasonably recently. I can't remember in what context tho... :thinking:

[2020-06-29 16:38] samaloney opened #4327 "Corrupted fits files when downloading near real time SDO AIA data."
### Description

Trying to download near real time SDO AIA data appears to work correctly but the fits file contains a 403 http error message and a series of null bytes.

### Expected behavior

The correct fits files to be downloaded or an exception is raised

### Actual behavior

Download seem to work but when try to load the fits file turns out to be corrupted/ not a fits file at all

### Steps

[2020-06-30 08:47] Cadair commented on #4327
This seems to be related to parfive requesting ranges of bytes from the download server. VSO are investigating, and parfive should probably bubble up being able to disable this behaviour.

[2020-07-01 14:23] thepeteriley opened #4332 "Clean installation of conda on clean install of 20.04 Ubuntu with clean installation of sunpy 2.0 resulted in failed sunpy.self_test"
#3603 # Description

self_test produced 23 errors.

This is on a completely clean system:

Clean installation of conda
clean install of 20.04 Ubuntu
clean installation of sunpy 2.0

Seems to be related to mocker fixture?

I've responded to the questions/prompts below and pasted all the output from the self_test at the bottom

### Expected behavior

the self_test to complete and plot graphics!

###

[2020-07-01 14:29] Cadair commented on #4332
Thanks for the report @thepeteriley

This is because we don't install all the packages to run the sunpy test suite by default. We have #3284 and #3701 tracking improvements to this. We really should make `self_test` print out a message telling you to install the test deps though.

Have you tried to use sunpy and run into issues?

[2020-07-01 15:39] thepeteriley commented on #4332
Thanks for the response. Reading the comments on the other two tickets, a warning might be useful. Another alternative would be to just install the two extra modules required for it to run: python-dateutils and asdf. All the other dependencies listed for the self_test are actually installed. This would allow the novice user to run the self_test to check things were working without getting confused

[2020-07-01 15:59] nabobalis commented on #4332
Did you install sunpy via conda?

[2020-07-01 16:02] thepeteriley commented on #4332
Yes everything was installed via conda. This time I followed instructions to the letter :)

[2020-07-01 16:03] thepeteriley commented on #4332
Sorry, forgot to comment on last question - yes, I can pull, show AIA images and time series.

[2020-07-01 16:21] nabobalis commented on #4332
Then we must have not added the last test dependencies to the conda recipe. Sorry about the troubles you are facing. That page does need some minor reformatting along side making sure the test suite doesn't fail like it does now.

[2020-07-01 16:43] thepeteriley commented on #4332
No problem. I'm happy to keep trying, but what are the remaining libraries that need installing for the test suite to work?

[2020-07-01 16:49] nabobalis commented on #4332
The full list should be:
[code]

[2020-07-01 17:24] thepeteriley commented on #4332
Thanks! dask, pytest-astropy, and pytest-doctestplus were already installed by default (or based on earlier dependencies). I just needed the pytest-mock module to get:

-- Docs: https://docs.pytest.org/en/latest/warnings.html
================= 1711 passed, 214 skipped, 47 deselected, 309 warnings in 121.89s (0:02:01) ==================
<ExitCode.OK: 0>

I'll take that as a win!

[2020-07-01 17:59] nabobalis commented on #4332
Yeah that looks like the correct results.

[2020-07-02 06:54] dipanshu231099 commented on #3239
@nabobalis @wtbarnes

[2020-07-02 08:31] nabobalis commented on #3239
Hi @dipanshu231099, you will need to add new tests to https://github.com/sunpy/sunpy/blob/master/sunpy/physics/tests/test_differential_rotation.py that call `sunpy.physics.differential_rotate` and change the `obstime` and the time inteveral of the rotate instead of just the frame used in the current tests.

[2020-07-02 09:53] Cadair commented on #4332
Do we have the test deps in the conda recipe at the moment?

[2020-07-02 09:54] nabobalis commented on #4332
Not a clue, I don't deal with the recipes.

[2020-07-02 09:58] Cadair commented on #4332
I am going to close this in favour of #3701 thanks for opening an issue @thepeteriley :smile:

[2020-07-02 09:58] #4332 closed

[2020-07-03 13:40] dstansby commented on #4327
I think this is probably the same as https://github.com/sunpy/sunpy/issues/4159

[2020-07-05 19:14] abhijeetmanhas opened #4336 "Refactor scraper with parse"
### Description

In brief, make scraper more versatile.

In #4321 , for all DR clients scraper is used to get urls and filesmeta using `regex=True` while initializing it.
But due to limitations of scraper, it needs a post `filelist()` method which is `_extract_files_meta()` for validating the extracted metadata which may be avoided. Also all classes have `baseurl` and `pattern` as class attributes

[2020-07-06 13:45] dipanshu231099 commented on #4202
@Cadair @dstansby could you point me to the code if still the functionality is required

[2020-07-06 15:06] wtbarnes commented on #4202
I agree that having `shape` would be convenient, but it is potentially ambiguous. Is this the shape in the sense of the underlying array or in the sense of the coordinate aware map? I think one could reasonably expect either and it is not a huge burden to get it through `map.data.shape`. For the sake of not having that ambiguity, I'd be in favor of not including a `shape` attribute.

[2020-07-06 18:44] dstansby commented on #4202
Happy to recommend `map.data.shape` instead, but if we do that I think we should deprecate and remove `m.size`.

[2020-07-07 02:49] wtbarnes commented on #4202
Sounds good to me!

[2020-07-07 02:52] wtbarnes opened #4337 "Deprecate map.size"
Given the discussion in #4202, we should deprecate the `size` attribute on `Map` for consistency as we do not want to add a `shape` attribute for the reasons listed in that issue.

[2020-07-07 02:52] wtbarnes commented on #4202
Closing and moving discussion of `size` to #4337

[2020-07-07 02:52] #4202 closed

[2020-07-07 06:09] dipanshu231099 commented on #4337
@wtbarnes i have added the depreacation, can you assure me of the 'since' version I shall use.

[2020-07-07 06:14] dipanshu231099 commented on #4255
@Cadair does this require building on my local system. If so i would like to pursue this kind of issue.

[2020-07-07 07:56] nabobalis commented on #4255
Yes, the easiest way to make sure this works is to build it locally and test it.

[2020-07-07 16:10] wtbarnes commented on #4286
Ok I'm going to close this then as this is out of scope for sunpy

[2020-07-07 16:10] #4286 closed

[2020-07-07 16:17] wtbarnes commented on #4337
Let's have the code discussion on #4338, but it looks like you have the right `since` there.

[2020-07-08 09:54] dstansby opened #4339 "Downloading noaa-indices data via. Fido is broken"
This is currently breaking the CI:

[code]

[code]

[2020-07-08 10:03] nabobalis commented on #4339
Yeah the FTP link is down. I am not sure if there is an alternative source

[2020-07-08 10:06] dstansby commented on #4339
See https://www.swpc.noaa.gov/news/new-solar-cycle-progression-plots-replace-legacy-plots for the announcement that the old product is discontinued. Looks like we need to find the new file

[2020-07-08 10:10] nabobalis commented on #4339
Found them. I will update it.

[2020-07-08 14:55] ejm4567 commented on #4327
I've disabled the modsecurity rule that is causing the 403 error.

Please re-test and let us know if you still have problems.

[2020-07-08 16:51] Cadair commented on #4327
Seems to have fixed it for me, thanks @ejm4567

[2020-07-08 17:17] #4327 closed

[2020-07-08 17:18] dstansby commented on #4159
See #4327; fixed.

[2020-07-08 17:18] #4159 closed

[2020-07-08 23:12] dipanshu231099 commented on #4255
@nabobalis can you guide a little for the sources to be built.😅

[2020-07-09 08:08] nabobalis commented on #4255
You would need to create a gallery example that raises a `SunpyDeprecationWarnings` then build the documentation with the gallery and work out the correct commands in `docs/conf.py` to get that example to fail. We do not want any examples running with old sunpy commands.

[2020-07-09 15:47] dstansby opened #4342 "dev figure tests broken"
Just a heads up that two dev figure tests are broken, I'm 99% sure we're running into https://github.com/matplotlib/matplotlib/issues/17867 so just need to wait for a mpl fix.

[2020-07-11 10:09] #4322 closed

[2020-07-11 11:32] nabobalis commented on #3941
Most likely we will be deleting this method in future, so changing the return is not necessary.

[2020-07-11 12:29] kakirastern commented on #4268
@mridullpandey Are you still working on this?

[2020-07-11 12:32] nabobalis commented on #4268
A PR was made that changed the contributing guide but now we need to update our issue labels.

[2020-07-11 12:42] #4337 closed

[2020-07-11 12:46] kakirastern commented on #4268
Cool, was wondering since nothing regarding that PR is showing up in this issue. Good to know it is being handled. 👍🏼

[2020-07-11 13:25] #4268 closed

[2020-07-11 13:36] nabobalis opened #4346 "Add support for extra NOAA JSON timeseries"
From https://github.com/sunpy/sunpy/pull/4340#issuecomment-656253760:

[2020-07-11 13:47] nabobalis commented on #531
I would guess so. But since we are planning to remove instr, do we need to add a warning?

[2020-07-11 14:03] szywise opened #4347 "No module named 'bs4'"
### Description
Running `sunpy.instr.goes.get_goes_event_list` yields the following ModuleNotFoundError:
[code]
### Additional context

Maybe this package should be added to `install_requires` in `setup.cfg`.

[2020-07-11 14:09] nabobalis commented on #745
I still think at this point, it is time we remove the ANA code. I don't think it is used anywhere and at this point it has caused more pain than it is worth.

[2020-07-11 14:11] nabobalis commented on #931
I am not aware of any progress that has been made on this.

[2020-07-11 14:21] nabobalis commented on #4347
Hi @szywise, it is an unfortunate side effect that some of the code in `instr` needs to access the `net` code which will require the extra packages under the `net` extra group. If you do `pip install sunpy[net]` it should resolve that.

[2020-07-11 14:23] #4347 closed

[2020-07-11 15:28] nabobalis commented on #1645
Extra attempt https://github.com/sunpy/sunpy/pull/3728

[2020-07-11 15:36] #2096 closed

[2020-07-11 16:02] AthKouloumvakos commented on #4346
@nabobalis thank you for opening this issue. I was trying to see some details for the products provided and information detailed by the https://services.swpc.noaa.gov/json/. So for the **GOES json files** that are provided under the /primary/ or /secondary/ sub-directories, the TimeSeries class could probably handle the following products:

1. **GOES json files (main-url: https://services.swpc.noa

[2020-07-11 16:09] dstansby commented on #531
Ha, `sunpy.instr.eve` doesn't even exist, so I don't know what I was on about... I'm going to close this, if there are specific EVE products un-supported by Fido/Map/Timeseries please open new issues for each desired product.

[2020-07-11 16:09] #531 closed

[2020-07-11 17:39] #4339 closed

[2020-07-11 20:40] #3036 closed

[2020-07-11 20:53] nabobalis commented on #2864
Closed in favour of #2565

[2020-07-11 20:53] #2864 closed

[2020-07-11 20:56] nabobalis commented on #3033
I think this was fixed.

[2020-07-11 20:56] #3033 closed

[2020-07-11 20:58] #3242 closed

[2020-07-11 21:00] #3176 closed

[2020-07-11 21:01] #3120 closed

[2020-07-11 21:03] #3091 closed

[2020-07-11 21:04] #3073 closed

[2020-07-11 21:11] nabobalis commented on #3297
Do we still want to support this via Fido or our JSOCClient? Would not using DRMS directly be better?

[2020-07-11 21:12] #3289 closed

[2020-07-11 21:14] nabobalis commented on #3288
Did you ever work around this @adamsml?

[2020-07-11 21:16] nabobalis commented on #3284
I missed this, but the markers in `setup.cfg` are just formally registered. I believe (at least I was under the impression) you can custom mark and not add them in `setup.cfg` and it would still work.

[2020-07-11 21:17] #3274 closed

[2020-07-11 21:17] #3272 closed

[2020-07-11 21:20] nabobalis commented on #3270
Has this happened again?

[2020-07-11 21:27] nabobalis commented on #3260
Fixed by https://github.com/sunpy/sunpy/pull/4110 I think.

[2020-07-11 21:27] #3260 closed

[2020-07-11 21:32] nabobalis commented on #3248
If I do the example as above (on current master), I get no error now.

[2020-07-11 21:32] #3248 closed

[2020-07-11 21:33] nabobalis commented on #3248
If I try to open the original file, I get this:
[code]

[2020-07-11 21:37] nabobalis commented on #3348
If I run the example now, this is fixed.

[2020-07-11 21:37] #3348 closed

[2020-07-11 21:43] nabobalis commented on #3167
Closed in favour of https://github.com/sunpy/sunpy/issues/3522

[2020-07-11 21:57] nabobalis commented on #3904
I forgot what the goal of this issue is.

[2020-07-11 22:03] #3767 closed

[2020-07-11 22:09] #3843 closed

[2020-07-11 22:13] nabobalis commented on #4194
Do we want to SEP this?

[2020-07-11 22:14] #4209 closed

[2020-07-11 22:23] #4302 closed

[2020-07-11 22:24] nabobalis commented on #4324
So what do we want to fix here now?

[2020-07-11 22:29] nabobalis commented on #4008
With #3692 the warning should be tell what the issue is. Can you double check that it is doing so?

[2020-07-11 22:32] #4082 closed

[2020-07-12 05:46] mridullpandey commented on #4243
hi, @nabobalis  @abhijeetmanhas @ayshih  I am taking this up suggestions are welcome if any

[2020-07-12 08:20] mridullpandey commented on #4243
@abhijeetmanhas what failure
it shows generally...

[2020-07-12 09:25] nabobalis commented on #4243
Hi @mridullpandey, can you please not @ people unless you need to talk to them specifically.

The code lives in the `sunpy/net/helio` folder. The tests were failing when the server was broken and we want to make these tests xfail instead of fail when the server is down.

[2020-07-12 10:33] dstansby commented on #3789
Why did this get closed? I don't think some `t in timerange` documentation has been added to the docstring.

[2020-07-12 10:34] dstansby commented on #4324
I think we just want to remove the CRDER values if they are `nan`, since `nan` isn't valid in the FITS spec.

[2020-07-12 10:36] dstansby commented on #4008
I think the action here was to modify the warnings to show which line of code they are being emitted by, similar to python warnings:
[code]
I'm not sure why sunpy warnings don't do this.

[2020-07-12 10:43] nabobalis commented on #4008
Will we not just need to pass `stacklevel=2` to each `warning.warn` to get this to work?

[2020-07-12 10:53] nabobalis commented on #3441
I did this https://github.com/OpenAstronomy/azure-pipelines-templates/pull/47 but we will need to add it  to our test deps at least in our tox envs.

[2020-07-12 11:37] #2750 closed

[2020-07-12 12:34] nabobalis commented on #4008
Nope, I am wrong.
If I run:
[code]
I get:
[code]
Nothing is returned that is useful unless I replace `SunpyWarning` to inherit from `Warning` instead of `AstropyWarning`
[code]

[2020-07-12 13:15] dstansby commented on #4008
Maybe this is an upstream astropy issue then?

[2020-07-12 13:21] nabobalis commented on #4008
If I add
[code]
I get
[code]
But `AstropyWarning` inherit `Warning` so I am not sure what is going on.

[2020-07-12 13:25] dstansby commented on #4008
It's because they use a custom logger, in `astropy/logger.py`

[2020-07-12 13:27] nabobalis commented on #4008
So we need to adjust our logger settings instead of changing our warning class?

[2020-07-12 13:33] nabobalis commented on #4008
So they have their own `_showwarning` that changes how it prints the warning if `isinstance(args[0], AstropyWarning)` which should explain the difference.

[2020-07-12 13:45] nabobalis commented on #4008
In astropy tables they have this block of code:
[code]
Looks like they don't want to report where the warning occurred by default.

[2020-07-12 16:38] dipanshu231099 commented on #4255
@nabobalis has this issue been resolved or is it still open ?

[2020-07-12 16:52] nabobalis commented on #4255
The issue is still open, I have attempted to fix this in #4331 but my solution so far isn't working.

[2020-07-13 16:50] dstansby opened #4356 "py38_conda builds broken"
I think we need https://github.com/astropy/pytest-remotedata/pull/40 to make it into a `pytest-remotedata` release to fix this:

[code]

[2020-07-13 17:59] adamsml commented on #3288
Hi,
I do not remember explicitly, but I believe there was some work around.  But not what I had hoped.

From: Nabil Freij <notifications@github.com>
Sent: Saturday, July 11, 2020 4:14 PM
To: sunpy/sunpy <sunpy@noreply.github.com>
Cc: Adams, Mitzi L. (MSFC-ST13) <mitzi.adams@nasa.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [sunpy/sunpy] Creating Map Sequence from Composite Ma

[2020-07-13 18:10] nabobalis commented on #3288
I apologize for never getting back to the issue. Do you happen to still run into this problem with any work you are doing now? Or have some files (that could be uploaded) that you might have lying around that I could replicate this?

[2020-07-13 18:18] adamsml commented on #3288
Yes and yes, but not today.  I actually have no meetings scheduled for tomorrow, so I can give this my attention then.  It’d be great if a simple fix would get this working.  You will have to bear with me though, I have been without my Linux side since about the beginning of the quarantine, and my sys admin just upgraded my operating system from an old version of Scientific Linux to the latest Cen

[2020-07-13 18:24] nabobalis commented on #3288
Take as long as you need!

[2020-07-14 14:39] dipanshu231099 commented on #4243
@abhijeetmanhas what all addresses and ports are to be checked can you detail it out...

[2020-07-14 14:43] nabobalis commented on #4243
I am not sure why you would need ports or addresses. The client itself has a list of urls in its parser.

[2020-07-14 16:56] dipanshu231099 commented on #4243
@nabobalis changelog required for it? if yes could you suggest which kind of?

[2020-07-14 16:57] wtbarnes commented on #4324
So when the HMI FITS file is loaded, we warn once about the `nan` values and then fix them and in the original warning we say we are fixing them. That seems sensible to me, but is that the agreed upon solution?

[2020-07-14 16:59] wtbarnes commented on #4324
Related, do we want to do this with every FITS header we read in (i.e. remove the `nan`s)? Or just target these specific keywords in the HMI source?

[2020-07-14 17:05] dstansby commented on #4324
My vote is for this solution. I am happy and actively want to apply this to current metadata fixes. There are several points where sunpy silently assumes units are `arcsec` if they're not in the FITS header for example.

Good point, as far as I'm aware NaN values are not valid FITS, so I think general functionality to warn and remove all NaNs would be good (if I'm right).

[2020-07-14 17:06] wtbarnes commented on #4356
Hmm I cannot seem to reproduce this locally

[2020-07-14 17:13] nabobalis commented on #4243
No, I don't think it would need one.

[2020-07-15 08:37] #3441 closed

[2020-07-15 10:06] dstansby commented on #4342
Should be fixed upstream, I'll re-run the master figure tests to see if we need to update any hashes to make the dev build pass.

[2020-07-15 10:24] nabobalis commented on #4342
That did fix it. I have opened a PR fixing the hashes.

[2020-07-15 10:44] #4342 closed

[2020-07-15 16:27] samaloney commented on #3735
I think the only we can handle this cleanly is to have instrument specific missing data attributes e.g `attrs.jsoc.SDO_AIA_MISSING` and `attrs.jsoc.SDO_HMI_MISSING` as I don't think it's possible to support general queries on the quality flag with the supported operations.

[2020-07-15 17:02] pscherrer commented on #3735
This message has no context for me.
but we do always suggest that unless you are interested in the reason
some data is not available that the query clause [?QUALITY>=0?] always
be included in a JSOC export request.
We have not done this automatically because some need the information
about why some data is not available and we have not agreed upon
a way to disable this clause in cases where someon

[2020-07-16 13:14] nabobalis commented on #4356
The build on master seems to have recovered from this error but is still broken.

[code]

[2020-07-16 15:06] #4356 closed

[2020-07-16 17:33] jwreep opened #4376 "GOES 13-15 XRS data out of date"
### Description
NOAA recalibrated the historical XRS data for GOES13-15 in May 2020, removing the scaling factors so that the data is now reported in true irradiance values (W/m^2).  SunPy still returns the older values with the scaling factors included.

### Additional context
This is related to https://github.com/sunpy/sunpy/issues/4173 -- the newly calibrated data was only made available in net

[2020-07-16 17:36] nabobalis commented on #4376
Hi @jwreep, can I get a bit more context here?

You mean if you read in GOES data into Time Series it will be rescaled?

[2020-07-16 17:40] jwreep commented on #4376
[NOAA's readme](https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/GOES_13-15_XRS_Science-Quality_Data_Readme.pdf), see Section 3.1.

The older data had a multiplication factor of 0.7 and 0.85 applied to the 1--8 Angstrom and 0.5--4 Angstrom channels, respectively.  This was done so that the satellites reported values consistent with the calibration of older satellites.  NOAA recently removed

[2020-07-16 17:42] nabobalis commented on #4376
Can I get the Fido search you use to download the data please?

[2020-07-16 17:51] jwreep commented on #4376
Sure, here's an example.  The flare in this case has a peak irradiance of 5.5e-4 W/m^2 with the new calibration, 3.9e-4 with the old.

`
import numpy as np
from sunpy.net import Fido, attrs as a
from sunpy import timeseries
from datetime import datetime
from datetime import timedelta

result = Fido.search(a.Time('2013/11/04 06:00', '2013/11/06 00:00'), a.Instrument('xrs'))
print(result)

files = F

[2020-07-16 17:55] hayesla commented on #4376
Yes so the issue is that the Fido GOES client is pulling the FITS files from https://umbra.nascom.nasa.gov/goes/fits/ which was the usual place that the GOES XRS data was hosted (up until GOES 15) and used by SSW etc.

Now NOAA have re-released re-scaled GOES 13, 14 and 15 data here https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/goes13/gxrs-l2-irrad_science/ which we do not have a Fido cli

[2020-07-16 17:57] hayesla commented on #4376
We will need to be careful so that a user knows where the data is being pulled from - so that work prior to this rescaling can be reproduced

[2020-07-16 17:58] #3789 closed

[2020-07-16 18:34] wtbarnes commented on #4376
Hmm. Yeah, I wonder what is the best way to go about choosing which GOES-15 to deliver to the user when they request XRS data through Fido. We'd probably want to give them the new, recalibrated data (from the netcdf files) by default as this is presumably the most accurate? But of course we'd want to have some way to access the data with the older calibration as well. Maybe we need an attr to spec

[2020-07-16 21:22] jwreep commented on #4376
For what it's worth, I agree with @wtbarnes that the recalibrated data should be served by default, and the older data could be made available as an option.  I absolutely agree that the older data should still be available, and it's extremely frustrating that the recalibration has already caused a number of papers to be out of date!

[2020-07-17 11:44] nabobalis commented on #3802
Since the new `a.Physobs` has been added, I think we can safely close this.

[2020-07-17 11:44] #3802 closed

[2020-07-17 11:53] abhijeetmanhas commented on #2401
@jmason86 Is this resolved now?

[2020-07-17 12:12] nabobalis commented on #1399
I think this is kind of solved with the jsoc attrs and we have more documentation pages on the JSOCCient and via the DRMS package.

[2020-07-17 19:33] jamisenma opened #4385 "MapSequence Animations Slider"
Hi guys,
2 quick questions:

1. Does anyone know how to control 2 MapSequence Animations with 1 slider? I'm using sunpy.visualization.animator.MapSequenceAnimator().

2. In the picture attached below, the 2 values circled in red 0.0, 8.0 are the slider value of each animation. I looked though the sunpy and Matplotlib documentation, and I found cropped_flare_animation._sliders[0].slider.val should

[2020-07-18 20:35] vsoch opened #4386 "Showcasing sunpy for the weekly Software Survey!"
hey sunpy maintainers!

This week I would like to showcase sunpy for the weekly software survey, you can see the few previous weeks [here](https://rseng.github.io/rseng/blog/). It's a larger effort to teach the community about open source software, and prompt annotation of the research software encyclopedia interface. So akin to the others, it's going to be a simple page that tells users what it i

[2020-07-19 19:07] vsoch commented on #4386
I hope I did an okay job :) https://twitter.com/vsoch/status/1284926151530385408  Let me know if you want anything changed. Beautiful work on this project, and growing the community. Cheers!

[2020-07-19 19:07] #4386 closed

[2020-07-21 18:05] jmason86 commented on #2401
I'm trying to determine that but failing. It looks like some syntax has changed since my original post.
[code]
that was suggested I do now fails saying: TypeError: list indices must be integers or slices, not str
​Ditto when I try to do `vr[2]['Level']`
When I just do `vr[2]`, the table only includes parameters for start time, end time, source, instrument, type, and wavelength.
So I'm stuck on see

[2020-07-21 21:32] abhijeetmanhas commented on #4158
@ehsteve can you please describe what type of queries should we support? In the archive there are directories like
`ace`, `dscvr`, `goes`, `rstw`, `solar_cycles` etc and there are some json files which are not in those directories.
Is it we have to support querying to all those files or few of them, and how we can differentiate them on the basis of `Physobs`?

[2020-07-21 22:14] abhijeetmanhas commented on #2401
Hi @jmason86 , to extract `fileid` from the 3rd response, i.e. `vr[2]` you have to do vr.blocks[2]['fileid']`. this will work, can you please check again? Also I checked by looking data of vr[2] so looks like this
[code]
So there is fileid here but no level. However `vr.blocks[2]['info']` contains details of the level. Is first part of your issue is that sunpy vso doesn't shows level in the respon

[2020-07-21 22:37] jmason86 commented on #2401
Sweet; that does work for me. So that confirms that the first workaround from my original post is still viable (using either `info` or `fileid`).

Yep, I would agree with your statement that one part of the issue is that the `level` keyword isn't part of the response. If it was, it should then be possible to use the `Level` kwarg in the initial `Fido.search(... Level='')` as @Cadair pointed out a

[2020-07-22 02:51] abhijeetmanhas commented on #2401
@jmason86 it is possible to specify `Level` as kwargs in Fido search and that will work.
If you run this
```Fido.search(a.Time("2010-09-05 00:00:00", "2010-09-05 01:00:00"), a.Instrument('eve'), a.Level(1))```
or
```Fido.search(a.Time("2010-09-05 00:00:00", "2010-09-05 01:00:00"), a.Instrument('eve'), a.Level(2))```
results are returned according to the correct Level.

[2020-07-22 11:27] nabobalis commented on #4255
My attempts have failed.

[2020-07-22 11:57] Cadair commented on #4386
Thanks a lot  @vsoch it was a really great read :smile:

[2020-07-22 12:48] #4008 closed

[2020-07-22 12:49] #4167 closed

[2020-07-22 17:03] nabobalis commented on #4173
Could use https://pypi.org/project/h5netcdf/?

[2020-07-22 17:09] hayesla commented on #4173
is there a preference for h5netcdf rather than xarray? both work?

Does sunpy have a dependency h5?

[2020-07-22 19:02] jmason86 commented on #2401
That's good to know. I think it may come down then to having support for non-numerical level types. For example, it's common to have e.g., level '0b', '0c', '0d' etc. At least in most LASP datasets, it's also common to have these kinds of level '2Lines'. I'm not sure if this numeric implementation is in sunpy or VSO, but if the former then my suggestion is that it be generalized to a string. Is th

[2020-07-23 01:00] jhourcle commented on #2401
There are two problems here:

The first is that different communities have different scales / standards for the concept of “level”.

LASP and NOAA follow the definitions used by the earth science community, as defined by the NASA EOSDIS.

When the VSO started, it was rare for solar physics remote sensing data to be anything other than “Level 0”.  But our community’s “Level 0” (what we call “raw” d

[2020-07-23 03:26] wtbarnes opened #4389 "Discussion on how we support GOES-XRS Data"
This issue is for discussing the larger problem of how best to support both querying and loading GOES XRS data. We have a lot of PRs and issues related to this larger issue and so this (meta) issue just serves to try coordinate all of these efforts as best we can and come up with a coherent plan of how best to tackle this.

Currently, `XRSClient` queries data from the SDAC (https://umbra.nascom.na

[2020-07-23 03:32] ayshih commented on #4389
I may be mistaken, but my understanding is that those JSON files through NOAA SWPC are "operational-quality" data rather than "science-quality" data.  They have not undergone the same level of calibration and validation as what is found in the science NetCDF files.

[2020-07-23 09:29] Cadair commented on #4389
My initial reaction to some of the questions, mostly based on the community meeting yesterday:

Given we are clearly in a position where making it easy for users of our library to load data provided in netCFD we should add a dependency on a netCDF library. From the discussion at the community meeting, [h5netcdf](https://github.com/shoyer/h5netcdf) gets my vote as the library because at least then

[2020-07-23 10:28] Cadair commented on #4194
probably.

Also there are probably too many things rattling around in my brain for me to actually get to taking a swing at this if someone else wants to. @DanRyanIrish :grin:

[2020-07-23 16:00] jmason86 commented on #2401
Eesh yeah. I didn't doubt there was a lot of history here. I'm generally a zealot about standards to unify things but I think a push to define a standard level definition for all the datasets that sunpy already has and will have access to is beyond the scope of this project, though certainly we could band together to try to push for one. That sounds like a decade-ish effort.

For the immediate cas

[2020-07-23 16:15] jhourcle commented on #2401
I was thinking that the VSO should work on the standard … but because sunpy indexes some data that’s *not* VSO data, sunpy would then have to decide if they want to follow that standard or not.

The VSO does … at least for the ones in which level is actually defined.  (one of my long-running tasks is to go back and figure out which VSO data providers support which features …. but I don’t have acce

[2020-07-23 16:28] jmason86 commented on #2401
That's really good that VSO already supports 1 and 2; that will make implementation on the sunpy side easier, I imagine, if it's agreed upon by everyone that's something that should be implemented.

The fuzzy matching was something of a fuzzy suggestion. I don't really know. Trying to think of examples now, one thing I would not want to happen is the user searches for `a.Level('1')` but gets a nul

[2020-07-23 18:08] jhourcle commented on #2401
Right now, a VSO query for level=‘1’ *should* match ‘1’ and ‘1A’ or ‘1B’ but *not* 1.5.

I guess I could maybe do something like parse the expression for ‘1*’ and have that match all four cases.

It’s also worth mentioning that all VSO queries are matched twice —

1. The query is sent to the “VSO registry” which has a general description of the data held by each data provider.  From that, it gets

[2020-07-24 09:39] samaloney commented on #4389
I think it's important to note the files on https://umbra.nascom.nasa.gov/goes/fits have been processed/altered ([here](https://umbra.nascom.nasa.gov/goes/fits/goes_fits_files_notes.txt)) to correct some issues e.g the times are changed to be bin centre.

I think the canonical data sources are https://www.ngdc.noaa.gov/stp/satellite/goes/dataaccess.html up to GOES-16 and then the new goes-r series

[2020-07-24 09:57] samaloney opened #4390 "Fido download of NOAA SRS broken for dates before 1996"
### Description

Trying to download SRS data before 1996 results in an error.

### Expected behavior

SRS files downloaded

### Actual behavior

Download appears to work but inspecting the results reveals an error.

The format of the NOAA archive changes pre 1996 (ftp://ftp.swpc.noaa.gov/pub/warehouse) and the current code doesn't support the other format e.g.

https://github.com/sunpy/sunpy/blob/

[2020-07-24 16:51] samaloney commented on #4390
Actually I think the data pre 1996 can't be parsed as it's free text so I think we just need to manual add a minimum date date of 1996/01/01

[2020-07-25 08:04] #3239 closed

[2020-07-28 13:21] ayshih opened #4395 "Observer-Sun distance in Yohkoh/SXT Maps?"
The Yohkoh/SXT map source performs some possibly broken handling of the observer-Sun distance, including oddly creating a new `meta['dsun_apparent']` that doesn't necessarily get used.

_Originally posted by @ayshih in https://github.com/sunpy/sunpy/pull/4391#discussion_r460910743_:

Ugh, I don't like this Yohkoh handling.  We shouldn't add a new item to the dictionary for this.

This comment appe

[2020-07-28 13:29] ayshih commented on #4395
Ping @wafels since it looks like he wrote this originally.

Also, as a quibble, I don't like that the small angle approximation is used, and the comment even acknowledges that it is "simple trigonometry":
https://github.com/sunpy/sunpy/blob/db314114f0148d16610dda10f18ea0876942cd61/sunpy/map/sources/yohkoh.py#L55-L58

I think we can afford a call to `np.sin()`!

[2020-07-29 03:18] wtbarnes commented on #4389
#4394 addresses questions 1 and 3

[2020-07-29 15:32] hayesla commented on #4389
In regards to 2. _What is the best way to support netcdf files in sunpy?_ do we have any preference on this?

For the updated XRSTimeSeries to read the netCDF files we can either just have say `xarray` imported in `https://github.com/sunpy/sunpy/blob/master/sunpy/timeseries/sources/goes.py` and then read in - but then the `source` will need to be defined by the user and not identified through the

[2020-07-29 15:33] hayesla commented on #4389
maybe I'll make a WIP PR with the timeseries updated to iterate on this

[2020-07-29 16:19] dstansby opened #4398 "dev tests broken"
The dev tests are currently broken, due to the upstream issue https://github.com/matplotlib/matplotlib/issues/18119

[2020-07-30 12:34] dstansby opened #4401 "helio is making unverified HTTP requests"
We should investigate and fix or decide to ignore these warnings e.g.
[code]

[2020-07-30 12:35] nabobalis commented on #4401
The change was made here: https://github.com/sunpy/sunpy/pull/4240

[2020-07-30 12:39] Cadair commented on #4401
Is the SSL cert fixed on the server yet?

[2020-07-30 12:39] Cadair commented on #4401
yes, we should undo this.

[2020-07-30 12:52] dstansby commented on #4401
From https://github.com/sunpy/sunpy/pull/4402#issuecomment-666344735

[2020-07-30 13:40] dstansby opened #4469 "sunpy logo link broken"
The link to "sunpy logo" here: https://sunpy.org/about#acknowledging-sunpy-in-posters-and-talks just redirects to the same page instead of a logo.

[2020-07-30 15:50] Cadair commented on #4336
I think based on the discussions in #4321 we also are going to need scraper to grow the idea of each file having a start and end time, and where they are not both in the URL have the known length of the file fed into it?

[2020-08-02 17:54] lzivadinovic commented on #4291
I've managed to hack my way around this because by forcing method='url-tar' in sunpy.net.jsoc.JSOCClient.request_data but it required manual downloading via provided url from res.urls.url[0] (where res is my return object from JSOCClient.request_data). I mean, its doable, but i didn't have time to make it nice.

I would like to work on this, but i cant guarantee how much time will i have in the ne

[2020-08-02 19:03] lzivadinovic commented on #4291
So here is a patch.file

[code]

I have minimal working example compatible with jsoc without making to much of a mess. It works if you do something like

[code]

So i just want to confirm if you guys are ok with this approach. If ok, i will create PR and try to write some test for it. If not, please tell me so i can change how this is implemented.

[2020-08-04 09:29] dstansby opened #4406 "32 bit tests failing"
The 32 bit tests are currently failing, due to a failed attempt to install the `cryptography` library from source. See e.g. https://dev.azure.com/sunpy/sunpy/_build/results?buildId=9154&view=logs&jobId=a7b3aa55-7d57-562f-3433-7f6b2d4252da&j=2920fa54-56c6-5dfd-d3d8-7b1b694d90cb&t=bba4d609-c264-5f9c-e072-020a8a3b573f

[2020-08-04 13:21] nabobalis commented on #4406
My interpretation of the issue is as follows:

"cryptography" is looking for `SSL_OP_NO_DTLSv1_2`, `SSL_OP_NO_DTLSv1`, `X509_CHECK_FLAG_ALWAYS_CHECK_SUBJECT` and `X509_CHECK_FLAG_MULTI_LABEL_WILDCARDS`.

The first two are not defined in openssl 1.0.1 (https://github.com/openssl/openssl/blob/OpenSSL_1_0_1e/ssl/ssl.h) but are defined in openssl 1.0.2 (https://github.com/openssl/openssl/blob/OpenSSL_

[2020-08-04 13:24] nabobalis commented on #4406
cryptography 2.9.2 being the version we pin to.

[2020-08-04 13:36] Cadair commented on #4406
How about jumping back to `manylinux1` on the 32bit build?

[2020-08-04 13:41] nabobalis commented on #4406
What version of openssl does it use?

[2020-08-04 13:45] nabobalis commented on #4406
It seems they don't provide any 32bit wheels for linux anymore:
https://pypi.org/project/cryptography/#files

[2020-08-04 14:02] nabobalis commented on #4406
Since we have to compile it from source, we should just see about pinning its version for the 32 bit build.

[2020-08-04 14:21] nabobalis commented on #4406
I pinned it in tox here https://github.com/sunpy/sunpy/pull/4388

[2020-08-04 19:17] #4406 closed

[2020-08-06 10:42] dstansby commented on #2886
🥳

[2020-08-06 10:42] #2886 closed

[2020-08-06 11:24] #4243 closed

[2020-08-06 11:34] dstansby opened #4410 "How to handle broken or missing metadata"
https://github.com/sunpy/sunpy/pull/4391 has spawned discussion on how we handle missing or broken values in FITS headers.

Stepping back another level, there seem to be three players in the game. 1. The data provider 2. sunpy and 3. a solar physicist (end user). In an ideal world, sunpy and the end user would like the data provider to provide fully FITS compliant data.

The question though is wha

[2020-08-06 13:24] ayshih opened #4411 "Define transformations between Helioprojective and AltAz for 2D coordinates"
Currently, coordinates must be 3D rather than 2D (i.e., the distance to the source must be defined) to transform between the `Helioprojective` frame and the `AltAz` frame because the transformation path goes through intermediate frames where the origin is shifted.  In principle, one can define dedicated transformations for the special case where the two frames have the same observer location (spec

[2020-08-06 14:01] ayshih commented on #4410
I feel a major reason why this is complicated is that SunPy is wearing two hats here, which do not have fully compatible interests:

- SunPy provides underlying core functionality for developers (the `Map` class and the reading of FITS files)
  - This functionality is not *directly* used by the typical end-user (the `Map` class factory doesn't count)
  - The presumption for core functionality ough

[2020-08-06 14:13] dstansby opened #4412 "Deprecate io.ana code?"
`sunpy.io.ana` contains wrappers for C code to read in .ana files. It is suspected that these files are not widely used, and therefore it would be good from a maintenance and "making sunpy pure python" point of view to deprecate and eventually remove this code.

A deprecation message should
- State that the sub-module is planned for removal in 4.0 (this gives us 1 LTS cycle)
- Give clear contact d

[2020-08-06 14:26] Cadair commented on #4412
I think this is worth a little discussion. While I agree there is a complexity increase in us having a compiled extension, most of the end user issues around this have been mitigated by changes to the python packaging ecosystem in the last few years.

The C code is far from perfect, and we don't have a lot of expertise in maintaining it, however, we also basically never have to touch it. The only

[2020-08-06 14:45] ayshih commented on #4412
I think that having a goal of "pure Python" is a bit silly.  I'd like to see more C and Cython code in SunPy!

However, the ANA code in specific is problematic for reasons that are related to the fact that it is C code, at least not directly.  I believe that it's still the case the ANA code doesn't give the same output on Windows as on other platforms (https://github.com/sunpy/sunpy/issues/745#iss

[2020-08-06 15:42] Cadair commented on #4412
It should be noted we don't compile or provide ANA on windows, and never have. Windows support is a feature request.

[2020-08-07 00:46] davisite opened #4413 "Exporting SDO FITS Files without Image Data Arrays"
### Description

I'd like to propose a change to the JSOC export system to help users handle image files that are requested but missing and cannot be downloaded. In addition to affecting the JSOC export web-page users, this change would affect users of software that uses the JSOC export-system CGI. This includes various existing scripts that use URL-opening libraries or linux commands to access th

[2020-08-10 12:15] #3833 closed

[2020-08-13 15:42] wtbarnes commented on #3297
I wouldn't say using drms directly is ever better... There are some things you'll probably always need to use drms for (e.g. querying more obscure series with odd constraints), but I don't see any reason we wouldn't want to support drms installations more generically through Fido rather than just JSOC.

[2020-08-18 17:28] dstansby commented on #4171
Going to close this, and then maybe reopen it again if/when I remember what my use case actually was.

[2020-08-18 17:30] #3340 closed

[2020-08-18 17:35] #1399 closed

[2020-08-18 17:37] dstansby commented on #1412
Assuming this is fixed, feel free to re-open if I've missed something.

[2020-08-18 17:37] #1412 closed

[2020-08-18 17:40] dstansby commented on #1572
I think this really needs a self contained example to demonstrate what the problem is. Feel free to open with an example/more info.

[2020-08-18 17:40] #1572 closed

[2020-08-18 17:42] dstansby commented on #2633
I'm going to close this since it's seems to be an issue with the FITS file and not sunpy. Perhaps we could provide a more useful error or warning - if you can provide the file that you're using for the plot, the code being used for the plot, and any warnings/errors thrown when running it feel free to re-open this.

[2020-08-18 17:42] #2633 closed

[2020-08-18 17:44] dstansby commented on #2654
Still looks like an issue, I think the problem is what limits are being set on the plots internally by sunpy.

[2020-08-18 17:45] dstansby commented on #3747
Could you update the original issue code with a self contained example?

[2020-08-18 18:41] pscherrer commented on #3747
The MDI.vw_V data is stored in cubes of 360 minutes, one minute each
image.  The header data is as in all JSOC internal data stored in
the database and accessible via jsoc_info,  If you ask for individual
frames in exportdata you will get 360 files for each 6 hours, and since
this data is useful primarily for seismology using at least days and
often months at a time, a file per minute is a managem

[2020-08-19 10:58] dstansby commented on #775
I think it would be good to split each item here into a separate issue, ideally with self contained examples, or short snippets with desired new API.

[2020-08-19 11:01] dstansby commented on #1147
This should at least raise a warning or `NotImplemented` error. Can someone provide a self contained example that causes this un-wanted behaviour?

[2020-08-19 11:18] dstansby commented on #1686
What's the action here? Is it updating the FITS headers in our sample test data? If so this issue should be moved to the test data repo.

[2020-08-19 15:51] Cadair commented on #3904
To decide how we want to use milestones going forward.

[2020-08-19 15:56] Cadair commented on #3747
Thanks for the info @pscherrer

When this was reported I don't you had the disk issues (Feb), but might make it harder to reproduce now.

[2020-08-19 16:28] pscherrer commented on #3747
Occasionally visit the jsoc home page where the MOTD is at the top when
there is something to report.
jsoc.stanford.edu

Now shows:
Due to concerns over the health of several SUMS disks, we are
proactively blocking access to the data they contain until we can
transfer the content to new media. The data impacted include many AIA,
HMI, and MDI data series. In general this impacts mostly older data,

[2020-08-19 16:54] Cadair commented on #1686
This is test data in `sunpy/data/test` rather than sample data which is in it's own repo and downloaded.

[2020-08-19 17:56] ayshih commented on #4290
Brief summary:

- #4319 is a minimal example showing the non-reproducibility of matrix multiplications
- The problem occurs when the (conda-forge version of) OpenBLAS is using multithreading on Azure Pipelines MacOS VMs.
- The problem does not occur when OpenBLAS multithreading is disabled (i.e., `OMP_NUM_THREADS=1`).
- The problem does not (appear to) occur when running non-virtual MacOS machines

[2020-08-19 18:20] giordano commented on #4290
Did you try with openblas binaries not from conda?

[2020-08-19 19:12] Cadair commented on #4413
Thanks for the detailed post @davisite I finally got some time to experiment with the ideas.

Firstly, I think this is a great idea, and I don't forsee any issues with our drms / JSOCClient / Fido code stack because of these proposed changes.

My concerns are mostly linked to the `map` submodule, which reads the FITS files. I wanted to know how we would handle a user giving `sunpy.map.Map` a list

[2020-08-19 19:19] Cadair commented on #4413
oh one other question, would you be RICE compressing these files as well, for consistency? I am not sure what a length 0 RICE compressed array looks like :thinking:

[2020-08-19 19:22] ayshih commented on #4290
@giordano I haven't yet.  It's awkward because these errors do not appear to happen at all on a real MacOS machine, so I can't simply set up an environment locally.  I haven't wrapped my head around using non-conda-forge OpenBLAS binaries on Azure Pipelines.

[2020-08-19 23:39] davisite commented on #4413
Hey @Cadair

Hopefully my comment wasn't too long (LOL!), and hopefully it is helpful.

Actually, I believe the FITS standard does allow for NAXIS to be 0. From the Standard:
**
NAXIS keyword.
The value field shall contain a non-negative integer no greater than 999 representing the number of axes in the associated data array.  A value of zero signifies that no data follow the header in the HDU.
**

[2020-08-22 21:35] abhijeetmanhas opened #4429 "Wrong plot in goes hek m25 example"
### Description

The plot in timeseries example gallery of sunpy for goes and hek flare data looks very different when same code is run on master.

### Expected behavior

It should look like this
https://docs.sunpy.org/en/stable/_images/sphx_glr_goes_hek_m25_001.png

### Actual behavior

![goes_xrs](https://user-images.githubusercontent.com/43112347/90966194-2e191800-e4ed-11ea-9228-0378e1c2a7bb.pn

[2020-08-23 15:17] #4429 closed, assigned to nobody

[2020-08-23 17:19] dstansby commented on #4324
Removing good first issue as this needs discussion/design decisions before code changes can be made.

[2020-08-23 17:46] dstansby commented on #4412
Since it seems like there's no particular downside to having the ana code at the moment, I'm going to close this. If anyone wants to continue discussing feel free to re-open.

[2020-08-23 17:46] #4412 closed

[2020-08-23 18:03] dstansby commented on #3284
Is the goal here to have `sunpy.self_test()` run without error in an environment with only sunpy installed? If so it seems like the action is to add `pytest.mark.importskip(module)` to the tests that need optional dependencies.

[2020-08-23 18:13] dstansby commented on #1999
Is there a real world-example that exercises this issue? Am tempted to close this since it hasn't had any activity for a couple of years.

[2020-08-23 18:18] dstansby commented on #2654
If anyone wants to reproduce locally,

[code]

[2020-08-23 18:27] dstansby commented on #3070
Can someone provide a sample L0 data file that has this issue?

[2020-08-23 18:27] nabobalis commented on #3284
We probably want to set it up in conftest to skip the entire submodules instead of working out what tests need what collection of optional dependencies.

[2020-08-23 18:28] dstansby commented on #3182
I think I fixed this in https://github.com/sunpy/sunpy/pull/4375

[2020-08-23 18:28] #3182 closed

[2020-08-26 16:32] akirahirohito opened #4439 "Create an example showcasing how to do URL-scraping to get files for sunpy.map.Map"
### Description

After some initial discussion on Sunpy's IRC channel, initiated by a new user's queries on how to scrape file path names based on database/archive queries, I would like to propose the introduction of an example that showcases basic web URL-scraping. The example can be added to the "Acquring Data" section of the Example Gallery at https://docs.sunpy.org/en/stable/generated/gallery/

[2020-08-26 16:51] Raahul-Singh opened #4440 "Add pythia as an affiliated package!"
[Pythia](https://github.com/Raahul-Singh/pythia) has grown beyond the original scope of the GSoC project. Now, we are planning on making it into a general Deep Learning project for Solar Physics.

The generalisation is in progress and I will add some usage examples soon!

[2020-08-26 16:55] Raahul-Singh commented on #4440
Moving to sunpy.org repo!

[2020-08-26 16:55] #4440 closed

[2020-08-27 17:03] mm-woods opened #4444 "Issue with over-plotting two data sets with was axes"
Hi All!
Apologies if this is not the right place to post this issue, but thought that this issue might be one that could effect other sunpy users and as a community you have a lot of experience with using wcs.

I am currently trying to overlay two corresponding images (in this case an IRIS raster image and an IRIS SJI image). I have created a wcs axis for both data respectively and can plot each i

[2020-08-27 21:00] dstansby commented on #4444
This is definitely the right place to post this!

What you're doing seems sensible, but I'm not sure what exactly is wrong - is the data from the raster offset or stretched from where you expected it to be? If the issue is swapping the WCS axes, perhaps transposing the data array instead of swapping the WCS axes will help?

[2020-08-28 17:56] mm-woods commented on #4444
Thanks for the reply David!

So, I just realised the attached screenshots above the SJI and Raster data aren't from the same time so that explains some of the morphological differences. However, plotting the same time there is a clear offset in the x direction.
After looking into it more I think the root of this issue is that the wcs object for the SJI images is defined at the start of the observa

[2020-08-28 17:58] mm-woods commented on #4444
OH additionally, Looking again at the difference between slices and swapaxes, I don't think there is an actual difference in the two images above, bar the fact that the grid lines haven't plotted in the first one which is what lead me to think they were plotting differently! Apologies for the confusion there!

[2020-09-01 10:58] Flock1 opened #4447 "Working with .npz files"
### Description

A lot of data provided by SDO is in `.npz` format. I see that (or at least till now with whatever I have explored), there's no way to work with that file. So is there some way I can import that data using sunpy? I didn't know where else to post this query since it's not a bug or an error.

Please let me know.

[2020-09-01 11:00] nabobalis commented on #4447
Do you have an example of these files? I was unaware that SDO data came in `npz` files.

[2020-09-01 14:32] wtbarnes commented on #4447
Are you referring to the ML dataset (e.g. https://purl.stanford.edu/vk217bh4910) as described in [Galvez et al, (2019)](https://iopscience.iop.org/article/10.3847/1538-4365/ab1005#apjsab1005app1)?

Note that these data are not provided by any of the instrument teams and are meant as a resource specifically for machine learning. They shouldn't be regarded as official instrument data products. In th

[2020-09-01 16:33] PaulJWright commented on #4447
To follow on from Will and Nabil, you can find instructions on how to use this dataset at https://github.com/dfouhey/sdodemo.

[2020-09-01 17:44] subhamoysgit opened #4448 "SAXParseException while using VSOClient to download data"
### Description

**Error come from the line of code below:
qr=client.query_legacy(t_i,t_f,instrument='AIA',wave='171',sample=86400)**

**Error message:
<unknown>:12:67: XML or text declaration not at start of entity**

### Additional context

[2020-09-01 17:49] nabobalis commented on #4448
`query_legacy` was removed (I think) in sunpy 1.0. I would suggest replacing it with Fido.search, using this example as a basis: https://docs.sunpy.org/en/stable/generated/gallery/acquiring_data/searching_vso.html#sphx-glr-generated-gallery-acquiring-data-searching-vso-py

[2020-09-01 18:36] #4448 closed

[2020-09-01 19:04] Flock1 commented on #4447
@nabobalis, yeah. header information is definitely missing from that dataset. And I guess as @wtbarnes mentioned, the data I have is different from the original data. I have images that are of shape 1024X1024 and I am trying to use these images for machine learning.

So if I am interested in using ML for this dataset, how do you recommend I should use `sunpy` library? One major application of this

[2020-09-01 19:10] nabobalis commented on #4447
@Flock1 sunpy maps need metadata to be created, these normally come from the data files that are used in astronomy. If these are missing you can create them manually (following https://docs.sunpy.org/en/stable/generated/gallery/map/map_from_numpy_array.html#sphx-glr-generated-gallery-map-map-from-numpy-array-py) and create sunpy maps but I am not sure how useful that will be.

If you need to ML (I

[2020-09-01 19:55] PaulJWright commented on #4447
@Flock1, we excluded this header information by design.

I don't fully understand why these need to be converted in to sunpy maps, but you can learn more about various coordinate systems here: https://fits.gsfc.nasa.gov/wcs/coordinates.pdf. Understanding what problem you're trying to tackle would be helpful, I think.

[2020-09-01 20:04] Flock1 commented on #4447
@nabobalis, thank you for the link. I will have a look at it.

Raw data is fine but it hasn't been much of use for me till now, especially when it comes to solar flares. But I think I'll need to read some text about this field to get a good grasp.

@PaulJWright, thank you for replying. One problem that I was thinking of is to detect solar flares through some unsupervised learning and predicting fu

[2020-09-01 20:24] PaulJWright commented on #4447
The data set you're referring to has co-aligned, co-temporal coronal (AIA), magnetic field (HMI) and integrated spectra (EVE). This data set does not include a flare catalog.

You would first need to query a catalog such as the Heliophysics Event Knowledgebase (HEK, https://docs.sunpy.org/en/stable/guide/acquiring_data/hek.html) to locate flares in this ML data set. Because there is 20PB of SDO da

[2020-09-01 20:33] Flock1 commented on #4447
@PaulJWright, this is great. Thank you for the detailed response. I will try the example you mentioned.

[2020-09-01 20:34] #4447 closed

[2020-09-02 15:15] dstansby commented on #4444
Fab, sounds like your issues are solved! If you think there's still a problem on the sunpy side, fell free to re-open.

[2020-09-02 15:15] #4444 closed

[2020-09-02 15:16] nabobalis commented on #4439
I personally feel that making map do that is beyond the scope of map file handling.
This might be a good example to create in our gallery instead.

[2020-09-02 15:18] kakirastern commented on #4439
Yeah, sure

[2020-09-02 15:18] dstansby commented on #4413
👍 sounds like all is settled here - I'm going to tag https://github.com/sunpy/sunpy/pull/4426 as closing this issue when it's merged, so we properly handle NAXIS=0,1 cases.

[2020-09-02 16:04] kakirastern commented on #4439
Let me open a PR soon

[2020-09-02 16:30] dstansby commented on #4173
As discussed on the call today, making this work requires work doing to support source-dependent file loading in `sunpy.map` (similar to `sunpy.timeseries`). Any work on this should probably start by modifying `sunpy.map` in order to support source dependent file loading.

[2020-09-02 16:51] #4291 closed

[2020-09-02 16:59] wtbarnes commented on #4173
XRS data is not spatially resolved and is handled completely by `sunpy.timeseries`

[2020-09-02 17:05] ayshih commented on #4237
I'm closing this issue.  The bug is now avoided for the automatic transformation triggered by the `observer` frame attribute (#4266), and this style of transformation call is now deprecated (astropy/astropy#10475).

[2020-09-02 17:05] #4237 closed

[2020-09-04 08:54] dstansby opened #4453 "Normalise images before handing them to skimage.transform.warp"
From @ayshih at https://github.com/sunpy/sunpy/pull/4452#issuecomment-686504683:

I believe the work here is to normalise floating point input to `skimage.transform.warp` to the range [0, 1] in `sunpy.image.transform.affine_transform`, and then un-normalise it after the transform.

[2020-09-07 13:00] dstansby opened #4456 "Confusing section in Differential rotation example"
Part of the differential rotating a map example says

I agree this is counter-intuitive, but there is no description given as to **why** `in_time` has to be supplied to `RotatedSunFrame`, as opposed to `out_time`. I think the example would be improved with an explanation/justification of this counter-intuitive part.

[2020-09-08 02:19] ayshih commented on #4456
I'm going to go into gory detail here, but it can't/shouldn't all go into the gallery example.

Let `input` be the coordinate frame of the source map, at the time `input.obstime`.
Let `output` be the desired coordinate frame of the destination map, at the time `output.obstime`.

The desire is to reproject the map from `input` to `output` with the accounting of differential rotation from `input.obs

[2020-09-08 02:20] ayshih commented on #4456
For the gallery example, I think a slightly wordier version of this sentence may be sufficient.

[2020-09-09 07:41] sidhu1012 commented on #4201
Is this issue up? I would like to work on this issue.

[2020-09-09 07:47] nabobalis commented on #4201
Should be.

[2020-09-09 07:57] sidhu1012 commented on #4201
On it!

[2020-09-09 13:48] wafels commented on #4410
@ayshih so move `AIAMap` to `AIApy` ?  Any `AIApy` developers on this thread?  I wonder if they see any advantages to this suggestion.

[2020-09-09 18:54] wtbarnes commented on #4410
I don't know if we want to open this can of worms here. I know we went back and forth on this a lot at the dev meeting back in March.

I'm not entirely opposed to this and I think in theory it is probably a good idea. It makes sense to have the AIA team oversee. But I'm not sure about the reality of every person who installs sunpy who wants to look at AIA data having to install `aiapy`. For one, i

[2020-09-09 21:19] wafels commented on #4410
I've used `Map` with data that is not explicitly supported by SunPy.  Usually the maps are not nice looking, but they load.

I think you're right that this can of worms should be opened elsewhere.

[2020-09-10 02:19] ayshih opened #4458 "Remove instrument-specific data classes (e.g., AIAMap) from the core library?"
Since I like to bring up this notion at least once a year, I figured I should create a formal issue to collect any future discussion.

As I most recently brought up in https://github.com/sunpy/sunpy/issues/4410#issuecomment-669946030, I feel that we need to push instrument-specific data classes (e.g., `AIAMap`) out of the core library.  That issue shows that we struggle to make certain decisions b

[2020-09-10 02:20] ayshih commented on #4410
Okay, I've created a new issue (#4458) so we don't need to continue here on the tangent of kicking `AIAMap` out of SunPy core.

[2020-09-10 02:27] ayshih commented on #4410
For this issue in specific, perhaps the right approach is to embrace the two hats: how about if `GenericMap` is super-strict and standards-compliant with metadata, and classes like `AIAMap` contain all of the assumptions and do all of work to clean up the metadata so that `GenericMap` doesn't error?  That way, anyone creating a new `Map` subclass would have all of the benefit of strict metadata ch

[2020-09-10 02:31] ayshih commented on #4410
If that model is followed, each instrument-specific class could simply have a section in its docstring that lists explicitly all of the metadata assumptions/fixes that that class makes rather than emitting warnings.

[2020-09-10 06:34] sidhu1012 commented on #4201
@nabobalis Was not able to find any __str__ in maps,  are they present or shall I add them

[2020-09-10 08:32] nabobalis commented on #4201
They aren't present in Generic Map as far as I am aware.

[2020-09-10 09:06] sidhu1012 commented on #4201
Shall I add them , same as repr?

[2020-09-10 09:14] Cadair opened #4459 "Performance and SunPy: A project"
At the community meeting this week (2020-9-9) @wtbarnes brought up discussions on [aiapy](https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/issues/76) which lead to #4446 with a focus on general perceptions about sunpy being "slow" and it better to re-implement things we do to make them "faster".

To this end I think we should use this issue to collect thoughts on things we can do to work on both the t

[2020-09-10 09:20] nabobalis commented on #4201
Yeah.

[2020-09-10 09:27] sidhu1012 commented on #4201
Okay😁

[2020-09-10 10:12] #1753 closed

[2020-09-10 11:38] #2314 closed

[2020-09-10 11:38] #3306 closed

[2020-09-10 11:38] #3321 closed

[2020-09-10 11:38] #3337 closed

[2020-09-10 11:38] #3715 closed

[2020-09-10 14:02] wafels commented on #4458
SunPy could still support instrument-specific data classes for instruments for which no-one is available to maintain a full package like `aiapy`.  For example, I don't think anyone is going to explicitly support SOHO EIT and LASCO.  Also, as new missions arrive, it would be natural for those missions to write instrument-specific data classes.  Perhaps SunPy could encourage that.

[2020-09-10 16:46] ayshih commented on #4458
For consistency, my inclination would to be push those out of the core library as well, potentially to [sunkit-instruments](https://github.com/sunpy/sunkit-instruments).

[2020-09-11 07:16] pabchg1999 commented on #4376
How often does the XRS images are available to download, for instance to make a semi live timeseries

[2020-09-13 09:35] chouhanaryan commented on #4259
Hi, if this is still open can I take it up? I've already created a draft of what could be added to the docs but I'm unable to set up Sphinx locally to test my changes. Any tips on how I go about it?
I tried running `make.bat html` and `make.bat dirhtml`, but it doesn't seem to be working (a lot of errors come up and the process just exits) - am I missing something?

[2020-09-13 10:34] nabobalis commented on #4259
This should still be open, I am personally not aware of a pull request that closed this.

We have two guides on how to get setup: https://docs.sunpy.org/en/latest/dev_guide/newcomers.html#setting-up-a-development-environment and https://docs.sunpy.org/en/latest/dev_guide/documentation.html#sphinx

[2020-09-13 11:30] chouhanaryan commented on #4259
Hi! Thank you for your prompt reply. I went through the docs and ran `tox -e build_docs`, `tox -e build_docs -- -aE`, and `make html` - but I got the same error in all three. Does this have anything to do with the fact that I'm not in a conda environment by any chance?

![image](https://user-images.githubusercontent.com/46817791/93016872-f0864700-f5e1-11ea-8c9f-aaf32e9eaf23.png)

[2020-09-13 13:13] nabobalis commented on #4259
Ah, you are hitting that error. I had assumed it was a setup issue.

That is a current bug that will be fixed by https://github.com/sunpy/sunpy/pull/4466.
It is not an issue with your setup.

[2020-09-14 10:04] chouhanaryan commented on #4453
Hi, I'd like to take this up.
Is it as simple as just adding back the relevant normalization code that was deleted from [here](https://github.com/sunpy/sunpy/pull/2041/files#diff-9fba7e11930644e328435ce0f0ab94dfL133-L148)? I hope I'm not missing something?

[2020-09-14 10:43] nabobalis commented on #4453
Sounds like it.

[2020-09-14 13:44] chouhanaryan commented on #4453
Should I document this behavior in the `affine_transform` docstring? Even though it's an implementation detail, seems like an important one, no? 😅

[2020-09-14 13:53] nabobalis commented on #4453
It is probably worth adding a note.

[2020-09-14 14:25] #4301 closed

[2020-09-14 14:26] #4259 closed

[2020-09-16 10:30] #4469 closed

[2020-09-17 14:27] cbard opened #4478 "OpenCV as alternative library for map.image.affine_transform"
### Description

As part of the [Helio Hackweek](https://github.com/heliohackweek/AIA_acceleration) a few weeks ago, Raphael Attie (@WaaallEEE) and I experimented with using the OpenCV python library, specifically `cv2.warpAffine`, as an alternative to `scipy.ndimage.transform` and `skimage.warp`. I have now figured out the nuances regarding different coordinate systems and order of operations, an

[2020-09-18 13:33] dmueller3000 opened #4480 "Bus error when executing sunpy.self_test()"
### Description
Bus error when executing sunpy.self_test()

### Expected vs Actual behavior
After a fresh install of Anaconda and SunPy, I wanted to test the software by entering:

[code]

Unfortunately, this repeatedly resulted in a bus error -- see transcript below. Any suggestions on how to resolve this are appreciated!

### System Details
MacBookPro 2016,
- SunPy Version: 2.0.1
- Astropy Versi

[2020-09-18 13:35] dmueller3000 opened #4481 "Download of sample data failed"
The download of lyra_20110607-000000_lev3_std.fits timed out.

[code]

[2020-09-18 13:36] dmueller3000 opened #4482 "Sample data: The download of lyra_20110607-000000_lev3_std.fits timed out."
The download of lyra_20110607-000000_lev3_std.fits timed out.

----

(test_dm) smac105009:PFSSPy dmueller$ ipython
Python 3.8.5 (default, Sep  4 2020, 02:22:02)
Type 'copyright', 'credits' or 'license' for more information
IPython 7.18.1 -- An enhanced Interactive Python. Type '?' for help.

In [1]: import sunpy.data.sample
Files Downloaded:  96%|    | 23/24 [00:12<00:00,  2.07file/s]

lyra_201106

[2020-09-18 13:38] dmueller3000 opened #4483 "Sample script on https://docs.sunpy.org/en/stable/guide/tour.html returns "ValueError""
I tried the example on https://docs.sunpy.org/en/stable/guide/tour.html, but unfortunately failed:

[code]

[2020-09-18 13:38] nabobalis commented on #4480
Can you try it in a non-ipython terminal to see if that helps?

[2020-09-18 13:38] #4482 closed

[2020-09-18 13:39] nabobalis commented on #4481
If you happen to run the command again, does it download?

We are aware of an issue with downloading the sample data that seems to occur periodically but is hard to reproduce. A fix will hopefully come in the next bug fix release of sunpy and parfive.

[2020-09-18 14:03] nabobalis commented on #4483
Can I ask what version of sunpy you are using and what version of matplotlib?

I feel like this might have been fixed (I will need to double check) but it has not been released yet.

[2020-09-18 16:15] Cadair commented on #4480
I wonder if this is related to the issues with openblas on OS/X? @ayshih ?

[2020-09-18 16:31] ayshih commented on #4480
Um, maybe?  @dmueller3000: can you provide the output from `conda list`?

[2020-09-19 11:29] dstansby commented on #4478
Personally I think it would be reasonable to add a `method=` argument to `rotate()`, that would replace the `use_scipy` argument, and would then allow values from `'scipy', 'skimage', 'opencv'`. Then code can be added to sunpy to deal with the opencv rotation, and users only need to have opencv installed if they want to be able to use the 'opencv' option.

[2020-09-19 11:32] dstansby commented on #4458
Whilst this sounds like a good idea, in practice there hasn't been any activity on https://github.com/sunpy/sunkit-instruments for 6 months so I think someone would have to take up the responsibility of releasing/maintaining sunkit-instruments first.

How about some sort of 'meta-package' that installs sunpy base + all other helpful packages that integrate with sunpy as a one stop shop for someone

[2020-09-19 13:00] nabobalis opened #4484 "Net Attrs Underlying refactor"
### Description

As we have encountered more cases with our attr registration system (such as  https://github.com/sunpy/sunpy/pull/4466), the underlying code has become more complex, slower and harder to maintain. With this in mind, I think it should be possible to refactor the underlying to be "better".

Aims:
- Less Code
- Fewer loops
- Fewer special cases

The test suite should be enough to cat

[2020-09-20 18:51] wtbarnes commented on #1540
Is this still something we are interested in looking into?

[2020-09-20 18:54] wtbarnes commented on #3373
I would argue that we should just remove that link that tells people to run the tests to make sure their installation is "working." On the whole, I think asking users who just want to install sunpy and load up an AIA image (e.g.) do not and should not care about running tests. If they do, great, but it should not be the first thing they do after installing.

[2020-09-20 18:55] wtbarnes commented on #3373
Also, I'm not really sure what "more aligned with conda-forge" means in this context.

[2020-09-20 21:23] #3282 closed

[2020-09-21 10:38] #3373 closed

[2020-09-21 10:38] #3820 closed

[2020-09-21 10:38] #4130 closed

[2020-09-21 10:38] #4265 closed

[2020-09-21 11:02] Cadair commented on #1540
Don't see why not.

[2020-09-21 14:37] cbard commented on #4478
Yes, I think that's a better suggestion. I believe it's easy enough to change the method handling in `affine_transform()` without touching `rotate()` (except to add the `method=` argument).

[2020-09-21 17:45] wtbarnes commented on #4478
I think the larger issue here though is whether we want to have a few hard-coded options (as we do now) or if we want to allow for arbitrary functions to be passed in to handle the affine transform. I think ideally we would have the latter and then maybe `sunpy` would include options for using scipy or scikit-image as we already do, with these specified as a string. So maybe this would look someth

[2020-09-21 19:00] cbard commented on #4478
Such decisions are above my paygrade, but I have found it easy to leverage the pre- and post-processing in `rotate()`  and `image.affine_transform()` if we define the library-specific routines relative to some base function (`scipy.ndimage.affine_transform`) like so:
[code]
and the main `image.affine_transform()` would be something like
[code]
This would make it easy to manage the logic of switchi

[2020-09-22 15:20] #4453 closed

[2020-09-22 18:22] chouhanaryan opened #4490 "The 'Creating a Composite map' example in the gallery shows warnings"
### Description
The code outputs in the [Creating a Composite map](https://docs.sunpy.org/en/stable/generated/gallery/map/composite_map_AIA_HMI.html) example in the gallery might be bugged.

### Expected vs Actual behavior
The code in the example should show appropriate outputs, but it currently doesn't.

Edit: Well, the code actually runs correctly (just ran it locally), but a number of `SunpyUse

[2020-09-22 19:41] ayshih commented on #4490
In short, the warnings are ignorable.

The `FITSFixedWarning` warnings are expected because the HMI header makes use of a non-standard `'nan'` value (see #4324).  If you want to stop the warnings, you can add the lines:
[code]

The `SunpyUserWarning` warnings are arguably a bug.  We emit a warning when it looks like the user may be supplying a rectangle incorrectly, in this case for the `.submap()

[2020-09-23 02:01] wtbarnes opened #4492 "Passing draw_grid=True to CompositeMap.peek is broken"
### Description

As it says in the title, passing `draw_grid=True` to `CompositeMap` is broken. This was brought up by @schonfsj.

### Expected vs Actual behavior

A grid to be drawn on my composite map. Instead, it throws an error.

### Steps to Reproduce

MWE courtesy of @schonfsj

[code]
which throws the exception
[code]

This is because the axes instance created in `peek` is not passed a `proj

[2020-09-23 02:03] wtbarnes commented on #4492
A simple solution of course would be to just add `projection=self.get_map(0)` (or whatever default index we wanted), but that would be a choice we would need to decide and potentially allow the user to adjust.

The whole of the `peek/plot` functionality in `CompositeMap` probably needs a bit of an overhaul and likely some tests as well since a test did not catch this.

[2020-09-23 02:04] wtbarnes commented on #2745
Also see #4492

[2020-09-23 02:11] schonfsj commented on #4492
And, in case it isn't obvious, doing something like:
[code]
gives the same exception.

[2020-09-23 02:21] wtbarnes commented on #4492
Yep I think that's because it picks up the same, non-WCS axis. Doing,

[code]
 funnily enough gives you,

![image](https://user-images.githubusercontent.com/8676141/93957116-96902a80-fd21-11ea-819a-8b760a11c352.png)

which is obviously not right. Creating `ax` from `hmi_map` and passing `index=1` gives the same thing.

[2020-09-23 09:09] samaloney opened #4493 "Scraper crashes with specific url pattern"
### Description

Scraper has an issue handling a specific url pattern but works fine for a very similar pattern.

Works: `r'http://pub023.cs.technik.fhnw.ch/data/new/'{level}/%Y/%m/%d/{type}/solo_{level}_stix-{product}_%Y%m%d_V01\\.fits`

Breaks: `r'http://pub023.cs.technik.fhnw.ch/data/new/'{level}/%Y/%m/%d/{type}/solo_{level}_stix-{product}_%Y%m%dT%H%M%S_V01\\.fits'`
### Expected vs Actual behav

[2020-09-23 09:30] samaloney opened #4495 "Typo / missing functionality in TimeSeries concatenate method"
### Description
The current method signature is `def concatenate(self, otherts, same_source=False, **kwargs):` so there is a small typo 'otherts' -> 'others' but currently the method can only take a single timeseries so should probably be 'other'. Simplest fix would be to just change 'otherts' to 'other' but I think it might be more beneficial to change to 'others' and add the missing code to hand

[2020-09-23 11:59] dstansby commented on #4495
I *think* the intention might have been "Other TimeSeries" > "otherts", but I can see where the confusion has come from! Not sure what our policy is on renaming arguments (ie. does it need a deprecation?), but definitely agree that we should change it.

Adding the ability to concatenate multiple TimeSeries' is a feature request, PRs welcome 😉

[2020-09-23 12:01] #431 closed

[2020-09-23 12:01] #3961 closed

[2020-09-23 12:13] chouhanaryan commented on #4495
I'd like to work on this - will send in a PR soon 😃

To clarify: For now, I won't rename otherts. Based upon the type of otherts however - i.e. TimeSeries or list, I'll handle it differently, either concatenating directly or looping through the list and concatenating.

[2020-09-23 14:33] ayshih opened #4497 "Doubled calculation of observer location when using SkyCoord"
Not a big deal, but something about using `SkyCoord` leads to two identical calculations of the observer location when the observer location is provided as a string.  Only one calculation is performed when instantiating a frame rather than a `SkyCoord`.

[code]

[2020-09-23 16:07] #4390 closed

[2020-09-23 16:32] kakirastern commented on #4439
@nabobalis Do you have any objection to me naming the example `downloading_with_url_scrapping`? Have just started working on the issue.

[2020-09-23 16:37] kakirastern commented on #4439
Was thinking it is the shortest name I can come up with (operating on the principle of a max length of about 7 words for the file name), but it can be somewhat imprecise and misleading...

[2020-09-23 16:40] dstansby commented on #4478
We had a chat about this on our weekly dev call, and and decided the best way forward with this is to accept an arbitrary function as the `method` argument. I think the next step here (open to being worked on to whoever wants to) is to define what the function signature we accept is going to be.

[2020-09-23 16:49] nabobalis commented on #4439
No problem with it.

[2020-09-23 16:58] kakirastern commented on #4439
Good you are okay with it 🙃

[2020-09-23 18:53] cbard commented on #4478
Ok, sounds good. I'm 80% of the way to having drop-in arbitrary functions in `rotate()`, so I'll make a pull request in the next few days.

It looks like the drop-in function signature is probably going to be the same as the current implementation of `affine_transform`, except without the `method=` argument. I think openCV is different enough from skimage and scipy.ndimage that the rotation, scali

[2020-09-23 22:16] dstansby commented on #4189
I've put code to take a coordinate and return appropriate observer metadata in `pfsspy` if anyone is interested in adding it to sunpy: https://github.com/dstansby/pfsspy/pull/230/files

[2020-09-24 00:20] ayshih commented on #4189
#3110 is related, but not a duplicate

[2020-09-24 04:32] chouhanaryan commented on #4495
I've been trying to look for ways to do this and I'm unable to choose between two different approaches -
1. Simply check the type of otherts. If it is a TimeSeries object, pack it as a list and handle it as I would any other iterable (for which I'll be writing code anyway).
2. Overload the `concatenate` method using `@seconddispatch` and handle it differently depending upon the type of otherts at

[2020-09-24 08:18] nabobalis commented on #4495
Pick the one you prefer.

[2020-09-24 15:33] dstansby opened #4500 "Add "drawing a rectangle on a map" example"
As far as I can see there is no simple example in the gallery showing how to plot a rectangle on the map; this should have examples showing how to define the corners as pixels, and defining the corners as coordinates.

[2020-09-24 15:34] dstansby opened #4501 "The gallery has no easy to read table of contents"
https://docs.sunpy.org/en/stable/generated/gallery/index.html has no easy to read table of contents, listing each of the gallery sections. Ideally I think the table of contents in the LH sidebar shouldn't have links to the specific examples, but adding a table of contents at the top would also work.

[2020-09-24 19:40] Cadair commented on #4500
:facepalm:

[2020-09-24 20:14] Cadair commented on #4501
I am not sure I agree with this. The point of the gallery is to be graphical, to be able to see a plot you want to make etc. The table of contents like you want is already in the side bar, putting it at the top of the index page would mean everyone has to scroll down to get to the pretty pictures.

[2020-09-24 21:39] dstansby commented on #4501
But at e.g. https://matplotlib.org/gallery/index.html, it is easy to see at a glance the different categories. My use case was going to the gallery to look at the "Plotting" related examples, but it wasn't very easy to find these without a table of contents.

[2020-09-24 21:39] dstansby commented on #4501
(and I think the sidebar table of contents is useless, as it's too verbose to actually find anything)

[2020-09-24 21:41] wtbarnes commented on #4501
Can't we just set the toc level to 1 or something like that? That way you can use the sidebar to more easily navigate to the different categories

[2020-09-25 09:32] Cadair commented on #4501
I am not 100% sure you can do that on a sub level like that in just the gallery.

[2020-09-25 17:27] chouhanaryan commented on #475
Hi, I'd like to take this up. From what I can gather, this involves updating two properties of the `LASCOMap` class - `measurement` and `wavelength` (inherited from `GenericMap`). This change will then propagate to str, nickname (? - doesn't this only display the name of the instrument and the detector - ?) and repr.

From where can I get the appropriate info required for this? Even though this is

[2020-09-25 17:42] #4501 closed

[2020-09-26 09:04] #4490 closed

[2020-09-26 11:39] #4201 closed

[2020-09-28 08:15] chouhanaryan commented on #3359
Hi, is this issue still open? What else needs to be added to resolve this issue?

[2020-09-28 09:05] nabobalis commented on #3359
I am not sure. We did have an issue with the NOAA predict which is now fixed in 2.0.2.

I will close this until someone else chimes up.

[2020-09-28 09:05] #3359 closed

[2020-09-28 10:51] dstansby opened #4508 "Sunpy 2.0.2 header duplicated in changelog"
https://docs.sunpy.org/en/stable/whatsnew/changelog.html
![Screenshot 2020-09-28 at 11 50 25](https://user-images.githubusercontent.com/6197628/94423654-df603d00-0180-11eb-98b8-7c2db1d59327.png)

Not a massive issue, but should probably fix before the next release.

[2020-09-28 10:55] nabobalis commented on #4508
I wonder how that happened.

[2020-09-28 12:28] dmueller3000 commented on #4480
@nabobalis :
Can you try it in a non-ipython terminal to see if that helps?
No, unfortunately the behavior is identical in a regular terminal.

--
@ayshih :
Here you go:

# packages in environment at /Users/dmueller/lib/anaconda3/envs/test_dm:
#
# Name                    Version                   Build  Channel
aioftp                    0.17.2                     py_0    conda-forge
aiohttp

[2020-09-28 12:36] dmueller3000 commented on #4481
When I ran it again, it did not show a download bar, but no error message either. When I proceeded with trying out the examples on https://docs.sunpy.org/en/stable/guide/tour.html, I could plot the AIA image, but failed when trying to plot the GOES light curve:

In [9]: import numpy as np
   ...: import sunpy.data.sample
   ...: import sunpy.timeseries as ts

In [10]: my_timeseries = ts.TimeSeries

[2020-09-28 12:48] hayesla commented on #4481
Hmm that's strange - it looks like there was a bug in the `.peek()` of GOES for the ticklabels (the length of tick mark list does not equal the length of the labels.)

I think this bug was removed a while back.  What version of sunpy are you using?

Either way - I think the `.plot()` functionality should work (?):
[code]

[2020-09-28 12:54] hayesla commented on #4495
I have a silly question @samaloney  - would `my_timeseries = TimeSeries(listofiles, concatenate=True)` not be the same?

[2020-09-28 13:28] Cadair commented on #4508
This smells like the dev changelog code running on a release?

[2020-09-28 13:39] dstansby opened #4509 "Some tests raising warnings, but the test suite isn't failing"
e.g. https://dev.azure.com/sunpy/sunpy/_build/results?buildId=9732&view=logs&j=90fb3984-273f-5c22-0ea1-da9b62a2f74c&t=0369260d-660a-5340-720a-a028839aef79&l=4565

[code]

These warnings should be making the tests fail, but they're not. We should
- Investigate and fix why these warnings aren't failing the tests
- Fix or catch the warnings in the tests

[2020-09-28 14:23] ayshih commented on #4480
Hmm.  The crash is within `scikit-image` at [this line](https://github.com/scikit-image/scikit-image/blob/99c4902e26c9ec586b51120efcae26ffbae9eb0f/skimage/transform/_geometric.py#L553), which is two transposes and a matrix multiplication.  This is exactly the same line that can cause OpenBLAS-associated failures on our CI (see #4290), although the failure mode here is quite different.  If this iss

[2020-09-28 14:36] dstansby commented on #4509
A bit of investigation has revealed 4 calls to `warnings.simplefilter('always', Warning)` in `timeseriesbase.py`. When commented out the errors raise properly...

[2020-09-28 14:37] nabobalis commented on #4509
Do they exist elsewhere?

[2020-09-28 16:13] kakirastern commented on #4376
Issue current being dealt with in #4394.

[2020-09-28 16:33] kakirastern commented on #3941
To be closed automatically once #4358 is merged...

[2020-09-28 17:08] kakirastern commented on #2645
Just doing a bit of triaging: Any follow up on this discussion? Could be a good `Hacktoberfest` issue if a decision can be made by then.

[2020-09-28 17:13] kakirastern commented on #2581
@Cadair Yeah, I think #2867 fixes this issue, but @DanRyanIrish used the wording "address" instead...

[2020-09-28 18:01] dstansby commented on #2645
I don't think there has been much discussion about this, and I don't think we'll be moving from storing the data as a `DataFrame` underneath for at least while, so I don't think this is urgent? I'm tempted to close this since I think we really need some higher level planning for `TimeSeries` to happen before we change anything.

[2020-09-28 18:03] #2645 closed

[2020-09-28 18:37] dmueller3000 commented on #4480
Thanks for looking into this, Albert!

(i) See below. test.py contains the two lines
import sunpy
sunpy.self_test()

(ii) No mismatches are reported.

(iii) With this, I get considerably further, but finally end up with different error messages (see below).

Best regards,
Daniel

---

ad (i):
(test_dm) smac105009:PFSSPy dmueller$ python test.py
=====================================================

[2020-09-28 18:40] dmueller3000 commented on #4483
2.0.1

3.3.1

[2020-09-28 18:47] dmueller3000 commented on #4481
Hi Laura,

I am using Sunpy 2.0.1. Your suggestion works, i.e. I can plot the time series - thanks! However, I get other warnings that I, as a Python beginner, do not yet understand ;-)

Best,
Daniel

---

In [2]: import numpy as np
   ...: import sunpy.data.sample
   ...: import sunpy.timeseries as ts
   ...:
   ...: my_timeseries = ts.TimeSeries(sunpy.data.sample.GOES_XRS_TIMESERIES, source='XRS

[2020-09-28 18:50] nabobalis commented on #4481
What are the warnings specially? The `ValueError`?

[2020-09-28 18:59] dmueller3000 commented on #4481
Just those two listed above. No further warnings when I execute plt.show().

[2020-09-28 19:01] nabobalis commented on #4481
You mean:

[code]

and
[code]

[2020-09-28 19:20] ayshih commented on #4480
This one's easy to fix.  You're simply missing the `pytest-mock` package, which is not listed as an explicit conda dependency of SunPy, but is required for some of the tests.

Hmm.  This would make more sense if there had been some mismatches...  Can you run the function in multiple terminals in parallel to see if that produces any mismatches?

[2020-09-29 09:45] nabobalis commented on #4483
Can you try updating to sunpy 2.0.2 and matplotlib 3.3.2? (If you installed it via pip you can do `pip install -U sunpy` or if you did it via conda, it should be `conda update sunpy`)

I think we might have patched this code in response to a bug.

[2020-09-29 09:51] nabobalis commented on #4481
So in this case, pure python does not support nanoseconds and if they do exist they are ignored during any time conversion. This should be safe to ignore unless you are after nanosecond precision.

We have recently patched sunpy to use nanoseconds during a conversion so in 2.0.2, this warning hopefully won't be emitted anymore.

This is not something I am personally familiar with, a google seems t

[2020-09-29 09:57] nabobalis commented on #4480
I wonder if we should just add them all to the recipe.

[2020-09-29 10:06] Cadair commented on #4480
We do not need more conda deps.

[2020-09-29 11:59] chouhanaryan commented on #4500
Hi, I've been working on this. I've created proper plots for `draw_rectangle(bottom_left, top_right=top_right)` and `draw_rectangle(bottom_left, width=width, height=height)`.

I'm a bit confused with plotting using pixels though. One method would be to create a submap using the pixels and then pass its `bottom_left_coord` and `top_right_coord` to `draw_rectangle`, and even though it works, it seem

[2020-09-29 12:14] dstansby commented on #4500
I mistakenly thought that `draw_rectangle` could take pixel input (like `submap` can), but it can't. I think an example showing what you've managed to do so far would be great 👍

[2020-09-29 14:02] wafels opened #4516 "SunPy has two different functions that calculate the Sun's angular radius"
### Description

SunPy has two different functions that calculate the Sun's angular radius:

https://github.com/sunpy/sunpy/blob/master/sunpy/map/maputils.py#L84
https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/sun.py#L62

### Expected vs Actual behavior

I expect that there should be only one function in SunPy to calculate the Sun's angular radius.

### Steps to Reproduce

### System

[2020-09-29 14:09] ayshih commented on #4516
For completeness, I'll note that this line doesn't call either function:
https://github.com/sunpy/sunpy/blob/2b8ee1b25ee16199b92e9d396675e51e457b1368/sunpy/map/header_helper.py#L227

[2020-09-29 14:46] ayshih commented on #4516
As an aside, the arcsin/arctan disagreement is fixed by #4518

[2020-09-29 14:51] #4509 closed

[2020-09-29 15:25] ayshih opened #4519 "LASCOMap doesn't have the correct instrument name for C3 data?"
We have a gallery example that downloads LASCO C3 files via Fido: https://docs.sunpy.org/en/latest/generated/gallery/acquiring_data/downloading_lascoC3.html

The title of the generated Map plot shows "LASCO-C2":
![sphx_glr_downloading_lascoC3_001](https://user-images.githubusercontent.com/991759/94578950-4a277c00-0246-11eb-8d75-55cb7f61c9e1.png)

We need to figure out whether we need to fix some m

[2020-09-29 15:42] Cadair commented on #4519
Also that's the C2 colourmap right?

[2020-09-29 15:51] resakra commented on #4519
Could you please assign me to do this with Python for Hacktoberfest? Thanks a lot in advance

[2020-09-29 16:00] nabobalis commented on #4519
Hi @resakra, we tend to not assign anyone to issues as we always lose track of it. But since this is for Hacktoberfest fest, I think we can make an exception.

[2020-09-29 16:02] Cadair commented on #4519
Always fun to test out new workflows :grinning:

[2020-09-29 16:08] resakra commented on #4519
Thanks again Nabobalis! I appreciate it.

[2020-09-30 04:16] BassCoder2808 commented on #4516
So basically  we want to have only one function which will calculate the expected as well as the actual Sun's angular radius.
But these functions are in 2 different folders. So which function do you want to retail ?
And do we have to create a new function in all or just modify it.
I would like to contribute on this issue.

[2020-09-30 11:17] Cadair opened #4522 "Remove things which are in the sunpy/.github repo"
https://github.com/sunpy/.github/  including issue templates and CONTRIBUTING.rst

[2020-09-30 17:04] nabobalis commented on #4516
Hi @BassCoder2808, yes you are correct but a PR has been just opened addressing this.

We would strongly suggest having a look at some other issues.

[2020-09-30 18:03] RL4215 opened #4527 "get_dates() does not work when under 24hours and spans two days"
### Description

When using the get_dates function spanning two days it should output both of the days that the time intervals spans. However, this function does not work when the time period is under 24 hours.
### Expected vs Actual behavior

If I have the following time interval
starttime_correct = datetime(2020, 1, 1, 12)
endtime_correct = datetime(2020, 1, 2, 13)
then this function should outp

[2020-09-30 19:49] chouhanaryan commented on #2733
I'm assuming this is still open? So is a new example required or a modification to an earlier one?

[2020-09-30 19:57] wafels commented on #4519
In the docs, the "2" at the start of the filenames seen from `print(downloaded_files`) indicates that the files should be LASCO C2 files.

[2020-09-30 19:58] nabobalis commented on #2733
Either.

[2020-09-30 21:16] wafels commented on #4395
Yeah this looks "incomplete" at best :/  I must have written the Map source in order to read the resulting JP2 files into Helioviewer.  However, the JP2 files were written at Montana State University (MSU).  I remember working with someone at MSU on making the JP2 files - that person wrote the code that read the Yohkoh files in and converted them to JP2.

Might be worth downloading a few FITS file

[2020-09-30 21:17] wafels commented on #4395
Yohkoh data can be found here: http://ylstone.physics.montana.edu/ylegacy/

[2020-09-30 23:58] SophieLemos commented on #4527
Mind if I take this issue?

[2020-10-01 01:01] kakirastern commented on #4527
@SophieLemos Sure! We normally do not assign issues, but since it is `Hacktoberfest` 2020 we are currently making an exception. I also noticed that this issue does not come with that label. However, you are definitely more than welcome attempt it as no one has already done so.

[2020-10-01 01:15] SophieLemos commented on #4527
Thanks! I did work on solar design software so the project caught my eye. #4529

[2020-10-01 01:20] kakirastern commented on #4527
You are welcome! Someone will take a look of your PR shortly.

[2020-10-01 07:39] resakra commented on #4519
@wafels You mean it should be C3 not C2 and the header should be changed?

[2020-10-01 07:59] chouhanaryan commented on #4500
@dstansby I've made the example but that got me thinking - wouldn't it make sense for `draw_rectangle` and `submap` to have similar interfacing? The only difference between them right now seems to be that `draw_rectangle` doesn't allow inputs to be pixels. Every other form of input is allowed for both. Maybe we could add that to it?

[2020-10-01 08:33] nabobalis commented on #4519
It looks like we might have a bug in our downloader.

For now we could change the example to be C2 data and change `detector = a.Detector.c3` to `detector = a.Detector.c2`

[2020-10-01 09:19] #4522 closed

[2020-10-01 10:09] resakra commented on #4519
![GitHub Logo](/images/logo.png)

[2020-10-01 10:10] resakra commented on #4519
![GitHub Logo](/images/logo.png)
Format: ![Alt Text](url)

[2020-10-01 13:39] ayshih commented on #4516
#4524 fixes all of the underlying code issues, but there still is an API issue of whether we want two functions in two different places that both return the Sun's angular radius, even though the inputs are quite different.  I'll point out that the function in `map/maputils.py` is a bit odd since it doesn't actually involve a Map in anyway, so maybe it should be moved to `coordinates/utils.py` rega

[2020-10-01 13:46] wafels commented on #4519
I think there is a bug in the downloader.  I agree with @nabobalis that we should just change the docs so that acquiring and displaying a LASCO C2 image is the point of this example.  If a bug report on the download has not already been posted, I will post one.

[2020-10-01 14:18] wafels opened #4533 "We aren't sending Detector attr to VSO (Fido downloads the wrong LASCO data)"
### Description

LASCO C3 data is downloaded instead of the requested LASCO C2 data (as pointed out by issue #4519, the example claims to download and display LASCO C3 data, but this is not the case).

### Expected vs Actual behavior

I expected that LASCO C3 data would be downloaded and displayed.

### Steps to Reproduce

[code]

The detector keyword reads 'C2', and the CUNIT1 and CUNIT2 values a

[2020-10-01 14:26] Cadair commented on #4533
This is likely a VSO bug / quirk? We need the debug logs.

[2020-10-01 14:31] Cadair commented on #4533
@wafels I hope you can't reproduce this on release sunpy right??

I suspect it was introduced in #4321

[2020-10-01 14:34] Cadair commented on #4533
Oh goodie you can reproduce this on the 2.0 branch as well.

[2020-10-01 14:35] nabobalis commented on #4533
try 1.0!

[2020-10-01 14:47] Cadair commented on #4533
yeah 1.1 and 1.0

[2020-10-01 15:47] Cadair commented on #4519
tbh given it's broken just remove the line?

[2020-10-01 16:47] platipo commented on #4484
Hi, I'd like to work on this issue if nobody is already doing it

[2020-10-01 16:50] nabobalis commented on #4484
No one else is working on this but this is not a straightforward task to start with.

[2020-10-01 21:45] wafels commented on #4376
@hayesla thanks for the note about the FITS data at the SDAC.  Does anyone know if the SSWIDL client also accesses the SDAC data?  It's concerning that the SDAC is serving these data given that more up-to-date exists.

[2020-10-01 21:53] jwreep commented on #4376
SSWIDL serves the up to date data, but I'm not sure if it's now direct from NOAA or through SDAC.

[2020-10-01 21:54] wafels commented on #4376
which function accesses the GOES data?

[2020-10-01 22:09] jwreep commented on #4376
It's hard to tell from the traceback, but I pull the data with a function as follows:
[code]
It looks like it calls a function in there named $SSW/gen/idl/synoptic/goes/ssw_noaa_goes2ssw

Richard Schwartz would be able to answer more definitively.

[2020-10-01 22:55] samaloney commented on #4493
After looking at this a bit more it a combination of RTFM/user error  the docs state you can't use regex and keyword substitution at the same time.

However when switching over to regex processing I found that you can't use any dots in you regex e.g. `.*` as they are replaced at the start of processing which is not documented.

https://github.com/sunpy/sunpy/blob/d2fd01d6ec5e064f1575c7788e8b1c9c41

[2020-10-02 09:39] chouhanaryan commented on #2733
@nabobalis Any suggestions? I thought about creating an example similar to [this](https://docs.sunpy.org/en/stable/generated/gallery/units_and_coordinates/planet_locations.html) where we can plot the locations of the planets with respect to a certain satellite, instead of the sun. I've been racking my brain but I don't know enough about solar physics to distill this info into an example. Please po

[2020-10-02 10:02] nabobalis commented on #2733
Then just modify an existing example to make it easier?

[2020-10-02 10:20] dstansby opened #4535 "Latest stable release docs don't show at top of "sunpy docs" searches"
Searching for "sunpy docs" on both DuckDuckGo and google, the actual documentation landing page for the stable release does not appear (see below). Maybe there's nothing to be done, but it's worth checking that the canonical URL is set in readthedocs: https://docs.readthedocs.io/en/stable/guides/canonical.html.

![Screenshot 2020-10-02 at 11 17 40](https://user-images.githubusercontent.com/6197628

[2020-10-02 10:25] Cadair commented on #4535
I don't think the canonical domain settings on RTD will help here (they are all enabled). We have even disabled a lot of these versions on the RTD project page. I am pretty much out of ideas here.

[2020-10-02 10:30] dstansby commented on #4535
https://docs.readthedocs.io/en/stable/faq.html#how-can-i-avoid-search-results-having-a-deprecated-version-of-my-docs - suggests setting up a custom robots.txt to stop old versions being indexed by search engines, which sounds like a good idea?

[2020-10-02 10:47] Cadair opened #4536 "Improve the dev guide handling"
Having given it some thought I think we can improve how we handle the different versions of the developers guide.

## Current Situation

* Upon branching for a major release we remove all docs in the dev_guide folder, apart from the stability page.
* We add a simple link on the release dev_guide index page to the latest version of the docs where the dev guide is still built.

## Desired Situation

[2020-10-02 11:00] nabobalis commented on #4535
Yeah if we can make that work we should.

[2020-10-02 11:10] Cadair commented on #4535
![image](https://user-images.githubusercontent.com/1391051/94917331-409d4e80-04a8-11eb-826a-d16aa20b81ab.png)

[2020-10-02 11:19] kakirastern commented on #4535
**Quick double check**: Is it something that can be helped with the Google Search Console for setting up webpage indexing if SunPy owns the concerned URL's domain?
https://search.google.com/search-console/about

[2020-10-02 11:25] dstansby commented on #4535
Are the old versions deactivated or just hidden on readthedocs? (https://docs.readthedocs.io/en/stable/versions.html#hidden). If they're hidden but still active readthedocs should automatically add them to Disallow in `robots.txt`, but that currently isn't happening: https://sunpy.readthedocs.io/robots.txt

[2020-10-02 13:16] ayshih commented on #2733
@chouhanaryan I suggest you find another issue to work on.  I just tried to use this functionality myself, and something's not working properly.

I'm changing the labels

[2020-10-02 13:22] nabobalis commented on #2733
Is it bugged?

[2020-10-02 13:32] ayshih commented on #2733
Maybe?

- It works fine as currently utilized in our codebase.
- It works fine for explicit coordinate manipulations (i.e., user-created frames).
- It can't be used at all for Map – presumably a significant use case – because the coordinates and frames are all created on the fly from metadata.  This is a bug of omission: there would need to be an exposed way to specify the observer's object name.

[2020-10-02 13:40] ayshih commented on #2733
Ah, it's not skipping the initializer per se, but rather there's a difference in behavior when the observer coordinate is provided in an Astropy frame (e.g., HAE for AIA) versus a SunPy frame (e.g., HGS).

[2020-10-02 14:11] chouhanaryan commented on #2733
Oh nooo. I just figured out a good spot in the examples to squeeze this information in. In [this](https://docs.sunpy.org/en/stable/generated/gallery/map_transformations/reprojection_different_observers.html) example, right towards the end in the 'AIA as seen from Mars' section, the `mars_ref_coord` uses the mars object created right before that line as the observer. Instead of having to do that, y

[2020-10-02 15:18] Cadair commented on #4535
Pretty sure we removed a bunch completely.

[2020-10-02 15:19] Cadair commented on #4535
![image](https://user-images.githubusercontent.com/1391051/94940151-03968380-04cb-11eb-8964-a1d1e91ec23c.png)

[2020-10-02 15:37] dstansby commented on #4535
Is there any way the static files could be hanging around somewhere? e.g. https://docs.sunpy.org/en/0.2.0/ still seems to be working fine.

[2020-10-02 15:40] Cadair commented on #4535
sure, I guess rtd keeps them? I have no idea.

[2020-10-02 15:43] nabobalis commented on #4535
What if we delete the entire project and start fresh?

[2020-10-02 15:44] nabobalis commented on #4535
All the versions that are inactive have public but are hidden in the edit section.

[2020-10-02 15:44] dstansby commented on #4535
I think it might just be the 0.2.0 docs that are hanging around, what is the status of that tag? Maybe could try re-activating and re-deactivating?

[2020-10-02 15:45] nabobalis commented on #4535
RTD says: "When you deactivate a version, its docs are removed."

What if I reactivate them then deactivate them?

[2020-10-02 15:46] nabobalis commented on #4535
I did just this for 0.2.0 and it didn't seem to do anything.

[2020-10-02 15:46] dstansby commented on #4535
Yes it did, https://docs.sunpy.org/en/0.2.0/ is no longer working for me

[2020-10-02 15:47] nabobalis commented on #4535
Ah I was cached.

[2020-10-02 15:47] nabobalis commented on #4535
I wonder what other versions are around, time to go fishing.

[2020-10-02 15:48] dstansby commented on #4535
The other search result that turns up is @ehsteve's fork version of the docs. @ehsteve could you deactivate all of the versions of the docs on readthedocs for your for so they don't turn up in search results?

[2020-10-02 15:51] nabobalis commented on #4535
Oh we have so many versions floating around.

[2020-10-02 16:03] nabobalis commented on #4535
I've sent an email.

[2020-10-02 16:26] chouhanaryan commented on #4456
@ayshih Not sure if this is accurate but I tried to put two and two together from your explanation, the example, and the documentation. Does it work?

[2020-10-02 16:28] nabobalis opened #4539 "Rename docfix changelogs to doc"

[2020-10-02 19:18] nabobalis commented on #4535
Sent reply, old builds should be pruned, just need to wait for search results to update.

[2020-10-02 19:19] nabobalis commented on #4535
Do we need to do anything with the robots or are we good to close this?

[2020-10-02 19:20] Cadair commented on #4535
Can we robots to make it take stable?

[2020-10-02 19:28] nabobalis commented on #4535
Who knows.

[2020-10-02 22:59] kots14 commented on #4539
Is it a task for renaming all files *docfix* under changelog directory to *doc* ?
As a beginner I'd like to start off with this. If I've understood the requirement correctly, I'd request you to assign this task to me.

[2020-10-02 23:03] nabobalis commented on #4539
Yes.

[2020-10-03 06:52] kots14 commented on #4539
I've created a PR for this. Please let me know if the changes are as per your expectations or not.

[2020-10-03 08:44] nabobalis commented on #4539
Fixed by #4543

[2020-10-03 08:44] #4539 closed

[2020-10-04 08:18] bhadreshpsavani commented on #2822
Shall I work on it?

[2020-10-05 11:04] #4527 closed

[2020-10-05 11:07] dstansby opened #4546 "Add coordinate-system checks to maputils functions"
Lots of `sunpy/map/maputils.py` assumes that a helioprojective map is being passed. Therefore, if (e.g.) a synoptic map is passed into lots of those functions, I suspect there will be lots of unhelpful errors. We should

- Create a helper function `is_helioprojective_map` that returns `True` if a map is helioprojective, `False` otherwise
- Use this check in `maputil` functions
- Raise a user-frien

[2020-10-05 13:18] ayshih commented on #4546
I changed the title of this issue to reflect its contents.  A separate issue can be created for enhancing `maputils` functions as possible to support synoptic maps.

I'll note that there are other projected coordinate systems beyond helioprojective (e.g., any equatorial-like system using RA/dec) that all `maputils` functions in principle can support.  One sticking point is that `Helioprojective` c

[2020-10-05 15:09] ayshih commented on #4456
@chouhanaryan Your description is pretty good, but I suggest rewriting it so:

[2020-10-05 15:15] ayshih commented on #4519
Closed by #4537

[2020-10-05 15:15] #4519 closed

[2020-10-05 18:44] chouhanaryan commented on #4546
To check if a map is helioprojective or not, is the following adequate?
[code]

[2020-10-05 20:12] #4456 closed

[2020-10-05 20:14] ayshih commented on #4546
Yup.  One `maputils` function already has such a check:
https://github.com/sunpy/sunpy/blob/332dc4ebd91e1ae62f10253c3e7ff81c06aa04fe/sunpy/map/maputils.py#L225-L226

[2020-10-06 04:11] chouhanaryan commented on #4546
Would it be better to have the function check if the frame passed is helioprojective or not, as opposed to the map passed? As in, have the function `is_helioprojective_frame`. I'm asking because some functions require a check if the coordinates (not maps) they use are helioprojective or not. This function would then be able to handle both - frames of coordinates and maps.

[2020-10-07 05:27] chouhanaryan commented on #4492
@wtbarnes Could I take this up? Could you describe what needs to be done?

[2020-10-07 05:31] kakirastern commented on #4492
@chouhanaryan As usual since this is technically still `Hacktoberfest` I can assign the issue to you. But I will let @wtbarnes follow it up and provide more details for you to start if applicable.

[2020-10-08 15:37] DanRyanIrish opened #4551 "ArrayAnimatorWCS slices API ordering"
### Description

The ordering of the ```slices``` list input to ```ArrayAnimatorWCS``` is in WCS order.  However, this is not stated in the docstring.  Is this a bug?  Should ```slices``` in fact be Numpy order to be consistent with the data array?

### Expected vs Actual behavior

### Steps to Reproduce

[code]

### System Details

- SunPy Version:
- Astropy Version:
- Python Version:
- OS inform

[2020-10-09 10:33] johan12345 opened #4553 "Helioviewer SOHO/LASCO coronagraph images: CROTA2 header correct?"
### Description

When looking at the FITS headers of the JPEG2000 files supplied by the Helioviewer API for SOHO/LASCO C3 and C2, I noticed that the CROTA2 header is set to non-zero values. If I understood correctly, this header contains the rotation of the image in degrees relative to solar north.

SunPy [uses this information to assign a rotation matrix to the Map](https://github.com/sunpy/sunpy

[2020-10-09 11:01] nabobalis commented on #4546
What about a more generic assert function? You pass in a map/frame and the coordinate system you are after and it checks it for you and raises an error.

[2020-10-09 13:57] wafels commented on #4553
The SOHO spacecraft rolls every 3 months in order to keep its high gain antenna visible by the Earth.  The orientation of SOHO should be recorded in the LASCO FITS header.

Helioviewer JPEG2000 images were originally designed to enable the browsing and visualization of solar image data online.  LASCO JPEG2000 images are created using an adapted version of the LASCO data processing pipeline to save

[2020-10-09 15:16] ayshih commented on #4553
The problem for SunPy, of course, is that a user calling `.rotate()` on such a Map will be making use of metadata that no longer applies.  In fact, I did exactly that in [this post](https://github.com/sunpy/sunpy/pull/4003#issuecomment-611033912), which is why my Maps are wonkily rotated.

The fix in SunPy should be that our `LASCOMap` class performs some cleanup on the keywords if the data/header

[2020-10-09 15:46] chouhanaryan commented on #4546
Wouldn't that force the user to pass an extra parameter/object that they're not necessarily working with directly (eg. specifying `frame='Helioprojective'/Helioprojective`)? It'd be as good as them manually checking the type using `isinstance`. I'm not too sure if that's a good thing.
In the long run, if we're supporting different types of maps then why not simply overload the function and define

[2020-10-09 16:10] dstansby opened #4555 "JSOC download unexpectedly returns"
Running a medium sized download from JSOC via. Fido, the actual download is unexpectedly stopping before it is complete. The `Fido.fetch` command just seems to be returning early (before all files downloaded), as the print statement underneath is run fine.

Luckily sunpy is clever enough to cache files, and JSOC is clever enough to recognise repeat requests that I can just re-run the code a few ti

[2020-10-09 16:13] nabobalis commented on #4555
This has also been reported upstream to parfive. The question is working out if the issue is with how fido fetch uses parfive or if parfive is the source of this problem.

[2020-10-09 17:24] nabobalis commented on #4546
My impression from this was that this would not be a user facing function and something to use in functions to check the frame. If this is the case, we potentially need a function for each frame or we could have one.

Overload the function?

[2020-10-09 17:25] johan12345 commented on #4553
@wafels Thank you for the detailed explanation!

@ayshih Indeed, that looks like the simplest fix for now, until the metadata provided by Helioviewer is adjusted with new JPEG2000 files. I can take a look at that and create a PR (over the weekend or maybe early next week).

[2020-10-09 19:38] chouhanaryan commented on #4546
Well, what I'm getting at is that if we definitely want to support all of these maputil functions for different types of maps, if we were to directly overload them, there would be no type-checking required. It wouldn't matter whether the map was synoptic or helioprojective - it would be routed to the appropriate fn. If an invalid frame was passed, the original fn would raise a TypeError. So a sepa

[2020-10-10 03:16] ayshih commented on #4546
Overloading is an intriguing suggestion, but it's clearly overkill until we want to support some non-Helioprojective frames as well.  Even if we do want such support, it may still be cleaner to implement through logic branches in a single function rather than through overloading since most of the code would be redundant.

[2020-10-10 11:38] chouhanaryan commented on #4546
Right. I agree, it does seem like an overkill.

I suppose @nabobalis's suggestion works then. A more generic function would definitely be useful.

[2020-10-10 12:41] kakirastern commented on #4492
@chouhanaryan Be careful to check the status of https://github.com/sunpy/sunpy/issues/2745 to avoid duplicate efforts, if you are still interested in the issue. If not, simply let us know. Would be grateful.

[2020-10-10 13:03] chouhanaryan commented on #4492
@kakirastern Oh, I'm sorry if I'm imposing. Feel free to unassign me if you need to.

I would definitely like to work on the issue if it's still open though. I was just waiting for some more info and context before getting started 😅

[2020-10-10 13:09] kakirastern commented on #4492
Hey @chouhanaryan No worries, we do want your input! In fact, we want a perfect effort from you 😜 Absolutely no pressure

[2020-10-11 08:10] nabobalis opened #4559 "32bit Testsuite Failure"
This is now occurring on the 32bit builds.

[code]
The only difference I can see between a failed and successfully build was `astropy==4.0.2 failed` and `astropy==4.0.1.post1` passed.

I assume this is an astropy bug?

[2020-10-11 08:55] #4484 closed

[2020-10-12 10:50] dstansby commented on #4555
The download errors are all like:
[code]

[2020-10-12 13:51] Cadair commented on #4555
That would be connection error on either JSOC or your internet connection. It could be that it's rate limiting you, maybe we should drop the number of connections we open further?

[2020-10-12 13:54] nabobalis commented on #4555
To 1?

[2020-10-12 13:56] Cadair commented on #4555
:shrug: maybe

[2020-10-12 14:00] nabobalis commented on #4555
Is it 8 now? We should halve it and see how that goes. Anyone want to try this?

[2020-10-12 15:46] Cadair opened #4564 "improve setuptools_scm dev version handling"
copy this: https://github.com/astropy/astropy/pull/10774

[2020-10-12 16:56] dstansby commented on #4555
Am running the download now on one connection (with the fix in https://github.com/sunpy/sunpy/pull/4565), and am about 30% of the way through without it dropping.

[2020-10-12 16:58] nabobalis commented on #4555
One it is.

[2020-10-12 17:11] dstansby commented on #4555
Yep, finished fine with 1 connection.

[2020-10-13 11:05] kathivashkiv commented on #4492
@chouhanaryan Hi, I'd like to try this issue, but you were assigned to it, so I want to ask, are you working on it? (not to duplicate the work)

[2020-10-13 13:19] Cadair commented on #4555
Well I think setting splits = 1 and connections to 2 might be good.

[2020-10-14 10:53] Cadair commented on #4551
It follows WCSAxes which is wcs order, the current behaviour should be documented.

[2020-10-14 16:33] Cadair opened #4571 "Write a checklist for doing a feature freeze"
probably addenda to the release checklist

[2020-10-15 13:56] dstansby commented on #3918
Also +0 for a SEP. In the meantime, for sunpy 2.1 I propose we specify astropy >= 4, will have been out for 1y when sunpy 2.1 is released hopefully and is a LTS.

[2020-10-15 14:13] Cadair commented on #3918
We appear to have adopted a "bump it by a version" each release and master has already been bumped to 4.0. This does kind of get a little sticky with the super delayed 4.1 release, but otherwise I am pretty happy with the emergent status quo. Perhaps we should write it down.

[2020-10-15 14:16] ayshih commented on #3918
Which reminds me that we should make some progress on #4000, although none of the stuff identified has any real benefit to users.

[2020-10-15 20:19] shubham00jain commented on #4536
@cadair I would like to work on this task. I looked in `docs/conf.py ` file and as you mentioned some changes are needed in **excluded_patterns** it is an array consisting of 3 values `exclude_patterns = ['_build', 'Thumbs.db', '.DS_Store']`. Can you suggest what changes might be required in it? Thanks!

[2020-10-16 02:05] kakirastern commented on #4536
Hi @shubham00jain Since it is still October and Hacktoberfest is still under way, we are adopting a time limited policy and will assign this task to you to work on. But if you are indeed participating Hacktoberfest please remember to start your PR title with the word `Hacktoberfest: ...`, otherwise we would not know your intentions.

Cheers!

[2020-10-16 09:14] Cadair commented on #4536
(Probably better to let us know in the comments not the title if you want us to put a hacktoberfest label on your PR :+1: )

@shubham00jain The `exclude_patterns` block would have to become conditional upon the version, i.e. if it's a released version (no 'dev' in the version string) then it would add the guide to the exclude list. The trickier bit is building a different index page in the case wh

[2020-10-16 10:37] dstansby opened #4575 "Using sunpy.map shouldn't require remote access libraries (e.g. aiohttp)"
I am trying to create a frozen and minimal python environment for some code I run daily to output synoptic maps and magnetic connection predictions. Installing dependencies is fine - I can just use `pip install --no-deps` to ignore sunpy's (extensive) list of dependencies that I don't actually need.

Doing `import sunpy.map` however reveals a dependency on `aiohttp` that I don't really want to hav

[2020-10-16 10:46] nabobalis commented on #4575
Shouldn't that have been installed by parfive?

[2020-10-16 10:48] dstansby commented on #4575
Yeah, `--no-deps` stops that. I basically want to be able to use `sunpy.map.Map` in a minimal install, without any networking packages required at runtime.

[2020-10-16 10:52] nabobalis commented on #4575
Making `from sunpy.data import cache` not trigger the sample data should the angle here, someone will have to work out that init path and change it.

[2020-10-16 11:01] nabobalis commented on #4575
I think this counts as a bug.

[2020-10-16 11:01] Cadair commented on #4575
That import path is bad, how did that make it through our offline test suite??

[2020-10-16 11:02] nabobalis commented on #4575
That is a good question. How does it?

[2020-10-16 11:03] Cadair commented on #4575
There is an argument to be made for stripping the parfive stuff from the sample download so we can move parfive to just being a net dependency.

[2020-10-16 11:04] Cadair commented on #4575
I think this issue really boils down to why is [this](https://github.com/sunpy/sunpy/blob/master/sunpy/data/__init__.py#L5) import here?

[2020-10-16 11:08] nabobalis commented on #4575
For the all underneath?

[2020-10-16 11:14] Cadair commented on #4575
I used parfive initially to speed up the download but it is a reasonably large tree of deps.

[2020-10-16 11:23] nabobalis commented on #4575
Should we work at removing parfive as a core dep and move it to net?

[2020-10-16 11:30] kathivashkiv commented on #4000
Are changes listed above relevant for now? (After #3918 discussion)

[2020-10-16 11:36] nabobalis commented on #4000
Yes.

[2020-10-16 11:59] Cadair commented on #4575
:man_shrugging:

[2020-10-16 12:01] Cadair opened #4576 "Changes to make when we depend on Astropy 4.1"
This is a list of things which we can change once we depend on Astropy 4.1+. This is a follow on from #4000

TODO

[2020-10-16 14:28] kathivashkiv commented on #4000
About one of them, "delete size property":
1) there is one mention of this property along with SunPyBaseCoordinateFrame, in metaframe.py:
https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/metaframes.py#L184
Should this check be deleted after size property removal, or should it stay there for another reason (different than described)?
2) I've run tests for package='coordinates' and sunpy

[2020-10-16 14:40] nabobalis commented on #4000
1. I think it means this: https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/frames.py#L144

2. Sounds like enough.

[2020-10-16 14:55] ayshih commented on #4000
Thanks for spotting that!  Go ahead and remove the check, and I'll figure out how to confirm that it's fine.  The existing test suite won't tell us.

[2020-10-16 15:22] nabobalis commented on #4576
Do we plan to bump it to 4.1 for 3.0?

[2020-10-16 15:26] ayshih commented on #4576
With Astropy 4.1 being so delayed, perhaps not.  See also #3918

[2020-10-16 21:40] shubham00jain commented on #4536
@Cadair I have already completed the hactoberfest 2020 challenge so please don't add the tag.

I have done the following code changes:
`if is_development == False:
    exclude_patterns.append('dev_guide')
`

Should I manually move the `stability.html` page out of dev_docs and put it inside code_ref? And do you have any suggestions on how to add the index.html file inside a new dev_guide folder. (a

[2020-10-17 04:13] chouhanaryan commented on #4575
@nabobalis I've been trying to solve this. Let me see if I've got this right - `cache` and `download_sample_data` are initialized in the same [`__init__`](https://github.com/sunpy/sunpy/blob/master/sunpy/data/__init__.py), so when cache is imported for Map, invariably, the other gets imported too.

I'm sorry I didn't get what you mean by figuring out the init path.. Could you please elaborate 😅

[2020-10-17 08:38] nabobalis commented on #4575
Yes that's correct. We now what is happening and have to change it to prevent the sample data import for map.

[2020-10-17 10:36] #4559 closed

[2020-10-17 10:41] dstansby commented on #4000
For

-  Remove custom size property of SunPyBaseCoordinateFrame because that workaround is no longer needed (see astropy/astropy#10295).

shouldn't we add a deprecation warning before changing this behaviour? (posting here to avoid clogging up the above PR)

[2020-10-17 11:18] chouhanaryan commented on #4575
I think the problem might be a bit more deep-rooted. The issue is actually with `sunpy.util.parfive_helpers.Downloader`. That is what causes the `aiohttp` import. And if we follow the `sunpy.map` import, it is imported twice - via `download_sample_data` and the `ParfiveDownloader` (the tree below shows exactly where).

With respect to `download_sample_data` since it technically doesn't have any in

[2020-10-17 11:23] Cadair commented on #4000
Maybe, I am erring on the side of no, because there is no way to opt of of a deprecation warning which says "in the next version of sunpy I will be an exception".

[2020-10-17 11:47] Cadair commented on #4575
ah yeah... maybe it's not actually possible to do this. The map factory supports downloading remote URLs, which uses the cache, which uses parfive...

[2020-10-17 12:02] Cadair commented on #4536
The rst file will need moving yes, and the toctrees will need updating, in the index.rst files.

This is a little tricky, but what I think might work is to move all the current contents of the `dev_guide` folder to a subfolder like `dev_guide/content`, and conditionally ignore that subfolder in the `conf.py` file. Then in `index.rst` use jinja templating to change the contents of the `index.rst` f

[2020-10-17 13:07] chouhanaryan commented on #4575
What if we add a try-catch for the import? If map is imported and aiohttp isn't installed, a warning could be shown but the execution could be allowed to proceed nonetheless. This seems quite hacky though..

[2020-10-17 13:10] dstansby commented on #4575
Could we move one or two imports inside methods instead of at the top of some of the files in `sunpy/map`? If my request isn't that easy to fix then no worries, it's not an massive issue.

[2020-10-17 15:58] dstansby commented on #1147
`resample` currently modifies the `CD` header values, so I'm not sure this is broken? Unless anyone can provide a simple self contained reproducible example I am minded to close this...

[2020-10-17 15:58] #1999 closed

[2020-10-17 15:59] dstansby commented on #1999
I have closed since it's not clear to me what exactly is broken; feel free to comment or re-open with a self contained example that demonstrates the bug.

[2020-10-17 16:01] dstansby commented on #2002
I think running this through `Fido` should work fine now since `Fido` uses `drms` underneath, feel free to re-open with a `Fido` example if it's still not working.

[2020-10-17 16:01] #2002 closed

[2020-10-17 16:05] dstansby commented on #3323
Can you make a slightly smaller example that shows the bug, and see if this is still a problem with a more recent version of sunpy?

[2020-10-17 16:15] dstansby commented on #3270
Can you provide a self contained example that triggers this error? Otherwise I am minded to close this

[2020-10-17 16:17] dstansby commented on #3285
Could you post a short and self contained example that shows what is going wrong?

[2020-10-17 16:23] dstansby commented on #3983
Can someone a description of the issue, and ideally a self contained example exhibiting the issue?

[2020-10-17 16:26] dstansby commented on #4483
I'm 99% sure this is fixed in the most recent version of sunpy, so am going to close. Feel free to add a comment if it's still an issue after updating sunpy.

[2020-10-17 16:26] #4483 closed

[2020-10-17 16:33] dstansby commented on #4533
Um, the search line is `result = Fido.search(timerange, instrument) ` which doesn't include the detector, are you sure you didn't just forget to include the detector in the search?

[2020-10-17 16:42] dstansby commented on #4174
I think if you pass the right time format to `parse_time` this should work fine?

[2020-10-17 16:58] dstansby commented on #2654
This is because the WCS information is wrong in these files, such that the bottom left of the bottom left pixel does not have a valid transformation to world coordiantes, so as expected the coordinate axes do not draw with the default lims. I've checked that the limit setting etc. is working fine, so I'm going to close this.

[2020-10-17 16:58] #2654 closed

[2020-10-17 17:02] Cadair commented on #4533
errrrrrrrr... no?

[2020-10-17 17:05] dstansby commented on #4533
If I specify lasco detector C3 in the search above, it returns zero results, which seems to be to be expected behaviour.

[2020-10-17 17:16] ayshih commented on #4000
In principle, we could have a deprecation period, but I'm against doing so for this case because I'd like to eliminate discrepant behavior between SunPy frames and Astropy frames as quickly as possible.  (This discrepant behavior is my fault, but that doesn't make it any less discrepant.)  The discrepant behavior applies only to calling `.size` on a frame with no associated data; I'm fairly confid

[2020-10-17 17:17] dstansby opened #4580 "codecov not picking up circleCI coverage reports"
e.g. see https://codecov.io/gh/sunpy/sunpy/commit/acc0a0e751418a0bee841500f8dc9d4bb68ddee9/build. circleCI reports that a coverage report is uploaded fine, but codecov doesn't seem to be picking it up and counting the coverage. This is particularly obvious in `timeseries`, where codecov thinks there is no coverage of the `peek()` methods, but these should definitely be covered by the figure tests

[2020-10-17 17:30] dstansby commented on #4580
The problem seems to be that coverage reports aren't being generated by circleCI in the first place.

[2020-10-17 17:31] dstansby commented on #4000
Sounds good, just wanted to double check 😄

[2020-10-17 19:13] shubham00jain commented on #4536
Hi @Cadair

I tried this approach and then built the html using `make html` inside the docs folder and I dont see any empty dev_guide folder inside `_build/html`.

I tried another approach and it works after I build it, please tell me if its doable. I have made 2 separate directories `dev_guide` and `dev_guide_release` and used a conditional in `conf.py` to include the one which is required. The `

[2020-10-17 19:26] amunozj commented on #3285
Of course.  In fact here is how I deal with it.  I think it makes the problem pretty obvious:

`scale_factor = 4

MDI_fits = fits.open(hr_path.replace('HR','raw') + hr_hmi_set.loc[inx, 'filepath_hr'].replace('_HR',''), cache=False)
MDI_fits.verify('fix')

MDImap = Map(MDI_fits[1].data, MDI_fits[1].header)
MDI_fits.close()

# Pad image, if necessary
target_shape = int(4096)

# Reform map to new siz

[2020-10-18 12:01] #4580 closed

[2020-10-18 12:26] dstansby commented on #4533
I'm going to close this, if someone can provide a search that includes a detector attribute and isn't working feel free to comment or re-open.

[2020-10-18 12:26] #4533 closed

[2020-10-18 14:02] kakirastern commented on #4536
@shubham00jain Cadair (or Stuart by name) may be away on holiday at the moment, so please wait till he gets back to answer your query.

[2020-10-18 15:00] shubham00jain commented on #4536
@kakirastern Okay thanks for telling me! Can you tell me when will he be back?

[2020-10-18 15:19] nabobalis commented on #4536
If you can open a PR with what you have working, we can look at the process and see if we can improve it.

[2020-10-18 16:18] dstansby commented on #4493
I am wondering if the solution here is to fix the code to stop it splitting the regex at dots, or to document the current behaviour?

[2020-10-18 16:25] dstansby commented on #3082
The first path above has test coverage; `_get_goes_sat_num` is a private method that isn't used anywhere in the code base, so maybe it could be deleted? Might be worth waiting for the GOES changes that are coming soon.

[2020-10-18 17:01] shubham00jain commented on #4536
@nabobalis Done. Please let me know I am going in the right direction.

[2020-10-18 17:08] dstansby commented on #4575
Turned out I needed remote access things for other bits of my environment anyway, so will close this as won't-fix, sorry for the noise.

[2020-10-18 17:08] #4575 closed

[2020-10-19 09:31] Cadair commented on #4575
@dstansby yeah we could probably refactor the factory to import error on trying to open a URL.

[2020-10-19 10:31] hayesla commented on #4174
I think this is actually a 🐛

For example this works:

[code]

However for a date in format %Y-%b-%d `parse_time works on it as a string but not as a list - for examples:

[code]

So there is a wierd bug for when that format is in a list for some reason

[2020-10-19 11:22] #1147 closed

[2020-10-19 12:06] dstansby commented on #4174
Ah, that's because for individual strings we have a lot of special case handling and (not terribly well documented) to allow for a wider range of formats, but that is only currently applied to individual strings. Have opened a PR with a fix.

[2020-10-19 20:40] wtbarnes commented on #3323
Yeah, this probably should be updated with the new differential rotation capability provided by `RotatedSunFrame`

[2020-10-19 20:58] wtbarnes commented on #1259
So there seem to be many ways to specify a cutout via the `im_patch` command in DRMS, but I think, at least to start, we should just allow a cutout to be specified in the same way that a rectangle or submap is specified. For example, this could be done with a new `attr` where one specifies the width, height, and lower left corner as a `SkyCoord` and, for example, whether tracking should be turned

[2020-10-20 13:23] #4174 closed

[2020-10-21 10:33] dstansby commented on #2822
Closed by https://github.com/sunpy/sunpy/pull/4589 I think? If anyone can find anywhere else that should take a `Path` as input feel free to comment or reopen.

[2020-10-21 10:33] #2822 closed

[2020-10-21 16:13] Cadair commented on #4571
Add milestone bot config on backport branch

[2020-10-21 16:13] dstansby commented on #4535
I think we did all we could to fix this? Can always re-open if is still an issue.

[2020-10-21 16:13] #4535 closed

[2020-10-21 16:20] samaloney commented on #4493
Yea its a bit odd that it takes a regex but doesn't support full python regex

[2020-10-22 14:32] dstansby opened #4597 "Document how to update file in data manager that has changed on remote server"
Consider the situation where the data manager is accessing a file from a remote server, `file1` with `filename` and `sha1`. If the remote file changes to `file2` and `sha2`, but the filename remains the same, the question I have is what should I update so users can use this new file?

If I delete the old file locally and update the hash to the new file hash I get
[code]
and there is seemingly no w

[2020-10-22 15:23] Cadair commented on #4597
The idea is you can use the https://docs.sunpy.org/en/latest/api/sunpy.data.data_manager.DataManager.html#sunpy.data.data_manager.DataManager.override_file override file context manager to do this. I guess for this specific use case making the uri optional would be an improvement, so you could just override the sha for the given name.

[2020-10-22 15:34] dstansby commented on #4597
Ah cool, didn't spot that. I shall leave this open as a "narrative docs" request, and hopefully write something up about that.

[2020-10-23 11:40] hayesla opened #4599 "SRSClient Issue for years < 2020"
### Description

Following #4598, there is a bug in the SRSClient for searching for years previous to 2020 when the data is in a tar.gz format. it only will return the first two days of the year being searched.

### Expected vs Actual behavior

[code]

It only returns the first two days of the year queried - bug in this line:

https://github.com/sunpy/sunpy/blob/master/sunpy/net/dataretriever/sour

[2020-10-23 11:58] nabobalis commented on #4599
We need to double check if this master only or a release version.

[2020-10-23 11:59] hayesla commented on #4599
Looking back even on previous history of this cloent this must have been a bug for a good while I think - I don't know if it was broken by refactor?

[2020-10-23 12:00] hayesla commented on #4599
@samaloney have you used this client much in the past?

[2020-10-25 06:18] hrs2203 commented on #4508
Hi @dstansby  , @Cadair , @nabobalis, I was trying to fix this on a local copy but was unable to generate docs. it was giving ssh error, access denied to port 443, is this something to be expected or its a mistake on my side.

[2020-10-25 06:46] hrs2203 commented on #4439
Hi @nabobalis . I would like to work on this issue.

[2020-10-25 09:07] nabobalis commented on #4439
Hello @hrs2203 , you can assuming that @kakirastern has stopped working on this. I accidentally unassigned them but maybe you two can coordinate on this.

[2020-10-25 09:12] nabobalis commented on #4508
Can you provide an error log? I don't have enough information to have a guess.

This issue is tricky since I am under the impression this only happens on readthedocs which most people can't access directly. If we can replicate it on our continuous integration that would be helpful.

However I would strongly recommend looking at another issue.

[2020-10-26 10:28] #4508 closed

[2020-10-26 14:56] hrs2203 commented on #4439
Hi @kakirastern , I went through the docs but still the part ``` how to scrape file path names based on database/archive queries efficient ``` is not clear to me. can you provide some additional context.

[2020-10-27 17:59] Laubeee opened #4606 "Unexpected SunPy-rendered RHESSI colormaps"
### Description
The colormap "rhessi" as in [SunPy visualization](https://docs.sunpy.org/en/latest/code_ref/visualization.html) (blue-green-red) which appears to be the standard [matplotlib-jet colormap](https://matplotlib.org/3.1.1/gallery/color/colormap_reference.html), is not the same as the "official" mission colormaps, when compare with the ones used on [hesperia](https://hesperia.gsfc.nasa.g

[2020-10-27 18:22] hayesla commented on #4606
I dont know if RHESSI has a 'mission' colormap per say (maybe @ayshih can comment) - RHESSI map plotted in the archive  are usually plotted with `loadct 5` in IDL from here (https://www.harrisgeospatial.com/docs/LoadingDefaultColorTables.html) which is "STD GAMMA-II".

If you wanted something close - maybe `cmap=plt.cm.CMRmap`?

[2020-10-27 20:06] ayshih commented on #4606
RHESSI *does* have a "mission" colormap; for example, it's what's used for the [quicklook images in the RHESSI Browser](http://sprg.ssl.berkeley.edu/~tohban/browser/?show=qli02&date=20020705&time=080112).  However, the HESSI color table is actually a little more difficult to load than it used to be.  This [binary file for `loadct`](https://hesperia.gsfc.nasa.gov/ssw/hessi/dbase/colors_hessi.tbl) c

[2020-10-28 09:47] agy-why opened #4608 "AttributeError: module 'contextlib' has no attribute 'asynccontextmanager' in conda build"
Dear sunpy developer,

I am trying to use sunpy `2.0.3` the build from `conda` in a `jupyter notebook`.

[code]
works but
[code]

returns:
[code]

Is there a workaround?

I thank you in advance,

Yori Fournier

[2020-10-28 09:55] nabobalis commented on #4608
Could you post more of the error log please?

[2020-10-28 10:09] agy-why commented on #4608
Sure
[code]

[2020-10-28 10:10] agy-why commented on #4608
That is all I have. do you need anything else? env? setup...

[2020-10-28 10:18] nabobalis commented on #4608
So the issue is that somehow the version of "aioftp" that was installed by conda does not work for python 3.6.

Can you tell me what version is installed? It should be "0.16.1". (There might be an issue with the parfive conda recipe).

[2020-10-28 22:34] wtbarnes commented on #3293
As `search_metadata` is deprecated by #4358, this change is unneeded.

[2020-10-28 22:34] #3293 closed

[2020-10-29 10:31] agy-why commented on #4608
Good morning,

Thank you for your fast comments.

we could solve the problem by installing per hand (with pip) the correct version but per default the 0.17.x was installed, so indeed it could be that the recipe has an issue?

I wish you a nice day,

Yori

[2020-10-29 10:34] nabobalis commented on #4608
Thanks for this, I have raised the issue upstream so hopefully this will be fixed over the next few days.

[2020-10-29 10:36] agy-why commented on #4608
Thank you very much, I wish you a nice day.

[2020-10-29 10:38] nabobalis commented on #4608
I am going to reopen this so we remember to fix this!

[2020-10-29 10:57] nabobalis commented on #4608
Sorry @agy-why, can you also tell me the parfive version that was installed?

[2020-10-29 13:20] Cadair opened #4612 "Can no longer run test suite without all the plugins because of warnings"
This includes at least, doctestplus, asdf and remote-data

[2020-10-29 15:07] dstansby commented on #4612
Why is this an issue? Is there an instance where one would want to (or expect to) run the test suite without all the test dependencies?

[2020-10-29 15:07] dstansby commented on #4608
@nabobalis can you post a link to the upstream issue you reported?

[2020-10-29 15:09] nabobalis commented on #4608
It was to stuart personally and it might be a bug in the conda resolver.

[2020-10-29 15:25] Cadair commented on #4612
asdf is one of the things I wouldn't expect to have to be installed to run our tests, also we have code in conftest.py to handle a missing pytest-remotedata, so if that's not something we support anymore we should remove it.

[2020-10-29 15:48] nabobalis commented on #4608
Installing parfive under 3.6 resolves fine but as soon as you do the full install with sunpy, it pulls the wrong version of aioftp.

[2020-10-29 15:50] agy-why commented on #4608
version of parfive is 1.0.2

[2020-10-29 18:09] Cadair commented on #4612
Also see [this](https://dev.azure.com/sunpy/sunpy/_build/results?buildId=10664&view=logs&j=6e7bd578-a810-548b-8fbf-8fa6b1a2d4f6&t=d1f04538-6627-58e5-ce9d-e142618c697c&l=61) fail on #4605 because you can't now run even the non-figure tests without pytest-mpl installed because we have some config option.

[2020-10-29 18:10] nabobalis commented on #4612
I guess my question is, what do we want to happen by default?

Do we want for pytest to skip over test that require these plugins (in the same manner want to skip over submodules without deps installed)?

[2020-10-29 18:11] Cadair commented on #4612
Maybe this is just expected, but it was jarring to me at least.

[2020-10-29 18:15] nabobalis commented on #4612
Sure I think it is a bit jarring to run non-figure tests and have it error since pytest-mpl isn't installed.

I just am unclear on what we would like to be the default behaviour.

[2020-10-29 19:17] dstansby commented on #4612
Can we just filter the appropriate warnings in `setup.cfg`?

[2020-11-02 18:42] wtbarnes opened #4619 "JSOCClient docs are out of date/innacurate"
In the `JSOCClient` docstring, [it says that you must wait for your request status to be 0 before downloading the requested files.](https://github.com/sunpy/sunpy/blob/243d010f2af588fa75019317a07f4bad3bf6b61b/sunpy/net/jsoc/jsoc.py#L220) I don't think this is accurate. I've downloaded all requested files when the status of my request was 2 (though I'm not sure what this status code actually indica