[2020-11-02 21:19] #4263 closed

[2020-11-04 10:27] dstansby commented on #4000
That looks like everything ticked off the list 🎉

[2020-11-04 10:27] #4000 closed

[2020-11-04 23:57] wtbarnes commented on #4346
Given the comments on #4359, I think this should possibly be closed? The conclusion there was, at least for the XRS data, these JSON fails are not the canonical data product and it would be contradictory and confusing to have multiple data sources for a single instrument. I do not know if this applies to the other data products mentioned here as well.

[2020-11-05 00:16] wtbarnes opened #4622 "Data access model for TimeSeries: data versus to_dataframe(). Why?"
In the [`TimeSeries` docs](https://docs.sunpy.org/en/latest/guide/data_types/timeseries.html), we tell people to access the columns of a TS using `.data` and the appropriate key name (like a `dict`). When you actually do this, you get a fun warning,

[code]

This is obviously contradictory. Additionally, I find the use of `to_dataframe()` quite cumbersome. Or really even `.data`. I guess this sort

[2020-11-05 13:10] hayesla commented on #4346
Yes I agree - could be worth it to add an example of how to do a quick-look at the GOES 1 minute data? Nice example of how to create `TimeSeries`  and may be probably useful for space-weathery people (i.e. looking at NRT data).

e.g.

[code]

[2020-11-05 19:38] Cadair commented on #4622
The main reason to encourage the use of `to_dataframe` was to insulate users against possible changes of type for `.data`.

Direct access to columns or similar sounds like a potentially good idea.

[2020-11-06 12:05] dstansby commented on #4622
I am going to put it out there that `TimeSeries` using a `DataFrame` to store the data underneath is past the point of no return.

As long as one is not modifying columns, performing operations (e.g. rebinning, detrending etc.) on the underlying dataframe and modifying it in place is a powerful way to leverage `pandas`, and is something I personally do all the time. This was implicitly supported b

[2020-11-11 17:28] dstansby opened #4626 "Add what's new doc for 2.1"
Ideas for it:

1. Metadata fido work
2. Map data now has units
3. Can now easily get contours from maps
4. New synoptic map sources and clients
5. Coordinates have velocities
6. New GOES data
7. Various performance improvements (maputils + caching .wcs)

Put yours in the comment section below and smash that like and subscribe button.

[2020-11-11 21:45] kakirastern commented on #4500
@chouhanaryan Apologies for the delayed response on our side... If you are still interested and trust in your own gut feelings then by all means all that to it. This will count as your official SunPy contribution still.

[2020-11-12 10:19] Cadair opened #4631 "Update Helio Code to expect str not bytes"
Astropy 4.1 changed the output of [`parse_single_table`](https://keflavich-astropy.readthedocs.io/en/latest/api/astropy.io.votable.parse_single_table.html#astropy.io.votable.parse_single_table) to return `str` not `bytes`. https://github.com/sunpy/sunpy/pull/4628 modified our code to convert it back to bytes, but this was a short term solution for the 2.0 branch, we should be forwards-compatible a

[2020-11-12 10:58] Cadair commented on #4626
Maybe new Fido client writing functionality and docs? Do we want to add stuff for package developers to our whatsnew?

[2020-11-12 11:10] dstansby commented on #4626
Don't see why not, maybe at the bottom?

[2020-11-12 12:42] #4564 closed

[2020-11-12 14:14] #4555 closed

[2020-11-13 14:42] Cadair opened #4633 "reconfigure wheels to build manylinux2014 on master and 2.1"
Now that we have dropped 3.6 we should bump to manylinux2014

[2020-11-13 21:57] nabobalis commented on #4599
Doing this on a 2.0 branch:
[code]
and on master post patch:
[code]

[2020-11-13 22:01] #4599 closed

[2020-11-13 22:48] kakirastern commented on #4631
Is anyone working on this? Would like to try...

[2020-11-13 22:49] nabobalis commented on #4631
No but I was planning to do this tomorrow.

[2020-11-13 22:56] kakirastern commented on #4631
No worries, I will try to find another issue then. Any recommendations?

[2020-11-13 22:56] kakirastern commented on #4606
Is anyone working on this issue? If not I would like to take this up...

[2020-11-13 23:13] nabobalis commented on #4631
No I try not to recommend issues to people. Nicer if they find something they would enjoy to take on.

[2020-11-13 23:13] nabobalis commented on #4606
No one is working on this that am I aware of.

[2020-11-13 23:22] kakirastern commented on #4631
Sure, think I might have found one...

[2020-11-14 00:59] kakirastern commented on #4606
Let me take this issue up then. Thanks @nabobalis!

[2020-11-14 01:11] kakirastern commented on #4606
Yeah, a `blue-green-red` color scheme would not be so accessible to someone with color blindness or visual accessibility issues.

[2020-11-14 12:02] #4631 closed

[2020-11-14 12:22] #4495 closed

[2020-11-14 17:00] #2910 closed

[2020-11-14 17:00] #3643 closed

[2020-11-14 18:08] #4536 closed

[2020-11-14 20:10] #4413 closed

[2020-11-14 22:21] #4633 closed

[2020-11-16 15:16] dstansby opened #4651 "map.contour should make use of map.units"
We should check that the level given to the new `contour` method has the same units as the map data. Currently working on this, but tagging as 2.1 release critical since `contour` is new for 2.1.

[2020-11-17 14:46] #4546 closed

[2020-11-17 21:56] Cadair opened #4655 "Move Map and Timeseries and their dependencies to extra requirements"
Given the discussion in https://github.com/sunpy/sunpy/pull/4592#discussion_r525395690 about adding support for netcdf4 files to Timeseries, I think now is a good (ish) time to reconsider the standing policy that doing `pip install sunpy` installs all the dependencies for map and timeseries to be fully operational.

The current core deps are:
  numpy>=1.16.0
  scipy>=1.2.0
  matplotlib>=2.2.2
  pa

[2020-11-17 22:06] Cadair commented on #4655
(I think #4596 would alleviate some of my concerns here, by being able to point users at `self_test` and knowing it will tell them if they are missing deps.)

[2020-11-18 10:00] Cadair commented on #4571
* Update extern
* Update zenodo / mailmap

[2020-11-18 12:52] dstansby commented on #4655
I am pro reducing core dependencies, partnered with having clear instructions on how to install all dependencies if desired. As sunpy becomes more established, it seems more likely that there will be use cases of people using it for specific purposes (e.g. just coordinate transforms), and not needing all the dependencies. I think we have known this for a while really, and the concept of sunpy "cor

[2020-11-18 12:59] kakirastern commented on #4655
Think it just means making sure everything works as expected...

[2020-11-18 13:00] kakirastern commented on #4655
Which can be quite a time consuming task if we check everything manually for a genuine audit and not a second identical set of CI/CD checks...

[2020-11-18 13:08] Cadair commented on #4655
I just mean people can currently safely make the assumption that we have say scipy available anywhere, say coordinates. Before we can be sure that a dep isn't core we need to work out where they are all being used.

[2020-11-18 13:29] kakirastern commented on #4655
Bet my mind is truly literal and would not take a hint 🤣

[2020-11-18 17:37] wtbarnes commented on #4655
pandas is also used in `sunpy.net.jsoc`, both because of the dependency on `drms` which has a pandas dependency as well as in `JSOCClient.search_metadata` (which is in deprecated by #4358)

[2020-11-18 17:50] kakirastern commented on #4606
Just checked out `cmap=plt.cm.CMRma` plus other potential alternatives... Seems quite reasonable to switch over to this colormap in order to approximate the RHESSI "mission" colormap better.

[2020-11-18 17:56] kakirastern commented on #4606
@Laubeee

**Steps to better approximate the cmap for the official RHESSI map**

from sunpy.io.fits import read
from sunpy.time import parse_time
from sunpy.map import Map

url = "https://hesperia.gsfc.nasa.gov/rhessi_extras/imagecube_fits/2002/07/05/20020705_0801_0815/hsi_imagecube_clean_20020705_0801_14tx2e.fits"
f = read(url)
m = Map(f[0].data[0][0], f[0].header)
m.plot_settings['cmap'] = 'CMRma

[2020-11-18 17:58] kakirastern commented on #4606
Am example output would be as follows:

<img width="223" alt="Screenshot 2020-11-19 at 1 56 33 AM" src="https://user-images.githubusercontent.com/26264600/99568671-aa4acb00-2a0a-11eb-946d-9c09d64bc8ec.png">

[2020-11-18 17:58] Laubeee commented on #4606
Hi @kakirastern
Thanks for taking this up
if you like I can send you the exact 255 RGB values of above mentioned color maps, by exporting them from IDL

[2020-11-18 17:59] kakirastern commented on #4606
Sure @Laubeee
I can take a look from there. My email address is krisastern@gmail.com...

[2020-11-18 18:38] dstansby commented on #4612
Pretty sure this was fixed in the above PR, feel free to re-open if not the case.

[2020-11-18 20:28] Cadair commented on #4612
Some of it but not all of it, I think it will still fail if asdf isn't installed, probably among others.

[2020-11-18 20:47] dstansby commented on #4612
I recently ran without asdf installed and it worked fine, and threw a warning at the end of the test run.

[2020-11-18 22:43] joyvelasquez commented on #1927
Hello all,

Question, how would one read geny files into a python editor?
Would ( import xdrlib ) be they was to go? I am having trouble with the structure of data once I read it in.
'/path/to/ssw/sdo/xrt/response/channels/xxxxx.geny

[2020-11-18 23:42] nabobalis commented on #1927
Hi @joyvelasquez, sunpy has a reader for these kind of files here: https://docs.sunpy.org/en/stable/code_ref/io.html#module-sunpy.io.special.genx

If this doesn't work, please open an issue and we can try to debug it.

[2020-11-19 03:35] ayshih opened #4657 "Add Map support for Quadrangle"
Currently, the `Map` method `draw_rectangle()` can be used to overlay rectangles, which internally uses `matplotlib.patches.Rectangle`.  `astropy.visualization.wcsaxes.Quadrangle` is better for nearly all situations because it will contort with transformations, but it is only available starting with Astropy 4.2 (when released).  Possible approaches to adding support for `Quadrangle`:

- Add a `dra

[2020-11-19 06:58] kakirastern commented on #4606
Let me see if I can use opencv to process the IDL colormap, and engineer something useful with the color mappings you have provided to suit your purposes. Like the following: https://www.learnopencv.com/applycolormap-for-pseudocoloring-in-opencv-c-python/

[2020-11-19 07:00] kakirastern commented on #4606
Most notably this outlines my overarching scheme:

[2020-11-19 10:30] Laubeee commented on #4606
Is it not possible to define colormaps directly in matplotlib? I would be surprised we need openCV for that..?
Anyway, this is not the first custom color map in sunpy (see link to docs in original post), so maybe someone from SunPy can point you to the place where the other custom maps are defined?

[2020-11-19 10:54] dstansby commented on #4273
I'm running into this again; my use case is dealing with the coordinates of spacecraft in a Carrington frame. (I think) what I want to do is set the observer coordinate to be the same as the actual coordinate, so I have tried
[code]

[2020-11-19 11:06] kakirastern commented on #4606
I am from SunPy

[2020-11-19 11:07] kakirastern commented on #4606
Actually to the best of my belief I have already answered your question. I.e., use `CMRmap` for the colormap.

[2020-11-19 11:08] kakirastern commented on #4606
But if you would like 100% fidelity then `opencv` could be a way to go. `Matplotlib` does not process colormaps like that for our setup.

[2020-11-19 11:08] nabobalis commented on #4606
IF we can load up the IDL color table, we should be able to define it manually with array values and add it to our supported list.

[2020-11-19 11:09] kakirastern commented on #4606
Yes, we could do that too. But I don't have IDL...

[2020-11-19 11:09] kakirastern commented on #4606
And generally we tend to discourage use of IDL. Our existence depends on its replacement.

[2020-11-19 11:10] nabobalis commented on #4606
Sure but Laubeee said they can do that for us. We also define custom color tables in CSV files here: https://github.com/sunpy/sunpy/tree/master/sunpy/visualization/colormaps/data

[2020-11-19 11:10] kakirastern commented on #4606
Wait let me check it out now...

[2020-11-19 11:12] kakirastern commented on #4606
Okay, so will need to fill the RGB channels with the following provided by @Laubeee, looking like manually:

[code]

[2020-11-19 11:13] kakirastern commented on #4606
Will take me awhile but will get there. (Like my PhD manual tasks 😅)

[2020-11-19 11:14] kakirastern commented on #4606
Thanks @nabobalis for pointing these out... Let me figure out which channel is which next.

[2020-11-19 12:38] Cadair commented on #4273
I think this is the same issue we work around in mapbase here: https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L860-L877

but @ayshih will have answers.

[2020-11-19 14:45] ayshih commented on #4273
Heh, well, depends on what you mean by "answers".  This is a known issue that I haven't yet fixed (see #4279).

[2020-11-19 14:46] ayshih commented on #4279
Ooh, I have an idea...

[2020-11-19 15:02] dstansby commented on #4273
Cool, I might have a go at attacking that issue, since I am keen to migrate my code away from sunpy 1.1.

[2020-11-19 15:03] dstansby commented on #4273
And with my 'grumpy user' hat on, we really should try and avoid breaking changes like this in the future without explicitly showing users how to adapt their code, or better still having a deprecation period (which I understand isn't always technically feasible).

[2020-11-19 15:05] ayshih commented on #4273
@dstansby I suggest you hold off; I'm actively trying something right now

[2020-11-19 16:50] hayesla opened #4660 "Examples required of downloading GOES data"
### Description

Now that the new Fido GenericClient now returns all available data we should show an example of how to search by satellite number or index the query result. This may just mean updating this example https://docs.sunpy.org/en/stable/generated/gallery/time_series/goes_hek_m25.html. This example only works because there is actually only one file available for this day, but this exampl

[2020-11-19 16:53] hayesla commented on #4389
I think that this can probably be closed now given #4592 and #4394

[2020-11-19 16:55] nabobalis commented on #4660
I've milestoned this for 2.1 but maybe that's a bit aggressive.

[2020-11-19 18:21] hayesla commented on #4660
I'll try get it done by this weekend - already have a draft

[2020-11-19 22:53] #4279 closed

[2020-11-20 05:40] ayshih commented on #4279
I'll point out for posterity that #4659 resolves only the case with creating a HGC coordinate representing an observer location, and not the more general request that I wrote here.  I don't think anyone actually is particularly interested in the more general functionality, which is why I closed this issue.

[2020-11-20 05:41] kakirastern commented on #4279
This is important to note

[2020-11-20 12:31] dstansby commented on #4608
I think this is an upstream `aiohttp` bug, since trying to install `aiohttp` on a clean conda python 3.6 install will try and install the python 3.7 version:

[code]

[2020-11-20 12:33] dstansby commented on #4608
I think this is an upstream `aioftp` bug, as trying to install aioftp in a clean conda python 3.6 install tries to install a version not compatible with python 3.6:

[code]

[2020-11-20 12:35] nabobalis commented on #4608
I forgot about this completely.

[2020-11-20 12:36] dstansby commented on #4608
Oh look here's an issue someone opened earlier: https://github.com/conda-forge/aioftp-feedstock/issues/10

[2020-11-20 13:44] nabobalis commented on #4608
A fix upstream is in progress. I am unclear how long it will take.

[2020-11-20 14:02] Laubeee commented on #4606
Sounds like you're about to manually copy all these values... a program/script could also read them and print/write them as CSV ;)

that is exactly what I meant with "someone pointing to the right place " ;-)

[2020-11-20 14:17] kakirastern commented on #4606
@Laubeee Please adhere to our Code of Conduct (CoC) and mind your slighting and use of language here. Also, please submit a `.CSV` version of your output so that I can just copy and paste these data to the right place. Otherwise feel free to submit a PR yourself. This is pretty low level stuff that you should be able to do yourself without asking so many inane questions. Thank you!

[2020-11-20 14:18] kakirastern commented on #4606
Your sending a plain text file does me no service at all. For `Matplotlib` colormaps please use whatever you prefer. This is not a bug per se apparently, and is wasting us preciously volunteering time. Once again. Thank you!

[2020-11-20 14:19] kakirastern commented on #4606
Note: `Not a bug`

[2020-11-20 14:21] kakirastern commented on #4606
Also @Laubeee Sounds like from your choice of language your habit of blaming other people for your mistakes. Once again this is open-source. Instead of asking someone else to check or add new features please consider doing these yourself by becoming a contributor.

[2020-11-20 14:23] kakirastern commented on #4606
I am no longer interested in this issue or think this warrants our time and efforts. Maybe someone else can take over when they have the time to waste.

[2020-11-20 14:24] kakirastern commented on #4606
Solution already provided here, hence issue closed.

[2020-11-20 14:26] nabobalis commented on #4606
If you could create and upload the CSV file for us, that would be very helpful. I don't have access to IDL anymore.

[2020-11-20 14:28] kakirastern commented on #4606
This is exactly what I meant by having to do manual tasks for this issue. 😅

[2020-11-20 14:30] kakirastern commented on #4606
Your IDL is already the `program/script` to convert your data into `.CSV` format. Most of us here at SunPy don't use IDL anymore.

[2020-11-20 14:34] kakirastern commented on #4606
I will let you take over this issue @nabobalis Thanks!

[2020-11-20 15:25] Laubeee commented on #4606
I have access to IDL, but its tedious and I'm hardly familiar with it. I was thinking about something like
[code]
which I did now that it's clear its needed in CSV: [colortables.zip](https://github.com/sunpy/sunpy/files/5574363/colortables.zip)  I added HESSI-bw as well since I was at it anyway. Sorry I stepped on your toe there.

@nabobalis is it ok if you take it from here? Or could you point me

[2020-11-20 15:28] dstansby commented on #4606
The colormap .csv files are stored in `sunpy/vizualisation/colormaps/data`, and the code for reading them in is in `sunpy/vizualisation/colormaps/color_tables.py`. Hopefully it should be easy to copy and modify a pre-exisitng function, but let me know if you need any other pointers.

[2020-11-20 15:30] nabobalis commented on #4606
Thanks @Laubeee, I am happy to take this on if you prefer.

Otherwise, while the files are stored here: https://github.com/sunpy/sunpy/tree/master/sunpy/visualization/colormaps/data

The actual loading and parsing happens here:
https://github.com/sunpy/sunpy/blob/master/sunpy/visualization/colormaps/color_tables.py
You would copy one of the existing functions and modify to load the file and return

[2020-11-20 15:42] Laubeee commented on #4606
thanks both

I suggest to use the names Albert used, resp. [GSFC uses](https://hesperia.gsfc.nasa.gov/ssw/hessi/doc/gui/gui_help.htm), so I suggest `std_gamma_II`, `hessi` and `hessi_black_white` (if the last one even makes sense to include? I don't think it's really used in practice..)

I have no "hard" preference. You could take this one here, then I can focus on opening another PR I wanted to o

[2020-11-20 15:55] hayesla commented on #4606
Thanks for raising this issue @Laubeee! :)

I'd say the `hessi` one is the best - I have a draft of this @nabobalis  if you want me to make the PR?

[2020-11-20 15:55] nabobalis commented on #4606
Go right ahead.

[2020-11-20 15:58] Laubeee commented on #4606
@hayesla In my case I'd be happy to be able to use the STD GAMMA-II as well, but HESSI could be assigned as default colormap for the RHESSIMap?

[2020-11-20 16:30] hayesla commented on #4606
I've made the PR @Laubeee  if you want to have a look over it #4665

[2020-11-20 16:50] Cadair opened #4666 "OBSGEO-x,y,z keys from FITS are not loaded as observer location"
I need to flesh this out but I think @hayesla ran into this. It needs further investigation now #4620 has been merged but we should support reading these keys as observer location.

[2020-11-20 18:12] ayshih opened #4667 "Rename our `master` branch?"
`master` is no longer the recommended name for a repo's default branch due to offensive connotations.  See the [announcement from Git](https://sfconservancy.org/news/2020/jun/23/gitbranchname/) and the [README on GitHub](https://github.com/github/renaming/blob/main/README.md).

We should discuss whether to rename `master`.  I realize that it will be a pain to make the switch, but that doesn't mean

[2020-11-20 18:20] nabobalis commented on #4667
Should we wait till support is added to GitHub? Seems like the easiest solution for now.

[2020-11-20 21:00] Cadair commented on #4667
I think it's worth waiting for GitHub to roll out the enhanced support for it, it will save a lot of pain.

[2020-11-20 23:06] dstansby commented on #4608
Since https://github.com/conda-forge/sunpy-feedstock/pull/80 was merged, this is no longer an issue for sunpy. Doing `conda install sunpy` will install a working version of `aioftp` on python 3.6. If you have already installed sunpy, running `conda install 'aioftp<0.17'` should fix the issue.

Since there are upstream bugs open for the upstream issue, and it's fixed for us, I'm going to close this

[2020-11-20 23:06] #4608 closed

[2020-11-21 11:13] #4173 closed

[2020-11-21 11:13] #4376 closed

[2020-11-21 13:00] nabobalis opened #4670 "Skipped tests that generate warnings"
I found out in #4358 that when we ran only online tests, this meant that no doctests were collected anywhere.
This change was reverted and several doctests were fixed or skipped in order to prevent the CI from breaking.

While this will not be a full list, some of the changes made that need to be updated/fixed:

[code]

[code]

[code]

Furthermore:
[code]
was added to the setup.cfg to cover up mor

[2020-11-22 06:35] #4651 closed

[2020-11-22 06:36] wtbarnes commented on #4667
Also 👍 for this, but in favor of waiting on GH migration support

[2020-11-22 06:44] kakirastern commented on #4667
Or have an extra `main` branch in the interim period?

[2020-11-22 06:45] kakirastern commented on #4667
It's just `checkout -b` isn't it?

[2020-11-22 07:04] #4389 closed

[2020-11-22 17:50] #4606 closed

[2020-11-23 03:11] ayshih opened #4671 "Remove finite-differencing for transforming coordinates with velocities"
The transformations of coordinates with velocities rely on the finite-differencing approach of `FunctionTransformWithFiniteDifference` to transform those velocities.  We can't convert those transformations to `AffineTransform` as I falsely believed (see #4613), but we can convert them to `FunctionTransform` with the velocity calculations explicitly performed.  In theory, this would result in an in

[2020-11-23 03:15] ayshih opened #4672 "Add direct transformations between Helioprojective and GCRS that transfer the observer location"
Note that `Helioprojective` and `GCRS` store the observer location differently: `observer` versus `obsgeoloc`/`obsgeovel`.

See also #4411

[2020-11-23 03:19] #3188 closed

[2020-11-23 03:32] ayshih commented on #4670
Ah, that explains why some doctests I thought might fail weren't failing in CI.  I just figured that doctests were still passing due the tolerance of FLOAT_CMP.  In retrospect, it seems "obvious" that filtering by marker won't still run all of the doctests.

[2020-11-23 08:14] Cadair commented on #4672
Why does this need a direct HPC <> GCRS transform? I assume the idea is to bypass the HGS step where the frame drops the observer? We could do that from HCC though?

[2020-11-23 08:38] nabobalis commented on #4670
Yeah I feel like the world's biggest idiot.

[2020-11-23 08:42] kakirastern commented on #4670
But you are definitely not from what I observe

[2020-11-23 14:13] ayshih commented on #4672
Direct HPC<->GCRS transformations would be better than direct HCC<->GCRS transformations because you'd want to be able to support 2D coordinates.  (HCC has the origin at the center of the Sun rather than at the observer.)

[2020-11-23 14:47] Cadair commented on #4672
I thought GCRS couldn't handle arbitrary observer location perfectly? Didn't we have this conversation once?

If we do implement this does it mean something like #4236 could be coerced into GCRS?

[2020-11-23 15:22] ayshih commented on #4290
Yay!  The bug appears to have gone away with some change in OpenBLAS 0.3.12 (or 0.3.11).  I have created #4673 to pin the libopenblas version.

[2020-11-23 15:28] ayshih commented on #4290
As a total flyer – given my inability to reproduce this bug on a real machine – my best guess is that it was fixed by xianyi/OpenBLAS#2926.

[2020-11-23 15:29] kakirastern commented on #4290
Cool 👍

[2020-11-23 15:30] ayshih commented on #4290
Closing, hopefully for good

[2020-11-23 15:30] #4290 closed

[2020-11-23 15:42] ayshih commented on #4480
@dmueller3000 I suspect that if you update to the latest `libopenblas` from conda-forge (0.3.12), the bus error will go away.

[2020-11-23 15:47] #3904 closed

[2020-11-23 15:47] nabobalis commented on #3904
We updated the rules for milestones and I think we are happy with them.

[2020-11-23 15:48] kakirastern commented on #3904
Good to know, such a long-drawn out discussion...

[2020-11-23 15:49] #3270 closed

[2020-11-23 15:50] #3983 closed

[2020-11-23 15:50] #2581 closed

[2020-11-23 15:52] #3747 closed

[2020-11-23 15:56] nabobalis commented on #2141
I think until we work out what we require from concatenation of UnifiedResponse objects, let alone if we want to actually support this, I will be closing this.

[2020-11-23 15:56] #2141 closed

[2020-11-23 15:58] Cadair commented on #2141
We discussed this as part of the GSOC project this summer, we didn't actually do anything about it tho right?

[2020-11-23 15:58] nabobalis commented on #3288
If possible, getting the files you were using that hit this bug would be very helpful.

We have merged a series of changes that should tell a user if a file has failed to load and what file that is. Hopefully this aids in debugging.

For the time being I will be closing this issue. Please reopen it if you would like.

[2020-11-23 15:58] #3288 closed

[2020-11-23 15:59] #1118 closed

[2020-11-23 16:00] nabobalis commented on #2141
I think we decided to not allow it.

[2020-11-23 16:03] nabobalis commented on #4481
Just to double check @dmueller3000, was the failed downloaded sample data resolved in the end?

[2020-11-23 17:54] dstansby commented on #2870
Is there any 'official' way of storing a mask within a FITS file? A quick search of the FITS standard for 'mask' didn't return any results for me.

[2020-11-23 18:00] kakirastern commented on #2870
@dstansby How about using `astropy`'s `NDData` as a data structure?: https://docs.astropy.org/en/stable/nddata/nddata.html

[2020-11-23 18:01] kakirastern commented on #2870
Drawback is you will have to convert between the `FITS` and `NDData` formats though.

[2020-11-23 18:03] wtbarnes commented on #2870
No, I think you would have to store it as a separate image in the FITS file and then know, a priori, that that file had a separate image and then reconstruct the mask from that. I don't really see how to reasonably resolve this and it feels outside the scope of sunpy so as the author of the issue I'm fine with closing it.

[2020-11-23 18:04] #2870 closed

[2020-11-23 18:16] kakirastern commented on #2870
Yeah, just needed to add one extra extension to the FITS file in fact if I remember correctly in the multi-extension FITS file format?: https://www.stsci.edu/itt/review/dhb_2011/Intro/intro_ch23.html

[2020-11-24 16:56] #4655 closed

[2020-11-24 20:38] dstansby commented on #2441
Just having a read of the README in that data directory (http://proba2.sidc.be/swap/data/carrington_rotations/about_these_files.txt), and it says

Does anyone know if the self-consistent archive now exists, or if there are plans for it? It seems silly to put it effort to support files that are self-described as not having compatible FITS headers if a better option is on the way or exists.

[2020-11-24 20:39] dstansby commented on #3070
Since there's been no response, I'm going to close this as "can't fix". If someone can link to a file that has this issue feel free to comment below and/or re-open

[2020-11-24 20:39] #3070 closed

[2020-11-24 20:40] dstansby commented on #3082
Pretty sure _get_goes_sat_num has been deleted now, so going to close this as fixed.

[2020-11-24 20:40] #3082 closed

[2020-11-24 20:49] MSKirk commented on #2441
I am reaching out to the current SWAP team... the answer is not as simple as one would like.

[2020-11-24 20:56] dstansby commented on #3819
The error message seems good now, as it includes the reason:
[code]

It looks like the issue is the following entries in the header: `('crder1', nan), ('crder2', nan), ('csyser1', nan), ('csyser2', nan)`.

Perhaps we want to strip nan's from the header before constructing it? That certainly seems better than throwing everything away and constructing a blank WCS.

[2020-11-25 18:36] ayshih opened #4680 "Spurious printed output from Map?"
Examples in our gallery that call `sunpy.map.Map` on multiple maps are apparently printing spurious output.  They look like they might be [ANSI escape sequences](https://en.wikipedia.org/wiki/ANSI_escape_code).  Here's [one case](https://docs.sunpy.org/en/latest/generated/gallery/map_transformations/reprojection_aia_euvi_mosaic.html#sphx-glr-generated-gallery-map-transformations-reprojection-aia-e

[2020-11-25 20:41] #3819 closed

[2020-11-26 06:31] wtbarnes commented on #4680
It looks like this primarily pops up when a list of files is passed to Map? Whereas your last example where this doesn't occur, each map is created from only a single file.

Additionally, it looks like these characters are popping up in the Fido/parfive progress bar output too.

[2020-11-26 13:28] nabobalis opened #4683 "Drop 32bit support?"
I think it is time for sunpy to stop "officially" supporting 32bit systems.

Currently we test for 32bit issues on our CI but we are unable to provide 32bit wheels and right now it seems that "manylinux2014_i686" does not have seem to have a 32bit build of the "HDF5-devel" library causing it to fail anyway.

@olebole you maintain the sunpy package for us on Debian's many arches, what are your thou

[2020-11-26 13:40] olebole commented on #4683
I normally build it for 32 bit architectures: arm, mipsel, i386 are the official ones, and it currently builds fine everywhere ¹. So, I have still no problem with it. I however have no numbers of how much they are used. I guess it is not much.

I think, 32 bit is more a kind of test for clean code :-) than for a real use. Therefore I would suggest to keep it until there is an explicit reason to dr

[2020-11-26 13:46] Cadair commented on #4683
We have added a hdf5 dep on master, and it will be there for the 2.1 release, but not for existing releases.

This was triggered by some issues with our 32bit test, it seems that centos (base for the manylinux) hasn't build hdf5 for 32bit since centos6.

[2020-11-26 21:42] nabobalis commented on #4683
I think we will keep it around until something prevents us from testing on it.

[2020-11-30 14:52] #4660 closed

[2020-12-01 14:25] ayshih opened #4693 "Enhance get_horizons_coord() to accept a large number of times"
Currently, `get_horizons_coord()` accepts a list of times for querying JPL HORIZONS.  This times are passed along as a list of discrete times, but that can be easily result in too long of an URL for HORIZONS to accept.  HORIZONS also accepts as input a time span with a step size, but that would presumably need additional API on our side to accommodate.  Figure this out.

[2020-12-01 14:52] ayshih opened #4695 "Move the example for NorthOffsetFrame out of its docstring"
`NorthOffsetFrame` has an example of its usage embedded in its docstring (see https://docs.sunpy.org/en/latest/api/sunpy.coordinates.NorthOffsetFrame.html).  This example should be moved to the gallery, with the docstring having a minigallery link instead.

[2020-12-01 16:41] #1259 closed

[2020-12-02 00:11] wtbarnes opened #4697 "File name format does not replace wavelength when downloading JSOC images"
When downloading AIA images from JSOC, the resulting filename format does not include the value of the wavelength, but instead just leaves the  string "WAVELNTH" in the filename. This means that when downloading images at different wavelengths, but the same time interval, the filenames will be the same. This has the effect of tricking `parfive` into not downloading any wavelengths after the first

[2020-12-02 14:03] dstansby opened #4699 "Can't get bottom_left_coord with swapped lat/lon axes"
I have full example code below, but consider the following header, with lat/lon swapped compared to their usual CTYPE1/2 assignments:
[code]
This produces a map like
![swapped_map](https://user-images.githubusercontent.com/6197628/100882333-f8e67380-34a6-11eb-8303-e58d01ea02d8.png)

The bottom left coordinate is clearly `Longitude = -1deg, Latitude = -2deg`. But, if I try and do `m.bottom_left_coo

[2020-12-02 15:55] Cadair opened #4701 "Should we deprecate GenericMap.pixel_to_world and world_to_pixel"
Since Astropy 3.2 ish, the (almost) equivalent output of `GenericMap.pixel_to_world` and `world_to_pixel` can be obtained by calling `GenericMap.wcs.pixel_to_world` and `GenericMap.wcs.world_to_pixel`. Should we now deprecate these methods in favour of those?

I consider these two methods to be very key methods on Map, so maybe it would be worth doing a longer deprecation period here?

[2020-12-02 17:52] dstansby opened #4703 "Add solar orbiter colormaps"
The first Solar Orbiter data, from the EUI instrument has been released (http://soar.esac.esa.int/soar/), and it works really well with sunpy (👏 for meeting FITS standards). We should add new colormaps for the data to sunpy. Does anyone know anyone on the EUI team that we can ask to get these?

Update: we now know which colormaps to use for EUI 🎉

[2020-12-02 18:35] Cadair commented on #4701
We discussed this at the community meeting today, and decided that one future large breaking change to map (with ndcube and metadata etc) would be much preferred to many small ones.

With that in mind, we discussed soft deprecating these methods, where a visible warning is *not* raised, but all our documentation, examples, code and docstrings move away from using them. This could then be accomapni

[2020-12-03 11:50] Cadair commented on #4683
In #4705 I have given up trying to fix the CI with the 32bit image. There are various things we *could* do to keep it around, e.g. swap to debian over centos for the docker image, however all of these come at a time cost to modify the templates or build and update our own container for testing.

Given we only have a very small amount of C code which should be sensitive to being built on 32bit, hop

[2020-12-03 19:52] olebole commented on #4683
@Cadair I think you can just rely on my tests; I also can backport fixes. I any case, the Debian packages are tested against a number of packages; so this is usual.

[2020-12-03 19:54] Cadair commented on #4683
Great thanks, and thanks for all your work on debian :)

[2020-12-03 19:55] #4683 closed

[2020-12-04 07:38] #2032 closed

[2020-12-04 07:38] #2744 closed

[2020-12-04 07:38] #3941 closed

[2020-12-04 20:48] wtbarnes commented on #4170
Interestingly, `sortby` works as expected if you pass a list of `Map`s to `Map` with `sequence=True`, but if you pass a list a filenames, the error is as above. I'm guessing this has to do with the way the factory handles files versus maps that have already been created.

[2020-12-05 12:47] #4699 closed

[2020-12-07 05:51] wtbarnes opened #4710 "Map class for EUI instrument on Solar Orbiter"
We should probably consider adding a separate Map class for the EUI instrument on Solar Orbiter. As pointed out in #4703, the data can be loaded just fine with `GenericMap` though it would be nice to add some instrument-specific colormaps, one for each of the wavelengths (see [here](https://wwwbis.sidc.be/EUI/EUI/EUI/EUI/EUI/about/instrument) for more information).

Loading one of the level 2 EUV

[2020-12-07 08:50] Cadair commented on #4710
Can someone link some data for people to get started with?

[2020-12-07 09:03] kakirastern commented on #4710
Yeah, may be better to spend some time and effort to compile a list of all relevant ground-based as well as satellite instruments for the new code addition(s)

[2020-12-07 10:26] dstansby commented on #4710
1. Go to http://soar.esac.esa.int/soar/#search
2. Select "EUI" under instrument
3. Select "L2" under proc level

They also have a metadata standard document here which is probably quite useful: https://issues.cosmos.esa.int/solarorbiterwiki/display/SOSP/Archive+Support+Data?preview=/60885589/62824361/SP_ROB_SOEUI_19002_MetadataStandard_EUI_20201117_v1.6.pdf

[2020-12-07 11:16] hayesla commented on #4710
Thanks nice - you can inspect fits header and WCS of the files :D

We should look at making a Fido client I guess too. @dstansby do you know if there a list or observation coverage file somewhere (i.e. dates for when data is available?)

[2020-12-07 11:53] Cadair commented on #4710
I spoke to the VSO folk, they are planning on indexing the data, so we probably don't need to worry about writing a Fido client.

[2020-12-07 17:01] wtbarnes commented on #4703
Is there an example of any of these color maps being used somewhere?

[2020-12-07 17:45] kakirastern commented on #4703
@wtbarnes Yup, over at glueviz. Don't ask me why but they have the entire collection of colourmaps for most solar probes but they are searchable by Re only. I have some merged PRs over there regarding this.

[2020-12-07 18:48] ayshih commented on #4710
They sure include a lot of options for spacecraft location: HGS, HGC (i.e., Carrington), HEE, HCI, HAE, HEEQ, and GSE.

The good news is that their HGS, HCI, HAE, and HEEQ options appear to be nearly consistent with our definitions, with only small differences when transforming between them.  I suggest that we use HCI over HGS because that's the only coordinate system for which they also provide t

[2020-12-07 20:38] dstansby commented on #4710
It might be that the observer information is filled in by (or disseminated to instrument teams by) ESA - emailing Andrew Walsh or Dave Williams at ESAC might be a good place to start, and they can probably direct to the right person - @ayshih I can put you in touch via. email if you'd like to raise the coordinate issues?

Also of note, on page 40 of the [Metadata Definition for Solar Orbiter Scien

[2020-12-07 21:15] ayshih commented on #4710
Yes, please do!

[2020-12-08 10:17] Cadair commented on #4710
These people are my friends, they have read the FITS spec :heart_eyes:.

We should probably make some changes to `GenericMap` to reflect this change (and maybe one or two others) which are new in FITS 4. We should be de-prioritising `DATE-OBS` if the more tightly specified keys in FITS 4 are present.

[2020-12-08 15:29] Cadair commented on #4571
Also updating the VSO and JSOC net attrs. @nabobalis do we have a script for this?

[2020-12-08 15:30] nabobalis commented on #4571
I think the functions I wrote to update those files are in the clients. I would need to double check.

[2020-12-08 15:34] kakirastern commented on #4571
Sure

[2020-12-08 20:34] #4695 closed

[2020-12-08 20:37] jeffreypaul15 commented on #4680
Does this issue still persist? I've checked on both .ipynb and .py formats and this doesn't seem to occur.

[2020-12-08 20:41] nabobalis commented on #4680
It is still there on our live documentation.

[2020-12-08 20:44] jeffreypaul15 commented on #4680
I'm a little oblivious when it comes to how sphinx works with this, will it automatically update if a change has been made? If not how does sphinx work with documentation?

[2020-12-08 20:44] kakirastern commented on #4680
Yeah, looks like the monster characters I see when I accidentally type stuff in my Terminal as the code is running on my fleet of Apple gadgets... Pretty sure it might be OS related now after @jeffreypaul15's remarks.

[2020-12-08 20:45] nabobalis commented on #4680
You have to re-run the documentation build to see any changes. The gallery example is ran once and cached so you have you clean it out if you want to see any changes.

[2020-12-08 20:46] kakirastern commented on #4680
Oh, Sphinx renders files originally in .RST format into browser-ready form like HTML under the hood iirc.

[2020-12-08 20:47] kakirastern commented on #4680
That is, Sphinx compiles...

[2020-12-08 20:48] jeffreypaul15 commented on #4680
Understood, thanks! :)
@kakirastern @nabobalis

[2020-12-09 10:38] dstansby opened #4714 "Units of arcsec/pix do not make sense for all projection codes"
### Description
`make_fitswcs_header` provides a nice interface to produce a WCS header, and allows one to specify a `projection_code`. I commonly pass `projeciton_code='CEA'`, which is a cylindrical equal area projection. The latitude axis here is evenly spaced in `sin(latitude)`, so CDELT for the latitude axis is dimensionless. `make_fitswcs_header` forces `scale` to be in units of `arcsec/pix`

[2020-12-09 10:59] Cadair commented on #4714
What happens if you multiply the scale by `u.one`?

[2020-12-09 11:42] dstansby commented on #4714
It fails the same way, since the function is expecting `scale` to be a `Quantity` instead of a list (with two different `Quantity`s inside).

[2020-12-09 11:49] Cadair commented on #4714
Oh I see, so this error is also partly that we are expecting both the CUNIT keys to have compatible units.

[2020-12-09 11:56] Cadair commented on #4714
This is pretty easy to work around? You can just override the `CUNIT` key after the function call? I wonder if it is possible for us to be really smart here and validate the units based on the projection?

[2020-12-09 12:01] dstansby commented on #4714
Yeah, definitely not a high priority bug, just a bit annoying to have to edit the header after it's created.

[2020-12-09 14:07] dstansby commented on #4714
On second thoughts (and after actually reading FITS paper 2 😆), since `scale` is interpreted as CDELT, this should always be in units of `arcsec/pix` or equivalent, because by definition this is used to transform from pixel coordinates to intermediate coordinates, which are in units of degrees (see https://www.atnf.csiro.au/people/mcalabre/WCS/ccs.pdf section 1).

The user is then left with the ta

[2020-12-09 14:07] #4714 closed

[2020-12-09 14:36] kakirastern commented on #4714
Just for our future dev and reference: https://www.aanda.org/articles/aa/full/2002/45/aah3859/aah3859.right.html

The FITS header keyword `CDELT` connotes some :

So when we construct say a WCS object from scratch, we could ideally specify say the following as the basic template:

I often omit the last, maybe coz I use the transformations `RA---TAN` and `Dec--TAN` for the projection.

[2020-12-09 14:53] Cadair opened #4715 "Automate Whats New creation on Pull Requests"
We should have PRs include their whats new entries, would be good to have a system like towncrier, where they are added as fragments to a dir per release. Probably easiest to do as a custom sphinx extensions including all files in a dir.

[2020-12-09 14:55] nabobalis commented on #4715
Additionally, a bot check with label.

[2020-12-09 16:30] dstansby commented on #4703
For reference, here's the reply I got from someone on the EUI team:

EUI color tables
---
In a research context everybody is encouraged to use the scaling and coloring that best displays the features under study.
For outreach purposes and online public display, the use of the reference color tables below is recommended:
FSI 304

We use the same color table as AIA 304, which is identical to IDL col

[2020-12-09 17:41] wtbarnes opened #4716 "Update metadata model to FITS 4"
Our metadata model needs updating regarding FITS 4. This was partially motivated by #4712. The purpose of this issue is to discuss exactly how to do this. This will probably need to be split into multiple issues and maybe become a project, but we can leave it as a single issue for now.

Some properties on `GenericMap` that need updating:

* `exposure_time` -- we currently expect `exp_time`, but `x

[2020-12-09 17:46] dstansby commented on #4716
See https://fits.gsfc.nasa.gov/fits_standard.html for the FITS standard document(s).

[2020-12-09 17:48] jeffreypaul15 commented on #4516
Has this issue been resolved? Or as @ayshih stated above should the code from `map/maputils.py` be moved into `coordinates/utils.py`?

[2020-12-09 19:01] jeffreypaul15 commented on #4493
This issue doesn't occur when setting regex=True while creating an object of the Scraper class, it works in both cases where @samaloney has mentioned that it breaks when passing in a pattern with time apart from the date.
[code]
``` Output : <Time object: scale='utc' format='isot' value=2020-05-24T00:00:00.000> ```

[code]
``` <Time object: scale='utc' format='isot' value=2020-05-24T07:51:17.000>

[2020-12-09 20:36] wafels commented on #3037
This might help: https://gitlab.com/SWHV/GeometryService

Get your spacecraft positions online.

[2020-12-09 21:02] Cadair opened #4718 "Add a dynamic z axis option to the animators"
So if your frames have a wide dynamic range the z scale changes

[2020-12-10 05:56] godslayer201 commented on #4715
I would like to work on it @Cadair @nabobalis , may I please proceed?

[2020-12-10 05:58] kakirastern commented on #4715
Welcome @godslayer201 to your 1st SunPy 🌞 contribution

[2020-12-10 05:59] godslayer201 commented on #4715
Thank you @kakirastern :) !

[2020-12-10 07:34] kakirastern commented on #4715
Welcome 😀

[2020-12-10 09:15] nabobalis commented on #4715
Hi @godslayer201, welcome aboard!

We strongly suggest that new people do not work on these type of infrastructure issues and pick up a "Good First Issue" but at the end of the day the choice is yours.

[2020-12-10 09:34] nabobalis commented on #4516
I don't believe the move was made in a pull request. We should probably have go.

[2020-12-10 09:34] nabobalis commented on #4493
Yeah it is worth adding a note or something similar to the docs just to warn peope.

[2020-12-10 14:54] Cadair opened #4719 "GenericMap HTML repr raises matplotlib deprecation warning"
[code]

[2020-12-10 15:45] ayshih commented on #4719
This was fixed in #4354, but not yet incorporated into any release (which is what @Cadair was testing).

[2020-12-10 19:20] #4719 closed

[2020-12-10 22:46] jeffreypaul15 commented on #4493
I'll make a PR regarding this but where exactly should this be mentioned?

[2020-12-10 23:00] nabobalis commented on #4493
The solution here is to rewrite scraper with a new design.

[2020-12-10 23:00] nabobalis commented on #4493
The main scrapper class is enough?

[2020-12-10 23:58] rickyegeland opened #4723 "Erroneous structures found in Helioprojective to HeliocentricStonyhurst coordinate transformations when using arrays"
### Description

I am working with Hinode SOT/SP slit-scan Level-2 data.  The FITS files provide per-pixel coordinates in helioprojective (X, Y) coordinates.  I would like compute the physical area on the Sun for each pixel.  I do this by using the formula `area = Rsun**2 * (lon_right- lon_left) * (np.cos(lat_bot) - np.cos(lat_top)`, where `lat_*` and `lon_*` are HeliocentricStonyhurst coordinates

[2020-12-11 01:56] kakirastern commented on #4493
Would really side with @nabobalis this time 🤔

[2020-12-11 03:21] ayshih commented on #4723
Thanks to @rickyegeland for the very thorough bug report, and the associated discussion on the Element channel!

In short, this behavior is occurring because the source data arrays are 32-bit float data arrays.  That bit depth gets preserved in the `SkyCoord` as well, so all of the transformation calculations are performed on 32-bit floats.  Unfortunately, `Helioprojective.make_3d()` – which calcu

[2020-12-11 05:20] rickyegeland commented on #4723
I confirm that this issue goes away when upgrading my source (x, y) arrays to 64-bit floats.  Attached is the plot with the expected smooth arrays.  Thanks very much to @ayshih for the fast help with this issue!

I agree that a warning would be helpful to prevent other users from falling into this trap.

![area_debug_64](https://user-images.githubusercontent.com/8008662/101866379-e4088080-3b35-11e

[2020-12-11 13:08] Cadair opened #4725 "Submap no longer correctly interprets the bottom left and top right corners in world coordinates"
To save myself typing it out again, this bug is demonstrated in this notebook: https://gist.github.com/Cadair/9c14a3224efebb46aff02eb0ba629a7f

The behaviour in 1.0 is shown here: https://gist.github.com/bd632ca84c5cc566c3488d19096f876f

[2020-12-11 14:20] ayshih commented on #4723
Actually, no, there's probably path for improving the calculation when working with 32-bit floats.  Ultimately, the issue is that the third component of Helioprojective coordinates is the distance from the observer to the point on the Sun, and storing that as a 32-bit float discretizes that distance into ~100-km steps for an observer at 1 AU.  Those ~100-km jumps will always lead to structures lik

[2020-12-11 15:42] Cadair opened #4726 "Add a contains coordinate method to maputils"
This would provide a quick way to see if a world coordinate is contained within the array bounds of a Map

[2020-12-11 17:06] rickyegeland commented on #4723
What about increasing the precision as needed within the transformation, but returning to the user a data structure with precision equivalent to the input?

I am concerned that the warning may be common enough in typical use (transforming coordinates derived from stingy FITS files) so as to be a nuisance.

[2020-12-11 18:02] #4723 closed

[2020-12-11 18:05] dstansby commented on #4723
The coordinate arrays are presumably derived from the FITS header meatadata, and not directly stored in there. It's interesting that by default the coordinates are being created in 32 bit though.

As a fun Friday afternoon hack, I derived how the difference in distance between two points observed on the Sun at disk center varies as a function of the angle between them (to simulate the resolution o

[2020-12-11 18:10] ayshih commented on #4726
Whoever implements this might as well fix the craziness of `maputils.contains_solar_center()` at the same time (see https://github.com/sunpy/sunpy/pull/4463#discussion_r492832186), since that would just be a special case of a more general function.

[2020-12-11 18:46] kakirastern commented on #4726
Cannot agree more

[2020-12-11 18:47] kakirastern commented on #4723
Good effort! Can be used as the basis of some future work.

[2020-12-11 21:12] rickyegeland commented on #4723
They come from a FITS extension, not the header.  `HDUList.info()` gives me:

[code]

And I access them like this:

[code]

, which preserves the native file precision.  Every float in these data files is 32-bit – something I'm going to pay close attention to from now on.  For reference, the data documentation are [here](https://www2.hao.ucar.edu/csac/csac-data/sp-data-description).

Thanks for th

[2020-12-12 03:53] ayshih commented on #4723
@rickyegeland Incidentally, since you have to add units to those data arrays anyway, you can call `u.Quantity(x, u.arcsec, dtype=np.float64)`, which combines the adding of the units and the upgrade to 64 bits.

[2020-12-15 11:14] Cadair opened #4733 "Cleanup changelog before 2.1 final"
There are some broken links, incorrect rst syntax etc that I noticed just in the first few entries, we should do a pass and make sure it renders correctly.

[2020-12-15 11:56] dstansby opened #4734 "Add a submap() test that uses a mask"
I noticed in https://github.com/sunpy/sunpy/pull/4727/files that we don't currently test `submap` on a `GenericMap` that has a mask set; we should add a simple test to the test suite to make sure it works as expected (ie. the pixels masked in the original map and submap should be the same).

[2020-12-15 13:22] hayesla opened #4735 "Need example of how to use xlim, ylim when plotting with WCS axes"
### Description
I always have to think twice (thrice) when using `ax.set_xlim` and `ax.set_ylim` with plotting with maps and WCSAxes, and it's not really that straight forward.

An example of this would be good to include - I'll make a PR now unless it exists somewhere? (I dont think so).

Also is this the easiest way to do it? i.e. find pixel coordinates and use those or is there some WCSaxes mag

[2020-12-15 14:10] dstansby commented on #4735
(sorry I'm repeating stuff you already know here!)

Whenever a map is plotted, the x/y axes that Matplotlib (and therefore `set_{x,y}lim`) uses are always pixel axes. On top of that, `WCSAxes` then "decorates" the axes with the world coordinates and coordinate grid. Because in the general case there is an arbitrary non-linear transformation between pixel and world coordinates, it's not (in general

[2020-12-15 14:29] Cadair commented on #4735
Putting my wcsaxes :tophat: on for a moment.

I feel like there is no reason why *in theory* wcsaxes couldn't do something to make this easier. I do wonder if you could either define the x limits along the x spine (i.e. you give it two 2D coordinate points which it uses to crop the x axis) and then do the same for the y axis, or you could do a similar rectangle like API to submap to crop the box b

[2020-12-15 18:12] jeffreypaul15 commented on #3885
Should the conversion of the tables into enums still be done? I can give it a go if required

[2020-12-15 18:13] SnehVachhani commented on #4571
hello ,
i want to help. plzzz navigate me

[2020-12-15 18:16] dstansby commented on #4571
Thanks for the interest! Since @Cadair is already assigned to this issue, it's already being taken care of. If you're interested in other issues, the Good first issue tag is probably a good start: https://github.com/sunpy/sunpy/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22

[2020-12-15 18:20] nabobalis commented on #3885
In theory I don't see why not.

[2020-12-15 18:27] kakirastern commented on #3885
Well said

[2020-12-15 21:36] SnehVachhani commented on #2210
hello,
i want to help
plzz someone navigate me

[2020-12-15 22:41] nabobalis commented on #2210
Hi @SnehVachhani, what would you like help on? I would suggest first reading https://docs.sunpy.org/en/latest/dev_guide/contents/newcomers.html to get started.

[2020-12-16 13:57] Cadair opened #4739 "What is the difference between the SUVI client and the VSO"
The VSO is now serving SUVI data, and our client indexes some SUVI data. What's the difference between the two? It's not obvious from the results.

[2020-12-16 14:27] abhishekpandey1880 commented on #4703
I am intrested in this issue. Please can anyone guide me?

[2020-12-16 14:38] Cadair commented on #4697
we don't specify anything to the `filenamefmt` argument to export, should we?

[2020-12-16 14:42] wtbarnes commented on #4697
If I recall, if I use `drms` directly for the same query and don't specify the `filenamefmt`, this doesn't happen so it seems to be something we are doing...

[2020-12-16 15:18] dstansby opened #4740 "net.dataretriever.sources documention missing"
https://docs.sunpy.org/en/stable/code_ref/net.html#module-sunpy.net.dataretriever.sources has a heading, but nothing is documented under the heading. We should fix this, so (e.g.) `RHESSIClient` is documented among other things.

[2020-12-16 15:57] Cadair commented on #4733
You mean from an editing the files perspective?

[2020-12-16 16:13] dstansby commented on #4733
Yeah, I just ran towncrier locally and found that there were 67 new broken links for 2.1(!), but I don't want to go back and edit all the individual fragment files to fix them, so it's easier to wait until `towncrier` has been run and committed to the `2.1` branch.

[2020-12-17 08:00] SnehVachhani commented on #4726
I am new to open source, want to start from this please can anyone provide me some more information regarding this issue. Like which file to be modified and what to be checked?

[2020-12-17 08:17] SnehVachhani commented on #2210
Hey @nabobalis  I have read the documentation that you mentioned and want to give it a start. Please can you guide me which file/s function/s i have to check.

[2020-12-17 10:37] nabobalis commented on #2210
The code for MapSequence lives here: https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapsequence.py
It lacks a save option that MapBase has here: https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L1200

So we would want to create a similar method that can save out the maps in a map sequence as individual files.

[2020-12-17 11:01] dstansby commented on #4726
Thanks for the interest! Essentially we would like a new function in `sunpy/map/maputils.py` called `contains_coordinate(smap, coord)` (or similar), which returns `True` if the `coord` is within the coordinate bounds of `smap`, and `False` otherwise.

[2020-12-17 12:50] Cadair opened #4750 "VSO QueryResponse should show all columns of results"
Now we have `.show()` and such it makes no sense to limit the metadata we are showing the users, where we no longer do for all the header info in JSOC for example

[2020-12-17 12:58] Cadair opened #4751 "VSOQueryResponse.resonse_block_properties is returning an empty set"
it shouldn't be

[2020-12-17 13:35] Cadair opened #4754 "submap, does not interpret width and height in the coordinate frame of bottom_left"
I assume this is a bug with the rectangle helper

[2020-12-17 13:42] #4754 closed

[2020-12-17 13:42] Cadair commented on #4754
This wasn't the bug, there is something wrong with draw_rectangle tho

[2020-12-17 13:45] Cadair opened #4755 "Rethink the return type from HEKClient.search"
Changing it to HEKResponse is a large breaking change and we should think about if there is a better way to do it

[2020-12-17 13:50] #4725 closed

[2020-12-17 13:50] #4734 closed

[2020-12-17 15:06] Cadair opened #4763 "MapSequence animator somehow breaks the norm when it animates"
My nice hmi sequence just goes black as soon as I update the animation

[2020-12-17 20:58] jeffreypaul15 commented on #3885
I'm a little confused as to what exactly has to be converted to enums here? Correct me if I'm wrong but the functions in color_tables.py have to be removed and replaced with them accessing the emuns which are the variables such as aia_wave_dict.

[2020-12-17 21:04] nabobalis commented on #3885
A design/API was never finalised, I would suggest seeing what you think is easier/pretty and opening that PR so we can iterate on it.

[2020-12-18 12:04] Cadair commented on #3037
oooh, that looks interesting.

Of course it would be nice if we could also integrate all that locally as well.

[2020-12-18 13:19] Cadair opened #4768 "You have to specify seconds on the time string arguments to a.Time now"
I could have sworn you didn't used to have to do this.

[2020-12-18 13:20] Cadair opened #4769 "a.jsoc and a.vso namespaces have non-attrs in it's tab completion"
Would be nice if it were cleaner.

[2020-12-18 13:24] dstansby commented on #4768
What's a reproducible example?

[2020-12-18 13:25] dstansby commented on #4769
What's the full list of stuff that comes out of tab completion?

[2020-12-18 13:28] dstansby commented on #4763
Do you have a self contained reproducible example?

[2020-12-18 13:59] Cadair commented on #4768
`a.Time("2020/10/01T00:00", "2020/10/01T00:00")` no longer works when I am sure it used to.

[2020-12-18 14:01] Cadair commented on #4769
[code]

In particular
[code]
are at the top of the list, kinda look like things a user might want to use and are not.

[2020-12-18 14:08] Cadair commented on #4763
https://gist.github.com/ee20b0c196c33b4fe79dd13495f44383

[2020-12-19 10:33] dstansby commented on #4768
[code]
Doesn't work for me on 2.0.x, 1.1.x, or 1.0.x, so I'm going to re-label this as a feature request.

[2020-12-19 12:02] #4769 closed

[2020-12-19 12:03] nabobalis commented on #4571
Written here: https://demo.hedgedoc.org/s/TzNppNRmU

[2020-12-19 12:38] Cadair commented on #4768
I wonder if we lost this in the 1.0 time refactor then :thinking:

[2020-12-19 15:02] Cadair commented on #4571
Done: https://github.com/sunpy/sunpy/wiki/Home%3A-Feature-Freeze-Checklist

[2020-12-19 15:02] #4571 closed

[2020-12-19 16:13] olebole opened #4775 "Not an issue: 2.1.0RC1 uploaded to debian experimental, and built/tested successfully"
### Description

I found a new RC on PyPI and uploaded it to [Debian experimental](https://packages.debian.org/experimental/python3-sunpy). It [builds on the release platforms (incl. tests)](https://buildd.debian.org/status/logs.php?pkg=sunpy&ver=2.1.0%7Erc1-2&suite=experimental) (which covers 32&64 bit, and big/little endian; mips archs still missing).

No problems where found; I thought this is

[2020-12-19 17:39] Cadair commented on #4775
This is maybe the best issue ever :wink:

[2020-12-19 17:44] kakirastern commented on #4775
Hooray 💯

[2020-12-19 17:48] dstansby commented on #4768
Should be pretty easy to fix, just need to add another custom time format entry to `sunpy/time/time.py`

[2020-12-19 21:20] jeffreypaul15 commented on #3885
[code]

[2020-12-19 21:30] nabobalis commented on #3885
I am not sure I follow, why are we creating arrays manually?

[2020-12-19 21:47] jeffreypaul15 commented on #3885
These are the already existing arrays in the color_tables.py that are used in aia_wave_dict and most other functions

[2020-12-19 21:52] nabobalis commented on #3885
Do we need to rewrite them?

[2020-12-19 21:54] jeffreypaul15 commented on #3885
I don't see the need to, I was just removing the functions and converting into into enums but as mentioned there are contradicting constants so I'll leave the iris_sji_color_table as it is and export it using __all__

[2020-12-21 12:10] #4740 closed

[2020-12-21 12:28] #3885 closed

[2020-12-21 13:09] nabobalis commented on #4751
Got an example I can run?

[2020-12-21 13:16] nabobalis commented on #4775
Thanks for the report Ole.

[2020-12-21 13:16] #4775 closed

[2020-12-21 14:26] ayshih commented on #3997
Closed by #4003

[2020-12-21 14:26] #3997 closed

[2020-12-21 14:30] ayshih commented on #2064
Closed by #4709

[2020-12-21 14:30] #2064 closed

[2020-12-21 15:27] jeffreypaul15 commented on #3885
So the conversion of enums are redundant here? I shall work on something else if they are

[2020-12-21 15:31] nabobalis commented on #3885
Yeah, I think enums were an idea that had no real use here.

[2020-12-22 13:39] Cadair commented on #4739
Intel from the VSO team is that they are currently only serving level 1b data for GOES 17. It seems you have to search for "level 1" to get the VSO data and "level 1b" to get our SUVI client. I think we should probably unify this somehow.

[2020-12-23 04:47] abhishekpandey1880 commented on #4768
I am intrested in this issue and from the discussion it seems that I have to add `"%Y/%m/%dT%H:%M",  # Example 2007/05/04T21:08` in the `TIME_FORMAT_LIST` array in `sunpy/time/time.py` .

[2020-12-23 08:46] nabobalis commented on #4768
Probably should be enough.

[2020-12-23 21:53] #4768 closed

[2020-12-24 17:17] dstansby opened #4802 "Deprecated GenericMap.measurement?"
It currently does exactly the same as `GenericMap.wavelength`, which I think is a much more descriptive name, so does anyone have any thoughts on deprecating and removing `GenericMap.measurement`?

[2020-12-24 17:37] wtbarnes commented on #4802
But a map can measure something besides just a single wavelength? E.g. LOS magnetograms.

[2020-12-25 08:03] jeffreypaul15 commented on #4657
Is this issue still open to work on? I've got a history of choosing wrong issues to work on so just checking beforehand xD

[2020-12-25 10:00] nabobalis commented on #4657
This issue is open to work on but only do so if you understand what the issue is asking for. This is not labeled as a good first issue for new people.

[2020-12-25 10:07] jeffreypaul15 commented on #4657
Alright, so add another draw_quardrangle method which would replace draw_rectangle with all functionality, raise a warning amd fall back to draw_rectangle if the user's astropy version is < 4.2. Correct me if I'm wrong

[2020-12-25 10:09] nabobalis commented on #4657
Sounds correct.

[2020-12-25 10:10] jeffreypaul15 commented on #4657
Alright, I'll begin working on this and open a PR soon

[2020-12-27 20:16] dstansby commented on #4802
Ah, I didn't realise it could be more general. In that case it should be documented as such, and the types it can return should be documented.

[2020-12-28 19:27] SnehVachhani commented on #4718
I want to start this issue please can anyone provide me some more information regarding this issue. Like which file to be modified and what to be checked?

[2020-12-28 19:41] SnehVachhani commented on #3688
I want to start this issue please can anyone provide me some more information regarding this issue. Like which file to be modified and what to be checked?

[2020-12-28 19:44] nabobalis commented on #4718
Hi @SnehVachhani, this is not an issue I would suggest new people work on. The animators are very opaque and not great to work on. Please look at https://github.com/sunpy/sunpy/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Good+First+Issue%22 instead

[2020-12-28 20:22] nabobalis commented on #3688
Something like this:

1. You will need to create a similar example as the one given in the second post but using our test or sample data and then add a text file masquerading as a fits file (or something) which will cause map to break.
2. Add a new keyword to https://github.com/sunpy/sunpy/blob/master/sunpy/map/map_factory.py#L308 to enable the feature. I think most of the work only needs to happe

[2020-12-29 10:08] jeffreypaul15 commented on #4657
by making a new method, `draw_quadrangle` the initial setup of the coordinates are the same as `draw_rectangle` so I was wondering if replacing the method completely and handling the situation where astropy < 4.2 is taken care of in the method was a good idea?
Or do they have to be separate methods because a few lines of code is repeated using Quadrangle from astropy.

[2020-12-29 10:15] nabobalis commented on #4657
We can't change the API between releases without prior warnings. I would create the new method and then on the PR we can discuss if we want to replace draw_rectange with it.

[2020-12-29 10:17] jeffreypaul15 commented on #4657
Makes sense, I'll open PR with a separate method.

[2020-12-30 07:21] akirahirohito commented on #4439
I will assign it to an associate of mine who will take over working on it

[2020-12-30 07:23] akirahirohito commented on #4439
To @Godslayer201

[2020-12-30 07:27] akirahirohito commented on #4439
Will confirm the username soon

[2020-12-30 07:27] akirahirohito commented on #4439
He is applying for GSoC 2021 with OpenAstronomy/SunPy

[2020-12-30 07:32] akirahirohito commented on #4439
@hrs2203 Sorry, issue has already taken as indicated on IRC

[2020-12-30 07:42] akirahirohito commented on #4439
Please adhere to CoC and refrain from any non-conformist behaviour @hrs2203

[2020-12-30 07:44] hrs2203 commented on #4439
Sorry but i didn't understand. did i make any mistake.

[2020-12-30 09:06] akirahirohito commented on #4439
Think so, and a very serious one indeed

[2020-12-30 09:17] nabobalis commented on #4439
Hi @hrs2203, please ignore this and continue working on this issue.

[2020-12-30 09:27] akirahirohito commented on #4439
I want to work on this issue still, please?

[2020-12-30 09:28] akirahirohito commented on #4439
You do not have permission to override my rights @nabobalis please

[2020-12-30 09:30] akirahirohito commented on #4439
All please adhere to COC, including administrators. Thank you.

[2020-12-30 09:31] akirahirohito commented on #4439
What is the matter with you @nabobalis?
You keep violating my rights as a member, as usual

[2020-12-30 09:32] nabobalis commented on #4439
Please take this to a private channel.

[2020-12-30 09:46] akirahirohito commented on #4439
I have already taken this to the Project Coordinators' channel, it is against COC to force someone into a private room/channel.

[2020-12-30 09:46] akirahirohito commented on #4439
@nabobalis You have just violated COC

[2020-12-30 09:47] akirahirohito commented on #4439
I have filed a complaint against you already

[2020-12-30 09:47] akirahirohito commented on #4439
Please refrain from posting on all SunPy issues and PRs for the time being, and wait until a decision has been made.

[2020-12-30 09:47] akirahirohito commented on #4439
Thank you.

[2020-12-30 09:50] #4439 closed

[2020-12-30 09:51] akirahirohito commented on #4439
This issue will remain mine and mine only

[2020-12-30 09:52] akirahirohito commented on #4439
I have every right to assign it to anyone who ask me about it, especially while I am acting according to SunPy' COC

[2020-12-30 09:53] akirahirohito commented on #4439
https://github.com/sunpy/.github/blob/e458ad04c78084dc65c455f5fad81288ad349198/CODE_OF_CONDUCT.md

[2020-12-30 13:03] nabobalis opened #4810 "Create an example showcasing how to do basic URL-scraping"
### Description

After some initial discussion on Sunpy's IRC channel, initiated by a user's queries on how to scrape file path based on URLS, I would like to propose the introduction of an example that showcases basic web URL-scraping. The example can be added to the "Acquring Data" section of the Example Gallery at https://docs.sunpy.org/en/stable/generated/gallery/index.html#acquiring-data.

A

[2021-01-02 05:34] abhishekpandey1880 commented on #4190
I am intrested in this issue. Please can anyone provide some details about this issue like which file(s) to be modified and what to be checked?

[2021-01-02 10:18] nabobalis commented on #4190
I think there isn't that much left to do according to codecov.

But based on https://codecov.io/gh/sunpy/sunpy/src/master/sunpy/map/mapbase.py#L1933 it looks like there are two blocks of code that we don't test for.

But lines 1935 to 1937 (I have my doubts about this section) and line 1952 do not register as tested and would need to have tests added to https://github.com/sunpy/sunpy/blob/master/s

[2021-01-02 15:14] hrs2203 commented on #4168
hey @nabobalis, I would like to start working on this issue, can I get some references for understanding.

[2021-01-04 11:57] dstansby opened #4815 "update_zenodo.py doesn't get correct authorship for backports"
On the current 2.1 branch, backport commits have a `sunpy-backport[bot]` author, so `update_zenodo.py` isn't giving the correct attribution for the original commit. As an example, `git log` currently shows
[code]

Somehow we need a way to get out the co-authorship information.

[2021-01-04 12:06] Cadair commented on #4815
We should only generate authorship information off master, it's going to be a nightmare to do anything else. Sometimes this can be a bit of a pain if a large non-backport PR were to land in master. I am not sure there is a better way out tho.

[2021-01-04 12:07] Cadair opened #4817 "need to tag master with v3.0.dev and update feature freeze checklist"

[2021-01-04 12:08] nabobalis commented on #4817
Also update the wiki page.

[2021-01-04 12:08] Cadair commented on #4815
We could also say that contributions after the feature freeze contribute to the next major release, as bugfixes after the release do?

[2021-01-04 15:51] dstansby opened #4818 "Improve __str__ of time returned from carrington_rotation_time"
### Description
If I print the time of a manually constructed astropy Time, it gives a nice human readable string:
[code]
However, if I try and print the output of `sunpy.coordinates.sun.carrington_rotation_time` it just gives me a number:
[code]
It would be much nicer if this printed a human-readable timestamp.

### System Details

- SunPy Version: 2.0.6
- Astropy Version: 4.2
- Python Version:
-

[2021-01-04 15:54] ayshih commented on #4818
What, you don't consider JD to be human readable? =P

Very easy to fix: just need to modify the format of the `Time` instance after it is created but before it is returned.

[2021-01-04 15:57] ayshih commented on #4818
Oh, and the scale of the time instance should probably be converted from Terrestrial Time (TT) to Coordinated Universal Time (UTC), since most solar physicists don't work with TT.

[2021-01-04 16:12] dstansby opened #4820 "Identically sliced UnifiedResponse don't compare equal"
Consider
[code]
I would expect these two identically sliced results to be equal, but they are not.

sunpy version: 2.0.6

[2021-01-04 16:23] dstansby opened #4821 "Add a way of specifying rotation number and longitude to carrington_rotation_time"
Currently `carrington_rotation_time` accepts a floating point number as input, which is the fractional Carrington rotation number. However, calculating this number from a rotation number and Carrington longitude is a bit confusing, because Carrington longitudes run backwards in time, going from 360 > 0. e.g.

[code]
(note that in the order written, these numbers/coordinates are going backwards in

[2021-01-04 16:40] ayshih commented on #4821
Interesting...  I guess just add a `longitude` keyword argument?

[2021-01-05 11:09] Cadair commented on #4657
I assume that a Quadrangle looks suspiciously like a rectangle for most HPC based maps? Assuming that is true I think that we should deprecate draw_rectangle for the first version we expect to be astropy 4.2+

[2021-01-05 12:21] Cadair opened #4823 "Reduce the size of our test data"
Currently the sunpy source tree is 19Mb (uncompressed) and 12Mb of this is in `sunpy/data/test/`. We should go through that folder and reduce every file in it to around the 10kb mark, and remove any which are no longer used in the tests.

[2021-01-05 15:04] ayshih commented on #4657
The only argument that I can think of for keeping `draw_rectangle()` around is that it might be nice to have a function that draws the rectangle-in-pixel-space region that would be returned by a `submap()` call with the same arguments.

[2021-01-05 15:13] Cadair commented on #4657
Do we accept pixel space arguments to draw_rectangle at the moment?

[2021-01-05 15:25] ayshih commented on #4657
What I mean is that `submap()` has to return a rectangle in pixel space, even with coordinate arguments.  It could be convenient to be able to visually plot that same rectangle with the same coordinate arguments.

[2021-01-05 16:30] Cadair commented on #4657
we could have a kwarg `quadrangle=True` or something?

[2021-01-05 20:27] lzivadinovic commented on #4820
Im not sure how python actually compares those objects, maybe we need to implement __eq__ or something similar.

For example, if you do:
[code]

Some basic insights on this https://stackoverflow.com/questions/1227121/compare-object-instances-for-equality-by-their-attributes

[2021-01-06 09:31] nabobalis commented on #4823
See https://github.com/sunpy/sunpy/issues/1686 as well.

[2021-01-06 11:42] Cadair opened #4826 "EVE timeseries doesn't load on pandas 1.2.0"
PANIC

[2021-01-06 11:52] dstansby commented on #4826
Pretty sure I fixed this in https://github.com/sunpy/sunpy/pull/4805?

[2021-01-06 11:59] Cadair commented on #4826
let me check my branches are upto date...

[2021-01-06 12:01] Cadair commented on #4826
yep, my branches were out of date.

[2021-01-06 12:01] #4826 closed

[2021-01-07 10:51] #4817 closed

[2021-01-07 11:14] dstansby opened #4831 "Cache test data during remote data CI"
I've just noticed that (among other files) the tests download a 77.5MB Lyra file. Even with Azure downloading it a 3MB/s this eats up 30s of test time every time the remote tests are run. It would be good if there was a way to cache the remote data used during the remote data tests.

[2021-01-07 11:20] Cadair commented on #4831
I think this should be fine, we would need to make sure that we aren't short circuiting any tests by having parfive go "this file already exists" but I don't think that's likely to be an issue.

[2021-01-07 11:24] dstansby opened #4832 "How to isolate WCS and observation information from a header"
When I'm reprojecting maps, I often want to change the metadata such that the WCS keywords are updated to values matching the new projection, but I want to keep the rest of the metadata (observer coordinate, observation time, observation wavelength etc etc.) the same.

When doing this, it would be helpful if there was a function that given a FITS header, could split it into two parts, one containi

[2021-01-07 11:33] Cadair commented on #4832
The shortest hack I can think of here is:

* Create WCS from header
* run `wcs.to_header()`
* Delete all the keys in the generated header from the original header.

[2021-01-07 11:39] #4763 closed

[2021-01-07 12:21] dstansby commented on #4831
Is there a way to do this within sunpy, or do the OpenAstronomy templates need modifying?

[2021-01-07 12:28] Cadair commented on #4831
Not 100% sure, I would need to do some reading on caches in Azure Pipelines.

[2021-01-07 12:42] dstansby commented on #4831
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops is what I found, it seems like it needs to be added as an extra step.

[2021-01-07 13:12] Cadair commented on #4831
Then it will need to be done in the template. :smile:

[2021-01-07 13:40] Cadair opened #4836 "Reduce the runtime of the examples to speed up our documentation build"
Some of our gallery examples take a very long time to run, we should try and speed them up as much as possible. For example see this summary in a previous build:
[code]

[2021-01-07 14:14] ayshih commented on #4836
The common thread for all of these examples is that they download data (via `Fido`), so presumably the solution space is to (1) download less data, (2) download lower-resolution data, or (3) reduce the use of `Fido` by adding more data to our sample data set.

[2021-01-07 15:09] Cadair commented on #4836
@ayshih clearly has a point. This is the timings from the build on #4837:
[code]

[2021-01-07 15:14] nabobalis commented on #4836
Can we not use sample data for the first two?

[2021-01-07 15:24] Cadair commented on #4836
The top one I think we could, the SDO/STEREO ones require data at a specific time (high stereo sep), so while we could add them to the sample data that would be more data at a different timestamp than most of the rest of the sample data.

[2021-01-07 16:53] dstansby opened #4841 "Work out why Fido isn't finding SDO/AIA near real time (NRT) data"
It takes a few days for AIA data to be processed to L1, and make it into the JSOC database, but near realtime data can be downloaded from http://jsoc2.stanford.edu/data/aia/synoptic/nrt/. It would be good if Fido could search for a download this data.

An example script that should return AIA NRT results, but currently returns nothing:
[code]

[2021-01-07 16:57] dstansby opened #4842 "Add Fido client for STEREO/SECCHI beacon data"
It takes a few days for STEREO/SECCHI data to be processed to L1, but beacon data can be downloaded from e.g. https://stereo-ssc.nascom.nasa.gov/pub/beacon/ahead/secchi/img/euvi/20210107/. It would be good if Fido could search for a download this data.

An example script that could return SECCHI beacon results, but currently returns nothing:
[code]

[2021-01-07 17:06] ayshih commented on #4841
I'll cross-reference to #3505 for an issue with the observer information in NRT files, although perhaps that has been subsequently fixed?

[2021-01-07 20:31] Cadair commented on #4841
I was under the impression that VSO indexed these data.

[2021-01-07 20:39] ayshih commented on #4841
Certainly I've gotten NRT files before via `VSOClient`, hence the issue that I cross-referenced.

[2021-01-07 20:40] ayshih commented on #4841
Heh, I'll cross-reference #4159, where @dstansby was reporting an issue with getting (unwanted) NRT files through Fido

[2021-01-07 21:27] dstansby commented on #4841
https://github.com/sunpy/sunpy/issues/4159 is related; it seems like at one point it was possible to get NRT data through the VSO, but this has stopped working at some point in the last ~6 months.

[2021-01-07 22:04] Cadair commented on #4841
I am reluctant to consider adding out own client for data indexed by the VSO, hopefully we get some info on why it's bust.

[2021-01-08 00:22] AlisdairDavey commented on #4841
We (VSO) are not aware of any problem with getting NRT images in the recent past, except since Jan 1 2021. This is because of a known issue at the MOC that the MOC team at NASA is fixing (courtesy of Art). With this we would expect NRT images to become available again once the issues are fixed.

[2021-01-08 00:47] SnehVachhani commented on #4823
I want to start this issue please can anyone provide me some more information regarding this issue. Like which files are to be removed and how to know which test are no longer used?

[2021-01-08 08:54] nabobalis commented on #4823
The files are here: https://github.com/sunpy/sunpy/tree/master/sunpy/data/test
You will need to rescale the larger files down and update the relevant metadata.

To find out if a file is not used, I think it is probably easier to just search for the file name and see if it pops up in a test file.

[2021-01-08 11:14] dstansby commented on #4841
Fab, thanks for the update!

[2021-01-08 11:39] hayesla commented on #3095
So just to give a bit more detail about what would be needed for this @Kate028:

I think for this we would want a new example to be created and put in the Example Gallery under [Plotting](https://docs.sunpy.org/en/stable/generated/gallery/index.html#plotting). I guess the idea of a descriptive example of how pixel and world coordinates work when plotting with WCSAxes.

For example, when plotting a

[2021-01-08 12:13] dstansby commented on #4823
What's the motivation for doing this? Unless the git history is re-written, aren't the files in there for good, and deleting them won't reduce the repo size?

[2021-01-08 12:17] dstansby opened #4845 "Fix CROTA in EUVI map source"
e.g.
[code]
raises
[code]
It would be good to fix this in the EUVI map source.

[2021-01-08 12:21] nabobalis commented on #4823
Rewrite the git history on master.

[2021-01-08 12:53] Cadair commented on #4823
The motivation is to make the tarball and wheels that people download smaller.

[2021-01-08 12:59] hayesla commented on #4845
yeah this has something that's been bugging me to, I have it fixed locally so can make PR if you aren't working on it @dstansby?

[2021-01-08 13:48] dstansby commented on #4823
I didn't realise the test data goes into the wheels, could we just remove the test data from them?

[2021-01-08 13:50] nabobalis commented on #4823
It would make self testing a bit more complicated.

[2021-01-08 13:55] Cadair commented on #4823
Like it wouldn't work. We could either deselect the whole test suite and not package the tests at all, or we can do this to mitigate it.

[2021-01-08 14:16] nabobalis commented on #4823
We can make it work.

[2021-01-08 14:52] dstansby commented on #4823
- Self test doesn't work anyway at the moment (as far as I can remember)
- Shouldn't be too hard to download the test data on demand when self test is run?

[2021-01-08 16:42] Cadair commented on #4823
I think if we want to discuss removing the tests from the dist then we should open a new issue.

[2021-01-08 17:45] nabobalis commented on #4697
This might be fixed upstream by https://github.com/sunpy/drms/pull/52

[2021-01-09 17:23] Kate028 commented on #3095
@hayesla Should i take "AIA_171_IMAGE" sample image for plotting or is there any other images that should be used also how many example are we supposed to insert into WCS plotting documentation.

[2021-01-09 17:33] jeffreypaul15 commented on #4842
I was looking into the class structure of ```Instrument```. SECCHI is a supported instrument by the VSO but I'm unable to figure out what is the reason for it not producing data. Can anyone point me in the right direction to solve this particular issue, should I be looking into ```Instrument``` with more detail and see why this isn't happening?

[2021-01-10 16:30] nabobalis commented on #4842
If this data is not being indexed by the VSO it will not show up in a Fido search.

We can ask the VSO if they would index this data or we can write a full Fido client to do so ourselves. The structure of `Instrument` is not important here.

[2021-01-10 16:36] jeffreypaul15 commented on #4842
Alright, any resources regarding writing a Fido client or something along these lines I can refer to?

[2021-01-10 16:40] nabobalis commented on #4842
Nothing final, at the moment its on a draft PR here: https://github.com/sunpy/sunpy/pull/4387

Also two PRs here that have implemented clients:
https://github.com/sunpy/radiospectra/pull/35
and
https://github.com/sunpy/radiospectra/pull/34

[2021-01-11 03:40] wtbarnes commented on #4697
I've just confirmed that this is fixed by sunpy/drms#52

[2021-01-11 10:30] hayesla commented on #3095
I would just use one image of the Sun, so the `AIA_171_IMAGE` from the sample data is a good one to use. You could then just show several examples of WCS plotting and some documentation on the one map, one such would be the example above. Does that make sense?

[2021-01-11 10:37] Kate028 commented on #3095
yes understood, thanks!

[2021-01-11 13:32] dstansby opened #4851 "test_consistency_with_horizons() test failing with new version of hypothesis"
As of `hypothesis` 6.0.0, `sunpy/coordinates/tests/test_ephemeris.py::test_consistency_with_horizons` is failing with
[code]

Related to https://github.com/sunpy/sunpy/pull/4097, where we decided to not take any action - it looks like with a new version of hypothesis this is now throwing an error instead of warning, so we might just need to change our filters.

[2021-01-11 14:47] ayshih commented on #4851
<sigh> I'll fix it

[2021-01-11 16:49] #4851 closed

[2021-01-11 17:32] #4750 closed

[2021-01-11 17:40] #4845 closed

[2021-01-11 18:18] ayshih commented on #4836
How are the computation times looking now after the merged PRs?

[2021-01-12 08:04] wtbarnes commented on #3266
`affine_transform` is now implemented in dask-image so this could probably be revisited.

[2021-01-12 10:31] hayesla opened #4861 "Can the VSO client have additional keywords added?"
I've a question about VSO client - is there a way to add in additional `kwargs` that aren't necessarily `attrs` of the client. For example, in `vso_search.pro` in sswidl you can add in a `near=` keyword which will return a file closest to the time specified in that `kwarg`.

I don't think the `near` keyword works for all clients, but does for AIA and is pretty handy.

When looking at the results o

[2021-01-12 10:35] Cadair commented on #4861
You can specify near with the third argument to the `a.Time` attr. (https://docs.sunpy.org/en/stable/api/sunpy.net.attrs.Time.html#sunpy.net.attrs.Time)

In theory all of the supported VSO search parameters should be in attrs somewhere, and if they aren't we should look at adding them.

[2021-01-12 10:40] Cadair commented on #4836
better, this is the results from the cron last night (although one of the examples failed):

[code]

[2021-01-12 10:40] hayesla commented on #4861
ah nice! thanks @Cadair ! that works nicely 🚀

[code]

[2021-01-12 10:41] #4861 closed

[2021-01-12 10:46] Cadair commented on #4836
From a quick look back over previous documentation runs, it looks like we have maybe cut the total docs job runtime in half already.

[2021-01-12 10:47] Cadair commented on #4836
I am going to keep this open as I think there is more that can be done, mainly using sample data rather than downloads.

[2021-01-12 12:15] dstansby opened #4863 "Document that carrington_rotation_time accepts arrays as input"
https://docs.sunpy.org/en/stable/api/sunpy.coordinates.sun.carrington_rotation_time.html currently just says it accepts a `float` as input, so I thought I would have to loop through my array and call it one value at a time. I tried it with an array though, and it seemed to work fine, so we should document that arrays are also a valid input.

In addition, if there isn't already a test that uses thi

[2021-01-12 13:37] dstansby opened #4864 "Unclear which way round colourmap is in Map quicklook"
I have a map with data scaled from 0 > 1, and quicklooking it in a notebook gives me the following output:

![Screenshot 2021-01-12 at 13 36 00](https://user-images.githubusercontent.com/6197628/104321238-43fa9a00-54db-11eb-947c-12e8d08e8ce5.png)

It's not clear from looking at this (maybe I'm missing something?) whether black/white areas of the map are high/low values.

[2021-01-12 13:47] dstansby commented on #4842
For a bit more info, I think the way to go here is to implement a client that uses the scraper, and scrape files in https://stereo-ssc.nascom.nasa.gov/pub/beacon/ahead/secchi/img/euvi/20210107/ (and other directories by date).

[2021-01-12 14:16] ayshih commented on #4864
Well, the white areas should be the high values and the black areas should be the low values, but there's certainly no color bar to make that clear.  A color bar can probably be integrated with the histogram plot to avoid taking up additional real estate.

(Hmm, it might not be *too* insane to consider adding Javascript handling for mousing over the image...)

[2021-01-12 17:03] Richardjmorton opened #4865 "New image alignment function"
I would like to add to the suite of alignment routines that sunpy offers, bringing in a function that will align data based on series of temporally local image frames. This leads to more robust alignment of image sequences, especially if there is large changes in the scene over the sequence.

I brought this up in the google group a while back.

I have this implemented in python, but would be willi

[2021-01-12 17:53] jeffreypaul15 commented on #4842
All the files in the ```img``` directory or the ones in ```cal```, ```seq``` and ```summary``` as well?

[2021-01-12 17:54] dstansby commented on #4842
Just the files in the `img` directory.

[2021-01-12 18:05] nabobalis commented on #4865
Hi Rick,

To start off, I think we can keep it simple. If you can fork the sunpy repository and add the code to either an existing file (coalignment.py maybe?) or new file under this location: https://github.com/sunpy/sunpy/tree/master/sunpy/image file.
You can commit that and open the pull request and we can go from there.

The sunpy style is a simple script that checks for basic python PEP8 issu

[2021-01-12 23:25] jeffreypaul15 commented on #4842
I've implemented this by referring to ```sunpy/net/dataretriever/sources/rhessi.py' and using the sunpy scraper Scraper.
Should I have to hard-code the ```cor2```, ```euvi```, ```hi_1```, ```hi_2``` directories and loop through them while capturing the data?

[2021-01-13 10:01] Cadair commented on #4842
@AlisdairDavey from the VSO team has just reached out to me to say that VSO are considering indexing this data. Apparently they will decide in the next few days if they are going to do so. I therefore suggest we press pause on this for a while to see what happens.

@jeffreypaul15 if you have code already feel free to open a PR, we can then compare it to whatever (if anything) the VSO does.

[2021-01-13 10:32] Richardjmorton commented on #4865
Thanks Nabil! Let's see how it goes.

[2021-01-13 17:39] wtbarnes commented on #3266
Just recording more of my thoughts/progress here: neither `pad` nor `nan_to_num` seem to be an issue anymore

[2021-01-13 19:20] jeffreypaul15 commented on #4842
@dstansby Shouldn't it be
[code]
as you're passing a range right? Correct me if I'm wrong.

[2021-01-13 22:10] dstansby commented on #4842
Yeah, I think your example is better. The third argument is a "give me the result closest to this time", so my example should still return one result.

[2021-01-13 22:12] jeffreypaul15 commented on #4842
Okay, and also a little confused on how to input the directories in the ```img``` directory, should I be returning data from all for sub-directories under ```img``` when a TimeRange is passed?

[2021-01-14 11:50] dstansby opened #4870 "Add a default sunpy database"
Currently in the database module one has to manually create a database, using
[code]
It would be good if sunpy had a default Database object (maybe a `sunpy.database.DefaultDatabase`?), so the user doesn't have to worry about creating one with sqlite syntax as above. The actual database file could live in the sunpy data folder.

[2021-01-14 11:53] dstansby opened #4871 "Remove the need to manually commit changes to a Database"
The database guide says:

This is a bit annoying from a user perspective.

It would be good to either
- Call `commit()` internally every time a change is made, or
- Call `commit()` inside a custom `__del__` method, so that commit() is run when the `DataBase` python object is garbage collected. I'm not sure if this is too clever though, and there might be cases where users would unexpectedly lose t

[2021-01-14 11:59] Cadair commented on #4870
I thought we already did this if you didn't pass an argument to the constructor, but if we don't then we should.

[2021-01-14 19:02] Cadair opened #4872 "Allow draw_contours to take absolute values if levels is in the same unit as map.unit"
Currently only percentages are supported

[2021-01-14 23:09] dstansby commented on #4872
See https://github.com/sunpy/sunpy/pull/4652 where I did this for the function to calculate contours.

[2021-01-14 23:11] wtbarnes opened #4873 "Add gallery example demonstrating how to make a fancy cutout/zoom plot"
The title is vague and confusing but this is what I'm talking about:

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/8676141/104660059-d776cb00-5693-11eb-84fd-89f94b690b60.png">

I feel like I see these all of the time and it was (at least to me) pretty non-obvious of how to reproduce this with Python/sunpy/wcsaxes.

[2021-01-14 23:12] wtbarnes opened #4874 "Add gallery example demonstrating how to make a fancy cutout/zoom plot"
The title is vague and confusing but this is what I'm talking about:

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/8676141/104660059-d776cb00-5693-11eb-84fd-89f94b690b60.png">

I feel like I see these all of the time and it was (at least to me) pretty non-obvious of how to reproduce this with Python/sunpy/wcsaxes.

Semi-complete code to reproduce this. This of cours

[2021-01-14 23:17] #4873 closed

[2021-01-18 11:10] #4398 closed

[2021-01-18 12:04] dstansby commented on #4864
I've tagged this as a feature request, as I think there should be some way to work out which way round the values are from the quicklook. Maybe there's a clever way of labelling (or colouring?) the histogram.

[2021-01-18 13:05] dstansby commented on #4697
Closing, since the upstream fix is merged

[2021-01-18 13:05] #4697 closed

[2021-01-18 17:56] dstansby opened #4880 "Update FITS time handling to FITS 4"
I'm spinning this out of https://github.com/sunpy/sunpy/issues/4716, as it's a big enough and self contained task to warrant its own issue.

https://fits.gsfc.nasa.gov/standard40/fits_standard40aa-le.pdf is the FITS 4 standards document, with updates to how times are handled in section 9. Making sure we conform to this (and maintain backwards compatibility) will be non trivial, and as such should

[2021-01-19 07:19] Kate028 commented on #4874
Hey @wtbarnes  Do we have to take a sample image (something like `sample.AIA_171_IMAGE`) and Plot the zoomed-in magnetogram on that particular image?

[2021-01-19 07:33] wtbarnes commented on #4874
Sorry, I should've been more clear in my original post. Yes, the gallery example would ideally use the sample data, e.g. the 171 image you mention. It doesn't need to involve a magnetogram. The objective here is just to show how to plot a zoomed in view next to the original with the connector arrows.

[2021-01-19 14:46] Cadair opened #4883 "we should set the COLUMNS env var in conftest.py"
Our doctests will not pass unless COLUMNS=180 which we currently do in tox.ini, but this means that if you run pytest outside of tox the doctests fail. We should set it in the pytest configure hook and unset it in the deconfigure hook, reverting it back to the previous value

[2021-01-20 14:07] Cadair opened #4884 "Limit the number of rows in the BaseClient repr"
The VSOClient repr in particular is very long, it makes sense to print it all in the `__str__` method but not in `__repr__`

[2021-01-20 16:02] nakul-shahdadpuri commented on #4884
Hi @Cadair, I think the BaseClient ```__repr__``` method is extended to VSOClient. Is it okay if the ```__repr__ ``` method of the Baseclient class returns a VSOclient object instead of printing the object?

[2021-01-20 16:19] samaloney opened #4886 "SRSClient download bug for 2020 dates"
### Description

Try to download some SRS files from the year 2020 which appears to work but no files are downloaded. Looking at the source for the data the 2020 tarball has not been create yet which is the root cause. Proposal from @Cadair was to try tarball first and fallback to daily files. Should try to ensure if there is a failure in the download process we don't return 👻  files

### Expected

[2021-01-20 16:27] samaloney commented on #4886
Not sure if  #4600 would need to be backported?

[2021-01-20 18:00] hayesla opened #4888 "Fixer Scraper - maybe a redesign?"
### Description
The functionality within `sunpy.util.scraper` is really useful and is used within Fido for dataretriver clients. However, the way it is currently written at the moment is confusing and there seem to be several bugs and issues following some discussion at the community meeting (see also #4493). It is also particularly confusing to use with the `regex` keyword and hence makes it chal

[2021-01-20 19:14] jeffreypaul15 commented on #4718
Any resources on this issue? Would like to work on this if it's open.

[2021-01-20 19:25] dstansby commented on #4718
😆 this is a classic @Cadair one-liner issue. To add a bit more detail:

If you have a 3D dataset, the animator animates one of those dimensions. Currently the `vmin`/`vmax` for the colorbar is set to be the minimum and maximum of the whole 3D dataset, but if there is a wide range of values across the dimension being animated, it can be helpful to update the `vmin`/`vmax` to the vmin/max of the 2D

[2021-01-20 21:28] dstansby opened #4890 "Choose a better default colormap and norm for HMISynopticMap"
I just loaded a HMI synoptic map, and it looks like a big grey rectangle:
<img width="836" alt="Screenshot 2021-01-20 at 21 28 06" src="https://user-images.githubusercontent.com/6197628/105243026-62f5cd80-5b66-11eb-9792-97468710ce09.png">

We should choose a colormap and norm that make features in the map easier to spot.

[2021-01-21 02:13] jeffreypaul15 commented on #4718
Alright, I'll get started reading up on this!

[2021-01-21 03:40] #4818 closed

[2021-01-21 03:46] ayshih opened #4893 "Add new coordinate frames: HEE and GSE referenced to J2000"
Solar Orbiter's preferred definitions of Heliocentric Earth Ecliptic (HEE) and Geocentric Solar Ecliptic (GSE) are referenced to J2000 rather than to "of date" as already implemented in SunPy.  (The "of date" definition is from Hapgood (1992) and Franz & Harper (2002), but ESA is making a different choice...)  It'd be useful to offer J2000-referenced versions of these frames, but some thought need

[2021-01-21 03:52] ayshih opened #4894 "Figure tests are affected by failures of other figure tests"
This is almost certainly an upstream bug in `pytest-mpl`, but I'm logging it here until that's confirmed.

When a figure test has created a figure but does not complete due to raising an error, the next figure test run in the same run may use the partially created figure for the hash, and thus fail.  Since the false failure depends on the first figure test raising an error, this is only a critical

[2021-01-21 11:40] Cadair commented on #4894
This section of the pytest-mpl code should be put in a try...finally block to ensure that https://github.com/matplotlib/pytest-mpl/blob/master/pytest_mpl/plugin.py#L579 is always called.

[2021-01-21 11:57] dstansby commented on #4894
I think the better long term fix is to have `pytest-mpl` control the figures being plotted. By this, I mean that `pytest-mpl` should create the `Figure` object, and test functions should accept it as a parameter. This way reduces the chance for bugs like this to happen because of pyplot being used, and is how the matplotlib image tests work.

[2021-01-21 12:23] Cadair opened #4895 "Standardise the search and fetch APIs of all subclasses of BaseClient"
Currently the signatures in the base client are:

[code]

A lot of the clients we have make up their own signature, we should decide on a standard signature in the base client and then try and unify the subclasses as much as possible. I propose the following signature for search:

[code]

fetch is more complex, there is part of me which thinks a very minimal signature like this:
[code]
would be fi

[2021-01-21 12:48] Cadair commented on #4894
Feel free to open an issue for that on pytest-mpl as well, I can see the advantages.

[2021-01-21 15:25] ayshih opened #4896 "Submap has a faulty assumption when given coordinates in a different frame"
`GenericMap.submap()` has a faulty assumption when given coordinates in a different frame: it assumes that the bounding box defined by the four corners of the input quadrangle include all other points within that quadrangle.  Here's an illustrative picture of the problem.  For an AIA map in helioprojective, if we define the quadrangle shown in blue using heliographic Stonyhurst coordinates, the `s

[2021-01-21 15:28] ayshih commented on #4896
[code]
![download (1)](https://user-images.githubusercontent.com/991759/105372177-52c80780-5bd3-11eb-888e-e54344cdefcc.png)

[2021-01-21 16:07] Cadair commented on #4896
I would agree we documented the current algorithm correctly but ideally I think it would return the bounding box containing the lines of constant lon/lat defined by the corners.

[2021-01-21 19:14] ayshih commented on #4890
Well, it _should_ look like a big grey rectangle at this time period.  This time period is very quiet: the strongest feature is rather small, and will look even worse once you plot it shrunk down.  The active regions are too nascent to even be numbered yet; they do grow in strength and become numbered in the following day or two, but by that point, they've rotated away from being in this synoptic

[2021-01-21 19:42] dstansby commented on #4890
I'm interested in the weaker magnetic fields, which are hard to distinguish with the default scaling. I played around a bit, and this seems to work well. In particular, it's now possible to distinguish the polarity of the poles, and old dispersed active region fields are also visible, without sacrificing the visibility of the stronger magnetic fields.
[code]
![fig1](https://user-images.githubuserc

[2021-01-22 07:49] Kate028 commented on #4874
Hey @wtbarnes  as i am working on this issue. I was thinking if you could assign me.

[2021-01-22 09:19] nabobalis commented on #4874
Done.

[2021-01-22 14:10] ayshih commented on #4890
I think your colormap/normalization looks really nice, but I'm not convinced that the _default_ settings should be changed.  It's not a standard presentation of HMI imagery (as far as I'm aware), and there will be scientists who are _not_ interested in the weaker magnetic fields.

This would certainly be a good gallery example, and perhaps even a convenience method.

[2021-01-22 16:38] ayshih opened #4897 "MatplotlibDeprecationWarning raised by code related to non-WCSAxes plotting"
This line
https://github.com/sunpy/sunpy/blob/c2c27b76484eb5eb3666e62451123a2e5368b386/sunpy/visualization/wcsaxes_compat.py#L64
 now emits a deprecation warning on Matplotlib dev:

[2021-01-22 21:10] wtbarnes opened #4900 "Simplify semi_circular_loop function in asdf coordinates example"
In the [example that shows how to save a coordinate into an asdf file](https://docs.sunpy.org/en/stable/generated/gallery/saving_and_loading_data/coordinates_in_asdf.html#sphx-glr-generated-gallery-saving-and-loading-data-coordinates-in-asdf-py), there is a function called `semi_circular_loop` that is needlessly complicated.

To make this example more straightforward, it would be better to replace

[2021-01-22 23:16] ayshih commented on #4900
Even cleaner (use `np.cos()` and `np.zeros_like()`):
[code]

[2021-01-23 16:11] 4molybdenum2 commented on #4900
Hi I am working on this, will open a pull request soon.

[2021-01-23 18:31] #4900 closed

[2021-01-25 14:42] dstansby opened #4906 "Add label to colorbar in map.peek()"
It would be nice to set the colorbar label from the unit of the map data (from the BUNIT FITS keyword), currently it is missing:

![Screenshot 2021-01-25 at 14 40 05](https://user-images.githubusercontent.com/6197628/105720567-78c71200-5f1b-11eb-8927-cd047d1e04be.png)

[2021-01-25 17:13] tanvimoharir commented on #4906
@dstansby I would like to work on this. Please assign this to me. I'm, however ,new to open source ,so any help/guidance is more then welcome. I will start with going through the Developers guide and Newcomers guide for now.
Thanks

[2021-01-25 23:38] fabianme17 opened #4907 "ModuleNotFoundError"
I update all anaconda modules last week.
Since then, I got an erro when trying to run this piece of code:
`from sunpy.coordinates.sun import angular_radius`
`Traceback (most recent call last):`

`  File "<ipython-input-15-37562b618349>", line 1, in <module>`
`    from sunpy.coordinates.sun import angular_radius`

`  File "/Users/user/anaconda3/lib/python3.7/site-packages/sunpy/coordinates/__init__

[2021-01-26 00:45] ayshih commented on #4907
It looks like you're trying to run a rather old version of SunPy with an up-to-date version of Astropy.  What version of SunPy are you running?  My guess is 1.1.x?

[2021-01-26 00:51] ayshih commented on #4906
Death to `.peek()`!  Long live `.quicklook()`! =P

(Of course, `.quicklook()` doesn't have this feature either...)

[2021-01-26 09:00] nabobalis commented on #4906
We tend to not use the "assignee" part of GitHub issues, our issues are generally low traffic enough to not cause a problem with not using this feature of GitHub.

The newcomers guide is the best place to start, if you hit any roadblocks, you should join the matrix channel and we debug it there.

[2021-01-26 11:37] Cadair opened #4908 "Allow passing keyword arguments to the HDU object used in GenericMap.save"
Currently we allow specifying the HDU object to `GenericMap.save` (which ends up in `sunpy.io.fits.write`), but not any way of specifying arguments to this HDU, for example the `quantize_level=` kwarg to the `fits.CompImageHDU`.

The offending line is here: https://github.com/sunpy/sunpy/blob/0757ca6f8b/sunpy/io/fits.py#L185

The difficulty here is we are already using `**kwargs` as arguments to `

[2021-01-26 11:51] tanvimoharir commented on #4906
@nabobalis Thanks! I will do that.

[2021-01-26 13:56] dstansby opened #4909 "Add HTML anchor to Attributes sections"
If I want to link someone to a list of the class attributes, it would be nice if the Attributes section had a HTML anchor (e.g. see https://docs.sunpy.org/en/stable/api/sunpy.map.GenericMap.html, where "Attributes" does not have an anchor). As an example, individual attributes have anchors (e.g. https://docs.sunpy.org/en/stable/api/sunpy.map.GenericMap.html#sunpy.map.GenericMap.bottom_left_coord),

[2021-01-26 14:11] Cadair commented on #4909
I would guess this is actually an automodapi feature request.

[2021-01-26 14:14] dstansby opened #4910 "GenericMap.size should return an integer"
I did not expect the `.0` here:
![Screenshot 2021-01-26 at 14 13 12](https://user-images.githubusercontent.com/6197628/105856127-c48fbf00-5fe0-11eb-83d4-bb272909227d.png)

This might be something we can change in sunpy, or it might be something to do with `Quantity` handling in astropy.

[2021-01-26 14:25] dstansby commented on #4910
I can reproduce this using only astropy, so is an upstream issue.

[2021-01-26 15:19] dstansby commented on #4910
Yeah, for some reason everything in `Quantity` is cast to a float, so this isn't solveable here.

[2021-01-26 15:19] #4910 closed

[2021-01-26 16:38] ayshih opened #4911 "Update the What's New for 2.0 to be consistent with earlier releases"
All of our "What's New" pages – except for the 2.0 one – have an involved Overview section that outlines the big changes and contains a "by the numbers" section.  The What's New for 2.0 should be updated to match the style of the others.

The "by the numbers" for 2.0 can be found in the current `RELEASE.rst`
(https://github.com/sunpy/sunpy/blame/a3cb0cea07d0972486f20dd78e2f528f1fe27c04/RELEASE.rst

[2021-01-26 21:21] dstansby opened #4913 "Add explicit signatures to Fido attribute documentation"
Currently Fido attributes have a generic (`*args, **kwargs`) function signature in the docs: https://docs.sunpy.org/en/stable/code_ref/net.html#classes

It would be good to convert these to explicit function signatures, to allow users to more easily understand what arguments each attribute takes. It looks like the function signatures themselves are fine, but somehow they are being modified when sp

[2021-01-26 22:12] dstansby commented on #4913
Detective work on element has uncovered that this is because `DataAttr` has a `__new__(*args, **kwargs)`, which overrides the `__init__` signatures defined in the sub-classes.

[2021-01-27 11:07] dstansby commented on #4913
It looks like we can configure sphinx to use `__init__` as the main docstring instead of `__new__`: https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#configuration

(and pinging @Cadair since you said you were interested in the chat)

[2021-01-27 12:04] ayshih commented on #4913
Hmm, is the problem solely wth Sphinx?  What does `help()` return?

[2021-01-27 17:50] samaloney commented on #4888
I think one nice thing would be able to handle combined queries that is partially date based but also regex based. So imagine  a new url like `2020/01/01/supercool_20200101_<some number>.fits` where `<some number>` can not be know ahead of time like an observation id or some thing it would be great to be able to give a pattern like `rf'%Y/%m/%d/supercool_20200101_\d?.fits'`

[2021-01-27 17:56] #4897 closed

[2021-01-27 18:01] fabianme17 commented on #4907
It was exactly that! After an update it worked fine.
Thank you so much.

Fabian Marcel Menezes

Centro de Rádio-Astronomia e Astrofísica Mackenzie
Rua da Consolação, 896 - prédio 45 - 7º andar
São Paulo, SP, Brasil

Em seg., 25 de jan. de 2021 às 21:45, Albert Y. Shih <
notifications@github.com> escreveu:

[2021-01-27 18:04] #4907 closed

[2021-01-27 18:07] nabobalis commented on #4888
Do we want it to still have "full regex" support or to replace it with https://github.com/r1chardj0n3s/parse

If we can list as many examples of possible URL/paths we need to scrape, it might be easier to figure out what it needs to do exactly.

[2021-01-28 09:24] jeffreypaul15 commented on #4906
How should the label for the colorbar look like, I'm a tad bit confused.

[2021-01-28 10:24] dstansby commented on #4906
For the label text, it should just take the unit from the `.unit` attribute, ie. `str(self.unit)` - does that clear up the confusion?

[2021-01-28 10:29] jeffreypaul15 commented on #4718
Is there code for creating an animation from a 3D dataset? I can't seem to find an example that lists this out.

[2021-01-28 10:33] #4913 closed

[2021-01-28 10:45] nabobalis commented on #4718
I believe this is an example: https://docs.sunpy.org/en/latest/generated/gallery/plotting/arrayanimatorwcs.html#sphx-glr-generated-gallery-plotting-arrayanimatorwcs-py

[2021-01-28 18:19] dstansby opened #4921 "pixel_to_world(ref_pixel) not returning ref_coord for a heliographic Carrington frame"
I am using `wcs.pixel_to_world` to try and go from pixels to coordinates, but when I try and transform the reference pixel of the below WCS header to coordinates, I don't get the coordinates of the reference coordinate. In particular, the longitude is off by exactly 1 degree:
[code]
I'm opening an issue in sunpy since I think this is dependent on the coordinate transformations in sunpy. It may be

[2021-01-28 18:45] dstansby commented on #4921
How embarrassing, it's because my PC2_1 value wasn't zero...

[2021-01-28 18:45] #4921 closed

[2021-01-28 20:29] jeffreypaul15 commented on #4906
Yep, thanks I shall make a PR regarding this soon.

[2021-01-28 21:46] Cadair opened #4922 "SRSClient results have the wrong timestamp"
When the SRSClient downloads a tarball and extracts it, we should show in the results table and entry for every day that we will extract from the tarball, so if I search for 3 days the results should show me 3 day long records, which will correspond to the files when extracted from the tarball.

It seems this is not the case: https://github.com/sunpy/sunpy/pull/4789/files#r560468008

[2021-01-28 22:01] nabobalis opened #4923 "Not passing in notify for a JSOC search is ambiguous"
We require a search for JSOC to need a notify attribute in order to fetch data. However if you do not provide one and then pass it into fetch, the error is ambiguous. We need to catch this in our JSOCClient and raise a better error message.

Example:
[code]

While this error is true, the email is invalid or registered since it was never passed in the first place.

[2021-01-28 22:34] #4755 closed

[2021-01-29 10:16] Cadair commented on #4888
As part of this I think the code should probably be moved into the net submodule as well, it uses the dependencies of net and makes more sense if it lives there to me. (Same also goes for any other net specific utils).

[2021-01-29 10:25] Cadair commented on #4751
closed by #4789

[2021-01-29 10:25] #4751 closed

[2021-01-29 10:41] #3702 closed

[2021-01-29 21:28] ayshih commented on #4864
@dstansby: Can you give fad76a90a80d89f95e856dfd124361de4e94aa56 a try and see what you think?  The histogram can be clicked on.

[2021-01-30 04:25] ayshih commented on #4864
Can you try #4931 with your map?

[2021-01-31 18:18] #4906 closed

[2021-01-31 18:37] jeffreypaul15 commented on #4923
What's the correct code for getting the ideal output in this situation?

[2021-01-31 18:39] nabobalis commented on #4923
There is no correct code. It is about improving the error message when the code is like this.

[2021-01-31 19:26] jeffreypaul15 commented on #4923
Misread this, my apologies.

[2021-02-01 11:37] jeffreypaul15 commented on #4923
So would the replacing of the errors suffice? Over here not passing ```a.jsoc.Notify("sunpy@sunpy.org")``` should raise a separate error?

[2021-02-01 11:38] nabobalis commented on #4923
We should capture that error and then raise a more informative error if "a.jsoc.Notify" is missing.

[2021-02-01 11:38] nabobalis commented on #4923
In theory this could be changed upstream in DRMS.

[2021-02-01 11:41] jeffreypaul15 commented on #4923
Can I make a PR addressing this?

[2021-02-01 11:42] nabobalis commented on #4923
Sure

[2021-02-01 12:04] jeffreypaul15 commented on #4923
Would it be better to make the change over at DRMS and raising an error saying "Email address is missing"?

[2021-02-01 12:05] nabobalis commented on #4923
Both will need to happen.

[2021-02-01 14:40] Cadair opened #4946 "Investigate using sphinxcontrib-towncrier"
https://github.com/sphinx-contrib/sphinxcontrib-towncrier

[2021-02-01 19:24] jeffreypaul15 commented on #4923
@nabobalis So while looking at the [docs](https://docs.sunpy.org/en/stable/guide/acquiring_data/jsoc.html?highlight=.jsoc#), the examples listed out for using the Fido client doesn't require an email, it works even without the email. I was wondering why enclosing the search in ```Fido.fetch``` causes the verification of emails. Is this the correct/intended behavior?

[2021-02-01 20:29] nabobalis commented on #4923
Yes to get data from JSOC you have to search with "a.jsoc.Notify" and that gets used inside fetch.

[2021-02-01 20:38] jeffreypaul15 commented on #4923
[code]
Gives a result without hacing to use ```a.jsoc.Notify``` so I was a little confused, so only when ```Fido.fetch``` is used we check for the right attributes and raise an error?

[2021-02-02 14:12] ayshih commented on #4710
The Solar Orbiter folks have fixed their SPICE definitions of HEE/GSE after I tracked down exactly where the error was.  Hopefully any new files generated by the EUI pipeline will use the updated SPICE kernels.  Even then, there will still be a slight discrepancy because of #4893.

[2021-02-02 15:31] hayesla commented on #4922
maybe I'm missing something here - do you mean the results table of the search?

[2021-02-02 17:15] nabobalis commented on #4923
Yes, its confusing.

[2021-02-02 17:38] wtbarnes commented on #4923
Just to clarify, you can make a query against the JSOC without registering your email. You just can't download data without an email. This is because the export process, wherein the data and header are combined into a single FITS file and made available for download (which is effectively what `Fido.fetch` is requesting) is the expensive step for the data center. The email registration process is t

[2021-02-02 20:55] jeffreypaul15 commented on #4923
Ah makes more sense now, thanks @wtbarnes, this clears up alot of confusion.

[2021-02-03 14:08] samaloney commented on #4922
yea me to I think #4904 does this

https://github.com/sunpy/sunpy/pull/4904/files#diff-33ff99802afd99383a4aaae139689c87077764ee59e4035ab6981c51950b7367R153-R156

[2021-02-03 20:24] nabobalis commented on #4842
See VSO update here: https://github.com/sunpy/sunpy/pull/4869#issuecomment-772797409

[2021-02-03 20:25] #4842 closed

[2021-02-04 10:46] #4923 closed

[2021-02-04 10:47] dstansby opened #4958 "New test images should show up in HTML figure test report"
In https://github.com/sunpy/sunpy/pull/4929 a new figure test image was added, but it didn't show up in the figure report: https://62929-2165383-gh.circle-artifacts.com/0/.tmp/py38-figure/figure_test_images/fig_comparison.html.

It would be good if new images showed up in the html report, so it's easy to check them. I suspect this needs to go upstream to `pytest-mpl`.

[2021-02-04 14:38] ayshih commented on #4958
It doesn't show up in the comparison report because the figure test passed the hash check.  For a successful hash check, `pytest-mpl` doesn't attempt to retrieve the baseline image, so it doesn't realize that the baseline image doesn't exist.

[2021-02-04 14:51] Cadair commented on #4958
I think this is part of what I started working on here: https://github.com/matplotlib/pytest-mpl/pull/108

[2021-02-09 19:55] wtbarnes opened #4972 "sunpy.physics.differential_rotation should loudly proclaim it does not work with cutouts"
See #3323.

Differentially rotating cutouts using this old method does not work. This could should be deprecated and removed anyway in favor of `RotatedSunFrame`, but in the meantime, we should at least throw an error when a user throws in a cutout or if we cannot reliably detect this, we need a big red banner that proclaims this does not work with cutouts.

As it stands, it gives wrong and confus

[2021-02-10 14:07] olebole opened #4974 "[2.1.0rc3]: Several WCS related errors"
### Description

(Probably) after an upgrade of Erfa, there are many errors and failures of both RC1 and RC3. The stable version (2.0.7) seems not affected. This is also reported as [Debian#982397](https://bugs.debian.org/982397) (the Debian bug report is for RC1; I just tested whether it is fixed in RC3).

### Expected vs Actual behavior

This is one stacktrace:

[code]
A full build log (with the

[2021-02-10 15:47] ayshih commented on #3323
As I just discussed in the Element channel, I don't believe this is a bug.  It's inherent to the design of `differential_rotate()` and how it figures out the bounds of the output map that the center of the output map is not necessarily the same as differentially rotating the center of the input map.

[2021-02-10 15:48] ayshih commented on #4972
See https://github.com/sunpy/sunpy/issues/3323#issuecomment-776805110 for my objection

[2021-02-10 15:49] ayshih commented on #4972
Re `RotatedSunFrame`, I'll cross-reference #3931

[2021-02-11 15:26] ayshih commented on #3323
I'm going to close this issue as not a bug.  Here's an illustration of why the OP's "expected" behavior for the center coordinate shouldn't actually be expected.  Note that the center coordinate of the output map is well outside of the differentially rotated data.

![download](https://user-images.githubusercontent.com/991759/107657407-26902b80-6c53-11eb-9f9c-7cb450e1690c.png)
Generating code:
[cod

[2021-02-11 15:26] #3323 closed

[2021-02-11 15:29] ayshih commented on #4972
Closing as not a bug.  See https://github.com/sunpy/sunpy/issues/3323#issuecomment-777575463

[2021-02-11 15:29] #4972 closed

[2021-02-11 15:35] ayshih opened #4977 "Bounds determination for `differential_rotate()` not quite correct"
The example that I created for https://github.com/sunpy/sunpy/issues/3323#issuecomment-777575463 suggests that the bounds determination for `differential_rotate()` is not quite correct.  Some data is getting clipped on the left, and there's too much padding on the right.

![download (2)](https://user-images.githubusercontent.com/991759/107733652-83c6c400-6cc9-11eb-8b02-79a61eae3cf9.png)
Generating

[2021-02-11 15:46] ayshih commented on #4911
I don't know why this wasn't auto-closed

[2021-02-11 15:46] #4911 closed

[2021-02-11 19:10] jeffreypaul15 commented on #3323
What would be the idea observation in the case of ```differential_rotate``` after 6 days? If you don't mind, can I have a go at this issue?

[2021-02-11 19:11] jeffreypaul15 commented on #4977
What would be the idea observation in the case of ```differential_rotate``` after 6 days? If you don't mind, can I have a go at this issue?

[2021-02-11 19:57] Cadair commented on #4977
I am not sure this is a problem worth solving, at least not in the form the code is currently in. A much more useful investment of time would be to calculate what the correct output WCS is and then use reproject to do the warp. This is obviously a reasonably similar problem to the one the current algorithm solves, but presented in quite a different way (if my memory of the current code serves).

[2021-02-11 21:30] ayshih commented on #4977
@jeffreypaul15 I've fallen down a rabbit hole with current code.  I recommend keeping far away from this issue...

[2021-02-11 23:37] jeffreypaul15 commented on #4718
The ```ArrayAnimatorWCS``` allows the user to specify a vmax by, without using this property the images have a wide range of values, is this what you are referring to?

[2021-02-12 10:03] dstansby commented on #4718
Yes, if you specify a `vmax` it is the same `vmax` for all the frames of the animation. I think a good API to fix this feature request would be allow `vmax='auto'` to be specified, which would update the `vmax` value frame by frame based on the maximum value of the data being shown in that frame.

[2021-02-12 22:50] jeffreypaul15 commented on #4718
Yeah that makes sense, I shall get working on this and make a PR soon

[2021-02-13 10:37] #4735 closed

[2021-02-13 12:37] #4884 closed

[2021-02-13 18:41] ayshih commented on #3931
I believe #4979 has satisfactorily reconciled the two approaches.  Here's a comparison.  Note that I used the WCS calculated by `differential_rotate()` as the output WCS for `RotatedSunFrame`.  Small differences still remain after #4979, but they are believably due to the difference between `skimage.transform.warp` and `reproject.reproject_interp`.

Before #4979:
![diffrot before](https://user-ima

[2021-02-13 18:51] ayshih commented on #3931
I'll note that a workaround to get agreement prior to #4979 would be to put the `differential_rotate()` call within a `transform_with_sun_center()` context.  However, the bounds of the plot would still be messed up (see #4977) because that is due to a different bug.

[2021-02-15 22:04] #4864 closed

[2021-02-16 09:46] #3931 closed

[2021-02-16 09:46] #4977 closed

[2021-02-16 10:10] Cadair opened #4998 "Find and improve all instances of defaulting the Sun-Earth distance to 1 AU"
If I remember correctly we do this in a few places in Map, such as in SXT as was pointed out here: https://github.com/sunpy/sunpy/pull/4926#discussion_r569631042

@ayshih Do we still do this anywhere in coordinates?

[2021-02-16 10:17] Cadair commented on #4974
@olebole What version of pyerfa are you running here?

[2021-02-16 10:33] olebole commented on #4974
That is erfa 1.7.2 (we update pyerfa independently of erfa). And pyerfa 1.7.1.1.

I would however rather think that wcslib 7.4 is the cause, as astropy had a similar problem. I described that in astropy/astropy#11322, but then I discovered that it was fixed in astropy/astropy#11260.

I don't use wcslib from the astropy package, but the Debian package, which was recently updated.

[2021-02-16 10:39] Cadair commented on #4974
I think we probably will hold on a patch for this upstream then, it's not actually a code bug, just a warning being turned into an error. Can you see if the following patch fixes it for you:

[code]

[2021-02-16 14:16] olebole commented on #4974
Many of them are fixed now. Summary is shortened to
[code]

The failure is
[code]
while the errors are:
[code]

[2021-02-16 14:59] ayshih commented on #4998
I'm pretty sure `sunpy.coordinates` is all safe.

I just tried using `grep` to find instances anywhere else, and the only one I can find is that SXT one.  (A private function in `sunpy.instr.goes` has it as a default if a date is not provided, but the public function that calls it should always provide a date.)  However, there may be insidious implementations that I missed with my `grep` pattern.

[2021-02-16 18:08] ayshih commented on #4670
Two of these failures are odd because they are erroring due to warnings that should be ignored due to the `+IGNORE_WARNINGS` flag.  For example, the warning for the `solar_rotate_coordinate()` doctest is correctly ignored locally if I use `+IGNORE_WARNINGS`.  Perhaps there was something in the testing configuration at the time that was overriding `+IGNORE_WARNINGS`?

[2021-02-17 14:13] dstansby opened #5005 "Add some logging for HEK searches"
I'm currently carrying out what I thought would be a simple HEK search (all CMEs in 2011), but the search is taking a long time (EDIT: it took ~1minute, which isn't ages, but isn't quick). I tried turning on logging at the info level to see if it would give me any more info, but nothing seems to come up.

It would be good if HEK searches could provide some logging and the INFO level to inform the

[2021-02-17 14:39] dstansby opened #5006 "Convert results from the HEKClient to Astropy Time and Quantity objects"
As far as I can tell, all the data returned by a HEK search is either a bare number or a string.

My first instinct would be to automate it inside the client, but more generally, it would be good if there were a schema for the return type and we could automate these conversions in the client.

For times at least, it seems doing `sunpy.time.parse_time(result['hek']['my_time_column'])` does the job.

[2021-02-17 16:09] Cadair commented on #5006
More generally, it would be good if there were a schema for the return type and we could automate these conversions in the client.

[2021-02-17 16:45] dstansby commented on #5006
Yes, definitely bonus points for that!

For times at least, it seems doing `sunpy.time.parse_time(result['hek']['my_time_column'])` does the job. For quantities I haven't worked out if there is any information on the units in the query result yet.

[2021-02-17 16:46] nabobalis commented on #5006
This feels like a separate issue.

[2021-02-17 18:19] ayshih commented on #4670
`pytest-doctestplus` has a bug that prevented the use of `+IGNORE_WARNINGS` in our `online` build.  I have PR-ed a fix  here: astropy/pytest-doctestplus#152

[2021-02-17 20:54] samaloney commented on #4888
Not sure if it belongs in scraper but scraper needs it for sure - conversion of astropy `Time` objects  to 'calendar' dates. I create a hack in #4904 to to convert astropy `Time`s to python `datetime`s so we could use `relativetimedelta` but it needs a more comprehensive (correct) solution

[2021-02-18 09:59] #4886 closed

[2021-02-18 10:58] Laubeee opened #5012 "Fido download of EIS data stops at 80% resulting in corrupt files"
### Description
Fido download of Hinode EIS data stops at 80% resulting in corrupt files.

### Expected vs Actual behavior
1. Files should be downloaded fully, not just 80%
2. If somehow that is not possible, an actual error should be raised instead of just continuing as if everything succeeded

### Steps to Reproduce
[code]

### System Details
- SunPy Version: 2.0.5 / 2.0.7
- Astropy Version: 4.0

[2021-02-18 11:19] nabobalis commented on #5012
Can you tell me what version of parfive you have installed?

[2021-02-18 11:38] Laubeee commented on #5012
1.2.0

Indeed! I didn't check tbh I just thought they were only partially downloaded.

[2021-02-18 12:49] #4626 closed

[2021-02-18 14:04] Cadair commented on #5012
This looks like a VSO issue if it's serving files with incorrect content.

[2021-02-18 14:58] dstansby commented on #5012
I came across this the other week too, thanks for reporting and thanks @nabobalis for taking a closer look!

[2021-02-18 15:04] nabobalis commented on #5012
I want to get the URLS out of fido and see if I can download it through my browser ok.

[2021-02-18 15:13] #4733 closed

[2021-02-18 15:37] Cadair commented on #5012
I have brought this up with the VSO team, am pretty sure it's a server side issue.

[2021-02-18 16:18] ejm4567 commented on #5012
The mount containing the Hinode data is up and responding. I was able to download that 11:41 7/18/15 EIS tarball using both the VSO web client and IDL/SSW.  The download did fail for that particular file using my SunPy test script. Other EIS file are downloaded by my SunPy script.

Interestingly, that particular file was a lot slower downloading via IDL/SSW than others:

`5 : https://sdac.virtuals

[2021-02-18 16:25] Cadair commented on #5012
Why would the sunpy download code cause that file to have that content though? I could understand maybe parfive timing out on that file (there are timeouts but I would expect errors if they were hit), but we can't be pulling the content from anywhere else other than what the VSO sends us?

[2021-02-18 16:29] Cadair commented on #5012
The download URLs as returned by VSOClient:
[code]

[2021-02-18 16:30] Cadair commented on #5012
cracking open one of them in my terminal seems to work, so I assume it's some header we are sending when we try and download the file that's causing the issue.

[2021-02-18 17:10] Cadair commented on #5012
The issue appears to be that parfive will attempt to download the file in chunks to speed up the transfer, if the response from the server on the GET request includes the `Accept-Ranges: bytes` header (which in this case it does). However, if we then request segments of the file with the `Range: ` header present the content becomes corrupted.

I will shortly open a PR to parfive with the branch I

[2021-02-18 19:35] Cadair commented on #5006
Well my first instinct would be to automate it, not just write a big doc with "this column is this datatype" etc.

[2021-02-19 13:59] ayshih commented on #4680
It looks like hiding the downloading-progress output for our RTD docs has also stopped this spurious output.  My guess is that this spurious output was not associated with the `Map()` call itself, but rather asynchronous downloading-progress output from the preceding downloading call that had yet to be flushed out before calling `Map()`.

Closing

[2021-02-19 13:59] #4680 closed

[2021-02-19 16:14] #4657 closed

[2021-02-19 19:42] jeffreypaul15 commented on #4718
While implementing this, I was thinking if I were to set the ```vmin```/```vmax``` to a ```clip_interval=(1, 90)*u.percent``` or should the ```vmax``` be greater than 90? These seem to produce optimal results. such as
![image](https://user-images.githubusercontent.com/50923538/108553275-74262b80-7318-11eb-8bba-dda12081c2d4.png)
and
![image](https://user-images.githubusercontent.com/50923538/108553

[2021-02-19 20:29] dstansby commented on #4958
Ideally changed test images should show up too (as I noticed on https://github.com/sunpy/sunpy/pull/5019)

[2021-02-19 20:50] #4890 closed

[2021-02-19 21:42] #4883 closed

[2021-02-20 20:48] #5005 closed

[2021-02-22 16:00] #4500 closed

[2021-02-22 23:50] samaloney commented on #4922
So I think this can be closed now as #4904 also resolved this?

[code]

[2021-02-23 09:07] #4922 closed

[2021-02-24 16:49] dstansby commented on #4703
Shall I close this, or leave it open for other Solar Orbiter colourmaps when the various instruments release data?

[2021-02-24 19:42] nabobalis commented on #4888
Scraper Redesign

# Goals

1. Simplify and combine regex and non-regex patterns
2. Extract common code to higher level (directory pattern creation, etc)
3. Parallel queries where appropriate

# Current API Summary

[code]

# Logical steps
0. Verify pattern (valid regex, parser etc)
1. Split url into directory and file patterns
2. Based on the directory pattern and time range create list of directo

[2021-02-25 21:31] jeffreypaul15 commented on #2296
After it was renamed to ```MapSequence```, are there still absent here?

[2021-02-25 21:33] nabobalis commented on #2296
They should still be.

[2021-02-25 21:57] jeffreypaul15 commented on #2296
Any leads on how to go about testing this? Seems intriguing considering I just worked on this.

[2021-02-25 21:58] nabobalis commented on #2296
Similar to the arrayanimator ones?

[2021-02-25 22:10] samaloney commented on #4888
Useful issue from parser repo https://github.com/r1chardj0n3s/parse/issues/62

[2021-02-26 10:22] Kate028 commented on #3018
Hey @nabobalis this issue is still open! What are we supposed to do here?

[2021-02-26 10:32] Kate028 commented on #4880
Hey @dstansby , i was going through the section 9 of the mentioned pdf. Could you please let me know if this intended at experts or i try working on it?

[2021-02-26 11:05] nabobalis commented on #3018
I'm not sure.

[2021-02-26 11:10] dstansby commented on #3018
I think this is really an upstream astropy issue (trying to plot on a `WCSAxes` in degrees should raise an error), and on the sunpy end is made a lot better with #4867, so I'm going to close.

[2021-02-26 11:10] #3018 closed

[2021-02-26 22:34] ebuchlin opened #5036 "Map.rotate pads with zeros in addition to the value of "missing""
### Description

`Map.rotate()` pads the input data when rotating. The `missing` keyword provides a value for filling the missing values. But this value is not used everywhere where I expect it: there is also a stripe of zero values.

### Expected vs Actual behavior

The value of `missing` should be used in all pixels of the output map where there is no value from the input map (after rotation).

[2021-02-27 19:36] jeffreypaul15 commented on #2296
Should the sliders and buttons be tested as well? They are inherited from ```BaseFuncAnimator``` which is already tested while ```ArrayAnimator``` is being tested

[2021-02-27 19:40] nabobalis commented on #2296
Should probably make sure that the sliders work.

[2021-02-28 11:54] Kate028 commented on #5006
Hey @dstansby , I am having some doubts

Are we talking about float or string datatype that we getting as output in this file https://www.lmsal.com/hek/VOEvent_Spec.html .
where's the input file or maybe we downloading it from this url https://www.lmsal.com/hek/her ?

Let me know if these are the right place to look up
`sunpy/net/hek/hek.py`
`docs/guide/acquiring_data/hek.rst`

Also, in this code

[2021-02-28 12:02] Kate028 commented on #5006
`sunpy.time.parse_time(result['hek']['my_time_column'])`
Also, how you using this cmd it's doesn't seems to work for me.

[2021-02-28 12:16] nabobalis commented on #5006
It would be the results that the HEKClient returns.

Those two files are where the examples on how to use the HEKClient and the main code for the client live.

That might be the place to do the conversion, you'll have to experiment and find out.

I think this only works on sunpy 2.1.

[2021-02-28 12:24] Kate028 commented on #5006
Okiees, i will go through it. Still in the process of learning automation!

Thanks Nabil! today itself i get upgraded to sunpy 2.1.1

i will check maybe i won't be using properly!

[2021-02-28 13:02] nabobalis commented on #5006
I am not sure that you need to learn "automation" for this.

[2021-02-28 14:09] Kate028 commented on #5006
oh is it? okay! It was mentioned earlier to automate these conversions into time and quantity so i was learning since 2-3 days.
(Maybe that's another issue as you specified in comment above).

That's completely fine! Thanks Nabil for letting me know!

[2021-02-28 14:12] nabobalis commented on #5006
Cadair meant that the client just converts the results automatically.

[2021-03-01 01:03] jeffreypaul15 commented on #5036
Digging deeper into this, I found that this is because of the ```np.nan_to_num``` method which converts all ```nan``` to ```0.0```. The following method ```scipy.ndimage.interpolation.affine_transform``` throws an error if the input image contains ```nan```. The partial padding is due to the resized image being padded with ```0``` (black stripes) and the rotated image padded with ```nan``` (this r

[2021-03-01 14:54] ayshih commented on #5036
@jeffreypaul15 : Some corrections:

- The transformation code defaults to `scikit-image`'s `warp()`, not `scipy`'s `affine_transform()`.  The latter sets NaNs to zero internally.
- We don't call `np.nan_to_num()` when `order` is less than 4, as is the case in the reported code block.  It's possible that `scikit-image` has changed to internally set all NaNs to zero.

[2021-03-01 16:35] SagarJC commented on #4863
hey @dstansby , Mentioning that both float and array are valid input is enough know? in the docstring...

[2021-03-01 17:16] dstansby commented on #4863
Yes, that's right. It looks like this is being worked on in #4879 though, so if you're looking for an issue to tackle it is probably worth looking at another one.

[2021-03-01 17:31] cbethge opened #5043 "Creating a SUVIMap from SUVI L1b/L2 files is broken in SunPy 2.1.1"
### Description

The sunpy.map.sources.SUVIMap class expects data/header input from astropy.io.fits. Probably due to changes in WCS-related modules from SunPy 2.0.1 -> 2.1.1, creating a SUVIMap from SUVI L1b/L2 files is no longer working. Metadata in the headers seems to be missing to make it work, but I can't tell which additional metadata is required now.

### Expected vs actual behavior

**Expe

[2021-03-01 17:46] Cadair commented on #5043
Hi @cbethge Thanks for the bug report. Do you have a link to that file to make debugging a little faster?

[2021-03-01 18:00] jeffreypaul15 commented on #5036
My apologies, I assumed that it defaults to using ```scipy``` if ```use_scipy``` was not specified.
Also, when the order is < 4 the plot seems to work fine because ```np.nan_to_num``` is not being used and the missing values are specified accordingly. So the plot while using ```scikit-image``` and ```order=3``` (the code given above) as @ebuchlin mentioned is
![image](https://user-images.githubuse

[2021-03-01 18:57] cbethge commented on #5043
Hi @Cadair! Sure, thanks for looking at the issue. Any of the files in the subfolder in

https://data.ngdc.noaa.gov/platforms/solar-space-observing-satellites/goes/goes16/l2/data/suvi-l2-ci171/

should work, so for example

https://data.ngdc.noaa.gov/platforms/solar-space-observing-satellites/goes/goes16/l2/data/suvi-l2-ci171/2021/02/28/dr_suvi-l2-ci171_g16_s20210228T000000Z_e20210228T000400Z_v1-0

[2021-03-01 19:11] ayshih commented on #5036
@jeffreypaul15 What version of `scikit-image` are you running?  I am running 0.16.2, and I see the same behavior as the reported bug with the non-preservation of NaNs.  My setup is not falling back to use `scipy`.

I say no

[2021-03-01 19:24] hayesla commented on #5043
Hey @cbethge and @Cadair

I had a look at this and seems to work if you pass the file to `sunpy.map.Map`

[code]

I'm not too sure why it's having issues with the `SUVIMap`

[2021-03-01 19:26] Cadair commented on #5043
You might need to convert the astropy Header object to a dict before you pass it to Metadict via the map constructor.

That being said, direct instantiation of a map subclass isn't really the supported route, we recommend you use the `Map` factory.

[2021-03-01 19:29] cbethge commented on #5043
Thanks @hayesla, that's good to know! I would prefer a "regular" Sunpy map anyway, because I can pass a list of files and don't have to use data/header inputs. However, that won't work for the L1b files unfortunately, because of the SUVI header issues (they use the CONTINUE keyword incorrectly). For the L2 files, that should be fine though.

[2021-03-01 19:31] Cadair commented on #5043
You can pass in a `(data, header)` pair to `Map` instead of a filename if that helps.

[2021-03-01 19:37] cbethge commented on #5043
Ok, thanks for the replies! I guess my two options are:

- using sunpy.map.Map for the L2 files
- reading in L1b files as data/header, fixing the CONTINUE issue, and then passing it to sunpy.map.Map as data/header input

I wasn't aware that the instrument classes were not supposed to be called directly. I don't know if that means that this issue (if it is one) still needs to be fixed.

[2021-03-01 20:13] hayesla commented on #5043
Yes so, you can do:

* Pass file directly to `sunpy.map.Map`:
[code]

* pass the data and header from fits file to `sunpy.map.Map`
[code]

* convert the header to a dictionary and then pass to `SUVIMap` as @Cadair mentioned rectifies the issue you were having:
[code]

However, the best practice as @Cadair  says is to use `sunpy.map.Map`. I think the fact that a dictionary can be passed means that

[2021-03-01 20:18] jeffreypaul15 commented on #5036
Okay I think I may have found the cause for this
[code]
Here ```mymap.data``` is AIA_171_ROLL_IMAGE but of type ```float32```
If this is then rotated with
[code]
The resultant plot would be
![image](https://user-images.githubusercontent.com/50923538/109551736-f079f500-7af6-11eb-8aa4-347f52f0464e.png)

This is because in ```mapbase.py```, ```np.pad``` causes the padding of ```float32``` with ```np.

[2021-03-01 20:21] cbethge commented on #5043
Agreed, just an issue with my understanding of how things are supposed to be used :-) I'll close this then, thanks for the help!

[2021-03-01 20:21] dstansby commented on #5043
On the original issue, it bisects to https://github.com/sunpy/sunpy/commit/584aa55736acc98880424512fe6880e7de04a4ea - since I broke this (sorry!) and it's a regression, I will try and write a bugfix.

[2021-03-01 20:23] nabobalis commented on #5043
Should we convert from a dict to metadict?

[2021-03-01 20:31] dstansby commented on #5043
I've got a fix, just writing a regression test.

[2021-03-01 21:19] ayshih commented on #5036
Ah, yes, the problematic code is in `sunpy.map.GenericMap.rotate()` (as opposed to `sunpy.image.transform.affine_transform()`): https://github.com/sunpy/sunpy/blob/6b3fdfb45d3d8687a16eb193fd87e8a27881d666/sunpy/map/mapbase.py#L1485-L1488

I concur that we ought to convert an integer array to floats prior to the `np.pad()` call, since it's going to get converted to floats anyway in the subsequent `

[2021-03-01 21:27] jeffreypaul15 commented on #5036
Shall I make a PR regarding this then?

[2021-03-01 22:20] dstansby commented on #5036
Sounds good 👍 (and we should add a regression test too)

[2021-03-01 23:28] jeffreypaul15 commented on #4492
Would this be the ideal plot for the given code?
[code]
![image](https://user-images.githubusercontent.com/50923538/109572794-d7cc0800-7b13-11eb-841d-1880026fb5da.png)
I've tinkered around with this and have a few doubts regarding this.

[2021-03-02 16:01] wtbarnes opened #5050 "Fido client for EIS level 1 data"
### Description

The EIS team now provides level 1 (i.e. they have been run through `eis_prep`) data products here: https://eis.nrl.navy.mil/, with the directory of data products here: https://eis.nrl.navy.mil/level1/. They follow a fairly straightforward directory structure of `year/month/day/`, with each filename containing the year month day as well as the observation time. I think it should be

[2021-03-02 16:03] nabobalis commented on #5050
If the VSO provides L0, should we ask if they would provide the L1 data?

[2021-03-02 16:34] wtbarnes commented on #5050
We could. I think that will probably have to be a higher-level conversation between the VSO and NRL.

[2021-03-02 21:10] jeffreypaul15 commented on #4158
Is this still a requirement?

[2021-03-02 21:14] nabobalis commented on #4158
I don't see why not. It needs scoping out first.

[2021-03-02 21:43] jeffreypaul15 commented on #4158
What expansions to the current NOAA client is required though?

[2021-03-02 21:50] nabobalis commented on #4158
Not sure, someone would need to check.

[2021-03-02 22:50] nabobalis commented on #4158
I am unsure, someone would need to check what files we get from our current clients, see what useful JSON files we can get from the main URL.

Then we can decide what to add and what to skip over.

[2021-03-03 12:09] samriddhi-dev commented on #4025
Hi! I can do this. My email is: agarwal.sachin.samriddhi@gmail.com

[2021-03-03 13:49] dstansby commented on #5050
In terms of reading the data, https://github.com/MSSLSolar/EISpy has very basic functionality to read the data into an NDCube.

[2021-03-03 14:55] Cadair commented on #5036
I have ignored this conversation and commented on the PR instead: https://github.com/sunpy/sunpy/pull/5051#discussion_r586256490

I basically take umbridge with:

We a) don't always use skimage and b) #4502  is a thing.

[2021-03-03 15:33] wtbarnes commented on #5050
There is also software being produced by the NRL group to work with these data cubes that will have some NDCube integration I believe though it has not yet been released.

I guess the question is, whether this data comes from the VSO or if we write a scraper client, are we ok with retrieving data we can't read into a sunpy data structure? I remember this issue cropping up around the new GOES netCD

[2021-03-03 15:35] Cadair commented on #5050
I think in this case I would be ok with it, Fido already returns a bunch o'data we can't read (for instance IRIS). My concern with the netCDF goes stuff was we actually had a ts class for it, but it didn't support the new data yet.

[2021-03-03 15:36] Cadair commented on #5050
The other option here is that the NRL EIS tools implement their own Fido source.

[2021-03-03 17:38] cbethge opened #5052 "Issues with AIA color tables?"
### Description

First of all, no one else seems to have this issue, so maybe it is a problem with my installation. I was wondering if anyone can reproduce it. The issue: I am getting odd colortables for AIA 171 and 304 when I call them directly. I recently updated to SunPy 2.1.1.

### Expected vs Actual behavior

Expected behaviour for plotting an AIA 304 image with the 304 colortable is the "nor

[2021-03-03 17:48] nabobalis commented on #5052
Can you tell me what `spct.aia_color_table(304*u.angstrom)` returns?

[2021-03-03 17:54] cbethge commented on #5052
Sure!

[code]

[2021-03-03 18:21] nabobalis commented on #5052
That did not tell me what I had hoped for.

If I do:

[code]

I get the same output.

If you try:
[code]
it should work.

There seems to be a bug in the return of "spct.aia_color_table(304*u.angstrom)" directly.

[2021-03-03 19:03] ayshih commented on #5052
If I run:
[code]
I get the expected colormap:
![Figure_1](https://user-images.githubusercontent.com/991759/109857748-025bb500-7c29-11eb-8375-83b87feaba15.png)

[2021-03-03 19:05] nabobalis commented on #5052
I am on MPL: 3.3.4. I will downgrade and see.

[2021-03-03 19:07] ayshih commented on #5052
No, I was running an out-of-date SunPy.  Looks to bisect down to #5023

[2021-03-03 19:10] ayshih commented on #5052
https://github.com/sunpy/sunpy/blob/6b3fdfb45d3d8687a16eb193fd87e8a27881d666/sunpy/visualization/colormaps/cm.py#L41-L42

[2021-03-03 19:25] cbethge commented on #5052
@nabobalis Verified that it works when I use cm="sdoaia304". Thanks for looking into that @nabobalis and @ayshih , I thought I was going crazy!

[2021-03-03 20:32] nabobalis commented on #5052
We all went a bit crazy trying to figure out the issue.

[2021-03-03 22:32] #5052 closed

[2021-03-04 10:15] #5043 closed

[2021-03-04 11:08] dstansby opened #5057 "Allow velocities to be provided in a cartesian representation"
I would like to be able to add velocities to coordinate objects using a Cartesian representation. Creating a coordinate in a Cartesian representation is possible, but it seems like adding a velocity is not. I suspect this is a feature request as opposed to a bug.

[code]

[2021-03-04 13:55] nabobalis commented on #5043
This is now fixed in the newly released sunpy 2.1.2

[2021-03-04 13:55] nabobalis commented on #5052
This is now fixed in the newly released sunpy 2.1.2

[2021-03-04 18:45] jeffreypaul15 commented on #5057
I wouldn't mind giving this a shot by allowing cartesian representation of the coordinates, if that's okay?

[2021-03-04 19:06] ayshih commented on #5057
In principle, you need to additionally specify the keyword argument `differential_type='cartesian'`, but that keyword argument doesn't appear to work as intended.  I can look into it, but in the meantime, you can create the `CartesianRepresentation` with an attached `CartesianDifferential` and feed that into the `SkyCoord` constructor:
[code]

@jeffreypaul15 This probably isn't a great issue for y

[2021-03-04 19:20] ayshih commented on #5057
It turns out that the answer is simple: the velocity keyword arguments for Cartesian components have "v_" prefixes, so are `v_x`, `v_y`, and `v_z`:
[code]

Our documentation can be fixed, but I'm mulling over we should instead change the velocity-component names.

[2021-03-04 19:37] dstansby commented on #5057
Ah great, thanks a lot! Not sure what the right place to document it is (whether it's changed or not). The place I went looking for the info was https://docs.sunpy.org/en/stable/code_ref/coordinates/velocities.html#creating-a-skycoord-with-velocity, but perhaps there should be info in the API docs for the frames too.

[2021-03-04 23:28] jeffreypaul15 commented on #4158
By looking at the Fido client, all of the files come from the SRS files(ftp://ftp.swpc.noaa.gov/pub/warehouse), the [predicted-solar-cycle](https://services.swpc.noaa.gov/json/solar-cycle/predicted-solar-cycle.json) and the [observed-solar-cycle-indices](https://services.swpc.noaa.gov/json/solar-cycle/observed-solar-cycle-indices.json).
The link provided in the issue has many more directories and

[2021-03-05 09:40] nabobalis commented on #4158
We need someone more familiar with the data to provide us what files they would like and then we can add them to a new client.

[2021-03-05 09:50] Cadair commented on #5052
Report to release in 19 hours :grinning:

[2021-03-05 11:36] samaloney opened #5058 "Users Guide / TimeSeries / Plotting docs need to be updated regarding peek method"
### Description
The docs reference `TimeSeries.peek()` method returning a figure when it really returns None

https://docs.sunpy.org/en/v2.1.2/guide/data_types/timeseries.html#plotting

### Expected vs Actual behaviour

Update the docs to use `.plot()`

### Steps to Reproduce

### System Details

[2021-03-05 16:29] ayshih commented on #5057
Documentation aside, one can get the velocity-component names via code:
[code]
The `'s'` (for seconds) indicates the differential of the position with respect to time, i.e., the velocity.

[2021-03-05 16:31] ayshih commented on #5057
The component names are also included in `HeliocentricInertial(representation_type='cartesian').__dir__()`, and hence in tab completion.

[2021-03-05 22:23] jeffreypaul15 commented on #4190
After draw_rectangle was re-written is this still the case? If yes, then can I write these tests?

[2021-03-05 22:46] nabobalis commented on #4190
Yeah this looks to be solved now looking at codecov.

[2021-03-05 22:46] #4190 closed

[2021-03-07 04:00] jeffreypaul15 commented on #4896
Is this a requirement? I suppose this is possible through astropy's ```Quadrangle``` and ```Numpy```?

[2021-03-08 23:01] jeffreypaul15 commented on #4841
When querying why is there a need for ```near``` time when we already have ```start``` and ```end``` times? Removing this produces the required results but I'm confused as to why we use ```near```.

[2021-03-09 09:20] Kate028 commented on #5006
Hey Nabil, isn't this Astropy time method i.e. strptime() and should return astropy.time.Time obj.
https://docs.astropy.org/en/stable/api/astropy.time.Time.html#astropy.time.Time.strftime
https://github.com/sunpy/sunpy/blob/master/sunpy/net/hek/hek.py

line 160
[code]
also,

I kind of go through most of the command, and in general i am getting output as links, dates, event, etc. could you let me k

[2021-03-09 09:41] nabobalis commented on #5006
Yes, "Time.strptime" will return an astropy.time.Time object.

The hek search results should return a range of items:
If you see this example: https://docs.sunpy.org/en/stable/generated/gallery/acquiring_data/querying_the_GOES_event_list.html#sphx-glr-generated-gallery-acquiring-data-querying-the-goes-event-list-py
you should be able to see the full range of returns the client gives you.

Obviousl

[2021-03-10 05:55] varunbankar commented on #5058
Hi, I'll like to take up this issue.

[2021-03-10 17:12] dstansby commented on #5058
As dicsussed on the weekly call, this still needs fixing.

[2021-03-10 17:34] #4718 closed

[2021-03-10 17:35] dstansby opened #5063 "Add some more tests to dynamic limit updating"
https://github.com/sunpy/sunpy/pull/5025 added a new feature where a `clip_interval` could be specified to the animators. We should add a couple more tests, in particular:

- Make sure coverage is 100% on the new code
- Check that the data is being clipped as expected.

[2021-03-10 17:53] wtbarnes opened #5064 "Venus transit gallery example FOV is much too wide"
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/8676141/110674084-88cf4400-819f-11eb-8863-8c358c212148.png">

There is something wonky going on with the `submap` call

[2021-03-10 17:56] ayshih commented on #3918
For the record:

- 2.0 depends on Astropy 3.2
- 2.1 depends on Astropy 4.0

If we continue this way,
- 3.0 can depend on Astropy 4.1

[2021-03-10 18:01] samaloney opened #5066 "Move custom timeseries plotting from from peek to plot"
Related to #5058 move custom timeseries plotting from from peek to plot and then have peek call plot. Check and update docs as needed.

Okay, I've made the changes that I wanted.  I didn't update the `peek()` docstrings for the derived TimeSeries classes because their implementations needs to be cleaned up (i.e., source-specific plotting code should be accessible through a `plot()` method, but is

[2021-03-10 18:06] prakhar-ai opened #5067 "Incorrect Link in Project Readme"
The installation guide link under the Installation section of the project's readme links to an incorrect page.

It links to the page (https://docs.sunpy.org/en/stable/guide/installation/index.html) instead of (https://docs.sunpy.org/en/stable/guide/installation.html)

[2021-03-10 18:23] nabobalis commented on #5067
Thanks for the report. I will fix this.

[2021-03-10 18:25] nabobalis commented on #5064
Once this has been tracked down, a figure test replicating this bug should be added to prevent this happening agian.

[2021-03-11 07:13] m11dedhia commented on #3241
Hey guys, can I work on this issue? Also I am a total newbie so could you please guide me as well?

[2021-03-11 09:19] nabobalis commented on #3241
Hi @m11dedhia, go ahead.

We have a guide here: https://docs.sunpy.org/en/latest/dev_guide/contents/newcomers.html that will get you setup and some overview on how to start on the example gallery: https://docs.sunpy.org/en/latest/dev_guide/contents/example_gallery.html

[2021-03-11 14:50] nabobalis opened #5073 "WCS Warnings on figure-devdeps"
Recently the figure test suite emitted this warning for a large majority of our figure tests:

[code]

Astropy merged this PR: https://github.com/astropy/astropy/pull/11260 that seems to be the cause of this issue.
We need to figure out why and what to fix either inside sunpy or upstream into astropy.

https://github.com/sunpy/sunpy/pull/5070 was opened/merged to ignore the warning for now.

[2021-03-11 15:02] #5067 closed

[2021-03-11 15:38] Cadair opened #5075 "Proposal: Dependency Support Policy"
Having run an informal dependency support policy for a while which seems to be working I suggest we codify the following:

All runtime dependencies of the core package (optional or required) will be updated inline with NEP 29, which means we will support all non-bugfix releases made 24 months prior the scheduled release of sunpy.

With the following exceptions which the support window will be 12 m

[2021-03-11 15:44] nabobalis commented on #5075
I think there should be an exception for packages that went from <1 to >1 in that window.

[2021-03-11 15:56] ayshih commented on #5075
Can you clarify what is meant by "non-bugfix releases"?  If we were to release today, I presume we wouldn't support:

- Astropy 4.0 (2019 Dec 16), non-bugfix release outside of the 12-month window
- Astropy 4.0.4 (2020 Nov 25), a bugfix release within the window for a minor version outside of the window

If Astropy 4.1.1 existed, would we have to continue supporting Astropy 4.1?

[2021-03-11 15:57] ayshih commented on #5075
xref #3918

[2021-03-11 15:57] Cadair commented on #5075
bugfix releases are ignored, so the date is the first version in that series came out.

[2021-03-11 15:59] ayshih commented on #5075
So does that mean we need to support 4.1.0 if 4.1.1 exists?

[2021-03-11 15:59] Cadair commented on #5075
No, we just have to support something in that series, so we could pin to 4.1.1 if we need a bugfix.

[2021-03-11 16:00] Cadair commented on #5075
I am not sure what you mean and I don't like it as version numbers are meaningless or have different meanings per project.

[2021-03-11 16:03] m11dedhia commented on #3241
Sorry to disturb you @nabobalis but can you tell me how to load a blank map? I was able to use the example map given on the website but couldn't load a blank map. I went to `sunpy/data/_sample.py` but couldn't find anything useful.

[2021-03-11 16:06] nabobalis commented on #5075
Pandas went from 0.25.0 to 1.0.0 and officially have a stable API.

[2021-03-11 16:08] nabobalis commented on #3241
I have no idea how to load a blank map.

You might want to look at https://docs.sunpy.org/en/stable/generated/gallery/map/map_from_numpy_array.html#sphx-glr-generated-gallery-map-map-from-numpy-array-py for ideas.

I don't know why you went into "sunpy/data/_sample.py" but that code deals with downloading data, there is nothing useful there.

[2021-03-11 16:14] hayesla commented on #3241
Hey @m11dedhia !

To do this you will probably need to create a blank map and then plot it.

To create a blank map you need a data array of zeros, and then create a header. This can be done using the `sunpy.map.make_fitswcs_header`. An example of something similar is [this](https://docs.sunpy.org/en/stable/generated/gallery/map/map_from_numpy_array.html#sphx-glr-generated-gallery-map-map-from-nump

[2021-03-11 16:53] Cadair commented on #5075
I don't really think that's a good reason to bump the dep, unless there is some major headache from the version bump. Which we should probably special case in the policy.

[2021-03-12 01:13] larrymanley opened #5076 "Creation of XRS TimeSeries results in TypeError"
Upon running "goes_xrs_example.py" get the following error:

[code]
Working with current sunpy master.
Python: 3.7.9
NumPy: 1.19.2
SciPy: 1.6.1
matplotlib: 3.3.4
Astropy: 4.2
Pandas: 1.2.3
parfive: 1.2.0
h5py:  2.10.0
h5netcdf:  0.10.0

The 'nc' file downloads OK.  Tested on Windows, Mac, and Linux with the same error.

[2021-03-12 08:36] m11dedhia commented on #3241
Okay, I was able to plot positions  on a blank map, I just wanted to confirm that the file is supposed to be saved in `examples/plotting` right? I'll be naming it as 'plotting_blank_maps.py'.

[2021-03-12 09:21] nabobalis commented on #3241
Sounds fine.

[2021-03-12 11:05] samaloney opened #5078 "Fido search for SWAVES data is returning too many results"
### Description

Running `Fido.search(a.Time('2010/10/01', '2010/10/01'), a.Instrument('swaves'))` returns 16 results where I would only expect 4 (A LFR, A HFR, B LFR B HFR)

### Expected vs Actual behavior

Only get 4 results on 2020/10/01
### Steps to Reproduce

[code]

### System Details

- SunPy Version: 2.1.2
- Astropy Version: 4.1
- Python Version: 3.70
- OS information: macOS 10.15.7

[2021-03-12 11:29] Cadair commented on #5078
I am not sure if this is a VSO issue or a manifestation of #1630 or a bizarre mix of both. If the files don't actually contain data for the first second of the next day, it would be nice if the VSO didn't include that in the end time.

I do wonder if the VSO record time ranges are are uniformly open or closed at the end.

[2021-03-12 14:22] jeffreypaul15 commented on #5076
as per #4592 the `source='xrs'` keyword should be specified when working with netcdf files.

[2021-03-12 14:43] nabobalis commented on #5076
We need to work on replacing that error message.

Can you try adding, `, source='xrs'` to the "TimeSeries" call and if that fixes it.

[2021-03-12 18:47] larrymanley commented on #5076
Updating to h5py 3.2.1 fixes it.

Adding `source='xrs'` or `source='XRS'` results in:

[code]

Should this be filed as a separate issue?

[2021-03-12 18:57] nabobalis commented on #5076
Looks like we might need to pin a higher min version for it.

[2021-03-12 20:46] ayshih opened #5082 "Observer-based RotatedSunFrame can't transform to a non-observer-based frame"
[code]
This is because neither `RotatedSunHelioprojective` nor `HeliographicStonyhurst` have the `observer` frame attribute, but the HCC->HGS transformation step needs to have a defined observer.  (The `observer` frame attribute that you see in the repr for `RotatedSunHelioprojective` is a frame attribute of the `base` frame attribute.)  There are several approaches to fix this, but I need to inve

[2021-03-12 20:55] #5063 closed

[2021-03-12 21:15] #5058 closed

[2021-03-12 23:31] nabobalis commented on #5075
Add DRMS to that list as well.

[2021-03-13 05:15] Kate028 commented on #5006
Hey Nabil, does the HEKClient search output should look like this? The second one.

![image](https://user-images.githubusercontent.com/72349558/111020017-f326f500-83e8-11eb-96ec-0d1175f4f4d1.png)

[2021-03-13 10:10] nabobalis commented on #5006
A column of it should look like that.

If you remove the "['event_peaktime]", you should see a full table.

[2021-03-13 22:05] #5064 closed

[2021-03-14 13:13] adwaitbhope commented on #3853
Hi @Cadair, I worked on this a bit and seem to have fixed it. The tests pass locally. Creating a PR now.

[2021-03-14 15:41] samriddhi-dev commented on #4025
Isn't this already done? The arguments are already in order and the deprecation decorator is already removed.

[2021-03-14 15:44] nabobalis commented on #4025
If it is done, we can close this issue.

Thanks for having a look at it @samriddhi-dev

[2021-03-14 15:44] #4025 closed

[2021-03-14 16:01] samriddhi-dev commented on #3072
Am I supposed to write examples for differential rotation and solar rotation?

[2021-03-14 16:10] Kate028 commented on #5006
I am still figuring out how to render time object in complete table.

Not working for me. But I am getting time object as output (for event_starttime, event_peaktime, event_endtime) separately.

Does these lines means first we have to write the commands during HEK search to get time and quantity object as return type and lately automate it by writing a function that will automatically fulfill the

[2021-03-14 16:27] nabobalis commented on #3072
No I think we have a range of examples for those two items. What the focus would be on the functions in maputils.py (https://github.com/sunpy/sunpy/blob/master/sunpy/map/maputils.py)

[2021-03-14 16:54] nabobalis commented on #5006
What happens? It would be easier if I could see a code example.

Maybe? I mean I haven't looked at the client in detail. But somewhere the client is called via a search and it parses the XML (I think) files and returns an astropy table (I think). You would want to modify wherever that parsing is done to translate the times to astropy times and the values that have units into astropy quantities.

T

[2021-03-15 12:15] Kate028 commented on #5006
Hey Nabil, I will look into it as per your suggestions and will get back to you.

[2021-03-15 14:05] Cadair opened #5092 "refactor coordinates logging to use built in str formatting in logger"
Doing this should remove the need for if statements guarding the logging calls

[2021-03-15 14:16] ayshih commented on #5092
This is code in question:
https://github.com/sunpy/sunpy/blob/0f68569564679dfd6ae9f5d3e64e7f8ebf887847/sunpy/coordinates/transformations.py#L152-L181

In principle, the `log.debug()` calls don't need the `if debug_output:` conditions, but we need to call `log.debug()` correctly such that it doesn't do any premature string formatting that will trigger `__repr__()` calls for the frame instances.  Th

[2021-03-16 06:35] adwaitbhope commented on #3908
If this feature is still required, can I take it up?

[2021-03-16 08:51] nabobalis commented on #3908
I don't see why not.

[2021-03-16 10:38] Cadair opened #5095 "Add an example to the gallery of selecting pixels in a map based on a coordinate transform"
Extracting the pixel values of a region of interest defined by a box in some world coordinate space is quite a common operation. A simple example would be extracting a region of interest in HGS coordinates:

[code]

This can be extended to more exotic transformations by using `NorthOffsetFrame` (for example the second half of [this](https://gist.github.com/Cadair/494b1d7026918cd97c57c21def52fc31)

[2021-03-16 10:52] #5082 closed

[2021-03-16 14:10] Cadair commented on #5075
12 months for parfive & drms is still a lot more restrictive than what we are currently running. Is this likely to be an issue?

[2021-03-16 14:49] nabobalis commented on #5075
I want to say no, my reason is that these two packages outside of astropy we tightly integrate into net (and the sample data). I don't think we want to support a wide range of drms or parfive due to that.

[2021-03-16 16:21] Cadair commented on #3072
see also #5095

[2021-03-16 16:59] #3853 closed

[2021-03-17 07:01] m11dedhia commented on #3072
@samriddhi-dev are you working on it? or should I start adding examples too?

[2021-03-17 07:03] m11dedhia commented on #2948
I would like to work on this, @nabobalis what all should i necessarily add and what could make the doc even better?

[2021-03-17 07:24] m11dedhia commented on #4346
Are only examples left to be added or the implementation for support of NOAA JSON timeseries as well?

[2021-03-17 09:59] nabobalis commented on #2948
Hi @m11dedhia, the original comment has a bunch of information that frames what might need changing on that documentation page. What would you like to know in addition to that?

[2021-03-17 10:13] nabobalis commented on #4346
I guess just an example using the code that Laura posted above.

[2021-03-17 11:37] dstansby opened #5104 "Add ability to get Solar Orbiter data via. Fido"
Solar Orbiter data has been available for a few months now, so it would be good to be able to access it through `Fido`. The data archive is here: http://soar.esac.esa.int/soar/

I don't know if VSO has plans to index it, and if so what the timeline is for doing that. I think if VSO won't index the data by the next release of sunpy, we should include our own client (which I can write based on code

[2021-03-17 11:40] dstansby commented on #5076
Hmm, I just installed h5py 2.10.0 and it seemed to work fine for me.

[2021-03-17 11:41] dstansby commented on #5076
Looking at the error message, I think the download failed somehow, so if you remove the file and try again it should work. Since it sounds like you've got it working I'm going to close this, but feel free to leave a comment if it comes up again and I'll re-open it.

[2021-03-17 11:41] #5076 closed

[2021-03-17 11:43] dstansby commented on #4841
Yep, looks like this is fixed.

[2021-03-17 11:43] #4841 closed

[2021-03-17 11:50] nabobalis commented on #5076
Yeah I forgot to post as well.

I downloaded the file and used h5py 2.10.0 on a python 3.7 test env with no issues.
Unfortunately I was unable to replicate it.

[2021-03-17 13:24] adwaitbhope commented on #3908
This is turning out to be more complicated than I expected. Can someone help me with the following scenarios?

1. Suppose module `A` downloads a file and it gets namespaced as `A.test_file`. Later, module `B` also wants to use the same file. This time, `DataManager` will not download it again because `cache` is keeping track of downloads. While accessing this file  (using `manager.get()`) from `B`

[2021-03-17 13:46] nabobalis commented on #3908
It's been a while since I looked at the "DataManager", is it not storing the id of the file (that is what get uses?) and then the filepath to get to the file?

[2021-03-17 14:30] samriddhi-dev commented on #3072
Hi,
I am working on it

On Wed, 17 Mar 2021, 12:31 Megh Dedhia, ***@***.***> wrote:

[2021-03-17 19:02] AlisdairDavey commented on #5104
The short answer is yes the VSO has plans to index it, but theentry
point is a TAP (Table Access Protocol
<http://www.ivoa.net/documents/TAP/20100327/>) server. We are working on
being able to support a data provider using TAP.

Cheers

Alisdair

On 3/17/21 5:37 AM, David Stansby wrote:

--
Dr Alisdair Davey                            Email: ***@***.***
DKIST Data Center Scientist

[2021-03-17 19:33] nabobalis commented on #4874
Closed by https://github.com/sunpy/sunpy/pull/5090

[2021-03-17 19:33] #4874 closed

[2021-03-17 20:26] dstansby opened #5107 "Improve performance of VSOClient"
I have just tried searching for a day's worth of WISPR data using the following code:
[code]
This takes ~1 minute to execute, and it turns out the majority of the time (~42s) is spent converting time strings in astropy! There must be a way to speed this up...

EDIT: original bug report was from sunpy 2.0.x, I've updated the trace below for 2.1.x. It seems a bit better, but there's still a lot of t

[2021-03-17 21:15] dstansby commented on #5012
Is there a workaround for this? I'm finding exactly the same issue trying to download WISPR data.

[2021-03-17 21:19] dstansby opened #5109 "Default map title for WISPR plots is not quite right"
With the file downloaded from here: https://vso1.nascom.nasa.gov/data/psp/wispr/L1/20200125/psp_L1_wispr_20200125T000229_V1_2302.fits, running:

[code]
gives the plot below. The title is a bit odd, in particular the first "2 0" bit. We should work out how to fix this.

![Screenshot 2021-03-17 at 21 19 05](https://user-images.githubusercontent.com/6197628/111539952-68d2ee00-8766-11eb-980a-4bc93395f

[2021-03-18 01:04] ayshih commented on #5107
I wonder if there's a bug similar to the one I fixed in #4663

[2021-03-18 04:12] jeffreypaul15 commented on #5109
The downloaded map has no meta info for `wavelength`or `waveunit` so it defaults to 0 and no unit. The `nickname` property is set by `meta['detector']` which is basically `2` for this particular map. Hence `2 0  2020-01-25 00:02:29`.

[2021-03-18 09:08] adwaitbhope commented on #3908
It does, but not in the SQL storage - the id to path mapping is stored in a `dict` in memory.
I'll try modifying this `dict`, I think that should do.

[2021-03-18 09:09] jeffreypaul15 commented on #5095
Is anyone giving this a shot? If not I could do it.

[2021-03-18 09:22] nabobalis commented on #5095
Go ahead.

[2021-03-18 13:54] ayshih commented on #5107
To elaborate, the bug in #4663 was that there was a equality check between a `Time` instance and a string ('now') due to the lack of type checking.  That caused the `Time()` machinery to try to convert the string to a `Time` instance, which it tried and failed to parse.  (We depend on a special branch in `parse_time()` to be able to interpret 'now'.)  I haven't looked at the `VSOClient` code, but

[2021-03-18 15:47] #4821 closed

[2021-03-18 15:47] #4863 closed

[2021-03-18 18:58] ayshih opened #5112 "Update "Masking out the solar disk" example to use maputils function"
Example: https://docs.sunpy.org/en/stable/generated/gallery/computer_vision_techniques/mask_disk.html

Update to use `sunpy.map.coordinate_is_on_solar_disk()`

[2021-03-18 19:01] ayshih opened #5113 "`sunpy.map.coordinate_is_on_solar_disk()` and the solar radius"
The maputils function `coordinate_is_on_solar_disk()` uses the map's solar radius in physical units and the map's observer distance, which may not match the map's solar radius in angular units.  Presumably we should use the property `.rsun_obs` instead.

[2021-03-18 20:13] Qtty commented on #5112
Hi, by saying ```Update to use sunpy.map.coordinate_is_on_solar_disk()```, do you mean remove the usage of ```sunpy.map.all_coordinates_from_map``` or use ```sunpy.map.coordinate_is_on_solar_disk()``` instead of the mask?

[2021-03-18 20:16] ayshih commented on #5112
Basically, replace the calculations to calculate the mask.  See this other example:
https://github.com/sunpy/sunpy/blob/164f57c41c6840d568dbfb211d38aa1ae83aaf65/examples/plotting/hmi_cutout.py#L35-L37

[2021-03-18 21:49] dstansby commented on #5107
I've done a bit of digging, and the bottleneck is parsing individual time strings, instead of vectorising the `Time` call. I made this toy example, which shows how much slower looping through each string is:
[code]
The trouble with the VSO client seems to be that there is no guarantee on the format of time stamps we receive, so we end up having to check every individual timestamp for every differe

[2021-03-18 22:32] Cadair commented on #5107
The refactor I did for 2.1 would make it easier to vectorise at least in theory. The issue would be missing values and any variance in the string formats.

I will have a prod around this sometime. I am a little hesitant to do anything which makes this more fragile.

[2021-03-19 02:59] 5tefan opened #5115 "Negative longitude arguments for instantiating a coordinate are mutated"
### Description
The `tx` and `ty` arguments to a Helioprojective coordinate frame can be mutated in an unexpected way.

### Expected vs Actual behavior
I would expect instantiating a Helioprojective coordinate frame to not mutate the `tx` and `ty` arguments. Currently, in some cases, the arguments are mutated.

### Steps to Reproduce

[code]

### System Details

System : Darwin
Processor : i386
Ar

[2021-03-19 03:20] ayshih commented on #5115
You didn't need to create a demo PR for this or go through the testing suite for this.  Straight output is sufficient:
[code]

What's going on is that `tx` is being converted to a longitude, because that's what Helioprojective theta_x is, and being wrapped to be within 0 to 360 degrees.
[code]

I presume the conversion is intentionally occurring in place rather than on a copy (i.e., for performanc

[2021-03-19 03:35] 5tefan commented on #5115
Ok. Thanks for providing more insight on this. I didn't recognize 21597.32492817 arcmin as the positive wrap around.

I've implemented a workaround in our processing, but this was causing headache because we're converting helioprojective cartesian to heliocentric radial (r, theta), using just `r = np.hypot(x, y)` and plugging in x=~21000 gives very different answer than using x=~2! Please let me k

[2021-03-19 03:59] ayshih commented on #5115
Two options come to mind:

### Use the coordinates framework to perform the conversion
[code]
This gets you very close to the standard definition of Heliocentric Radial, except `phi` is offset by 90 degrees.  Because Helioprojective is properly treated as a spherical coordinate system, this conversion is actually technically more accurate than your conversion.

### Use the `Longitude` class to wra

[2021-03-19 06:32] 5tefan commented on #5115
Thank you so much, that's incredibly helpful! I think we'll migrate towards the first suggestion using SkyCoord, that seems like the best solution. My workaround had been to just use the values before sending them to the frame. In any case, hopefully this issue can be resolved. It seems like something that could bite unsuspecting users!

[2021-03-19 13:50] #5112 closed

[2021-03-19 16:43] Cadair commented on #5012
Specify your own parfive downloader instance with `max_splits=0`.

[2021-03-20 11:16] samaloney commented on #5104
It would be nice to have access to SO data soon than later and would it also be nice to have at leat two ways get the data for a bit of redundancy.

[2021-03-20 11:47] Qtty commented on #4888
Hi, I'm interested in applying for this project in GSoC, and i didn't quite understand something in the summary that @nabobalis
 shared, what do you mean by `url pattern` to `tree`? and how will that solve the current regex/non-regex issue?

[2021-03-20 11:50] nabobalis commented on #4888
The "url pattern to tree" means, going from the URL that the scraper gets and the scarper going through the online server and getting all files that match that pattern.

That is not related to the regex/non-regex issue but I think my preference is to not use regex inside of scraper but use parse.

[2021-03-20 20:12] asinghgaba commented on #3716
Hi 👋 I think I can tackle this issue, just to be sure I was thinking of implementing the following code:
[code]

We could do this for all the sources.
(Apologies if something I said doesn't make sense, I am new to open source and still learning! :) )

[2021-03-20 20:14] nabobalis commented on #3716
Should work.

[2021-03-20 20:15] asinghgaba commented on #3716
@nabobalis should I start to work on it then?

[2021-03-20 20:16] nabobalis commented on #3716
Go ahead.

[2021-03-20 20:32] ayshih commented on #3716
I recommend implementing this in `GenericMap.__init_subclass__()` so that it's automatic for any subclass and doesn't have to be manually added.

[2021-03-20 21:57] asinghgaba commented on #3716
@ayshih @nabobalis one thing to keep in mind is that implementing this method also changes the docstrings when sphinx builds documentation, so in all the description of the sources maps, there is a GenericMap doctstring. I am not sure if this is something we want?

[2021-03-20 22:00] ayshih commented on #3716
I envision adding a stripped-down version of the `GenericMap` docstring.  Once there's a PR, we can all look at the doc build and discuss.

[2021-03-20 22:01] asinghgaba commented on #3716
sounds good, I'll make a PR now.

[2021-03-21 00:59] ayshih opened #5123 "Add a rigid rotation model to the `diff_rot()`"
I think it'd be useful to provide a rigid rotation model to `sunpy.physics.differential_rotation.diff_rot()`.  While, strictly speaking, it wouldn't have any differential rotation, it would allow a user to use the same machinery (e.g., `RotatedSunFrame`) with and without differential rotation to see what the differences are.  The sidereal rotation rate is available at `sunpy.sun.contants.sidereal_

[2021-03-21 01:04] ayshih commented on #5109
I don't think this is a "Good First Issue", and maybe not some of the other labels as well.  This WISPR file is being opened as a `GenericMap` because we have no instrument-specific subclass for this.  As such, there's no fix for this that can be WISPR-specific.  We can change what goes into `nickname`, but that changes it for any file that gets loaded as a `GenericMap`.

![Untitled](https://user-

[2021-03-21 01:07] ayshih commented on #4946
Is this closed now by the use of `sphinx-changelog`?

[2021-03-21 01:12] ayshih commented on #4998
Here's a subtle one.  If you request the alternate output of `synodic` from `sunpy.physics.differential_rotation.diff_rot()`, it calculates the synodic rotation – the apparent amount of rotation for as seen by an Earth observer – by assuming that the Earth is always at 1 AU.
https://github.com/sunpy/sunpy/blob/0c1a5fd078768e37226ab6fe74cd115e9d7d8d8d/sunpy/physics/differential_rotation.py#L130-L13

[2021-03-21 01:18] ayshih commented on #4894
With #4969, figures left on the pyplot stack are now cleared in each test's teardown.  Closing.

[2021-03-21 01:18] #4894 closed

[2021-03-21 01:20] ayshih commented on #4480
Given the lack of follow-up and the fact that it smells like the root cause was a now-fixed OpenBLAS issue, I'm closing this.  Feel free to re-open if it is still happening.

[2021-03-21 01:20] #4480 closed

[2021-03-21 11:21] asinghgaba commented on #5123
Hi 👋 I would be able to work on it, just so I understand it properly, we want to add an extra rotation type `rot_type`, namely `"rigid"`, which would calculate the longitude by:
Longitude = sidereal_rotation_rate * duration (After converting to suitable units)

[2021-03-21 11:41] nabobalis commented on #5109
Would adding a WISPR Map source be the easiest thing to do?

[2021-03-21 11:42] nabobalis commented on #4946
Yeah, now we have a different one, no point in looking at that one.

[2021-03-21 11:42] #4946 closed

[2021-03-21 17:37] Cadair commented on #4946
Yeah I investigated this and decided ours was better.

[2021-03-22 10:48] Kate028 commented on #5006
Hey if anyone is planning to work on this issue feel free to give it a try.
I am severely unwell and going through treatments so won't be catching this
in near future. Everything you need has been explained very nicely in above
comments by Nabil! Happy Contribution!

On Sun, Mar 14, 2021, 22:24 Nabil Freij ***@***.***> wrote:

[2021-03-22 12:21] #2296 closed

[2021-03-22 23:30] dstansby commented on #5123
Hi @asinghgaba that's right - looking at the code it seems like it should be fairly easy to add another entry to `rot_params` that has an appropriate value for the first entry, and zero values for the second two. Let us know if you have any other questions!

[2021-03-23 02:56] ayshih opened #5128 "`HMISynopticMap` is missing a docstring"
`HMISynopticMap` has no docstring.  At minimum, it should at least have something analogous to what `MDISynopticMap` has:
https://github.com/sunpy/sunpy/blob/824f72026403001c65e23f24ced3ff5eb7d13a68/sunpy/map/sources/soho.py#L227-L229

However, it'd be better if it had more meat to it (e.g., explanation and references).

[2021-03-23 03:15] ayshih commented on #5113
Ah, whoops, yes.  The actual issue then is that calling `solar_angular_radius()` on a map's `coordinate_frame` may not give you back the map's `rsun_obs`.  I'll close this issue and create a new one later.

[2021-03-23 03:15] #5113 closed

[2021-03-23 09:33] jeffreypaul15 commented on #5006
@nabobalis would the time object have to be rendered in the HEKTable? As of now it is of `str19` so this has to be changed to astropy's `TIme` right?

[2021-03-23 09:40] nabobalis commented on #5006
Yeah.

[2021-03-23 18:25] dstansby opened #5137 "Document `QueryResponseTable.__init__"
There is no documentation for `QueryResponseTable.__init__` (https://docs.sunpy.org/en/latest/api/sunpy.net.base_client.QueryResponseTable.html#sunpy.net.base_client.QueryResponseTable). It would be good to add some.

[2021-03-23 22:45] Cadair commented on #5137
Why does that not inherit the docstring of its parent class? There is no behaviour change in the constructor (only an astropy backport), so I expected the inherited docstring to work.

[2021-03-24 12:04] dstansby opened #5139 "Failed or interrupted downloads leave incomplete files on disk"
### Description

When downloading data with `Fido`, downloads that fail or downloads that are interrupted by the user are left as half-downloaded files. This is inconvenient, as it means one has to go through and manually delete any half-downloaded files before running a `Fido` download again, as `Fido` will see the filename and think that a file has been downloaded.

It would be good if files cou

[2021-03-24 12:07] Cadair commented on #5139
This is really a parfive bug.

[2021-03-24 16:26] jeffreypaul15 opened #5140 "SXTMap requires test data and tests."
### Description
Based on #3440 and the PR #2056, we don't have SXTMap data.
Although `Map.quicklook()` bugs out, the map can be plotted by `Map.plot()`.
Tests for this file are to be added.
The map's`wavelength` is also in `str` and `GenericMap` handles `wavelnth` in `Quantity`

[2021-03-24 17:07] #5123 closed

[2021-03-24 17:27] #5036 closed

[2021-03-24 17:47] ayshih commented on #5036
As of #5051, we now raise a warning when `missing` is NaN and the data array is of integer type.  If a user needs to use NaN, the user needs to change the data array to a float.  Here's how to do it through a private attribute:
[code]
We can discuss adding helper methods or constructor keywords to facilitate changing the number type.

[2021-03-25 09:58] jeffreypaul15 commented on #5140
@nabobalis the SXT's `wavelength` is in str and is `Al.1`, should this be defaulted as `0`?
All other sources have separate quantities as wavelength.

[2021-03-25 10:08] nabobalis commented on #5140
Not sure.

[2021-03-25 10:27] #3241 closed

[2021-03-25 10:44] jeffreypaul15 commented on #2210
Is this still a requirement?

[2021-03-25 10:49] nabobalis commented on #2210
I don't see why not, I don't see any mention of a PR addressing this.

[2021-03-25 13:16] ayshih commented on #5140
As @wafels noted on Element, SXT takes images with different filters, with two of the filters being different thicknesses of aluminum (hence, "Al").  It'd be unclear how to convert each the filter to a quantified wavelength.  If you don't have a really good understanding of SXT data, stay away from trying to fix `SXTMap`.

[2021-03-25 13:27] wafels commented on #5140
Just so we have a note of it, information on SXT and Yohkoh can be found at http://ylstone.physics.montana.edu/ylegacy/mission_cal_papers.html

[2021-03-25 13:52] jeffreypaul15 commented on #2210
Do you reckon creating a method `all_data() for retrieving all the data similar to `all_meta()`
https://github.com/sunpy/sunpy/blob/f936e59738aa43829f1da21451945886b074c9e5/sunpy/map/mapsequence.py#L509
 would be useful?

[2021-03-25 14:21] nabobalis commented on #2210
Won't "as_array" do that already?

The first decision to make is the save out format. Is it just a file per map in the sequence or is it combined.

[2021-03-25 14:25] jeffreypaul15 commented on #2210
yeah, I forgot about that.
Could they be saved together in one `fits` file?
If not then we can save each map separately right?

[2021-03-25 14:37] nabobalis commented on #2210
The original issue mentions saving them one at a time.

[2021-03-25 17:51] #3095 closed

[2021-03-26 15:25] #5095 closed

[2021-03-26 22:00] 5tefan opened #5153 "Heliocentric cylindrical returns nan for off-disk coordinates"
### Description

Heliocentric cylindrical returns nan for off-disk coordinates.

### Expected vs Actual behavior

Conversion of off-disk coordinate from Helioprojective Cartesian to Heliocentric cylindrical produces nan. Heliocentric cylindrical should be valid off-disk.

### Steps to Reproduce

[code]

### System Details

- SunPy Version: 2.0.1
- Astropy Version: 4.0.1.post1
- Python Version: 3.7

[2021-03-26 22:05] 5tefan commented on #5153
Adding @cbethge to discussion.

I thought about this a little more... maybe it makes some sense because there's ambiguity about the z value when off disk?

[2021-03-26 22:12] 5tefan commented on #5153
@ayshih we came across this following your suggestion in https://github.com/sunpy/sunpy/issues/5115#issuecomment-802533913 to use the coordinate transform framework to calculate rtheta rather than something like `np.hypot(x, y)`. Is there a way to, say, impose z=0 for points off disk so that we can still get a rho and phi using the framework?

Maybe we just have to inspect the cylindrical coordina

[2021-03-26 22:18] ayshih commented on #5153
You can use [`Helioprojective.assume_spherical_screen()`](https://docs.sunpy.org/en/stable/api/sunpy.coordinates.Helioprojective.html#sunpy.coordinates.Helioprojective.assume_spherical_screen).  Let me know if you have any questions.

[2021-03-26 22:45] 5tefan commented on #5153
Oh wow, I think that's exactly what we're looking for, thanks!! Sorry for the noise.

In case anyone is referencing this in the future, it looks like `assume_spherical_screen` is a new addition to sunpy, so we're also considering using `sunpy.coordinates.sun.earth_distance` as the distance argument for for the Helioprojective frame, to get slightly (negligible in our case) less accurate values.

[2021-03-26 22:45] #5153 closed

[2021-03-27 07:02] jeffreypaul15 commented on #2493
Does this need a separate source file altogether? Or just the addition of this into the test data?

[2021-03-27 09:33] nabobalis commented on #2493
I am not sure I follow. We would either want a test file or just the header info so we could replicate the file in the test suite.

[2021-03-27 10:24] jeffreypaul15 commented on #2493
Could we just download the file from [here](https://satdat.ngdc.noaa.gov/sxi/archive/fits/goes13/2017/02/01/SXI_20170201_000400155_BA_13.FTS) and place it in our test data directory?

[2021-03-27 10:38] nabobalis commented on #2493
That file is too large to be a test file but yeah we can start with that.

[2021-03-27 10:44] jeffreypaul15 commented on #2493
The file wouldn't load into a sunpy map, looking at the code above. can we save the map after the following modifications?
[code]
It is of `GenericMap` though and not of any particular source. So ideally wouldn't we want to create a separate source for it?

[2021-03-27 10:54] nabobalis commented on #2493
I mean this issue is about adding a new map source so that file does load into map.

[2021-03-27 11:01] jeffreypaul15 commented on #2493
I am not very experienced with the header files that are required to go into this source, are the aforementioned ones enough to begin with?

[2021-03-27 11:01] nabobalis commented on #2493
Neither am I.

[2021-03-27 11:04] jeffreypaul15 commented on #2493
#2503 is an attempt at this, although some refactoring is required. Could I give this a go?

[2021-03-27 11:08] nabobalis commented on #2493
It would be good to resurrect that PR.

[2021-03-28 11:47] dstansby commented on #5139
Reported upstream at https://github.com/Cadair/parfive/issues/67

[2021-03-28 12:39] #5139 closed

[2021-03-28 20:50] jeffreypaul15 commented on #2493
I've been tinkering around with this and I do have a few questions with the [file](https://satdat.ngdc.noaa.gov/sxi/archive/fits/goes13/2017/02/01/SXI_20170201_000400155_BA_13.FTS) used from the google group link above.

[code]
Any of the existing maps, if loaded into `fitsin`, the number of (data, header) pairs are 2.
`fitsin.data[0]` produces the required map plot but `fitsin.data[1]` is an arra

[2021-03-28 21:35] jeffreypaul15 commented on #2493
@nabobalis SXI maps have 2 separe maps in the data, writing the source for this is going to a little different I suppose?
I'm not really sure on how SXI data is but :
[code]
contains 2 separate objects, one with plot
![image](https://user-images.githubusercontent.com/50923538/112768849-9dcf2280-903b-11eb-8d01-a2b6a6b7616f.png)
and the other
![image](https://user-images.githubusercontent.com/509235

[2021-03-28 21:45] nabobalis commented on #2493
I'll re-label this issue then.

[2021-03-29 22:11] mbobra opened #5158 "SRSClient fails to download existing data"
### Description
The SRSClient provides access to the NOAA SWPC solar region summary data via the NOAA SWPC ftp archive (at ftp://ftp.swpc.noaa.gov/pub/warehouse). However, the client fails to download existing data.

### Expected vs Actual behavior
I queried the active region summary data between May 1, 2010 and October 29, 2010. The SRSClient should download the active region summary data, which

[2021-03-30 20:59] Cadair commented on #3446
At the moment we are just doing a bare [`import pandas`](https://github.com/sunpy/sunpy/blob/master/sunpy/time/time.py#L148) can't we drill right down to the type we need, wouldn't that stop us importing as much of pandas?

I think we should keep this open anyway, it's an obvious hotspot even if it's not low hanging fruit.

[2021-03-31 01:16] mbobra opened #5162 "SRSClient should point to NCEI site"
### Description

The SRSClient should point to the NCEI site [here](https://www.ngdc.noaa.gov/stp/spaceweather.html) (under Daily Reports/solar_region_summaries).

The SRSClient currently queries an ftp link to the warehouse archive. NOAA is in the process of moving away from that, although it is not clear how long this process will take. I think we can assume the ftp warehouse archive site will r

[2021-03-31 08:43] dstansby commented on #3446
I thought doing a lazy import was prevented by what you said in https://github.com/sunpy/sunpy/issues/3446#issuecomment-546387117?

[2021-03-31 09:19] Cadair commented on #3446
A completely lazy import is, but we might be able to import less of pandas. I will give it a go.

[2021-03-31 11:33] dstansby opened #5163 "Plotting a Map on an Axes with a different projection is (silently) wrong"
Below is an example that plots two maps. In the first case, everything is normal (`projection=map_aia`, plotting `map_aia`), but in the second case I use `projection=map_aia`, and plot `map_hmi`. Because HMI has ~180deg rotation with respect to AIA, this silently leads to an incorrect plot. Notice how the axes are the same, but the strong magnetic fields in HMI do not line up with the ARs in AIA:

[2021-03-31 13:16] jeffreypaul15 commented on #1792
I'm assuming this a similar issue related to #5006 and PR #5131?

[2021-03-31 13:23] nabobalis commented on #1792
Yes this is duplicate of #5006 but it has more info so I plan to leave this open.

[2021-03-31 13:42] dstansby opened #5165 "Map mutates input WCS"
When creating a `Map` using `Map(array, wcs)`, the input `wcs` does not evaluate equal to the resulting `map.wcs` object. See below for an example - this is contrived to be simple, but is an issue when doing reprojection, when one wants to force two maps to have the same `wcs` so you can plot them one on top of the other.

[code]

[2021-03-31 13:56] Cadair commented on #5165
Correct, the input WCS is converted to a header and then read through the normal map property -> WCS pipe. There almost certainly isn't a fix for this which isn't rewrite most of maps metadata handling ;)

[2021-03-31 13:59] Cadair commented on #5165
The most general way to assert if two WCS objects are equal is to run a sample of pixel locations through a pixel-world-pixel round trip and see if the output's match.

[2021-03-31 14:12] dstansby commented on #5165
I think this is probably just a floating point accuracy error since `dsun_obs` is going back and forth through at least one transformation, with a bit more digging I think this should be fixable.

[2021-04-01 13:16] hayesla opened #5171 "`make_fitswcs_header` doesn't create a `rsun_obs` keyword"
### Description
when using `make_fitswcs_header`, the `rsun_obs` keyword is no longer populated - removed in #4620.
This also makes the [`get_observer_meta()` ](https://github.com/sunpy/sunpy/blob/master/sunpy/map/header_helper.py#L199) redundant.

This is really not too much of an issue, but when you create a map from this, and then use `map.draw_limb()` it raises a warning as it calculates the `

[2021-04-01 13:45] ayshih commented on #5171
#5172 should prevent this warning.

Even so, it might be useful for the helper to create the `rsun_obs` keyword explicitly.

[2021-04-01 15:06] dstansby commented on #5165
Here's a smaller example, showing the issue:
[code]
This prints:
[code]
ie. the two values are slightly different. I think this is because of small changes in a `HGS` > `HGC` transformation that takes place in `GenericMap.observer_coordinate`, which is used to populate the wcs keywords.

[2021-04-01 15:50] ayshih commented on #5165
This slight difference (~30 microns) is the machine epsilon for IEEE-754 64-bit floats (2^-52, or 2.22e-16):

[code]

Even the most trivial handling of floats – even multiplying by 1 – can lead to a shift at the epsilon level.

[2021-04-02 04:05] jeffreypaul15 commented on #5171
Would this require writing a helper to populate the `rsun_obs` keyword?

[2021-04-03 11:20] #3701 closed

[2021-04-03 11:20] #4612 closed

[2021-04-03 22:37] jeffreypaul15 commented on #5066
Would we want the `peek()` and `plot()` methods to be producing the same plot right?
Doesn't peek already call plot? Can I get a bit more insight on this?

[2021-04-05 03:04] ayshih commented on #5066
While there is no design document, the general notion – at least for `Map` – has been that `peek()` is a more specialized version of `plot()`.  `plot()` is intended for all matplotlib workflows, whereas `peek()` is for someone who may wish to avoid calling any matplotlib commands directly.  So, fundamentally, the `peek()` methods should contain a `plot()` call plus a handful of additional matplotl

[2021-04-05 11:13] jeffreypaul15 commented on #5066
Ah, I see. Hopefully I shall open a PR addressing this. Thanks!

[2021-04-05 13:40] ayshih opened #5182 "Add an `angular_radius` convenience property to `Helioprojective`"
We keep calculating the solar angular radius in various places (e.g., #5177), when we're invariably working with a `Helioprojective` coordinate.  Let's just add a convenience property to `Helioprojective` itself, since it already has all of the information it needs to calculate the solar angular radius.  This would be a natural way to replace `sunpy.map.maputils.solar_angular_radius()` as well (se

[2021-04-05 16:16] Anubhav1107 commented on #5182
hey @ayshih, I was looking over this issue and is there a python file with helioprojective beacuse I am not able to find it !

[2021-04-05 16:18] nabobalis commented on #5182
Albert will correct if I am wrong but I believe it is this one: https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/frames.py#L380