[2015-06-16 15:54] Cadair commented on #371
@embray We transitioned to suds-jurko everwhere a while ago. If there are any places still installing the old suds library, I would consider that a bug.

[2015-06-16 15:58] embray commented on #371
@Cadair Mostly just in the README it links to the original lib (which is fine, might might also be worth linking to the fork).

[2015-06-16 16:01] Cadair commented on #371
@embray ah right ok. I will change that.

[2015-06-16 16:05] ayshih commented on #1447
I wonder whether this is a 32-bit/64-bit issue.  Can someone else try the tests on a 32-bit setup?  Use `py.test -m figure` to run only the figure tests.

[2015-06-17 12:35] Cadair opened #1451 "Update installation guide for the 0.6 release"
Specifically relating to the installation of wcsaxes from the astropy binstar repo.

[2015-06-17 18:12] bsipocz commented on #1177
It seems that 236/434 doctest fail.
Would you prefer to see a monster PR that tries to address most of it, or smaller ones that possibly can be reviewed and merged faster? I'm down to 97/434 but not sure how fast I can fix up the rest.

[2015-06-17 22:44] bsipocz opened #1455 "Auto-generate images for docs"
@Cadair - Have you considered generating the images rather than using the canned version in the docs? I mean if something changes in the code the users may get a different results following the examples than what is shown there.

I'm looking at e.g. ``doc/source/guide/data_types/spectra.rst``

[2015-06-17 22:46] Cadair commented on #1455
It would be good to do.

[2015-06-18 01:23] bsipocz opened #1456 "Enabling the astropy_helpers doctest directives"
Somehow I cannot make the doctest directives from `astropy_helpers`, such as `doctest-skip` work with sunpy. I guess it is related to using a different test suite setup, etc.
I tried to add `astropy_helpers.sphinx.ext.doctest` as an extension, but it didn't solve it.

Anyway a workaround until it's solved is to add `#doctest: +SKIP` to the end of each affected line.

[2015-06-18 13:03] ehsteve commented on #1455
I agree. I've been wanting this for a long time now.

[2015-06-18 13:05] Cadair commented on #1455
I am not particularly up on the sphinx magic. Is this easy enough to do?

[2015-06-18 13:19] bsipocz commented on #1455
It's pretty easy, we do it with e.g. ``photutils``, too.

It's just pasting the plotting script (a full one) after a ``.. plot::``
instead of the ``.. image::``
I'll give it a try in ``spectra.rst`` while I'm at it.

On 18 June 2015 at 14:05, Stuart Mumford <notifications@github.com> wrote:

[2015-06-18 13:49] ehsteve commented on #1455
@bsipocz might be easier to start out with maps.rst as spectra is the most beta of the datatypes.

[2015-06-18 14:03] ehsteve commented on #1455
@bsipocz I am actually working on updating that file right now. Can you show me how to add the code to the docs so that this works? Thanks.

[2015-06-18 14:21] Cadair commented on #1455
@ehsteve I suggest we do this in a separate PR ;)

[2015-06-18 14:23] ehsteve commented on #1455
well i am writing the code to generate new images right now anyway sooooo...

[2015-06-18 14:25] Cadair commented on #1455
well you should include the code in the docs anyway. So surely the only thing that would need to change for the autogenerated images is to use the magic sphinx incantation and delete the included file.

I will however leave it up to you ;)

[2015-06-18 14:26] ehsteve commented on #1455
@Cadair that's fine. you are right. no need to bloat this PR anymore than it already is.

[2015-06-18 14:27] bsipocz commented on #1455
Here is an example at the bottom of this [file] (https://raw.githubusercontent.com/astropy/photutils/master/docs/photutils/getting_started.rst)  Basically it needs to be a standalone script (unlike for the doctest, here it's not enough that all the statements were in the code examples above). Obviously there can be several separate plot code blocks, but all of them has to be a self contained scrip

[2015-06-18 14:31] Cadair commented on #1455
Interesting, where does the `plot` directive live? I wonder if we are going to need to enable it in our sphinx `conf.py` or if it is included from the astropy version we inherit.

Thanks a lot for your help @bsipocz!

[2015-06-18 14:36] bsipocz commented on #1455
in photutils it goes under ``docs/_build/html/_images/``, so I guess it
will be ``doc/source/_build/html/_images`` for sunpy. I guess it works out
of the box, but haven't tried it yet.

Btw it's a bit confusing that the builded docs goes under the source
directory...

On 18 June 2015 at 15:31, Stuart Mumford <notifications@github.com> wrote:

[2015-06-18 14:43] bsipocz commented on #1455
ahh, sorry I misunderstood. ``plot`` is a matplotlib extension. This should work out of the box with the astropy_helpers.

[2015-06-18 14:46] bsipocz commented on #1455
and it works:
![screen shot 2015-06-18 at 15 46 19](https://cloud.githubusercontent.com/assets/6788290/8233990/3e329cf2-15d1-11e5-8ba8-ea29be60442e.png)

[2015-06-18 14:47] Cadair commented on #1455
amazing!!

[2015-06-18 15:11] ehsteve commented on #1455
Great!

[2015-06-18 15:23] ehsteve commented on #1455
@bsipocz Could you submit a PR for this (I would encourage you to also fix the location of the _build directory if you can as well)? That way I can use it in my PR.

[2015-06-18 15:25] Cadair commented on #1455
what exactly is wrong with the location of the _build dir?

[2015-06-18 15:34] ehsteve commented on #1455
@Cadair it is inside source which is weird because it is obviously not source.

[2015-06-18 15:39] Cadair commented on #1455
That is more a problem with the directory being called source than anything else. It is just the root Sphinx dir.

If you want to move it I suggest it gets done separately. As there is quite a lot of things that would need changing.

On 18 June 2015 16:34:53 BST, Steven Christe <notifications@github.com> wrote:

[2015-06-18 15:47] ehsteve commented on #1455
@bsipocz I've started using this new feature #1432 :)

[2015-06-18 15:51] bsipocz commented on #1455
:+1:

[2015-06-22 14:45] itztli opened #1466 "Weak time limit in sunpy.spectra.sources.callisto"
Hi all!

I am working with Callisto dynamic spectra. I am join several file spectrum using the example from the API:

import sunpy.spectra
from sunpy.spectra.sources.callisto import CallistoSpectrogram
c0 = CallistoSpectrogram.read(path+'fits/20150618/MEXART_20150618_170000_59.fit')
c1 = CallistoSpectrogram.read(path+'fits/20150618/MEXART_20150618_171500_59.fit')
c2 = CallistoSpectrogram.read(path

[2015-06-22 15:33] Cadair commented on #1466
ping @dpshelio @segfaulthunter

[2015-06-22 15:36] segfaulthunter commented on #1466
Will look at after work.

On Mon, 22 Jun 2015 16:33 Stuart Mumford <notifications@github.com> wrote:

[2015-06-22 16:31] dpshelio opened #1467 "Good habit guide"
A section in the user guide to teach people "how is the good way" to do things:

Let's add here other examples:
- [ ]  Create a base difference map without changing `map.data`
- [ ] Masking data for plotting and profit.
- [ ] ... add more.

[2015-06-22 20:52] segfaulthunter commented on #1466
max_gap defaults to 0. If you want the gaps to be left out, specify `nonlinear=True`. Otherwise, you can specify maxgap to be larger than 0 and and it automatically fill the gap by repeating the nearby data-points. To change this behaviour, set `fill` to whatever sentinel value you want.

[2015-06-23 01:03] bsipocz commented on #1456
The most important/useful directive would be ``+FLOAT_CMP``, of course.

[2015-06-23 01:27] ehsteve opened #1468 "Add wcsaxes to intersphinx"
There are references in plotting.rst to wcsaxes which do not resolve because we do not have intersphinx settings set up properly.

[2015-06-23 08:17] Cadair commented on #1468
You just need to put a link to the `objects.inv` file in `conf.py`.

[2015-06-23 08:19] Cadair commented on #1456
I do not really know anything about this. Let's ask @astrofrog or @embray nicely if they know how to solve this?

[2015-06-23 10:25] astrofrog commented on #1456
Did you add ``doctest_plus = enabled`` in ``setup.cfg``?

[2015-06-23 12:15] bsipocz commented on #1456
Yes, that was the first thing I tried, still not picking them up.

If my understanding is right, sunpy overrides the astropy/astropy_helpers testing scheme and uses it's own. There is also a ``pytest.ini``, and I can't make the testing to pick up the doctests the usual way at all, but can only run them separately with this hack: ``python setup.py build_sphinx -b doctest``, or individual file with

[2015-06-23 12:46] Cadair commented on #1456
have you tried removing this line: https://github.com/sunpy/sunpy/blob/master/pytest.ini#L4 ?

[2015-06-23 13:55] ehsteve opened #1469 "Add ability to download files from AIA cutout service"
Here is the equivalent IDL code

http://darts.isas.jaxa.jp/pub/ssw/vobs/ontology/idl/ssw_service_get_data.pro

and here is a page with actual data and the code used to download the data.

http://www.lmsal.com/solarsoft/ssw_service/queue/finished/ssw_service_150623_062824_33488.html

[2015-06-23 13:57] Cadair commented on #1469
you can do this through JSOC right? Also is there not already an issue for this?

[2015-06-23 13:57] Cadair commented on #1469
duplicate of #1259

[2015-06-23 13:57] #1469 closed

[2015-06-23 14:01] ehsteve commented on #1469
No, this is not related to JSOC. Thanks for noticing the duplicate.

[2015-06-23 14:02] Cadair commented on #1469
@ehsteve I know there is a separate service, but JSOC can also do AIA & HMI cutouts.

[2015-06-23 14:02] Cadair commented on #1469
see #1259 for a similar discussion with @wafels

[2015-06-23 14:22] Cadair opened #1470 "Test plotting functionality with wcsaxes 0.4 and set minimum version requirement"

[2015-06-24 13:18] ehsteve opened #1472 "Figure hash table not updated with python setup.py test"
It only updates when running py.test explicitly.

[2015-06-24 16:44] ayshih commented on #1472
Your description is a bit ambiguous, but I'm pretty sure I know what happened on your machine.  Did the figure tests still pass even though you thought you deleted the hash table?

The issue here is that when you run `python setup.py test` instead of `py.test`, the SunPy code tree is copied over to a fixed directory under `build/` rather than a temporary directory.  This has the undesirable behavi

[2015-06-24 18:50] bsipocz opened #1473 "Broken timerange parsing in rhessi.backprojection()"
The following example shows a genuine bug. The timerange is set automatically from the event list file, but the code doesn't recognize the format:

[code]

As I understand this should be in seconds unit since a reference date, but it would make more sense if someone familiar with the data and the desired behaviour would fix it (I'm not such a person).

I'll skip the relevant example lines for the

[2015-06-24 22:11] #1468 closed

[2015-06-25 00:23] larrymanley opened #1475 "sunpy/net/jsoc bug"
## 'print response' shows the wrong date/time values, but the correct data is downloaded

In [3]: response=client.query(jsoc.Time('2014-10-22T12:00:00','2014-10-24T12:00:00'),jsoc.Series('hmi.M_720s'),jsoc.Notify("larry.jupiternova@gmail.com"))

In [4]: print response
        DATE         TELESCOP  INSTRUME ... WAVELNTH     WAVEUNIT
-------------------- -------- --------- ... -------- ------------

[2015-06-29 16:47] Cadair opened #1478 "EIT data fails with wcsaxes"
The wcs information in the EIT header is not being identified as celestial axes by wcslib (inside astropy.wcs). This means that wcs is not detecting them as angular axes properly so therefore the set to arcsecond formatting is failing.

[2015-07-01 17:54] bsipocz commented on #1455
@ehsteve - look what I've found. If you use the ``:include-source:`` option after ``.. plot::``, the source is included in the generated docs, no need to repeat it.

[2015-07-06 16:29] #1451 closed

[2015-07-12 22:07] Cadair commented on #1478
see astrofrog/wcsaxes#171

[2015-07-13 16:31] Cadair opened #1484 "PowerNorm introduces a mpl 1.4 version requirement"

[2015-07-13 16:44] ehsteve opened #1485 "Remove PowerNorm"
PowerNorm was only included matplotlib 1.4. The solution is to use astropy PowerStretch

http://astropy.readthedocs.org/en/latest/api/astropy.visualization.PowerStretch.html#astropy.visualization.PowerStretch

[2015-07-13 16:48] ehsteve opened #1486 "Doc Fix code_ref"
Go over all doc files under the code_ref directory.

[2015-07-13 16:49] ehsteve opened #1487 "Doc fix installation+others guides"
* [Installation](http://docs.sunpy.org/en/latest/guide/installation/index.html)
* [Customizing SunPy](http://docs.sunpy.org/en/latest/guide/customization.html)
* [Troubleshooting](http://docs.sunpy.org/en/latest/guide/troubleshooting.html)

[2015-07-13 16:50] ehsteve opened #1488 "Doc fx acquiring data guides"

[2015-07-13 16:54] ehsteve opened #1489 "Doc fix data types"
Everything in the doc/data_types

Assigned to Alex!

[2015-07-13 16:56] ehsteve opened #1490 "Doc fix misc"
* tour.rst
* plotting.rst
* roi.st
* time.rst
* dev.rst
* ssw.rst

[2015-07-13 16:58] ayshih commented on #1485
This would sove #1484

[2015-07-13 17:01] ayshih commented on #1490
For `ssw.rst`, note that there's a superfluous `exp(1)` and that some of the matched commands have blatant disregard for number types.

[2015-07-13 17:07] #1411 closed

[2015-07-13 17:07] wafels commented on #1441
See #1488

[2015-07-13 17:11] ehsteve commented on #1485
Currently being used in
* maps.rst
* soho.py
* stereo.py
* yohkoh.py

[2015-07-13 20:56] ehsteve opened #1492 "Spectra time_freq bug"
The following code does not work

[code]

It fails with the following error

[code]

[2015-07-14 09:33] Cadair opened #1494 "Move the travis build onto the docker infrastructure."
see: http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

The important bit is getting the ubuntu packages installed.

ping @mwcraig @astrofrog

[2015-07-14 09:48] Cadair opened #1495 "The recent changes to norm seem to break helioviewer jp2 files"
hello,

I have this code snippet in my Thesis and the colour scaling seems wrong for these JPEG 2000 images:

[code]

![jpeg2000_aia](https://cloud.githubusercontent.com/assets/1391051/8670525/d1480a24-2a15-11e5-981a-873fb4f1d4c1.png)

[2015-07-14 14:59] ayshih commented on #1489
Observed issues with "Maps":
* Section numbering is screwy
* Some sections are skipped in the index because of change in heading type
* `LogNorm` link doesn't work, presumably because it doesn't have the correct capitalization

[2015-07-14 15:28] ayshih commented on #1492
Hmm, curious implementation.  The code snippet is expecting `peek()` to return a `SpectroFigure` object rather than a normal matplotlib figure, but instead it returns axes (via `plot()`).  This is a mess, and clearly no one has been using this functionality.

[2015-07-14 15:32] wafels commented on #1495
Compared to the FITS file values, the actual image values in all
Helioviewer JPEG2000 files are clipped, nonlinearly-scaled so they look
good (for some value of good), then byte scaled and heavily compressed. The
assumptions behind the new color normalization do not apply to Helioviewer
JPEG2000 files.  I think we need a whole new set of colormaps just to make
Helioviewer images look good in SunPy

[2015-07-14 15:42] Cadair commented on #1492
we should make `peek()` return the `SpectroFigure` object, because that is the way it was built. Of course it can be re-engineered at some point.

[2015-07-14 15:43] Cadair commented on #1495
@wafels yeah, this needs some thought, I agree that it is not critical though.

[2015-07-14 18:51] mwcraig commented on #1494
@Cadair -- this is implemented for astropy in astropy/astropy#3944

The list of apt packages you can install is at: https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise

[2015-07-14 20:49] Cadair commented on #1494
@mwcraig thanks for the info.

[2015-07-15 13:02] ehsteve commented on #1487
@ayshih make sure to add some instruction on how to rebase.

[2015-07-15 13:08] ayshih commented on #1487
That should fall in `dev.rst`, which is part of #1490, not this issue

[2015-07-16 13:15] wafels opened #1498 "Update the glymur / openjpeg installation instructions"
Anaconda installations don't come with glymur, and glymur itself relies on the installation of openjpeg.  A user (thanks!) sent the description below on how he managed to install openjpeg to the mailing list.  These are included below for reference to make it easy to update the sunpy docs.

Okay.  After a couple false starts I was able to install the latest openjpeg library and get glymur to find

[2015-07-16 13:18] Cadair commented on #1498
glymur is installed when you do `conda install sunpy` if you follow the install instructions.

The 'correct' solution for this is for us to build a openjpeg conda package, however, these instructions should provide a stop gap.

[2015-07-16 13:23] wafels commented on #1498
Ah, that's good.  Does that happen through

https://conda.binstar.org/sunpy

now?

On Thu, Jul 16, 2015 at 9:18 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-07-16 13:24] Cadair commented on #1498
yep.

[2015-07-16 13:33] wafels commented on #1498
I agree that some stop gap instructions are worthwhile.  For example, I had
to install cmake on my mac to get started.

On Thu, Jul 16, 2015 at 9:24 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-07-16 13:41] Cadair commented on #1498
@wafels if you have time, feel free to try and get a recipe working for conda...

[2015-07-16 13:43] Cadair commented on #1498
https://github.com/conda/conda-recipes

https://github.com/sunpy/conda-package-builder

[2015-07-16 14:13] aringlis commented on #1490
Also, technically there is nothing about SSW in the SSW section (it's all just IDL...)

[2015-07-17 13:54] #1485 closed

[2015-07-17 13:56] Cadair commented on #1455
@ehsteve can this be closed now?

[2015-07-17 13:57] #1484 closed

[2015-07-17 14:12] ehsteve commented on #1455
yes

[2015-07-17 14:26] #1455 closed

[2015-07-18 17:33] ehsteve opened #1501 "Spectrum class should check that freq and data are same dimension on creation"

[2015-07-18 22:18] ehsteve opened #1502 "Intershinx links to matplotib don't seem to work"

[2015-07-20 13:31] bsipocz commented on #1502
The latest travis build picks it up without problems. Is it a problem you see locally?

[code]

[2015-07-20 13:40] ehsteve commented on #1502
It is certainly something I see when I build the docs locally. Maybe it is something about my setup...

[2015-07-20 13:46] bsipocz commented on #1502
Can you post a log when you next see it? And I'll try to help investigate.

[2015-07-20 17:02] ehsteve commented on #1478
See #1505

[2015-07-20 17:03] #1478 closed

[2015-07-23 13:04] Cadair opened #1506 "the differential rotation code in solar_rotation does not update meta data"
The `mapcube_solar_derotate()` function should adjust the header information so that the axes are correct when plotted.

[2015-07-23 13:08] Cadair commented on #1506
hmmm, it seems like it is doing this, more investigation required.

[2015-07-23 13:08] #1506 closed

[2015-07-23 13:35] wafels commented on #1506
What was the problem?  I've been meaning to take a second look at this
myself.  I suspect the code may not be updating the correct metadata.

On Thu, Jul 23, 2015 at 9:08 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-07-23 13:40] Cadair commented on #1506
@wafels It seems that when you run derotate and then plot the image using `peek()` the sun is still moving underneath the plot. Which is wrong. Also wcsaxes frames on individual plots seem to indicate the pointing is incorrect.

[2015-07-23 14:04] wafels commented on #1506
On Thu, Jul 23, 2015 at 9:40 AM, Stuart Mumford <notifications@github.com>
wrote:

features move across the FOV?  Features should be (relatively) stationary
and the co-ordinate values should change.

Since I haven't made use of wcsaxe much, I can't comment on this.

[2015-07-23 14:28] Cadair commented on #1506
yeah features move across the FOV

[2015-07-23 14:28] Cadair commented on #1506
I think.

[2015-07-24 15:56] Cadair commented on #1470
@ehsteve wcaxes 0.6 has been released which shipped with our bug fix. So we are good to go from that perspective.

[2015-07-24 16:01] ehsteve commented on #1470
@Cadair Great!!

[2015-07-24 16:01] hayesla opened #1508 "Fermi Light Curve truncate issue"
Truncating FERMI time series an issue due to order or times from FITS files (Andy)

[code]

KeyError: 1382922000000000000

[2015-07-24 21:10] aringlis commented on #1508
Thanks @hayesla - good catch. This is a recurrence of #1371 where the data from the source FITS file are not necessarily in order (i.e. time may not be monotonically increasing). so I'll re-open that issue. It should be easy to fix for all lightcurve data sources by adding a DataFrame.sort(inplace=True) command to each source.

[2015-07-25 11:24] ehsteve commented on #1508
@aringlis don't add it to each source just add it to LightCurve if you can.

[2015-07-25 17:38] #1486 closed

[2015-07-25 17:39] ehsteve commented on #1487
Done.

[2015-07-25 17:39] #1487 closed

[2015-07-25 17:39] ehsteve commented on #1489
Done as part of #1497.

[2015-07-25 17:39] #1489 closed

[2015-07-25 17:40] ehsteve commented on #1488
Done as part of #1497

[2015-07-25 17:40] #1488 closed

[2015-07-25 17:41] #1490 closed

[2015-07-27 12:19] wafels opened #1511 "findpeaks code is wrong and is not used anywhere"
The findpeaks function in sunpy.sunpy.util claims to find local maxima in the data.  The test code

data = np.array([1.0, 3.5, 3.0, 4.0, -9.0, 0.0, 0.5, 0.3, 9.5])
assert np.array_equal(util.findpeaks(data), np.array([0, 2, 5]))

passes. However, the local maxima (by inspection) in the array data are at indices [1,3,6].  The findpeaks code is only used in sunpy.util.util and in the tests for sunpy

[2015-07-27 12:56] Cadair commented on #1511
BURN IT WITH FIRE.

[2015-07-27 13:00] rhewett commented on #1511
Plus np.infty
On Jul 27, 2015 7:56 AM, "Stuart Mumford" <notifications@github.com> wrote:

[2015-07-27 16:45] #813 closed

[2015-07-30 15:52] ehsteve opened #1514 "Remove VSO qr.num_records() in favour of len(qr)"
This can be confirmed with the following code
[code]

Or perhaps we should get rid of num_records completely for 0.7

[2015-07-30 15:54] Cadair commented on #1514
yeah it should probably go in favour of `len(qr)`

[2015-07-30 16:23] wafels commented on #1514
I agree.  non-pythonic.

On Thu, Jul 30, 2015 at 11:54 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-07-30 17:17] bsipocz commented on #1494
This can be closed now.

[2015-07-30 18:04] ehsteve opened #1515 "Create a Unit Range object"
Should be able to handle any kind of quantities including times such as wavelength, dimensions (e.g. arcsec).

TimeRange would subclass this object.

[2015-07-30 18:23] wafels commented on #1515
This might also be useful when creating a general Region of Interest object.

On Thu, Jul 30, 2015 at 2:04 PM, Steven Christe <notifications@github.com>
wrote:

[2015-07-30 18:24] wafels commented on #1515
One that is more general than the one we already have.

On Thu, Jul 30, 2015 at 2:23 PM, Jack Ireland <jackireland@gmail.com> wrote:

[2015-07-30 20:37] #1494 closed

[2015-07-31 02:09] ehsteve commented on #1515
Agreed

[2015-07-31 16:52] Cadair opened #1516 "Remove the need to have astropy installed before installing SunPy"
Currently you can not have a clean python environment and do a `pip install sunpy` you have to have astropy + numpy installed first.

[2015-07-31 17:05] Cadair commented on #1470
minimum version of wcsaxes is 0.6

[2015-07-31 17:05] #1470 closed

[2015-07-31 20:28] ehsteve commented on #1516
But this does not break our conda install instructions, right?

[2015-07-31 20:34] Cadair commented on #1516
nope. This is a pip thing that has existed for a while.

[2015-08-02 10:09] cdeil opened #1517 "Link from docs to sunpy.org ?"
How about linking back from the docs?
It looks like sunpy.org isn't mentioned in the docs at the moment:
http://docs.sunpy.org/en/latest/search.html?q=sunpy.org&check_keywords=yes&area=default
This would make it easier to go back / forth and would be useful IMO.

Not sure what the best place is ... maybe mention http://sunpy.org/ on the top-level docs page http://docs.sunpy.org/en/latest/index.htm

[2015-08-02 10:59] Cadair commented on #1517
Thanks @cdeil good spot.

[2015-08-02 10:59] Cadair opened #1518 "IRIS Colour Maps"
See this IDL file for how they are generated (I think):

http://sohowww.nascom.nasa.gov/solarsoft/iris/idl/lmsal/calibration/iris_lct.pro

[2015-08-03 13:03] ehsteve commented on #1518
I've already done this see this branch. https://github.com/ehsteve/sunpy/tree/iris_update
@Cadair I'll break it out and submit it as PR soon.

[2015-08-03 13:11] Cadair commented on #1518
sweet!

[2015-08-03 13:37] aringlis commented on #1320
I think this can be closed.

[2015-08-03 13:40] #1320 closed

[2015-08-03 14:04] wafels commented on #1245
This can be closed.

[2015-08-03 14:07] #1245 closed

[2015-08-03 14:07] wafels commented on #993
0.7 or 0.8?  If we are working on lightcurves, would it also make sense to fix time?

[2015-08-03 14:08] Cadair opened #1519 "Truncate the sunpy.physics namespace"
I know that this is partly my fault, but this:
[code]
is ridiculous.

I think we should drop the `transforms` part.

[2015-08-03 14:09] Cadair commented on #993
@wafels The time representation in LightCurve is separate from the standalone representation.

 I think we need to leave this until we have someone with time to work on time. (ya see what I did there!?)

[2015-08-03 14:15] wafels commented on #993
Are you referring to the fact LightCurve uses pandas DatetimeIndex?

On Mon, Aug 3, 2015 at 10:09 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-08-03 14:20] Cadair commented on #993
yes

[2015-08-03 14:23] Cadair commented on #993
On the topic of Pandas Dataframes, and Astropy Time, see: https://github.com/astropy/astropy/pull/3915

Which would add the functionality we need to replace dataframe with Astropy Table as our internal representation of the data. That however is a discussion for a separate place.

[2015-08-03 14:26] wafels commented on #993
Well, that would make things easier with respect to time, but more
difficult with respect to manipulation.

On Mon, Aug 3, 2015 at 10:23 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-08-03 14:40] Cadair opened #1520 "Develop the next version of the LightCurve API"
This issue began as a debate as to whether or not to switch the LightCurve object from pandas dataframes to astropy tables. Triggered by work going on in astropy/astropy#3915 to enable the use of astropy table for time series (more generally allowing a unique index column).
However, in order to make that decision, it was decided that we should define the functionality we need/want the LightCurve A

[2015-08-03 14:41] Cadair commented on #1520
ping @ehsteve @wafels

[2015-08-03 15:05] ehsteve commented on #1520
Disagree! Pandas is now standard in the scientific python stack so it is as much of a "dependency" as numpy, scipy, or matplotlib. Also it provides much more functionality than astropy tables do (and will continue to get more capabilities over time).

I am strongly against this.

[2015-08-03 15:06] ehsteve commented on #1520
I agree that it would be great for Pandas to support units. Perhaps we can hack that in somehow.

[2015-08-03 15:14] Cadair commented on #1520
@ehsteve We would loose no functionality by doing this, as we would still provide access to the dataframe. This is about making it easier for us to maintain the underlying code.

The dependency point is the least important of the ones I made above, although it would still make certain things easier.

I do not think that "hacking" units onto pandas is ever going to be a good idea, as it will cause

[2015-08-03 15:25] Cadair commented on #1520
To evidence my statement that it would make things easier for us if done properly, I would like to hold up @DanRyanIrish's GOES code:

See things like this:
https://github.com/sunpy/sunpy/blob/master/sunpy%2Finstr%2Fgoes.py#L164
Where he is having to require the units of the data in the lightcurve be correct, because he then [converts](https://github.com/sunpy/sunpy/blob/master/sunpy%2Finstr%2Fgoe

[2015-08-03 15:50] aringlis commented on #1520
@ehsteve has a good point that pandas is pretty standard and has a lot of great functionality. @Cadair to be honest I'm not sure I understand what you're proposing -we should discuss at a Dev meeting. Agree that 'hacking' pandas would be bad though.

[2015-08-03 15:52] Cadair commented on #1520
I also agree that pandas is great, and to clarify I think that having it as a dependency is not a practical problem at all these days.

[2015-08-03 16:48] #1175 closed

[2015-08-03 16:50] ehsteve commented on #721
Done.

[2015-08-04 07:50] DanRyanIrish commented on #1520
I was unable to make the dev meeting last night so perhaps you can tell me if a decision was made on this.  I see real advantages to switching to astropy tables, as @Cadair showed with my GOES code.  Although pandas has some great functionality, is there anything we are likely to want to do with LightCurve data that pandas would make far easier/better than astropy tables?

[2015-08-04 08:01] Cadair commented on #1520
We did not discuss this at the dev meeting, we had lively debates about other things, like the nature of an example gallery.

I am with @DanRyanIrish on this, I have pointed out a couple of things that Astropy tables would improve over pandas, but I am yet to see any comments about what Pandas is bringing to the table that we **need** to implement the LightCurve object.

[2015-08-04 08:05] DanRyanIrish commented on #1520
The only question I can think to ask is is accessing and manipulated a pandas dataframe significantly faster than for an astropy table?  If people want to process a lot of data, e.g. years of GOES data or a lot of high cadence LYRA data, that might be something to consider if we want people to use the LightCurve object rather than reading FITS data straight into their own numpy arrays.

[2015-08-04 08:28] Cadair commented on #1520
@DanRyanIrish That's an interesting question, and something that's worth investigating later on.

[2015-08-04 13:23] ehsteve commented on #1518
@Cadair Is there any kind of urgency to this?

[2015-08-04 13:27] Cadair commented on #1518
@ehsteve it would be nice to be able to use them in the ginga project.

[2015-08-04 13:28] ehsteve commented on #1518
okay, i can prob do this today or latest this week.

[2015-08-04 13:30] Cadair commented on #1518
no mad panic. :)

[2015-08-04 13:46] wafels commented on #1520
Probably worth while to come up with a list of operations you would want to
perform on a lightcurve in order to make it a useful object.  Then we can
discuss implementation.

So, to kick things off, here are a list of operations and use cases.
Please add more as you see fit.

truncation
 - getting shorter duration lightcurves from an existing lightcurve
 - use case: getting GOES data from around t

[2015-08-04 13:48] Cadair commented on #1520
@wafels thanks, that's great. Are you suggesting that we make all that functionality available through the LightCurve API?

[2015-08-04 13:49] ehsteve commented on #1520
In answer to @Cadair I would vote yes on that.

[2015-08-04 14:32] wafels commented on #1520
I don't know.  What would be the alternative - a bunch of independent
functions that operate on the lightcurves?

lightcurve.operation.truncate(my_lc, "2010-01-01", "2010-01-02 12:34:58")

lightcurve.operation.sum(my_lc, bins=60*u.s)

lightcurve.operation.merge(my_lc1, my_lc2, overlap=np.mean)

On Tue, Aug 4, 2015 at 9:49 AM, Steven Christe <notifications@github.com>
wrote:

[2015-08-04 14:36] Cadair commented on #1520
I think all of that functionality is reasonable to be in the API for lightcurve. I think this is a good way to define this choice of underlying data object, in that if it turns out astropy table can not perform all the things we need it to, then it is not suitable as a replacement.

Having said that, I do not think that anything on that list given by @wafels is likely to cause a problem.

[2015-08-04 14:46] DanRyanIrish commented on #1520
I would add to that list
Unit aware
 - Being able to assign a physical unit to a column of the LightCurve data
 - use case: Is your data in keV or angstroms.

Unit manipulation
 - Convert between units or calculating new unit when two LightCurve columns are multiplied, etc.
 - use case: Convert keV -> angstrom  or W/m^2 * s * m^2 = J, e.g. when calculating total radiated energy during a flare.

[2015-08-04 15:24] Cadair commented on #1520
@DanRyanIrish Those features are practically only going to be available if we use Astropy table with quantity columns. Which, of course, is my point ;)

[2015-08-04 15:26] DanRyanIrish commented on #1520
@Cadair I agree.  That's why they should to be in the list of features started by @wafels.  These are features we really want.

[2015-08-07 16:21] SallyDa opened #1523 "submap for MDI doesn't work in arcseconds"
Using [this MDI file](http://sohodata.nascom.nasa.gov//archive/soho/private/data/processed/mdi/fd_M_96m_01d/fd_M_96m_01d.6192/fd_M_96m_01d.6192.0007.fits) as shown below, it returns a zero size submap.

[code]

Using pixels, a submap is created as expected.

[2015-08-07 18:34] aringlis commented on #1523
Weirdly, if I specify degrees instead of arcseconds, it returns a submap with the cutout as if I had input arcseconds, e.g.:

    sm = m.submap([200,500]*u.deg,[500,700]*u.deg)
    sm
    Out[40]:
    SunPy MDIMap
    ---------
    Observatory:	 SOHO
    Instrument:	 MDI
    Detector:	 MDI
    Measurement:	 continuum
    Wavelength:	 nan nm
    Obs Date:	 2009-12-15 11:15:01
    dt:		 0.000000 s

[2015-08-07 18:42] aringlis commented on #1523
I tried out the same procedure on an AIA map and it behaves normally. Seems like the coordinate system information is somehow getting mixed up in the MDI maps.

@cadair @ehsteve, maps aren't really my area - but I do notice that the MDI meta doesn't seem to have a 'cunit1' or 'cunit2' keyword, unlike AIA maps...

[2015-08-07 18:50] wafels commented on #1523
MDI level 1.5 has an arcsec per pixel keyword IM_SCALE

http://soi.stanford.edu/sssc/doc/keywords.html

So, the information on the unit is in the header, just in a different
place.  Suggest a fix in the map source for MDI.

On Fri, Aug 7, 2015 at 2:42 PM, aringlis <notifications@github.com> wrote:

[2015-08-07 19:16] wafels commented on #1523
Confirmed bug (using master) and the linked file.

On Fri, Aug 7, 2015 at 2:50 PM, Jack Ireland <jackireland@gmail.com> wrote:

[2015-08-07 19:48] Cadair commented on #1523
Well the `units` are correct (even if they are just default).

I am investigating.

[2015-08-07 19:51] wafels commented on #1523
yeah, by default in mapbase.... not sure my earlier suggestion would help

On Fri, Aug 7, 2015 at 3:48 PM, Stuart Mumford <notifications@github.com>
wrote:

[2015-08-07 20:39] aringlis commented on #1523
In mapbase ```pixel_to_data``` seems to be assuming that ```wcs.wcs_pix2world``` always returns degrees. But, I just tested this on my map, and it looks like it returns arcseconds:

    m.wcs.wcs_pix2world(600,600,0)
    Out[154]: [array(175.2710869565762), array(177.37874337930018)]

[2015-08-07 20:57] Cadair commented on #1523
oh not this again! I thought I fixed this!

[2015-08-07 21:10] Cadair commented on #1523
so, this is looking like a 0.6.1 worthy bug...

[2015-08-07 21:49] Cadair commented on #1523
ok, so I fixed @aringlis `pixel_to_data` issue, but that isn't the direct cause of the issue in submap.

[2015-08-10 14:47] #1511 closed

[2015-08-10 18:03] DanRyanIrish commented on #1520
Here is a summary of what has been discussed on this issue so far including in SunPy dev meetings.  @ehsteve can add this comment as a new summary for this issue.

This issue began as a debate as to whether or not to switch the LightCurve object from pandas dataframes to astropy tables.  However, in order to make that decision, it was decided that we should define the functionality we need/want th

[2015-08-11 18:52] aringlis commented on #1371
Re-opened this a while back due to #1508  - @hayesla any interest in tackling this one? We should fix this for all lightcurve sources.

[2015-08-11 19:00] aringlis commented on #1257
Is this closable? It's not really a bug as the code does work - it's more a documentation issue, since the correct keyword to use isn't written down anywhere obvious.

[2015-08-11 19:08] aringlis commented on #1307
Close?

[2015-08-11 19:14] Cadair commented on #1257
well it should be documented!

It's probably worth waiting till we merge unidown

[2015-08-11 19:37] wafels commented on #1307
I think has been fixed. See
https://github.com/sunpy/sunpy/commit/43f7a037bc5c88cd2c1bec6c70b4dc27f82c6d03

On Tue, Aug 11, 2015 at 3:08 PM, aringlis <notifications@github.com> wrote:

[2015-08-11 20:06] hayesla commented on #1371
Yep, I'll give it a go, I've already fixed it for Fermi in my own branch, I'll take a look at the others too.

[2015-08-12 13:47] DanRyanIrish commented on #1307
Yep.  @wafels is right.

[2015-08-12 13:49] #1307 closed

[2015-08-13 13:34] dpshelio commented on #1519
Agree (on your fault)...

We can make it in the future if we add more stuff into the physics that need to be ordered...

[2015-08-14 12:30] Cadair opened #1531 "Bug in JSOC client when performing multiple requests"
There is a bug in the way the JSOC attrs is handling `|` on wavelength objects I think it needs a special apply function for dealing with the vso wavelength attribute.

[2015-08-16 18:19] wafels opened #1532 "MapCube animation broken"
Keeping the astropy normalizer (the sunpy default for the map type below) leads to a TypeError when playing a mapcube peek animation.  Also, the map is not shown. If you change the plot settings to use a native matplotlib normalizer the peek animation does not error.  The code below illustrates the issue (using sunpy/master).
[code]

The following line works.  An image is shown.
[code]

The code e

[2015-08-16 18:54] wafels opened #1533 "Shifted MapCubes do not have the correct co-ordinate information"
The function apply_shifts in

https://github.com/sunpy/sunpy/blob/master/sunpy/image/coalignment.py

incorrectly sets the co-ordinate information in shifted output maps that form the output mapcube.  This function is called by other functions implementing the solar derotation of mapcubes and the coalignment of mapcubes.

A fix is being worked on in https://github.com/wafels/sunpy/tree/fix_apply_sh

[2015-08-18 16:51] wafels opened #1536 "Map superpixel method does not change mask if present"
The superpixel method at present only works for the data part of a map.  It does not operate on the mask if present, and it should.

Superpixel supports two methods of handling what to do when summing

option='sum'
- m by n pixels in the original data are summed to form one superpixel

option='average'
- m by n pixels in the original data are averaged to form one superpixel.

I propose that the su

[2015-08-19 13:02] ehsteve opened #1537 "Add a shift() method to GenericMap"
In order to easily fix any translation errors in the map location.

[2015-08-19 13:05] Cadair commented on #1537
Would you want it to move the reference coordinate or the reference pixel? Or decide which one should be shifted based on the unit of the input?

[2015-08-19 13:27] ehsteve commented on #1537
decide based on input would be best I think.

[2015-08-19 13:33] wafels commented on #1537
There already is a shift function in sunpy/image/coalignment.py called
apply_shifts.  It was written with specific applications in mind, namely
image coalignment by template matching and derotating submaps assuming that
the derotation time-interval, or the size of the submap relative to the Sun
is small (for a user defined value of small).  It should be relatively easy
to adapt that to what you wa

[2015-08-19 13:37] wafels commented on #1537
Note that the current apply_shifts function in master incorrectly
calculates the positioning information.  #1534 fixes that.

On Wed, Aug 19, 2015 at 9:33 AM, Jack Ireland <jackireland@gmail.com> wrote:

[2015-08-19 14:25] ehsteve opened #1539 "GenericMap.pixel_to_data returns Latitude/Longitude when in helioprojective"
This is super confusing.

[2015-08-19 14:26] Cadair commented on #1539
Why is this confusing. It is correct.

[2015-08-19 14:30] ehsteve commented on #1539
Longitude/Latitude is only correct for heliographic following the standard and accepted definition in our field. It should be labelled as Solar-X/Solar-Y.

[2015-08-19 14:32] Cadair commented on #1539
no it's not. Helioprojective is a spherical coordinate system.

The Latitude and Longitude are astropy objects, subclassed from angle with extras for representing coordinates in a spherical coordinate system. They are the correct types of object to return, and they integrate correctly with the coordinates module.

[2015-08-19 14:32] #1539 closed

[2015-08-19 14:32] ehsteve commented on #1539
How then do we label heliographic coordinates?

[2015-08-19 14:34] Cadair commented on #1539
they would also be returned as Latitude and Longitude.

Obviously, after #1210 is merged `pixel_to_data` will return a `SkyCoord` object, which will be fully frame-aware.

[2015-08-19 14:35] ehsteve commented on #1539
so heliographic coordinates would also look like a SkyCoord?

[2015-08-19 14:36] Cadair commented on #1539
yes,

[2015-08-19 14:41] ehsteve commented on #1539
well that would also be confusing...as a coordinate on the surface of the Sun is clearly not the sky especially if the coordinate is behind the Sun and cannot even be viewed in the sky (so no transform even possible to SkyCoord).

[2015-08-19 14:49] dpshelio commented on #1539
I don't see why not... you could get a  the projection of a "dark side of the sun" into "solar x/y" and compare it with the farside images from gong.
In any case, I don't see what's the confusing bit... SkyCoord is just the name, right? I just see it as sphere coordinates... which is pretty much all we use.

[2015-08-19 14:53] ehsteve commented on #1539
I think we have to work within the conventions/naming schemes that our community is familiar with. Referring to both helioprojective coordinates as well as heliographic coordinates as longitude/latitude is technically correct but unnecessarily confusing for users. We should continue to use the same back-end but we should provide a "solar friendly" API to our users most of whom will never need to c

[2015-08-19 14:55] Cadair commented on #1539
@ehsteve Take a look at #1210 for the nomenclature used for the different frames. It uses `Tx` and `Ty` as the latitude and longitude in helioprojective (following the notation of Thompson).

[2015-08-19 15:01] dpshelio commented on #1539
@ehsteve I agree partly with  you, but not using helioprojective or heliographic or the proper names could bring quite a lot of problems if people is going to use solar_x and solar_y with other things like solar orbiter or solar probe+ where we will be looking at the sun at different distances.  So my vote is towards "enforcing" correct nomenclature more than just keep with past habits.

[2015-08-19 15:21] ehsteve commented on #1539
if that is going to be our stance (which I'm not sure I really agree with) we really need to beef up our docs on this subject.

[2015-08-19 15:23] Cadair commented on #1539
@ehsteve You should checkout the coordinates branch and have a look at the nomenclature in it and comment there as you feel fit. I think there was also a SEP about this at some point...

[2015-08-21 18:08] Cadair opened #1540 "investigate using astropy Cutout2D in submap"
https://astropy.readthedocs.org/en/latest/nddata/utils.html#cutout-images

That looks like it could simplify the header calculations for submap. Further investigation is required.

[2015-08-22 10:31] dpshelio commented on #1540
wow! seems quite cool!  I just miss there are some units missed in there, like the positions.  However, it seems to accept skyCoords for that too.

[2015-08-24 17:02] ehsteve commented on #1537
Would be good for shift to be a property (defaulted to zero) so that it is kept around and added to the reference coordinate. You want to keep the information about what the shift is and be able to tweak it easily. To tell whether a shift has been applied you would just what the value of shift is.

[2015-08-31 16:42] ayshih commented on #1532
Error looks like:
[code]
`self.vmin` is `None`?  Perhaps there is some bug with Astropy's determination of the minimum value in the array?

[2015-08-31 16:46] ayshih commented on #1518
@Cadair close if you're happy

[2015-08-31 19:18] #1533 closed

[2015-09-02 15:11] ayshih commented on #1532
The issue is related to the `im.set_norm()` calls in `mapcube.py` and `mapcubeanimator.py`, and one should actually pass in a `deepcopy()` of the normalizer.  It seems that `autoscale_None()` is not getting called automatically for Astropy's derived normalizers, but calling it explicitly doesn't appear to be a total fix because something seems to break with the desired `stretch`.

[2015-09-02 16:12] ayshih commented on #1532
PR to our repo: #1542
PR to Astropy's repo: https://github.com/astropy/astropy/pull/4117

[2015-09-02 16:15] #1532 closed

[2015-09-02 16:32] Cadair commented on #1532
nice, silly astropy bugs...

[2015-09-02 17:32] wafels commented on #1532
Tried with one of my cubes, and thefix works

Also works for PowerNorm from matplotlib.colors too.

On Wed, Sep 2, 2015 at 12:32 PM, Stuart Mumford <notifications@github.com>
wrote:

[2015-09-02 21:20] Cadair commented on #1532
@ayshih can you back port this to the 0.6 branch?

[2015-09-03 14:11] Cadair commented on #1523
This is related to #1524, but that PR does not solve this issue.

[2015-09-03 14:12] Cadair commented on #1514
This should be modified for 0.6.1 so that it returns an int and not a table, but removed for 0.7.

[2015-09-03 14:46] ayshih commented on #1532
PR #1543 for backport, I'll let someone else do it

[2015-09-16 18:03] aringlis opened #1549 "Immutability of SunPy maps"
For discussion:

Not sure if they were ever mutable, but in the latest version of SunPy, Map properties are immutable (i.e. you set it and it can't be changed). To change a property you have to make a whole new map. As far as I know this is intentional on our part. This make sense for some, or even most, properties, but I'm not sure it makes sense for everything. For example, maybe you start with

[2015-09-18 13:00] kkozarev opened #1550 "import sunpy.map does not work"
Hello, I tried running "from sunpy import map", and I get the following error. I just updated sunpy yesterday. Running on MacOS X 10.10 in ipython.

[code]

[2015-09-18 14:47] Cadair commented on #1550
What version of Astropy do you have installed? Can you share the output of `sunpy.system_info()`?

I would guess you need to update Astropy.

[2015-09-18 20:59] wafels commented on #1331
This one is pretty annoying.  We need to keep a track of which files have a successful download.  Files that have not been successfully downloaded can have multiple attempts at downloading with some limit (that the user can set but has some small-value default).  If at the end of it all some files have not been downloaded, the .get should return a list of query objects that refer to those non-down

[2015-09-19 10:12] kkozarev commented on #1550
==========================================================
 SunPy Installation Information

==========================================================

###########
 General
###########
Time : Saturday, 19. September 2015 10:12AM UT
System : Darwin
Processor : i386
Arch : 64bit
SunPy : Missing version.py; re-run setup.py
SunPy_git : N/A
OS: Mac OS X 10.10.5 (i386)

###########
 Required Libraries
#

[2015-09-20 09:41] kkozarev commented on #1550
I believe Astropy 1.0.4 is the latest stable version?

[2015-09-20 12:40] Cadair commented on #1550
@kkozarev yes it is.

Can you try opening up a clean session and running:

[code]

[2015-09-20 19:38] kkozarev commented on #1550
In [1]: import astropy.coordinates
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-1-e74b6aa471e4> in <module>()
----> 1 import astropy.coordinates

/usr/local/anaconda/lib/python2.7/site-packages/astropy/coordinates/__init__.py in <module>()
     15 from .earth import *
     16 f

[2015-09-21 08:03] Cadair commented on #1550
@kkozarev it seems your issue is inside of astropy. Perhaps you could reinstall astropy? If that doesn't work you might have more luck asking on their mailing list / github page. I don't really understand the inside workings of astropy.time where this bug is stemming from.

[2015-09-23 17:28] ehsteve commented on #1550
Closing this issue as it is not relevant to sunpy.

[2015-09-23 17:28] #1550 closed

[2015-09-28 16:56] Cadair opened #1554 "Map xrange, yrange and centre do not use astropy wcs"
They should use Astropy WCS

[2015-09-28 17:02] #1518 closed

[2015-09-29 08:24] #1516 closed

[2015-09-29 08:25] #1523 closed

[2015-09-29 10:07] Cadair commented on #1514
This is not actually a bug. `num_records` is a method not a property. The correct invocation is:

[code]

the reason that

[code]

prints a table is that it is the same as doing:

[code]

where it returns the _repr_ of the table.

[2015-09-30 13:58] #1514 closed

[2015-10-01 15:16] ehsteve opened #1567 "Add the ability to adjust roll angle to maps"
Sometimes the roll angle in the measurement can be incorrect. Therefore it is helpful to provide the ability to adjust it. The API should be similar to that provided for shift (see #1566).

[2015-10-01 15:17] ehsteve commented on #1567
@ayshih ping!*

*in lieu of assigning this issue to you.

[2015-10-01 15:37] Cadair commented on #1567
I feel as though I am standing at the top of a rabbit hole and the whole of wonderland is below my feet!

What if it's not encoded in the header as a angle but as the PC matrix?
What if it's not encoded as PC but CD and we have to account for the pixel scale?
What if the rotation information is not specified at all, in which case we default to a identity matrix?

Also applicable to shift:
How do w

[2015-10-01 15:39] Cadair commented on #1567
This and shift is messing with the immutability of Maps and I am not sure I like it, the system has not been built for this. I think we need to have a serious think about how we handle these kind of operations on a more general level.

[2015-10-01 20:05] ehsteve commented on #1567
This is related to issue #1549

[2015-10-02 12:56] ehsteve commented on #1554
Had a long discussion with @ayshih @wafels about this and it is not so clear how we want to proceed because for rotated maps the definition for these values are unclear.

[2015-10-06 13:29] Cadair commented on #1549
Thought, it might be nice to have a `copy()` method on maps which will return a properly copied map.

[2015-10-07 09:47] dpshelio opened #1572 "What the HEK? Flares number changes"
We have had problems since a while while testing the database and hek (for example #1570). The problem has not been found yet, however HEK returns two different types of results, one where anything that happens between the time range given, or the other - named `temporalmode=strict` - that just returns the values that starts and ends within the time range given.

In any case, the results for these

[2015-10-07 14:09] ehsteve commented on #1549
I am personally for letting the user change properties of the map. Since this is Python we cannot stop them from doing it anyway (though we can discourage). I think we should just provide clear setters so that we control how things are changed and make sure to update everything. We can add a HISTORY to the fits header to track changes.

[2015-10-07 14:19] Cadair commented on #1549
@ehsteve I am also not against it in theory, but I am strongly of the opinion that map must always "do the right thing" so when we have developed a way to do it, be able to serialise back out to fits header and everything then it will be great feature to have.

I think this should all be part of the metadata SEP.

[2015-10-12 08:56] souravsingh commented on #1517
I would like to work on the issue.How do I start?

[2015-10-12 09:01] Cadair commented on #1517
Have you got yourself setup with a development environment already?

If so you should edit the rst files that comprise our documentation. I think the index page would be a good place to have a link: https://github.com/sunpy/sunpy/blob/master/doc/source/index.rst.

[2015-10-12 09:54] souravsingh commented on #1517
I have sent in a Pull Request for the index page.Here is the PR-https://github.com/souravsingh/sunpy/pull/1

[2015-10-12 10:01] Cadair commented on #1517
@souravsingh When you create the pull request, you need to point it at sunpy/master rather than souravsingh/master.

[2015-10-12 10:02] souravsingh commented on #1517
I Didnt Notice that.I am really sorry

[2015-10-12 10:03] Cadair commented on #1517
@souravsingh not a problem :)

[2015-10-12 10:25] souravsingh commented on #1517
I have sent a PR but the build tests failed.Here is the link to PR-https://github.com/sunpy/sunpy/pull/1577

[2015-10-12 17:00] souravsingh commented on #1321
I will work on the issue.

[2015-10-12 17:26] souravsingh commented on #1196
I have put up a pull request.Here it is-https://github.com/sunpy/sunpy/pull/1579

[2015-10-21 19:26] sudk1896 commented on #1501
Hi,
I went through the Spectrum class. When you say frequency and data axis dimensions should be same, you mean you want the lengths of both arrays (frequency and data) should be same, If not  then you want to raise an error/exception. Correct me If I am wrong ?

[2015-10-23 13:40] dpshelio opened #1589 "VSO website and sunpy clients returns different results"
I've just tried to look for H-alpha data and [VSO website provides 377 results](http://sdac.virtualsolar.org/cgi-bin/cartui.pl?sc_id=VSO-SDAC-151023-046) (from GONG) whereas sunpy does not return any.

[code]

[2015-10-28 19:02] Famguy commented on #1537
Hi! I would like to work on this. Could anyone please tell me more about it?

[2015-10-28 21:08] ehsteve commented on #1537
This functionality has already been written and is awaiting review and acceptance. See the note right above your comment which references an open pull request.

[2015-10-28 21:10] ehsteve commented on #1537
@Famguy if you are looking for something to do might I suggest #1257 which should be fairly easy to address.

[2015-10-29 09:21] Famguy commented on #1537
Thanks @ehsteve for suggesting the issue! I didn't check the PR properly and thought this issue was still open.

[2015-10-29 09:38] Famguy commented on #1257
Hey! Could you tell me where exactly should the API kwargs be added?

[2015-11-02 17:21] ayshih commented on #1537
Closed by #1566

[2015-11-02 17:21] #1537 closed

[2015-11-04 21:06] bsipocz commented on #1472
@ayshih - And is it normal that the failures show up even when starting from a clean build? (So I'm runnning `` python setup.py test``, but only after I've removed everything from previous builds?

[2015-11-04 21:15] ayshih commented on #1472
@bsipocz Can you elaborate on what you mean by "failures"?  Are the figure tests themselves failing, or are you trying and failing to create a new hash table?  You say you have failures when using `python setup.py test`, but how do things behave when you run `py.test`?

[2015-11-04 21:24] bsipocz commented on #1472
@ayshih - 4 tests fail. I'm checking with py.test now.

Here is the log (for ``python setup.py test``):
[code]

[2015-11-04 21:43] ayshih commented on #1472
Hmm, those are outright figure-test failures (so are not actually related to this issue discussed here) and point to some difference in the plots you are generating.  You should see the exact same failures with `py.test`.  To answer your initial question, this is not "normal", and the fact that the Travis builds have been passing suggests that the difference is localized to your machine.  So, what

[2015-11-04 21:48] ayshih commented on #1472
Or...not?  The figure tests are failing on my machine too...  Needs more investigation.

[2015-11-04 22:05] bsipocz commented on #1472
@ayshih - py.test took much longer (about 15 minutes) and I have 6 failures with it, and only two of these image failures. It's very weird.

[code]
Log for py.test is here: https://gist.github.com/bsipocz/16ad712d3829f554df4e

[2015-11-04 22:13] Cadair commented on #1472
I rebuilt the hashes for Travis recently. I wonder if something updated in the conda installs.

[2015-11-04 22:17] bsipocz commented on #1472
@Cadair - Travis is a different story, I can't see why it still works, all builds should have failed since this morning due to some conda changes (we had this problem in astropy and affiliates, and now I try to fix it everywhere, thus ended up here).

[2015-11-04 22:28] ayshih commented on #1472
@bsipocz it looks like running `py.test` like that skipped the two tests that are skipped if `wcsaxes` is not installed, which is why you only have two figure-test failures instead of four.

@Cadair I see where you changed the hashes (https://github.com/sunpy/sunpy/commit/84ae67ff3b14f8894aa86b871df70d606ddef2c4), but my setup (with an across-the-board-updated Anaconda) is still producing the old

[2015-11-04 22:29] ayshih commented on #1472
(That said, @bsipocz is getting that hashes that don't match the old ones *or* the new ones, so I don't know what's going on.)

[2015-11-04 22:32] ayshih commented on #1472
One theory: I'm testing on Windows, so maybe there's been some change to Anaconda such that the different platforms no longer produce the same hashes?  (That doesn't explain the failures that @bsipocz is seeing.)

[2015-11-04 22:32] bsipocz commented on #1472
@ayshih - Except that wcsaxes was installed. Both two runs were started from the same terminal after each other.

[2015-11-04 22:33] bsipocz commented on #1472
Also, I have the shiny new 1.5 matplotlib, can that cause problems?

[2015-11-04 22:36] ayshih commented on #1472
My suspicion is that our skip decorator may not work correctly when using `py.test` instead of `python setup.py test` because the former used to skip, and possibly still skips, some initial configuration code.

Oh, I'm sure it can!

[2015-11-05 15:05] ayshih opened #1601 "Figure-test hashes coming out different on Travis?"
I'm creating a new issue for the discussion in #1472.  There are one or more issues that are resulting in different figure-test hashes, and I don't understand why.  It's presumably some subtle difference in configuration that I'm not aware of.

@Cadair updated the hashes in https://github.com/sunpy/sunpy/commit/84ae67ff3b14f8894aa86b871df70d606ddef2c4 which appear to be passing on Travis, but my (

[2015-11-05 15:08] ayshih commented on #1472
I've created a new issue (#1601) for the recent discussion since it is not directly related to the original issue.

[2015-11-05 15:38] ayshih commented on #1601
My `sunpy.util.system_info()`:
[code]

My test failures:
[code]

[2015-11-05 22:50] #1173 closed

[2015-11-07 19:59] ehsteve opened #1605 "Sample Data references not correct"
On my system it thinks they are located inside of my repository instead of inside my data directory.

[2015-11-17 09:49] Cadair opened #1610 "Figure tests need a way of displaying the figures"
An incremental update to the figure hash problem would be if there was a way of running the tests and saving the pngs to a certain directory. This could be used to easily validate that the tests are producing "correct" if subtly different output.

[2015-11-17 10:52] slyardley opened #1611 "H-alpha Submap not working with arcsec units"
I am using this Kanzelhohe H-alpha file - ftp://ftp.kso.ac.at/Ha4M/2011/20110116/processed/kanz_halph_fi_20110116_080851.fts.gz and when I try to create a submap the result is an empty array.

[code]

[code]

Whereas with pixel units it works.
[code]

[2015-11-17 10:53] Cadair commented on #1611
@slyardley can you provide a link to the file?

[2015-11-17 10:55] slyardley commented on #1611
Sorry the link didn't work it should be there now!

[2015-11-17 10:57] Cadair commented on #1611
@slyardley it is asking me for a username + password?

[2015-11-17 12:15] dpshelio commented on #1611
@Cadair the password is available here: http://cesar.kso.ac.at/main/ftp.php
Sorry we had to leave for a seminar..

[2015-11-17 12:39] Cadair commented on #1611
Ok, so the issue is that the header is "solar_x" "solar_y" when the MDI fix we merged a while ago only checks for "solar-x", "solar0y" a PR is on it's way.

A hack is the following:

[code]

[2015-11-17 13:41] dpshelio commented on #1611
Great @Cadair - I couldn't have think on that!  Thanks!!!

[2015-11-17 14:25] slyardley commented on #1611
Thanks @Cadair works perfectly!

[2015-11-20 14:32] slyardley opened #1615 "Alignment of Halpha & HMI composite maps"
I am trying to create a composite map consisting of submaps of H-alpha and HMI data. The H-alpha data seems to be offset in both the x and y direction by ~100", compared with HMI.

Halpha fits:
ftp://ftp.kso.ac.at/Ha4M/2011/20110605/processed/kanz_halph_fi_20110605_065522.fts
(password for Halpha available here: http://cesar.kso.ac.at/main/ftp.php)

HMI fits:
http://jsoc.stanford.edu/SUM72/D761559

[2015-11-20 14:36] Cadair commented on #1615
The alignment between the two images is only as good as the respective pointing information in the HMI and H alpha headers. I would assume the H aplha header is not accurate?

[2015-11-20 15:28] slyardley commented on #1615
I couldn't see anything in the headers (unless I missed it). Also I have made the same plot before in IDL with no alignment issues?

[2015-11-20 15:41] Cadair commented on #1615
@slyardley interesting. I will try and take a look over the weekend, but I have limited ideas and all the ones I do have are scary. Have you used these two exact files in IDL?

[2015-11-20 16:04] slyardley commented on #1615
Halpha is the same file, HMI is a different file. Although, I have just found the original HMI file to recreate the IDL plot and it still gives the same result.

[2015-11-20 16:06] Cadair commented on #1615
A sticky one! Could be fun!

[2015-11-20 16:13] wafels commented on #1615
Would you be willing to share your IDL code?

Coincidentally, I am trying to overplot HMI and Coimbra spectroheliograph
data, and I too am coming across alignment issues.  I have tried the
overplot using sunpy/master only.  I have not tried the overplot in IDL
yet.  Thanks!

On Fri, Nov 20, 2015 at 11:06 AM, Stuart Mumford <notifications@github.com>
wrote:

[2015-11-20 16:35] slyardley commented on #1615
Here's the idl code I have used to make the same figure:

[code]

(The hmi map - rmap has come from a .sav file but is just the usual HMI fits file that has been converted to a map structure after the application aia_prep)

[2015-11-20 18:17] larrymanley commented on #1615
Although you are taking a sub-map, could plate scale be an issue?
Solarsoft's aia_prep changes HMI's plate scale from ~0.5 to 0.6, while an
HMI map in Sunpy will remain at 0.5 with a not-quite-zero rotation.

On Fri, Nov 20, 2015 at 9:35 AM, slyardley <notifications@github.com> wrote:

[2015-11-22 21:57] Cadair commented on #1615
@larrymanley in theory it shoudn't as it should be plotting in physical coordinates at two different plate scales. It's worth a look though.

[2015-11-23 17:18] #1611 closed

[2015-12-07 10:17] Cadair opened #1618 "Don't clone into $HOME/sunpy"
The fact that cloning and installing sunpy in $HOME/sunpy is a bad idea because it conflicts with the default data dir needs documenting better, and potentially we could check for this in `config.py`.

[2015-12-07 10:29] dpshelio commented on #1618
That's annoying... should now we have a `.sunpy` place for the config? and maybe a check around before writing into `$HOME/sunpy` to see whether it's the sunpy path?

[2015-12-07 10:33] Cadair commented on #1618
@dpshelio yeah that check thing is possible, in `config.py` when it checks the $HOME/sunpy dir it could check if `__file__` is in that dir.

[2015-12-10 16:57] sudk1896 opened #1619 "get_url_for_time_range function in stereo.py in dataretriever not working correctly."
The following query:-

[code]

Should return a non-empty list of urls but instead returns an empty list. Possible problem stems from the implementation of scraper.py in sunpy.util. The scraper doesn't work as intended on http://www.srl.caltech.edu/STEREO/DATA/HET.

[2015-12-11 12:01] dpshelio opened #1620 "JSOC header retriever"
From a [request on the mailing list](https://groups.google.com/d/topic/sunpy/tTesbiwQ6NI/discussion) it's desirable that from sunpy we could query the header information from JSOC.

[2015-12-11 16:23] dpshelio commented on #1259
There's some information in [this script](http://jsoc.stanford.edu/ajax/exportfile.csh) that could be useful, like the [url](http://jsoc.stanford.edu/cgi-bin/ajax/show_series?) to obtain all the series and their keywords (I don't know which parameters need to be set for filtering it as in the website).

[2015-12-11 16:35] dpshelio commented on #1619
Thanks @sudk1896!! I can confirm there's a problem with the scrapper.

[code]
I will try to look into it during the weekend.
Please, add any other archive to this issue that you see failing, so I can see if there's a pattern.

Thanks!

[2015-12-11 17:16] sudk1896 commented on #1619
@dpshelio : Will do. Even I am trying to rectify the issue. Keep you posted.

[2015-12-14 09:52] olebole opened #1622 "0.6.1: `python setup.py test` fails"
Hi,

I am currently packaging sunpy for Debian. However, I failed running the tests:
[code]

When I try to use the latest astropy_helpers 1.1, I get
[code]

[2015-12-14 09:58] Cadair commented on #1622
Hey @olebole,

Thanks for taking on SunPy as a package.

I can't understand the astropy_helpers 1.0.6 error (I haven't tested with 1.1, I know they changed some stuff wrt to testing in 1.1).

Are you building from the tarball? Is there anything else different about your build env?

[2015-12-14 11:07] olebole commented on #1622
I used the pypi tarball, and I think the rest is quite standard. Astropy version is 1.0.5 (also tested with 1.1).

[2015-12-22 19:11] wafels opened #1624 "Unidown branch: Fido: what is intended to be returned when displaying the contents of the unified downloader response?"
Trying to use Fido...when making the following request and I want to see what the response is I get

[code]
Note if I change this to
[code]
I get
[code]

I expect to see some information concerning the time range I am interested in.  I am not interested in the time 2012-05-08 00:00:00, so why is it part of the response?  This is very confusing.  What is intended to be displayed?

Note that in both

[2015-12-22 20:42] wafels opened #1625 "Unidown branch: Fido: what is the anticipated behavior of Fido when acquiring RHESSI data?"
Should the following request have downloaded three daily summary files and not just one?

[code]

[2015-12-23 08:22] sudk1896 opened #1626 "Unidown: GOES client doesn't behave as intended on the following query."
The query
[code]

The output
[code]
The intended output should be 3 fits files for 04/10/2012, 05/10/2012 , 06/10/2012.
 It downloads only one - go1520121004.fits in sunpy/data folder. It should also be showing 3 fits files for the corresponding dates.

[2015-12-30 18:30] dpshelio commented on #1622
I'm getting the same error with astropy_helpers 1.1.1 and numpy 1.8.1.  If I update numpy then I get other problems with the compilation of ana reader.

[2016-01-04 17:14] ehsteve commented on #1625
You are right. Should be getting 3 not just one.

[2016-01-04 17:20] Cadair commented on #1625
as @DanRyanIrish pointed out this should only return data for the two days as '2012/3/6' evaulates to midnight '00:00:00'.

[2016-01-04 17:24] ehsteve opened #1630 "Time Range Interval open or closed"
The documentation for time range needs to explain how the edges of the intervals are treated, open or closed.

[2016-01-04 17:45] DanRyanIrish commented on #1630
Discussion during the SunPy Dev meeting of 2016-01-04 seemed to favour the interval being closed on the left and open on the right.

[2016-01-04 17:46] Cadair commented on #1630
Currently we have a closed interval in `attrs.Time` if we want it open, the `attrs.Time` object should be modified to exculde the end point.

[2016-01-11 17:29] ehsteve commented on #1610
Figures should be placed in a different repository as discussed and agreed upon in dev meeting 11-Jan-2015.

[2016-01-11 17:41] abit2 commented on #1196
Need help getting started

[2016-01-11 18:07] souravsingh commented on #1196
There is already a PR for this issue at #1586. I am trying to figure out how to hook it to the test build.

[2016-01-11 18:12] abit2 commented on #1196
Can you suggest some other issue.Novice preferably.

[2016-01-12 09:47] olebole commented on #1622
Hi,

is there any progress with that? The issue actually prevents me from creating a package, and the deadline for the inclusion in Ubuntu 16.04 is coming closer...

[2016-01-12 10:39] Cadair commented on #1622
Hi @olebole I am still having issues replicating this, can you give me a list of all the packages and versions you have in your build env so I can see if I can reproduce?

[2016-01-12 10:41] Cadair commented on #1622
@olebole Can you succesfully run the core tests with: `py.test sunpy -k-figure -k-online` ??

[2016-01-12 10:45] Cadair commented on #1622
edit above with better command.

[2016-01-12 10:58] olebole commented on #1622
Here is the list of packages that are currently installed (on Debian unstable):

| Name | Version |
|------|---------|
| python |2.7.11 |
| python-setuptools  | 18.8 |
| python-numpy | 1.10.4 |
| python-astropy | 1.1 |
| python-astropy-helpers | 1.1.1 |
| python-matplotlib | 1.5.1~rc1 |
| python-pytest | 2.8.5 |
| python-sqlalchemy | 1.0.11+ds1 |
| python-suds | 0.4.1 |
| python-pandas | 0.17.1 |

[2016-01-12 11:07] olebole commented on #1622
With pytest, it works better; I get some test failures. I will put them into a new Issue to keep this one to the "python setup.py test" issue.

[2016-01-12 11:29] olebole opened #1633 "py.test failure"
When running `py.test sunpy -k "not figure and not online`, I get a number of errors; first one is
[code]

[2016-01-12 11:34] Cadair commented on #1633
@olebole this should be fixed by #1632

[2016-01-12 11:35] Cadair commented on #1622
@olebole I will spin up a debain unstable VM and see what I can do.

[2016-01-12 12:00] olebole commented on #1633
I con confirm that. Thank you for the pointing.

[2016-01-12 12:00] #1633 closed

[2016-01-12 12:04] olebole commented on #1622
It is not urgent anymore since I can live with the `py.test` command.

[2016-01-12 15:06] Cadair commented on #1633
@olebole I will try and clean up the 0.6 CI and release a bug fix this week. When is the 16.04 deadline?

[2016-01-12 15:08] anchitjain1234 commented on #1397
Is it still an issue? Because now it is working correctly.

[2016-01-12 15:08] olebole commented on #1633
No hurry: I already added the patch to the Debian version and [uploaded it to Debian](https://ftp-master.debian.org/new/sunpy_0.6.1-1.html). However, it will take some time until it is accepted there, and only then it can migrate to Ubuntu. Let's wait and hope...

[2016-01-14 14:41] wafels commented on #1630
What about timerange having properties indicating if each end of the range is to be treated as either open or closed?  Default values are
*timerange.start.is_open = True*
*timerange.end.is_open = False*
or something equivalent

Methods that accept time-ranges could change their behavior with regard to the open/closedness of the time range.

It is sometimes useful to have the start time and end tim

[2016-01-14 15:24] Cadair opened #1638 "map.pixel_to_data raises TypeError on 0.6.1 not master"
This does not occur on the development version, so there must be a patch to backport.

[code]

[2016-01-14 15:52] Cadair commented on #1638
This is already fixed in 0.6, thanks to @dpshelio

[2016-01-14 15:52] #1638 closed

[2016-01-15 20:01] souravsingh commented on #1517
I believe this issue can be closed

[2016-01-15 20:04] #1517 closed

[2016-01-15 20:53] MSKirk opened #1641 "Case sensitivity of fits file headers."
The fits header of a set of processed AIA images are all capitalized. This causes a error in the map object when trying to view the file. I am currently working on a solution to this.

[code]

[2016-01-15 21:22] Cadair commented on #1641
huh interetsing. What is the processing that's been done to these files? I have never encountered ones like that before. Anyway...

Looks like an easy fix, the `def units` property in mapbase should do a `.lower()` on the result of the `self.meta.get` before returning it.

You want to take a shot at fixing it?

[2016-01-15 21:27] MSKirk commented on #1641
Yeah, I will give it a shot. I am unsure about forcing lowercase since u.Units has both upper and lower cases.

[2016-01-15 21:33] Cadair commented on #1641
hmm yeah, I wonder if there is anything in the standard restricting the case of the 'CUNIT' keywords.

If the FITS standard is always mono-case then forcing the issue wouldn't be a problem otherwise you might have to fix your data ;)

[2016-01-15 21:43] astrofrog commented on #1641
FITS keyword values are case-sensitive, so the FITS files with ``ARCSEC`` are invalid technically.

[2016-01-15 21:56] MSKirk commented on #1641
Should there be a check on the CUNIT keywords in def _validate  to look for invalid units?

[2016-01-15 22:00] Cadair commented on #1641
Seems like a good place to put it, not sure what the most efficient way of validating is, maybe just throwing through `u.Unit`.

The question is, do we try and fix it, or do we just raise an exception and give up?

[2016-01-15 22:06] MSKirk commented on #1641
I am inclined to raise and exception and give up because there are more variations (e.g. uppercase, lowercase, misspelling, unsupported units) than should reasonably be anticipated.

[2016-01-15 22:21] Cadair commented on #1641
Sounds good to me!

[2016-01-17 20:46] sunilk747 commented on #1370
Hello
If this issue has not been solved I would like to work on it.

[2016-01-17 22:06] Cadair commented on #1370
@sunilk747 This has been fixed, well at least made redunadant by other changes.

[2016-01-17 22:06] #1370 closed

[2016-01-18 03:50] sunilk747 commented on #1302
@Cadair  Is this issue has been solved ?

[2016-01-18 09:19] Cadair commented on #1302
@sunilk747 no this still needs fixing.

[2016-01-18 10:35] olebole commented on #1633
FYI, sunpy is now in [Debian](https://packages.debian.org/unstable/python-sunpy) and [Ubuntu](https://launchpad.net/ubuntu/+source/sunpy)

[2016-01-18 10:40] Cadair commented on #1633
woo! thanks @olebole

[2016-01-18 16:53] ehsteve commented on #1633
@Cadair @olebole our docs should probably be updated to include this information.

[2016-01-22 11:35] Cadair opened #1645 "Add limb darkening correction"
Maybe based on this: http://hesperia.gsfc.nasa.gov/ssw/gen/idl/solar/darklimb_correct.pro ??

[2016-01-22 17:21] sudk1896 commented on #1645
Hey @Cadair , does this require knowledge of astrophysics ?

[2016-01-24 18:27] wafels opened #1646 "Carrington rotation number"
The SunPy and SSWIDL Carrington rotation numbers differ, and the difference is significant.

In [2]: import sunpy.sun
In [3]: sunpy.sun.carrington_rotation_number('2015-12-25 11:57:00')
Out[3]: 2172.011791498784

In [4]: sunpy.sun.carrington_rotation_number('2015-12-25 04:13:54')
Out[4]: 2172.0000007128997

IDL> print, tim2carr('2015-12-25 11:57:00',/dc)
       2172.0001

For reference,
http://alp

[2016-01-24 19:30] Cadair commented on #1646
Awkward...

[2016-01-25 14:35] wafels commented on #1646
I'm taking a look at this.

[2016-01-25 17:18] dpshelio commented on #1646
That's being also part of the #1070 - hopefully in the next weeks I can get that PR up to speed and end with it.

[2016-01-25 17:40] Cadair commented on #1646
Looks like we have our own UTC->Julian Date conversion which we really should replace with http://docs.astropy.org/en/stable/time/index.html

[2016-01-25 17:43] dpshelio commented on #1610
@Cadair should we close this?

[2016-01-25 17:48] Cadair commented on #1610
yaarrpp

[2016-01-25 17:48] #1610 closed

[2016-01-25 17:53] Cadair commented on #1646
see #1647

[2016-01-27 06:04] amunozj opened #1651 "Errors while running SunPy tests"
Hi I installed SunPy on Anaconda 2 and running the tests it shows several errors.  It's quite a bit of text so I don't know if to copy it all here.   One of the most common errors looks like this:

        array([[10, 10, 10, 10, 10, 10, 10],
               [10, 10, 10, 10, 10, 10, 10],
               [10, 10,  0,  1,  2, 10, 10],
               [10, 10,  3,  4,  5, 10, 10],
               [10, 10

[2016-01-27 09:30] Cadair commented on #1651
Hello @amunozj,

This is a known bug in the latest release, (0.6.1) it has already been fixed in master and the 0.6 branches, we should be doing a 0.6.2 release shortly.

If I remember correctly, downgrading numpy to 1.9 will avoid the problem.

Thanks for the report.

[2016-01-27 09:30] #1651 closed

[2016-02-01 09:15] olebole opened #1653 "ERROR at setup of reshape_image_to_4d_superpixel with numpy 1.11 beta 2"
With the new beta release of numpy (which just entered Debian unstable), I get the following test setup error:

[code]

A similar error, I get for `test_as_array`.
Full test log [here](https://ci.debian.net/data/packages/unstable/amd64/s/sunpy/20160131_053403.autopkgtest.log.gz)

[2016-02-01 09:30] olebole commented on #1653
I also get a number of failures that are caused by invalid slices. One example:
[code]
This happens with `test_clip_edges`, `test_calculate_match_template_shift`, `test_mapcube_coalign_by_match_template`, `test_apply_shifts`, many `test_scale` parameters, many `test_all` parameters, `test_submap`, `test_rotate`, `test_intersect_time`, `test_linear_view`, and others.
Numpy seems not to accept float

[2016-02-02 20:29] wafels commented on #1625
I think the issue might lie in sunpy/instr/rhessi.py.  The Fido RHESSI client has a method _get_url_for_timerange that relies on the get_obssum_filename function of sunpy/instr/rhessi.py  get_obssumm_filename relies on get_obssumm_dbase_file to find the right files.  It looks like get_obssumm_dbase_file is not finding the correct files; for example,

In [10]: import sunpy.instr.rhessi as rhessi
In

[2016-02-03 20:12] CyclingNinja commented on #1645
I'd like to have a crack at this

[2016-02-05 10:45] Cadair commented on #1653
thanks @olebole I will look into this.

[2016-02-05 11:02] #1641 closed

[2016-02-05 14:38] Cadair commented on #1615
@slyardley @wafels Did you ever make any headway with this?

[2016-02-05 14:44] wafels commented on #1615
sorry - I have not followed this up.

On Fri, Feb 5, 2016 at 9:38 AM, Stuart Mumford <notifications@github.com>
wrote:

[2016-02-05 14:50] slyardley commented on #1615
Neither have I although, I’m working on another project now that might require this so might look into it again soon.

On 5 Feb 2016, at 14:44, wafels <notifications@github.com<mailto:notifications@github.com>> wrote:

sorry - I have not followed this up.

On Fri, Feb 5, 2016 at 9:38 AM, Stuart Mumford <notifications@github.com<mailto:notifications@github.com>>
wrote:

—
Reply to this email direct

[2016-02-05 15:29] #1397 closed

[2016-02-07 15:49] imaculate commented on #796
@Cadair , has this been done? I would like to work on it.

[2016-02-07 17:56] Cadair commented on #796
@imaculate I don't think so, feel free to have a go. Let me know if you need any advice. :)

[2016-02-07 19:35] imaculate commented on #796
@Cadair , Thank you!

[2016-02-08 17:18] Cadair opened #1659 "Document the CI"
DOCUMENT ALL THE THINGS

[2016-02-08 22:53] #1519 closed

[2016-02-10 12:20] SunPyBot opened #1661 "Support failover to SDAC VSO endpoint"
Submitted by: Cadair
From channel: #SunPy

The URL should fall back to http://sdac.virtualsolar.org/API/VSOi_rpc_literal.wsdl and the port to `'sdacVSOi'`.

This section of the `VSOClient.__init__`  https://github.com/sunpy/sunpy/blob/master/sunpy%2Fnet%2Fvso%2Fvso.py#L279 will need subsituting for some kind of connection test with fallback, probably in a method rather than inline in the `__init__

[2016-02-12 08:38] imaculate commented on #796
Hi @Cadair , I took a while to setup my environment but its working now. I have noticed that whenever I include the Sample parameter no results are found, but on removing it results show up. Not sure if its something I'm doing wrong.
Here is my query:
qr = client.query(vso.attrs.Time('2011/9/12T20:30:00', '2011/9/12T21:00:00'), vso.attrs.Instrument('AIA'), vso.attrs.Sample(30*u.second ))
Also, I w

[2016-02-12 13:25] Cadair commented on #796
@imaculate it is the database that needs improving, you can generate the error with this:

[code]

The database should be able to accept queries on it's contents and to the VSO (the database can call the vso client). Does that make any sense? Let me know if you need some more pointers.

[2016-02-16 06:26] imaculate commented on #796
Hi @Cadair , what do you suggest is the best way to implement this?

[2016-02-16 09:56] dpshelio opened #1662 "Default color table for Proba2/SWAP"
What is it?

[Proba2](http://proba2.oma.be/)/SWAP page does not have any default colour in their images, just black and white[*].
So [helioviewer](http://helioviewer.org).

[SolarMonitor](http://solarmonitor.org/full_disk.php?date=20160216&type=swap_00174), uses the blue (1 on IDL, is that equivalent to "blues" in IDL?), which is different than the eit171 (used for EIT and TRACE).

Can we get any

[2016-02-16 10:01] dpshelio commented on #1662
@DavidBerghmans - could you comment on this?

[2016-02-16 12:20] bogdanni commented on #1662
If SWAP images have to be coloured, the preference is for the AIA 171 colormap.

[2016-02-17 05:51] wtbarnes opened #1663 "SDO/AIA response functions"
Are there plans to implement the SDO/AIA response functions (a la `aia_get_response()` in SSW) in SunPy? I noticed that this was mentioned as a [GSOC project in 2015](http://openastronomy.org/gsoc/gsoc2015/ideas.html) and was wondering if any progress had been made on this front. Looking at [Boerner et al. (2012)](http://adsabs.harvard.edu/abs/2012SoPh..275...41B), it seems this might require sign

[2016-02-17 09:45] Cadair commented on #1663
hey @wtbarnes thanks for the issue.

It is something we have been wanting to do for a while, but have never had the time. I know that @drewleonard42 looked into doing it during his PhD, but there were licencing issues with ChiantiPy at the time, which are now resolved.

We didn't get anyone taking up the project last year, but I have suggested to @drewleonard42 that he could re-write it and see if

[2016-02-17 11:37] Cadair commented on #796
I am not really sure what is the best way to go in any great detail. @derdon Was the guy who implemented the database module. It looks like you want to add a class in `attrs.py` and then write a sqlalchemy query around here: https://github.com/sunpy/sunpy/blob/master/sunpy%2Fdatabase%2Fattrs.py#L162

[2016-02-17 17:17] wtbarnes commented on #1663
Thanks for the response @Cadair.

I actually have a project coming up where this would be a really useful tool so I think I could devote some time to working on it. I think that Ken Dere is in the process of moving all development of ChiantiPy over to GitHub as well which will make integration with the project a bit easier.

I will be sure to check out the #sunpy channel on IRC. I'm still very new

[2016-02-18 15:57] Cadair opened #1664 "Map does not take FITS Header instance as meta argument"
You have to cast to dict first.

i.e.

[code]

[2016-02-25 11:06] Cadair opened #1668 "If you don't specify attrs.Time to a query it throws a TypeError"
This should error, it should preferably error nicer than this:

[code]

[2016-02-25 18:54] ChrisIAm101 opened #1675 "JSOC search query including wavelength (unidown)"
Hi all,

I tried messing with the JSOC query today and it seemed to work well unless I added in the Wavelength keyword. Without that keyword, the following code works but with it, it spits out the following error message.

Cheers,
Chris

[code]

gives the following error:

[code]

[2016-02-25 19:01] Cadair commented on #1675
This is just on the unidown branch.

[2016-02-29 17:14] Cadair commented on #1625
@wafels can this be closed?

[2016-02-29 17:15] wafels commented on #1625
yes

On Mon, Feb 29, 2016 at 12:14 PM, Stuart Mumford <notifications@github.com>
wrote:

[2016-02-29 17:25] wafels commented on #1624
this can be closed due to #1672

[2016-02-29 17:44] #1624 closed

[2016-02-29 17:44] #1625 closed

[2016-02-29 17:59] Cadair opened #1685 "Allow specification of open or closed interval to vso.attr.Time"
By default we want the end time to not be included (open) i.e:

[code]

[2016-02-29 18:03] dpshelio commented on #1685
In a mathematical notation:
default => `[tstart, tend)`

[2016-02-29 18:03] wafels commented on #1685
ok by me

[2016-03-01 04:06] gmlaghari opened #1686 "Truncated test data should have header updated to refelect new size."
```WARNING:astropy:File may have been truncated: actual file length (538688) is smaller than the expected size (541440)```

I think all these warnings are expected as we are using truncated data for testing purposes. Mainly so that we don't fill up the repo with extra data. The header information in these files should be updated to remove these warnings.

[2016-03-01 06:47] thelazy commented on #866
@Cadair Please, guide me on this.

[2016-03-01 07:44] laxmena commented on #1659
Can I work on this?

[2016-03-01 09:11] Cadair commented on #866
@thelazy The fact you often need to install the C headers (i.e. python.h) under linux needs documenting. When you were doing your install you had to install python-dev. The exact name of the package varies from distro to distro.

[2016-03-01 09:13] Cadair commented on #1686
I think all these warnings are expected as we are using truncated data for testing purposes. Mainly so that we don't fill up the repo with extra data. The header information in these files could be updated to remove these warnings.

[2016-03-01 09:18] Cadair commented on #1659
This is probably better done by @dpshelio as he configured the system. We have a label for issues that are good to start with: https://github.com/sunpy/sunpy/issues?q=is%3Aissue+is%3Aopen+label%3Apackage-novice

[2016-03-01 09:47] gmlaghari opened #1687 "Sunpy_Spectrogram Error in a simple code"
Below is my code and I am getting an error on Sunpy 0.6.1

[code]

 Please guide. The plot doesn't show colorbar as well.

[2016-03-01 11:13] dpshelio commented on #866
Is this not already said in [here](http://sunpy.readthedocs.org/en/latest/guide/installation/linux.html)... do we want to put this more detailed?

[2016-03-01 15:52] laxmena commented on #1321
Can I work on this issue ?

[2016-03-01 18:44] larrymanley opened #1691 "aiaprep returns wrong array size"
I noticed that 'aiaprep' returns a 4098x4098 array rather than a 4096x4096 array.

[2016-03-01 19:45] Cadair commented on #1691
intresting, does `map.rotate()` do this?

[2016-03-01 19:53] larrymanley commented on #1691
I believe so; there's some padding in there, not sure if it's necessary...

[2016-03-01 21:02] Cadair commented on #1691
intersting. I will try and take a look. I guess this is a part of @ayshih change where he added the padding so the image is not cropped.

[2016-03-01 21:32] wafels commented on #1691
Perhaps we need a "keepdims" flag that returns an image the same size as
the original non-rotated image?  For example, many LASCO science data
images taken in the SOHO rolled pointing era are rotated 7 degrees relative
to solar north.  The LASCO processing routines rotate the data so that
solar north is "up" but the images are still 1024 x 1024, the same size
image as before SOHO had to roll.  I s

[2016-03-01 22:49] ayshih commented on #1691
I presume that is precisely the case.  I'm not sure I like @wafels's suggestion of a `keepdims` flag, although I'm not strongly opposed to it either.  It just seems to me that we shouldn't have `rotate()` do much more than rotating and preserving everything.  If a processing routine such as `aiaprep` wants to enforce the same dimensions, it should explicitly submap for those dimensions as a separa

[2016-03-01 23:35] larrymanley commented on #1691
Is it one pixel on all four sides that is padded?  As far as submapping, does that have implications for memory fragmentation when processing large amounts of data?  AIA images have nothing but noise on the outer 1-2 pixels.  How about a non-padded form of rotate internal to aiaprep?  I would also recommend being able to specify 'missing' and 'order' directly from aiaprep.

[2016-03-02 00:35] ayshih commented on #1691
To be clear, it's not padding just for the sake of padding.  The dimensions of the data array are expanded to ensure that no data is cropped out during the rotation.  For example, for the "worst case" of a 45-degree rotation, the dimension would be expanded up by a multiplicative factor of sqrt(2) (so, here, to ~5793 pixels on a side).  Because no data is cropped out, the expansion is effectively

[2016-03-02 02:32] derdon commented on #866
@dpshelio Indeed, looks fixed to me now :)

[2016-03-02 09:53] Cadair commented on #1691
I thought map.rotate always rotated around the centre of the HPC system (i.e. centre of disk?)

I agree with @ayshih, cropping in aiaprep is the easiest solution for maintanability.

I do wonder what is the most physically correct way to crop, is it to crop to 4096x4096 or is it to crop to some physical arcsecond size? I suppose if we are cropping after the scaling to 0.6" has taken place they are

[2016-03-02 09:53] Cadair commented on #1691
ping @drewleonard42

[2016-03-02 10:05] drewleonard42 commented on #1691
If I remember rightly, it does by default, but doesn't have to. I could be wrong, I've not looked at it in a while.

Presumably this means when we come to crop the image back again, we'll have to do so around the centre of the array rather than the origin?

[2016-03-02 10:25] Cadair commented on #1691
Well aiaprep aligns the centre of the disk to the centre of the image no?

[2016-03-02 10:28] drewleonard42 commented on #1691
Excellent point. I should not try to have these conversations before I've woken up properly....

[2016-03-02 14:29] ayshih commented on #1691
What I meant was that the default behavior of `Map.rotate()` preserves all of the data, so the data array itself is necessarily is rotated about the center of the array.  The definition of the coordinates after the rotation uses the reference coordinate in the metadata (which may or may not be the HPC origin) as the fixed point of the rotation.

Of course, as pointed out above, `aiaprep` uses the

[2016-03-02 14:46] Cadair commented on #1691
@ayshih as far as I see it the argument here goes that the rotation will never crop useful data off if the array size is maintained (there is no data in the corners where the padding saves the data), at least for full disk AIA images. So why bother padding?

[2016-03-02 15:09] ayshih commented on #1691
Agreed, for `aiaprep()`, there's little justification for preserving any data at the fringes, so certainly there can be an instrument-specific decision to crop after the rotation as needed.

This issue says that `aiaprep()` is supposed to return data arrays of exactly 4096x4096.  I just wanted clarification if that is the actual requirement, given that part of the point of the Map class is provide

[2016-03-02 15:14] Cadair commented on #1691
@ayshih I agree that it should be an instrument specific decision. `Map.rotate` is fine the way it is as far as I am concerned.

[2016-03-02 18:00] larrymanley commented on #1691
![capture](https://cloud.githubusercontent.com/assets/1042961/13469759/ec18b806-e065-11e5-8843-7edf8b2a9a89.PNG)

[2016-03-02 18:03] larrymanley commented on #1691
Can someone come up with a systematic way to submap 4096x4096 coming out of aiaprep?  The above values will vary slightly depending on time of year and point in orbit, so the padding could potentially go a little above 4108.

[2016-03-02 18:37] laxmena commented on #1321
Is this issue still open? Can I work on it?

[2016-03-02 18:40] ayshih commented on #1691
As @Cadair as much suggested, you can crop to the "central" 4096x4096 region (since `recenter=True` will ensure that the center of the data array is the HPC origin), or you can specify the appropriate angular extent in physical coordinates (which should be exact since the pixel angular size is rescaled to 0.6").  The former approach would requires a hair more math in `aiaprep()`, but is arguably p

[2016-03-03 06:39] gmlaghari commented on #1687
How do I know whether you will have fixed this bug or not?

[2016-03-03 09:40] Cadair commented on #1687
hey @gmlaghari is it possible you can provide the file you are using so we can recreate the error?

[2016-03-03 09:57] gmlaghari commented on #1687
@Cadair Fits file is attached please.
[MUPK_20150822_064500_59.fit.zip](https://github.com/sunpy/sunpy/files/156489/MUPK_20150822_064500_59.fit.zip)

[2016-03-03 10:00] Cadair opened #1694 "download_sample_data does not handle download errors well"
There are multiple URLs defined in `_sample.py` and before attempting a download the URL is checked that it exists and can be accessed for each file. However, if the download fails mid-way the download is not retried with another mirror.

This could be added easiy with a `try: except:` block here: https://github.com/sunpy/sunpy/blob/master/sunpy/data/_sample.py#L86

example error: http://pastebin.

[2016-03-03 10:02] Cadair commented on #1687
@gmlaghari I will try and look at it, but I am rather busy at the moment, so I can't promise when.

[2016-03-03 10:04] Cadair commented on #1321
@laxmena yes, you could work on this. I think what is needed is an excellent set of documentation on how to set up an affiliated package using the Astropy template: https://github.com/astropy/package-template/ but changing the branding to be SunPy and also documenting some of the information in https://github.com/sunpy/sunpy-SEP/blob/master/SEP-0004.md

[2016-03-03 10:07] gmlaghari commented on #1687
@Cadair Try it when you get time. I am stuck here little here. Although SunPy is giving error, but plotting spectrogram without colorbar.
Your effort is highly appreciated.

[2016-03-03 10:08] Cadair commented on #1691
Thinking about this, would the correct logic be the follwing pesudo code:

[code]
?

[2016-03-03 10:17] laxmena opened #1695 "Hint: the following packages conflict with each other: - sunpy - python 3.5*"
Is there a manner in which to get access to a python 3.5 compatible version of sunpy via the conda installer?
`Hint: the following packages conflict with each other:   - sunpy   - python 3.5*`

[2016-03-03 10:18] Cadair commented on #1695
@laxmena this is because currently we only support Python 2.7.

[2016-03-03 10:18] #1695 closed

[2016-03-03 11:20] ajamesucl opened #1697 "Independent thresholding for each layer in composite maps"
When using the composite map feature, I'd like to be able to set different vmin and vmax constraints for each layer. At the moment, I can set an overall vmin and vmax for the plot, but the scales of the plots used in each layer are different, so one-size-fits-all thresholds aren't appropriate.

Something similar to the alpha value that can be set for each layer would be great.

[2016-03-03 11:24] dpshelio commented on #1697
I think that adding somthing like `set_minmax(layer, vmin, vmax)` or similar could work.
`[set_levels()](https://github.com/sunpy/sunpy/blob/master/sunpy/map/compositemap.py#L257)` does something similar.

[2016-03-03 13:16] abit2 commented on #1697
Hey i would like to give it a try

[2016-03-03 13:46] larrymanley commented on #1691
That will work.

[2016-03-03 14:02] larrymanley commented on #1691
submap([left, right]*u.pix, [left, right]*u.pix)

[2016-03-03 14:05] larrymanley commented on #1691
Will anything in the tests need to be changed/added to implement this?

[2016-03-03 15:13] Cadair commented on #1691
@larrymanley just a new test for aiaprep to make sure it doesn't regress at some point in the future.

[2016-03-03 16:26] abit2 commented on #1694
gonna give it a try

[2016-03-03 16:44] abit2 commented on #1697
@ajamesucl @dpshelio so need to set different contour levels in each layer and if it is less than vmin than =vmin, Similar for vmax .
Did i understood it right please correct me if wrong

[2016-03-04 10:06] ajamesucl commented on #1697
Just to be clearer about what I specifically would like to do: in my example, the composite contains two layers. The first being a map of the Sun, and then contours taken from another map are overlayed as a second layer. For example, to plot magnetic field strength contours from an HMI magnetogram on top of an AIA image of the Sun.

The problem is that I would like to plot each layer with differen

[2016-03-04 13:35] abit2 commented on #1697
def set_minmax(self, index, levels, vmin, vmax):
        """
        Sets the contour threshold levels for a layer in the composite image.

        Parameters
        ----------
        index : `int`
            The index of the map in the composite map.

        levels : array-like
            The contour levels.

        vmin :
            Minimum contour threshold level.

        vmax :

[2016-03-04 13:43] dpshelio commented on #1697
@abit2 you should do this as a Pull Request and [link in the comment with this issue number](https://github.com/blog/957-introducing-issue-mentions),  that way the repository is tested automatically (and checks whether that breaks something) and we can provide inline comments.

I think you are confusing the two things composite maps can do, one is to overlay contours on top of an image (controlled

[2016-03-04 14:30] CyclingNinja commented on #1645
https://darts.isas.jaxa.jp/pub/ssw/gen/idl/solar/darklimb_u.pro
http://hesperia.gsfc.nasa.gov/ssw/gen/idl/solar/darklimb_r.pro
https://darts.isas.jaxa.jp/pub/ssw/gen/idl/solar/darklimb_v.pro

calls all the above, Uses a function in Allen's Astronomical Quantities

[2016-03-04 17:13] larrymanley commented on #1697
@ajamesucl Perhaps you are aware of this, but if you are mixing AIA and HMI data, the two instruments have different plate scales (CDELT*) - AIA is ~0.6 arcsec/pixel, HMI is ~0.5, so the HMI data needs to be scaled down.  I'll be doing an "hmiprep" with a plate scale option and optional removal of the limb noise on magnetograms.

[2016-03-04 18:29] Punyaslok commented on #732
@Cadair @derdon Could you tell me in which file this needs to be documented?

[2016-03-04 18:34] Punyaslok commented on #1163
@Cadair @derdon Can you please elaborate what you want to achieve here?

[2016-03-04 21:51] Punyaslok commented on #1140
@Cadair Could you please elaborate what the issue is here?

[2016-03-07 11:08] ajamesucl commented on #1697
@larrymanley Thanks for the help! I just checked the CDELTs for my AIA and HMI images and both are the same at ~0.6 arcsec/pixel. I've been getting and prepping my data with IDL Solarsoft, so I had used the aiaprep function on both sets of data, which must have accounted for the HMI scale.

[2016-03-07 17:43] Cadair opened #1702 "Issue warning from map.plot if wcsaxes is availible and a non-WCSAxes object is being used."
This is to make it more obvious to users that if you create your own axes object it will not behave the same as the default map.plot command.

[2016-03-07 18:00] ehsteve opened #1703 "Make net modules consistent in the action verbs they use"
Fido uses `search` and `fetch` and vso uses `query` and `get`. Let's be consistent.

[2016-03-07 18:03] ehsteve opened #1704 "Install documentation should suggest a Python version"
It is not clear to new users whether they should install anaconda with Python 2.7 or Python 3.x. We are striving to support both but right now we support 2.7 and that should be made clear in the documentation so that new users are not confused by this.

Specifically this is the file that needs to be fixed
https://github.com/sunpy/sunpy/blob/stable/doc/source/guide/installation/index.rst

[2016-03-07 20:19] Cadair commented on #1703
I think on balance I prefer changing Fido to `get` and `query`.

@sunpy/sunpy-developers any more opinions?

[2016-03-07 20:37] wafels commented on #1703
Any particular reason?  The best reason I see for `query` and `get` is that these will require the minimum number of changes to the code.

[2016-03-07 20:38] Cadair commented on #1703
@wafels that and people used to the current API wont have to change. Also I can see no advantage to changing, unless someone has an argument to make there?

[2016-03-07 20:50] ayshih commented on #1703
Well, ignoring the inertia of history, my perspectives are:
* `fetch` is better than `get` because the word "fetch" is less common than the too-generic "get" so better captures the weight of the download operation.  Plus, "fetch" works excellently with the dog metaphor.
* `search` is better than `query` because "search" is a more natural word to use than the jargon-ish "query".  "Search" also work

[2016-03-07 21:47] Cadair commented on #1703
Your arguments are reasonable, but are they worth changing all the existing code?

[2016-03-08 00:42] dpshelio commented on #1703
I think I'm with @ayshih - but I also find annoying to have to change something which... in principle we are not going to suggest to use.  I would propose to keep everything as it is for the merging, then create wrappers around the old API for deprecation while converting them to the new verbs. So that gives us a bit of extra time (or someone during the conference in a couple of weeks wants to hel

[2016-03-08 04:59] gmlaghari commented on #1687
@Cadair Any progress? I am getting same error even on older version.

[2016-03-08 09:10] nabobalis commented on #1703
Would it not be a straightforward find and replace?

[2016-03-08 09:48] Cadair commented on #1703
@nabobalis yeah, but we would want to keep functionality in the VSO JSOC HEK HELIO etc clients for at least one release. So we would have to wrap and deprecate.

[2016-03-11 08:30] gmlaghari opened #1706 "Getting error on sunpy.spectrogram after editing file's fits header in astropy.io.fits"
I changed my UTC on axes [1] in original fits file successfully and getting error while running it on sunpy.spectrgram.

[code]

[2016-03-12 21:22] ehsteve commented on #1703
I agree with @ayshih and suggest we implement @Cadair last suggestion.

[2016-03-12 21:23] ehsteve commented on #1702
This is definitely confusing and should be fixed. The documentation should also be updated to provide some guidance on this.

[2016-03-12 21:24] ehsteve commented on #1685
:+1:

[2016-03-14 17:13] wafels commented on #1685
+1

[2016-03-14 18:09] wafels opened #1708 "[unidown] Indexing Fido UnifiedResponse does not return a UnifiedResponse object"
Let's say you make a search request using Fido.search, but you only want to download a portion of the files returned.  The natural way of doing this is to index the UnifiedResponse.  Indexing the UnifiedResponse does not return a UnifiedResponse object.  Since Fido.fetch needs a UnifiedResponse object on input, the indexed UnifiedResponse causes an error.

A solution to this is to create a `__geti

[2016-03-14 19:11] sudk1896 commented on #1708
@wafels: UnifiedResponse object would be a list of QueryResponse objects ordered by their time. Each QueryResponse object corresponds to the fits file for a particular date. To get a single file, you would have to sort the UnifiedResponse (sort a list, assuming it is unsorted), this would have to be done via  creating a custom sort function for the QueryResponse Object (maybe I'm wrong here). If y

[2016-03-14 20:34] wafels commented on #1708
If I wanted to get only the first file in the output, then

data = Fido.fetch(results[0][0])

does not work - it errors out.  This is because Fido.fetch only takes UnifiedResponse objects and results[0][0] is not a UnifiedResponse object.  To get the data (the first file) I would need to make another query asking for that data only.  That might be the ultimate solution - just make better queries t

[2016-03-20 00:18] #1140 closed

[2016-03-21 10:33] dpshelio opened #1712 "Create citation file"
We should add a `CITATION` file in our [repository](http://blog.rtwilson.com/encouraging-citation-of-software-introducing-citation-files/)

[2016-03-21 23:49] drewleonard42 commented on #1712
That file will mostly consist of the information [here](http://sunpy.org/about/#acknowledging) I assume?

[2016-03-23 19:23] theaverageguy commented on #1704
I am on it.
I also would like to express my interest in SOCIS 2016 under sunpy with some bug fixes initially.
Thanks.

[2016-03-23 19:25] theaverageguy commented on #732
@derdon The file location please.
Thanks

[2016-03-24 12:16] theaverageguy commented on #1712
Can I break this into 2 PRs for easy review?

[2016-03-24 12:16] theaverageguy commented on #1702
I am fixing this.

[2016-03-25 13:57] ehsteve commented on #1712
This sounds like a great idea though to limit the number of places that this information resides we should update the website to point to this file.

[2016-03-25 14:18] theaverageguy commented on #1704
This can be closed @ehsteve . I fixed the PR earlier.

[2016-03-25 14:29] ayshih commented on #1704
An issue shouldn't be closed when the PR has not yet been accepted

[2016-03-25 17:05] tdwilkinson commented on #1712
Hello, I am helping with this for GSOC. Would it be best if this CITATION file printed the information that is to be cited as suggested in the blog or just contained the information as text like below?

[CITATION.txt](https://github.com/sunpy/sunpy/files/189779/CITATION.txt)

[2016-03-25 18:02] tdwilkinson commented on #291
Hello, I am attempting this as part of GSOC. The spectrogram class in spectrogram.py has a plot definition. I am wondering if adding logy=False as a keyword to this definition would suffice. Then, this could be added:
	if ylog:
		axes.set_yscale('log')
I am working to test this. Though, I am wondering if this would actually need to be implemented like the linear keyword, that 'stretches' the image

[2016-03-25 18:22] wafels commented on #291
Tessa,

I cobbled together some code to plot 2d images with logarithmic x and y
axes.  It can be found here:

https://github.com/wafels/rednoise/blob/perpixel/py/aia/analysis_3d_fft.py

with the most relevant lines highlighted here:

https://github.com/wafels/rednoise/blob/perpixel/py/aia/analysis_3d_fft.py#L236-L260

Hope this helps,

Jack

On Fri, Mar 25, 2016 at 2:02 PM, Tessa D. Wilkinson <
no

[2016-03-29 21:06] pllim commented on #1622
I have the exact same error after applying the package template to Ginga via ejeschke/ginga#313. Found this on Google and wondering if you ever found out how to get rid of the error. I can't reproduce this error locally.

[2016-03-30 08:27] Cadair commented on #1622
I think this is now fixed in 0.6.3? or @pllim are you getting this in master?

[2016-03-30 09:04] olebole commented on #1622
I am handicapped with my test setup since sunpy does not compile on Debian unstable in the moment -- due to the issues with the numpy betas (#1653), and also not on Debian testing since pandas are not there (due to a number of issues). When it goes back to work, I can check as well.

[2016-03-30 13:22] pllim commented on #1622
@Cadair , I pulled the template off GitHub yesterday, so pretty sure it is master. My suspicion (as I thought about it before I fell asleep; yes, I have no life) is that maybe some of the subpackage directories are missing `tests` folders. I'll see if that is the case today... Will keep you updated.

[2016-03-30 13:33] Cadair commented on #1622
@pllim Did you get the error in SunPy? or did you not try? I think I fixed this I will investigate.

[2016-03-30 13:35] pllim commented on #1622
Sorry for the confusion. I am not using SunPy. I have this same error with Ginga, so I was just wondering if you found a solution to this particular error on your end. I hope this clarifies things up...

[2016-03-30 13:38] Cadair commented on #1622
I think it was this commit that fixed it for us: https://github.com/sunpy/sunpy/commit/b87b121d5dccd8a43c92dbdd54bd13c47f8a8bf0

[2016-03-30 13:38] #1622 closed

[2016-03-30 15:42] pllim commented on #1622
Thanks, @Cadair . Based on your commit, I traced my problem to the package template not being able to handle documentation stored in `doc` instead of `docs`. I'll ask the template people.

[2016-03-30 15:59] Cadair commented on #1622
@pllim we have that as well. You have to change the paths in setup.cfg iirc

[2016-03-30 16:04] pllim commented on #1622
Yeah, I did. And I don't see anything that I missed comparing to your `setup.cfg`. However, SunPy uses its own `SunPyTest` class, which explicitly sets `self.docs_path` to the correct `os.path.abspath('doc')`, and the latest template uses `AstropyTest` from helpers, that defaults to `docs`. I have no idea how to customize the test runner without having to rewrite the helper stuff.

[2016-03-30 16:05] pllim commented on #1622
When I make a `docs` symlink to `doc` and run the tests, I get this:

[code]

[2016-03-30 16:52] Cadair commented on #1622
ah, yeah that would be a astropy/astropy-helpers issue then I guess.

[2016-04-07 21:05] itztli opened #1724 "Helioviewer is not working, homepage is downloaded instead of the requested image."
Few days ago, the helioviewer interface not download the image requested.

[code]
The file downloaded is the homepage from helioviewer!

[2016-04-07 22:05] Cadair commented on #1724
@wafels what did you break?!

I think Helioviewer have done a large update, it will probably take us a while to catch up.

[2016-04-08 12:42] wafels commented on #1724
helioviewer.org now uses version 2 of the API.  Version 1 is still operating, but at a different location.  It should be possible to change the sunpy client to use version 1 of the helioviewer API at the new location.  I'll take a look.

[2016-04-08 17:12] #1724 closed

[2016-04-10 08:02] olebole opened #1726 "0.6.3: Pytest fails while testing if HelioviewerClient is online - even when running tests offline."
When running the CI tests, `sunpy/net/tests/test_helioviewer.py` fails while trying to determine whether the client is online (`client.is_online()`); the web page seems to return an HTML page insted of an JSON object. This can be reproduced with
[code]
This raises the exception
[code]

Also, in the test `client.is_online()` is called even when the `not online` flag is given on the command line.

[2016-04-11 09:16] Cadair commented on #1726
I think this is a duplicate of #1724 the API has moved out from underneath us.

[2016-04-11 09:17] Cadair commented on #1726
Reopening for the mis-marked as offline test.

[2016-04-11 09:18] #1712 closed

[2016-04-11 17:24] nabobalis commented on #211
Is this done now?

[2016-04-12 10:24] #371 closed

[2016-04-12 10:25] Cadair commented on #371
closed by #1728

[2016-04-12 10:25] Cadair commented on #582
closed by #1728, we will support 3.4+

[2016-04-12 10:25] #582 closed

[2016-04-12 10:26] Cadair commented on #823
one presumes this is also closed by #1728.

[2016-04-12 10:27] Cadair commented on #823
apparently not.

[2016-04-12 10:27] Cadair commented on #823
ping @dpshelio @bsipocz

[2016-04-12 10:27] Cadair commented on #823
There must not be tests for this?!

[2016-04-12 10:28] Cadair commented on #976
I assume this is closed by #1728.

[2016-04-12 10:28] #976 closed

[2016-04-12 12:44] bsipocz commented on #823
Hmm, this prompts the issue that the celebration was premature.
Checking the test coverage is not trivial as the coveralls upload is still broken (I wonder whether using the setup from the astropy package template would work out of the box?, most of the stuff is already here).

And this brings me to the second issue, that I was way too much focused on getting the tests run, so now doing a 2to3 and

[2016-04-13 02:17] bsipocz commented on #1726
The 3-liner works for me on both py3.4 and 2.7 on the branch of #1731.

[2016-04-13 02:28] bsipocz commented on #1278
It seems that the number of failing online tests are growing, currently I got 13:

[code]

[2016-04-13 09:02] Cadair commented on #1726
yeah, there is a fix in master and in 0.6 now. The problem is that this should not be running if the tests are in offline mode.

[2016-04-13 19:40] ehsteve commented on #211
Not done but a time has been identified it looks like!

[2016-04-13 19:43] ehsteve commented on #211
![goes_rhessi_20110607](https://cloud.githubusercontent.com/assets/739053/14506980/8302ba20-018e-11e6-8712-31189b399762.png)

[2016-04-13 19:44] ehsteve commented on #211
http://sprg.ssl.berkeley.edu/~tohban/browser/?show=grth1&date=20110607&time=064933

[2016-04-13 20:28] ehsteve commented on #211
http://bit.ly/1oYBT50

[2016-04-13 20:32] ehsteve commented on #211
![2011_06_07_06_24_32_aia_171](https://cloud.githubusercontent.com/assets/739053/14508404/50024cce-0195-11e6-8573-cf70338a2c17.png)

[2016-04-18 16:32] ehsteve commented on #1605
I actually found that was solved by deleting an old pyc file. My bad. Closing this.

[2016-04-18 16:32] #1605 closed

[2016-04-18 16:40] ehsteve commented on #83
I agree that it is related but I think we should hold both of these issues as this is really about test files while the other is about sample data.

[2016-04-23 22:18] ayshih opened #1745 "Should SunPy use memory mapping for access to files?"
By default, Astropy opens FITS files using memory mapping.  That is, the returned `ndarray` objects have `mmap` objects as their ultimate base of storage, and the array contents are only read from the file as needed.  Unfortunately, this means that `close()` doesn't actually release a file because the `mmap` object still keeps the file open (otherwise the `ndarray` breaks, of course).  It's easy e

[2016-04-25 10:03] #1664 closed

[2016-04-25 14:21] ayshih opened #1748 "Uncertainties on constants"
Our `sun.constants.uncertainty()` claims to return "relative" uncertainties, but it seems evident that the Astropy constants we use carry absolute uncertainties.  For example, a relative uncertainty of 5e+25 in the mass of the Sun would be ludicrous.  Do we just need to change our docstring?

Also, it would be nice if our `sun.constants.uncertainty()` actually returned a `Quantity` rather than jus

[2016-04-25 16:32] Cadair commented on #211
ping @Alex-Ian-Hamilton

[2016-04-25 17:00] ehsteve opened #1751 "Rename Map unit parameter"
Maps use NDData which carries a units parameter (with an s) and map currently holds the units of the axis in the unit parameter (no s). We should rename the unit parameter to reduce confusion.

[2016-04-25 17:01] ehsteve opened #1752 "Add more items in the gallery"
The [gallery](http://docs.sunpy.org/en/latest/generated/gallery/index.html) needs expanding, currently we have two sections:
- `gallery` - short (single plot) demos, designed to show one thing and be a quick reference.
- `tutorials` - longer walkthroughs of an analysis or showing how multiple parts of SunPy work together.

This issue is a list of suggestions for additions to the gallery, if you ha

[2016-04-25 17:14] ehsteve opened #1753 "Add support for Map's units parameter"
Since Map uses [NDData](http://docs.astropy.org/en/latest/api/astropy.nddata.NDData.html) they can carry a units parameter which is currently not filled in when a file is opened.

This information could be stored in the file header and could be passed into Map when we load a file.

[2016-04-25 18:39] sudk1896 commented on #1697
@ajamesucl : I want to take a stab at this. Could you give me a use case, specifically, any two fits files for the maps that you're using for this feature (https://github.com/sunpy/sunpy/issues/1697#issuecomment-192216975). This would help me understand and work out the plot more clearly.
Thanks.

[2016-04-26 09:52] ajamesucl commented on #1697
Hi @sudk1896 I've included a Dropbox link to an HMI fits file and an AIA fits file that I'd like to turn into a composite map, as well as some basic code to do this: [https://www.dropbox.com/sh/ws1e2bsr9nu0p9s/AADUIu0dDy7bLjc6OG2s6XsTa?dl=0](url)

My request is that I would like to plot each map in the composite between different limits. For example, I would like to plot the HMI map layer between

[2016-04-26 15:28] sudk1896 commented on #1697
@ajamesucl: No problem. I would get started on this.

[2016-04-27 05:13] larrymanley commented on #1697
Is this close to what you have in mind?  I need to make a few refinements and I'll send you the code.
![figure_2](https://cloud.githubusercontent.com/assets/1042961/14842272/d8ee980e-0c02-11e6-8788-aa40670dab3f.png)
![figure_3](https://cloud.githubusercontent.com/assets/1042961/14842273/d8f1ddfc-0c02-11e6-906a-df7ceb28fc95.png)
This image shows the difference in plate scale (I used your Dropbox fi

[2016-04-27 08:30] ajamesucl commented on #1697
That does look like what I was hoping for! Thanks!

I tried changing the scale of that HMI image from 0.5 arcsec/pixel to 0.6 so it matched AIA, but this actually seemed to throw the alignment of features off.

[2016-04-27 08:47] sudk1896 commented on #1697
@ajamesucl: Do you still want me to work on this ?

[2016-04-27 11:32] dpshelio commented on #1697
The code needs to be implemented, @larrymanley have you changed how map behaves? would you be able to do a Pull Request with the changes?
if not, @sudk1896 could make it for a general case.

[2016-04-27 13:24] larrymanley commented on #1697
A few notes:
I used an inline equivalent of aiaprep for the HMI image:
[code]
The first two images above are still off a little bit because of the padding in rotate (issue #1691).  I've got a fix for aiaprep but I need a full-res (4096x4096) level 1 file for the the test.

I used Numpy clip on both maps rather than using vmin/vmax in the plot settings:
[code]
When I do my AIA movies I pop the 'nor

[2016-04-27 13:28] Cadair commented on #1691
@larrymanley why is `AIA_171_ROLL_IMAGE` not up to the task of being a test image?

[2016-04-27 13:34] dpshelio commented on #1697
Thanks @larrymanley for sharing!! Thanks for the `norm` comment, I agree that it should be optional. Maybe we should add another issue to don't forget about this.

@sudk1896 what I would like to see implemented is within the `map` object, so the user doesn't have to clip the data before plotting, but change the clipping at plotting time. It's not very difficult, it's similar to `set_levels()`.

[2016-04-27 13:35] Cadair commented on #1697
`norm` should  just default to `None`, @larrymanley if you want no norm, then set it to `None` I think that will do what you expect?

[2016-04-27 15:34] larrymanley commented on #1691
@cadair Can you give me some guidance on how to use the roll image in a test?  It's in the sample data, not the test data.  I tried downloading it directly as an online test, but it's a fits.gz file and wouldn't open.  It worked a few weeks ago, and I know astropy will open .gz files.

[2016-04-27 15:49] Cadair commented on #1691
I would do something like the following:

[code]

[2016-04-28 06:13] larrymanley commented on #1697
@ajamesucl Here's an example script.  I'll experiment with vmin/vmax plot_settings tonight.
![comp_map_demo1](https://cloud.githubusercontent.com/assets/1042961/14876841/605146d4-0cd5-11e6-9e1f-1f47701a24bb.png)
[code]

[2016-05-04 02:50] wafels opened #1759 "A problem with draw_grid=True and WCSAxes"
Before installing WCSAxes, the code below produced a map using draw_grid=True with no issues.  After installing WCSAxes, Map gives the following error when using the draw_grid option.  Can anyone else reproduce this?

[code]

[2016-05-04 03:15] larrymanley commented on #1759
I started getting the FITS Exception Attribute error last week on three different up-to-date systems (astropy 1.1.2), Python 2 and 3, with and without WCSAxes installed, AIA and HMI files.  Just tried it with the SWAP sample file - no error. ???

[2016-05-04 03:26] larrymanley commented on #1759
Tried it with astropy 1.1.1 - no error on map creation.

[2016-05-04 13:37] wafels commented on #1759
I can make maps with no error using astropy 1.1.1.

For a map m, when executing

m.peek(draw_grid=True)

I get the InconsistentAxisTypesError with EIT and AIA data, but not with
SWAP.  Perhaps an issue with the FITS header in EIT and AIA?

On Tue, May 3, 2016 at 11:26 PM, Larry Manley <notifications@github.com>
wrote:

[2016-05-04 14:35] ayshih commented on #1759
The AttributeError exception is a known bug with Astropy 1.1.2 when reading Rice-compressed FITS files (https://github.com/astropy/astropy/issues/4690).

[2016-05-09 16:29] wafels commented on #1759
Should have tests for draw_grid=True and draw_limb=True.

[2016-05-10 00:12] thothsartre opened #1763 "convert_data_to_pixel issue"
This line in convert_data_to_pixel:
  pixelx = (x - crval[0]) / cdelt[0] + (crpix[1] - 1)
should be:
  pixelx = (x - crval[0]) / cdelt[0] + (crpix[0] - 1)

I found the problem using 0.6.3, but looking at the source, it persists in 0.6.4.

[2016-05-10 10:12] Cadair commented on #1763
Can you provide a link to the source code please? If you click on the line number on github it will give you a link.

Thanks for the bug report.

[2016-05-10 14:03] wafels commented on #1763
https://github.com/sunpy/sunpy/blob/2052149cdd85e600ac4ec2724eab852e30bb255e/sunpy/wcs/wcs.py#L136

On Tue, May 10, 2016 at 6:12 AM, Stuart Mumford <notifications@github.com>
wrote:

[2016-05-10 14:31] Cadair commented on #1763
yes, that is a bug. What's noteworthy is that we don't use that code in map anymore.

@thothsartre What are you using that implementation of `data_to_pixel` doing that conversion through `Map.data_to_pixel()` is better as it accounts for rotation correctly.

[2016-05-10 17:53] thothsartre commented on #1763
Thanks for the pointer to Map.data_to_pixel(); looks like it'll take a bit more code to set up, but should work well.  I'm extracting portions of data read from FITS files given data coordinates, and convert_data_to_pixel was used to get the corresponding image coordinates.

[2016-05-11 09:39] Cadair commented on #1763
@thothsartre If you want to extract a sub section of an image from a larger image you can use [`Map.submap()`](http://docs.sunpy.org/en/stable/code_ref/map.html#sunpy.map.mapbase.GenericMap.submap) where you can specify the arguments in either data or image coordinates. HTH.

[2016-05-11 17:51] thothsartre commented on #1763
@Cadair  Many thanks!  That's very helpful.

[2016-05-12 10:02] Cadair commented on #1751
The question is @sunpy/sunpy-developers what should we name it to? `world_units` `axes_units` `spatial_units`?

[2016-05-12 10:15] nabobalis commented on #1751
I like `spatial_units`.

[2016-05-12 10:38] Cadair commented on #1751
Yes that's my preference as well.

[2016-05-12 11:37] drewleonard42 commented on #1751
`spatial units` seems reasonable.

[2016-05-12 12:54] wafels commented on #1751
Is  world_units better, for consistency with WCS?

On Thu, May 12, 2016 at 7:37 AM, Drew Leonard <notifications@github.com>
wrote:

[2016-05-12 14:03] ehsteve commented on #1751
Would it be better to drop this keyword completely and only have the WCS object hold this meta data?

[2016-05-12 14:14] Cadair commented on #1751
@ehsteve no, that would break the model, these properties abstract the meta data (currently FITS-WCS metadata) from the `meta` the WCS object is then build from these properties.

[2016-05-12 14:16] Cadair commented on #1751
@wafels `world_units` is maybe more technically correct, but seeing how `Map` is spatial only `spatial_units` makes the possible distinction from `spectral_units` in the future or similar. Of course that could work both ways.

I, however, forsee a future multi-dim object which has `spatial_units`, `spctral_units` and `temporal_units` all extracted from the metadata?

[2016-05-13 12:07] Cadair opened #1771 "Database does not store HDU index"
When constructing entries from a fits file the HDU index is not stored in the record meaning you can not do the reverse mapping from DatabaseEntry -> HDU.

[2016-05-13 12:07] Cadair commented on #1771
ping @derdon

[2016-05-13 21:43] Alex-Ian-Hamilton commented on #1520
At the most recent SunPy dev meeting the consensus was that the Lightcurve Refactor should be done using Pandas but we should add support for AstroPy Units, but we might migrate onto an AstroPy QTable based TimeSeries class in future, when one becomes available.

Part of the rational for this was that there's a limitation of the AstroPy Time class being imutable and without an insert method, there

[2016-05-14 19:08] larrymanley opened #1773 "Deprecation warnings in rescale.py"
[code]

[2016-05-14 20:22] dpshelio opened #1774 "Add tests for memory mapping in sunpy.io"
We forgot to add tests in the #1750

[2016-05-16 13:09] #1726 closed

[2016-05-16 16:40] wafels commented on #1751
spatial_units +1

[2016-05-16 16:40] dpshelio commented on #1751
`spatial_units` :+1:

[2016-05-16 16:42] DanRyanIrish commented on #1751
```spatial_units``` 👍

[2016-05-16 16:53] dpshelio opened #1778 "Update the meta information when using aiaprep"
After running `aiaprep` we should create/update the `HISTORY` tag on the header, so if the file is saved it contains which modification has been done.

I believe this should include not just `aiaprep run` but also the version of SunPy used, and maybe other information that could be helpful to trace the file backwards to its origins.

[2016-05-16 16:56] #1257 closed

[2016-05-17 09:30] #1773 closed

[2016-05-17 09:30] #1751 closed

[2016-05-18 03:14] ehsteve opened #1781 "show_colormaps() should check how much display room is available"
It can generate plots which are larger than my screen so I cannot see all of the colormaps.

[2016-05-18 03:22] larrymanley commented on #1781
Is there a mechanism in matplotlib for that?  Perhaps use a figure with explicit values for size and dpi.  Otherwise, even on a similar screen, the figure could display differently if the user has different defaults specified in .matplotlibrc.  Should also remove the live x,y values at the bottom of the plot window.

[2016-05-18 03:32] larrymanley commented on #1781
The figure size is set as 5,10 on line 183 of cm.py, just add dpi=___.  64 dpi is conservative and the window can be resized.

[2016-05-18 07:39] shubhamgothwal opened #1782 "'module' object has no attribute 'self_test'"

[2016-05-18 07:53] Cadair commented on #1782
can you please provide some information on your setup and the output of `sunpy.system_info()`.

[2016-05-18 08:04] shubhamgothwal commented on #1782
I am running it on Spyder. It's showing following errors :

Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 551, in __bootstrap_inner
    self.run()
  File
"/usr/lib/python2.7/dist-packages/spyderlib/widgets/externalshell/introspection.py",
line 65, in run
    self.send_socket(shell_id, conn)
  File
"/usr/lib/python2.7/dist-packages/spyderlib/widgets/externalshell

[2016-05-18 08:06] shubhamgothwal commented on #1782
Sorry I sent another script problem.

Here's the one I got after checking for the systemi_info():

Traceback (most recent call last):
  File "/home/felici/Desktop/Python Scripts/sunpy.py", line 1, in <module>
    import sunpy
  File "/home/felici/Desktop/Python Scripts/sunpy.py", line 2, in <module>
    sunpy.system_info()
AttributeError: 'module' object has no attribute 'system_info'

On Wed, May

[2016-05-18 08:07] Cadair commented on #1782
It looks like SunPy has not been installed properly, how did you instal SunPy?

[2016-05-18 08:12] shubhamgothwal commented on #1782
I did - pip install sunpy[all]

On Wed, May 18, 2016 at 10:07 AM, Stuart Mumford <notifications@github.com>
wrote:

--
Regards
Shubham Gothwal

[2016-05-18 08:13] Cadair commented on #1782
how did you install python, what platform are you on?

[2016-05-18 08:14] shubhamgothwal commented on #1782
But if I'm running it on Jupyter it's working correctly.

It's giving :

==========================================================
 SunPy Installation Information

==========================================================

###########
 General
###########
Time : Wednesday, 18. May 2016 08:13AM UT
System : Linux
Processor : x86_64
Arch : 64bit
SunPy : 0.6.4
SunPy_git : 30549b4099626f7d349d9a19d34

[2016-05-18 08:18] shubhamgothwal commented on #1782
I am working on Anaconda and python version is 2.7

On Wed, May 18, 2016 at 1:44 PM, Shubham Gothwal <gothwalshubham95@gmail.com

--
Regards
Shubham Gothwal

[2016-05-18 08:33] Cadair commented on #1782
so you are having this problem only from spyder?

[2016-05-18 08:34] shubhamgothwal commented on #1782
For Spyder and IPython both.

On Wed, May 18, 2016 at 2:03 PM, Stuart Mumford <notifications@github.com>
wrote:

--
Regards
Shubham Gothwal

[2016-05-18 08:37] Cadair commented on #1782
maybe it is using the wrong version of Python? i.e. system python rather than anaconda python?

[2016-05-18 08:42] Cadair opened #1783 "Clarify in docs or code how aiaprep handles submaps"
From sunpy/sunpy#1756:

Currently it is assumed that aiaprep does not work on submaps (due to the transformations it performs) but there is no checking for this or mention of it in the docs.

[2016-05-18 08:43] shubhamgothwal commented on #1782
I checked "/home/felici/anaconda2/lib/python2.7/site-packages" this
location. Spyder,Ipython,Jupyter and Sunpy everything is installed in here.

And if so is the case, how to fix the system python problem so that I could
run Sunpy on Anaconda platform?

On Wed, May 18, 2016 at 2:07 PM, Stuart Mumford <notifications@github.com>
wrote:

--
Regards
Shubham Gothwal

[2016-05-18 11:59] Cadair commented on #1782
have you tried installing sunpy through conda?

You can do:

conda install -c sunpy sunpy

[2016-05-18 12:41] shubhamgothwal commented on #1782
Hi Stuart,

Now I have started working with the inbuilt python tool in Ubuntu. I have
started with the sunpy documentation tutorial and it's showing following
error : That Map no attribute named Map.

On Wed, May 18, 2016 at 2:13 PM, Shubham Gothwal <gothwalshubham95@gmail.com

--
Regards
Shubham Gothwal

[2016-05-18 15:14] shubhamgothwal commented on #1782
I am doing

import sunpy
from sunpy.map import Map

my_map = sunpy.Map('/home/felici/Desktop/venus.fits')

but it's still giving the error that "no module named map". It's already
there inside the python2.7 folder inside Sunpy.

On Wed, May 18, 2016 at 6:10 PM, Shubham Gothwal <gothwalshubham95@gmail.com

--
Regards
Shubham Gothwal

[2016-05-18 15:18] wafels commented on #1782
try using

my_map = Map('/home/felici/Desktop/venus.fits')

On Wed, May 18, 2016 at 11:14 AM, shubhamgothwal <notifications@github.com>
wrote:

[2016-05-18 15:27] shubhamgothwal commented on #1782
I did as you said and it is showing the following error. I'm attaching the
sunpy folder too here for you to see if anything's wrong with it.

On Wed, May 18, 2016 at 8:48 PM, wafels <notifications@github.com> wrote:

--
Regards
Shubham Gothwal

[2016-05-18 15:37] wafels commented on #1782
I did not see the error in your email.  Could you send it again please?

On Wed, May 18, 2016 at 11:27 AM, shubhamgothwal <notifications@github.com>
wrote:

[2016-05-18 15:38] shubhamgothwal commented on #1782
Yeah, here it is.I'm attaching the png file. it says "no module named map"
but I installed it already.

On Wed, May 18, 2016 at 9:07 PM, wafels <notifications@github.com> wrote:

--
Regards
Shubham Gothwal

[2016-05-18 16:29] wafels commented on #1782
I don't see the error PNG.

On Wed, May 18, 2016 at 4:38 PM, shubhamgothwal <notifications@github.com>
wrote:

[2016-05-18 16:32] shubhamgothwal commented on #1782
felici@Felici:~/Desktop/PythonScripts$ python sunpy.py
Traceback (most recent call last):
  File "sunpy.py", line 1, in <module>
import sunpy
  File "/home/felici/Desktop/PythonScripts/sunpy.py", line 2, in <module>
    from sunpy.map import Map
ImportError: No module named map

On Wed, May 18, 2016 at 9:59 PM, wafels <notifications@github.com> wrote:

--
Regards
Shubham Gothwal

[2016-05-18 16:33] shubhamgothwal commented on #1782
import sunpy
from sunpy.map import Map

my_map = Map('/home/felici/Desktop/venus.fits')

This is what I'm writing simply.

On Wed, May 18, 2016 at 10:02 PM, Shubham Gothwal <
gothwalshubham95@gmail.com> wrote:

--
Regards
Shubham Gothwal

[2016-05-18 16:39] wafels commented on #1782
I think what is happening is that Python is looking in the script you've
defined - sunpy.py - for the map module.

Instead, try starting up ipython and then

from sunpy.map import Map
m = Map('/home/felici/Desktop/venus.fits')

On Wed, May 18, 2016 at 5:33 PM, shubhamgothwal <notifications@github.com>
wrote:

[2016-05-18 16:44] shubhamgothwal commented on #1782
This means I really need to install Anaconda. I was thinking of using the
inbuilt python and installing only the required libraries using pip.

While I was trying it with Anaconda, it was giving some error. I'll try
installing it again and get back to you if the problem still persists.

Thank you so much.

On Wed, May 18, 2016 at 6:39 PM, wafels <notifications@github.com> wrote:

--
Regards
Shubha

[2016-05-19 08:06] shubhamgothwal commented on #1782
It's not working with python 3.5.

The following specifications were found to be in conflict :-
 sunpy -> python 2.7*

Use "conda info <package>" to see the dependencies for each package.

Do I need lower version of python?

On Wed, May 18, 2016 at 10:14 PM, Shubham Gothwal <
gothwalshubham95@gmail.com> wrote:

--
Regards
Shubham Gothwal

[2016-05-19 09:46] Cadair opened #1788 "Catagories for examples"
It is possible to have different subheadings in the gallery by putting examples in sub folders i.e. `examples/maps` and then having a `README.txt` file in that dir which contains the text for the top of that section.

We should think about what catagories we want to have, does it make sense to divide up by submodule, or does it make more sense to have sections that are broader to reflect the cross

[2016-05-19 10:43] Cadair commented on #1782
currently SunPy is python 2.7 only the upcoming 0.7 release will be the first to support Python 3

[2016-05-19 10:46] shubhamgothwal commented on #1782
I have installed python 2.7 and now it's working fine in Jupyter notebook
but still showing import error in Spyder and IPyhton.

Also in Jupyter when I try to plot something like my_map.peek(), the window
appears but crashes.It goes not responding and displays nothing.

On Thu, May 19, 2016 at 4:13 PM, Stuart Mumford <notifications@github.com>
wrote:

--
Regards
Shubham Gothwal

[2016-05-22 09:53] wafels opened #1792 "HEK properties to return astropy quantities"
Would be nice to have the properties of HEK results be returned as astropy quantities, etc., for the same reasons we use quantities everywhere else.  "Quantifying" the required HEK properties would be a good start.

http://www.lmsal.com/hek/VOEvent_Spec.html

[2016-05-23 17:08] Cadair commented on #1788
Discussion in the dev meeting (23/5) suggested we have two catagories for `examples` which are simple one plot "do a thing" scripts and one for longer form `tutorials` where the user is walked through an analysis or process.

[2016-05-24 08:46] sanskar-modi opened #1800 "ImportError: No module named suds"
When i run `examples.plot_goes_hek_m25.py` it gives me `ImportError: No module named suds
`. May be it should be added in `requirements.txt`

[2016-05-24 09:59] Cadair commented on #1800
it is in the full requirements file: https://github.com/sunpy/sunpy/blob/master/requirements/extra.txt#L13

[2016-05-24 09:59] #1800 closed

[2016-05-24 10:24] astrofrog commented on #1759
This is due to the following situation: https://github.com/astropy/astropy/issues/4973

I'll add a workaround in WCSAxes

[2016-05-24 10:29] nabobalis commented on #1752
I would this would be a good place to keep a list of what people would like to add to the gallery.

[2016-05-24 10:29] Cadair commented on #1752
yes.

[2016-05-24 10:30] astrofrog commented on #1759
This is fixed by https://github.com/astrofrog/wcsaxes/pull/202

![figure_1](https://cloud.githubusercontent.com/assets/314716/15500929/dd6599cc-21a2-11e6-93c1-3063ab9a33b4.png)

[2016-05-24 10:43] Cadair commented on #1759
yay!

[2016-05-24 10:44] nabobalis commented on #1759
Time to close or add a wcsaxes version warning somewhere?

[2016-05-24 10:54] Cadair commented on #1759
@astrofrog said he would do a wcsaxes bug fix release, so I will make that a version requirement before release. I will leave this open as a reminder.

[2016-05-24 11:05] #1702 closed

[2016-05-24 14:04] Cadair commented on #1759
This is an upstream bug, anyone encountering it should upgrade to wcsaxes 0.8 or greater.

[2016-05-24 18:05] #1759 closed

[2016-05-25 12:43] astrofrog opened #1805 "Test failures with the developer version of Numpy"
Numpy has made rules on slice indices more strict in the latest developer version - in particular, float indices are no longer allowed. Currently quite a few tests fail with errors like:

[code]

So it would be good to fix those for compatibility with Numpy 1.12 once it comes out.

Note that you can easily add a build with numpy dev on Travis using ``NUMPY_VERSION=dev`` - you could mark it as an a

[2016-05-26 11:13] sanskar-modi commented on #1805
Can someone help me reproducing it. I want to solve this.

[2016-05-26 11:22] Cadair commented on #1805
did you install sunpy using conda?

[2016-05-26 11:45] sanskar-modi commented on #1805
no, i install it from source.

[2016-05-26 12:48] Cadair commented on #1805
sorry, badly worded question, did you install python using conda? or do you have virtual envs?

anyway you can either install numpy from source by doing `pip install git+http://github.com/numpy/numpy` or by cloning it and installing using `pip install -e .` from within the checkout.

[2016-05-26 19:56] sanskar-modi commented on #1805
@Cadair #1808

[2016-06-03 03:04] ayshih commented on #472
Since I've now fallen down this rabbit hole, I'll sum up what I've found:

* `sunpy.physics.differential_rotation` is more accurate than `sunpy.sun.sun`
* `sunpy.physics.differential_rotation` has errors in the RA and declination at the level of arcseconds, comparing against the Python library Skyfield (the successor to PyEphem)
* One source of discrepancies with the JPL Horizons calculator can be

[2016-06-03 19:51] Cadair commented on #472
for solar position there is now http://docs.astropy.org/en/latest/api/astropy.coordinates.get_sun.html

[2016-06-05 18:09] #1788 closed

[2016-06-05 18:11] Cadair commented on #1782
in Jupyter notebook you might want to run something like `%matplotlib` before you make a plot so that it behaves.

If it's working in Jupyter and not Spyder then the only thing I can think can be wrong is that spyder is using the wrong Python interpretor.

[2016-06-07 16:28] sudk1896 opened #1820 "Naming conflict with xml.py in sunpy.util"
I was trying out something with `scraper``in``sunpy.util`` . When I tried running it, I got the following error message.

[code]

A few google searches later I found it is a popular mistake/issue as said [here](http://stackoverflow.com/questions/29273799/importerror-no-module-named-dom). Anybody else ever face this issue, if so what is the workaround ?

I resolved the issue after renaming xml.py t

[2016-06-08 09:15] Cadair commented on #1820
I *think* putting `from __future__ import absolute_import` at the top should fix it.

[2016-06-08 09:16] Cadair commented on #1820
ok xml.py that is.

[2016-06-08 09:34] sudk1896 commented on #1820
I already have that, the issue still arises though.

[2016-06-08 10:48] Cadair commented on #1820
huh, interesting, I will look.

[2016-06-08 12:57] #1763 closed

[2016-06-09 14:25] sudk1896 opened #1826 "Scraper doesn't work on FTP protocol and on certain kinds of regular expressions."
The ```Scraper``` in  ```sunpy.util``` doesn't work on websites using FTP protocol. That happens because, behind the scenes, ```BeautifulSoup``` that scraper uses can only parse http websites. Someone needs to better research this issue. I do not have much knowledge over the differences between how directories are stored in HTTP and FTP protocols.

Also, Scraper doesn't work on certain sort of reg

[2016-06-14 13:49] Cadair opened #1828 "Doing OR on attrs.Level does not work with Fido"
[code]

This should return one result from VSO and one from `EVEClient`

[2016-06-14 18:46] aringlis opened #1832 "List of accepted metadata for custom SunPy Maps"
When creating custom SunPy maps (i.e. from a 2D array), there is no obvious way to see what the accepted metadata keywords are. I have been rooting around in mapbase.py to try and find the expected input.

For user-friendliness, it would be nice to have a full list of the metadata keywords that can be input.

[2016-06-14 23:39] dpshelio commented on #1826
Example of the problem:
[code]

[2016-06-15 08:30] Cadair commented on #1832
I agree, it will change dependant upon the instrument, but for the moment we should at least document the defaults in `GenericMap`

[2016-06-15 17:16] dpshelio commented on #1832
we could have it interactively in the way `iraf` used to work :)

[2016-06-16 09:38] Cadair commented on #1832
I have no idea what that is.

[2016-06-16 12:31] Cadair commented on #1832
what is that?

[2016-06-21 11:02] nabobalis commented on #1259
@Cadair should start on this.

[2016-06-21 11:19] Cadair commented on #1259
It was you I was talking to about the JSOC one right @nabobalis ?

[2016-06-21 11:23] nabobalis commented on #1259
#YesItWas
On 21 Jun 2016 13:19, "Stuart Mumford" <notifications@github.com> wrote:

[2016-06-23 14:38] sanskar-modi commented on #1805
@Cadair i think it should be closed ??

[2016-06-24 09:05] #1805 closed

[2016-06-24 09:05] Cadair commented on #1805
Thanks again @sanskar-modi

[2016-06-28 20:28] mjpauly opened #1845 "Sunpy.time.parse_time Doesn't Work With Leap Seconds"
I encountered this bug when trying to do aiaprep where 'date-obs' (in the original fits file header) had a value that included a leap second. Here's an example fits file: http://jsoc.stanford.edu/SUM51/D337548770/S00000/image_lev1.fits.
`ValueError: 2012-06-30T23:59:60.62 is not a valid time string!`

[2016-06-28 23:09] Cadair commented on #1845
Hi @mjpauly Thanks for the bug.

I will investigate tomorrow.

[2016-06-29 13:08] ayshih commented on #1845
That's because our implementation still depends on `datetime`, which does not handle leap seconds.  We need to switch to `astropy.time`.  See issue #993 (which highlights the same leap second, unsurprisingly).

[2016-06-29 13:31] Cadair commented on #1845
I suspected that was the problem. We should fix that...

[2016-06-29 14:24] wafels commented on #1845
using astropy.time is slated for the 0.8 release...

On Wed, Jun 29, 2016 at 9:31 AM, Stuart Mumford <notifications@github.com>
wrote:

[2016-06-30 05:13] wtbarnes opened #1847 "`peek()` on HMI map reverses axes"
Using the `peek()` method on a `sunpy.map.Map` causes both the x and y axes to be flipped, i.e. +1030 shows up on the left on the x-axis and -1030 shows up on the top on the y-axis. A similarly constructed AIA map does __not__ have this problem.

A minimal working example (from a [solarbextrapolation example](http://docs.sunpy.org/projects/solarbextrapolation/en/latest/auto_examples/plot_potential

[2016-06-30 08:25] Cadair commented on #1847
This is due to the fact that HMI data is rotated ~180 deg from AIA data at level 1. So map represents the data as it is in the file, which is rotated ~180 deg.

[2016-06-30 08:25] #1847 closed

[2016-06-30 13:47] wafels commented on #1826
Maybe we need to use a different approach?  If the code can detect it has to go to an ftp site, then we need to download it via ftp?  Approaches below:

http://stackoverflow.com/questions/11768214/python-download-a-file-over-an-ftp-server

[2016-06-30 16:13] sudk1896 commented on #1826
That is pretty much what I have been doing, Using some 'custom' logic along with ```urllib``` to download them. Usually all files are ordered according to times, we want something as robust as Scraper and want to eliminate the 'custom' logic and try to see if we can code ```Scraper``` in such a manner that it encompasses all cases for FTP (just like it does HTTP websites).

[2016-06-30 16:24] wtbarnes commented on #1847
Oh ok. I see now. Apologies for the unwarranted issue.

[2016-06-30 20:59] Cadair commented on #1847
Not a problem :)

[2016-07-06 17:28] dpshelio opened #1851 "Provide millionths of solar hemisphere units"
a proportion of solar hemisphere is used broadly in sunspots and active regions size measurements. It would be good to include such capability as units within sunpy.

The conversions factors can be found in:
https://www.spaceweatherlive.com/en/help/how-do-you-determine-the-size-of-a-sunspot-region

[2016-07-06 18:34] Cadair commented on #1851
this raises interesting questions about registring units with astropy and imports, might be worth seeing if astropy will have it

[2016-07-10 18:42] dpshelio commented on #1832
@Cadair you don't need to look back to `iraf`, but in short, it opened a text-like editor with the fields to write them in, and then generated the object based on these things. It was kind of ncurses but based on vi.

[2016-07-12 10:03] Cadair opened #1854 "GenericClient dosen't handle `path` kwarg"
Inside `GenericClient.get` the path handling is expecting a `Path` kwarg not a `path` kwarg.

As well as this the `GenericClient.get` method does not handle path formatting like `VSOClient.get` does i.e. `{path}` or `{instrument}` etc.

[2016-07-20 08:52] sudk1896 commented on #1697
@ajamesucl: Can you post the dropbox link again. It has expired. I would like to resume where I left off. Thanks.

[2016-07-20 09:06] dpshelio commented on #1697
@sudk1896 you don't need to use his data for this, you can use the sample data in SunPy, take any two maps, if you want to get closer to his example use the AIA171 and the HMI

[2016-07-27 16:20] Cadair commented on #1783
@drewleonard42 you know how you want to fix this ;)

[2016-07-27 20:24] wtbarnes opened #1855 "Calling `.resample()` on HMI submap reverses sign on x- and y-axis"
I don't know whether this is a bug or I am just not understanding what is going on here.

I understand that HMI data is rotated 180 deg. (relative to say, AIA) (per #1847). When a submap is created, the results are expected, with just the direction of the axes reversed. However, when the same submap is resampled, the x and y axes change signs though the ROI is the same. See example below.

## MWE

[2016-07-27 20:49] Cadair commented on #1855
I think this was raised in IRC on Monday. It smells of bug.

[2016-07-27 20:51] wtbarnes commented on #1855
For what it's worth, if you first resample and then crop, this problem does __not__ occur.

[2016-07-27 20:57] Cadair commented on #1855
ok, so there is something wonky in the resample code.

[2016-07-27 21:04] Cadair commented on #1855
I knew this day would come. It is time to work out what `map.center` does because it's broken: https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L446

According to this: https://github.com/sunpy/sunpy/blob/master/sunpy/wcs/wcs.py#L80 it "returns the centre of the image in data coordinates", so is that not the same as doing `map.pixel_to_data(map.dimensions/2)` ??

[2016-07-27 21:16] wtbarnes commented on #1855
To add to the confusion, this problem does not _seem_ to show up in AIA maps. So maybe this is a result of the reversal of the HMI axes to account for the 180 deg. rotation?

[2016-07-27 21:47] larrymanley commented on #1855
Is submap making an assumption about axis orientation?  See beginning at line 1146 of mapbase.py

[2016-07-28 07:47] gmlaghari commented on #1687
@Cadair How to add color in Sunpy spectrogram map?

[2016-07-30 15:03] dpshelio opened #1858 "find a way to not get astropy-helpers in commits everywhere"
Should we add astropy_helpers to `.gititnore`? that way we will only add it when it's needed and we would avoid this problem once and again, or add `ignore=dirty` on the `.gitmodules`?
- [ignore changes in submodules](http://www.nils-haldenwang.de/frameworks-and-tools/git/how-to-ignore-changes-in-git-submodules)
- [git submodules trips](http://blogs.atlassian.com/2013/03/git-submodules-workflows-t

[2016-07-30 15:19] dpshelio opened #1859 "Use a logger for messages and prints"
The idea would be to remove the prints and change them by log entries, probably using a logging system that astropy has (linked above). We haven't thought much on the implementation, but we could also follow astropy on that.

I think we should use `logging` instead of `print` within the module, so users can choose the amount of information they want to see in their screens.
- [Logging documentatio

[2016-07-30 16:19] Cadair commented on #1859
Do we use print that much? I thought we mostly used warnings?

[2016-07-30 17:22] dpshelio opened #1860 "Use logger for messages"
I think we should use `logging` instead of `print` within the module, so users can choose the amount of information they want to see in their screens.

- [Logging documentation](https://docs.python.org/3.5/library/logging.html)
- [why using logging](http://stackoverflow.com/a/6918596/1087595)
- [stop using `print`](http://inventwithpython.com/blog/2012/04/06/stop-using-print-for-debugging-a-5-minu

[2016-07-30 17:23] #1860 closed

[2016-07-30 17:23] dpshelio commented on #1859
I've seen it here and there, and I was thinking we should write some "rules" in the documentation about it.

[2016-07-31 02:45] wtbarnes commented on #1855
@larrymanley that seems likely since calling `.rotate(angle=180.*u.degree)` on the HMI map before resampling/cropping (in either order) fixes this problem.

[2016-07-31 08:52] dpshelio opened #1861 "tests create figure hashes directory"
when running `py.tests` on single file it creates unneeded tmp directories.

[2016-07-31 11:08] Cadair commented on #1861
slightly off topic, this now supports having remote images to compare: https://github.com/matplotlib/pytest-mpl

[2016-08-02 16:17] bwgref commented on #472
The one thing the astropy version doesn't do (or at least it's not documented well enough for me to find) is provide other things from the ephemeris (like solar north pole angle wrt celestial north) that are useful for conversion to heliocentric coordinates from RA/dec.

Side note: Is it ever useful to have RA/dec that's **not** in a standard (J2000) epoch? This seems like it's returning highly am

[2016-08-02 16:34] Cadair commented on #472
@bwgref yes as far as I am aware there is no solar north functionality in astropy.

On a topic of RA/dec conversion, do you have information on how to do that transformation? and also any knowledge of doing anything like HPC or HG to ICRS conversions by chance?

[2016-08-02 17:21] Cadair commented on #1855
I ran your example above and #1863 seems to fix this.

[2016-08-02 18:14] ehsteve opened #1865 "Mapbase turns on all warnings regardless of user preferences"
The following line should be removed from the function `_validate_meta(self)`

    warnings.simplefilter('always', Warning)

The level of warnings should be user configurable and not superseded by mapbase.

[2016-08-02 19:18] bwgref commented on #472
@Cadair See [the notebook here](https://github.com/NuSTAR/nustar_pysolar/blob/master/convert_to_solar/Convert_To_Solar_Example.ipynb) for the simple way to go from RA/dec (J2000 ) to HPC based on the WCS info in a FITS header. It's a combination of astropy (to get the Sun center as a function of time) and sunpy (to get solar north).

Anything more advanced (i.e. any other solar coordinate systems)

[2016-08-02 21:06] ayshih commented on #472
@bwgref Do the Python and IDL versions of your conversion scripts agree?

[2016-08-02 22:07] bwgref commented on #472
@ayshih Yes. This is effectively a test of whether the combination of the astropy/sunpy ephemeris/north pole matches what I get from JPL Horizons, which I was previously loading in by hand to avoid ambiguities with the SSWIDL get_sun routines. The astropy solar coordinates match Horizons, and the sunpy north pole axis matches what I get from Horizons.

[2016-08-03 10:10] Cadair commented on #1865
I agree, this is also a good time where issue #1860 would be applicable.

[2016-08-03 10:42] Cadair commented on #472
@bwgref Does JPL Horizons or any other source you know of give the position of solar north in ICRS or similar 'fixed' astro frame?

[2016-08-03 12:29] ehsteve commented on #1860
@dpshelio why was this closed?

[2016-08-03 12:55] Cadair commented on #1860
It's a duplicate of #1859

[2016-08-03 14:17] Cadair commented on #1859
for info see this: http://docs.astropy.org/en/stable/logging.html

[2016-08-04 15:55] wtbarnes opened #1870 "Update dimensions metadata when resampling a map"
Currently, after resampling a map, the `naxis1` and `naxis2` entries in the metadata, which hold the dimension of each axis, are not updated. See [the resample method in `sunpy/map/mapbase.py`](https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L821).

This should be just a matter of adding two lines in the update metadata section of the resample method.

See example below

Map from s

[2016-08-05 09:56] Cadair commented on #1870
out of interest, what are you doing with these keys where this matters?

[2016-08-05 21:05] wtbarnes commented on #1870
I was creating a meshgrid from the X and Y ranges of the map and needed the corresponding ranges of each. I ended up just using the `.dimensions` property which is better anyway.

It just seemed strange to me that these weren't updated when the dimensions were changed.

[2016-08-09 14:02] wafels opened #1873 "Port the figure tests to Python 3"
Using Python 3.5 and trying to write a new figure hash table, I got this error.  Googling the TypeError at the end shows that this is a Python 2/3 issue.

http://stackoverflow.com/questions/33054527/python-3-5-typeerror-a-bytes-like-object-is-required-not-str

[code]

[2016-08-17 12:24] Gbear605 commented on #1704
Since Python 3 support has been merged, is there any reason for this issue to not be closed at this time?

[2016-08-17 12:54] Gbear605 commented on #1859
Print is used in https://github.com/sunpy/sunpy/blob/master/sunpy/util/sysinfo.py, https://github.com/sunpy/sunpy/blob/master/sunpy/conftest.py, https://github.com/sunpy/sunpy/blob/master/sunpy/sun/sun.py, https://github.com/sunpy/sunpy/blob/master/sunpy/util/config.py, https://github.com/sunpy/sunpy/blob/master/sunpy/net/jsoc/jsoc.py, https://github.com/sunpy/sunpy/blob/master/sunpy/net/helio/hec

[2016-08-17 13:09] wafels commented on #1704
The installation guide should explicitly say that SunPy is 2.7.x, 3.4 and
3.5 compatible.  I was asked about this issue just yesterday.

On Wed, Aug 17, 2016 at 8:24 AM, Garrison Taylor <notifications@github.com>
wrote:

[2016-08-18 13:47] Gbear605 commented on #1694
This appears to have been fixed by https://github.com/sunpy/sunpy/pull/1857. If so, this should probably be closed. If not, what else remains to be done?

[2016-08-21 13:11] dpshelio commented on #1870
would this affect when writing it into a fits file? if not we should hide `naxisX` so people don't get the habit to check for them, or update them accordingly.

[2016-08-24 09:17] Cadair commented on #1870
@dpshelio I think  astropy.io.fits will overwrite any NAXIS keys with the actual correct values on save.

[2016-08-31 16:28] #1865 closed

[2016-08-31 16:30] wafels opened #1891 "Test coverage for XRT and TRACE"
The map sources for XRT and TRACE need to have tests.

[2016-08-31 16:36] #1163 closed

[2016-08-31 18:11] abit2 commented on #1781
@ehsteve https://github.com/sunpy/sunpy/pull/1895 please review new here

[2016-09-06 09:38] gmlaghari opened #1898 "SunPy to Intensity sensitivity for CallistoSpectrogram"
@Cadair Is it possible in SunPy that it can show only those files where we have radio signature in Callisto fits data and reject the rest files on the basis of intensity sensitive algorithm! As Callisto data for 10 Years is too large to look for each file.

[2016-09-06 13:15] dpshelio commented on #1898
@gmlaghari SunPy, at the moment, doesn't have any automated detection tools. However, you can create a program using any python library that detects what you want and use sunpy for querying and reading the Callisto data. For example, you could use some kind of thresholding (does this file has a value larger than X) for each file. That will be too simple to do what you want, but it's a starting poi

[2016-09-07 05:50] gmlaghari commented on #1898
@dpshelio Thank u so much. One more please, could you tell how to use tstart, tend commands in SunPy to merge files for the particular date in one spectral plot? Eg: I have files present in the path /home/astro/caldata/ how to use this path in tstart, tend and merge them, let's say 10 files in one spectral plot.

[2016-09-07 16:05] dpshelio commented on #1898
@gmlaghari - you could use `read_many` or `join_many` as shown at the end of the [spectra section on the documentation](http://docs.sunpy.org/en/stable/guide/data_types/spectra.html). So, you can load the files you want and visualise them. If you want to use the `tstart` and `tend` from the `from_range` will try to download the data again.

I would suggest you to use the [mailing list](http://grou

[2016-09-07 16:05] #1898 closed

[2016-09-15 10:41] Cadair opened #1900 "Add narrative documentation, API documentation and gallery examples for Fido and net refactor"
We should add a good set of examples to the `unidown` branch both as a way to test sanity of the API and for documentation.

[2016-09-15 17:20] abit2 commented on #1781
https://github.com/sunpy/sunpy/pull/1901
@dpshelio
thanks for helping me :smile:

[2016-09-19 10:15] dpshelio commented on #1898
@gmlaghari please refer to the [documentation](http://docs.sunpy.org/en/stable/guide/data_types/spectra.html#spectrograms) and use the [mailing list](http://groups.google.com/group/sunpy) for questions about how to use sunpy - you are more likely to get a quicker response. Issues (i.e. here) it's mostly aimed to notify problems/bugs/feature requests.

To answer your question, I imagine you could d

[2016-09-21 19:53] ZachWerginz opened #1905 "convert_hcc_hg using wrong longitude definition"
The function convert_hcc_hg() in the wcs module of sunpy references equation 12 in Thompson. In the sunpy docs it says that L0 is "Carrington longitude of central meridian as seen from Earth. Default is 0." whereas in the Thompson it says "B0 and Φ0 are the Stonyhurst heliographic latitude and
longitude of the observer". Considering the fits files I work with use L0 as defined by Carrington rotati

[2016-09-22 09:44] Cadair commented on #1905
Hey @ZachWerginz thanks for opening the issue.

From having a quick look at `convert_hcc_hg` the `L0` argument seem to be an arbitrary longitude offset. For an Earth-based observer this would be equivalent to the `L0` defined in Thompson as the Carrington longitude of central meridian as seen from Earth. If you wanted to calculate the HG Stonyhurst coordinates for a non-Earth based observer this `

[2016-09-22 10:44] ZachWerginz commented on #1905
So if I wanted the HG Stonyhurst coordinates for a earth bases observer does this mean I should not pass the L0 keyword to these functions? This wording seems confusing.

[2016-09-22 11:51] Cadair commented on #1905
yes in that case `L0 = 0` would be the correct call.

[2016-09-22 12:11] ZachWerginz commented on #1905
Ok that makes sense, sorry for the confusion then. I was so caught up in the vocabulary that I though something might have been wrong. Thanks for the clarification!

[2016-09-22 12:11] #1905 closed

[2016-09-22 12:14] Cadair commented on #1905
@ZachWerginz not a problem it's not very clear. Having a quick look over the documentation it's not much clearer in `sunpy.coordinates` either so I will have to improve that.

[2016-09-28 08:50] abit2 commented on #1891
Map creates a empty list when using tri fits files (writing tests for Trace Map)
http://pastebin.com/GctWBNDN

[2016-10-05 17:22] abit2 commented on #1891
should i make a PR but it's failing tests @Cadair

[2016-10-06 21:57] Cadair opened #1909 "Improve sunpy.net.jsoc by using the drms package"
The DRMS package: https://github.com/kbg/drms provides a more complete interface to JSOC export data. It could improve the JSOC client.

@kbg

[2016-10-09 15:16] azakhtyamov opened #1911 "timeout: timed out while querying SDO data"
Hello!

client = VSOClient()
query_response = client.query_legacy(tstart='2013/12/06 00:00:00', tend='2013/12/06 00:05:00', instrument='AIA')

End up with timeout: timed out error.

However,
query_response = client.query_legacy(tstart='2013/12/06 00:00:00', tend='2013/12/06 00:05:00', instrument='EAE')
works just fine.

Any thoughts?

[2016-10-09 16:05] Cadair commented on #1911
I just encountered this, it seems that the HMI/AIA backend (JSOC) for the VSO is having issues. I do not believe this is a SunPy bug. Have you tried the VSO web interface?

[2016-10-09 16:11] azakhtyamov commented on #1911
Yes, VSO web interface is working as it should.

[2016-10-10 19:30] wtbarnes commented on #1911
I've had trouble querying HMI data in the past 24 hours as well, i.e. queries that I know should return several fits files are now returning nothing.

[2016-10-10 22:10] Cadair commented on #1911
yes, likewise, it must be a server side issue but I don't know if we can mitigate it.

[2016-10-10 22:32] jhourcle commented on #1911
This is very likely due to the cutover to HTTPS that NASA forced on us.  (and cut out 3 months of the deadline ... which we found out 3 weeks before the new deadline).

(and it's not like I didn't say something about this -- which the GSA folks deleted all of, so there's no obvious record of it : https://web.archive.org/web/20150420100055/https://github.com/WhiteHouse/https/issues/107 )

I've had

[2016-10-10 22:51] jhourcle commented on #1911
I've rolled the VSO registry entries back to using HTTP.  This is just a temporary fix while we figure out what the real problem is.  NSO (which SunPy uses as their main API endpoint) will update on the hour (in about 10 minutes).

[2016-10-11 08:46] Cadair commented on #1911
This should hopefully be fixed on the VSO side now.

[2016-10-11 09:59] Cadair commented on #1661
This is more complex now as that `sdac` URL is now only served over HTTPS.

[2016-10-11 13:07] ArcturusB opened #1912 "VSOClient.query returns no result in Python 3.5"
When using the canonical example from the documentation on [how to use the VSO client](http://docs.sunpy.org/en/stable/guide/acquiring_data/vso.html) :

[code]

**Python 2.7**: 122 elements are returned as they should:

[code]

**Python 3.5**: no elements are returned:

[code]

Thus, `sunpy.net.VSOClient.query` appears to be broken in python 3.5.

[2016-10-11 13:22] Cadair commented on #1912
I can not reproduce this:

[code]

can you provide the output of `sunpy.system_info()` please?

[2016-10-12 07:33] ArcturusB commented on #1912
Sure:

[code]

[2016-10-12 10:56] abit2 commented on #1645
@Cadair can you please elaborate this would help me understand and make it more clearer.

[2016-10-12 12:22] azakhtyamov commented on #1911
Thanks everyone for help. Now it works fine!

[2016-10-13 10:55] #1855 closed

[2016-10-13 11:33] Cadair commented on #1697
@wafels is this closed by #1906 ?

[2016-10-13 11:33] Cadair commented on #1196
closed by #1902

[2016-10-13 11:35] Cadair commented on #1196
fix for this in #1904

[2016-10-13 12:23] wafels commented on #1697
Yes, #1906 closes this.  This is because there are now get and set methods
for the plot_settings attribute for each map in the composite, and vmin and
vmax can be set through the image normalization method held in
plot_settings.

On Thu, Oct 13, 2016 at 7:33 AM, Stuart Mumford <notifications@github.com>
wrote:

[2016-10-13 12:30] #1697 closed

[2016-10-13 13:37] #1782 closed

[2016-10-13 13:38] #1911 closed

[2016-10-13 13:38] Cadair commented on #1912
I still can't reproduce this, are you still having the problem? does it happen for other / all date ranges?

[2016-10-13 13:40] Cadair commented on #1845
closing as a duplicate of #993. Thanks @mjpauly

[2016-10-13 13:40] #1845 closed

[2016-10-13 13:46] Cadair commented on #1601
This is fixed by defining a complete anaconda environment in https://github.com/sunpy/sunpy-figure-tests/blob/master/conda_env.yml

[2016-10-13 13:46] #1601 closed

[2016-10-13 13:46] Cadair commented on #1278
closed by #1902

[2016-10-13 13:46] #1278 closed

[2016-10-13 13:47] Cadair commented on #1472
This is now working for me, if I delete the figure hashes they are being regenerated when I run `python setup.py test --figure` please reopen if you still have the issue.

[2016-10-13 13:47] #1472 closed

[2016-10-13 13:48] Cadair commented on #1368
closed by #1902

[2016-10-13 13:48] #1368 closed

[2016-10-13 13:51] Cadair opened #1917 "Tests which have hard coded numbers for web services fail often"
There are various tests which expect a fixed number of results to come back from a webservice. This is especially the case in the database module. #1902 bodged this by expecting any change `>1`, a more proper workaround should really be developed.

[2016-10-13 13:52] Cadair opened #1918 "Fix or remove fermi tests"
in #1902 one of the fermi tests was removed, because the numbers appear to have changed. This needs investigating by someone who knows more about the instrument and a proper fix developing.

[2016-10-13 14:32] kkozarev opened #1919 "Map should error nicely if not passed a 2D array"
Hello, I am getting the following errors when attempting to create a map from the attached fits file:

[code]

Any thoughts? The fits file contains radio observations of the Sun by the Murchison Widefield Array telescope in Australia. Thanks!

[1130643840_c076-077_f8-14_t034345_t034444_XX_d002.fits.zip](https://github.com/sunpy/sunpy/files/527362/1130643840_c076-077_f8-14_t034345_t034444_XX_d002.f

[2016-10-13 14:37] Cadair commented on #1919
From a quick look over your traceback the reason is that your FITS file is 4D and Map only officially supports 2D files.

I am still going to classify this as a bug because up to now Map has been able to load multidim files (all be it probably break at somepoint), and at the very least should throw an error somewhat nicer than this.

What is the data in this file? You might want to do something li

[2016-10-13 17:00] Cadair commented on #1626
This is fixed now.

[2016-10-13 17:00] #1626 closed

[2016-10-13 17:16] #1854 closed

[2016-10-14 08:47] kkozarev commented on #1919
Thanks. The data is 4D as you mentioned - X, Y coordinates, frequency, and Stokes parameters. In this case, it is a single frequency and the I Stokes parameter, so it is [1,1,1024,1024] in dimensions. I can easily get rid of the redundant dimensions and make a Map in this way, but I suspect I'd have to modify the header as well.

[2016-10-14 09:53] Cadair commented on #1919
As long as the HPC (X,Y) coordinates are CYTPE1 and CTYPE2 Map will ignore other dimensions in the header data.

[2016-10-14 14:51] aringlis commented on #1918
@Cadair I will try to look at this.

[2016-10-14 14:57] Cadair commented on #1918
thanks!

[2016-10-14 16:28] Cadair commented on #1675
This is fixed.

[2016-10-14 16:28] #1675 closed

[2016-10-14 16:29] Cadair commented on #1531
this is also fixed.

[2016-10-14 16:29] #1531 closed

[2016-10-14 22:36] #1828 closed

[2016-10-14 22:37] #1668 closed

[2016-10-15 13:04] abit2 commented on #1661
https://github.com/sunpy/sunpy/pull/1916

[2016-10-16 20:39] entrepreneurj commented on #1919
Hi, I'm happy to take a look at this! Would the correct treatment be to raise an error if the file has more than two dimensions, or is that too heavy handed if you unofficially support 2+ dimension files?

I've been looking into the code and docs and have figured out why this occurs - as pointed out above __repr__() depends on self.dimensions which depends on the named tuple Pair, which only has t

[2016-10-16 21:30] Cadair commented on #1919
The easiest solution would be to raise an error if it was not 2D, but that would exclude the file of the original report here, in an ideal world a file with dimensions `[1, 1, x, y]` would read.

Maybe the best approach would be to just slice the data array to 2D in the `__init__`, then it would always take the last two dimensions (which if I am not mistaken should correspond to '1' and '2' keys i

[2016-10-17 21:16] entrepreneurj commented on #1919
I haven't rebased my commits yet - but some of my tests seems to be failing because package installations are subject to http errors (e.g. https://travis-ci.org/sunpy/sunpy/jobs/168438348)
Does anyone have any experience with this, am I doing something wrong?

[2016-10-18 11:23] Cadair commented on #1919
No it's an issue with the server that we download the packages to setup the test env from, I have restarted the build, hopefully it will go away this time.

It looks like you do need to do a rebase as the Online test build is failing with what I think are errors that have been fixed in master.

[2016-10-18 14:52] abit2 commented on #1302
@Cadair Can you please explain how the compatibility layer works. I would like to work on this.

[2016-10-18 16:49] Cadair commented on #1302
Basically the issue is that the old NDData API had the ability to set `.data` and `.meta`the new one doesn't.

All instances of assigning to .data and .meta need to be replaced. The basic replace operation would be replacing `data` and `meta` with `_data` and `_meta` however, it would be better if instead of doing the copy operation we created a new Map object with the modified data and meta inste

[2016-10-19 12:58] abit2 commented on #1302
So removing the setters of data and meta should it, right?

[2016-10-19 16:40] ehsteve opened #1927 "Provide ability to read IDL genx files"
Most of the files in SSW are genx files which contain a lot of data which would be useful for SunPy. It may be useful to provide this capability to help migrate from IDL. Discuss below whether this is worthwhile for SunPy to provide this.

[2016-10-19 21:48] entrepreneurj commented on #1919
Hi again. Sorry to be a pain but now I'm having some problems with the Numpy dev test for Python3.5 (https://travis-ci.org/sunpy/sunpy/jobs/169050100). I'm wondering if it has anything to do with this recent pull request into numpy/numpy#8165 that changes the behaviour of np.testing.assert_allclose?

[2016-10-20 11:56] Cadair commented on #1927
@wtbarnes @dpshelio Can you link to the relevant IDL code and other info here please?

[2016-10-20 15:51] wtbarnes commented on #1927
Here's just a few to get started. I haven't had much luck finding good examples about how to actually read an xdr file (though see last bullet point) though it seems that once you know the structure of the file, it should be relatively easy (though perhaps a bit tedious).

* [SSW directory with relevant read/write functions](https://darts.isas.jaxa.jp/pub/ssw/gen/idl/io/)
* [Docs for `xdrlib` in P

[2016-10-25 22:55] abit2 commented on #1155
@Cadair do all the metadata need setters?

[2016-10-26 13:34] MSKirk opened #1931 "Install Requirements Out of Date"
The "Advanced Installation Instructions" on the SunPy install page still lists Python 2.7 as a strict requirement (http://docs.sunpy.org/en/stable/guide/installation/advanced.html#sunpy-s-requirements) which is no longer true for the 0.7 release.

[2016-10-27 23:48] Cadair commented on #1912
@ArcturusB You still suffering from this?

[2016-10-28 14:49] wafels opened #1935 "Helioviewer JP2 files look terrible using map.peek()"
SunPy maps read the header information and apply stretching assuming that the origin was a FITS file, not a JP2 file.  However  helioviewer JP2 images have already been stretched appropriately for use with helioviewer clients.   SunPy maps made from helioviewer JP2 files would look acceptable using the astropy LinearStretch() function.

[2016-10-28 19:05] Cadair commented on #1935
Is there something in the header which encodes this fact? Something we can check in the meta dict to know if it's been scaled? Once the Map get's the file, it has no idea what file it came from.

[2016-10-28 19:07] Cadair commented on #1919
This seems to have gone away, I guess they changed something back!?

[2016-10-28 19:08] Cadair commented on #1919
https://github.com/numpy/numpy/pull/8184

[2016-10-28 19:50] wafels commented on #1935
Doesn't seem to be anything in the map meta which indicates that the map
came from a helioviewer JP2 file.

However, every Helioviewer JP2 file header contains a <helioviewer> XML
tag.  We could look for that when reading the file in.  The ideal behavior
after this (I think) is that the Helioviewer JP2 file would pass through
the map object transparently except the plot normalization changes to
Li

[2016-10-28 20:05] Cadair commented on #1935
either the JP2 reader or helioviewer will need to add something to meta so we can do this.

[2016-10-28 20:33] wafels commented on #1935
It's going to have to be in the JP2 reader because we're not going to take
the risk to edit all our files... I'll take a look

On Fri, Oct 28, 2016 at 4:05 PM, Stuart Mumford <notifications@github.com>
wrote:

[2016-10-29 15:18] wafels commented on #1935
So I put in a flag to test if the input JPEG2000 file is a Helioviewer
Project JPEG2000 file:

*https://github.com/wafels/sunpy/blob/hvjp2norm/sunpy/io/jp2.py#L69
<https://github.com/wafels/sunpy/blob/hvjp2norm/sunpy/io/jp2.py#L69>*

I'm thinking that the simplest place to change the color normalization is
on a source by source basis.  For example in

*https://github.com/wafels/sunpy/blob/hvjp2nor

[2016-10-29 20:32] Cadair commented on #1935
The change to io makes sense. I am not so sure about the norm thing. I don't like the repetition of changing every source to be the same "if helioviewer then" thing, I feel as though we should be able to do that in `GenericMap`. However, with the way the `plot_settings` dict is implemented there is no real way of doing that.

[2016-10-30 15:37] wafels commented on #1935
I agree - I don't like the "if helioviewer then"... idea.  But as an
example I implemented it here

*https://github.com/wafels/sunpy/tree/hvjp2norm/sunpy/map/sources
<https://github.com/wafels/sunpy/tree/hvjp2norm/sunpy/map/sources>*

and in the EUVI STEREO source map.  As an argument in support of this
approach, you could say that the concept of source has been extended from
"instrument that made

[2016-10-30 17:20] abit2 opened #1937 "Map gives a empty list when used with a fits file of trace instrument"
Downloaded the trace files with query, qr = client.query(vso.attrs.Time('2001/1/1', '2001/1/2'), vso.attrs.Instrument('trace'))
when used Map to create a object it return a empty list.
http://pastebin.com/nUqQ9Zr6

[2016-11-01 21:09] abit2 commented on #1937
@Cadair any idea why this is happening?

[2016-11-03 09:18] ArcturusB commented on #1912
Sorry for the late answer. Yes, I'm still experiencing this issue, even after upgrading (see new `sunpy.system_info()` below).

The issue happens with any date I choose, and with instrument EIT or AIA.

[code]

[2016-11-03 19:17] #1927 closed

[2016-11-04 16:35] Cadair commented on #1927
Wow 15 day turn around on a major feature request. Good work @dpshelio :D

[2016-11-04 17:05] Cadair opened #1939 "Handling Remote Data Requirements"
This is an issue we have been kicking down the road for a while, but #1897 is pushing us to fix it.

Some functions in SunPy are going to need datafiles to work, be this instrument calibration type data like for AIA response functions or other remote data requirements, like for tutorials (see #1809) and no doubt other use cases I can't think of.

The requirements of this to my mind are:

1. Data i

[2016-11-05 11:43] abit2 commented on #953
@Cadair @larrymanley Can you give the steps to generate this figure

[2016-11-07 17:40] #1619 closed

[2016-11-10 12:20] olebole opened #1941 "test_data_range fails in 0.7.4"
The `test_data_range` test in the released package 0.7.4 fails (on x86_64):
[code]
When looking into the test, comparing by `==` seems a bit dangerous because of rounding errors.

[2016-11-10 12:23] Cadair commented on #1941
huh, how did that get through all our test runs :s

[2016-11-10 12:30] Cadair commented on #1941
@olebole can you test that ^^ commit?

[2016-11-10 13:03] olebole commented on #1941
Yep, that fixes it.

[2016-11-18 11:20] #1937 closed

[2016-11-18 14:30] abit2 commented on #1771
@Cadair Can you tell me about HDU index.

[2016-11-19 07:27] abit2 commented on #1891
@Cadair as we discussed in chat that it needs some test data for trace instrument can you please add some.

[2016-12-05 10:31] #1302 closed

[2016-12-05 10:43] #1708 closed

[2016-12-13 01:31] mjpauly opened #1950 "UnicodeDecodeError With Querying sunpy.net.hek.HEKClient() on Particular Dates"
I'm trying to query HEK using sunpy.net.hek.HEKClient(), but I'm getting a UnicodeDecodeError when I try to query some dates. Example query with traceback:

[code]

It only seems to occur on certain dates, but it does that consistently with the dates it does fail on. I can provide a list of some of the dates that it fails on if it would be helpful. I am using Sunpy 0.7.3.

[2016-12-13 22:58] wtbarnes commented on #1745
I just came across this issue again. It looks like @Cadair allowed for the `memmap` kwarg to be passed through to the FITS headers in #1750, but using it,

[code]
raises the following error,

[code]

[2016-12-14 06:52] ayshih commented on #1745
I guess that's what we get for not actually having tests for #1750 (see #1774)...

[2016-12-20 12:09] #1931 closed

[2016-12-21 22:54] Cadair opened #1954 "Transient test failure in scraper code"
This seems to happen in Travis builds from time to time.

[code]

[2016-12-22 14:36] Cadair commented on #1954
Also these two online tests suddenly broke:
[code]

[2016-12-22 14:36] Cadair commented on #1954
I have xfailed all of these at the moment to get the CI back.

[2017-01-03 17:33] #917 closed

[2017-01-09 08:53] dpshelio commented on #1954
I'll try to look into it soon...

[2017-01-09 19:58] drzowie opened #1959 "sunpy fails documented self-test procedure"
Here "http://docs.sunpy.org/en/stable/guide/installation/advanced.html#testing-sunpy" is the instruction to self-test Sunpy with the command "sunpy.self_test(online=False)".  Doing so yields the error message

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python2.7/site-packages/sunpy/tests/__init__.py", line 78, in main
        raise V

[2017-01-09 19:59] drzowie commented on #1959
(works for "online=False" also)

[2017-01-09 20:15] ayshih opened #1960 "RTD docs missing links to generated indices"
As far as I can tell, the SunPy docs on Read the Docs are missing the usual Sphinx links to generated indices ("Index" and "Modules") that can usually found in page headers (for example, see [Astropy's documentation](http://docs.astropy.org/en/stable/index.html)).  The indices are in fact being generated, just apparently not being linked to:

http://docs.sunpy.org/en/latest/genindex.html
http://do

[2017-01-09 21:00] Cadair commented on #1959
Hello!

What version of SunPy do you have installed?

[2017-01-09 21:14] Cadair commented on #1959
Looking through the history you are at at least two versions out of date ;)

[2017-01-09 21:32] wafels commented on #1959
I tried this on a mac, using Anaconda Python 3.5.2 with SunPy versions
0.7.5 and master and was not able to reproduce the error.

On Mon, Jan 9, 2017 at 4:14 PM, Stuart Mumford <notifications@github.com>
wrote:

[2017-01-10 17:15] nadgeri14 commented on #1753
I would like to work on this problem. Could I get some details on how to proceed forward ?

[2017-01-10 21:53] ayshih commented on #1873
For posterity, this bug turned out to be really easy to fix.  For some reason, I opened the output file as binary when using  `json.dump`, which always writes strings.  This is a problem in Python 3.5 because you're no longer allowed to write strings to binary files, so the output file just needs to be opened as text (as should have always been the case).

[2017-01-10 22:03] ehsteve opened #1962 "Remove redundant gallery examples"
The [gallery](http://docs.sunpy.org/en/latest/generated/gallery/index.html) has two examples in duplicate. Namely
- GOES Flare and HEK Plot Example
- Overplotting HEK feature/event polygons on SunPy maps

This may have been caused by a poor merge conflict resolution.

[2017-01-10 22:18] ayshih commented on #1447
Closing this old issue

[2017-01-10 22:18] #1447 closed

[2017-01-10 22:51] ayshih commented on #1820
Even when using `absolute_import` on Python 2.7, the choice of working directory can cause quirks, and I suspect this error was encountered when running code while in `sunpy/util/`.  You can reproduce this Python 2.7 behavior by calling `import sunpy.util.xml` when in `sunpy/util/` versus when in a different directory.

Of course, we could rename `xml.py` to avoid the name collision altogether, bu

[2017-01-11 09:34] #1820 closed

[2017-01-12 11:12] Cadair opened #1963 "RTD is currently not building on master"
The build is failing for an unexplained reason.

There are a few other things that should be improved:

* The build is generating 47 warnings
* It's using sphinx 1.3.5
* #1960

[2017-01-12 11:14] Cadair commented on #1912
I unknowingly managed to reproduce this yesterday. I will investigate.

[2017-01-12 11:28] Cadair commented on #1912
@ArcturusB How did you install SunPy? Am I interpreting you system_info output correctly in that you are running Arch Linux?

I managed to replicate this on system python on arch.

[2017-01-12 11:31] Cadair commented on #1912
@ArcturusB if you are on Arch do you get this:
[code]
?

[2017-01-12 11:44] nabobalis commented on #1912
ITS FINE WE CAN FIX THIS. JUST WAIT FOR PACKAGE AUR UPDATE COMING SOON #ARCH #LINUX #SNOWEDIN #MAGA

[2017-01-12 11:45] Cadair commented on #1912
So further investigation (real time thread updating here) leads me to conclude the issue is in that under arch we used the already packaged https://github.com/cackharot/suds-py3 library while when installing from pip or conda we have been using https://bitbucket.org/jurko/suds.

I uninstalled `python-suds` from the AUR and installed `suds-jurko` from pip to verify this. As my eccentric friend @nab

[2017-01-12 11:45] #1912 closed

[2017-01-12 11:48] Cadair opened #1964 "suds-py3 does not work with VSO whereas suds-jurko does"
There are (at least) two Python 3 compatible forks of the suds Python library:

* https://bitbucket.org/jurko/suds
* https://github.com/cackharot/suds-py3

The `suds-jurko` fork works with VSO and `suds-py3` does not. We need to make it clear in the documentation that we depend on `suds-jurko` we should also work on debugging why `suds-py3` does not work.

#1912 is the original bug report for `sud

[2017-01-12 13:15] nabobalis commented on #1912
Having spoken to the relevant parties and many who were not relevant to anything. The AUR packages have been updated, so this issue should now be fixed. You might have to run pacman -Rdd python-suds before the update since the two suds will conflict and pacman will break due to dependencies.

I re-ran the test code at the top and it worked out issues.

[2017-01-12 13:17] nabobalis commented on #1964
I would agree with debugging why suds-py3 does not work. Since Jurko's fork has not seen an update for about 4 months now. Long term, moving might be necessary.

[2017-01-12 13:18] Cadair commented on #1912
You shouldn't have to `-Rdd` as you put conflicts here: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-suds-jurko#n12 it should prompt you to swap them out.

[2017-01-12 13:19] nabobalis commented on #1912
Yes, but the conflict is on the sunpy dependency.  Since to remove suds conflicts as the old version of sunpy has it as a hard dependency.

[2017-01-12 13:57] ArcturusB commented on #1912
Hello, I’ve updated the dependency from `python-suds` to `python-suds-jurko` in AUR package [`python-sunpy-git`][1], which fixed the issue.

It is sufficient to reinstall `python-sunpy-git`. Since `python-suds` conflicts with `python-suds-jurko`, the user is prompted to swap these two versions.

[1]: https://aur.archlinux.org/packages/python-sunpy-git/

[2017-01-12 14:19] Cadair commented on #1912
Thanks @ArcturusB, for both the report and updating the AUR package :)

[2017-01-12 14:20] ArcturusB commented on #1912
Thanks to you for the the diagnostic! ;)

[2017-01-13 19:10] abit2 commented on #1792
@Cadair @wafels I would like to work on it
Can you please elaborate on this

[2017-01-13 20:19] wafels commented on #1792
Ankit,

All events stored by the HEK have a number of required properties.  These
are indicated by the red "req" table entry in the table on this web page:

http://www.lmsal.com/hek/VOEvent_Spec.html
At the moment, sunpy's hek module returns almost everything as a string,
even although the entries are not intended to be strings.  Results from the
HEK would be easier to use if they were parsed and

[2017-01-15 17:17] abit2 commented on #1792
@wafels
From what I could understand i was thinking of adding more getter functions in https://github.com/sunpy/sunpy/blob/master/sunpy/net/hek/hek.py#L103 should I go ahead with it

[2017-01-16 09:01] abit2 commented on #1792
@wafels can you explain a bit more on making a HEK subclass

[2017-01-16 19:28] wtbarnes opened #1968 "plot_settings kwarg in GenericMap gets passed to NDData"
[GenericMap allows for passing kwargs like `plot_settings` so that, e.g. the default colormap can be changed.](https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L161) It looks like only the `**kwargs` (which presumably NDData should be fine with?) should be passed to NDData, but plot settings is getting passed into the NDData constructor as well and this throws an unexpected keyword

[2017-01-16 19:39] Cadair commented on #1968
This is the same error as what is causing memmap to fail. We need to only pass explicit kwargs to the NNData.__init__ method. I think someone was asking about fixing this in IRC recently.

[2017-01-16 19:41] Cadair commented on #1968
To add a little direction for anyone who wants to pick this up:

This line: https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L163 needs to have `**kwargs` removed, and instead all supported keyword arguments to `astropy.nddata.NDData` need to be extracted from the `kwargs` dict and passed into the `__init__` call explicitly. (It's probably best to use `dict.get` to do that while giv

[2017-01-17 22:52] #1861 closed

[2017-01-17 22:52] #1873 closed

[2017-01-18 06:22] abit2 commented on #1792
@wafels
i'm doing something like this http://pastebin.com/PVMjSdpL

[2017-01-18 15:32] wafels commented on #1792
@ankit - thinking about it a bit more, I think making an HEK subclass of a
more general event class is not what this feature request is about.  That
is somewhat more difficult task.  Also, given that the HEK and HELIO
feature/event catalogs store information in different ways, there is likely
always going to be the need to be able to understand how a given
feature/event property is represented by

[2017-01-18 17:39] dpshelio opened #1970 "Helper function to open fits file based on filename and HDU"
After #1952 is merged, the user will still have to open the file and then extract the particular desired HDU.

A helper function that would return the data and the header of that particular HDU would be useful.

[2017-01-18 17:58] Cadair commented on #1970
More specifically each database [entry](https://github.com/sunpy/sunpy/blob/master/sunpy/database/tables.py#L184) corresponds to a `data, meta` pair as long as the entry has a valid `path` attribute.

A helper method on the `DatabaseEntry` class to parse the `path` and `hdu_index` from the entry to `sunpy.io.read_file` and return the `data, meta` pair would make it easier to read the files from a

[2017-01-19 16:23] saurvs commented on #1968
I'm not sure this is an bug with the current version of Sunpy (I wasn't able to reproduce it with the most recent checkout of the repo).

In the traceback given above, `GenericMap.__init__` has the signature `(self, data, header, **kwargs)`, whereas https://github.com/sunpy/sunpy/commit/06baddcb2a21d29ccbb289826686cbccf2ce69d8 explicitly added the `plot_settings=plot_settings` argument to it. So a

[2017-01-19 16:42] Cadair commented on #1968
@saurvs interesting. Even if it isn't fixing this bug, my proposed solution was also designed to fix this: https://github.com/sunpy/sunpy/issues/1745#issuecomment-266889218

[2017-01-19 16:52] wtbarnes commented on #1968
@saurvs Yes I think you're correct. The traceback comes from 0.7.3. I didn't notice the lack of `plot_settings` in the `GenericMap` signature above.

Either way, since 0.7.3 is the latest stable release, this bug fix should still be backported. The separate `plot_settings` kwarg could be abandoned altogether (unless people have a preference for it in the docstring of `GenericMap`) in favor of just

[2017-01-19 17:01] Cadair commented on #1968
@wtbarnes plot settings being an argument to `GenericMap` is a post 0.7 feature(?), I don't think it is supported at all.

We should keep keyword arguments explicit where possible, noting that for `GenericMap` we want it to have `**kwargs` and silently ignore extra args to make things easier in the factory class.

[2017-01-19 17:21] wtbarnes commented on #1968
@Cadair ah ok fair enough. I think my main confusion was looking at the current master branch and not realizing that the `plot_settings` kwarg was implemented after 0.7.3. I think this issue can be closed then.

[2017-01-19 17:21] #1968 closed

[2017-01-19 17:22] Cadair commented on #1968
We should open one for the memmap issue. Or re-title the other one I linked. Will do later.

[2017-01-20 10:19] abit2 commented on #1792
@wafels sounds good

[2017-01-20 19:35] wafels commented on #1792
Ankit,

I translated the table on *http://www.lmsal.com/hek/VOEvent_Spec.html
<http://www.lmsal.com/hek/VOEvent_Spec.html>* to an Excel spreadsheet.

*https://www.dropbox.com/s/ouckf26snkub8xr/hek-better.xlsx?dl=0
<https://www.dropbox.com/s/ouckf26snkub8xr/hek-better.xlsx?dl=0>*

It can be read in to a pandas dataframe quite easily

*import pandas as pd*
*df = pd.read_excel(file_path, index_col=0)

[2017-01-25 17:24] Cadair opened #1972 "Write a helper function to display available test data"
SunPy provides a set of data for testing in `sunpy/data/test`. It would be useful for developers if there was a function which listed all the available filenames.The full path of the directory will need to be obtained in a way that works correctly when SunPy is installed.

[2017-01-25 17:24] Cadair commented on #1972
from #1945

[2017-01-26 11:58] #1941 closed

[2017-01-26 12:19] Cadair opened #1973 "Online Build is Failing due to a RHESSI VSO Search"
This query is no longer returning results:

[code]

[2017-01-26 13:11] jhourcle commented on #1973
The problem is on the VSO side of things.  The RHESSI folks started redirecting HTTP to HTTPS, and our attempts to retrieve their catalog files are failing.  Here's what I get when I try connecting w/ debugging, using the same libraries that the failing code uses:

bash-3.2$ perl5.12 /tmp/test.pl 'https://hesperia.gsfc.nasa.gov/hessidata/dbase/hsi_filedb_201106.txt'
DEBUG: .../IO/Socket/SSL.pm:252

[2017-01-26 13:17] jhourcle commented on #1973
doh.  Looks like the module got installed w/ the OS supplied openssl

[2017-01-26 13:32] Cadair commented on #1973
ahhh openssl.

[2017-01-27 20:11] jhourcle commented on #1973
I gave up on trying to get the HTTPS stuff happy (had to try to match compilers w/ the version of perl that we were using ... with no luck, as we didn't build it here).  So I found where they had it available via FTP.

[2017-01-27 22:49] #1973 closed

[2017-01-27 22:50] Cadair commented on #1973
Thanks!

[2017-01-30 16:50] wafels opened #1979 "Solar Object Locator capability"
This [paper](http://download.springer.com/static/pdf/402/art%253A10.1007%252Fs11207-010-9553-0.pdf?originUrl=http%3A%2F%2Flink.springer.com%2Farticle%2F10.1007%2Fs11207-010-9553-0&token2=exp=1485795630~acl=%2Fstatic%2Fpdf%2F402%2Fart%25253A10.1007%25252Fs11207-010-9553-0.pdf%3ForiginUrl%3Dhttp%253A%252F%252Flink.springer.com%252Farticle%252F10.1007%252Fs11207-010-9553-0*~hmac=72b77b74b7505c5ce2961

[2017-01-30 17:04] Cadair commented on #1979
This looks like it is entirely coordinate related (as a coordinate has a timestamp). Interesting that they chose Carrington Longitude rather that Stonyhurst.

This actually is a wider issue that just this SOL format, @PritishC and myself never got around to implementing string output and input support in `SkyCoord` during the initial implementation phase. It's something that we should look into.

[2017-01-31 13:17] abit2 commented on #1970
@Cadair i would like to work on this

[2017-01-31 16:45] #1781 closed

[2017-01-31 16:54] prateekiiest commented on #1781
Pls review #1980

[2017-01-31 18:31] saurvs commented on #1972
@Cadair I'd like to work on this.

[2017-02-02 05:03] prateekiiest commented on #1870
what is needed to be changed here, in the code??

[2017-02-02 05:08] prateekiiest commented on #1870
you mean to say that the dimension ranges for x axis (900 to -900) be changed also similarly for the y axis?
![sphx_glr_map_resampling_and_superpixels_002](https://cloud.githubusercontent.com/assets/16035442/22537817/adb63a20-e933-11e6-9fdc-170b63620be6.png)

[2017-02-02 07:42] wtbarnes commented on #1870
Not the ranges but the dimensions of the map (i.e. the number of pixels in the x/y direction) listed in the metadata. See example below

Map from sample data. Note that the metadata gives the x and y dimensions as 1024 and that it gives the same output as the `dimensions` property.
[code]

Now resample the map to 100-by-100 pixels
[code]

So after resampling, the metadata remains unchanged though

[2017-02-02 10:17] Cadair commented on #1870
is it worth just removing the 'naxis' keywords from the metadata completely?

[2017-02-02 17:50] wtbarnes commented on #1870
Well 'naxis1' and 'naxis2' are used in the [`reference_pixel` property](https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L568). It is probably easiest to just add two lines in the `resample` method to update them.

[2017-02-03 14:36] #812 closed

[2017-02-03 14:37] Cadair commented on #1056
I think this is addressed by #1975 ?

[2017-02-04 20:32] #1963 closed

[2017-02-06 17:31] Cadair commented on #1979
I went on a fishing expedition in astropy. It seems that things would need a bit of a re-factor in `SkyCoord` to allow us to register a frame specific output format. (https://github.com/astropy/astropy/blob/master/astropy/coordinates/sky_coordinate.py#L573)

I think the `SkyCoord.to_string` method should first check for a `self.frame.to_string` method and delegate to that. However, some of the log

[2017-02-07 15:35] m-charlton opened #1988 "Unable to initialize BasicRegistrationFactory with external empty dictionary"
Not sure if this is a bug or a subtle implementation detail.

Found this while writing unit tests for `sunpy.util.datatype_factory_base.BasicRegistrationFactory`.

The constructor of `BasicRegistrationFactory` allows us to pass an external
dictionary to be used as a registry.

In `sunpy/util/datatype_factory_base.py`:

[code]

If you pass an empty dictionary:

[code]

Then line `47` in `BasicRegis

[2017-02-07 15:36] Cadair commented on #1988
yeah that's a bug. Nice catch.

[2017-02-08 13:20] m-charlton opened #1991 "Validity of 'override' kwarg of MultiMethod.add(...) method ignored when adding first function"
This is not a big problem, might want to clear up though. If this is the
case then I can submit a fix along with some updated unit tests.

#### Description

When I add a function to a `MultiMethod` instance, with *no* entries, and an invalid
value for the `override` keyword argument then the invalidity of this argument is
ignored and the function is successfully registered.

Adding a second functi

[2017-02-08 14:03] Cadair commented on #1991
ping @segfaulthunter

[2017-02-08 17:48] dpshelio commented on #1056
Yes! it does!! Thanks @Cadair

[2017-02-08 17:57] bsipocz opened #1993 "Optimizing travis CI"
Looking at the travis runs they seem to run for an awful long time (+2hours), and I think there must be some ways to optimize it a bit more.

E.g. why are the egg_info tests install numpy? those tests should take only ~1min rather than 3+

Also one could imagine cutting back on the number of builds here and there without really loosing any coverage.

I can come up with a PR if you like the idea.

[2017-02-08 18:00] Cadair commented on #1993
@bsipocz I think the `egg_info` builds install numpy because to run `egg_info` for sunpy you need astropy. If that isn't supposed to be the case we should fix it.

I would be happy to see any suggestions for reduction in build time, thanks.

[2017-02-08 18:03] bsipocz commented on #1993
As far as I understand the process, we don't need astropy for any of the affiliates during building the egg, in fact there shouldn't be any dependencies for that process. I'll check whether I can make that work.

[2017-02-08 18:42] bsipocz commented on #1993
How frequently do you fail on with numpy dev? How do you feel about removing that from the allowed failures and combining with the astropy dev build?

[2017-02-09 11:11] m-charlton commented on #1991
Pinged florian.mayer@bitsrc.org

[2017-02-09 11:18] segfaulthunter commented on #1991
Looks like a small bug to me, yes.

On 9 Feb 2017 11:12 am, "Michael Charlton" <notifications@github.com> wrote:

[2017-02-09 11:29] Cadair commented on #1991
please send the patch @m-charlton another good spot. It's almost like we have tests for a reason XD

[2017-02-09 11:59] m-charlton commented on #1991
No worries. Should have the patch and updated tests ready for today or tomorrow,
at the very latest.

As an aside looking at some of the unit tests, I think that it may be a good
idea to start mocking some of them. This would involve installing [mock](https://pypi.python.org/pypi/mock),
for python < 3.3 and [pytest-mock](https://pypi.python.org/pypi/pytest-mock)

I'd be interested in yours and the