[2018-04-11 16:31] DanRyanIrish commented on #2581
*Decision from weekly meeting* (11 April 2018): Let's go with pixel edge API.
*Still to determine*: whether pixel labelling convention in ```WCSAxes``` is center or lower edge convention.

[2018-04-11 16:37] DanRyanIrish commented on #2581
As part of this refactor, Issue #2567

[2018-04-12 08:27] #2575 closed

[2018-04-12 08:27] #2579 closed

[2018-04-12 08:29] Cadair commented on #2472
@olebole your initial issue here is now fixed, as we have marked all the SunPy sample data doctests as remote_data.

We should keep this issue open to let them have a separate mark.

[2018-04-12 13:27] #2433 closed

[2018-04-12 13:42] Cadair commented on #2583
it is, here: https://github.com/sunpy/sunpy/issues/2584

[2018-04-12 13:42] #2583 closed

[2018-04-12 15:26] samaloney opened #2585 "Installation of sunpy via pip with all dependencies fails"
python3.6, pip9.03

    pip install sunpy[all]
    ...
    Collecting dateutil; extra == "all" (from sunpy[all])
    Could not find a version that satisfies the requirement dateutil; extra == "all" (from sunpy[all]) (from versions: )
    No matching distribution found for dateutil; extra == "all" (from sunpy[all])

Looks like all other instances of `dateutil` have been updated to `python-dateutil`

[2018-04-12 18:28] mbobra commented on #2584
I'm fine with this, @Cadair. `T_REC` is a prime key for most DRMS series, so it is a good choice. If you're willing to expand this set to 5 keywords, instead of 4, I suggest you add `CAR_ROT`. Most people who use SunPy understand Carrington rotation numbers and some of the HMI synoptic data are indexed by `CAR_ROT`.

[2018-04-13 07:30] #2585 closed

[2018-04-13 11:10] samaloney opened #2588 "User warning when creating and instance of helio hec client"
Get the following warning when creating a instance of the client, code works as expected just ugly warning and possibly worse performance.

    from sunpy.net.helio import hec
    hc = hec.HECClient()
    /Users/shane/.virtualenvs/gen/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.

[2018-04-13 11:34] samaloney commented on #2588
Seem's that even though lxml is used [here](https://github.com/sunpy/sunpy/blob/master/sunpy/util/scraper.py) is not part of the dependencies in either setup.py or in any of the requirement files?

[2018-04-13 11:40] Cadair commented on #2588
Yeah I don't really want to pick up a lxml dep just for this if we can avoid it.

[2018-04-13 12:34] samaloney commented on #2588
So would you think leave as is or change to `BeautifulSoup(endpoint_page, 'html.parser')`?

[2018-04-13 12:42] vn-ki commented on #2588
This
https://github.com/sunpy/sunpy/blob/ae70bda1893f7129605d5dfc3357ba4281f3adbe/sunpy/util/scraper.py#L228
was added in https://github.com/sunpy/sunpy/commit/6675309a5b471991a1b24ccf745d168dd6265682 for fixing #1619. So maybe we do need `lxml`.

[2018-04-16 14:51] #2588 closed

[2018-04-16 16:34] StanczakDominik commented on #2308
Does anything remain to do here after #2497?

[2018-04-16 20:17] wafels opened #2590 "Sample AIA images in the gallery do not show SunPy plotting very well"
The colors selected AIA images in the gallery are badly scaled.  This is probably because the data contain one or two very bright pixels which is throwing the existing scaling off.

Users going to the gallery are seeing badly scaled images, and that's not a good advertisement for SunPy.  Either the images should be changed, the default AIA scaling should be changed, or some clipping of the intensi

[2018-04-17 14:19] #2584 closed

[2018-04-17 14:49] yudhik11 commented on #2308
Any specific? Not Sure.
If you have any more ideas which could be done I can surely give it a try.

[2018-04-17 16:01] wafels opened #2591 "Add a "What's new in 0.9?" page in the docs"
Please send me what you think I should highlight for 0.9.

[2018-04-18 10:58] nabobalis commented on #2348
Does the current stable version look the way it should?

[2018-04-18 11:14] dstansby commented on #2348
I'm going to guess that it's fixed, since there are some methods documented in the current stable version

[2018-04-18 11:34] nabobalis commented on #2348
It isn't fixed. It just seems to work on stable.

[2018-04-18 13:59] wafels commented on #2591
See https://github.com/wafels/sunpy/blob/whatsnewin09/docs/whatsnew/0.9.rst for a start to this.  More edits to come.

[2018-04-18 14:41] Cadair commented on #2591
For clarity:

Python 2 will not be maintained *after* 2019, Guido has said it dies on 2020-01-01 00:00.

[2018-04-20 20:08] wafels opened #2596 "Support for differential derotation in mapcubes"
At the moment, `mapcube_solar_derotate` assumes that the patch of Sun you are are derotating is "small" enough that differential derotation of each map in the mapcube need not be used.  In this case "small" means a small spatial extent and for small durations.  However, this is not always the case.

Therefore either the existing `mapcube_solar_derotate` should be expanded to optionally use differe

[2018-04-22 12:22] olebole opened #2597 "0.9.0rc1: FLOAT_CMP missing (and Python 2 compatibility?)"
I am just testing the RC for Debian, and I stumbled upon the following when testing with Python 2.7:
[code]

AFAIK `FLOAT_CMP` comes from pytest-doctestplus, which is a dependency Astropy >=3, which is available for Python 3 only. So, my question here is: shall I ignore this error on Python 2 or is Python 2 support dropped now? And shouldn't the `install-requires` require at least Astropy >= 3 the

[2018-04-22 12:43] nabobalis commented on #2597
This comes from me adding that flag to the config. I didn't even consider Py2 support, which is a massive oversight on my part.

I did not realise that pytest-doctestplus has a Astropy>3, why would a pytest plugin have that as a dependency?

[2018-04-22 12:43] Cadair commented on #2597
0.9 is our last Python 2 release so it would be good if it were packaged with Python 2, but I leave that up to you.

Having said that, pytest-doctest plus does not have a dependency on astropy, and claims to be installable on Python 2, so I don't think that should be a blocker?

[2018-04-22 12:51] Cadair commented on #2597
For context: https://github.com/astropy/pytest-doctestplus/blob/master/setup.py#L52

[2018-04-22 14:51] olebole commented on #2597
Ah.. my fault. I packaged doctest-plus for Python-3 only, since it was a dependency of astropy 3, which is Py3. Need to extend this to Python 2 now. Do I need doctest-plus only or the other pytest-astropy packages as well?

[2018-04-23 06:41] olebole commented on #2597
When using doctest-plus for Python 2, I get however the following errors:
[code]

[2018-04-23 06:48] nabobalis commented on #2597
Ah the floats are different under py2, could we ignore those if possible?
We can skip over the doc tests?

On Mon, Apr 23, 2018, 08:41 Ole Streicher <notifications@github.com> wrote:

[2018-04-23 13:27] Cadair commented on #2597
Really that's a Python 2 thing?! I thought that was numpy 1.14?

[2018-04-23 13:27] Cadair commented on #2597
@olebole we only use the doctestplus and remotedata packages from pytest-astropy.

[2018-04-23 13:34] olebole commented on #2597
Since the tests run on Python 2 first and stop on error, I actually don't know whether it is Python 2 specific -- will check. However, we are still using numpy 1.13.3.

[2018-04-24 08:37] Cadair commented on #2597
I think this is the problem, I think you will just have to disable the doctests.

[2018-04-24 15:07] #2460 closed

[2018-04-24 15:07] #2591 closed

[2018-04-25 15:14] wafels opened #2600 "Submap differential derotation has incorrect CRVAL1, CRVAL2 calculation"
The differential map derotation updates CRVAL1, CRVAL2 by solar-rotating the existing CRVAL1, CRVAL2 values. The position (CRVAL1, CRVAL2) is the position of the reference pixel in world units.  This position need not be in the FOV of the submap, and so the rotation applied can be incorrect - it has nothing to do with the actual piece of Sun being rotated. A fix for this will be implemented in #25

[2018-04-26 07:51] nabobalis opened #2601 "Database todo list"
This I removed and forgot to open an issue for. Not sure how much of it is still relevant.

Documentation
-------------

Reference
[code]

[2018-04-27 16:01] MSKirk opened #2602 "The name `MapCube` is misleading"
Based on the discussion coming out of the Riot chat room (https://matrix.to/#/!MeRdFpEonLoCwhoHeT:matrix.org/$15248435701356875aoRtJ:matrix.org), the name `MapCube` does not describe the data structure that actually created. MapCube is not a cube, it is an ordered list of maps.

A name change will give us room in the namespace in the future to develop an actual `MapCube` object based on `NDCube.`

[2018-04-27 16:26] DanRyanIrish commented on #2602
Here is the open SEP advocating this exact name change: https://github.com/sunpy/sunpy-SEP/pull/21

It also proposes renaming ```CompositeMap``` to ```MapCollection``` which I'm happy with.

[2018-04-27 18:16] wafels commented on #2602
Note that a `CompositeMap` is ordered. You need an order to get the plotting transparency and layering correct - a z-order.  In general this type of ordering is not a physical ordering, but one that is required for plotting only.  So by the definition in the SEP, the existing `CompositeMap` is a `MapSequence` not a `MapCollection`.  Should `Sequence` imply an ordering based on a physical quantity?

[2018-04-30 09:49] dstansby opened #2605 "Make tseries['colname'] return column data with units?"
Currently, in order to use the units part of `TimeSeries` I think you have to do
[code]

It would be nice if instead a `__getitem__` method could be implemented, so that
[code]
automatically returns the data with units attached. Is this a good idea? Would implementing it be welcomed? If so, it would definitely fall within the scope of the GSOC project I'm running over at HelioPy.

See https://docs

[2018-05-02 14:09] jslavin opened #2609 "useless warnings caused by meta data values in hinode.py"
Hi,

When making plots (maps) of Hinode XRT data I get warnings about two things 1) a deprecation warning regarding setting colormaps and 2) a warning about missing data on heliographic longitude. The first can easily be fixed by replacing
self.plot_settings['cmap'] = cm.get_cmap(name='hinodexrt')
with
self.plot_settings['cmap'] = plt.get_cmap(name='hinodexrt')
with an 'import matplotlib.pyplot as

[2018-05-02 15:04] Cadair opened #2610 "Links are missing from GenericMap.resample docs"
See this URL: http://docs.sunpy.org/en/stable/api/sunpy.map.GenericMap.html#sunpy.map.GenericMap.resample

[2018-05-02 21:27] Punyaslok opened #2612 "edit on github button does not work"
In the api/code reference section, the **edit on github** button points to a broken link.

For example, go to [http://docs.sunpy.org/en/stable/api/sunpy.net.dataretriever.QueryResponseBlock.html#sunpy.net.dataretriever.QueryResponseBlock](http://docs.sunpy.org/en/stable/api/sunpy.net.dataretriever.QueryResponseBlock.html#sunpy.net.dataretriever.QueryResponseBlock) and click on **edit on github**

[2018-05-03 13:37] wafels commented on #2441
Maybe in the SWAPMap module we should detect the fact the file is a stacked file and then take the appropriate action to fix it so it acts like a proper sunpy map.

[2018-05-03 18:11] Cadair opened #2616 "We have introduced internal deprecation warnings"
i.e.
[code]

[2018-05-03 18:13] nabobalis commented on #2616
If only we had some test for it or something.

[2018-05-03 19:56] mbobra opened #2617 "ImageAnimator axis_ranges bug"
The `ImageAnimator` [source code](https://github.com/sunpy/sunpy/blob/master/sunpy/visualization/imageanimator.py) says that the axis_ranges keyword can take one of two forms:

* It can have the same shape as the length of the data array along the dimension of any given axis, or
* It can have the same shape as the input data array.

However, the second form raises an error.

Here are the inputs to

[2018-05-04 19:27] Cadair commented on #2616
Also see this post on the mailing list https://groups.google.com/forum/#!topic/sunpy/kuvLUYRaV9A

[2018-05-06 07:19] dpshelio opened #2620 "Docs still refer to `online` when it should say `remote_data`"
there's a small paragraph that hasn't been updated:

https://github.com/sunpy/sunpy/blob/master/docs/dev_guide/tests.rst#L107

[2018-05-09 10:28] Cadair commented on #2612
This is hopefully fixed, but we will need to wait till 0.9.1 to know for sure.

[2018-05-10 10:37] Cadair opened #2625 "Migrate to using __init_subclass__ instead of Metaclasses"
This would require 1.0 being >=3.6 but I don't think that's a problem. See https://www.python.org/dev/peps/pep-0487/#subclass-registration for more info

[2018-05-10 11:34] samaloney opened #2626 "Error when calling plot method on MapCube"
Calling the plot method on a MapCube leads to an error and subsequently the animation can't be saved to a video a minimal script to reproduce error is below.

Python: 3.6
Matplotlib: 2.2.2
Astropy: 3.0.2
Sunpy: 0.9.0

[code]

[code]

[2018-05-10 11:46] Cadair commented on #2626
@samaloney I am surprised that there *is* a save method `MapCubeAnimator`. I think the misbehaviour of `get_animation` is the more pressing issue here as that's the way I would expect you to have to do this.

[2018-05-10 11:53] samaloney commented on #2626
@Cadair The docs might need to be update too then as I was just following the examples at the bottom here at http://docs.sunpy.org/en/v0.9.0/api/sunpy.map.MapCube.html

[2018-05-10 12:28] Cadair commented on #2626
No wait I am getting confused.

This is a nasty bug, can I have the output of `sunpy.system_info()` please?

[2018-05-10 12:30] Cadair commented on #2626
oh actually don't worry I see the bug. It looks like the call signature of `wcsaxes_compat.default_wcs_grid` has changed and the `updatefig` callback wasn't updated. Should be easy enough to add the extra arguments from the map.

[2018-05-10 12:35] samaloney commented on #2626
Yea so `update` needs to be update to pass `units` and `ctypes` as well as the axes?

[2018-05-10 12:55] Cadair commented on #2626
yeah which should be extractable from the map, which is `ani_data[i]` inside that function iirc. You can have a look at `GenericMap.plot` for how to construct those arguments from the map data.

[2018-05-10 21:43] DanRyanIrish opened #2628 "GOES functions need to be updated to handle XRSTimeSeries class."

[2018-05-11 13:01] Cadair commented on #2605
Seems like a good idea to me. :+1:

[2018-05-11 14:16] dstansby commented on #2605
Great! I plan on getting HelioPy's GSOC student to work on this.

[2018-05-11 14:49] #2626 closed

[2018-05-13 17:14] wafels commented on #2609
So the first issue noted above is being tracked in #2616.

Looking at the other source map files, I think there is a case to be made to fix the value of hgln_obs there in the XRT source file.  We fix different aspects from different instruments in the source files in order to make them usable by Map, notably the SOHO-Sun distance.  I say there is a case to fix the value of hgln_obs for XRT based o

[2018-05-14 08:52] Cadair commented on #2609
@wafels When you say "fix" do you mean inject 0 as the value in the header?

The idea of the warning is that it's informational to inform the user that we are assuming `meta['hgln_obs'] = 0.0` because it's not present in the header. A user who understands that for Hinode this is a sensible assumption is safe to ignore it. If you got this warning while loading in STEREO data you might want to be a

[2018-05-14 11:22] Cadair opened #2630 "Support loading HGS position of observer from HGC coordinates in Map"
It seems that some HMI data products provide CRLN_OBS and CRLT_OBS rather than HGLN / HGLT seeing how these are equivalent we should support them

[2018-05-14 11:36] Cadair opened #2631 "JSOC Client errors with `Protocol("as-is")`"
[code]
[code]

[2018-05-14 12:47] jslavin commented on #2609
To reinforce what Stuart said, there are no plans at this point to add any
data on the heliographic longitude of the spacecraft to the XRT data file
headers. Doing so in a way that adds information would require figuring out
a way to get the spacecraft location.  Even adding a value of 0 to the
header would require changing the headers on the entire database, which
would take a significant amount

[2018-05-14 15:18] wafels commented on #2609
We silently fix (as in add a key-value pair to the meta property) the
distance of the Sun from SOHO silently, so why not do the same with
Hinode?  Or maybe we should raise a warning when we fix something for
SOHO.  All I was suggesting is that we have a precedent for silently making
source-dependent fixes to FITS file meta data as handled by SunPy.  Maybe
silent is bad, and we should always raise

[2018-05-14 15:28] jslavin commented on #2609
Hi Jack,

Since hinode.py is Hinode specific I don't see anything wrong with silently
fixing missing meta data for values that we know will never be there.
Otherwise one is always getting useless warnings, which would tend to lead
to ignoring warnings generally (besides being annoying).  I think fixing
the value of meta['hgln'] in the __init__ method of XRTMap is a good
approach. Is that what you

[2018-05-14 16:24] wtbarnes opened #2632 "Transformation between HGS and HPC fails when using Cartesian representation"
Converting  a coordinate in Heliographic-Stonyhurst coordinates with a Cartesian representation to Helioprojective coordinates fails. E.g.,

[code]
raises
[code]

However, adding an intermediate step to change to a spherical representation fixes this,

[code]

[2018-05-14 18:30] wafels commented on #2609
Yes - setting the value of meta['hgln'] in the __init__ method of XRTMap is
what I mean.    Or we raise warnings when we set the Sun-Earth distance in
EIT and LASCO maps.  Either would be consistent.  At the moment there is no
consistency.

Also, I thought the purpose of the source files was to take care of
instrument idiosyncrasies such as the two above?  Wouldn't an explicit
comment in the code

[2018-05-15 21:45] adamsml opened #2633 "Zoomed HMI continuum image has no axes on plot"
I am trying to reproduce the last example on the plotting page (http://docs.sunpy.org/en/stable/guide/plotting.html), using HMI continuum data.  I can reproduce the plot with AIA data.  I found hmilibrary.py that will rotate the data and adjust the plate scale, but there is apparently something missing in the FITS header, because I am getting this apparently wcs-related error:

"File "/run/media/m

[2018-05-16 02:03] mbobra commented on #2633
If you query and correctly pass in the FITS header keywords, it should work. Thanks to @kbg for coming up with that solution :)

(It is true that `submap.draw_grid()` gave me an error -- it is somehow not getting the correct WCS keys).

[code]

[2018-05-17 12:12] #2616 closed

[2018-05-18 12:50] Cadair commented on #2348
This appears to be a bug in automodapi, as it has been independently reported in the astropy [pkg-infrastructure channel](https://view.matrix.org/room/!pSKzsvYeCMfoKeaeZc:matrix.org/?anchor=$15265904153338aeJpl:openastronomy.org) If someone has time can they write up a minimal example and report it on automodapi?!

[2018-05-23 11:59] #1273 closed

[2018-05-23 11:59] #1274 closed

[2018-05-23 12:01] #1909 closed

[2018-05-23 12:14] Cadair commented on #1475
This was fixed by the new JSOC client

[2018-05-23 12:14] #1475 closed

[2018-05-23 12:17] Cadair commented on #531
Is this now fixed on the net side? I thought we have the ability to differentiate between these types of data now?

[2018-05-24 11:21] #2284 closed

[2018-05-24 11:40] Cadair commented on #2284
:tada: :fireworks:

[2018-05-24 14:32] dstansby opened #2640 "Using TimeSeries with more than 1D data"
For discussion;

Currently `TimeSeries` is a useful class for storing data that is a function of time only, ie. `f(t)`. It's common in in-situ data products to have data that is a function of time, but also of other variables. The question is, what to do with data that is e.g. `f(t, x)`.

The way to do this in pandas is have a `DataFrame` with a `MutliIndex`, so as long as `TimeSeries` is based on

[2018-05-30 15:41] Cadair commented on #1515
I don't think so.

[2018-05-30 15:45] Cadair commented on #974
I am going to close this because I have no idea what it's intention was.

[2018-05-30 15:45] #974 closed

[2018-05-30 17:03] Cadair opened #2645 "Should we rename TimeSeries.columns to TimeSeries.column_names"
Currently the `.columns` attribute returns [the names](http://docs.sunpy.org/en/stable/api/sunpy.timeseries.GenericTimeSeries.html#sunpy.timeseries.GenericTimeSeries.columns) of the columns. Given that astropy table uses columns gives you an iterable like of the column objects.

If we are going to do this, now is the time.

[2018-06-01 08:18] #2632 closed

[2018-06-04 13:39] wafels commented on #2600
Yes, the significant changes are here:

https://github.com/wafels/sunpy/blob/mapcube_solar_differential_derotate/sunpy/physics/differential_rotation.py#L320

My problem is that I should have made this fix first, and then gone on to
do the inclusion of mapcube differential rotation in another PR.  The
classic mistakes of (a) thinking it would be easy and (b) not having enough
time to do the whole t

[2018-06-04 19:50] wtbarnes commented on #2600
Ah Ok. So if I understand this correctly, your proposed fix should allow for differential rotation to be applied to submaps?

[2018-06-04 19:55] wafels commented on #2600
Differential rotation can already be applied to submaps.  The issue is that
the current code does not properly change the CRVAL1 and CRVAL2 values in
the meta output.  The PR ensures CRVAL1 and CRVAL2 are set to the correct
values.

On Mon, Jun 4, 2018 at 3:50 PM, Will Barnes <notifications@github.com>
wrote:

[2018-06-05 05:13] wtbarnes commented on #2600
Sure I get that. What I'm aiming to do is rotate, then create a submap following the rotation. If I understand correctly, with your PR, there should be no difference between these two operations:

* First rotate, then submap
* First submap, then rotate

(Other than the obvious lack of pixels to rotate into the map if we take the submap first) whereas before the second option would give an incorrec

[2018-06-06 21:03] dpshelio commented on #2600
Interesting result you've got there.  I wonder if I've messed up with some sign when moving the coordinates. Though I'm pretty sure I compared it with ssw... Anyway, @wtbarnes you seem to be using it right, but the code must be wrong.
The advantage of using rotating the submaps is that the memory used is less.

[2018-06-06 22:00] wtbarnes commented on #2600
@dpshelio Yeah that's why I'm wanting to submap first. Doing a the diff rotate on the full map is too slow for what I'm wanting to do.

If I don't include @wafels fix for the `crval` metadata, in the crop-rotate case, the map coordinates seem to get "over rotated." This is shown in the plot below (where I've included some padding around the maps to show the rotation a bit better).

![image](https:

[2018-06-07 11:49] Cadair commented on #2600
it appears that when it's a submap it's cropping the data on the right hand side of the submap when it shouldn't be?

[2018-06-07 16:14] wtbarnes commented on #2600
@Cadair Which case are you referring to?

[2018-06-14 12:55] nabobalis opened #2653 "Figure tests directory gets wiped after running via the test runner."
Just discovered that when I run:
[code]
The resulting figure images are saved in a tmp directory that gets wiped at the end of the process (this is under linux for me)

Using `pytest` adds the folder into my sunpy folder.

[2018-06-14 13:16] Cadair commented on #2653
@dstansby fyi

[2018-06-14 13:44] nabobalis opened #2654 "Axis label missing on two figure tests"
Running the figure tests and checking at least the output from my fork and the same on master.

The axis labels for the figure tests `test_heliographic_peek` and **`test_heliographic_rectangle` are missing.

I get two differences between:

Old
![sunpy map tests test_plotting test_heliographic_peek](https://user-images.githubusercontent.com/1392107/41415697-12045f36-6fe1-11e8-9d9a-11e1421a09ff.png)

[2018-06-14 13:51] dstansby commented on #2653
Are you running that from a clean copy of the master branch? And do you get the same behaviour running `python setup.py test` (without the figure only flag)?

[2018-06-14 13:58] dstansby commented on #2654
When you say "your fork", what do you mean? I've just regenerated the figures from the master branch and they seem fine (w/ axis labels) to me.

[2018-06-14 13:58] nabobalis commented on #2653
Yeah, so I think the test runner called via `setup.py` dumps the files into `/tmp/<some folder>` and once its done it cleans it up.

[2018-06-14 14:05] nabobalis commented on #2654
Sorry, I was on my own fork off master. But I just checked master and it seems to missing there.

[2018-06-14 14:56] dstansby commented on #2653
So it's possible to access the temporary test directory using `os.getcwd()`, but I have no idea to access the directory from which `python setup.py test` is run, to move the files there. Any ideas @Cadair? (yet again I am baffled by the whole `python setup.py test` business)

[2018-06-14 16:15] Cadair commented on #2653
The only solution I can think of is to enable passing a base directory as a CLI argument to `py.test` because then the test command could just pass the correct dir to the pytest instance. I can not think of another way of letting pytest know where it should save the files.

[2018-06-14 20:05] dstansby commented on #2653
So, the problem is that

- `python setup.py test` calls some code in `astropy_helpers`...
- ... which then calls some other code in `astropy`...
- ... which then creates a shell command, which is run using `subprocess` from a temp directory...
- ... so the original directory from which `setup.py` test was called from isn't visible to any tests that are run...
- ... which means it's basically impos

[2018-06-14 20:29] abotiamnot opened #2657 "TimeSeries having trouble with 'None' unit type."
In TimeSeries, if there is an OrderedDict key with the value None, it ignores all the other keys and their respective values in the OrderedDict. I think TimeSeries should give some sort of warning, like it does when no unit is assigned to a column.

![image](https://user-images.githubusercontent.com/36379971/41436583-c19e7748-703f-11e8-9f68-30b101a4992f.png)

[code]

[2018-06-14 21:28] dstansby commented on #2657
Could you post a simple self contained example that reproduces this (including module imports)? It looks like you have an example in the screenshot, but it's easier to have it formatted as code in a comment for copy/pasting.

[2018-06-14 21:41] abotiamnot commented on #2657
I've just added the code to reproduce this problem.

[2018-06-14 23:42] Alex-Ian-Hamilton commented on #2657
This problem is that you have an invalid input to the units ordered dictionary.
You are using a None (NoneType) and not an AstrtrPy Unit (or Quantity), and that is (IMO) quite far from correct usage of the TimeSeries units dictionary.
You code would work if you either applied an explicit dimensionless AstroPy unit:
`units = OrderedDict([('x', u.km), ('y', u.dimensionless_unscaled)])`
Or simply omi

[2018-06-15 09:19] Cadair commented on #2653
@dstansby your code path analysis matches my understanding, the `setup.py test` command builds arguments for and then runs `sunpy.self_test` [here](https://github.com/sunpy/sunpy/blob/master/sunpy/tests/setup_command.py#L60).

So if we can add an optional parameter to the sunpy test runner that is the base directory for the figures i.e. defaults to `./` we can have `setup.py test` pass the base di

[2018-06-15 09:20] Cadair commented on #2653
oh wait, I missed a step, `sunpy.self_test` calls `pytest.main` which means that we need to add a cli argument to pytest to make it all the way through the stack.

[2018-06-15 10:09] Cadair commented on #2653
I think I am close to a solution on this.

[2018-06-15 11:42] #2653 closed

[2018-06-18 22:05] bla1089 commented on #1646
Any updates on this?

[2018-06-18 22:16] Cadair commented on #1646
@bla1089 have you verified this is still an issue? I would think that #1647 should've helped. If it's still a problem we can have a look into it.

[2018-06-19 02:55] ayshih commented on #1646
See also #2224 for some of my frustrations with definitions of Carrington longitude (and correspondingly Carrington rotation numbers).

[2018-06-19 09:47] ritiek commented on #2625
This can be closed by #2655 if that's all. :smile:

[2018-06-19 09:49] Cadair commented on #2625
There is one left in `GenericClient` but @nabobalis  is working on it!

[2018-06-19 09:51] ritiek commented on #2625
Oh, I see.

[2018-06-19 09:57] nabobalis commented on #2625
IT WILL ARRIVE SOON(TM)

[2018-06-25 12:43] Alex-Ian-Hamilton opened #2672 "RHESSI FIDO Queries Give Warnings and Exclude The Last Day from Results"
When querying FIDO for RHESSI data spanning multiple days the following warning is showed:

But the function then returns the correct days. minus the last day of the sequence.

For example, the following gives a user warning but works, with the exception of giving the last days result:
[code]

This is independent of [Issue #2382](https://github.com/sunpy/sunpy/issues/2382)

[2018-06-25 16:46] jmason86 opened #2673 "Make GOES event location variable names more explicit: lon/lat"
I've just done a bunch of digging around and determined that when using ```get_goes_event_list```, the first array coordinate is longitude and the second is latitude. This is the same as what's returned when using IDL solarsoft ```rd_gev``` (which you can drill down several levels to find ```gbo_struct``` [[code](http://www.heliodocs.com/php/xdoc_print.php?file=$SSW/yohkoh/gen/idl/ref_access/gbo_s

[2018-06-27 13:37] Cadair commented on #2673
If possible I think it would be even better to return a `SkyCoord` object to represent the position so it's completely ambiguous. Is there enough information in the event list to make a full SkyCoord, i.e. observer location and observation time?

[2018-06-27 15:24] jmason86 commented on #2673
Maybe? You definitely get the NOAA definition for flare start and peak times. The heliocentric latitude/longitude they give you probably applies to the peak time, though finding out for sure is likely to be nontrivial. Start and peak are usually a few minutes apart; I don't know how sensitive the ```SkyCoord``` is to time.

As for observer location, it's always from a GOES spacecraft, which is in

[2018-06-27 19:12] Cadair commented on #2673
The answer is that it really depends on how accurate you want things to be. The best thing would be to get precise values for both. If they don't exist then just `SkyCoord(lat=, lon=, frame="helioprojective")` will at least store the information in a way that people can augment (it will default to 'earth' and refuse to transform out of helioprojective).

I would imagine that just using 'earth' wou

[2018-06-28 09:04] Cadair commented on #2673
Yeah if you specify an obstime, the position of earth will be looked up and converted to a real coordinate, the information that it was "earth" is effectively lost at that point.

[code]

I personally think the best thing to do is to set the observer to earth and the obstime the best you can and stick a note in the documentation. Having said that I would like some input from someone with more unde

[2018-06-29 18:31] dpshelio commented on #2673
This coordinate positioning of GOES predates HEK. I'm not sure which telescope has been used to get them. I believe is SXR on GOES, but maybe nowadays they can use AIA with faster cadence. In any case, as the coordinates are given in degrees, I don't think there's much accuracy needed, so Earth is good enough.
The time accuracy given by goes is good too.

I believe the best would be to use the pea

[2018-06-29 19:02] wafels commented on #2673
GOES flare co-ordinates also occasionally default to (0,0), at least
according to how they are stored in the HEK.  I think GOES sets the
co-ordinates to (0, 0) when they can't make a determination of where the
flare happened on the disk.

On Fri, Jun 29, 2018 at 2:31 PM, David Pérez-Suárez <
notifications@github.com> wrote:

[2018-07-03 14:44] bmorris3 opened #2678 ""Buffer too small" on opening Map"
Hi!

I'm trying to open some files with the `Map` constructor, which I've downloaded with the `JSOCClient`, like so:

[code]
When I try to open them like this:
[code]
I get the following error:
[code]
If I call this instead,
[code]
the file reads just fine.

Any tips? I'm using Py 3.5.4, sunpy 0.9.0, astropy 3.0.dev19880. Thanks! cc @mbobra

[2018-07-03 15:09] bmorris3 commented on #2678
I solved my own problem by finding [these docs](http://docs.sunpy.org/en/v0.9.0/guide/acquiring_data/jsoc.html#staging-the-request), which suggest staging the query in three steps, like so:

[code]
Now everything works. Thanks!

[2018-07-03 15:09] #2678 closed

[2018-07-04 16:15] nabobalis commented on #2580
This has been fixed.

[2018-07-04 16:15] #2580 closed

[2018-07-04 16:18] nabobalis commented on #2383
Closed by #2408

[2018-07-04 16:18] #2383 closed

[2018-07-08 17:43] bsipocz commented on #2558
Not sure why you switched to the dev version from 2.0.6, but now it's back to 3.0.2 on master, so I suggest to close this issue.

[2018-07-08 23:32] #2558 closed

[2018-07-09 13:46] vn-ki commented on #224
Close?

[2018-07-11 22:55] dpshelio opened #2683 "Add SUVI FITS files"
To add it as a fido client, data available at:
https://data.ngdc.noaa.gov/platforms/solar-space-observing-satellites/goes/goes16/l1b/

Related with #2619

Requested by [Jon Eckberg via the mailing list](https://groups.google.com/forum/#!topic/sunpy/qoq5Jwfk9ZA).

[2018-07-11 23:14] Cadair opened #2684 "Scraper errors when directory in pattern doesn't exist"
i.e. when you have a pattern like `http://mywebsite/%Y/%Y%m%d` if you ask for a year that doesn't exist it will fail because it will try and get the directory.

[2018-07-11 23:15] Brhstone commented on #2684
[code]

[2018-07-11 23:51] Cadair commented on #2683
Duplicate of #2013

[2018-07-11 23:51] #2683 closed

[2018-07-12 12:56] wafels commented on #2013
Data now available at

 https://data.ngdc.noaa.gov/platforms/solar-space-observing-satellites/goes/goes16/l1b/

[2018-07-13 15:29] DonkeyShot21 opened #2685 "Document the use of world_to_pixel and pixel_to_world in the Units and Coordinates Section of the SunPy Guide"
Hi, thanks for the awesome tool. I'm working on sunspot detection and I'm trying to build ground truth masks using hek events.

I followed this [tutorial](http://docs.sunpy.org/en/v0.9.0/generated/gallery/overplot_hek_polygon.html).
My problem is that I'm not able to get pixel coordinates after the rotation. That is:

`ch_boundary = SkyCoord(
    [(float(v[0]), float(v[1])) * u.arcsec for v in p3]

[2018-07-13 20:13] yujin512 opened #2686 "Suds not installed?"
Hi!

I just installed a fresh python with miniconda, and I'm getting the following error:
[code]
CC @bmorris3 @Cadair

[2018-07-13 20:14] bmorris3 commented on #2686
Hey @Cadair, we're swirling in a Python package dependency nightmare and we're hopeful you can dig us out. We just installed miniconda, and then sunpy via `conda install -c conda-forge sunpy`, and we're getting this error. Any tips? Thanks!

[2018-07-14 15:31] wtbarnes opened #2687 "Allow Dask array as possible input in Map factory"
The Map factory should accept Dask arrays as an input data type when creating a map, e.g.

[code]

This useful for creating maps and the computing delayed tasks on them

[2018-07-14 22:39] fraserwatson commented on #2685
If you want to get the pixel coordinates of a SkyCoord object, and you have a Map object to compare them to, you would use the world_to_pixel method to convert the SkyCoord locations to pixel locations. Add this line to your example and see how it works.

`aia_map.world_to_pixel(rotated_ch_boundary)`

[2018-07-15 14:52] Cadair opened #2690 "Should sunpy.map.Map be able to take file handlers and a filetype like Timeseries"
<EXAMPLE TO COME>

[2018-07-16 20:53] DonkeyShot21 commented on #2685
@fraserwatson Thanks a lot, that did the job

[2018-07-17 09:45] Cadair commented on #2685
I am glad you found a solution @DonkeyShot21 ! Thanks @fraserwatson :)

I am going to re-purpose this issue to better document `Map.world_to_pixel` in the [Units and Coordinates](http://docs.sunpy.org/en/v0.9.0/guide/units-coordinates.html) section of the SunPy docs.

(also, you could do  `rotated_ch_boundary.to_pixel(aia_map.wcs)` if you *really* wanted to)

[2018-07-17 09:48] Cadair commented on #2686
hey @yujin512 @bmorris3 Sorry I didn't get to this, I have been at SciPy. It's weird this happened on a clean conda install, suds shouldv'e been installed obviously :/

[2018-07-23 18:21] Cadair commented on #2278
I think the gen-0 version of this should just be a utility function (probably in `sunpy.utils`?) which outputs a `MetaDict` with the following keys (values provided for examples):
[code]
it should be sufficient to pass this utility function, a SkyCoord for the observer from which hgln/lt_obs, dsun_obs, rsun_obs, t_obs, date-obs could be extracted. Then it should also take a Quantity for Cdelt and

[2018-07-23 20:33] wtbarnes commented on #2090
For anyone interested in this, I've started an outline of what a package like this might look like [in this gist](https://gist.github.com/wtbarnes/e2014389834d1afbefa4941fc61d9779).

I really like this idea. While implementing every existing DEM code in Python is an enormous (impossible?!) undertaking, I think implementing a common framework for DEM models is very doable and would make implementin

[2018-07-24 09:58] elastufka opened #2696 "Handle discrepancy between contour and imshow kwargs like linewidths in CompositeMap"
Hi,
I think it would be pretty easy to enable passing the plt.contour "linewidths" argument into CompositeMaps. Right now I am using a copy of .plot() where I include the "linewidths" argument in .plot_settings enabled in the case of levels = True. I think it would be pretty easy to work this into the plot function to enable users to make the contour lines more visible.

Here's the basic modificat

[2018-07-24 10:32] Cadair commented on #2696
The `plot` method of composite map accepts all the keywords the `axes.contour` method does. So you should be able to do `CompositeMap.plot(..., linewidths=)`.

[2018-07-24 15:34] Cadair commented on #2696
Composite map will try and plot as an image by default, unless `compmap.set_levels` is called first. Which I think is the root of this error.

[2018-07-24 15:42] kdere commented on #2090
My recommendation would  be to make a new solver from the ground up using PyMC or PyMC3.  These packages provide the statistics of the search and allow you to determine the confidence levels of the results.  It is my experience that these packages give you more detailed results than the data can support

[2018-07-24 15:54] DanRyanIrish commented on #2090
Hi @wtbarnes.  I think this looks like I great idea!  Not sure how I missed your ping in April.  I don't have the time at the moment to work on it myself but would encourage anyone else who does have time.  It would be a terrific resource.

[2018-07-25 04:47] wtbarnes commented on #2090
@kdere I think that is a good idea. Though I haven't looked at them closely, I suspect a lot of the DEM solvers in SSW are hand-coded. If we could replace them with one of these well-maintained MCMC packages, the amount of code to rewrite would probably be minimal.

@DanRyanIrish No worries. My main goal in creating this issue was just to get the idea out there and hopefully inspire someone to tak

[2018-07-25 04:48] wtbarnes commented on #2090
@wafels Do you have any thoughts on this?

[2018-07-25 07:59] elastufka commented on #2696
I tried a few things and found out that including linewidths in the plot() call only works if set_levels has first been applied to _all_ maps. Which makes sense because naturally there should be such an error in plt.imshow() as opposed to plt.contour(). So you're right that it does work to set_levels first, but I don't think this is the ideal use case; I'd argue that most users want to overlay con

[2018-07-25 14:11] wafels commented on #2090
I think this is a good idea, and an interesting engineering problem.  A
survey of what the existing algorithms need in order to work would be a
start. And then maybe try implementing an existing algorithm following the
basic notion of the gist
<https://gist.github.com/wtbarnes/e2014389834d1afbefa4941fc61d9779>.

Such a framework could spur the development of more DEM inversion
algorithms.

On Wed,

[2018-07-25 17:14] dstansby commented on #1442
We've started adding support in HelioPy (https://github.com/heliopython/heliopy/pull/546), so I guess this can be closed?

[2018-07-25 17:22] Cadair commented on #1442
I think we had some WIP support for this somewhere? @Punyaslok ?

[2018-07-29 15:32] DonkeyShot21 opened #2704 "Getting HTTP Error 403: Forbidden querying VSO"
My code:

        hek_client = hek.HEKClient()
        responses = hek_client.search(hek.attrs.Time(start_time, end_time),
                                      hek.attrs.SS)

        client = VSOClient()

        query_response = client.query_legacy(tstart=responses[0]['event_starttime'],
                                             tend=responses[0]['event_endtime'],

[2018-07-29 17:38] #2687 closed

[2018-07-31 12:37] Cadair commented on #2704
Hi! Thanks for the report.

This looks like it is one of the VSO servers having trouble, has the problem resolved itself?

Also you might want to look into our HEK to VSO translation functions here: http://docs.sunpy.org/en/stable/code_ref/net.html#module-sunpy.net.hek2vso

[2018-08-02 11:51] Cadair opened #2707 "Default output observer for solar_rotate_coordinate?"
Looking at `solar_rotate_coordinate` i am left to wonder if the default output observer should be the input observer (here: https://github.com/sunpy/sunpy/blob/master/sunpy/physics/differential_rotation.py#L100).

It seems weird to default that to "earth" when I would expect a more natural assumption to be the location of the observer in the input coordinate frame? i.e. if I were STEREO B, would I

[2018-08-02 13:12] wafels commented on #2707
When you do the solar rotation you should also take in to account the
motion of the observer.

The reason the default output observer is the Earth is that there are many
instruments orbiting Earth, and Astropy knows the motion of the Earth.

It may be more sensible to default to the location of the observer in the
input coordinate frame.  Doing this makes the assumption that the error
caused assum

[2018-08-02 13:41] tiagopereira opened #2709 "solar_rotate_coordinate not giving same results as SSW rot_xy"
I compared the values obtained by `solar_rotate_coordinate` using different rotation types, and the result is always somewhat different from SSW's `rot_xy`:

##### xy: (0, 0), (2017-07-26 15:00:00 -> 2017-07-26 16:00:00) [1 hour]:
* Sunpy Howard: (9.826233, -0.05129015)
* Sunpy Snodgrass: (9.68254832, -0.05142909)
* Sunpy Allen: (9.89909709, -0.05121892)
* SSW: (9.14941, -0.0520418)

##### xy: (0,

[2018-08-02 14:43] aringlis opened #2710 "[0.9] fermi.met_to_utc does not account for leap seconds"
@Cadair, @wafels, @ehsteve.

Fermi Mission Elapsed Time (MET) is the number of seconds elapsed since a pre-defined fiducial, or base time, in this case 2001 January 01 00:00 UT. The current version of the function fermi.met_to_utc is incorrect. It does not account for leap seconds that have occurred since the fiducial.

The in-development version of this function that uses Astropy.time appears to

[2018-08-02 18:05] aringlis commented on #2434
@jmason86 - I tested the ```get_goes_event_list``` routine to try to understand why it's so slow. I used a 4 year time range ```tr = TimeRange('2011-01-01','2015-01-01')```

The following query to the HEK

    result = client.search(hek.attrs.Time(tr.start, tr.end),
                              hek.attrs.EventType('FL'),
                              hek.attrs.FL.GOESCls > 'C1',

[2018-08-03 03:11] wafels commented on #2709
The SSWIDL function `rot_xy` selects synodic frame time.  By default, the SunPy function `solar_rotate_coordinate` uses whatever SunPy's `diff_rot` function has as a default.  The default happens to be sidereal time, not synodic time.  Passing the correct value to the `frame_time` keyword explains the difference.  For example:

[code]

[2018-08-03 12:41] vn-ki opened #2711 "Refractor parsing of time formats to use astropy custom formats"
This can only be implemented post #2691.

The parsing mechanism can be lot simpler if we can leverage parsing with the already existing format [`TimeString`](https://github.com/astropy/astropy/blob/49c7b7fc6051ec4d6992985e0c6cf0071cf71148/astropy/time/formats.py#L738).

There are some issues with using the above:

- Does not parse `2018-01-01T24:00:00` to `2018-01-02T00:00:00`
- Assumes anything a

[2018-08-03 18:44] aringlis commented on #2710
To fix this in the current version without use of Astropy.time requires use of a lookup table of leap seconds. 6-monthly bulletins are provided by IERS (International Earth Rotation and Reference Service) dictating whether there will be a leap-second added or not. The full list of leap seconds is stored in text form here:

http://maia.usno.navy.mil/ser7/tai-utc.dat

Looking up this info appears to

[2018-08-06 05:50] wtbarnes opened #2712 "Incorrect transformation between HCC and HPC with different observers"
There seems to be a bug when transforming between a Heliocentric Cartesian (HCC) frame and a Helioprojective (HPC) frame, where the two frames are defined by different observers.

Best illustrated by example (see below).

[code]

Because this second observer is rotated by 90 degrees, we would expect `p`, expressed in the HPC frame, to be on the limb and to the left, i.e. theta_x <0.

[code]

This

[2018-08-06 16:07] aringlis commented on #2672
Hi @Alex-Ian-Hamilton  - I think the offending code is in ```sunpy.instr.rhessi. get_obssum_filename``` here:

    dbase_file_name, _ = get_obssumm_dbase_file(time_range)
    dbase_dat = parse_obssumm_dbase_file(dbase_file_name)

    index_number_start = time_range.start.day - 1
    # If end is 0 set it to 1 so we always have at least one record.
    index_number_end = time_range.end.day - 1 or in

[2018-08-06 16:27] wafels opened #2713 "Rotation of solar co-ordinate does not take account of new observer location"
Currently, the `solar_rotate_coordinate`  function creates a new coordinate by adding the calculated solar rotation (found by calculating the amount of solar rotation at a given latitude between the input coordinate time and the requested time) to the input solar co-ordinate and then setting the observer property.

This is incorrect.  What the function should do is to create a new coordinate by ad

[2018-08-06 18:24] wtbarnes commented on #2713
Ok so this should solve #2712 as well then, correct?

And it makes sense why adding an intermediate HGS frame, which is independent of observer, gives the correct answer.

[2018-08-06 18:29] aringlis commented on #2672
Btw, @ehsteve, is there any reason now for the user warning/limitation Alex described above to still exist for RHESSI data? ```rhessi.get_obssum_filename()``` returns a list of all the relevant files, but ```rhessi.get_obssum_file()``` is still coded to only return the first file in the list - I don't know why. Besides that, if you go through FIDO you get different behaviour and all files are retu

[2018-08-06 20:57] wtbarnes commented on #2712
So it seems this is due to the fact that the `hcc_to_hpc` transformation (see [here](https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/transformations.py#L102)) does not account for the two frames having different observers. This problem can be traced back to Eqs. 15 and 16 of Thompson (2006).

One proposed solution: remove the explicit `hpc_to_hcc` and `hcc_to_hpc` transformations, add

[2018-08-07 13:48] martindurant opened #2715 "Dask FITS loader"
At scipy, we made some progress on reading remote (array) FITS files with Dask. Can that code be made available somewhere? I would like to make an [Intake](https://github.com/ContinuumIO/intake) plugin for loading both tables and arrays from sets of FITS files, local or remote.

https://github.com/ContinuumIO/intake/issues/128

[2018-08-07 14:44] wafels commented on #2709
Although using `frame_time='synodic'` fixes the equivalency to SSW results, the `solar_rotate_coordinate` is in general incorrect - see #2713 for the underlying issue.
Closing this issue since using `frame_time='synodic'` fixes the equivalency to SSW results, thereby answering the issue.  Further discussion on fixing `solar_rotate_coordinate` in general should be added to #2713.

[2018-08-07 14:44] #2709 closed

[2018-08-07 16:55] wafels opened #2716 "Bad spelling in Map"
In mapbase, `self._default_heliographic_lattitude` has one too many t's in "lattitude". This does not cause anything to crash (as far as I can tell), but it could make things difficult to find later.

[2018-08-12 11:05] DonkeyShot21 commented on #2704
Today it seems to be giving the same error again, I'm starting to be suspicious. I started this issue two weeks ago on Sunday and today as well is Sunday and it started not working again. I guess they just turn off their servers.

[2018-08-12 19:49] AlisdairDavey commented on #2704
Yep, we are purposely out to get you...funny how it's only the last two
Sundays and not all the ones before, but I digress. We are having
hardware issues at NSO, that we thought were fixed after the last
incident but apparently not. We are working on getting things back up as
fast as possible.

Alisdair

On 8/12/18 5:05 AM, Enrico wrote:

--
Dr Alisdair Davey                            Email: adav

[2018-08-13 09:44] Cadair commented on #2704
I am going to close this as it's not actually a sunpy bug. Feel free to continue to use it as a way to discuss the state of the VSO servers ;)

[2018-08-13 09:44] #2704 closed

[2018-08-13 13:58] Cadair commented on #2710
:man_facepalming: :woman_facepalming: :woman_facepalming:

That will be all.

[2018-08-13 20:31] wafels opened #2721 "Add a test for the rotation of rectangularly pixelated data in Map"
This method

_https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L716_

looks like it is trying to account for rectangular pixels.  If so, then the map test suite does not test rotation for when the map has rectangular pixels.

[2018-08-13 22:37] Cadair commented on #2721
Yes, that method is coded to account for rectangular pixels. We should indeed test it.

[2018-08-14 19:29] ix- commented on #2686
I installed the version available from my distribution (funtoo linux) which is 0.8.0
[code]
There, the problem is not present.
Also `from sunpy.database import Database` does not throw the error, although it does in the virtualenv 0.9.2 version.
Best regards,
ix

[2018-08-15 10:15] Cadair commented on #2686
@ix- if you are installing from pip and you don't want a minimal installation you should run `pip install sunpy[all]` to install all the optional dependencies.

(I wonder if this needs clarifying in the install docs)

[2018-08-15 15:35] ix- commented on #2686
Sorry, my bad! I did not read far enough and when.I saw the issue report, I jumped to the conclusion that there was a bug rather than own incompetence...

On 15 August 2018 12:15:07 CEST, Stuart Mumford <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-08-15 17:26] wafels opened #2724 "LASCO C3 Maps from JP2 sources are badly stretched"
See attached: probably need to fix the stretching.

![figure_1](https://user-images.githubusercontent.com/983575/44162559-b65abc00-a08e-11e8-8f6d-0ae9ebb026dd.png)

[2018-08-15 17:50] wtbarnes commented on #2715
Hi @martindurant. @Cadair has posted the notebooks from the scipy springs as a gist [here](https://gist.github.com/Cadair/01173c6f62d47dcfa8ab2925305fee75).

For my own use, I've also tidied up what we did that weekend into a single object [here](https://github.com/wtbarnes/synthesizAR/blob/master/synthesizAR/analysis/aia.py). It's part of a larger package, but is more or less a standalone piece o

[2018-08-15 18:00] martindurant commented on #2715
Thanks, @wtbarnes , for the pointers.
My immediate thought is that FITS-> armap may be a bit too specific for Intake, and it may be useful instead to reuse some of the original code in the gist for a FITS->dask.array plugin. The header information would be available in the data source metadata. FITS->xarray may also be possible, if we figure out what to do with WCSs.
You could, of course, then map

[2018-08-15 18:05] wafels commented on #2724
This is where LASCO C3 gets the square root scaling - https://github.com/sunpy/sunpy/commit/55610e9cad745033a19b41c1ecf26e472df9da3b#diff-62c564e29c6769deb57b644d7414de74

[2018-08-15 18:14] wtbarnes commented on #2715
Yeah overall my use case is quite specific. I think the relevant parts of @Cadair's gist for simply loading FITS files into Dask arrays would be something like,

[code]

Probably could be cleaner as I've just copied and pasted out of my code.

Presumably you could do something similar for FITS tables using Dask dataframe instead of Dask array?

[2018-08-15 18:43] yujin512 commented on #2686
Sorry I didn't jump in earlier. I uninstalled sunpy and installed sunpy[net], and it worked! Thanks!

[2018-08-15 18:43] #2686 closed

[2018-08-15 19:09] Cadair commented on #2686
No worries on either count, I think we might change around the optional dependencies for the 1.0 release to reduce this kind of confusion.

Thanks for the issue and the comments :)

[2018-08-15 19:52] wtbarnes commented on #2712
After some discussion with @wafels and @Cadair, one possible plan would be to provide an `hcc_to_hcc` transformation between two HCC frames with different observers. Then, in the HCC<->HPC transformations, we can add a check for whether the two frames are equal. If they are not, the `hcc_to_hcc` transformation is applied.

This `hcc_to_hcc` could also be used in the `hpc_to_hpc` transformation whe

[2018-08-15 20:39] wafels opened #2726 "We need different AIA images for the test data, or we need to fix the scaling."
This is because the ones we have right now make our default scaling look terrible.  It's a terrible advert for SunPy.

[2018-08-15 21:08] Cadair commented on #2726
You mean sample data and not test data right? The choice of sample data was @ehsteve and Andy iirc

[2018-08-15 21:09] Cadair commented on #2726
My preferred solution to this is to make our default scaling smarter.

[2018-08-16 06:03] olebole opened #2727 "0.9.2: test_get_body_barycentric fails -- 0. != 360."
Hi,

I now managed to upload the latest version to Debian, and found the following test failure:
[code]

This is on a 32 bit x86 platform. Full build log [here](https://buildd.debian.org/status/fetch.php?pkg=sunpy&arch=i386&ver=0.9.2-1&stamp=1534369425&raw=0).

[2018-08-16 06:12] olebole opened #2728 "Increase the speed of some tests"
# Background
On some platforms -- ARM with soft floating point (32 bit little endian, MIPS (32 and 64 bit, little and big big endian), I get the following error:
[code]

The test happens (presumably) on a non-connected machine. However, these machines are relatively slow.

Full log (for MIPS 64 bit) [here](https://buildd.debian.org/status/fetch.php?pkg=sunpy&arch=mips64el&ver=0.9.2-1&stamp=1534372

[2018-08-16 09:31] Cadair commented on #2271
I believe this is fixed by #2691 (of all things), we still get it occasionally on our CI, it is a very irritating transient failure.

[2018-08-16 09:32] Cadair commented on #2724
we have already fixed this for other map sources like AIA right?

[2018-08-16 10:48] olebole commented on #2728
Actually, this also occasionally happens of `test_fido`. On MIPS 32 bit little endian, I got now:
[code]

[2018-08-16 10:53] nabobalis commented on #2728
Yeah, that seed works it justs a slow test. I will increase the timeout for this test. Ideally we should refactor it in the future.

[2018-08-16 10:53] nabobalis commented on #2728
I can increase the timeout in general instead?

[2018-08-16 11:17] wafels commented on #2726
Yes the sample data (I edited the title of the issue). The problem is the sample data we use contains a small number of pixels that have high values and those high values are not common across the AIA data. Therefore the default scaling does not work.  Clipping the image range would work, or a stretch function that accommodates these higher values.  Both may need to be AIA channel dependent.

[2018-08-16 11:30] wafels commented on #2724
Yes we have.  For AIA sources, the image stretching is replaced by the LinearStretch.  The linear stretching replacement is working.  When you just plot the data using imshow you get a perfectly reasonable looking plot.  I think in this case the colormap should be changed, say to the matplotlib bone color table - see attached.
![figure_1](https://user-images.githubusercontent.com/983575/44205970-2

[2018-08-16 11:32] Cadair commented on #2724
frankly that looks much better than the original cm imo

[2018-08-16 12:38] wafels commented on #2724
i agree. the standard colortables are not great for LASCO or COR1,2.

On Thu, Aug 16, 2018, 07:32 Stuart Mumford <notifications@github.com> wrote:

[2018-08-16 13:30] wafels commented on #2707
The fix to #2713 will implement the suggestion that the default output observer will be the input observer.

[2018-08-16 13:36] martindurant commented on #2715
Yes, certainly there could be one plugin for FITS arrays and one for FITS tables, in the same package. I would imagine input parameters like "which extension of each file", and "header keyword(s) to make into values", etc.
Maybe the table one wouldn't cover complicated column types embedding arrays (or maybe why not? I'm not sure how these look to atropy.io.fits).

[2018-08-16 13:45] nabobalis commented on #2728
Tests that need to be re-written to be faster or given better/fewer examples.

[code]

[2018-08-16 13:47] nabobalis commented on #2727
Yeah, that is tricky since we don't test under 32bit nor do I have access to a system to debug it.

[2018-08-16 13:52] olebole commented on #2727
My quick fix for this was to replace the assert with
[code]
Another potential place is a few lines above that.
Comparing longitude with zero is always not very stable...

[2018-08-16 14:46] Cadair commented on #2727
@nabobalis we could borrow the astropy circleci setup for 32bit testing. But yeah this code should probably just be more robust. Maybe using the `Longitude` class would help?

[2018-08-16 14:51] Cadair commented on #2707
This is a better assumption than assuming the observer is Earth ;)

[2018-08-16 14:57] Cadair commented on #2713
for the record I think this is independent of #2712

[2018-08-17 16:03] martindurant commented on #2715
POC coming here:
https://github.com/ContinuumIO/intake-astro/blob/master/intake_astro/array.py

[2018-08-18 21:23] wtbarnes opened #2732 "Return type of observer is inconsistent"
The return type of the `observer` property on a `SkyCoord` is different for the default frame ('earth') and a user-defined frame. As an example,

[code]
I would expect `.observer` to always return a `SkyCoord` (though there is also #2723).

[2018-08-19 08:35] Cadair commented on #2732
It should only be a string in the case where obstime is not specified so the position can not be calculated.

[2018-08-20 10:11] Cadair commented on #2732
It raises an exception at the point where you need to know the concrete observer location (inside the transformations). Its perfectly functional to use a HPC coordinate object without ever knowing the observer location relative to anything else, i.e. overplotting on a HPC map etc.

[2018-08-20 17:35] wtbarnes commented on #2732
Ok. I guess this can be closed.

I actually opened this because some tests on #2725 were failing due to `.observer` being a string in some cases, but it turns out I was running some old tests on accident...

[2018-08-20 17:35] #2732 closed

[2018-08-21 13:48] ehsteve commented on #2726
I thought we already had an issue to come up with a smarter set of sample data that had a "theme" to it like perhaps a particular flare.

[2018-08-21 14:04] Cadair commented on #2726
We did that already.

[2018-08-21 18:27] ehsteve commented on #2726
Ah right. Well we did a crappy job then!

[2018-08-21 18:31] ehsteve commented on #2726
The correct way to do this would be to mask the high pixels which may be bad or cosmic ray hits. I'm not sure that we want to come up with a smarter color table to deal with this as it would be to the detriment of the good data. I would vote to find images slightly before or after the ones we have here that hopefully do not have those bad pixels.

[2018-08-21 18:57] wafels commented on #2726
Yes, masking is one way to fix this.  My preference is to use some new data.  What the current selection based on the RHESSI or GOES flare peak?  My bet is that shortly after time the AIA pixels return to normal values but there is still some post-flare emission observable in RHESSI.

[2018-08-21 21:51] Cadair commented on #2726
We will need to add a v2 folder to the sample data repo: https://github.com/sunpy/sample-data

[2018-08-22 09:27] #2716 closed

[2018-08-22 17:10] wafels opened #2733 "Co-ordinate example to show observer name"
Issue #2723 allows users to set an observer name for co-ordinates..  It would be useful if a gallery example showed this functionality.

[2018-08-23 15:25] wafels opened #2734 "show_colormaps() is not big enough to show the colormap names"
See attached picture.  This affects the gallery too - see http://docs.sunpy.org/en/stable/generated/gallery/plotting/sunpy_colormaps_reference.html#sphx-glr-generated-gallery-plotting-sunpy-colormaps-reference-py
![figure_1](https://user-images.githubusercontent.com/983575/44535050-2983b400-a6c7-11e8-8bb1-771a40228c83.png)

[2018-09-04 15:22] tiagopereira opened #2738 "Unable to save map after aiaprep: CROTA2 not found"
Trying to save an AIA submap, from a file downloaded via VSO, results in an error. The following ~~works with~~ does not work with  `sunpy.data.sample.AIA_171_IMAGE`, or with other images that I download:

[code]

The above gives the error:

[code]

[2018-09-05 20:43] jhourcle commented on #2189
I can no longer trace the whole interaction, as I'm no longer at NASA .... but the times that this has happened before, it's an issue with download speeds from the JSOC going to crap.  (to serve AIA and HMI data, we have to use NetDRMS to attach the most recent scientific headers, and if we can't download the data from the SDO JSOC in a reasonable time, we can't serve it).

It would be useful to h

[2018-09-05 20:58] jhourcle commented on #2189
And I should mention -- as the issue is one of slow downloads, if you make an attempt, and then come back later and try it again an hour or so later, it *should* work, unless something has gone severely wrong (like when the JSOC lost some partitions of data, and had to restore from tape)

[2018-09-07 12:41] Cadair opened #2740 "We should return an astropy table from the HEK search method"
The list of dicts is really ugly in comparison to an astropy table.

[2018-09-07 12:51] SolarDrew commented on #2738
Hi @tiagopereira . I think the actual bug here is in `save` rather than in `aiaprep`. It's certainly true that `aiaprep` removes the `CROTA2` keyword from the header, but this is deliberate, since if I remember rightly this keyword is actually not recommended (ideally you should be using the `PCi_j` keywords to specify a rotation matrix instead. It looks like either `Map.save()` or the astropy fit

[2018-09-07 13:05] wafels commented on #2740
Interesting idea - HEK object returns could be a lot more useful.  For
example, if we return sunpy co-ordinates then plotting of bounding boxes
and object outlines becomes much easier.

*http://www.lmsal.com/hek/VOEvent_Spec.html
<http://www.lmsal.com/hek/VOEvent_Spec.html>*

See also #1792 and #1398

On Fri, Sep 7, 2018 at 12:41 PM Stuart Mumford <notifications@github.com>
wrote:

[2018-09-07 14:21] Cadair opened #2741 "Add a HMI overplotting on AIA example"
Should use Composite map to over plot the magnetic field strength contours on an AIA image.

[2018-09-10 09:38] Cadair commented on #2738
ah I can see what's causing this bug. I will try and write a fix for it asap :)

[2018-09-10 09:40] #1311 closed

[2018-09-10 09:40] Cadair commented on #1311
This is fixed by the recent upgrades to the use the astropy runner

[2018-09-10 09:41] Cadair commented on #1620
This is closed by the rewrite to use DRMS

[2018-09-10 09:41] #1620 closed

[2018-09-10 10:00] Chicrala commented on #2741
The idea is to create an example like the ones that are accessible via tutorial from a sample data or make a general routine for this?

I'm currently making plots of Poynting flux over HMI Br component so I may be able to help with this if I understand it correctly.

[2018-09-10 11:09] Cadair commented on #2741
We already have this functionality in `sunpy.map.compositemap`, the issue is to write an example like [this](http://docs.sunpy.org/en/stable/generated/gallery/maps/map_rotation.html#sphx-glr-generated-gallery-maps-map-rotation-py) which live in the [`examples/`](https://github.com/sunpy/sunpy/tree/master/examples) directory.

[2018-09-10 11:10] Cadair commented on #2741
(note: composite map will only over plot if the data is already aligned, so both the AIA and HMI image should be thrown through `aiaprep` first)

(note, note: we don't actually have any HMI data in our sample data at the moment, so we should really add that as well)

[2018-09-10 11:14] Chicrala commented on #2741
I think I understood.
May I try to solve this then?

[2018-09-10 13:02] Cadair opened #2744 "Integrate Metadata searching with Fido"
The `Fido` interface is a very powerful and extensible search API for a wide variety of possible data sources. However, we currently do not have a cohesive solution for metadata (not file) search and retrieval.

SunPy currently has the following metadata search facilities:

* HEK Client
* Helio Client
* JSOC Client (also does files through Fido)

We should design extensions to Fido (primarily I wo

[2018-09-10 13:06] #2381 closed

[2018-09-10 13:06] Cadair commented on #2381
we did much upgrade of the sunpy and astropy ones

[2018-09-11 09:08] Cadair opened #2745 "Improvements to composite map"
Composite map really needs some upgrades, and seeing how some of them would be API breaking (the fist one on the following list especially so) we should probably do it before 1.0.

Things I can think of without actually looking over the code:

1. The `get_` and `set_` methods should be changed to be properties.
1. The contouring routines should use the WCSAxes support for [overlaying contours in d

[2018-09-11 09:09] Cadair commented on #2741
Just open the Pull Request, it makes it a lot easier to give feedback on :smiley:

[2018-09-11 09:15] Chicrala commented on #2741
I haven't thought on this haha

[2018-09-11 14:29] Cadair opened #2747 "aiaprep can not be used to align AIA and HMI images"
`aiaprep` explicitly checks the type of the map to make sure it's `AIAMap` when really it should allow `HMIMap` as well because then you can align AIA images with HMI, and the metadata structure is sufficiently similar that there is no reason why this would not work.

The fix I think would be best would be to allow both `AIAMap` and `HMIMap` in [this](https://github.com/sunpy/sunpy/blob/master/sun

[2018-09-11 17:02] wtbarnes commented on #2747
Duplicate of #2331? Also see discussion in #1697.

[2018-09-11 17:07] SolarDrew commented on #2747
Well-spotted. I think having one function rescale both AIA and HMI data is a good solution to both this and #2331 if the plate scale is the only difference, but we'll have to put in a check so that it uses the correct one.

[2018-09-12 09:27] #2738 closed

[2018-09-12 10:24] Cadair opened #2750 "Maintain coherence between keycomments and the metadict"
See #2748

This is probably best implemented by adding the functionality to our `MetaDict` object or something, so that we don't have to do it manually everywhere.

[2018-09-12 10:32] Cadair commented on #2747
if given a HMI map, aiaprep should change it's plate scale to 0.6. As that is how you would align it to the AIA data.

This is defiantly a dupe of #2331 though.

[2018-09-12 14:39] #2747 closed

[2018-09-12 16:20] #2724 closed

[2018-09-14 14:08] Cadair commented on #472
@dpshelio and all. Do we have all the functionality we want now? Or are there still things that need implementing or checking?

[2018-09-14 14:23] dstansby opened #2753 "Python 3.7 wheels"
Would be nice to have some py37 wheels on PyPI at some point: https://pypi.org/project/sunpy/#files (although I just built from source and it worked fine)

[2018-09-14 16:25] #2753 closed, assigned to nobody

[2018-09-14 21:13] dstansby commented on #2753
Thanks for the quick fix!

[2018-09-17 10:20] Cadair opened #2755 "Should we remove the ability to plot Maps on non-wcsaxes for 1.0?"
If we are going to do it at all now is the time. I am torn on the matter, having fallback is probably useful in some edge cases, but it's  also very easy to accedentially create a plot with different behavior and incorrect axes

[2018-09-17 10:22] Cadair opened #2756 "Plot is missing from the end of the units and coordinates section of the docs"
See here: http://docs.sunpy.org/en/v0.9.0/guide/units-coordinates.html#using-coordinates-with-sunpy-map

[2018-09-17 10:33] Cadair commented on #2712
I am going to close this as fixed by #2725 and we can continue any discussion about the implementation of the transform in #2754

[2018-09-17 10:33] #2712 closed

[2018-09-17 10:34] Cadair commented on #2612
It was not fixed.

[2018-09-17 14:14] MjdMahasneh opened #2757 "HelioviewerClient can be used to download png and jpeg images! is there anyway to get the FITS images instead?"
I am trying to download the SDO AIA 171 images but it seems to be very problematic! i have tried a lot of servers and all of them didnt work!  then i realiased that HelioviewerClient() by sunpy can be used to download png and jpeg images! am not sure whether there is anyway to get the FITS images instead?

any help is very much appreciated

[2018-09-17 15:27] souravghosh97 commented on #2740
I want to work on this issue as well as #1792 . What i want to know is why it was suggested that the ```parse_hek_response_to_quantities()``` is applied inside get_voevent() and not on results of HEKClient search. What that features requests need?

[2018-09-17 15:58] wtbarnes commented on #2712
Wait I thought you reverted #2725? Or was that only part of it?

I'm fine with this though I think we should probably create an additional issue to note that #2754 is just a stopgap.

[2018-09-17 16:45] Cadair commented on #2712
It was only part of it (the part that prevented a do nothing transform between HPC<>HPC when there was only string observers)

[2018-09-18 23:49] Spartan1988 opened #2758 "Problem running the SunPy tests on Mac"
I've obtained the following while trying to run the SunPy tests

In [3]: sunpy.self_test(online=False)

============================= test session starts ==============================
platform darwin -- Python 3.6.5, pytest-3.5.1, py-1.5.3, pluggy-0.6.0
hypothesis profile 'default' -> database=DirectoryBasedExampleDatabase('/Users/_**My_Path**_/.hypothesis/examples')
rootdir: /Users/Andres, inifi

[2018-09-20 22:08] souravghosh97 commented on #2740
@Cadair I think for this one have to implement an HEKTable, HEKColumn, HEKRow. because as of now HEKClient.search() method returns response object which in turn can be used to get voe event (by ```get_voevent``` method of Response object)
[code]
while if anyone astropy table return result[0] will be an astropy Row Object with no get_voevent method

[2018-09-24 12:54] MjdMahasneh opened #2760 "AttributeError: 'str' object has no attribute 'decode'"
Hello! so am attempting to query Helioviewer.org with SunPy and i get this AttributeError randomly (sometime i get it and sometimes i dont when using the same exact parameters) this is a very strange behaviour and i tried to understand whats causing it but i couldnt figure it out. any help in this regard is very much appreciated.

[2018-09-24 13:04] DeltiKron commented on #2760
Hi, I've been seeing  the same problem since some time last week and would also be interested in what is causing this. I have the impression that the error occurs more frequently if files are downloaded in quick succession. Usually waiting for a minute or so and rerunning the same command works for me. (ofc this is still not ideal for batch operations... ) Maybe the cause is some caching or tempor

[2018-09-24 13:16] MjdMahasneh commented on #2760
this can be something to look at and can still be fixed as usually data will be accessed as batches and this issue makes it very slow and inconvenient.

[2018-09-24 13:30] nabobalis commented on #2760
Can you provide a small example that I can run to debug this please?

[2018-09-24 13:37] DeltiKron commented on #2760
[code]
for me this is an example sufficient to produce the error. I ran it twice just now and one time the error popped up and one time it worked as expected.

[2018-09-24 13:39] MjdMahasneh commented on #2760
i can indeed but the code is customised for a certain mission and depends on a data set that i have so it wont work on your machine. however here is the main part of the code that generates the queries:

`
hv = HelioviewerClient()
#loop through the list of required images
for i, f in enumerate(imlist):
  corrosponding_EIT_name = f #where f is a string of format date-time i.e. '2012/07/05 00:30:00'

[2018-09-24 13:40] nabobalis commented on #2760
Thanks, I'll look into this now.

[2018-09-24 13:45] MjdMahasneh commented on #2760
@nabobalis Also it would be nice if one could download the .fits or at least being able to access the header part of the fits file that corresponds to the png image.

Many thank in advance :)

[2018-09-24 14:19] nabobalis commented on #2760
I think I have a fix locally, I will see about pushing up and getting a review and hopefully a bug fix release this week.

@MjdMahasneh I don't think the helioviewer API allows us to download the fits file but we should add support for getting the header. I will open a separate issue (if i can't find one).

[2018-09-24 14:28] nabobalis commented on #2758
Hi @Spartan1988, I do not have a mac to debug this myself but I could find a [link here](https://github.com/python-pillow/Pillow/issues/3115) from a different project that had a similar issue.

[Or maybe some of the instructions might be useful.](https://stackoverflow.com/questions/22728468/osx-pillow-incompatible-library-version-libtiff-5-dylib-libjpeg-8-dylib)

Sorry about this! I will ask some

[2018-09-24 14:28] #2757 closed

[2018-09-24 14:31] MjdMahasneh commented on #2760
@nabobalis thats great thank you very much! looking forward to that.

Apart from that, i know i shouldnt be asking a question inside an issue but am not sure where else am i supposed to ask. my question is:
knowing that the original .fits image file usually has a single spectrum response (of single channel i.e. 1024x1024x1) while the .png files am getting using the query feature are tri-dimensiona

[2018-09-24 14:40] nabobalis commented on #2760
Those are all very good questions. I unfortunately don't know the answer to those questions as I have no part in Helioviewer. I believe that @wafels has worked on it, so he might know. Otherwise, I would see if there is a contact email for Helioviewer and ask that way.

[2018-09-24 14:43] nabobalis opened #2762 "Add support to download the header information from helioviewer"
Currently our HelioViewer Client (https://github.com/sunpy/sunpy/blob/master/sunpy/net/helioviewer.py) allows us to download jpeg files from the service. They (Helioviewer) have an a better API now (v2 which is linked in the original post) that allows us to also download the metadata of the jpeg files with a seperate function. We do not have that seperate function, which is what this issue is trac

[2018-09-24 14:47] MjdMahasneh commented on #2760
@nabobalis thats great! thank you very much for your response. lets wait and see if @wafels knows anything in this regard.

Best regards.

[2018-09-24 16:15] ehsteve opened #2763 "Solar Cycle Gallery example out of date"
The example includes the following text

This text is inline and therefore not checked during build so was not caught. This should be fixed and this behavior should be discouraged.

[2018-09-24 16:30] wafels commented on #2760
@MjdMahasneh, @DeltiKron - I also work on helioviewer.  Have you been making these requests in the past couple of weeks?

[2018-09-24 16:45] MjdMahasneh commented on #2760
Hello @wafels , yes I have am still actually working on it at the moment and still having the issue.

[2018-09-24 16:47] wafels commented on #2760
How many requests are you making?

[2018-09-24 16:50] MjdMahasneh commented on #2760
1 request at a time. but around 200 in total (i.e. for loop to request 200 different dates) but the problem occurs even when i request a single date

[2018-09-24 17:47] Cadair commented on #2762
also related to #2744

[2018-09-24 19:49] wafels commented on #2760
The reason I ask is that we have seen a spike in usage of some of our services, which has the knock-on effect that some of our other services are experiencing problems.  It may be possible that the issues you are experiencing are due to the usage spike.

[2018-09-25 08:03] DeltiKron commented on #2760
I guess I was the one making a lot of requests, over the last weeks I suspect I've gotten up to a couple thousand requests over the last couple of weeks... I'm sorry to hear that it's causing problems, and I'll try to limit or spread my requests over a larger time. The task I was using them for is nearing completion anyway.

[2018-09-25 09:43] MjdMahasneh commented on #2760
@DeltiKron so are you having this problem too when youre requesting the data or is it working smoothly with no issues?

[2018-09-26 16:29] wafels commented on #2760
The original bug report was probably due to the Helioviewer API sending out malformed data due to the server being overloaded by requests. I was able to reproduce the original bug report during a time of heavy usage, and at time of writing (when we don't have a lot of demand) the download_jp2 request works just fine.

[2018-10-01 09:00] IpshitaC commented on #2756
Hi @Cadair
Can I take this up for hacktoberfest? Could you give me some idea as to what needs to be done?

[2018-10-02 13:00] StegSchreck commented on #2612
I would like to have a look on this. Can you point me to the line where the link is generated?

[2018-10-02 13:01] nabobalis commented on #2612
@StegSchreck As far as I am aware it is here: https://github.com/sunpy/sunpy/blob/master/docs/conf.py#L209

[2018-10-02 13:02] nabobalis commented on #2612
The problem seems to be that the link created is: `https://github.com/sunpy/sunpy/tree/v0.9.x/sunpy/net/dataretriever/client.py#L46` but it should be `https://github.com/sunpy/sunpy/blob/0.9/sunpy/net/dataretriever/client.py#L46`

[2018-10-02 13:04] nabobalis commented on #2612
Should be noted that master works. It justs the released version.

[2018-10-02 13:06] StegSchreck commented on #2612
I already figured out, that the issue is about the version number. I also noticed, that `.../tree/...` will be redirected to `.../blob/...` when it is referencing a single file.

[2018-10-02 13:28] StegSchreck commented on #2612
Sorry if I ask an obvious question. But the change https://github.com/sunpy/sunpy/commit/28df923383fc05210e9c2a53b3ee9626ace8f0f0 looks actually correct to me. Are you sure it was deployed?
I still don't quite understand where the local version number is retrieved from though. So I can't reproduce it locally.
This shows a different approach for retrieving the version number: https://github.com/sun

[2018-10-02 13:35] nabobalis commented on #2612
It looks like the PR that was first opened to address this wasn't backported.

[2018-10-02 13:43] nabobalis commented on #2612
I just pushed it to stable and to the 0.9 branch. Hopefully once RTD build we will know if its fixed.

[2018-10-02 13:56] nabobalis commented on #2612
It works now that I backported #2614.

[2018-10-02 13:56] #2612 closed

[2018-10-02 13:56] nabobalis commented on #2169
It works now that I backported #2614.

[2018-10-02 13:56] #2169 closed

[2018-10-03 15:12] camilosalazar98 commented on #2756
Hey @Cadair I'm also interested in fixing this issue. Once I have the plot where do I add it?

[2018-10-03 15:16] nabobalis commented on #2756
I think for this issue, (I could be wrong) Is that the last example has a matplotlib plot that is not displayed.

[2018-10-03 15:16] camilosalazar98 commented on #2756
I got it but where do I add it?

[2018-10-03 15:17] nabobalis commented on #2756
Well it's not a hard plot that is added. It have to be generated at the build of the documentation.

[2018-10-03 16:08] camilosalazar98 commented on #2756
So I found the place where I add the code to generate the graph but I get this error messageThe configuration file (or one of the modules it imports) called sys.exit()
Sphinx Documentation subprocess failed with return code 1.

[2018-10-03 16:37] nabobalis commented on #2756
Is there any more to that message? You might not have the packages installed to build the documentation. We have some fiddly requirements for our docs.

[2018-10-03 16:40] nabobalis commented on #2280
This is already true.

[2018-10-03 16:45] wafels commented on #2280
Need to put in

https://api.helioviewer.org/v2/

somewhere.

[2018-10-03 17:52] camilosalazar98 commented on #2756
I get type this  python3 setup.py build_sphinx -l
<img width="971" alt="screen shot 2018-10-03 at 1 51 51 pm" src="https://user-images.githubusercontent.com/10333493/46429064-89806800-c713-11e8-860b-dc9e4907ea2e.png">

[2018-10-03 17:54] nabobalis commented on #2756
Ah ok! The error is actually above the red text. You will need to either pip or conda install `sphinx-astropy`

[2018-10-03 19:20] camilosalazar98 commented on #2756
It seem that solve the issue but I got something new.

<img width="1145" alt="screen shot 2018-10-03 at 3 17 40 pm" src="https://user-images.githubusercontent.com/10333493/46433738-ab7fe780-c71f-11e8-818f-02633df65f81.png">

Got this message..
open-docs-in-browser option was given, but the builder is not html! Ignoring.

Is there a special browser that you guys use?

[2018-10-03 19:32] nabobalis commented on #2756
Oh, I use `python setup.py build_docs`, I don't know what happens if you use `build_sphinx`

[2018-10-03 19:51] camilosalazar98 commented on #2756
Yeah I have no idea. Theres no errors which is funny. I'm assuming when you run the application a application should open.

When I use:
python setup.py build_docs
<img width="965" alt="screen shot 2018-10-03 at 3 38 54 pm" src="https://user-images.githubusercontent.com/10333493/46434953-1f6fbf00-c723-11e8-90e0-0286481ea461.png">

python setup.py build_sphinx
<img width="972" alt="screen shot 2018-

[2018-10-03 19:55] nabobalis commented on #2756
Oh a webpage has never opened after a build for me. I always do it manually by using  the command line. `firefox docs/_build/html/index.html` or similar.

[2018-10-03 21:07] camilosalazar98 commented on #2756
Yeah been looking around and I have no clue how to fix the "open-docs-in-browser option was given, but the builder is not html! Ignoring." @Cadair @nabobalis

[2018-10-03 21:35] nabobalis commented on #2756
Open the built html files using a browser of your choice and then navigate to the correct page.

[2018-10-08 13:27] dstansby opened #2772 "Need a clear tutorial on downloading and viewing data"
Although there seem to be some examples/tutorials in the documentation that use the sample data, there are no obvious examples on how to download and then view/analyse non-sample data. The ones I can find are

- http://docs.sunpy.org/en/stable/generated/gallery/acquiring_data/2011_06_07_sampledata_overview.html#sphx-glr-generated-gallery-acquiring-data-2011-06-07-sampledata-overview-py - only has

[2018-10-08 13:37] dstansby opened #2773 "Fido progress bar doesn't work properly in Jupyter notebook"
The progress bar used by Fido doesn't work very well in a Jupyter notebook:
![screenshot 2018-10-08 at 14 36 07](https://user-images.githubusercontent.com/6197628/46612162-aa77fd00-cb07-11e8-8c92-60ad56799f73.png)

Example code:
[code]

[2018-10-08 13:43] dstansby opened #2774 "Creating LASCO C3 Map object fails"
[code]

Fails with
[code]

[2018-10-08 15:02] Cadair commented on #2774
the `self.meta['CUNIT2'].lower()` should probably be re-written as `self.meta.get('CUNIT2', 'arcsec').lower()`

[2018-10-08 15:04] Cadair commented on #2773
Yes, the progress bar *sucks* but is surprisingly hard to change because it's wedged into our weird threaded downloader. I am working on a branch which replaces the downloader with something based on asyncio, but it's a big project and is taking it's time.

[2018-10-08 15:05] Cadair commented on #2772
I think this would be best written into the Guide section of the docs, with plenty of description about why things are done like they are etc.

[2018-10-09 11:21] sapnamish commented on #2590
I want to work on this issue

[2018-10-09 11:50] nabobalis commented on #2590
@sapnamish You don't need to ask for permission to work on this issue! You can go right ahead!

[2018-10-09 17:37] MSKirk opened #2776 "Invalid import in `mapsequence`"
https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapsequence.py#L14

[2018-10-09 18:00] #2776 closed

[2018-10-09 18:13] MSKirk opened #2777 "LineAnimator display of small y-axis values"
The aspect ratio of `LineAnimator` appears to be determined through absolute scaling of x and y values. For example if y ~ 10^-9 and x ~ 1, the y-axis is not visible. We need something like an `aspect` kwarg as in `plt.imshow` so that the length of each axis is determined by the plotting area and not the data range. This issue probably applies to the other animated classes.

[2018-10-09 20:32] jonk commented on #2733
Happy to help out making an example!

[2018-10-10 12:29] Cadair opened #2781 "Slicing a JSOC UnifiedResponse object causes Fido.fetch to fail"
[code]
[code]

[2018-10-10 12:37] #2763 closed

[2018-10-10 17:11] nabobalis commented on #2758
I am going to close this issue, if you have no fixed it, re-open this and we can try to debug it again!

[2018-10-10 17:11] #2758 closed

[2018-10-10 17:26] Cadair opened #2784 "Standardise our docstring convention on Time inputs"
This came up in #2691 but has been an issue before hand. The general policy on time input is to run it through `sunpy.time.parse_time`, therefore the possible time-like inputs to most of the sunpy functions are very diverse in both type and format. The question raised in this issue is, how do we document this in our docstrings.

A form of the docstring should be like this:

[code]
The main discuss

[2018-10-10 21:42] Cadair commented on #2506
I also need to modify the Giles config to link to the figure comparison page.

[2018-10-10 21:43] #2774 closed

[2018-10-10 22:11] nabobalis opened #2785 "SkyCord print change in astropy master (beta of 3.1?)"
### Description

We have several doc tests fail under astropy master.
Looks like the print for skycord has changed.
We probably cant fix this until the new version of Astropy is out.

[Link here](https://travis-ci.org/sunpy/sunpy/jobs/439735618).

[code]

Furthermore, it seems that the doctest return of `sunpy.cm.cmlist.keys()` has changed width.

### Expected behavior

The tests shouldn't fail

#

[2018-10-11 10:47] dstansby opened #2788 "Resampling LASCO C3 map fails"
[code]
fails with
[code]

[2018-10-11 11:17] Cadair commented on #2788
What is this data you have? Why does it not have any of the keys you need to describe the coordinate system?! :confounded:

[2018-10-11 11:21] Cadair commented on #2788
I just downloaded that data, and it has none of the metadata needed to make Map work. You wont be able to use map with it, as it has no coordinate system information in the header.

I have no idea what that data is, or why it is in the VSO, but it isn't going to work with SunPy Map :/

[2018-10-11 15:56] Chicrala commented on #2772
I can create one for HMI and AIA.

[2018-10-11 18:44] Cadair commented on #2654
This is actually a bug in wcsaxes where the ticks and the axes labels are not show if the edge of the wcs doesn't make it to the frame. The issue is in this case it should behave like it does as you are bounding the plot and the wcs at the same place.

[2018-10-12 09:02] manasbedmutha98 commented on #2734
Is this issue still open?

[2018-10-13 01:01] ritesh99rakesh commented on #2750
Can I pick this up?

[2018-10-13 06:17] Naman9639 commented on #2005
This is working for me

import sunpy.map
from sunpy.data.sample import AIA_171_IMAGE
from astropy.wcs import WCS
from astropy.io import fits

wcs = WCS(AIA_171_IMAGE)
array = fits.getdata(AIA_171_IMAGE)
header = wcs.to_header()

aia = sunpy.map.Map(array, header)

[2018-10-13 08:03] nabobalis commented on #2750
@ritesh99rakesh Sure!

[2018-10-13 16:13] Cadair opened #2794 "Remove six support from sunpy.util.net"
As a follow on to #2771 we should just drop all the six stuff in that module and make it python 3 only

[2018-10-14 10:08] FeruzOripov commented on #2750
How to contribute ?

[2018-10-15 04:18] eamanu commented on #2781
Hi,

I cannot reproduce, exactly, the bug.

I try this, but the error is different, we are talking about the same problem?

[code]

[2018-10-15 07:53] nabobalis commented on #2781
Hi @eamanu, the error is the same. The difference is how IPython displays the traceback compared to the normal Python interpreter.

[2018-10-15 13:09] eamanu commented on #2781
Ok thanks!

[2018-10-16 17:08] eigenbrot commented on #2620
Hopefully PR #2799 takes care of this. I also changed the formatting of the remote_data mark to be in line with what is used for the figure mark.

[2018-10-17 07:37] sapnamish commented on #2578
i want to work on this issue

[2018-10-17 07:47] sapnamish commented on #2105
I'd love to work on this.can you tell me how to start? And how can i assign this issue to myself.Thanks!

[2018-10-17 08:01] sapnamish commented on #2733
I'd love to work on this issue.can you tel me how to start?

[2018-10-17 08:34] nabobalis commented on #2578
@sapnamish Go ahead!

[2018-10-17 08:36] nabobalis commented on #2105
@sapnamish I don't know much about the coordinate stuff, there was a previous PR with lots of comments here: https://github.com/sunpy/sunpy/pull/2360

[2018-10-17 08:39] nabobalis commented on #2733
@wafels Would this need to be a new example and not just addition to another example?

[2018-10-17 17:45] Naman9639 commented on #2762
I would like to work on this. Can you explain it a bit?

[2018-10-17 18:13] nabobalis commented on #2762
Currently our HelioViewer Client allows us to download jpeg files from the service. They (Helioviewer) have an a better API now (v2 which is linked in the original post) that allows us to also download the metadata of the jpeg files with a seperate function. We do not have that seperate function, which is what this issue is tracking.

This is also related to https://github.com/sunpy/sunpy/issues/2

[2018-10-18 03:53] Naman9639 commented on #2762
Ok got it

[2018-10-23 08:25] #2620 closed, assigned to nobody

[2018-10-24 14:44] Cadair commented on #2785
I have no idea why this is only happening on astropy-dev. What you are describing looks like the change introduced in #2723

[2018-10-25 12:04] Cadair opened #2806 "Rewrite instr.rhessi.get_obssum_filename"
Currently we use python-dateutil in `sunpy.instr.rhessi` to do some crazy month based logic. The issue with this is that sunpy.instr.rhessi is imported by both `sunpy.timeseries` and `sunpy.net` which means that we now have an optional dependency being needed by three other submodules.

Given the issues with rhessi like #2382 which stem from the same function, I think we should just rip the thing

[2018-10-26 22:19] #2142 closed

[2018-10-29 13:04] #2756 closed

[2018-10-29 15:40] ehsteve opened #2821 "Unexpected error on import of goes module"
### Description

When importing the goes instr module to get two simple functions
[code]
I ran into an error because it was trying to import the `hek` module which requires a package I had not yet installed.

### Expected behavior

Given that the functions I wanted are simple and should not require the `hek`, I was not expecting to need to have a package installed to support the `hek` module.

###

[2018-10-29 16:07] Cadair commented on #2821
This is related to the discussion I want to have in #2807 I will do that in there.

[2018-10-30 11:08] Cadair opened #2822 "Support as input, and use pathlib everwhere"
We should use pathlib now we are Python 3 only. We should make sure all the functions that take path-like inputs accept `Path` objects as well as using pathlib in places like `map.Map` to standardise out slashes over platforms and other quirks of paths.

First attempt at changing test files: #2891

If you plan to undertake this, the best suggestion is to focus on a submodule, one at a time and sen

[2018-10-30 20:05] jairideout commented on #2734
I opened a PR (#2824) to fix the issue.

[2018-10-31 21:33] jains8844 commented on #2822
For the mentioned issue, I have made a certain changes to the following files :

1. sunpy/map/map_factory.py
https://github.com/jains8844/Contri-to-Issues/blob/master/map_factory.py
2. sunpy/io/file_tools.py
https://github.com/jains8844/Contri-to-Issues/blob/master/file_tools.py
3. sunpy/io/ana.py
https://github.com/jains8844/Contri-to-Issues/blob/master/ana.py
4. sunpy/io/jp2.py
https://github.co

[2018-10-31 21:35] nabobalis commented on #2822
It would be easier to review any changes as a pull request.

But one suggestion off the top is that we do not allow `from pathlib import *`. You will have to use `import pathlib` instead.

[2018-10-31 21:42] jains8844 commented on #2822
Sure :+1:

[2018-10-31 22:06] nabobalis commented on #2822
Also you will need to fork the SunPy repo and then make those changes your fork, so you can then submit the pull request. I'm not sure we can take the code changes via another method.

[2018-10-31 22:06] jairideout commented on #2348
I found the issue in automodapi (https://github.com/astropy/sphinx-automodapi/issues/52) and submitted a PR with a minimal reproducible example and a potential fix (https://github.com/astropy/sphinx-automodapi/pull/53).

The issue is that `automodsumm` uses `__slots__` to define class members if the `__slots__` attribute exists, and any class derived from the `abc` or `collections.abc` modules wil

[2018-11-02 16:48] jairideout commented on #2348
The issue has been fixed in sphinx-automodapi (https://github.com/astropy/sphinx-automodapi/pull/53). I confirmed that the docs build correctly for `UnifiedResponse` (and any other classes deriving from an ABC) using the latest `master` branch of sphinx-automodapi.

I think this issue can be closed once sphinx-automodapi has a new release. Alternatively, could sunpy's doc requirements be updated t

[2018-11-02 16:52] jairideout commented on #2578
Alternatively, `aiaprep` could filter/ignore the `Warning` issued by `GenericMap.submap`, but that might silence other warnings in `submap` that actually need attention. Does anyone have thoughts on how to move forward with this issue?

[2018-11-03 15:29] nabobalis commented on #2578
Shouldn't that warning just be removed on master?

[2018-11-05 15:23] Cadair opened #2832 "Provide a better __repr__ for TimeSeries/TimeSeriesMetaData"
The `astropy.table.Table. __repr__` is much better than the SunPy TimeSeries one (which is not overloaded by the looks of it).

We should look at updating the one we have.

[2018-11-05 16:06] jairideout commented on #2578
👍, I'll submit a PR to remove the warning.

[2018-11-05 16:17] jairideout commented on #2578
Here's a small PR to fix this issue: https://github.com/sunpy/sunpy/pull/2833

[2018-11-05 17:14] #2578 closed

[2018-11-06 15:04] Cadair opened #2834 "The Sample Data example should include all the timeseries data"
Currently the [sample data overview](http://docs.sunpy.org/en/stable/generated/gallery/acquiring_data/2011_06_07_sampledata_overview.html) does not show plots of all the timeseries sample data.

So the sample data overview page has examples of GOES, RHESSI and we would like to add examples of NORH,NOAA for example.

[2018-11-07 10:43] Cadair commented on #2348
Thanks so much for fixing that @jairideout ! That's awesome. I will ask if astropy can bake a release for us :smile:

[2018-11-10 09:53] nabobalis commented on #2348
Just checked on latest doc build. Those members are now there!
So they should appear for stable once I trigger a rebuild as well.

Thanks again @jairideout

[2018-11-10 09:53] #2348 closed

[2018-11-10 10:29] Cadair commented on #2348
🎉🎉 thanks! @jairideout

[2018-11-12 17:12] jairideout commented on #2348
@nabobalis @Cadair, no problem! Thanks for following up about the fix working with the latest doc build.

[2018-11-13 15:22] #215 closed

[2018-11-13 15:22] #2231 closed

[2018-11-13 15:22] #2382 closed

[2018-11-13 15:22] #2672 closed

[2018-11-13 15:22] #2625 closed

[2018-11-13 19:11] dpshelio commented on #1147
@Cadair - is this still the case?

[2018-11-14 09:41] Cadair commented on #1147
yes, this is quite non-trivial to fix, our abstraction dosen't really facilitate it.

[2018-11-14 17:18] Cadair commented on #2806
I think we agreed on the way forward with this in #2808 so I am going to close it.

[2018-11-14 17:18] #2806 closed

[2018-11-15 11:21] nabobalis commented on #2597
I think this was resolved?

[2018-11-15 11:21] #2597 closed

[2018-11-15 11:25] nabobalis opened #2845 "Fix the Goes Test"
[code]

It triggers when it shouldn't, there is some logic error either in the function or the test.

[2018-11-16 14:04] #2740 closed

[2018-11-16 18:43] dstansby opened #2846 "Remove some coordinate frames from transformation graph in docs?"
Thanks to yours truly, it's now possible to create a custom coordinate transformation graph for documentation as of astropy 3.1: https://github.com/astropy/astropy/pull/7135

It might be nice to remove some of the non-solar physics coordinate systems in the current graph to make it more readable? Current graph is here: http://docs.sunpy.org/en/stable/code_ref/coordinates.html#module-sunpy.coordina

[2018-11-16 18:44] dstansby commented on #2406
It scrolls nicely now, thanks to whoever fixed it!

[2018-11-16 18:44] #2406 closed

[2018-11-16 18:45] dstansby commented on #2605
I'm going to close this since development is ongoing up in astropy for a `TimeSeries` object.

[2018-11-16 18:45] #2605 closed

[2018-11-16 18:45] dstansby commented on #2640
Going to close this in favour of the development of the astropy `TimeSeries`.

[2018-11-16 18:45] #2640 closed

[2018-11-17 12:34] nabobalis commented on #2784
How about we go:

* `~sunpy.time.parse_time`, `astropy.time.Time`, `str`

[2018-11-20 10:26] Cadair opened #2848 "Our Installing the Development Version of SunPy needs updating"
See here: http://docs.sunpy.org/en/stable/guide/installation/advanced.html#installing-the-development-version-of-sunpy this should recommend using pip and probably using the `pip install -e` method.

[2018-11-20 12:44] nabobalis opened #2849 "Narrative documentation, one sentence per line"
I personally am not a fan that we break up sentences in our rst files.
Not only do we break sentences in nearly random places, any change made makes the diff much larger than it needs to be.

Thus I am suggesting we move to one sentence per line in all our RST files and **only** the RST files.

However, I probably should ask first before I butcher all the RST files.

[2018-11-20 13:02] Cadair commented on #2784
I don't really like `~sunpy.time.parse_time` because it's not strictly a *type*. On the other hand I feel like linking to the thing that lists the types we can handle might be useful...

[2018-11-20 13:08] nabobalis commented on #2784
We should probably documentation the string formats and the types we support but I'm not sure where or how.

[2018-11-20 13:09] Cadair commented on #2784
It's also probably worth referring to this: https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard

[2018-11-20 13:22] Cadair commented on #2846
Sounds reasonable. We could have the full graph on a separate page and link to it maybe? Bonus points for adding a `other astropy coordinate frames` bubble with a link to the graph!!

[2018-11-20 21:54] dpshelio commented on #2845
It seems correct, there are no GOES satellites on that day (1983-05-01 00).

[2018-11-20 21:58] dpshelio commented on #2784
What about:
[code]

[2018-11-20 22:02] dpshelio commented on #2090
@amandashack don't leave us telling about a sweet but without showing it :wink:  - are you building a package or have some repository? That would help people to collaborate.

[2018-11-20 22:04] nabobalis commented on #2784
That works for me.

[2018-11-20 22:05] nabobalis commented on #2845
Exactly, the input sometimes randomly generates on occasion an input that breaks.

[2018-11-21 12:14] samaloney opened #2850 "lightcurve doesn't respect sunpy.config set dynamically"
### Description
The [docs](http://docs.sunpy.org/en/stable/guide/customization.html) indicate sunpy configuration can be dynamically updated but this doesn't seem to work when using lightcurve

### Expected behavior
After updating the config dynamically, specifically the download dir,  data should be downloaded there instead of the default or sunpyrc setting.

### Actual behavior
Data is not downl

[2018-11-22 10:13] Cadair commented on #2845
I *think* this is no longer an issue on the time branch. Fwiw.

[2018-11-22 17:41] Cadair opened #2854 "Simplify wcsaxes_compat post astropy 3.1"
After we are depending on astropy 3.1+ we can remove a lot of the compatibility code in wcsaxes_compat as there have been many improvements to the defaults with regards to solar data

[2018-11-23 15:20] #2727 closed

[2018-11-23 15:20] #2850 closed

[2018-11-23 17:58] Cadair opened #2855 "ImageAnimatorWCS unit_x_axis and unit_y_axis do not follow image_axes"
The units are always applied to the last two dimensions of the WCS, which is just wrong.

[2018-11-28 13:42] dstansby opened #2858 "The `representation` keyword/property name is deprecated in favor of `representation_type`"
Building the docs with astropy `3.1rc1` results in lots of warnings like:
[code]
I'm guessing fixing this just requires a keyword argument name change in some places.

[2018-11-29 17:08] Cadair commented on #2858
This should be fixed in rc2 it's an astropy bug.

[2018-11-29 17:08] #2858 closed

[2018-11-30 03:41] #2005 closed

[2018-11-30 20:15] dpshelio commented on #664
Will we ever close this issue? Should be renamed to HMI if that's the main one and create one issue per source?

[2018-11-30 21:59] Cadair commented on #664
Here is a good overview of what needs testing: https://codecov.io/gh/sunpy/sunpy/tree/master/sunpy/map/sources

[2018-12-01 17:47] nabobalis opened #2860 "The purpose of the HelioviewerClient"
This arose from #2801 and general chatting.

The Helioviewer [API is quite extensive](https://api.helioviewer.org/docs/v2/) and the question arises, what do we want to support directly with our Client. What we support ties in directly with what we want our Clients purpose to be.

In my eyes we do not want to support the entire API as I think that is too much work and expands the scope of our Clien

[2018-12-01 19:03] nabobalis commented on #2860
One suggestion from @Cadair:

I wonder if we want our api to facilitate people writing fancy clients in Python?
i.e. implement a low level wrapper for all the API but only expose a little bit of it through a user-facing API in SunPy.
Which could mean we do a GSOC project for a GUI to helioviewer.

[2018-12-01 19:11] Naman9639 commented on #2860
That is a very good suggestion. It will not only let the user use the API to its full extent but will also implement data abstraction

[2018-12-03 22:10] Cadair commented on #2849
I could get on board with this.

[2018-12-10 17:42] darthgera123 commented on #2832
i would like to help out with this issue. please guide

[2018-12-10 17:45] Cadair opened #2864 "Increase visibility of differential rotation code in docs"
We had a report of people not knowing we had it.

[2018-12-10 18:22] nabobalis commented on #2832
@Cadair Could you expand this?

[2018-12-10 19:03] Naman9639 commented on #2438
Is this issue still open? Can I work on it?

[2018-12-11 22:45] darthgera123 commented on #2822
can i work on this issue?

[2018-12-11 22:46] nabobalis commented on #2822
Sure

[2018-12-11 23:42] darthgera123 commented on #2822
umm the required suggestions are already implemented in the mentioned files above

[2018-12-11 23:44] nabobalis commented on #2822
Those files are not in our repo.

[2018-12-11 23:45] darthgera123 commented on #2822
so what exactly am i required to do? because the repo i forked & cloned had the suggestions implemented

[2018-12-11 23:49] nabobalis commented on #2822
What repo did you fork? I'm not aware that our repo (sunpy/sunpy) has pathlib support.

While there is a pull request open that tries to add support. It has been untouched for a while now. You could start there.

[2018-12-11 23:54] darthgera123 commented on #2822
i have forked this repo only. Could you please mention the PR please, so that i could start

[2018-12-11 23:58] nabobalis commented on #2822
While we might have pathlib imported in places I'm relatively sure we don't support it or use it internally.

The pull request is: https://github.com/sunpy/sunpy/pull/2828

I would recommend having a read of the pathlib documentation before you start so you can get familiar with it.

[2018-12-12 05:09] ishanisri commented on #2762
Is this issue still open? If yes, I would like to work on it.

[2018-12-12 07:00] Naman9639 commented on #2762
Yes this issue is still open but before working on this we need to shift our API to version 2 and we are working on that. There are a lot of changes in the helioviewer code and that code still needs to be reviewed. We can only add that support after our API exclusive support the version 2 because downloading header features is supported on by the version 2 of the API

[2018-12-12 09:53] nabobalis commented on #2762
@ishanisri It is possible to do if you base your work off @Naman9639 code.

[2018-12-12 09:55] nabobalis commented on #2834
It would seem that some of the sunpy sample data is missing from that example.

Specifically the `sunpy.sample_data.<name>_TIMESERIES` ones.
These would need to be plotted within that example.

[2018-12-12 10:23] Naman9639 commented on #2762
But that code still needs review right? @nabobalis

[2018-12-12 17:43] Cadair commented on #2864
I am not entirely sure how we would go about doing this, it's very easy to search for and only one click into `sunpy.physics` away to the API docs. Maybe adding it to the user guide?

[2018-12-12 17:44] wtbarnes commented on #2864
Duplicate of #2565

[2018-12-12 17:45] #2845 closed

[2018-12-12 17:48] wtbarnes commented on #2864
See also #2600

[2018-12-13 17:51] DanRyanIrish commented on #2581
@Cadair.  An idea for this Animator API.  Currently it's agreed that going forward the ```axis_ranges``` will provide the pixel edges along each axis (or ```None``` if the user does not want to define them themselves.  This has a numbers of advantages regarding generalisation and non-ambiguity as outlined above.  However, if a user prefers to supply the pixel centres -- as will often be the case,

[2018-12-13 19:18] Cadair opened #2868 "Potential issues with differential rotation"
As was pointed out here https://github.com/sunpy/sunpy/pull/2706#issuecomment-409919240 there are some issues with our differential rotation implementation.

@wafels is working on updates to the differential rotation code which better handles observer positions, we should make sure those changes correct these discrepancies.

[2018-12-13 20:38] Cadair opened #2869 "Use appdirs for our config file locations"
https://pypi.org/project/appdirs/

[2018-12-13 23:11] wtbarnes opened #2870 "Map does not support saving masks in FITS"
Some details:

You would need to write to a new HDU for the FITS file.
The biggest issue is that `map_factory` can't handle combining FITS HDUs at the moment as it assumes a strict 1:1 HDU<> Map arrangement.

Changing this is a complex task and not for someone new to SunPy.

[2018-12-14 19:14] Naman9639 commented on #2762
I have a doubt. In what format do we want the data to be downloaded because the API returns XML data. So do want to download the .xml file or we want it some other format?

[2018-12-14 19:16] nabobalis commented on #2762
Probably convert it to a dictionary.

[2018-12-14 19:18] Naman9639 commented on #2762
ok

[2018-12-14 20:17] #993 closed

[2018-12-14 20:17] #994 closed

[2018-12-14 20:17] #2155 closed

[2018-12-15 17:24] nabobalis opened #2871 "Guide for database skipped"
Within `docs/guide/acquiring_data/database.rst`, are many database examples. Recently we have to skip the entire file due to one big issue.

The results of the online file retrieval varies on the source of the test or even the day. Basically if any of the online servers either report different data or are down, the file will fail. This means that all the large text need to be updated and it's very

[2018-12-16 22:53] nabobalis commented on #2287
DROP IT.

Also did you revert that commit?

[2018-12-17 10:40] Cadair commented on #2287
I did.

[2018-12-17 11:10] Cadair opened #2874 "Work towards mocking all the online tests in SunPy"

[2018-12-17 11:17] Cadair commented on #2874
I believe @Chicrala is taking `sunpy/net/dataretriever/test_norh.py` and `sunpy/net/dataretriever/test_fermi.py`

[2018-12-17 13:09] Cadair commented on #2874
I generated this report on the tests which are covered by our online tests but not our offline ones: https://pste.eu/p/pXZS.html

[2018-12-17 14:18] Cadair opened #2875 "Check the VSOClient documentation is building"
Also, we should check that it is actually documented properly

[2018-12-18 05:19] ishanisri commented on #2762
Okay, so as I am new to this, will I have to clone @Naman9639's fork of this repo to work on this issue?

[2018-12-18 05:41] ishanisri commented on #2834
So the sample data overview page has examples of GOES, RHESSI and we would like to add examples of NORH,NOAA etc?

[2018-12-19 17:24] nabobalis opened #2877 "Helioviewer Documentation Review"
The Helioviewer rst file within our docs folder needs a review and a tidy up as its quite old and might contain wrong information.

[2018-12-19 17:46] wafels commented on #2860
How about removing all the helioviewer (HV) code from SunPy and making it an affiliated package?  I think the Helioviewer API is not really part of core SunPy.  Writing a Python client for the HV API would be the start of a helioviewer.org-like GUI in Python.

[2018-12-19 17:47] wafels commented on #2860
See also #2877

[2018-12-19 17:48] wafels commented on #2868
See https://github.com/wafels/sunpy/tree/fixsolarrotatecoordinate

[2018-12-19 17:48] nabobalis opened #2878 "Accessing the Helioviewer sourceid with fewer keywords."
Currently for the Helioviewer Client, two functions (`get_closest_image` and `download_jp2`) need you to specify 4 keywords to access the `source_id` dictionary. These are `observatory=None, instrument=None, detector=None, measurement=None`.

We want to be able to support a user submitting say two keywords like for example, `observatory=SDO, measurement=171` or `instrument=AIA, measurement=171`.
T

[2018-12-19 18:53] Cadair commented on #1859
The big thing we should use the logger for imo is warnings, much like astropy do [here](https://github.com/astropy/astropy/blob/51c619e5ffe7aaf748e7c34d08c6336762decc74/astropy/logger.py#L139).

[2018-12-19 18:54] #2089 closed

[2018-12-19 18:54] Cadair commented on #2089
This was closed by #2866

[2018-12-20 04:31] harshmathur1990 opened #2879 "Crash while saving sunpy Map if it has comments"
### Description
If a level1 fits file has comments in it, then to make it level 1.5, aiaprep is invoked, then saving the resultant Map will lead to crash throwing Value Error

### Expected behavior
The save method should run normally and save the map in FITS file.

### Actual behavior
The Map save method threw Value Error

### Steps to Reproduce

1. Download hmi.ic_nolimbdark_720s.20151217_000000_

[2018-12-20 08:09] pulkitsapra commented on #2878
Hi Can i take this issue?

[2018-12-20 08:47] nabobalis commented on #2878
Sure. This issue partly depends on the currently open pull request #2280.  You will want to check the current structure of the source of dictionary.

I do think this problem is generic and the solution could become a function we call.

[2018-12-20 09:05] Cadair commented on #2879
Can you link or upload an example FITS file?

[2018-12-20 12:01] harshmathur1990 commented on #2879
Here it is:
https://drive.google.com/open?id=1au7whkAVUBNHhl-ccRxbwDmKUG2czXiO

[2018-12-21 21:05] dpshelio commented on #568
I've just tried this query (0.9.5) and found maybe some other problem... If I don't specify instrument it returns nothing, if I do it works as expected.

[code]

[2018-12-22 18:34] dpshelio commented on #1005
I'm confused with this issue that I've opened... The result it's sorted by date, which make sense as that's what HEK provides. To sort it by magnitud this works:

[code]
This gives the same result and it's more robust (we've got tests):

[code]

I believe we can close this, maybe we could put this as an example on the gallery.

[2018-12-23 12:37] wafels commented on #1005
More generally it would be good to have an HEK event class that holds event
information. Would the current way map is implemented work for events too?

On Sat, Dec 22, 2018, 13:34 David Pérez-Suárez <notifications@github.com>
wrote:

[2018-12-26 18:41] nabobalis commented on #2879
So if happens if you `aiaprep` the file first?

If I open and then just save out the supplied file, we seem to have no issues with `Map.save`.

[2018-12-27 21:51] dpshelio commented on #2788
Did #2775 fix this??

[2018-12-27 22:50] nabobalis commented on #2788
Lets go with yes?

[2018-12-27 22:50] #2788 closed

[2018-12-29 21:41] dpshelio commented on #1589
The query on the website is taking forever today, and it may be the reason why we get 0 results. If we are getting a time out we should say so and not return nothing (also, the data cart doesn't exist anymore, which I had always thought was a persistent id for data analysis replication).

However,  if I restrict it to only NSO I get results
[code]

Additionally, I think I've found another problem

[2018-12-30 14:49] Cadair commented on #1589
Querying fido without an instrument is... brave. A lot of (all?) of the dataretriever clients will only work if their instrument is explicitly specified.

To fix the JSOC thing, we should modify the `JSOCClient._can_handle_query` method to only return `True` if min == max.

[2018-12-30 20:19] dpshelio commented on #221
We have `GenericMap` with coverage [more than 90%](https://codecov.io/gh/sunpy/sunpy/src/master/sunpy/map/mapbase.py). I belive we can close this issue.

[2018-12-31 15:49] #221 closed

[2018-12-31 19:58] #2280 closed

[2018-12-31 20:20] darthgera123 commented on #2822
sorry for replying so late but do you want me to refactor all such files in a way where we replace os.pathlib with functions from pathlib module right? Please reply

[2019-01-01 17:34] Naman9639 commented on #2762
@ishanisri are you still working on this issue?

[2019-01-02 14:55] Chicrala commented on #2874
@Cadair  Is this link broken or it actually should display an error "404 not found."?

[2019-01-02 19:04] darthgera123 commented on #2822
created a pull request please review. Ill finish the work accordingly

[2019-01-03 12:39] Cadair commented on #2874
boo it must have deleted it after some amount of time :woman_facepalming:

[2019-01-04 13:44] Cadair commented on #568
I think we removed `.show()` from `vso.QueryResponse`?

@dpshelio You should open a separate issue about querying without instrument, I think it's a use case which is poorly supported.

[2019-01-04 13:45] Cadair commented on #568
Yep, this is no longer a method on `QueryResponse`

[2019-01-04 13:45] #568 closed

[2019-01-05 09:54] nabobalis commented on #2762
That's no problem. The only update is that the API changes occurred.

[2019-01-05 10:16] dpshelio commented on #191
I think we got point 1 and 2 already. 3 looks useful and I think the db can handle that. 4 and 5 may be attractive for some people.
6 can be helpful too, but it would need to set a list of rules regarding when to delete old files or pause the download.

I propose to break this issue in smaller ones, so they are easier to track.

[2019-01-05 17:33] nabobalis opened #2886 "Remove all warnings from our test suite (module by module)"
Currently, we have have silenced all the warnings of our test suite using within `setup.cfg`:

[code]

Removing this reveals a multitude of issues that need fixing.
**Wile it might tedious and "easy", this will require a large amount of time.**

This issue involves several steps we suggest several items to be aware of.

* `addopts = -p no:warnings` is located in `setup.cfg`. We do not want this re

[2019-01-06 11:05] dpshelio commented on #2610
It seems working now. If I've understood correctly all links in the source code (`Quantity`, `GenericMap`, `Rebinning`, `edit on github` and `source`) are shown as such and work. I'm confused because I've checked 0.8.5, 0.7.9 and 0.6.5 documentation and the links worked there too. I've noticed though that the unnamed got double apostrophe!!
On the other hand, do you mean the links to the possible

[2019-01-07 15:51] Naman9639 commented on #2870
@wtbarnes I would like to work on this issue.

[2019-01-07 16:02] nabobalis commented on #2870
@Naman9639 Having spoken to some people, this is not a task that is straightforward and requires some good knowledge of how FITS files work and how `map_factory` works.

[2019-01-07 16:03] Cadair commented on #2870
Yeah the biggest issue here is that `MapFactory` currently has no way of combining different HDUs in the FITS file into one Map. It assumes that each HDU corresponds to a separate Map, changing that would require a fair bit of design work.

[2019-01-07 16:13] Naman9639 commented on #2870
Oh ok

[2019-01-07 17:44] dpshelio commented on #555
Now that `get` is deprecated, does [`fetch`](http://docs.sunpy.org/en/stable/api/sunpy.net.vso.VSOClient.html#sunpy.net.vso.VSOClient.fetch) has the same problem? I think it's still undocummented - we should improve the docs on [`Result`](https://github.com/sunpy/sunpy/blob/master/sunpy/net/download.py#L184).

[2019-01-08 16:23] Naman9639 commented on #2855
I would like to work on this issue

[2019-01-09 09:55] nabobalis commented on #2855
So the issue seems to be that [here](https://github.com/sunpy/sunpy/blob/master/sunpy/visualization/animator/image.py#L228
) we have hard coded that `axes.coords[2]` and `axes.coords[1]`, we assume that `x` and `y` are those two indexes, but if a user sets `image_axes=[-1, -2] `, i.e., in opposite order then it's wrong.

I'm not sure how it should be fixed as of this point.

[2019-01-09 12:52] Naman9639 commented on #2855
Can we not restrict the user from setting those values?

[2019-01-09 12:57] nabobalis commented on #2855
You mean `image_axes=[-1, -2] `? Unfortunately not.

[2019-01-09 13:31] yashrsharma44 commented on #2874
Hey, I was interested in working some of the portions. Can someone explain the progress, and help me out with the parts that I can work upon?

[2019-01-09 16:20] dstansby opened #2889 "Links on sub-package status page broekn"
http://docs.sunpy.org/en/stable/code_ref/stability.html - the links in the table don't seem to be working for me, they just go to a readthedocs error page.

[2019-01-09 16:40] nabobalis commented on #2874
There is not a fixed process. The idea is to replicate any test that has a `@pytest.mark.remote_data` decorator  and use the mock library (linked in the original post) to replace the online response with a offline version.

[2019-01-09 17:11] #2772 closed

[2019-01-09 18:58] nabobalis commented on #2855
I'm not sure I follow.

[2019-01-09 20:34] pllim opened #2890 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [ ] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [ ] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-10 10:48] nabobalis commented on #2855
I am not aware that there is a formal example that does that within SunPy. (We should add one).

But there is this comment from an open pull request: https://github.com/sunpy/sunpy/pull/2566#issuecomment-379249252

[2019-01-10 16:09] #2871 closed

[2019-01-10 17:18] Naman9639 commented on #2855
So for now I was thinking that if the user enters image_axes=[-1,-2] then we can simply put an if statement in the init function which just reverse the image_axes list. In this way even if the user enters the image_axes in reverse order it won't give wrong answer

[2019-01-10 17:41] nabobalis commented on #2855
I believe that the issue is that `ImageAnimatorWCS` allows n-dimensional input. So they could enter any `image_axes`.

[2019-01-10 18:02] Naman9639 commented on #2855
Ahh ok I'll see what I can do

[2019-01-12 17:02] Naman9639 commented on #2855
I am not sure how to approach it.

[2019-01-12 17:05] nabobalis commented on #2855
I'm not sure there is a straightforward answer. It would probably have to check the WCS information along side image_axis.

[2019-01-12 17:06] Naman9639 commented on #2855
I'll try all that I can do.

[2019-01-13 07:19] nabobalis commented on #2855
Yeah, it does seem that `self.slices_wcsaxes` has that information. So that could work. But I think we need to come up with a bugged example to check that the fix works.

[2019-01-13 16:51] dpshelio opened #2895 "VSO to return results only based on a time query"
VSO's website can work with this type of queries ([firs option](https://sdac.virtualsolar.org/cgi/search)). However, the query below takes quite long time...
[code]

![100 seconds and searching](https://user-images.githubusercontent.com/963242/51087985-49894200-1752-11e9-9d28-fd8acc968a27.png)

I believe what's going on with SunPy is that it times out without getting any of the answers and returns

[2019-01-13 16:53] dpshelio commented on #2895
@AlisdairDavey - I think this is also a problem on VSO's side.

[2019-01-13 17:03] dpshelio commented on #2287
When will we be closing this issue?

[2019-01-13 17:10] dpshelio commented on #1939
@ludoro certainly you can!! Though be aware that we won't know whether we will be participating in GSOC till [Google announces the organisations they've chosen (on Feb 26th)](https://summerofcode.withgoogle.com/how-it-works/#timeline).

[2019-01-13 17:30] nabobalis commented on #2287
When we do more changes.

[2019-01-14 08:55] #2875 closed

[2019-01-14 10:51] Cadair commented on #555
I think this is still a problem, but will be obsoleted by #2797

[2019-01-14 11:01] Cadair commented on #2874
Also for the record, it's worth pointing out that there should still be some online tests to detect changes to the remote services etc. The objective of this issue is to ensure that as much of the sunpy code is tested offline as possible.

[2019-01-14 11:05] Cadair commented on #2889
yeah the links appear to have `code_ref` in them twice: http://docs.sunpy.org/en/stable/code_ref/code_ref/coordinates.html

[2019-01-14 11:07] Cadair commented on #2889
This should be a case of removing the `code_ref` from this template https://github.com/sunpy/sunpy/blob/master/docs/dev_guide/stability.rst I think. @nabobalis ?

[2019-01-14 11:13] nabobalis commented on #2889
Probs.

[2019-01-14 11:16] Chicrala commented on #2874
@Cadair, I was discussing that with @nabobalis and we were wondering that maybe the best approach would be to ''duplicate'' the tests with an offline version of them.

[2019-01-14 11:58] Cadair commented on #2874
The best thing to do is to test the mocks, i.e. if you mock the response to an API call, you want a test to check that that response dosen't change.

[2019-01-14 20:45] Cadair opened #2896 "Add support for HCI and other coordinate systems In Franz & Harper (2002)"
See here for the details of the frames we want to add: http://jsoc.stanford.edu/doc/keywords/coordinates/Franz_Harper_2002.pdf

This requires understanding what a coordinate system is and the mathematics behind it.
Also how they are implemented in [Astropy.](http://docs.astropy.org/en/latest/api/astropy.coordinates.BaseCoordinateFrame.html)

The list of heliographic systems in Franz&Harper is:

3.

[2019-01-15 14:47] nabobalis commented on #2890
Thanks for the update!
I'm pretty sure we do all that already. Tho we do define MPLBACKEND

[2019-01-15 14:47] #2890 closed

[2019-01-15 14:52] nabobalis commented on #2877
closed by #2883

[2019-01-15 14:52] #2877 closed

[2019-01-16 10:19] dpshelio commented on #856
Yes... it was a good idea... is it still?

[2019-01-16 10:22] nabobalis commented on #856
Yes. It's something I am in the partial process of doing

[2019-01-18 20:36] #2879 closed

[2019-01-18 21:04] shpsi commented on #1939
@Cadair @wtbarnes @dpshelio Hey guys! I am really excited to work on this issue.
During my previous internship, I did similar project (handling remote data from s3 to local cache ie. Redis). I am not over exaggerating but I find myself pretty qualified to do this project task in lesser time due to my experience.
Please let me know how can I get started? I am thinking to do some contribution before

[2019-01-18 21:10] nabobalis commented on #1939
Hi @shpsi, I would suggest having a look over: https://github.com/sunpy/sunpy/wiki/GSoC and
https://docs.sunpy.org/en/latest/dev_guide/newcomers.html for how to start getting involved with SunPy.

[2019-01-19 18:04] Naman9639 commented on #2889
I would like to work on this

[2019-01-20 17:09] Naman9639 commented on #2762
Um, is this issue still open and may I work on this?

[2019-01-20 17:12] nabobalis commented on #2762
Yes.

[2019-01-20 18:52] Naman9639 commented on #2762
We want the header information to be in XML format or do we want to print it on the terminal?

[2019-01-20 19:02] nabobalis commented on #2762
We probably want it to returned in a dictionary format.

[2019-01-20 19:04] Naman9639 commented on #2762
Ok I will do that.

[2019-01-22 10:02] shaswats007 commented on #1970
Is this issue still open? I'd like to work on it.

[2019-01-22 10:04] nabobalis commented on #1970
Yes and sure go ahead.

[2019-01-22 11:40] nabobalis commented on #224
Coverage is 100%: https://codecov.io/gh/sunpy/sunpy/src/master/sunpy/time/timerange.py

[2019-01-22 11:40] #224 closed

[2019-01-22 11:43] #226 closed

[2019-01-22 11:47] nabobalis commented on #1988
Closed by #1988

[2019-01-22 11:47] #1988 closed

[2019-01-22 12:10] nabobalis commented on #832
Closed by #858

[2019-01-22 12:10] #832 closed

[2019-01-22 12:24] #960 closed, assigned to nobody

[2019-01-22 13:48] #1442 closed

[2019-01-22 14:36] nabobalis commented on #2895
Do we want to support this kind of search? I am not sure we want to allow this kind of search.

[2019-01-22 14:48] nabobalis commented on #1662
Se

[2019-01-22 14:48] #1662 closed

[2019-01-22 14:49] nabobalis commented on #1685
See https://github.com/sunpy/sunpy/issues/1630 as well.

[2019-01-22 15:38] nabobalis commented on #2055
Duplicate of another issue #664

[2019-01-22 15:38] #2055 closed

[2019-01-22 15:45] #2100 closed

[2019-01-22 15:47] nabobalis commented on #2122
While this is a bug, I don't think we will fix it and with master now 3.6+, I will close this.

[2019-01-22 15:47] #2122 closed

[2019-01-22 15:55] nabobalis commented on #2745
See #2696, #463, #218.

[2019-01-22 16:17] nabobalis commented on #2308
I'm gonna close this as I think we are ok now. But if you think otherwise @wafels, we can either reopen this or a new issue.

[2019-01-22 16:17] #2308 closed

[2019-01-22 16:56] nabobalis commented on #2617
Will this be fixed by #2894?

[2019-01-22 17:47] nabobalis commented on #2794
I thought we did this here https://github.com/sunpy/sunpy/pull/2837

[2019-01-22 17:47] #2794 closed

[2019-01-22 18:06] nabobalis commented on #2602
We renamed MapCube, so is it safe to close this?

[2019-01-22 18:12] nabobalis commented on #2628
This was fixed by #2666?

[2019-01-22 18:13] #2628 closed

[2019-01-22 18:35] nabobalis commented on #2710
Sure but the fix is probably not gonna be backported.

[2019-01-23 01:50] darthgera123 commented on #2878
are there any preset values for the different constants?

[2019-01-23 01:51] darthgera123 commented on #2896
i would like to help with this issue. Please guide

[2019-01-23 08:22] nabobalis commented on #2896
This involves firstly reading the paper and understanding the mathematics of the coordinate frames and how they relate to other frames.

I would suggest that you try to focus on the issue you are already tackling.

[2019-01-23 10:57] Cadair commented on #1661
This isn't actually fixed as it's waiting for an upstream fix to the VSO that @sudozer is working on.

[2019-01-23 10:58] Cadair commented on #1661
To be clear, #1916 added the ability to do it, but we can't actually use the secondary endpoint at SDAC yet. This also required #2866 as a prerequisite to be able to connect to SDAC because of SSL, which should be tracked in #2047

[2019-01-23 10:59] Cadair commented on #2047
All the roadblocks to using a full https stack for VSO should have been removed in #2866, however, I believe we are waiting for some upstream fixes in the VSO before we can migrate to the https only SDAC endpoint.

[2019-01-23 11:02] Cadair commented on #2710
I would be ok with wont-fix'ing this as long as we document it in the 0.9 branch somewhere prominent.

[2019-01-23 11:03] #2602 closed

[2019-01-23 11:06] nabobalis commented on #2710
I can do that.

[2019-01-23 11:06] Cadair commented on #2690
No I think I mean like this:
[code]

[2019-01-23 11:08] Cadair commented on #2895
I think we want the VSOClient to support it, as it's a valid VSO query. I think, *in theory* I would also like Fido to be able to support this, but it would require a slightly larger refactoring in Fido.

[2019-01-23 11:09] Cadair commented on #2617
@mbobra could you provide us a script to recreate this, so we can test if it is fixed by #2867 ? :)

[2019-01-23 11:13] nabobalis commented on #2895
I am sure, it is a valid search. But it kind of feels like we are DDOSing the VSO with that kind of search.

[2019-01-23 11:13] Cadair commented on #2710
@aringlis if you get a chance to test this out on the master branch and make sure it's all ok sometime that would be great :smile:

[2019-01-23 11:15] #2741 closed

[2019-01-23 14:39] sudozer commented on #2895
yes

At SDAC we have NASA-mandated limits to the filesize of the actual xml message sent to the machines (modsecurity).  We have had issues in the past with users sending very large getdata requests and having the xml message be large enough to trigger that failure & return a code 413.

We do not have a hard "you cannot send a query this broad" backstop anywhere in the code.  Certain providers do

[2019-01-23 18:39] jhourcle commented on #2895
The problem is that the VSO needs to get results from all data providers so that it can merge them together to return a response to the client.

If any of the data providers are slow to respond, it can result in the VSO not being able to respond before the client times out.  When someone sends a query that *only* has a time range, a lot of providers are contacted (as there's no reason to exclude t

[2019-01-23 18:42] yashrsharma44 commented on #2781
Can I work on this issue?

[2019-01-23 18:44] nabobalis commented on #2781
Sure, but we do have an open pull request: https://github.com/sunpy/sunpy/pull/2796 on it.

[2019-01-24 00:16] bsipocz opened #2905 "Pip installing sunpy dev fails"
With `ci-helpers` I run into this issue for both travis/linux and appveyor:

Please have a look and open a PR in `ci-helpers` with the suggested fix for the case of `SUNPY_VERSION='dev'`

[code]

[2019-01-24 00:49] mbobra commented on #2617
@Cadair Yes! [Here you go](https://nbviewer.jupyter.org/github/mbobra/calculating-spaceweather-keywords/blob/master/movie_test_image_animator.ipynb).

[2019-01-24 03:05] ishanisri commented on #2645
hi! I would like to contribute to the issue.
 So in this issue, just the `.columns` attribute has to be changed to `.column_names` in TimeSeries?

[2019-01-24 08:47] nabobalis commented on #2645
We should probably match astropy which use .colnames if I recall.

[2019-01-24 10:18] nabobalis commented on #2905
We have a fix for it here: https://github.com/sunpy/sunpy/pull/2906

[2019-01-24 12:59] ishanisri commented on #2645
Yeah I checked it is `.colnames` in astropy . So I will change that and make a PR?

[2019-01-24 13:06] nabobalis commented on #2645
Sure. It probably needs to be changed anywhere it is used in text as well.

[2019-01-24 13:37] ishanisri commented on #2645
The documentation?

[2019-01-24 13:37] nabobalis commented on #2645
Yeah.

[2019-01-24 13:44] nabobalis commented on #2645
Probably should be done in one PR?

[2019-01-24 13:53] #2905 closed

[2019-01-24 13:56] ishanisri commented on #2645
No issues. I will make a single PR then

[2019-01-24 16:58] aringlis commented on #2710
@Cadair I tried to check this but got a whole load of merge conflicts when pulling the 0.9 branch?!

[2019-01-24 17:00] nabobalis commented on #2710
You mean pulling master into the 0.9 branch?

[2019-01-24 17:03] aringlis commented on #2710
Ugh, I think I misread - where is this bug fixed? In master?

[2019-01-24 17:06] nabobalis commented on #2710
Yeah It is fixed (at least we think so) in master.

[2019-01-24 17:22] aringlis commented on #2710
Ok, @Cadair @nabobalis I tested the ```fermi.met_to_utc``` function in master and it appears to correctly account for leap seconds now.

[2019-01-24 17:23] nabobalis commented on #2710
That is good news. I added a warning to the function in the 0.9 branch but I don't think we can backport a fix.

[2019-01-24 17:55] ishanisri commented on #2645
No issues. I will make a single PR then...But I had something else to ask too, since I forked and cloned this repo, is there a way to check after making changes that this works and does not break at any point before committing it and making a PR?

[2019-01-24 18:10] nabobalis commented on #2645
Yes, you can run the tests we have locally.

`python setup.py test` or running `pytest` (with all the dependencies installed.

[2019-01-24 18:45] ishanisri commented on #2645
I ran the tests using `python setup.py test ` as you mentioned, but I get this error. It does not seem to me due to the changes made in timeseries.

The error is :
`home/ishani/anaconda3/envs/sunpy-dev/lib/python3.7/site-packages/astropy/io/fits/file.py:334: in readarray
    buffer=self._mmap)
E   TypeError: buffer is too small for requested array `

[2019-01-24 18:47] nabobalis commented on #2645
No that should not error, its just a warning message.

[2019-01-24 19:00] ishanisri commented on #2645
Yeah so I get the following 2 errors in red when I run the test:
`=================================================================== ERRORS ===================================================================
________________________________________ ERROR collecting sunpy/map/sources/tests/test_xrt_source.py _________________________________________
sunpy/map/sources/tests/test_xrt_source.py:19: i

[2019-01-24 19:16] nabobalis commented on #2645
So looking at `test_xrt_source.py:19`, (the file needs to be rewritten it seems) the file should output a warning but I do not understand why its causing an error on collection like that.

At this point, I would open the pull request and we can discuss more there.

[2019-01-24 20:09] wafels opened #2908 "Tighter definition of the bottom left and top right coordinate map properties required?"
### Description

Map provides the bottom left and top right coordinates as properties. The issue is that the meaning of the positions described by these coordinates is not obvious.

### Expected behavior

The expected behavior is that the meaning of these coordinates is consistent.

### Actual behavior

It appears that map.bottom_left_coord is the position of the lower left hand vertex of that pix

[2019-01-24 21:02] Cadair commented on #2908
Hmmm. I thought all the pixel references should be centre of the pixel. I will investigate.

[2019-01-25 07:30] Cadair commented on #2896
Yes that makes sense.

[2019-01-25 11:08] Cadair opened #2910 "Support Observer Location and other Properties on Astropy WCS objects"
In Astropy 3.1 new APIs were added to `astropy.wcs.WCS` [1] these APIs (specifically for the context of the rest of this issue, `WCS.pixel_to_world`) make use of the existing [`wcs_to_celestial_frame`](https://github.com/astropy/astropy/blob/master/astropy/wcs/utils.py#L178) functionality in Astropy, which SunPy [extends](https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/wcs_utils.py) t

[2019-01-25 11:36] dstansby commented on #2896
The list of heliographic systems in Franz&Harper is:

3.2 Heliographic systems
- [ ]  HGC (HelioGraphic Coordinates)
- [ ] HEE (Heliocentric Earth Ecliptic)
- [ ] HEEQ (Heliocentric Earth EQuatorial)
- [ ] HCI (HelioCentric Inertial)

[2019-01-25 15:24] #2710 closed

[2019-01-25 16:09] nabobalis commented on #2288
I think we can close this, WCSAxis, allows a user to tidy up their plot by calling a range of functions. I do not think we need a function to do this now.

Unless you have any objections @DanRyanIrish.

[2019-01-28 16:37] sudozer commented on #1661
The URL to the SDAC wsdl is https://sdac.virtualsolar.org/API/VSOi_rpc_literal.wsdl , and the port is sdacVSOi.  I'm taking a look at the client to see how the new port is intended to work into the failover code.

[2019-01-28 20:14] #1661 closed

[2019-01-29 03:19] wafels commented on #2908
From the FITS paper -  "Coordinate values normally correspond to the center of all pixels (see Sect. 8.2);".  If that is the case then going in any axis there should be 127 pixels between centers and 1/2 pixel on either side to get the full extent of the test image.

[2019-01-30 17:49] Cadair opened #2917 "Timeseries should encourage users to not use .data to get a dataframe"
Given that we generally want the Timeseries API to not be tied to any particular timeseries data structure, i.e pandas or Astropy Timeseries. Users should be using `to_dataframe` rather than `.data`.

[2019-01-30 17:55] Cadair commented on #2917
I propose that we deprecate `.data` and encourage people to use `to_dataframe`

[2019-01-30 18:03] #2288 closed

[2019-01-30 19:02] #2762 closed

[2019-01-31 16:04] wafels opened #2919 "Test failure due to 360 degrees not being recognized as having the same meaning as zero degrees."
### Description

A bug showed up in the CI for #2916.

________________________________ test_hcrs_hgs _________________________________
[code]

### Expected behavior

360 degrees is also zero degrees.  Probably this test should not have failed

### Actual behavior

It did fail!

### Steps to Reproduce

### System Details

==========================================================
 SunPy Installati

[2019-02-01 15:04] nabobalis commented on #2919
I think I got a hack fix in #2911.

[2019-02-03 19:17] nabobalis commented on #2919
Well I only fix the test, you want to fix the actual problem that's someone else's issue.

[2019-02-04 13:03] nabobalis commented on #2832
I assume the issue is that `TimeSeries.__repr__` is either ugly in what it prints or the code itself and needs to be updated to look/behave similarly to how `astropy.table.Table. __repr__` does it.

[2019-02-04 17:02] Naman9639 commented on #2878
I wish to work on this issue

[2019-02-04 17:10] nabobalis commented on #2878
Ok.

[2019-02-04 17:11] Naman9639 commented on #2878
I just wanted to know that we want to access the dictionary using partial key right?

[2019-02-04 17:11] nabobalis commented on #2878
Yes.

[2019-02-04 17:12] Naman9639 commented on #2878
Ok

[2019-02-04 21:22] dstansby opened #2924 "sunpy.map fails with ADAPT/GONG synoptic maps"
[code]
where the map is from ftp://gong.nso.edu/adapt/maps/gong/2019 results in
[code]
### System Details

  - SunPy Version: 0.9.6
  - Python Version: 3.7.2
  - OS information: MacOS

[2019-02-04 21:35] dstansby opened #2925 "Add section to developer docs on running figure tests"
It's not obvious to me how to run all the figure tests; I guessed from https://docs.sunpy.org/en/latest/dev_guide/tests.html#running-unit-tests that maybe it was
[code]
but they're all skipped if I run this and I'm not sure how to get them to run.

[2019-02-05 12:05] Cadair commented on #2924
Can you provide a file or the full header please? :angel:

[2019-02-05 12:15] Cadair commented on #2924
So the relevant bit of the header is here:

[code]
This is not even vaguely a standard compliant file, so I am not surprised we can't parse it.

I think you are doing an excellent job of making us question what the scope of `Map` is, which really is a long overdue thing. I am not sure what's the best way to have this discussion but it's closely tied to #2847

[2019-02-06 17:21] #2919 closed

[2019-02-12 19:21] Cadair opened #2931 "We should link to the citation instructions from the docs sidebar"
It shouldn't duplicate the page, but it should be in the main sidebar for increased visibility.

[2019-02-12 21:27] dstansby opened #2932 "astropy_helpers is not automatically being initialized by setup.py"
This could well be related to #2920

---

With the latest `master` branch checked out, running `python setup.py make_docs` gives me

[code]

I've checked that `astropy_helpers` is installed properly using `pip install astropy_helpers --upgrade`.

[2019-02-12 21:31] nabobalis commented on #2932
You might need to check that the submodule is pointing at master.

[2019-02-12 21:31] dstansby commented on #2932
Possibly caused by https://github.com/sunpy/sunpy/pull/2920, judging by the `setup.py` blame.

[2019-02-12 21:32] dstansby commented on #2932
Do I really have to have a submodule checked out to master in order to build (and therefore contribute to) the docs?

[2019-02-12 21:34] nabobalis commented on #2932
Right now (probably) yes. That PR made some changes to setup.py that require the upstream master of helpers.

Cadair is working on planning to remove the submodule in the future. But more upstream work needs to occur.

[2019-02-12 21:35] nabobalis commented on #2932
In fact, I am not sure that anything works without the submodule. But I have never actually tried.

[2019-02-12 21:36] dstansby commented on #2932
Are there instructions on how to do that in the SunPy docs somewhere? (I can't find them). It seems slightly crazy to depend on the master branch of another project, and expect other people to be able to keep up with that.

[2019-02-12 21:39] nabobalis commented on #2932
Normally the submodule is checked out at a release version but it just happens to be set differently right now. When Astropy 3.2 comes out, we will update that.

The command should be in the developer documentation.

But the command should be `git submodule update --init`.

[2019-02-12 21:43] dstansby commented on #2932
👍 that worked a treat, thanks! Maybe worth adding a note to that effect to https://docs.sunpy.org/en/latest/dev_guide/documentation.html#usage ?

[2019-02-12 21:44] nabobalis commented on #2932
We should add it to more places, currently the message is only here: https://docs.sunpy.org/en/latest/dev_guide/newcomers.html#astropy-helpers

But I am in the process of redoing the entire dev docs.

[2019-02-12 21:54] dstansby opened #2933 "Convert sunpy/sun/models.py to using astropy tables"
Currently importing `sunpy.sun.models` raises the following pandas warnings:
[code]
due to e.g. the following line of code:
[code]
where `evolution` is a DataFrame. I'm guessing the way to fix this is changing `models.py` to using astropy tables instead of pandas DataFrames.

See documentation of Astropy tables: http://docs.astropy.org/en/stable/table/index.html.
We probably want to use QTable ins

[2019-02-12 22:06] Cadair commented on #2932
`setup.py` Should automatically checkout the submodule. I wonder if something is borked? @astrofrog you got any ideas why the auto-submodule stuff wouldn't be working?

[2019-02-12 22:46] astrofrog commented on #2932
I'm not sure, this is handled inside ``ah_bootstrap.py`` normally.

[2019-02-13 07:37] darthgera123 commented on #2874
are all tests mocked or are some left?

[2019-02-13 07:37] darthgera123 commented on #2933
i would like to work on this issue

[2019-02-13 08:34] Chicrala commented on #2874
Do you want to do fermi? I'm still struggling with norh.

[2019-02-13 10:08] darthgera123 commented on #2874
cool ill do fermi

[2019-02-13 10:23] nabobalis commented on #2874
test_norh was is "done" here #2923

[2019-02-13 10:24] nabobalis commented on #2933
You don't need to ask for permission to tackle any issue. But again, I would focus on ones you are already doing instead of trying to find other issues.

[2019-02-13 10:27] Chicrala commented on #2874
Yeah that's the guy who's currently helping me to understand how to make those tests. I was struggling too much to figure it out. So norh is closed?

[2019-02-13 10:28] nabobalis commented on #2874
Not yet, the pull request is not merged in. It needs another review but it will be assuming that PR is ready.

[2019-02-13 10:29] nabobalis commented on #2874
I will try to keep track of the PRs sent in for this issue and update the main post.

[2019-02-13 13:30] darthgera123 commented on #2874
fermi is open right?

[2019-02-13 13:32] nabobalis commented on #2874
It should be.

[2019-02-14 15:37] nabobalis commented on #2925
The command should be `pytest -m "figure"` to run only the figure tests.

I will fix this in my doc-wip.

[2019-02-17 04:09] AdityaSanthosh opened #2935 "No module named 'zeep'"
### Description
Testing Sunpy

### Expected behavior

### Actual behavior
![87cf638f-a6f9-4917-9515-bdcfec7f43f0 png](https://user-images.githubusercontent.com/45935479/52908251-d36b8400-3297-11e9-89bb-d0d6abc4e372.jpg)

### Steps to Reproduce
Paste the following code in terminal after installing Sun-
[code]
### System Details
 **General**
Time : Sunday, 17. February 2019 04:00AM UT
System : Windo

[2019-02-17 09:10] nabobalis commented on #2935
Hello.  To run the tests currently you need to install all the extra packages.

If you do pip install -e .[dev] it should install them. We have yet to update the readme about it.

[2019-02-17 09:59] nabobalis commented on #2932
So I deinit-ed the submodule and ran `python setup.py test`
and it did run `Initializing astropy_helpers submodule with: `git submodule update --init -- astropy_helpers``

I also checked out the submodule to a different version from my current head and it did update it. It again corrected it if it was different.

[2019-02-17 13:36] #2935 closed

[2019-02-18 00:47] Cadair commented on #2932
Ah right ok, so a fresh clone should work, but people will have to update themselves?

I am a bit confused as to why the changes we made to setup.py broke the auto-pull though, there is nothing in the setup.py which should prevent a proper import of `ah_bootstrap.py`? I don't know at what point the submodule update happens though.

[2019-02-18 08:15] nabobalis commented on #2932
I'd have to check but I recall it tries to import a function that doesn't exist.

[2019-02-18 09:07] nabobalis commented on #2932
So checking again:

I check out helpers to v3.0.2 and add it to the commit history:

`Traceback (most recent call last):
  File "setup.py", line 12, in <module>
    from astropy_helpers.setup_helpers import setup, register_commands # noqa
ImportError: cannot import name 'setup' from 'astropy_helpers.setup_helpers' (/home/nabil/Git/sunpy/astropy_helpers/astropy_helpers/setup_helpers.py)
`

Which is

[2019-02-20 16:42] AbhigyanBose commented on #2933
I was looking into this, I understand how to change the DataFrames into astropy Tables.
The only part I don't understand is how to implement IndexSlicing of DataFrames in astropy Table or is it not important to implement it?

[2019-02-20 16:55] nabobalis commented on #2933
Sorry, I am not sure I quite follow.

[2019-02-20 17:08] AbhigyanBose commented on #2933
Given this DataFrame
`l1 = [1, 2, 3]
l2 = [4, 5, 6]
d = pandas.DataFrame({'coloumn 1':l1, 'coloumn 2':l2})`
How do I implement this type of indexing using astropy Tables ?
`print(d[0:2])`
Output:
`   coloumn 1  coloumn 2
0          1          4
1          2          5
`

[2019-02-20 17:14] nabobalis commented on #2933
I am not sure if you need to implement that kind of indexing. We probably need to figure out how to create the table from scratch the proper way.

[2019-02-21 17:31] Akram9 commented on #2848
Hey, can I contribute to this as my first PR?

[2019-02-21 17:34] nabobalis commented on #2848
Sorry @Akram9, I am already in the process of tackling this.

[2019-02-21 17:37] Akram9 commented on #2848
Okay, no problem. I didn't quite get the 'assigned'  mark and therefore asked before pushing. Thanks anyway!

[2019-02-21 17:38] nabobalis commented on #2848
Yeah we normally do not enforce those or use those. But since I was in the process of doing it, I thought I would tag myself in several issues.

[2019-02-23 11:33] Akram9 commented on #2821
I'm not getting any error here. Just warnings about the 'lightcurve' module going out of fashion. Has this been solved?

[2019-02-23 11:36] nabobalis commented on #2821
Are you sure you are using the current version from this repository? LightCurve has been deleted.

This issue is still open and I see no reason why it would have been solved.

[2019-02-23 11:46] Akram9 commented on #2821
I'll update and try again.

[2019-02-23 13:53] Akram9 commented on #2821
Ok ya, I get the error. I was on stable then. My bad.

[2019-02-23 14:10] Akram9 commented on #2821
Okay, I get it. It would make sense to move `import hek` into the aforementioned function. Should I do it?

[2019-02-23 14:18] nabobalis commented on #2821
Yeah, it would probably be enough.

[2019-02-23 18:14] #2821 closed

[2019-02-24 16:12] dpshelio opened #2940 "Convert models to something usable"
### Description
[`sunpy/sun/models.py`](https://github.com/sunpy/sunpy/blob/master/sunpy/sun/models.py) doesn't provide a proper way to use it. Either you know what it gives or you don't.
At least this should be as part of a function that can be called and tested(! - so we can discover if we change some values/units/... by mistake).
- `interior`
- `evolution`

They should return the appropriate ta

[2019-02-26 15:58] Cadair opened #2942 "Mapbase should convert crln_obs to hgln_obs if it is found in the header"
This specifically applies to HMI data which uses crln/t_obs rather than hgln/t

[2019-02-26 17:30] Akram9 commented on #2942
Hey, can you help me solve this?

[2019-02-26 17:48] nabobalis commented on #2942
I am not 100% sure but you would need to add a check for `crln_obs` within the `sunpy.map.Map` meta dictionary and convert that into the key for `hgln_obs` within the meta dictionary.

Since this seems to apply only to HMI, this should be in the hmi source file and not in the generic mapbase file.

[2019-02-27 11:11] Cadair commented on #2942
Hi @Akram9

To get started, it would be worth having a quick read of the paper on [Solar Coordinatees(https://www.aanda.org/component/article?access=bibcode&bibcode=&bibcode=2006A%2526A...449..791TFUL) just for a little background.

The Carrington coordinate system (in the header as crln and crlt) is the same as the stonyhurst system (in the header as hgln and hglt) except that the longitude (ln)

[2019-02-27 11:15] Akram9 commented on #2942
Thanks, I'll check into these.

[2019-02-27 13:52] Cadair commented on #2940
I am not sure I follow you on this?

To your wider point, I don't really know what the usecase for this is, so I don't know what to suggest as improvements. We could try expose them as `astropy.modeling.Model` instances if the default usecase is to interpolate the values?

[2019-02-27 18:48] Akram9 commented on #2942
@Cadair : So if I understand it right,  what you are saying is to change the first `if` condition checking the presence of `hgln_obs`, and if `crln_obs` is found, convert it to `hgln_obs`, right?

[2019-02-27 18:49] Cadair commented on #2942
What I mean is that after [this](https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L613) if statement there should be one that checks for `crln_obs`.

[2019-02-27 18:56] Akram9 commented on #2942
So it needs to be something like:
`if heliographic_longitude is None:
     carrington_longitude = self.meta.get('crln_obs', None)
     if carrington_longitude is None:`

And then the change `crln_obs` to `hgln_obs` by getting the offset out of the last `if` block.
Is this good?

[2019-02-27 18:58] Akram9 commented on #2942
I mean, the code should be like:

if heliographic_longitude is None:
    carrington_longitude = self.meta.get('crln_obs', None)
    if carrington_longitude is None:

*couldn't get it into the block properly

[2019-02-27 19:00] Akram9 commented on #2942
* I am not able to get the tabs in the code block

[2019-02-27 19:01] Alex-Ian-Hamilton commented on #1832
From my investigations, with metadata in a dictionary called meta, I needed to add the following values.

For WCS, HMI has typical values:
    meta['cdelt1'] = 0.504219
    meta['cdelt2'] = 0.504219
    meta['cunit1'] = 'arcsec'
    meta['cunit2'] = 'arcsec'
    meta['dsun_obs'] = 147141258270.0 # Else Warning: Missing metadata for Sun-spacecraft separation
    meta['crpix1'] = 2045.131592
    met

[2019-02-27 19:03] Akram9 commented on #2942
`if heliographic_longitude is None:`
`<tab> carrington_longitude = self.meta.get('crln_obs', None)`
`<tab> if carrington_longitude is None:`

[2019-02-27 19:32] dodoextinct commented on #2942
Hey, I was going through the issue. I did the following change. Is it okay?

`if heliographic_longitude is None:
            if self.meta.get('crln_obs', None) in not None:
                heliographic_longitude = self.meta.get('crln_obs', None) - get_sun_L0()`

[https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L609](here)

[2019-02-27 21:52] Cadair commented on #2942
Only one of you can patch this :stuck_out_tongue:

You are clearly both understanding it. Check one then check the other, return the Stonyhurst one.

@dodoextinct your example is nearly complete but `get_sun_L0` needs to take the time from the map (I think it's the `.date` property). Also I can't remember off the top of my head if it's `+` or a `-`.

[2019-02-28 01:37] Akram9 commented on #2942
Well, personally I'd like @dodoextinct's way to what I was thinking.

[2019-02-28 03:33] dodoextinct commented on #2942
I have updtaed the code like this.
`if heliographic_longitude is None:
            if self.meta.get('crln_obs', None) is not None:
                heliographic_longitude = self.meta.get('crln_obs', None) - get_sun_L0(self.date)
            else:
                if self._default_heliographic_longitude is None:
                    warnings.warn_explicit(
                        "Missing metadata for

[2019-02-28 10:57] Cadair opened #2945 "Improve our warnings in line with PEP 565"
See astropy/astropy#8465

[2019-02-28 11:31] Cadair commented on #2942
:+1: looks good, open a PR!

(Also I edited your comment to use ` ``` ` for a block of code :smile: )

[2019-03-01 02:44] WaaallEEE opened #2947 "Failed conversion of hpc coordinates using SkyCoord with frames.Helioprojective"
I don't know if that is an expected behaviour or a bug, but the documentation could not answer:

Trying to convert helioprojective to pixel coordinate using SkyCoord: If I instantiate `SkyCoord` by initializing with `obstime` and `frame=sunpy.coordinates.frames.Helioprojective`, I have NaN for values close to the limb, whereas initializing it using a frame=`sunpy.map.Map` object gives me the expec

[2019-03-01 03:12] wafels commented on #2947
Maybe the AIA headers are more accurate, taking into account the position of the spacecraft. I think the default assumption assumes an observing position at the center of the Earth.

[2019-03-01 10:41] Cadair commented on #2947
Yes, there are two key bits of information that are read out of the map header which are missing in your example.

1) is the location of the observer.
2) the radius of the sun as assumed by AIA.

What is actually happening under the hood is slightly more subtle than having missing information though. You are asking Map to convert a world coordinate in a HPC frame which is not the one described by

[2019-03-01 15:02] WaaallEEE commented on #2947
Thank you @Cadair for this 1st clarification. Indeed, I was seeing the difference in observer when doing frame = frames.Helioprojective was associated with having NaNs but didn't understand why it is necessary to have an intermediate conversion to HGS which makes the whole conversion trip for off limb pixels.
I think we misunderstood how Sunpy defines the "observer".  Here's the difference between

[2019-03-01 16:08] Cadair commented on #2947
Correct, the observer defaults to `'earth'` and specifying obstime allows us to calculate the position of the Earth.

Also correct :smile:. The input coordinate (in any frame) will be converted to the native frame of the Map before doing the pixel transformation.

[2019-03-01 16:31] WaaallEEE commented on #2947
Thank you again @Cadair .
Last one (a very easy one): for efficiency we must avoid reading in the pixels in fits or jpeg2000 file to build a map, we just want to use the headers to benefit from the whole conversion framework. If we use a dummy array (say `np.zeros([4096, 4096]`), and wcs object when initializing the sunpy map, is the dummy array hard-copied in the map or will it be a numpy view of

[2019-03-01 16:38] Cadair commented on #2947
It's a much better idea to initialise the Map with the header directly and not the WCS object, because a WCS object dosen't always have all the infomation needed that's in the header.

You can use `np.zeros` although `np.empty` would be faster. Also, you don't need to make the array the same size as it's supposed to be if you just want to use `world_to_pixel` and stuff. so `sunpy.map.Map(np.empty(

[2019-03-01 21:52] WaaallEEE commented on #2947
@Cadair
Thanks but question not quite answered

(assuming it's not an np.empty array)

If each time it's just a view that's used, and not a hard copy, then I can as well define one array (empty or not) once and for all (for thousands of files) instead of redefining an np.empty each time. Hence that question.

[2019-03-02 09:51] Akram9 commented on #2834
I was looking into these and I am not able to plot NOAA and EVE time series plots. Plotting them with `sunpy.timeseries.TimeSeries` gives `TypeError` while with `sunpy.map.Map` says that `txt` files are not supported yet.
All three of these files are of `txt` format.

[2019-03-02 09:56] Akram9 commented on #2834
Another thing - the `TimeSeries` plots don't need a `plt.show()` to be printed from my console. `anything.peek()` does that automatically. Is it related to my system (wsl Ubuntu on Windows10) or have the docs become old?

[2019-03-02 10:14] nabobalis commented on #2834
What is the type error for TimeSeries? They don't work in Map.

I think we have an issue/bug on how peek displays plots. I would ignore that for now. I recall that peek calls plt.show while plot does not.

[2019-03-02 10:35] Akram9 commented on #2834
[code]

[2019-03-02 11:09] nabobalis commented on #2834
You will have to add `, source='NOAAPredictIndices')` to the call. Right now it seems that TimeSeries does not auto figure out the file for txt files.

[2019-03-02 11:18] Akram9 commented on #2834
Right, it works now.

And yeah, about the `CallistoSpectrum` one? It looks like this:

![callisto_spectrum](https://user-images.githubusercontent.com/29861975/53681138-f4f25400-3d0a-11e9-84c7-b4ca4053d008.png)

[2019-03-02 11:26] nabobalis commented on #2834
Not sure, I am not sure that normally it matplotlib should aspect ratio like that. I wonder if there is something in the peek code that does that.

[2019-03-03 13:07] dstansby opened #2948 "Improving "Acquiring data" docs page"
ref - https://docs.sunpy.org/en/latest/guide/acquiring_data/index.html - this isn't a criticism at all, but a suggestion for improved docs.

If I want to download e.g. AIA 193 data, I would probably go to the SunPy docs, then find the "Acquiring data" page. From that page it is not obvious to me what to do though. In particular, I don't really know what the following mean or which one I should use

[2019-03-03 19:10] dpshelio commented on #2948
I would say the page should only show Fido and other pages for other methods.

[2019-03-03 19:21] dpshelio commented on #2940
At the moment if you import that file you also get all these `_time`, `_tradius`, variables. If you know that you only want to import a table... then you get it, but if you don't know... then you get all these variables that are useless.

Maybe one the user case is to interpolate, and that's a possibility. Another is just to visualise it... and that would work too.

[2019-03-04 10:45] dpshelio commented on #2834
In the radio spectra what we do is to create pixels in between. That's expected as it is if using maps for it.

[2019-03-04 11:29] Cadair commented on #2947
It wont copy if you don't run it through anything like `rotate` or similar. The `data` object dosen't actually need to even be a numpy array. I have successfully used other array types like Dask. Having said that I don't know what Map expects the array to provide for `world_to_pixel`

[2019-03-04 20:06] nitish705702 commented on #2740
it should return an astropy table from the HEK search method.
not present any error.

[2019-03-04 20:07] nabobalis commented on #2740
Are you saying it is not returning a table?

[2019-03-05 01:43] nitish705702 commented on #2740
means There are no  issues in the file  sunpy/net/hek/hek.py.

[2019-03-05 09:06] nabobalis commented on #2740
Yes, that should be correct. Which is why this issue is closed (the large red box that the top). I would suggest looking at open issues (https://github.com/sunpy/sunpy/issues?q=is%3Aissue+is%3Aopen+label%3A%22Package+Novice%22).

[2019-03-05 11:02] cquark7 commented on #2945
Hi @Cadair, I want to work on this issue. Please guide me on what changes are required to make warnigs [pep 565](https://www.python.org/dev/peps/pep-0565/) compliant in sunpy. I understand that for Python < 3.7 custom warning class should derive from `FutureWarning`. Do I have to make those changes in [exceptions.py](https://github.com/sunpy/sunpy/blob/master/sunpy/util/exceptions.py)?
Also, it se

[2019-03-05 12:58] nabobalis commented on #2945
Yes, they are against that and we will probably also not follow suit. At least for now.

What we do need to do is make sure that our `SunpyDeprecationWarning` subclasses `DeprecationWarning` in the same style that `SunpyUserWarning` does.

[2019-03-05 13:29] Pac23 commented on #2860
came across this on the gsoc page what i propose is making a pypi package of the api which anyone across the orgs,projects can import.

[2019-03-05 13:38] #2933 closed

[2019-03-05 14:03] nabobalis commented on #2860
I believe that is the goal of the GSoC project.

[2019-03-05 14:18] cquark7 commented on #2945
Thanks for clarifying @nabobalis. Does that mean I shouldn't work on this issue (because no changes are required)?

[2019-03-05 14:22] nabobalis commented on #2945
Well there is a one line change we need that I mentioned in my comment but otherwise, yeah this issue could be closed.

[2019-03-05 16:17] Pac23 commented on #2860
@nabobalis is there a IM or google group of sunpy ?

[2019-03-05 16:20] nabobalis commented on #2860
Both. https://chat.openastronomy.org/#/room/#sunpy:openastronomy.org
and https://groups.google.com/forum/#!forum/sunpy

[2019-03-06 08:42] sashank27 commented on #2917
Hi! @nabobalis I would like to work on this. Please guide me accordingly.

[2019-03-06 15:54] Akram9 commented on #2834
I see. So if we try to make the image bigger, it looks awry?

[2019-03-06 18:07] Cadair opened #2959 "Download Sample Data into a hidden directory"
Currently `import sunpy.data.sample` will download our [sample data](http://data.sunpy.org) to `~/sunpy` as specified by [working dir](https://github.com/sunpy/sunpy/blob/master/sunpy/data/sunpyrc#L24) in the config file.

I propose that we move to using [appdirs](https://github.com/ActiveState/appdirs) to determine the "user data directory" which is platform dependant and used for applications to

[2019-03-06 18:07] Cadair commented on #2959
ping @DanRyanIrish @ehsteve @nabobalis @astrofrog :grin:

[2019-03-06 19:06] Akram9 commented on #2777
I was trying this and I don't get where this should be implemented - base or line? From what I understand, the change should be in `plot_start_image` of `line`. Is it right?
Also, from what I understand of `lineanimator`, it uses matplotlib.axes to plot the image, right? Then can't `plt.axis('auto')` be used in the command line?

[2019-03-06 19:18] nabobalis commented on #2777
Probably just get it working for lineanimator.

I don't know the underlying code of the animator classes, so you might have to play around with it.

[2019-03-07 10:09] nabobalis commented on #2959
So I am in favour for two reasons:

1. We don't expect users to interact with the sample-data through any file manager or creating some custom path. But through importing the data module. Therefore we can move it or hide it however we want.
2. We should be following standards for each OS when it comes to directory usage/placement of files.
3. Creating a sample-data client to use with Fido to me se

[2019-03-07 12:01] astrofrog commented on #2959
I'm in favor of this 👍  - I find it annoying to have a sunpy directory created in my home directory on a regular basis.

[2019-03-07 12:09] nabobalis commented on #2959
I mean that too. I have forever hated a folder and I delete it everytime I open my home dir. Unfortunately this means @Cadair AWS bill increases with time.

[2019-03-08 09:12] Cadair opened #2964 "HEC still thinks parse_time returns a datetime object."
[code]

instead of `isoformat()` it should read `.isot`

[2019-03-08 09:13] Cadair commented on #2964
We should also add tests for this code path, because it clearly dosen't have any at the moment.

[2019-03-08 09:14] Cadair commented on #2959
So you mean hiding it away will save me money on my AWS bill?! SOLD!

[2019-03-08 09:16] nabobalis commented on #2959
The main reason I also have to delete it, any tests that I run that download data, don't clean up after themselves. So I get a million files in it too. But that's off topic

[2019-03-08 10:54] AbhigyanBose commented on #2964
Changing `start_time.isoformat()` to `start_time.isot` results in an Error
`TypeError: 'str' object is not callable`

I checked and after parsing `start_time.isot` returns the time without any error.

[2019-03-08 15:05] #2945 closed

[2019-03-08 20:47] cquark7 commented on #2964
I'm able to reproduce this bug. Astropy Time object doesn't have any attribute named `isoformat()`, although there are a number of Time attributes/formats available, `isot` is one of them:
[code]
When I accessed `isot` attribute of Astropy Time object it produced a result like this:
`2005-12-03T00:00:00.000`

I'll need your help to write a test for this.

[2019-03-08 20:50] nabobalis commented on #2964
Yes `.isot` only exists on the `astropy.time.Time` object and not the string.

The first test would be just to write some tests for the `hec` code.

[2019-03-08 22:32] nabobalis opened #2970 "Increase test coverage of sunpy.net.{hek,hek2vso,helio}"
These three net submodules (hek, hek2vso, helio) need more tests written for them.

Coverage at time of writing:

* HEK: [14.85%](https://codecov.io/gh/sunpy/sunpy/tree/master/sunpy/net/hek)
* HEK2VSO: [55.38%](https://codecov.io/gh/sunpy/sunpy/tree/master/sunpy/net/hek2vso)
* HELIO: [46.15%](https://codecov.io/gh/sunpy/sunpy/tree/master/sunpy/net/helio), this is for the client file.

Also these t

[2019-03-10 10:20] cquark7 commented on #2970
There is no test written for [net/helio/hec.py](https://github.com/sunpy/sunpy/blob/master/sunpy/net/helio/hec.py)'s function `votable_handler(xml_table)` in [net/tests/test_helio.py](https://github.com/sunpy/sunpy/blob/master/sunpy/net/tests/test_helio.py), but codecov shows those lines in green [hec.py - 46.15%](https://codecov.io/gh/sunpy/sunpy/src/master/sunpy/net/helio/hec.py).  Why is that?

[2019-03-10 10:36] nabobalis commented on #2970
It would seem to suggest that something is calling that code. I am not sure what code is doing it however.

Are you fetching the same data each time? You could create one larger test. Otherwise, just write a test and add each one as remote-data.

[2019-03-10 11:21] cquark7 commented on #2970
Zeep client is initialized by the URL of default wsdl file, that's why fetched data is same. This data is then being used in 3 different public functions (two of them are parameterless) for processing.

[code]
I'm more concerned about writing *meaningful* tests for functions. It gets a bit tricky when the output of a parameterless function depends on user input. I think I have figured out how to d

[2019-03-10 11:23] nabobalis commented on #2970
I think for some of our other online tests, we just define client outside the tests and pass it into the tests when needed.

[2019-03-10 15:35] souravghosh97 commented on #1792
@wafels Is there any specific reason not to convert the ```result[0]['event_peaktime']``` to a time object?
like
[code]
instead of ```'2011-08-09T11:55:00'``` should it be ```datetime.datetime(2011, 8, 9, 11, 55)```

[2019-03-10 16:59] #2964 closed

[2019-03-10 19:33] #2869 closed

[2019-03-11 15:38] hayesla opened #2977 "No Fermi GBM Client for data download"
### Description

In regards to using Fido for downloading data, there doesn't seem to be a FERMI GBM client for downloading data

Is there a specific reason for this or is there scope to implement one?

[2019-03-11 15:51] Cadair commented on #2977
Well, this seems to be a glaring bug. We used to have the ability to download Fermi data back in 0.9 land through lightcurve. (https://github.com/sunpy/sunpy/blob/0.9/sunpy/lightcurve/sources/fermi_gbm.py#L97) it seems that it was never ported to Fido?

[2019-03-11 16:04] hayesla commented on #2977
I'll give this a shot

[2019-03-11 17:44] wafels commented on #1792
It should be a Time object.

On Sun, Mar 10, 2019 at 11:35 AM Sourav Ghosh <notifications@github.com>
wrote:

[2019-03-11 19:59] souravghosh97 commented on #1792
@wafels
[code]
what should be the sunpy object in this case

[2019-03-11 21:01] aringlis commented on #2977
@hayesla @Cadair Since we're fixing this anyway, it may be worth it to revise the client to allow the option of downloading Fermi CTIME files, as well as CSPEC files (and get rid of the re-binning of the CSPEC files while we're at it)...

[2019-03-11 21:04] hayesla commented on #2977
Yes am thinking of that too. Also I was thinking that the query should return all the detectors unless specified, does that make sense to do?

[2019-03-12 02:19] wafels commented on #1792
This should return a SkyCoord object.  The polygon vertices are comma
separated.  The keyword "hpc_bbox" indicates that the polygon is a bounding
box and that the coordinates are specified in the helioprojective Cartesian
coordinate system.  The first coordinate is at -470'', -174''.  The second
coordinate is at 573'', -174'', and so on.  The observation time is the
value of *event_starttime*.  Un

[2019-03-12 02:24] souravghosh97 commented on #1792
@wafels for heliographic_carrington what is the radius

[2019-03-12 03:13] darthgera123 commented on #2874
@yashrsharma44  im almost done with mocking test_fermi

[2019-03-12 03:24] darthgera123 commented on #1939
Im interested in the project and would like to help with this issue.

[2019-03-12 04:42] yashrsharma44 commented on #2874
Hey, @darthgera , go ahead and make a PR, I haven't been working on that.
BTW, you could have made a PR without pinging me 😛

[2019-03-12 07:24] nabobalis commented on #1939
This issue forms the basis for the project. I am not sure there is much to do that doesn't overlap with the GSoC project. I would suggest tackling another issue.

[2019-03-12 13:12] Cadair opened #2981 "VSOClient should fail to initilize if it can't read the WSDL"
Currently what happens is this:

[code]

[2019-03-12 13:13] Cadair commented on #2981
You can reproduce this by creating `VSOClient()` object without an internet connection.

[2019-03-12 13:18] nabobalis commented on #2981
I wonder how many clients also error like that.

[2019-03-12 14:12] aringlis commented on #2977
@hayesla I'm not sure - it's not that likely that a (solar) user would want data from all the detectors simultaneously, given that ~half of them would show no solar emission.

[2019-03-12 15:13] hayesla commented on #2977
that's a good point, at them moment I've made a pull request for a client that downloads GBM data, with CSPEC or CTIME with the Datatype attrs, defaulting to CSPEC if none specified. It also allows you to choose you detector with the Detector attrs. If none is provided it downloads the n5 detector file as this is the detector that mostly points towards the Sun and the detector that is generally re

[2019-03-12 20:18] hayesla opened #2984 "TimeSeries support for EVE/ESP level 1 data"
### Description

Currently the timeseries source in timeseries.sources.eve.py only supports level 0CS data and cannot handle the eve_l1_esp fits files (which would be easy to implement) or the level 2 emission lines time series (see [#Issue 2407 ](https://github.com/sunpy/sunpy/issues/2407))

Should this be included in the eve.py source or a new source created for the different levels?
Would be ni

[2019-03-13 09:24] Cadair commented on #2940
I mean they are hidden, it's not really the end of the world. but :woman_shrugging:

[2019-03-13 14:09] #2942 closed

[2019-03-13 14:24] aringlis commented on #2984
Additionally, it may be that there is no value in the Level 0 data anymore once we are providing the Level 1 and Level 2 data instead...

[2019-03-13 15:41] DanRyanIrish commented on #2617
As far as I can see, this issue was actually caused by poor and confusing documentation.  I don't think the way @mbobra defined the ```axis_ranges``` should have worked, but the documentation may have implied that it should have.

#2867 does not make ```ImageAnimator``` ```axis_ranges``` work as used in the above linked notebook.  It defines a new API that is less ambiguous and better documented.

[2019-03-16 12:02] Cadair opened #2992 "Fido.search errors very badly when no a.Time is specified"
I am 90% sure this error is triggered because no `a.Time` is specified. If that is indeed the case the error that is raised is completely unhelpful.

[code]
[code]

[2019-03-16 14:12] #555 closed

[2019-03-16 14:12] #1280 closed

[2019-03-16 14:12] #1331 closed

[2019-03-16 14:12] #2108 closed

[2019-03-16 14:12] #2376 closed

[2019-03-16 14:12] #2773 closed

[2019-03-16 15:34] #2878 closed

[2019-03-16 16:26] Cadair commented on #2755
I think the correct answer to this is No.

[2019-03-16 16:26] #2755 closed

[2019-03-16 20:05] #2287 closed

[2019-03-18 22:11] #2981 closed

[2019-03-19 02:18] ehsteve opened #3004 "Tests should not make use of user config file"
### Description
Tests make use of the user provided config file but have hard coded dependencies on expectations from the default configuration. This is most easily seen in tests for time. Many tests are expecting a particular time format namely `%Y-%m-%d %H:%M:%S` but the user could have set that to another format. Those tests would then unexpectedly fail.

### Expected behavior
I expected the te

[2019-03-19 08:01] souravghosh97 commented on #1792
[code]
The reult is  showing
[code]

While converting hpc_coord to sunpy object i am getting this error
[code]

The event coord unit is degrees but latitude is beyonf 90

[2019-03-19 09:35] nabobalis commented on #3004
Sure. Let me see if I can work around this.

[2019-03-19 10:56] Cadair opened #3006 "Provide an easy way to generate a user config"
There is no simple way to put a config file in your config directory. maybe ` sunpy.util.config.write_config` function that saves the current state of the config to the user config dir?

[2019-03-19 11:44] #3004 closed

[2019-03-19 23:50] wtbarnes opened #3007 ""Masking the solar disk" gallery example does not have a black mask"
### Description
In the "Masking the solar disk" example, the mask is incorrectly colored. The mask is explicitly set to be black
[code]
but it appears white in the generated gallery example. I suspect this is due to a change in the way matplotlib treats NaNs in imshow.

### Steps to Reproduce
See example gallery in docs.

[2019-03-20 12:34] #1859 closed

[2019-03-20 23:02] #212 closed

[2019-03-20 23:02] #856 closed

[2019-03-20 23:02] #1618 closed

[2019-03-20 23:02] #1858 closed

[2019-03-20 23:02] #2925 closed

[2019-03-20 23:02] #2931 closed

[2019-03-21 13:37] #2977 closed

[2019-03-22 04:38] ankursikarwar commented on #3007
Is it necessary to have the mask in black color? I think matplotlib sets the default color for NaNs as white. Because palette.set_bad() function is not having any effect on the color of the mask.

[2019-03-22 05:09] wtbarnes commented on #3007
Yeah I guess the issue I'm pointing out is that, as you say, `palette.set_bad('black')` has no effect on the color of the mask.

[2019-03-22 12:23] nabobalis commented on #2777
@MSKirk Any change of a short example?

[2019-03-22 13:51] MSKirk commented on #2777
This will replicate the bug:

[code]

[2019-03-22 13:52] nabobalis commented on #2777
Thanks!

[2019-03-22 13:58] nabobalis commented on #2777
So on master now with (#2986), I had to update the code (import change and the `+1` in xdata).

[code]

The default plot is now:
![Figure_1](https://user-images.githubusercontent.com/1392107/54827689-80c42400-4caa-11e9-9698-e286fea96005.png)

[2019-03-22 14:01] #2777 closed

[2019-03-23 00:48] ankursikarwar commented on #3007
I found that the plot function in map/mapbase.py accepts `**imshow_kwargs`  but doesn't then pass them to the imshow function. Will make the respective changes and submit a pull request.

[2019-03-23 00:49] ankursikarwar commented on #3007
I found that the plot function in map/mapbase.py accepts **imshow_kwargs but doesn't then pass them to the imshow function. Shall I make the respective changes and submit a pull request?

[2019-03-23 10:17] darthgera123 commented on #2874
i guess fermi is completed so if there is any other that needs to be mocked please tell

[2019-03-23 10:31] darthgera123 commented on #2992
i would like to work on this issue
could you please show how to recreate it

[2019-03-23 10:35] nabobalis commented on #2992
The code (minus the imports needed is at the top).

[2019-03-23 18:08] ankursikarwar commented on #3007
I think this is caused because of normalization because when I set `norm=None` then `palette.set_bad('black')` works fine.

Before setting `norm=None` :
![54865925-6307c500-4d65-11e9-8f73-f116e136e03b](https://user-images.githubusercontent.com/32908468/54869849-77c77580-4dc4-11e9-9430-f1311c6d7704.png)

After setting `norm=None` :
![54865924-55523f80-4d65-11e9-89c1-06cab13cb878](https://user-image

[2019-03-23 18:33] nabobalis commented on #3007
Yeah, so we need to figure out a way to get them both to work. I assume this is a bug within our plotting code.

[2019-03-24 20:43] dpshelio commented on #2609
My 2 cents for this issue from last year:

I am not in favour of not showing warnings when we are hardcoding values that shouldn't be there. If a person who is not familiar with Hinode/XRT believes what sunpy says because we don't show the error is bad. Since the warning should only appear once per session, I don't think it's bad to show it (or it's not? ipython/ipython#11207).

My other opinion o

[2019-03-26 14:06] dstansby opened #3018 "Improve documentation of overplotting in world coordinates for Map plots"
Consider the following example, plotting a map, and then adding a scatter point at (0, 0). I would expect the point to be in the middle of the plot, but it is at the bottom LH corner instead, which I guess is actually the origin of the axes, but the axis labels have been somehow modified to hide this:

[code]
![aia](https://user-images.githubusercontent.com/6197628/55003306-1247d480-4fd0-11e9-9c3d

[2019-03-26 14:44] Cadair commented on #3018
To plot in world coordinates you need to specify the frame you wish to overplot in using the `transform=` kwarg as described in the wcsaxes docs: http://docs.astropy.org/en/stable/visualization/wcsaxes/overlays.html#world-coordinates

So for this example it would be:

[code]

[2019-03-26 20:01] dstansby commented on #3018
That is really odd and unintuitive, but I guess is an upstream WCSAxes issue? Naïvely I can't see why the WCS coordinates can't be the same as the Axes coordinates.

[2019-03-26 20:21] Cadair commented on #3018
I wonder if @astrofrog could provide a bit of bonus context here?

[2019-03-27 17:22] Cadair commented on #2278
@Alex-Ian-Hamilton has done a bit of research into required metadata as well here https://github.com/sunpy/sunpy/issues/1832#issuecomment-467987877

[2019-03-27 17:46] astrofrog commented on #3018
@dstansby - for cases like this where the lon/lat nicely line up with pixel coordinates, I might look like it would be more intuitive to just give the angles to ``scatter``, however for many astronomical images, the 'world' coordinates don't line up with pixel coordinates, and furthermore the grid lines are curved, not straight. However, you are then still showing the image in pixel coordinates (n

[2019-03-27 17:49] Cadair opened #3020 "A home for functions which operate on Map"
We seem to have a couple of things waiting in the wings ([#2972](https://github.com/sunpy/sunpy/pull/2972/files#diff-e5b590f063aafc6198499904a424fc22R547) and #2278) which are a set of functions which provide utilities based on taking a `GenericMap` object (or subclass) as input (or output) and performing some check, or to help people construct a map etc.

 @wafels added a bunch of functions which

[2019-03-27 17:53] Cadair commented on #3020
So the second one already exists in [`NDCube`](https://github.com/sunpy/ndcube/blob/master/ndcube/ndcube.py#L300) as `axis_world_coords` so we should probably just adopt that as a method.

[2019-03-27 18:03] dstansby commented on #3018
Thanks for the explanation! Is plotting in pixel coordinates also done with angular units (ie. degrees)? If not, it might make sense to either error or warn if the user tries to plot data with units without the world transform.

[2019-03-27 18:09] astrofrog commented on #3018
@dstansby - good point, we could consider catching the case where units are passed and either give an error or even do the smart thing. Units aren't used for pixel space plotting.

[2019-03-27 19:14] ehsteve commented on #3020
Something like `sunpy.map.util` but `util` is used too often.

[2019-03-27 20:04] wafels commented on #3020
NDCube is not in SunPy yet, right?

[2019-03-27 20:47] nabobalis opened #3021 "Missing calculations for sunpy.sun functions"
Three functions are missing the mathematics to calculate them.
These seem to be:

* longitude_Sun_perigee
* true_latitude
* apparent_latitude

We need to track down what they need to calculate from sources and implement that.

[2019-03-28 17:59] ehsteve commented on #3020
Not yet! but it will be (maybe in 2.0?). See my PR to the [roadmap](https://github.com/sunpy/roadmap/pull/1).

[2019-03-29 10:39] Cadair commented on #3020
No, I was suggesting we copy the API for now.

[2019-03-29 14:29] Cadair commented on #3021
pinging @dpshelio and @ayshih on this I guess?

[2019-03-29 16:07] Cadair commented on #3020
# Proposals for Namespaces

Given the general agreement on the need for this to exist I propose the following options for how to actually do it (in order of my preference):

## 1. Put everything in `sunpy.map`

This would mean that we have the following as our recommended imports and usage:

[code]

*Note, these functions would actually live in a file named something like `helpers` or `utils` but

[2019-03-30 11:14] vedang08 commented on #3021
Can I work on this issue @nabobalis ?

[2019-03-30 11:17] nabobalis commented on #3021
Err, probably not? Without a source of equations to implement, there is nothing to do until we get those first.

[2019-03-31 11:22] nabobalis commented on #3020
I want to say this has broader implications for organize our namespace.

[2019-03-31 12:40] jains8844 commented on #2970
Can I work on testing the hek2vso part ?

[2019-03-31 12:42] nabobalis commented on #2970
Sure.

[2019-03-31 16:30] Cadair commented on #3020
Agreed. Do you have specific suggestions of other things we should change?

[2019-03-31 16:58] nabobalis commented on #3020
Regarding this direct issue, I am leaning towards solution number 1.

With that in mind, I think we should make sure that  in the main namespace for each package you can import all user facing functions (we seem to for most modules but not all). Anything that needs to be imported for registration or the like should be done in a way to hide it.

This probably means making some functions "private" o

[2019-04-01 20:03] dstansby opened #3028 "Panning/zooming a plotted Map broken with (unreleased) Matplotlib 3.1.0"
### Description
Zooming or panning a plotted map is broken with the currently master branch of Maptlotlib, that should shortly be released as version `3.1.0`. I am aware that this is not the best bug report, but I thought I'd leave it anyway as a placeholder for fixing at some point.

**This might  be an upstream Maptlotlib issue.**

### Steps to Reproduce

1. Install Matplotlib master branch
2. P

[2019-04-02 09:10] Cadair commented on #3028
I wonder if this is actually an astropy / wcsaxes issue (with mpl). I will try and investigate.

[2019-04-02 10:53] dstansby commented on #3028
Yeah, I can reproduce with just `astropy`: https://github.com/astropy/astropy/issues/8545

[2019-04-03 11:21] Cadair commented on #2581
@DanRyanIrish is this closed by #2867 ?

[2019-04-03 11:39] Cadair commented on #3020
I think to some extent it depends on the submodule, some like `map` are a one thing kind of namespace whereas some others like `instr` are a more a collection of related sub-submodules.

I think we should probably take them one at a time and decide if we are pulling everything into a flat top namespace or having a collection of sub namespaces?

[2019-04-03 12:45] nabobalis commented on #3020
How about we go with flat namespace as default unless we have many many submodules per package?

Again, for `map`, I would prefer a flat namespace.

[2019-04-03 13:03] Cadair commented on #3020
Sounds good as a general rule to me, I would want to take it on a case-by-case basis to see if it translates into reality well.

[2019-04-03 13:04] Cadair commented on #3020
@sunpy/sunpy-developers If anyone has any opinions on how we organise our namespaces in SunPy (specifically map) now is the time to shout, if nobody objects on here within a week I will be implementing this for 1.0.

[2019-04-03 13:04] nabobalis commented on #3020
Yeah, we should try it and see what it does to the namespace before we adopt it formally.

[2019-04-03 15:43] #2617 closed

[2019-04-03 15:49] Cadair commented on #2645
We are going to punt this for a few months until we have a better idea about the Timeseries API in astropy and if that is the API we wish to be closest to.

[2019-04-03 16:44] Cadair commented on #2932
I think the solution is to run `git submodule sync` before `git submodule update --init` to fix this I think.

[2019-04-03 16:44] #2932 closed

[2019-04-03 17:23] ehsteve opened #3029 "Add guidance about how to sign up for solving an issue to the documentation"
### Description

To reduce the likelihood of people working on the same issue at the same time there needs to be guidance provided to let people know how to `sign up`. The contribution docs should provide guidance on this.

### Additional context

None.

[2019-04-03 17:27] nabobalis commented on #3029
I'm not sure I follow

[2019-04-04 09:02] #2959 closed

[2019-04-05 17:39] ehsteve commented on #3020
So if we went with 1. where would all of the code live?

[2019-04-05 17:56] nabobalis commented on #3020
A helper or util file that we can just import into the namespace directly.

[2019-04-05 17:58] #3029 closed

[2019-04-08 10:19] Cadair opened #3033 "Automate uploading reference figures from master CI builds to figure repo"
Our reference images for the figure tests are stored in this repo: https://github.com/sunpy/sunpy-figure-tests

When we run a figure test build on master (currently run by circleCI) we should ensure that the figures stored in this repo are upto date.

This should be a simple bash script or similar that is run at the end of the circle build and uploads to the figure test repo with a ssh deploy key.

[2019-04-08 14:45] lzeee commented on #2886
There are two warnings in sunpy.physics
Both caused by the package pywt.  In its' _utils.py,
"using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated"

[2019-04-10 16:32] ehsteve opened #3035 "Conversion from astrophysical coordinates to helio coordinate may not be correct"
It turns out that we have never really performed an accurate check on whether these transformations are actually correct. The only partial check that was performed was using eclipse images which included regulus. The limited accuracy of the ground-based photography did not allow for an accurate check.

[2019-04-10 16:50] ehsteve commented on #3020
I vote for #1.

[2019-04-10 16:50] hayesla commented on #3020
I vote 1 🌞

[2019-04-10 16:52] DanRyanIrish commented on #3020
I think for users' discoverability, option 1 is best.  Although it will confuse users when trying to find the source code if it is not in the map.py file.  I acknowledge that actually putting everything in map.py is untenable, however.

[2019-04-10 17:03] ehsteve opened #3036 "Add developer documentation for what functions belong under each namespace"
See title.

[2019-04-10 17:04] ayshih commented on #3020
I vote for 1 in the sense that I feel that functions should not be *required* to be only in a sub-namespace such as `util`.  That said, I think it is still reasonable for a set of highly specialized functions to be accessible only through a sub-namespace if that is desired for organization purposes.

[2019-04-10 17:23] MSKirk commented on #3020
I agree with the crowd and think number 1 is the best. I think an instrument specific namespace would make sense for highly specialized code that operate on maps.

[2019-04-10 17:30] wtbarnes commented on #3020
Also in favor of option 1

[2019-04-12 13:26] ayshih opened #3037 "Have LASCOMap compensate for the lack of observer information in LASCO FITS headers"
Apparently the LASCO FITS headers do not have the location of the spacecraft (e.g., `HGLN_OBS`, `HGLT_OBS`).  When such information is missing, our software assumes that the observer is at Earth, but SOHO is in a halo orbit around L1, so there is a non-trivial significant difference in heliographic longitude and latitude.  I'd like to know whether there are simpler options for getting this informa

[2019-04-12 13:41] ayshih opened #3038 "AIA FITS headers have inaccurate HGS coordinates"
AIA FITS headers apparently have inaccurate Heliographic Stonyhurst (HGS) coordinates (`HGLN_OBS` and `HGLT_OBS`).  For example, the distance from Earth center does not match the orbit radius.  We currently use these keywords to generate the `observer_coordinate` for an AIA map, so we provide an inaccurate observer location.

The headers also have Heliographic Aries Ecliptic (HAE) coordinates (`HA

[2019-04-12 14:30] ayshih opened #3039 "HPC coordinates need to factor in light travel time"
Our coordinates code currently ignores any corrections due to light travel time when transforming into helioprojective coordinates (HPC).  It's often "okay" to ignore light travel time for typical observations of the Sun at a distance of 1 AU because in 8 minutes the Sun moves <~0.01 arcseconds in HPC.  However, there are times with light travel time is quite important, such as when determining th

[2019-04-12 14:35] ayshih commented on #3035
@ehsteve still needs to actually flesh out this bug report, but I believe I've nailed down the three reasons for the reported discrepancies:

- LASCO FITS headers do not have observer location (#3037)
- AIA FITS headers have inaccurate HGS coordinates (#3038)
- HPC coordinates need to factor in light travel time (#3039)

[2019-04-12 20:20] ayshih commented on #3037
There is a set of FITS files with SOHO orbit information, but only with 10-minute resolution:

[ftp://sohoftp.nascom.nasa.gov/pub/data/ancillary/orbit/predictive/](url)

[2019-04-12 20:35] ayshih opened #3040 "MDI observer longitude not properly extracted from header"
The MDI FITS header has the observer Carrington longitude under the keyword `OBS_L0` (and `L0`) rather than `CRLN_OBS`, so our code currently misses this information and assumes an Earth-based observer.  We shouldn't use this value blindly, however, because I have reasons to be skeptical about Carrington-longitude calculations.  The good news is that the FITS header *also* has the Earth Carrington

[2019-04-12 20:36] ayshih commented on #3037
As an aside, MDI FITS headers *do* include observer location, although SunPy does not currently interpret this information correctly (see #3040).

[2019-04-12 20:49] ayshih commented on #3040
Description of MDI keywords: http://soi.stanford.edu/sssc/doc/keywords.html

[2019-04-12 20:54] ayshih commented on #3040
It also appears that our code also doesn't make use of `OBS_DIST` in the header, and instead performs an inaccurate conversion to approximate the SOHO-Sun distance...

[2019-04-12 21:02] ayshih commented on #3040
That said, it looks like `OBS_DIST` still disagrees with what SunSPICE reports, but we should still use what's in the header if the calculation isn't actually improving the accuracy.

[2019-04-13 10:15] Cadair commented on #3038
This feels like something we should get input on the AIA team from? @mbobra any suggestions on who we could talk to?

[2019-04-13 10:20] Cadair commented on #3039
Yeah I was thinking about this with regards to doing a direct HPC <> (H/I)CRS conversion the other day, I don't know if astropy has any helpers for this in ERFA.

[2019-04-15 10:14] samaloney opened #3045 "Cryptic error message when querying the HEK with a search that returns no results"
### Description
Cryptic error message when querying the HEK with a search that returns no results.

### Expected behavior

Rise a more informative error message or return an empty HEKTable

### Actual behavior

Raises an unexpected error
```ValueError: Inconsistent data column lengths: set()```

### Steps to Reproduce

[code]
### System Details

  - SunPy Version: sunpy-1.0.0.dev1274+gdc0c8cf4f.di

[2019-04-15 10:43] samaloney commented on #3045
I'll have a go at fixing this one should be pretty straight forward. Any preferences on:
a) raising a meaningful exception or
b) returning an empty HEKTable if that's possible?

[2019-04-15 10:48] nabobalis commented on #3045
I would go with returning an empty table, I think if Fido does not find anything, it just returns an empty response. I feel we should do the same.

[2019-04-15 14:18] ayshih commented on #3038
To be clear, the level of discrepancy here is essentially negligible (<1 arcsecond) for typical uses of AIA data.  However, it becomes important when placing non-solar objects (e.g., Venus) relative to the Sun in helioprojective coordinates.  We'd have to talk either to someone who can check the SDO code that calculates `HGLN_OBS`/`HGLT_OBS` for the header or to someone who has analyzed their Venu

[2019-04-15 14:42] ayshih commented on #3039
(I've edited the first post a little.)

I haven't looked for any helpers in Astropy's code, but given that their `get_body()` has an explicitly coded loop to converge on the corrected position for light travel time for an Earth-based observer, I doubt that they have something more general available elsewhere in their code base.

[2019-04-15 14:55] wafels opened #3047 "self test reports error on clean install"
A user found the error below on a clean install on Mac OSX

### Description

### Expected behavior

### Actual behavior

sunpy.__version__

'0.9.5'
[code]
[code]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### System Details

  - SunPy Version:
  - Python Version:
  - OS information:

[2019-04-15 14:57] nabobalis commented on #3047
I will look into this later this evening and see what i need to patch to make it work.

We should remove that method and ask none to use it ever again.

[2019-04-15 14:58] wafels commented on #3047
Thanks @nabobalis .

[2019-04-15 15:10] wafels commented on #3047
from sunpy.util.system_info()

 SunPy Installation Information

==========================================================

###########
 General
###########
Time : Monday, 15. April 2019 03:07PM UT
System : Darwin
Processor : i386
Arch : 64bit
SunPy : 0.9.5
SunPy_git : 8248e4b4cadaaf7b6bfd606fbae8ee8630409db5
OS: Mac OS X 10.13.6 (i386)

###########
 Required Libraries
###########
Python: 3.7.3
Nu

[2019-04-15 15:17] #3045 closed

[2019-04-15 19:53] nabobalis commented on #3047
Sorry @wafels, I went into a clean env, installed sunpy via pip with [all] and the command did run. Could you update to 0.9.6 and see if that fixes it? Also what is the version of pytest you are using?

[2019-04-15 21:13] samaloney commented on #2684
What's the expected fix, return a second list of failed files or include the failed ones in the currently returned list?