[2019-12-03 22:39] #3425 closed

[2019-12-03 22:49] Cadair commented on #3338
From speaking to VSO folk, to parse this we should check to see if there is a `<error>` key in the `<provideritem>` and if there is return the contents of the error key. `<provider>` will only exist if the error is from the provider rather than the VSO core.

There are docs on the VSO error code (in this case `D404`), both for the [letter](https://sdac.virtualsolar.org/cgi/show_details?keyword=STA

[2019-12-03 23:01] #913 closed

[2019-12-03 23:37] jhourcle commented on #2401
The VSO's matching of wavelengths is 'non-vanishing intersection'.  So if there's any overlap in the query range and the data's range, it'll be returned.  The same is logic is used for time ranges (which can get annoying when there's a mission-long data product)

The idea was that we'd rather the VSO returned too much data (which you can filter out), rather than not show something that you might'v

[2019-12-04 18:21] wtbarnes commented on #3233
Oh I see. I was not aware of that. I guess the problem is that `attrs.Sample` does not change the series, but that's not unexpected either. If a user was not aware of the different series names in JSOC, they would probably not be bothered by this. However, maybe we should change the sample cadence to something other than 720 s to avoid this confusion?

[2019-12-04 22:27] jhourcle commented on #2401
In talking to one of the VSO scientists, he said that the notion of 'wave type' as defined in the VSO data model makes no sense when talking about instruments like EVE.  The best thing within the VSO data model to differentiate the two products would likely be 'wave bands' ( FITS keyword: WV_NBAND / The number of wavelength bands in the observation), but that one never actually made it in the API,

[2019-12-05 14:26] iamrajiv opened #3581 "remove white spaces around the header image of sunpy.org website"
### Description

Currently, `https://sunpy.org/` site has a header image with white spaces around it. The header image is of SunPy logo.

![sunpy](https://user-images.githubusercontent.com/42106787/70243029-dd636280-1797-11ea-9e68-fa925434069c.JPG)

I think the header logo whiteout white spaces as around it will look great. Like this

![1](https://user-images.githubusercontent.com/42106787/7024367

[2019-12-05 14:27] iamrajiv commented on #3581
I want to work on this issue

[2019-12-05 14:30] #3581 closed

[2019-12-05 20:02] ayshih opened #3584 "Consider not deriving HeliographicCarrington from HeliographicStonyhurst"
Currently, `HeliographicCarrington` (HGC) is defined as a subclass of `HeliographicStonyhurst` (HGS), which is a straightforward way to avoid some code repetition.  However, this has the potentially surprising behavior that `isinstance()` cannot be used to check whether a frame is of a desired type: `isinstance(frame, HeliographicStonyhurst)` will return `True` even when `frame` is `HeliographicCa

[2019-12-06 15:06] dstansby opened #3586 "GenericMap should have property for unit of the stored data"
As far as I can see `GenericMap` does not have a property that is the unit of the observable/data stored in the map (https://docs.sunpy.org/en/latest/api/sunpy.map.GenericMap.html for current properties). It would be good if it could have one, so it is possible to coerce the data into a `astropy.units.Quantity` object with unit information.

[2019-12-06 22:24] Cadair commented on #3586
It actually does it's `.unit` because we inherit this from [`NDData`](http://docs.astropy.org/en/stable/api/astropy.nddata.NDDataBase.html#astropy.nddata.NDDataBase.unit).

If it's not showing up in the docs we should fix that.

[2019-12-08 03:15] #3586 closed

[2019-12-08 10:24] iamrajiv commented on #3546
I want to work on this issue @dstansby can you help me what changes I have to make
![11](https://user-images.githubusercontent.com/42106787/70388047-df653580-19d2-11ea-966a-75c254d46044.JPG)
means I have to make it like this `search(*query,sortby)`?

[2019-12-08 10:52] nabobalis commented on #3546
I think the issue (and dstanby will correct me if I am off the mark) is that the doc string for search has no returns section.

(Would go further and say the entire database package needs a review of its documentation strings)

[2019-12-08 11:16] iamrajiv commented on #3546
can you help me what I supposed to return is it a `list of database entries` @nabobalis

[2019-12-08 11:19] nabobalis commented on #3546
You will need to fill in the returns section of the documentation string following this style: https://numpydoc.readthedocs.io/en/latest/format.html#sections

If you go to part 5. Returns.

[2019-12-09 18:34] abhijeetmanhas commented on #3584
I want to work on it. I found that `frames.py` file contains  class `SunPyBaseCoordinateFrame`, which is parent of HGS, so should we add the heliographic functionalities in `SunPyBaseCoordinateFrame` class itself, or create its child, `BaseHeliographic`, which will be inherited by HGS and HGC?

[2019-12-09 18:38] bsipocz opened #3594 "generate_releaserst.xsh doesn't work for historical releases"
I would have liked to use the script to generate numbers between two old tags, but while the number of contributors and new contributors were correct, the script haven't limited the issue/PR numbers to be between those two tags but returned the numbers since the old tag to current top of master

[2019-12-09 18:49] ayshih commented on #3584
@abhijeetmanhas Great!  A new subclass of `SunPyBaseCoordinateFrame` should be created.  You can pretty much take the existing code for `HeliographicStonyhurst` and just rename it to `BaseHeliographic`.

[2019-12-11 19:03] #3546 closed

[2019-12-13 18:55] ayshih commented on #3182
Fixed the link in the OP so that it is a permalink.

[2019-12-14 05:37] Raahul-Singh commented on #3508
Hi I have opened a pull request for this issue. I am a beginner and would appreciate your feedback. :sweat_smile:

[2019-12-14 05:42] Raahul-Singh commented on #3492
Hi, I would like to work on this. I am a beginner. Could you please give some more information? :sweat_smile:

[2019-12-14 10:28] nabobalis commented on #3492
The RST line linked in the issue says that the data loaded in the code block that follow is random but in fact its real data from a file. That needs to be changed to reflect this.

[2019-12-15 11:37] #3508 closed

[2019-12-15 12:11] #3492 closed

[2019-12-15 12:14] #2452 closed

[2019-12-15 12:15] #3552 closed

[2019-12-15 12:38] #3584 closed

[2019-12-16 14:43] dstansby opened #3611 "CEA carrington maps do not show tick labels"
A synoptic map with cylindrical equal area (CEA) projection, does not show any tick labels at the default zoom level. The following code produces the plot below, which has no tick labels.

Zooming in eventually shows some tick labels, but I would expect labels to be shown without any zooming.

![Figure_1](https://user-images.githubusercontent.com/6197628/71721971-218d6580-2e1f-11ea-8aaf-0bafcde650

[2019-12-16 15:40] Cadair commented on #3611
This is a bug in WCSAxes, it occurs when the edge of the projection is in the last pixel in one of the dimensions. If you change the limits to match the shape of the array it should show the ticks. (If it doesn't it's another bug in WCSAxes which Tom told me he fixed :grin: )

[2019-12-16 16:08] dstansby commented on #3611
Thanks! Maybe updating astropy to 4.0 will help me then.

[2019-12-16 17:44] Cadair commented on #3611
It should make it better (or at least reduce the amount you need to zoom in). I wonder if there is an issue for this on the astropy tracker already.

[2019-12-16 19:02] dstansby commented on #3611
Hmm, the current master branch didn't help. Will see if I can conjure up an upstream issue.

[2019-12-16 19:24] sashank27 commented on #3415
@dstansby @Cadair can I start working on this?

[2019-12-16 19:35] Cadair commented on #3415
I think we did at least some of this already, you should check.

[2019-12-17 05:42] Raahul-Singh commented on #3514
Hi I would like to go at it.
It says package intermediate. What parts of the package do I need to be aware of? :sweat_smile:

[2019-12-17 07:12] wtbarnes commented on #3415
So it looks like a `cmap` property was added in #3412 which sort of addresses point two in the list in @dstansby's original post. However, it just pulls from `plot_settings`. As far as I can tell, no part of this issue has really been addressed yet.

[2019-12-17 07:51] Raahul-Singh commented on #3507
Hi, I was going through the docs and realized that a lot can be done here.
What would you recommend as the optimal funtionality that needs to be added here?

[2019-12-17 08:13] nabobalis commented on #3507
Probably needs to be removed. Adding that feature might be non trivial.

[2019-12-17 08:14] nabobalis commented on #3507
Having said that, I wonder if all you want to do is call rotate on each map.

[2019-12-17 08:25] Raahul-Singh commented on #3507
Just for the challenge, I'd try implementing the non trivial solution. I assume ``mapsequence_solar_derotate`` which uses  ``sunpy.physics.solar_rotation`` would work, or should I go for differential rotation?
Also, could you suggest some data with more than two maps so that I can test whether I am on the right track or not.

[2019-12-17 08:52] wtbarnes opened #3612 "Formatting of remote data manager example"
The [remote data manager example](https://docs.sunpy.org/en/latest/generated/gallery/remote_data_manager.html#sphx-glr-generated-gallery-remote-data-manager-py) is listed on its own instead of in one of the other example gallery categories (e.g. "Map", "Acquiring Data"). Is this intentional?

Additionally, the one line description just below the header is formatted a bit strange (i.e. there's some

[2019-12-17 08:54] nabobalis commented on #3507
It would be what function or code that map.rotate uses. Probably to rotate the following maps to the first one in the sequence.

In terms of data, you'll need to acquire some (using one of the gallery examples as a base) or construct one from the test data.

[2019-12-17 08:58] nabobalis commented on #3514
In this case you need to be aware of how the sample data is downloaded, where it's downloaded from and how to update it.

[2019-12-17 09:00] Raahul-Singh commented on #3507
Cool. Thanks! :smiley:

[2019-12-17 09:05] wtbarnes commented on #3507
`map.rotate` is used for rotating about an axis perpendicular to the plane of the image. My understanding is that the intention of the `derotate` kwarg in `MapSequence` was to align all maps in the sequence to some reference image. This can be done in various ways, but ultimately the rotation is going to be about the rotation axis of the Sun rather than about the axis perpendicular to the plane of

[2019-12-17 09:18] nabobalis commented on #3507
Ah I was mistaken. I just think `derotate` is a strange name for that since it's not the opposite of `rotate`.

[2019-12-17 09:38] Raahul-Singh commented on #3507
@wtbarnes Thanks! I'll pick this up after those PRs are merged.

[2019-12-17 15:25] ayshih commented on #3507
While implementing actual functionality would be great, in the meantime I suggest bugfixing existing releases such that using this keyword raises a `NotImplementedError`.

[2019-12-18 04:41] Raahul-Singh commented on #3507
@ayshih Would a simple ``raise NotImplementedError("This functionality has not yet been implemented.")`` in the function body suffice for now?

[2019-12-18 14:00] ayshih commented on #3507
Yup (plus a test)

[2019-12-18 18:08] Raahul-Singh commented on #3507
I've added a PR #3613
This is my first time working with ``pytest``. Please let me know if any improvements can be made.

[2019-12-18 21:52] #3612 closed

[2019-12-19 08:42] Raahul-Singh commented on #3295
@sadielbartholomew  hi, are you still working on this?

[2019-12-19 15:50] bmorris3 opened #3622 "Map cannot open FITS files directly retrieved from DRMS"
### Description

I'm trying to initialize a map with an output from `drms` and having some trouble.

### Expected behavior

[code]
should produce a map.

### Actual behavior

[code]

### Steps to Reproduce

[code]

### System Details

  - SunPy Version: 1.0.6
  - Astropy Version: 4.1
  - Python Version: 3.7
  - OS information: Mac OS X 10.14.6

[2019-12-20 10:49] #3494 closed

[2019-12-20 17:23] jmason86 commented on #3248
Maybe the same issue?
[code]
results in this traceback:

  File "/Users/jmason86/anaconda3/envs/cme_speed/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3325, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-4-ff7118f7559c>", line 1, in <module>
    maps[0].fits_header
  File "/Users/jmason86/anaconda3/envs/cme_speed/lib/python3.7/site-p

[2019-12-20 18:30] Cadair commented on #3622
So it looks like the reason is there is no unit metadata in the file.
[code]

I think there is still a bug here which is that we should be raising that warning as an error, so it's very obvious that it's failed for that reason.

[2019-12-20 18:36] ayshih commented on #3622
Heh, I was just looking into this too!  I'll just point out that there's virtually no metadata at all in the FITS header beyond the barest minimum.

[2019-12-20 18:38] Cadair commented on #3622
Yeah, it's a direct export from DRMS, so it wont have any header.

[2019-12-20 18:41] ayshih commented on #3622
Just yoinked this from the `drms` documentation about this approach:

[2019-12-20 18:46] bmorris3 commented on #3622
Ah I see. That's interesting because I'm 99% sure that this command worked for me a few months ago, with older versions of the software.

[2019-12-20 20:36] sadielbartholomew commented on #3295
Hi, due to unanticipated events I never got to start this, sorry! Please consider me unassigned as I don't think I will have time to address this. I'll let someone else step in.

[2019-12-21 08:23] Raahul-Singh commented on #3295
Um. I have a doubt. When you say ``Dict like objects are fine, but our own metadata object isn't!!``, do you mean that the there shouldn't be a separate metadata object and we should use a simple dictionary or do you mean that there is a bug in the custom object?

[2019-12-21 08:55] Cadair commented on #3622
I think we have made our validation more strict in the last little while. The purpose of map is to have the coordinate information to generate a WCS and other structured metadata. If you don't have this metadata you really only have a numpy array in terms of the data you have.

You can make a second query to drms and get the header info and then construct the map from both.

[2019-12-21 10:35] nabobalis commented on #3295
The latter. It seems that we can't pass in our own metaclass to create a timesseries (how was there not a test for this?)

[2019-12-23 21:06] dstansby opened #3635 "Figure test coverage not being uploaded"
e.g. see https://app.circleci.com/jobs/github/sunpy/sunpy/30311/parallel-runs/0/steps/0-107

[code]

[2019-12-29 21:35] #3506 closed

[2019-12-30 00:46] wtbarnes commented on #3622
Should we have an example that shows how to manually construct a header and create a map from a header and a URL? This effectively circumvents the JSOC export system, but may be useful to some people.

[2019-12-30 01:13] wtbarnes commented on #3507
Closed by #3613

[2019-12-30 01:13] #3507 closed

[2019-12-30 02:07] wtbarnes commented on #3440
I looked into this a bit. First, I attempted to query the VSO for some SXT data and downloaded the first full-disk image

[code]

When I tried to construct a Map from this file, I initially got an `UnrecognizedFileTypeError`, presumably because these files do not have the '.fits' extension. I added '.fits' to the end of the filename to force `Map` to use the FITS reader and got an `OSError: Header

[2020-01-02 16:31] Swixx commented on #3486
@hayesla Were you able to make any progress? If not I'm willing to help out!

[2020-01-03 10:40] Cadair opened #3643 "Update to support new features in wcslib 7.1"
wcslib 7.1 includes:

Requested by Stuart Mumford (SunPy) with input from Bill Thompson.

While we can't rely on wcslib 7.1 yet, as it's not even been merged into astropy (astropy/astropy#9829), we can work out how to support it in parallel with our old hacks.

What this allows us to do is to use the underlying wcslib strcuts for storing the heliographic observer location and rsun reference value.

[2020-01-03 10:42] Cadair commented on #2910
wcslib 7.1 has the changes required to address this, see #3643 and astropy/astropy#9829

[2020-01-03 11:29] dstansby commented on #3635
Weird, seems to be working again now...

[2020-01-03 11:29] #3635 closed

[2020-01-03 11:49] dstansby commented on #3611
Okay I think my input to the fits helper was a bit wrong, which I've fixed above. Now the x-axis is plotting fine, but the y-axis is still not showing up.

[2020-01-03 17:12] Raahul-Singh commented on #3325
So, from what i get, we need to add a parameter ``top_right`` and use it and ``bottom_left`` to figure out ``height`` and ``width`` as ``plt.Rectangle`` works with ``height`` and ``width`` ?

[2020-01-03 17:15] Raahul-Singh commented on #3279
Could you please elaborate? :sweat_smile:

[2020-01-03 17:22] Raahul-Singh commented on #3208
Is this still open?

[2020-01-03 17:54] nabobalis commented on #3208
Yes.

[2020-01-03 18:01] nabobalis commented on #3325
I assume we would want to unify the API for both functions using submap API's.

[2020-01-03 18:03] Cadair commented on #3279
oh man, I should open better issues.

I think this is that sometimes you want to be able to get at the table we print out when you `str(results)` from a `results = Fido.search(...)`, I don't think at the moment there is any property on `UnifiedResponse` which gives you that table.

[2020-01-03 19:38] abhijeetmanhas commented on #3463
I would like to work on it, do we have to do it for all classes like `wcs` `image` etc in `animator` ?

[2020-01-03 19:40] Raahul-Singh commented on #3325
In other words, create the rectangle as is done in ``submap`` and use the same for ``draw_rectangle``?

[2020-01-03 20:02] nabobalis commented on #3325
Yeah but raise warnings if they use the old keywords that they will be removed in future.

[2020-01-04 07:30] mridullpandey commented on #3260
hello sir , i want to work on it, will you please explain it

[2020-01-04 11:01] Raahul-Singh commented on #3279
Would the table as a pandas dataframe be sufficient?

[2020-01-04 11:05] Raahul-Singh commented on #3208
@gowthamraj198 are you still working on this? Or may I give this a shot?

[2020-01-04 14:36] gowthamraj198 commented on #3208
@Raahul-Singh please work on it. If possible try to work on top of my commits.

[2020-01-04 17:54] Cadair commented on #3643
It should be noted that 7.1 is now in astropy master and will be included in 4.0.1, so this is now easy to hack on.

[2020-01-05 21:35] hayesla commented on #3486
Hey @Swixx ! oh yes, I  realized I never made a PR for this - I have most of it implemented I think but maybe a PR review would be great when I make it. Have you worked on it yourself?

[2020-01-07 14:33] ayshih opened #3650 "Remove authorship information from the code itself?"
Let's have a discussion about whether to remove authorship information from the code itself (e.g., `__author__` and `__email__`).  (See [triggering comment thread](https://github.com/sunpy/sunpy/pull/3646#discussion_r363508066).)

Some reasons to remove it:

- It's not currently commonly available across most of our code.
- The stuff that's there isn't necessarily accurate because it hasn't been m

[2020-01-07 14:50] nabobalis commented on #3650
If it's being stored anywhere its stored in a nice rst doc file somewhere.

[2020-01-07 15:23] Cadair commented on #3650
I am in favour of removing it. Even in most cases when a file started off as the work on one or two people it rarely stays like that for very long and then the comments never get updated.

[2020-01-07 19:34] wtbarnes commented on #3650
I'm also in favor of removing it. At best it is redundant as authorship is already recorded in the git history and at worst it is inaccurate. It also has to be maintained by hand.

Whichever way we decide, I don't think we should do this on a subpackage level. It should be consistent across the entire code base.

Before we make a final decision though, I think we should get the opinions of those w

[2020-01-08 04:20] ayshih commented on #3650
That doesn't seem practical in terms of format or maintenance.  Authorship is naturally coupled with individual code files, so creating and maintaining a separate list of authorships is even more work.

Certainly there are many code files where the authorship list would be impractical to be listed as individuals, and should just be "SunPy collaboration" or something like that.  However, there are

[2020-01-08 06:17] Swixx commented on #3486
@hayesla No, no yet - figured I would ask if you had first!

[2020-01-08 09:28] nabobalis commented on #3650
Nor is it practical to add a new author each time a commit is made to a file or a collection of files.

If you want to acknowledge specific people due to their contribution on a file or a package, an acknowledge section in a docstring at the top of the file or package ``__init__`` I would be ok with.
This more visible than ``__authors__`` and will be in the docs as well so more people can see it.

[2020-01-08 10:19] Raahul-Singh opened #3651 "Bugs in the TimeSeriesMeta creation."
### Description

When passing parameters to ``TimeSeriesMetaData``, if only ``meta`` and ``timerange`` are provided, the returned object is empty, and doesn't even store the ``meta`` or ``timerange`` passed.
The docs stating that these parameters are optional are wrong and need to be changed.
All parameters need to be passed for object creation.
### Expected behavior

When all parameters are passe

[2020-01-08 14:20] ayshih commented on #3650
I don't necessarily have objections to authorship information being removed, but I strongly dislike the offered justifications: that Git history is a competent substitute (it isn't), and that we're too lazy as maintainers (I'm not, at least).

I'd like to know whether there is consensus that authorship information is something we want to record on this project.  If so, we can debate how (and I don

[2020-01-08 14:26] nabobalis commented on #3650
I don't disagree with you here. But the concept of authorship on a piece of code that sees maybe 20 people working on it, I don't think is clear cut enough to warrant inclusion within our code.

Personally I think if we want to say that someone has contributed to sunpy or a piece of code, we should acknowledge them but I don't think authorship is how we should go about that.

This I think should b

[2020-01-09 21:31] khughitt commented on #3650
Fyi, I'm completely fine with either decision and leave it up to the current devs to decide :+1:

[2020-01-10 10:33] #3553 closed

[2020-01-10 12:02] Cadair commented on #3594
How are you specifying the newer of the two versions? By the current HEAD of the git repo?

[2020-01-10 12:24] #3594 closed

[2020-01-10 17:59] sashank27 commented on #3502
@wafels @ayshih most of the sources present in SunPy are already tested in their specific source tests (`map/sources/tests`). Is there a need to extend them to `test_mapbase` as well?
Also, are there any specific map sources you have in mind that needs to be tested? Or all of them?

[2020-01-10 18:10] sashank27 commented on #3279
@Cadair as far as I understand the issue, currently `UnifiedResponse` object has no helper function by which we can access the range of values obtained on `result` for specific values i.e. something like values of `results['Source']`.
Am I right?

[2020-01-10 18:27] #3463 closed

[2020-01-10 18:30] sashank27 commented on #3279
https://github.com/sunpy/sunpy/blob/4c563d9c7498f426e43266a6733e9662ddb2a6db/sunpy/net/dataretriever/client.py#L96-L109
This already converts the response into an `astropy.table.Table`, but uses only for printing nicely. Is there a way we can utilize it?

[2020-01-10 18:47] abhijeetmanhas commented on #3348
@Cadair is this issue resolved? I guess it is.

[2020-01-10 18:49] nabobalis commented on #3348
It looks unresolved.

[2020-01-10 19:09] abhijeetmanhas opened #3674 "Removing astropy_helpers section in CONTRIBUTING.rst"
### Description

As of PR https://github.com/sunpy/sunpy/pull/3598, sunpy no longer needs `astropy_helpers`, and even it is removed from the package.
I think there should not be a section of Astropy Helpers in contribution guidelines as well.

[2020-01-10 19:19] nabobalis commented on #3674
Good point, that section and anywhere else its mentioned should be removed.

[2020-01-10 22:08] abhijeetmanhas commented on #3348
The examples to which links are provided are no longer available, _`imageAnimatorWCS` is deprecated since 1.1, and to be removed in 2.1_ is written in docs. Is the issue present in other animators too?

[2020-01-10 22:23] nabobalis commented on #3348
I think it was renamed to `ArrayAnimatorWCS`.

[2020-01-11 06:45] abhijeetmanhas commented on #3348
![Figure_1](https://user-images.githubusercontent.com/43112347/72200156-b3beea80-346b-11ea-85e4-10d7eb2953f9.png)
I ran the the first example in the gallery https://docs.sunpy.org/en/latest/generated/gallery/plotting/arrayanimatorwcs.html#sphx-glr-generated-gallery-plotting-arrayanimatorwcs-py , I found that axis labels are not shown, but if we define `coord_params` , then they are visible.

[2020-01-11 09:22] Raahul-Singh commented on #3325
Looking at the checks that my PR is failing, I think I'd need some assistance in cleaning this up. :sweat_smile:

[2020-01-11 10:27] nabobalis commented on #3348
I think that the fact it needs coord_params to display any labels is a bug and the other bug is if you move the slider, the labels go again.

[2020-01-11 10:49] nabobalis commented on #3325
Please try to keep PR problems to the PR and not the original issue.

[2020-01-11 10:50] Raahul-Singh commented on #3325
Ok. Will keep that in mind :+1:

[2020-01-11 11:07] #3674 closed

[2020-01-11 11:22] dstansby commented on #481
I'm going to close this, as it doesn't (to me) identify a specific issue or feature request. Feel free to re-open with more info!

[2020-01-11 11:22] #481 closed

[2020-01-11 11:51] abhijeetmanhas commented on #3348
Understood now, Thanks :). I will work on it.
On 11 Jan 2020 15:57, "Nabil Freij" <notifications@github.com> wrote:

[2020-01-11 12:39] Cadair commented on #3348
It's possible that this is fixed in `ArrayAnimatorWCS` but I am not sure.

[2020-01-12 13:56] Raahul-Singh commented on #3117
Is there any inherent logic for differentiating between `carrington` latitudes and longitudes and  `stonyhurst` latitudes and longitudes that may be used to figure out which ones the user may want?
If not can we not simply do a search in the meta to see what all may be missing?
From what I understand, `dsun_obs` will be the same for both and will be easy to verify if missng?

[2020-01-12 15:19] Cadair commented on #3117
The way this works is that map sources can register any keywords they like to be interpreted as observer position. See [`AIAMap`](https://github.com/sunpy/sunpy/blob/master/sunpy/map/sources/sdo.py#L61) for an example.

In `GenericMap` we would need to support finding out what keys are missing based on the `_supported_observer_coordinates` property.

[2020-01-12 15:32] Raahul-Singh commented on #3117
In your comment here you mentioned `work out what ones are missing, i.e. you could have a weird header with a mix of crln and hglt`, in this context is there some logic to discern one from the other or do we need to simply show all which may be missing?
[https://github.com/sunpy/sunpy/pull/3115#discussion_r285675087](url)

[2020-01-12 15:48] Cadair commented on #3117
So each frame has 3 keys, if none of them match, then we ignore the frame as it's clearly not there. If some but not all of them match (and none match all 3) we should tell the user that we failed to read any of the half-present frames because of a specific missing key or two.

Does that make any sense?

[2020-01-12 15:51] #222 closed

[2020-01-12 15:52] Raahul-Singh commented on #3117
Cool. I understand now. Thanks! :smiley:

[2020-01-12 19:26] sashank27 commented on #3554
I believe this issue still persists. Any insights on how to proceed?

[2020-01-12 21:09] wtbarnes commented on #3622
With #3646 merged, the original code example now raises the following exception,

[code]

I'm going to close this since the issue with the header is now stated much more explicitly. Feel free to reopen if any issues persist.

[2020-01-12 21:09] #3622 closed

[2020-01-13 10:26] mridullpandey commented on #3359
yes @Cadair @hayesla  i guess we actually need to update example gallery  only thats causing all the test failures

[2020-01-13 10:44] Laubeee opened #3682 "List of available sources for TimeSeries?"
The [docs](https://docs.sunpy.org/en/stable/code_ref/timeseries.html#instrument-timeseries-classes) state:

But there is nothing there, except for the XRS example. Is there a list of supported sources? If so, could it be linked in this page?

[2020-01-13 10:57] nabobalis commented on #3682
That link is very broken, it should go to a list. I wonder what happened to it.

[2020-01-13 11:04] nabobalis commented on #3682
On 0.9, we have a list of classes but it seems to have gone on 1.0+
https://docs.sunpy.org/en/v0.9.9/code_ref/timeseries.html#classes

[2020-01-14 18:53] sashank27 commented on #2917
@dstansby @Cadair could you give more insight on this? Currently `to_dataframe` returns just `.data`.
Do I need to modify `to_dataframe` so as to convert raw data to a Pandas dataframe? Or anything else?

[2020-01-14 23:20] Cadair opened #3688 "Provide a keyword for map sequence to skip over bad files and continue loading."
When loading a map sequence, if one file fails then it kills the whole load without telling you which file it failed on.

[2020-01-14 23:22] jmason86 commented on #3688
e.g.,

[code]
results in:
[code]

[2020-01-14 23:25] jmason86 commented on #3688
My suggestion is that it skip the broken file, complete the load, but issue a warning that includes the filename(s) that failed

[2020-01-15 09:54] dstansby commented on #2917
It looks like we need to add a `.data` property, with a setter and getter, and to raise a deprecation warning when `.data` is accessed (which tells the user to use `.to_dataframe()` instead.

[2020-01-15 09:59] vn-ki commented on #3554
@sashank27 If you look at the changes made in #3550 you can see that there was already some code to do just this. But this was removed because it would have test related code in the actual codebase itself. This is not ideal.

So the essense of this issue is to figure out a good way to make the data manager tests not actually touch the local cache in some way. You could use the code removed in #355

[2020-01-15 12:24] Raahul-Singh commented on #3117
Can a frame have more than three meta?

[2020-01-16 14:57] dstansby opened #3700 "map.wcs_utils should support hgln_obs and hglt_obs WCS keywords"
### Description
Currently the `solar_wcs_frame_mapping` in `sunpy.map.wcs_utils` only support custom observer and rsun attributes that are added by SunPy. It should be possible to support the `'hgln_obs'` and `'hglt_obs'` keywords directly, so the example below works fine.

### Expected behavior
See code below; I expected the observer coordinate to be set in the resulting coordinate frame.

### Ac

[2020-01-16 14:59] dstansby commented on #3700
Woops, I think this might be a dupe of #2910 - might be worth appending my example above to that issue though?

[2020-01-16 15:31] Cadair commented on #3700
This would also be fixed properly by #3643 and is indeed a dupe of #2910. Please x-post your example :smile:

[2020-01-16 15:41] #3700 closed

[2020-01-16 15:43] dstansby commented on #3643
To add an example, the goal is to make this code add the observer coordinate properly:

[code]

Note how the observer is currently `None`:
[code]

[2020-01-16 21:49] Cadair opened #3701 "Rethinking and rewriting sunpy.self_test"
We are currently using astropy's test runner for `sunpy.self_test` this was really designed for setup.py and is therefore very full of features which are probably not needed for self_test.

Before we (I) go deleting swathes of code as I love to do. What do we want to achieve with self test? Is a very slim wrapper around `pytest --pyargs sunpy` all we need?

[2020-01-16 21:53] nabobalis commented on #3701
Do we need even need a self test?

[2020-01-16 22:20] Cadair commented on #3701
That's a valid question. People do use it, and it's a potentially useful debugging tool.

[2020-01-16 22:25] nabobalis commented on #3701
Isn't that only because we tell them to in the guide?

[2020-01-17 05:45] twentyse7en commented on #3688
Hey , I would like to work on this issue.As I'm new to opensource contribution, it will be very helpful if someone mentor me.

[2020-01-17 07:33] abhijeetmanhas commented on #3701
Just for sake of more info,
In issue #3369 , self test were used to know import errors with conda forge. Is there any other ways of testing that sunpy will do as expected in all environments and OS?

[2020-01-17 09:06] abhijeetmanhas commented on #2096
It is dependent upon drms package, and JSOC2 has already been discussed here, some authentication issues. https://github.com/sunpy/drms/issues/18

[2020-01-17 09:16] nabobalis commented on #2096
So we should probably close this?

[2020-01-17 09:18] nabobalis commented on #3688
Hi @twentyse7en, what would you need help with? We normally suggest people start by reading: https://docs.sunpy.org/en/latest/dev_guide/newcomers.html to get familar first.

[2020-01-17 09:51] dstansby commented on #3701
I remember someone mentioned that `self_test()` can be used to check that a SunPy installation isn't broken.

[2020-01-17 12:04] dstansby opened #3702 "Add STEREO EUVI colourmap"
It doesn't look like sunpy has a built in colourmap for STEREO EUVI: https://docs.sunpy.org/en/stable/code_ref/visualization.html#module-sunpy.visualization.colormaps - it would be good to have one added.

[2020-01-17 13:11] wtbarnes commented on #2096
Hmm. The way I understand it, using drms by itself, one can easily target other servers other than just the public JSOC at Stanford. However, the JSOCClient in sunpy hardcodes the server as JSOC such that one cannot use Fido to search any DRMS server except JSOC. See also #3297

[2020-01-17 13:54] abhijeetmanhas commented on #3702
I would like to work on it. @dstansby what's the reference for adding color maps, from which numpy arrays in `color_tables`are formed? I googled and found this php script https://heliodocs.com/xdoc/xdoc_print.php?file=$SSW/stereo/secchi/idl/display/secchi_colors.pro .

[2020-01-17 18:47] dstansby commented on #3702
Yes, that looks right. I don't know the details myself, but maybe you could work it out by working out what's already in the sunpy code for other colormaps.

[2020-01-17 20:05] nabobalis commented on #3651
I don't know enough about time series or how it was designed but looking at the ``__init__`` you need to pass each argument in with the correct time otherwise it will not work. I wonder if it is actually a bug in the logic in that function.

[2020-01-17 21:14] #2908 closed

[2020-01-18 17:22] twentyse7en commented on #3688
consider this test case :

`mymap = sunpy.map.Map(['file1.fits', 'file2.fits', 'file3.fits'])`

If  `file1.fits`  failed to load , load all others left in list and issue a warning for failed file as @jmason86 suggest.

In  `test_map_factory.py`  there is a test , If directory doesn't exist it should raise `ValueError`

So for this test case  :

`mymap = sunpy.map.Map(['file1.fits', 'file2.fits', '

[2020-01-18 19:00] nabobalis commented on #3688
I would make it error, the issue here isn't that the files don't exist. It is that they do exist but are broken in some way. If I pass in made up files, I should be told that they don't exist.

[2020-01-18 20:05] jmason86 commented on #3688
Does making it error also mean execution halt / code crash? That’s what I’m
really trying to avoid.

On Sat, Jan 18, 2020 at 12:00 PM Nabil Freij <notifications@github.com>
wrote:

[2020-01-18 21:48] wtbarnes commented on #3233
Closed by #3573

[2020-01-18 21:48] #3233 closed

[2020-01-19 00:13] wtbarnes opened #3713 "Update docs for new cmap and norm keywords"
Once #3624 is merged, the `plot_settings` kwarg will be deprecated in favor of passing `cmap` and `norm` explicitly to the `Map` constructor and the remaining keywords to `plot()` (or `peek()`). The docs need to be updated in several places to account for this, mainly in `guide/data_types/map.rst`, though there may be other places as well. The examples in the example gallery have largely been fixe

[2020-01-19 17:31] twentyse7en commented on #3688
If one map fail to load , Its name should be mentioned and raise a error.Is that it @nabobalis .
Also to avoid code crash , we could provide a optional keyword argument. If it is `True` skip error and load other map in the list. It will be default `False`, works in old way. So it satisfy @jmason86 need too.

[2020-01-19 17:37] nabobalis commented on #3688
We can start with that and see where it takes the API.

[2020-01-19 17:51] twentyse7en commented on #3688
I didn't get what you mention about API @nabobalis .
Sorry to ask , I'm new to opensource contribution.

[2020-01-19 17:53] nabobalis commented on #3688
I mean about adding the extra keyword.

[2020-01-19 23:55] jains8844 commented on #3338
I would like to work upon this issue

[2020-01-20 06:36] Raahul-Singh commented on #3260
Could you please give more information regarding the implementation?

[2020-01-20 06:49] Raahul-Singh commented on #1515
Could you please give more information about the attributes that this object should have? Also where should this class be ? In `utils` ?

[2020-01-20 09:22] nabobalis commented on #3338
@jains8844 go ahead, you don't need permission to work on open issues.

[2020-01-20 09:25] nabobalis commented on #1515
Putting it in a new file under utils would make sense to me. I would imagine it would need similar attributes to what TimeRange has: start,end, delta, contains (?).

[2020-01-20 09:40] Cadair commented on #3260
The stack for SunPy's file downloader is sunpy > [parfive](https://github.com/Cadair/parfive) > aiohttp you need to work out how to pass the user agent headers through that stack into aiohttp.

[2020-01-20 12:46] jains8844 commented on #3338
I was going through the JSOC one. The page [https://docs.virtualsolar.org/wiki/DataProviderJSOC_SHA#no1](url) shows that JSOC provider serves data for AIA and HMI instruments.
I tried
`client.search(vso.attrs.Time(datetime(2010, 1, 1), datetime(2010, 1, 1, 1)),vso.attrs.Instrument('aia'))`
but it results into an `XMLParseError` from zeep client `Unexpected element 's-gensym3'` and the same thing h

[2020-01-20 12:59] jains8844 commented on #3338
For the VSO replacing [https://github.com/sunpy/sunpy/blob/master/sunpy/net/vso/vso.py#L367](https://github.com/sunpy/sunpy/blob/master/sunpy/net/vso/vso.py#L367) with
`resp=self.api.service.Query(
                        QueryRequest(block=block)
                    )
                for i in resp:
                    if(i['error']):
                        warnings.warn(i['error'], SunpyUserWarn

[2020-01-20 13:04] jains8844 commented on #3338
resp=self.api.service.Query(
                        QueryRequest(block=block)
                    )
                for i in resp:
                    if(i['error']):
                        warnings.warn(i['error'], SunpyUserWarning)
                responses.append(
                    VSOQueryResponse(resp)
                )

For VSO replacing [https://github.com/sunpy/sunpy/blob/master/sunpy/

[2020-01-20 17:05] sashank27 commented on #3254
As far as I understand, we have to do the refactoring only in `sunpy.map`?

[2020-01-20 17:06] nabobalis commented on #3254
Probably?

[2020-01-20 17:47] sashank27 commented on #3297
This is what we have to do in this case? I would like to tackle this one.

[2020-01-20 18:56] abhijeetmanhas opened #3715 "`GenericClient.search` can't know URLs' timeranges without additional function"
### Description
While implementing a Client in `sunpy/net/dataretriever/sources`, which is subclass of `GenericClient`; the `GenericClient.search` can't use `_get_url_for_timerange` function, to know timeranges for urls returned by it.
 An additional ` _get_time_for_url` function is required to be implemented so that search can know the time range for each individual URL.
Only one function should

[2020-01-20 20:58] wtbarnes commented on #3297
The snippet above is pseudocode, but roughly speaking, yes. Configuring the `drms.Client` is slightly more involved, but not terribly difficult. I've not tested any of this so there may be other hangups. The tricky bit will be adding the attr I think. This may also be difficult to test if you do not have access to an alternate netDRMS installation...

To make it even more flexible, we could just a

[2020-01-20 21:14] wtbarnes commented on #191
Point 3 is covered by the database subpackage?

Points 4 and 6 seem like they're covered by #3124?

If I understand it correctly, I'm not sure point 5 is something we even want to do at this point.

[2020-01-20 21:33] wtbarnes commented on #225
`sunpy.util` has ~90% test coverage. Can we close this? If we want better test coverage on `towncrier.py`, we should create a specific issue for that.

[2020-01-20 21:37] wtbarnes commented on #281
Can this be closed? The directory where sunpy downloads data can be set in the config file...

[2020-01-20 21:56] wtbarnes commented on #396
This is really three issues in one. The last has already been addressed above.

I don't think this has ever been addressed, i.e. when I do `help(sunpy.map.sources.AIAMap)`, I only get the docstring for `AIAMap`.

`Map` now includes both `measurement` and `wavelength` attrs. I don't think this question is relevant anymore.

I'm going to close this and open a separate issue for the first point. Feel

[2020-01-20 21:56] #396 closed

[2020-01-20 21:59] wtbarnes opened #3716 "Automatically include Map docstring when displaying help for subclasses?"
Originally raised in #396. Ideally, the `GenericMap` docstring should also be included when using one of the source-specific maps. For example, when calling `help(sunpy.map.sources.AIAMap)`, I should see the docstring for `GenericMap` and `AIAMap`.

[2020-01-21 00:08] #225 closed

[2020-01-21 00:35] wtbarnes commented on #618
@MSKirk could you give this a try and see if you still run into issues with the current implementation of `Map`?

[2020-01-21 04:03] wtbarnes commented on #618
After reading in the header and adding `cunit1` and `cunit2` entries, I was able to register your `ISOONMap` and read data into a map from one of the files you linked above (I'm impressed that your UNM site is still up! 😆). However, the header still seems a bit wonky as it is falling back to a simple WCS because it can't parse one from the header see https://github.com/sunpy/sunpy/blob/ffce1d0381f

[2020-01-21 04:07] wtbarnes commented on #664
Closing as every Map source is above 95% test coverage except SXT and it looks like this is covered by #3440

[2020-01-21 04:07] #664 closed

[2020-01-21 04:21] wtbarnes commented on #931
What is current consensus on this? Has there been any progress on an SEP to address this?

[2020-01-21 04:22] wtbarnes commented on #953
There is no description here. What is the purpose of this issue?

[2020-01-21 04:26] wtbarnes commented on #997
I can see why mangling the `COMMENT` values is an issue, but why does the order of the keys in the header matter?

[2020-01-21 04:29] wtbarnes commented on #998
I think the issue of versioning ancillary data files like response function tables, calibration data, etc. is addressed by the remote data manager (#3124). However, I'm not so sure about the tracking of regular "science" data files.

[2020-01-21 04:41] wtbarnes commented on #1137
@Cadair can you confirm this still is/not a problem?

[2020-01-21 04:44] wtbarnes commented on #1147
Example? What files are these that don't have the `CDELT` keywords? Could we at least add a warning in `resample()` that is raised if the CD matrix (tbh, I don't even know what this is) is present?

[2020-01-21 04:57] wtbarnes commented on #1259
I need to correct my comment above. JSOC does offer a way to do cutouts via the [export data](http://jsoc.stanford.edu/ajax/exportdata.html) page. See Stuart's comment above. The question is how exactly to get at that API.

I think the first step will be doing this in the drms package and then adding the ability to propagate that query through `Fido`.

[2020-01-21 07:39] Raahul-Singh commented on #3260
So, here's what I plan to do. Please let me know if I have understood this properly.
I'll make an appropriate `str` that will hold the information on `sunpy`, `python`, etc.
I will then pass it to existing `parfive.Downloader.enqueue_file()` as a `kwarg` with the key as `header`.
This will then pass it on to `aiohttp.ClientSession()` object as a header. Will anything more be required?

[2020-01-21 09:52] Cadair commented on #3260
I think that would work, but my concern with doing anything at the `enqueue_file` level is that we have to do it for each client and place which downloads files, rather than in one central place. If you feel up to the extra challenge coming up with a way (in parfive probably) to specify these things in a more session based way would be cool.

[2020-01-21 10:05] Cadair commented on #1137
It might still be an issue, but as `Fido` is now our interface to `VSOClient` and it doesn't have this issue, do we care?

[2020-01-21 10:06] Cadair commented on #1147
I am not sure I have an example of a file, but it's a perfectly legitimate to have a `CD` matrix instead of `CDELT` + `PCi_j`.

[2020-01-21 11:05] Cadair commented on #998
I think in theory we have this covered now, remote data manager does the ancillary side and the database subpackage *should* do the science data side.

[2020-01-21 11:06] #998 closed

[2020-01-21 11:09] Cadair commented on #191
Yeah I think we have got as far as we want to for now with this as well.

[2020-01-21 11:09] #191 closed

[2020-01-21 11:31] Cadair commented on #3297
I am not sure I like the pattern of using an 'attr' for this. The notify attr is already a hack and I am not I want to propagate that. How important is it that we support this through `Fido` rather than just through `JSOCClient`? Also we could consider allowing `**kwargs` to `search()`?

[2020-01-21 11:37] Cadair commented on #3297
And in fact `kwargs` to `fetch()` as really `notify=` is something that is only needed at export time which is a step that happens inside `fetch()`.

[2020-01-21 12:17] wtbarnes commented on #3073
Would #3627 resolve this?

[2020-01-21 12:20] wtbarnes commented on #929
Closing as this is covered by #2970

[2020-01-21 12:20] #929 closed

[2020-01-21 12:27] Cadair commented on #3254
I tried this and it turned out to be much more complex than it was probably worth. I would suggest not working on this for the moment.

[2020-01-21 15:30] Cadair commented on #3260
You can use that to get the sunpy version (although `sunpy.__version__` is probably better), the issue is parfive doesn't know if sunpy is calling it. We probably need to add a feature to parfive where you can pass `aiohttp.ClientSession` variables to the `Downloader` constructor to save us having to pass them in to `enqueue_file` each time. See https://github.com/Cadair/parfive/issues/29 for a re

[2020-01-21 18:42] twentyse7en commented on #3688
how could I implement a API.I'm stuck at that.

[2020-01-21 18:46] nabobalis commented on #3688
What do you mean?

[2020-01-21 18:47] twentyse7en commented on #3688
about the new keyword.

[2020-01-21 18:48] nabobalis commented on #3688
What about it? I don't quite follow.

[2020-01-21 18:53] twentyse7en commented on #3688
I would like to implement a parameter `skip_fail`.
`sunpy.map.Map( files, skip_fail=True)` skip the files that fail to load.

[2020-01-21 19:00] twentyse7en commented on #3688
I tried to add parameter to this `def __call__( )`  then pass to corresponding function , But I got error. What is right way for adding parameters.

[2020-01-21 19:03] nabobalis commented on #3688
Goes into `__init__`?

[2020-01-21 19:08] twentyse7en commented on #3688
This is the file I'm trying to edit `map/map_factory.py`.It doesn't have a `__init__()` in that file.

[2020-01-21 19:13] nabobalis commented on #3688
I think you want `sunpy/map/mapbase.py`

[2020-01-22 06:09] wtbarnes commented on #618
Would we still want to provide a map source for these files with correct headers though?

[2020-01-22 06:15] wtbarnes commented on #3297
I think you suggested the`attr` approach 😜. Is there some other entrypoint that we could use?

The notify attr is already a hack and I am not I want to propagate that. How important is it that we support this through `Fido` rather than just through `JSOCClient`?

Not terribly important I guess. Though it would be nice to always provide a single interface to queries, regardless of the source.

[2020-01-22 06:19] wtbarnes commented on #1337
Does this still persist in `timeseries`?

[2020-01-22 06:35] wtbarnes commented on #1412
This is resolved by #1423 right? Presumably you can just pass in a custom function that draws the grid, limb to `MapSequenceAnimator` via `peek`?

[2020-01-22 06:58] wtbarnes commented on #1615
I'm going to close this as this is ultimately an issue with the Halpha header and @ayshih has provided a solution. @wafels if the Coimbra issue still persists, we should open a separate issue

[2020-01-22 06:58] #1615 closed

[2020-01-22 08:50] Raahul-Singh commented on #3285
Please let me know if I have understood this correctly,
Currently, only the central region in the image is upscaled. This is done so that whatever area of the upscaled image fits the original dimensions of the image is taken. This results in cropping. What is required is that the entire image be upscaled according to the scaling factor. This will increase the dimensions of the image dramatically.

[2020-01-22 09:05] Raahul-Singh opened #3718 "`image.transform.affine_transform()` can produce values outside of the range of the input array (e.g., more negative)"
When a map is rotated using `map.rotate` It leads to a general yellow-washing of the new map.
map without rotation and scaling :
![map](https://user-images.githubusercontent.com/40922068/72879657-5a847000-3d23-11ea-9db8-1091bfe80b5b.png)
map without rotation and scaling = 1.5 :
![Scale1 5](https://user-images.githubusercontent.com/40922068/72879664-5d7f6080-3d23-11ea-9a6c-b2c123534b85.png)

map wi

[2020-01-22 10:13] Cadair commented on #3297
My preferred solution (this week) is to allow clients to take kwargs to `search()` and `fetch()`. Unless people don't like this change.

[2020-01-22 12:28] jains8844 commented on #3338
Any comments ??

[2020-01-22 12:49] nabobalis commented on #3338
Implement it, open a PR and we can discuss it there.

[2020-01-22 13:01] Cadair commented on #3718
The effects on the plotting are because of where the 0 point is on the colour map. Setting `plot(vmin=0)` will fix the display.

The more interesting question here is how and why are negative values appearing in the map during the call to `rotate()`.

[2020-01-22 13:43] amunozj commented on #3285
Hi! Currently the image is only padded to account for rotation and rotation only.   But it should be also padded, if the user is upscaling the size. As to wether this will result in a dramatic increase of dimensions, it depends on how dramatic the user is feeling that day. Note that a clever user, with little appetite for drama, could make a submap to crop the image first and _then_ upscale. But t

[2020-01-22 14:47] jains8844 commented on #3338
Okay

[2020-01-22 16:35] MSKirk commented on #618
I just chatted with Rachel Hock, the current PI of ISOON about incorporating it into the exiting map environment, and she said "The short answer it is probably not" worth the effort. She is "unlikely to ever have the time or resources to re-do the ISOON processing pipeline" to make it available as a regular source of data. But would like to see "more generic tools for using full-disk ground-based

[2020-01-22 16:36] MSKirk commented on #618
I am not quite sure what generic tools are needed for ground-based solar images, but it looks like anything ISOON specific is not worthwhile.

[2020-01-22 17:03] #3117 closed

[2020-01-23 03:13] ayshih commented on #3718
I've looked into this a little, and it appears to be due to using SciPy's `affine_transform()` (i.e., the fallback).  Everything looks fine with scikit-image's `warp()` (i.e., the default), so I'm guessing that @Raahul-Singh doesn't have scikit-image installed.

It doesn't look like we have many tests that test the SciPy fallback.

[2020-01-23 03:20] wtbarnes commented on #1778
I'm going to close this as `aiaprep` will be removed in the near future in favor of using the [aiapy package](https://gitlab.com/LMSAL_HUB/aia_hub/aiapy). See #3282

[2020-01-23 03:20] #1778 closed

[2020-01-23 03:20] wtbarnes commented on #1783
Closing. See #1778

[2020-01-23 03:20] #1783 closed

[2020-01-23 03:22] wtbarnes commented on #1832
Doesn't #3083 solve this?

[2020-01-23 03:32] wtbarnes commented on #2090
I'm going to close this as the package has now been created and all related issues should be tracked there.

[2020-01-23 03:32] #2090 closed

[2020-01-23 03:37] wtbarnes commented on #2506
What's the status of this? Did that last item ever get finished?

[2020-01-23 03:50] ayshih commented on #3718
Ah, I've gotten to the bottom of this.  Arguably SciPy has the correct behavior here because higher-order interpolation can produce excursions (in this case, negative values).  Here's a slice through the problematic spot in the `scale=1.5` example at different orders of interpolation in SciPy:

![fig2](https://user-images.githubusercontent.com/991759/72954667-2b8fed80-3d67-11ea-886a-8d6322632bcd.p

[2020-01-23 04:43] Raahul-Singh commented on #3718
@ayshih Could you please share the script you used to figure this out? I was trying to do so as well and resorted to plotting after every other step in `rotate` :sweat_smile:. Also, please share the script for generating those plots as well!!

[2020-01-23 08:12] wtbarnes commented on #3718
This is really interesting. We did some testing with aiaprep a while back looking at the two different interpolation methods for a range of orders and found more “ringing” in the scipy method than the scikit image method. I guess this was because of the clipping that you mention here.

[2020-01-23 12:06] Cadair commented on #3718
wait?! scipy has support for orders > 3 now?!

Why are we even using scikit-image?

[2020-01-23 14:12] ayshih commented on #3718
You'll need to have scikit-image installed, otherwise this code will just use SciPy everywhere.

[code]
![fig3](https://user-images.githubusercontent.com/991759/72991612-4b073480-3dc0-11ea-9c36-0e2be732c509.png)

[code]
![fig4](https://user-images.githubusercontent.com/991759/72991616-4cd0f800-3dc0-11ea-8f12-04f0c8227e3a.png)

And for the two line plots:
[code]

[code]

[2020-01-23 14:15] ayshih commented on #3718
Amusingly, I only realized what was going on *because* the scikit-image output was suspiciously pinned to zero in those line plots.  It's not surprising that you missed it in your artificial test case, where zero was a desired value.

[2020-01-23 14:16] ayshih commented on #3718
Heh, is that the only reason we were using it?  Note that if we want clipping behavior (either optional or default), I don't think SciPy's `affine_transform()` has it as an option, so we'd have to implement it separately.

[2020-01-23 16:26] Cadair commented on #3718
I think that it was originally. It would certainly clean up the rotation code and our dependency tree if we could just rely on the scipy implementation.

[2020-01-23 22:14] #618 closed

[2020-01-24 06:33] sashank27 commented on #3297
I believe setting an `attr` for the server would be better, but then we all must follow @Cadair 😆
So, finally I should add `server='jsoc'` to both `search()` and `fetch()`.

@wtbarnes how do I get this alternate netDRMS installation?

[2020-01-24 15:29] twentyse7en commented on #3688
@nabobalis Please help me on this, It was my first attempt for opensource contribution.I couldn't complete.

My first attempt is to display the file that fail to load. `_parse_args( )` function handles the reading of all files.

[code]

Is this good or better way to print the message ?

[2020-01-24 15:47] nabobalis commented on #3688
As long as it works.

[2020-01-24 15:58] nabobalis commented on #3688
Please if you have an issue with the pull request, we can discuss there and not on this issue.

[2020-01-25 17:57] Cadair commented on #3331
My recent delve into attrs makes me think this isn't true. I would need to look into how we use attrs in dataretriever

[2020-01-25 19:45] vit1-irk commented on #2141
Why does nobody care about this?

It is still a pain to download results from VSO if the UnifiedResponse contains broken data blocks inside. If you could index and concatenate these objects properly, it will be much easier to avoid errors

[2020-01-26 11:51] wtbarnes commented on #2715
I'm going to close this as intake_astro does provide methods for reading in FITS files to Dask arrays. There could be a more general approach to reading in FITS files lazily into Dask arrays, but this is out of the scope of sunpy and would probably be more well suited for astropy.

[2020-01-26 11:51] #2715 closed

[2020-01-26 12:04] wtbarnes commented on #2673
Barring a reliable source of the GOES spacecraft position, this may be a good case for `observer=None`. That way, a user has the benefit of using a SkyCoord, but it will be explicitly noted that there is no observer location and they will be explicitly told so if they try to transform to another frame.

[2020-01-26 12:57] martindurant commented on #2715
Is there anyone at astropy worth pinging?

[2020-01-26 13:45] Cadair commented on #2715
I started working on the depths of astropy.io.fits https://github.com/astropy/astropy/pull/9742 it's a lot of work and I don't think anyone has the motivation ($$) to do it at the moment.

[2020-01-26 13:46] Cadair commented on #2715
Maybe worth asking @astrofrog and @keflavich though.

[2020-01-26 18:31] #3208 closed

[2020-01-26 18:55] nabobalis commented on #2141
Hi @vit1-irk, some initial work had gone into this but we quickly realised it brought up a ton of scenarios and edge cases we did not plan for.

From what I recall, it is possible to pass multiple `UnifiedResponse` into `Fido.fetch`, so I wonder (from my personal side) if we would actually still want to add this feature.

I am quite interested in your use case and how you are working around these

[2020-01-26 20:03] #3295 closed

[2020-01-26 20:04] keflavich commented on #2715
Maybe.  We're using dask for spectral-cube internals now, particularly for CASA arrays, so it might be in scope for the current project to push dask into astropy core.  Unclear so far.

[2020-01-27 02:48] sashank27 commented on #2141
@vit1-irk I guess #3675 would kinda help in creating `QueryResponse` as `astropy.table.Table` and then can be used easily for concatenation and indexing

[2020-01-27 11:12] vit1-irk commented on #2141
@nabobalis

I have prepared a sample Jupyter Notebook file with all problems explained and workaround I use at the moment, see <https://gist.github.com/vit1-irk/a3891d0948c3aff347fd5a82c9ece79f>

@sashank27
QueryResponse and QueryResponseBlock objects are relatively easy to access read-only way, but when you try to build them up together to download the data, QueryResponse or UnifiedResponse const

[2020-01-27 11:20] Cadair commented on #2141
hey @vit1-irk Could you open a new issue for the `start_time: None` issues you are seeing there, that looks like something we should investigate with the VSO team. In general I agree that improvements to post-search filtering would be great, but there are a lot of things which should be improved with `Fido` and few people who have the time to work on it.

[2020-01-27 11:21] Cadair commented on #2141
(Also, it's not actually the `size: -1` thing which is an issue, I think that's just VSOs way of saying it doesn't have that info and I have seen some valid data like that. It's actually the lack of start time which is the real killer.)

[2020-01-27 11:24] nabobalis commented on #2141
Thank you for this.

[2020-01-27 11:44] Cadair opened #3732 "There should be a registry of which QR objects are used by what clients"
This would allow you to pass client QR objects into Fido rather than just `UnifiedResponse` objects, which would make post-search filtering easier

[2020-01-27 11:45] Cadair opened #3733 "We should port the VSO post-search filtering code to work with Fido"
In VSO you can use attrs to filter the search results, we should port this to Fido.

[2020-01-27 12:20] #3338 closed

[2020-01-27 17:01] vit1-irk opened #3734 "Downloading from VSO is broken when using specific providers"
### Description
VSO returns entries with Start Time: None when querying data for SOHO MDI

### Expected behavior
No corrupted entries or a way to filter them out and not download

### Actual behavior
Fido fails when trying to download the result UnifiedResponse object

### Steps to Reproduce
<https://gist.github.com/vit1-irk/a3891d0948c3aff347fd5a82c9ece79f>

Also, see this: #2141 #3372

### Syste

[2020-01-27 17:04] vit1-irk commented on #2141
@Cadair, @nabobalis
I have updated the gist to include more debug info and to use the suggested way to filter out wrong VSO provider: <https://gist.github.com/vit1-irk/a3891d0948c3aff347fd5a82c9ece79f>

Opened this bug as another issue: #3734

[2020-01-27 17:22] Cadair commented on #3734
This seems to be affecting MDI data from the 'SHA' provider, the query (to save a link click) is:

[code]

[2020-01-27 17:28] Cadair commented on #2141
great thanks @vit1-irk please do open issues if you have any other trouble using `Fido` with any of the data sources :smile:

[2020-01-27 17:47] vit1-irk opened #3735 "Some JSOC data fails to download using Fido"
### Description
I'm trying to download SDO HMI magnetic data for selected time ranges. Sometimes there are MISSING entries in the search results. If you try to download those "corrupted" UnifiedResponse objects, Fido fails

### Expected behavior
Working download without any corrupted objects or ability to filter them out.

### Actual behavior
Fido.fetch() crashes with error (see in the gist below)

[2020-01-27 18:17] Cadair commented on #3735
yeah looks like we should be skipping over missing files rather than raising an Exception and stopping.

[2020-01-28 10:20] Cadair opened #3736 "Should Attrs make use of dataclasses for type annotiation and checking"
This would have to be post Python 3.7, but it would allow a much more streamlined defintion of attrs.

[2020-01-28 13:30] ejm4567 commented on #3734
Found and corrected a typo in the SHA Data Provider for MDI. TimeStart should now be populated for all searches and files are downloadable from the web interface,  IDL/SSW and SunPy.

Please test again and let us know if any issues are still present.

[2020-01-29 05:59] vit1-irk commented on #3734
@ejm4567 Start/end times are available now, but downloading of files is still broken in Sunpy

See new gist with comparison of outputs: https://gist.github.com/vit1-irk/2e518c02c792b5d1109c656431472254

[2020-01-29 06:02] vit1-irk commented on #3372
The problem still persists in VSO and latest Sunpy.

Got this kind of filename: ```'mdi_fd_m_96m_lev182_39633_39633.tar"\nContent-transfer-encoding: binary'```

[2020-01-29 10:03] Cadair commented on #3372
A generic algorithm for fixing this is [here](https://github.com/Cadair/parfive/pull/28/files#diff-cf9ef7a01d30e4debe27a090444b5368L29-L36). However, the way we are currently determining the filename for the VSO download is unclear (in `mk_filename` in vso.py) so I have asked the VSO team for some advice on what the best algorithm is.

[2020-01-29 18:09] ejm4567 commented on #3331
Pushed the fix to allow decimal values for sample for SSC and SOHO (thanks Joe!)

Test query of IMPACT data from SunPy now yields:

[volterra:mansky]%./test_sunpy1.py          <---------Sample = 10 mins
Results from 1 Provider:

528 Results from the VSOClient:
   Start Time [1]       End Time [1]     Source  Instrument  Type      Wavelength
       str19               str19          str8      str6

[2020-01-29 18:22] #3486 closed

[2020-01-29 19:57] Cadair commented on #3331
Yes, you can in theory specify very very small times.

In that if you choose a number too small it does nothing? In that case I think it's OK, personally I normally end up putting large numbers in here (`1*u.day` etc) to reduce the number of files.

I haven't tested it manually, but it definitely did something, as one of our tests changed. :smile:

[2020-01-29 19:57] #3331 closed

[2020-01-29 20:19] ejm4567 commented on #3331
Cool, glad the unit tests are happy again.

Yes, if sample is too small (say) for the cadence, then it does nothing. Larger numbers should indeed usually work to filter down the no. of files.

[2020-01-29 20:29] Cadair commented on #3331
Thanks a lot for sorting it @ejm4567 :rocket:

[2020-01-30 16:13] Cadair commented on #745
Following on from #3310 the code now compiles and runs on windows but dosen't give the same output as on macos and linux. Is that right @Nabobalis?

[2020-01-30 16:16] nabobalis commented on #745
Yes.

[2020-01-31 15:45] pkj-m commented on #3682
Hi, I am planning to solve this issue. Can you please provide some more context? @nabobalis

[2020-01-31 15:55] nabobalis commented on #3682
In the 0.9 docs (linked above) we used to have a list of timeseries sources. These are now gone in the latest docs and need to be added back as they were under 0.9.

This probably means adding a automod api statement in the timeseries rst file.

[2020-01-31 16:22] pkj-m commented on #3682
The `timeseries.rst` file for both the versions ([0.9](https://github.com/sunpy/sunpy/blob/0.9/docs/code_ref/timeseries.rst) and [master](https://github.com/sunpy/sunpy/blob/master/docs/code_ref/timeseries.rst)) appears to be identical. Is there something I am missing here? @nabobalis

[2020-01-31 16:36] nabobalis commented on #3682
That I suspect is the issue. In 0.9 I recall cleaning up the namespace for timeseries and removed sources from the main init file.

So we need to add a new automodapi block to get the timeseries sources and that hopefully fixes it.

[2020-01-31 17:55] twentyse7en commented on #3733
Tagging the issue could be very helpful

[2020-02-01 20:34] samaloney opened #3744 "Edit on GitHub link issues"
### Description

The edit on GitHub link from the docs is broken for a number of versions.
### Expected behavior

Click the link and be brought to the code on GitHub
### Actual behavior

Error as link does not exist (sometimes)
### Steps to Reproduce

Pick you favourite documentation (e.g https://docs.sunpy.org/en/stable/api/sunpy.net.fido_factory.UnifiedResponse.html) click on on the 'edit on git

[2020-02-01 21:42] Swapnil99007 commented on #3177
I would like to work on this issue, can you please elaborate it a little bit ?

[2020-02-02 00:49] pkj-m commented on #3336
Hi @dmackenz13 I have recently started working on sunpy and ran into a similar problem of not being able to download data through Fido due to proxy. I did what you suggested by modifying parfive's code to consider the proxy however it still fails to connect with the address where the data is being hosted. On executing the `downloading_hmi.py` example, I get the following error:

[code]

Is there s

[2020-02-02 03:58] twentyse7en commented on #3744
Hey, I would like to work on this.

[2020-02-02 04:57] twentyse7en commented on #3735
Hey , I would like to work on this.

[2020-02-02 10:15] nabobalis commented on #3735
Go ahead @twentyse7en

[2020-02-02 10:20] nabobalis commented on #3744
I thought I fixed this (I might have made it worse).

The issue is between the branch names and the tagged versions.
We basically need to check if the version number is clean, if so probably add a "v" to the version number.

I don't think the 0.8.5 docs build anymore, so I am unsure that can be fixed (we should just turn it off).

[2020-02-02 10:27] nabobalis commented on #3177
In https://github.com/sunpy/sunpy/blob/master/sunpy/map/maputils.py we added a series of helper functions to do common tricks that users might want to do. In the gallery examples (the example folder at the root of the sunpy repository) some of those files need to be updated.

But since there is no list of examples you will have to go through each one and see if any of those functions can replace s

[2020-02-02 14:50] samaloney commented on #3744
I know 0.8.5 isn't supported anymore but people may still use it don't think turning off the docs 0.8.5 docs would be ideal might not be worth fixing for 0.8.5 though.

[2020-02-02 20:49] samaloney commented on #3735
I don't think we can skip over files as we create a drms export request using the entire time range and other arguments, also I don't think jsoc even supports this. I do know that if you include an extra query argument in the export request `[? QUALITY >= 0 ?]` you can get around this by excluding the missing files but I don't know if this is desired as then the search and downloaded files list wi

[2020-02-03 14:44] samaloney commented on #3735
Not a good idea but it does 'fix' the problem

https://github.com/samaloney/sunpy/blob/e70f5b89eee4fcf37541fa7c3c209ed87db174f7/sunpy/net/jsoc/jsoc.py#L418-L420

[2020-02-03 19:39] Swapnil99007 commented on #3177
Basically, I have to go through each example in the example gallery and check whether those utility functions can be used in those examples, if so we need to replace the old code with the modified version with utility functions being called.

[2020-02-03 22:29] vit1-irk commented on #3735
@samaloney

Maybe this hack is enough, thanks for mentioning. Waiting until upstream has any other suggestions

[2020-02-03 22:30] Cadair commented on #3735
Do we have the ability to search by Quality? if not we could add it as an `attr` and then at least this work around would be part of the search API :grinning:

[2020-02-03 22:34] ejm4567 commented on #3735
Yes, ideally that skipping should be done on the VSO side in the GetData function that generates the list of URLs. Better also would be more info returned as to why files are marked as "missing".
Question: The segments part of the Fido fetch, are they handled as logical OR or logical AND in the drms module?

[2020-02-04 09:47] Cadair opened #3747 "Some VSO MDI queries are returning tar files with errors in"
See https://github.com/sunpy/sunpy/pull/3740#discussion_r373622339 for context, the following query:

[code]
returns a file named "mdi_vw_v_9466622_9466622.tar" which when expanded contains a file called `error_list.txt` with the following content:

This seems to be a VSO issue, or maybe a JSOC one (where the data is coming from through VSO).

[2020-02-04 09:50] Cadair commented on #3735
@ejm4567 To be clear this is our direct JSOC / drms client here, not going through VSO at all.

The segments here:
[code]
are being handled as logical AND (`&` operator) we have a logical OR (`|`) operator as well.

[2020-02-04 10:24] #3372 closed

[2020-02-04 13:15] ejm4567 commented on #3735
Thanks, I figured it was using the drms module. Given that the query was for an HMI series, the string of segment field names asked for implies to me that one, or more, of them are either not populated, or missing in the DRMS DB itself. The fix is best in the C code in DRMS before it returns to drms.

[2020-02-04 20:53] pscherrer commented on #3747
No problem with JSOC, tested at:
http://jsoc.stanford.edu/SUM14/D1256759376/S00000/

[2020-02-04 20:56] pscherrer commented on #3735
One should always include a query clause: [?QUALITY >= 0?] to avoid records with no files associated.

[2020-02-04 22:00] #3682 closed

[2020-02-04 22:47] pkj-m commented on #3744
Hi @samaloney, is it okay if I take this up or are you on it already?

[2020-02-04 23:18] nabobalis commented on #3744
That's fair.

[2020-02-05 09:40] dstansby commented on #1515
This should probably go upstream to https://github.com/astropy/astropy/

[2020-02-05 09:40] #1515 closed

[2020-02-05 09:54] nabobalis opened #3761 "Two skipped examples"
#3760 and this commit https://github.com/sunpy/sunpy/commit/6a48d7908117a143972a1fd7cdd9499a646af942 means we now have two skipped examples that are breaking on our CI.

Fixing these either when the remote server or the bug that is causing them is discovered and fixed would be swell.

[2020-02-05 12:35] Cadair commented on #3735
Thanks for the advice @pscherrer :smile:

I think that the best way to solve this would be to:

* Implement a new `jsoc.attrs.Quality` attr.
* Add support for that where we build our query, and default it to `>= 0`
* Document this so it doesn't catch people out.

[2020-02-05 13:22] pkj-m commented on #3761
@nabobalis I tried to run the time-series example on my local machine and it executed without any errors but gave a warning:

[code]
However, apart from that, the example worked just fine and produced this output:

![Figure_1](https://user-images.githubusercontent.com/17577971/73845231-3313c400-4848-11ea-974b-fb0be941a454.png)

I am not able to understand why this might break the build. Have I und

[2020-02-05 13:24] nabobalis commented on #3761
Yeah it works locally for me too. The question is why not on CircleCI.

[2020-02-05 13:50] Cadair opened #3764 "Consider using the debtcollector package to handle deprecation warnings"
https://github.com/openstack/debtcollector

[2020-02-05 15:54] pscherrer commented on #3735
We have had discussions about making a quality clause a default but (I) decided it would have side effects that could cause problems for some data series that are seldom used. Not all series have a QUALITY keyword and some of those that do do not use the top bit for a no-file flag. But all SDO normal science products do. So a test can be always there for AIA lev1 and related series and all HMI "ob

[2020-02-05 16:18] pscherrer commented on #3735
I have been working on the bugs in observer location keywords and have some questions about the astropy and sunpy values.
Main error was omission of adding 499 seconds for light travel to 1 AU while subtracting time to SDO. Fixing that will bring errors almost below the 0.01 degree goal.
Will also fix the Stonyhurst coords that were never implemented since we never use them. Offset is 0.015 degree

[2020-02-05 16:43] ayshih commented on #3735
Me!  I'll write you an email.

[2020-02-05 17:17] ayshih commented on #3057
Here's a super-relevant comment from the HMI folks: https://github.com/sunpy/sunpy/issues/3735#issuecomment-582487046

[2020-02-05 18:04] #3357 closed

[2020-02-05 19:17] dstansby opened #3766 "Improve differential rotation documentation"
Following on from #3537, I have the following suggested improvements for the documentation for differential rotation:

- [ ] Move examples at the end of `docs/code_ref/coordinates/rotatedsunframe.rst` to their own files in `examples/`
- [ ] Add lots of intershpinx class links to  `docs/code_ref/coordinates/rotatedsunframe.rst`
- [ ] Add a clear reference to the available methods (ie. formulae) tha

[2020-02-05 20:27] ayshih commented on #3766
While I'm fine with _copying_ the examples out, I'm a little resistant to _removing_ all of the examples.  While they increase the length of the tutorial, I think they help in the teaching of why `RotatedSunFrame` is useful.

I didn't bother to intersphinx class links when there's an earlier mention of the class that already has the intersphinx link.  It seems a bit absurd to me to intersphinx eve

[2020-02-05 21:08] dstansby commented on #3766
How about moving them to the examples and linking them at the end of the narrative docs? I think it would be good to have standalone examples in the gallery, and we want to avoid duplicating them.

What do you mean by "needs to step through the links"? Surely there's no disadvantage to turning them all into links.

Sounds good 👍

[2020-02-06 08:41] Cadair commented on #3766
Despite the fact we do it in a lot of places, repeating links is flagged as an accessibility concern for people using screen readers etc.

I think we should consider this more broadly than just here though. I tend to make them all links.

[2020-02-06 09:45] aribalam commented on #3733
I think we should add the code for filtering results similar to what has been implemented in `sunpy/net/vso/attrs.py`. But this cannot be done unless #3714 is merged.
Any thoughts on this @nabobalis @Cadair ?

[2020-02-06 09:46] nabobalis commented on #3733
I don't see why it has to wait for that to be merged in.

[2020-02-06 09:53] Cadair commented on #3744
I think there might be built in support for this feature in sphinx now? At least whoever finds themselves looking into this should investigate if the extension we are using for this is the most appropriate way of doing it.

[2020-02-06 09:57] dstansby commented on #3766
I did not know this, very good to know! I seem to remember you ran the website through an accessibility checker a while back on riot, did that ever get followed up in an issue?

[2020-02-06 10:00] Cadair opened #3767 "Improve accessibility of the html documentation"
This issue is twinned with https://github.com/sunpy/sunpy-sphinx-theme/issues/94 to track issues in the content of the documentation.

Steps to take:
- Look at the accessibility report here: https://wave.webaim.org/report#/https://docs.sunpy.org/en/stable/code_ref/coordinates.html
- Try and fix some of the errors!

I don't think there is anything to be done here without a group of people reviewing

[2020-02-06 10:00] Cadair commented on #3766
I opened one on the theme repo https://github.com/sunpy/sunpy-sphinx-theme/issues/94 (I was initially thinking about our colour choices and lack of contrast) there are more issues with links etc though. I have opened #3767 to track the content side.

[2020-02-06 10:04] aribalam commented on #3733
The current `filter_result` code in `vso/attrs.py` uses `MultiMethod` which will be deprecated after this PR. Also, we can make use of the newly created `seconddispatch` function.

[2020-02-06 10:06] Cadair commented on #3733
Yeah probably would be easier to base it off that branch, but you could checkout those commits and start working on it before it's merged. (I hope to merge it today anyway)

[2020-02-06 10:08] #3279 closed

[2020-02-06 10:13] Cadair commented on #3502
I think the idea of this issue is to ensure that we are testing the generic map functionality (as opposed to functionality implemented in the source classes) with many different sources. I don't know if we are already doing this in `sources/tests` or not, but we should make sure one way or another.

[2020-02-06 10:15] Cadair commented on #2506
I have done this.

On the topic of auto-push I have been chatting with astrofrog about integrating our own figure test stuff with pytest-mpl, which is the direction I would like to see this go in.

[2020-02-06 10:15] Cadair commented on #2673
We have support for that now, so that could be implemented.

[2020-02-06 10:17] Cadair commented on #1832
I would agree that it does.

[2020-02-06 10:17] #1832 closed

[2020-02-06 11:41] #1137 closed

[2020-02-06 14:09] #2917 closed

[2020-02-06 18:12] Swapnil99007 commented on #3177
I have gone through each and every code in the Example Gallery and the utility functions have already been used in a few examples. Other than those examples, I haven't found any code in which we can use the utility functions to our benefit.

[2020-02-06 18:15] nabobalis commented on #3177
In that case, I will close this issue. Thanks @Swapnil99007

[2020-02-06 18:15] #3177 closed

[2020-02-06 18:54] pkj-m commented on #3278
Hey I was thinking of using the example given here https://docs.astropy.org/en/stable/wcs/wcsapi.html for the sunpy docs for adding the example for `world_to_pixel`. Does that sound good?
@Cadair

[2020-02-06 20:21] Swapnil99007 commented on #2696
I would like to work on this issue.
I think this issue is a bit more complex than it seems because it is bit difficult to understand how to incorporate the 'Linewidth' argument inside the plot() function, which is then receiving an 'axes' argument, which again calls the 'imshow' function and this would continue until a matplotlib function is called, meaning we have to pass the linewidth argument t

[2020-02-11 15:50] dstansby opened #3789 "Document t in TimeRange"
`TimeRange` had a `.__contains__` method, but this isn't well documented. We should add some more obvious documentation that one can do `t in TimeRange`.

[2020-02-11 15:51] Cadair commented on #3789
you can to `t in TimeRange()` because it has a [`__contains__`](https://github.com/sunpy/sunpy/blob/master/sunpy/time/timerange.py#L404)

[2020-02-11 15:52] Cadair commented on #3789
Maybe it needs to be better documented?

[2020-02-11 15:57] dstansby commented on #3789
Maybe, I was looking at the API here: https://docs.sunpy.org/en/stable/api/sunpy.time.TimeRange.html#sunpy.time.TimeRange - perhaps there's a way to include `__contains__` in the listing.

[2020-02-12 10:38] #3651 closed

[2020-02-12 15:12] wtbarnes opened #3793 "top_right_coord may be off by one"
The `top_right_coord` attribute on `sunpy.map.GenericMap` is calculated as,

https://github.com/sunpy/sunpy/blob/2a3d9a5cb34ba496fcf55d861e9307e3cec783db/sunpy/map/mapbase.py#L521

While WCS indexing does begin at 1, in astropy.wcs.WCS, our origin is defined such that `(0,0)*u.pixel` corresponds to the center of the bottom left corner. This would mean that, for an `N`-by-`N` image, the top right c

[2020-02-12 17:33] Cadair opened #3794 "Update citation information with new ApJ and JOSS paper"
https://iopscience.iop.org/article/10.3847/1538-4357/ab4f7a JOSS paper is still to be published

[2020-02-13 19:16] Raahul-Singh opened #3800 "Better explanation of the different clients supported by sunpy"
Currently, the docs for the different clients supported by `sunpy.net` is a little confusing. It would be nice if we had a page describing all the different clients and the data that they support in one place.

[2020-02-14 10:13] olebole opened #3801 "[1.1.1] test_transform failure"
### Description

When I run the test suite on version 1.1.1, I get a failure on test_transform.

### Expected behavior

The test suiteshould pass all tests.

### Actual behavior

[code]
This looks like that longitude 180° is too far from -180°, and this was probably selected by hypothesis?

### Steps to Reproduce

That seems not reproducible; a second build+run in a pristine environment succeeded.

[2020-02-14 13:29] Cadair opened #3802 "Remove RHESSIClient because the data is in the VSO?"
@ejm4567 suggested that the `RHESSIClient` and the VSO are parsing the same archive to generate results, which makes me think maybe we are doing similar or maybe the same things.

Currently (via WIP #3770) the same query to both clients generates:

[code]

[code]

So there are obviously some differences :laughing:

[2020-02-14 14:03] ayshih commented on #3801
Oops, yeah, we're not accounting for equality at the longitude wrap...

[2020-02-14 15:13] samaloney commented on #3802
Looks like VSO is returning the actual data files and the `RHESSIClient` is returning the Observing summary files that would then point to the actual data. A concern in removing the RHESSI client would be might loose the ability to choose which server you use to download the data from?

[2020-02-14 15:19] hayesla commented on #3802
is there a way (currently in master) to overwrite clients - i.e. choose which one you want to use?

[2020-02-14 15:20] samaloney commented on #3802
Slice the `UnifiedResponse` to pick the ones you want?

[2020-02-14 15:25] hayesla commented on #3802
the current Fido client (I think) only returns the RHESSI one right? but with #3770 both should be returned

I think we'll still need the `RHESSIClient` to get the observing summary lightcurves anywho!

[2020-02-16 14:23] nabobalis commented on #3789
What if we renamed it to `contains` and see if it shows up in the docs?

[2020-02-16 16:02] dstansby commented on #3789
That would work, but we should keep `__contains__` so `t in TimeRange` still works.

[2020-02-16 16:06] nabobalis commented on #3789
Then could  we keep `__contains__``, then have `contains` call that and copy the doc string from it?

[2020-02-17 21:18] ejm4567 commented on #3802
Agreed. I'd keep the RHESSIClient in SunPy since it queries a different catalog file than the VSO does. The VSO queries the file hsi_filedb_YYYYMM.txt to get a list of FITS files that match the User's query. The RHESSIClient queries the file hsi_obssumm_filedb_YYYYMM.txt which has one summary FITS file per day. The results of the two queries (VSO  & SunPy) should be different, as indeed they are.

[2020-02-18 09:08] Cadair commented on #3802
Ok, so we need a way of differentiating the two. I guess it should be `a.PhysObs(...)`, but what physobs should our client provide?

[2020-02-18 09:15] #3801 closed

[2020-02-18 11:22] Cadair commented on #3382
ping @dstansby

[2020-02-18 12:53] abhijeetmanhas opened #3814 "Deprecation warning due to sunpy.net.vso.attrs"
I ran test for `test_fido` file and this warning pops up:
[code]
I think it can be simply solved by replacing `sunpy.net.vso.attrs` by `sunpy.net.attrs`

[2020-02-18 13:08] Cadair commented on #3814
I *think* I have fixed this in #3770

[2020-02-18 17:16] jmason86 commented on #2401
`vso_search` has a "level" keyword that can be used for filtering. EVE version 4 releasing in 2020 March will have this implemented. PSP already uses it. So Fido should implement this kwarg.

[2020-02-18 17:19] Cadair commented on #2401
Fido already supports `Level` so if VSO provides it we will work with it.

[2020-02-18 23:56] lzivadinovic opened #3817 "PrimeKey is not parsed in sunpy.net.jsoc.jsoc.JSOCResponse object when using HARPNUM as PrimeKey"
- SunPy Version: 1.1.1
  - Astropy Version: 3.2.1
  - Python Version: 3.7.5, GCC 8.3
  - OS information: Ubuntu 18.04 64 bit

### Description
I'm trying to create JSOC query with only HARPNUM as PrimeKey (without Time). My query succeed but when i try to stage data and start downloading it, it return error that there is no prime key. My guess is that PrimeKey is not correctly parsed in  sunpy.net.

[2020-02-19 09:29] Raahul-Singh opened #3819 "Better warning message for incomplete HMI data."
Currently, on querying `SDO/HMI` data using `HelioViewer`, we get an incomplete list of `meta`
This creates a problem as certain quantities like `wavelength` are present but not `waveunit`, which makes them dimensionless.
Further, on using `map.peek()`. Following warning is shown:
[code]
This behaviour is observed for `SDO/HMI` but not for `SOHO/MDI`. This leads to the assumption that the problem

[2020-02-19 09:55] Cadair commented on #3701
The graphs in #3818 made me think about this again. Importing the runner (which happens at `import sunpy` time, so every time) takes a decent chunk of our import time, so moving to something lighter would have a real benefit.

Underneath *layers* of stuff the astropy test runner is just calling [`pytest.main`](https://github.com/astropy/astropy/blob/master/astropy/tests/runner.py#L248). What I the

[2020-02-19 10:04] nabobalis commented on #3701
This would mean making sure that the tests fail nicely if the extra packages are not installed.

[2020-02-19 10:05] Cadair commented on #3819
I think we do already have this, where errors are raised if metadata is missing, but the definition of "essential" is deliberately minimal.

The "assuming a simple WCS" warning is probably to be expected for jpeg2000 files (given they can have non-FITS keys in the headers) but I would be interested to know what we aren't stripping.

ping @wafels for helioviewer input.

[2020-02-19 15:04] ayshih opened #3820 "Explain intersphinx linking in our developer guide"
Unless I'm missing something, we don't really explain how to make use of intersphinx linking in our developer guide.  The closest I can find is: https://docs.sunpy.org/en/latest/dev_guide/documentation.html.

We should explain:

- Using backticks to link to SunPy stuff as well as external stuff
- Using the tilde to hide all but the last segment
- Using prefix qualifiers such as `:func:` and `:meth

[2020-02-19 15:05] ayshih commented on #3820
For example, something like this: https://matplotlib.org/3.1.0/devel/documenting_mpl.html#referring-to-other-code

[2020-02-19 15:06] ayshih commented on #3820
For example, something like this: https://matplotlib.org/3.1.0/devel/documenting_mpl.html#referring-to-other-code

[2020-02-19 16:18] nabobalis commented on #3820
We should either steal that page or link to it.

[2020-02-19 17:54] Raahul-Singh commented on #2992
I get a different error :
[code]
Could you tell me what the expected solution would be?
A better error message provided it indeed is caused when no `a.Time` is specified?

[2020-02-19 18:04] Cadair commented on #2992
I am actually fixing (or rather completely circumventing) this in #3770 so it's probably not worth spending time on.

[2020-02-19 18:06] dstansby opened #3821 "Upstream longitude equality helper to astropy"
https://github.com/sunpy/sunpy/pull/3804 probably belongs in astropy, not SunPy; fine to have it here for now, but we should really send it upstream as it's `astropy.coordinates`, and not `sunpy`, specific.

[2020-02-19 18:06] Raahul-Singh commented on #2992
Cool.
I'll fish for work somewhere else. :grin:

[2020-02-19 19:05] sashank27 commented on #2631
The http query created would be: `http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_fetch?op=exp_request&format=json&ds=hmi.m_720s%5B2014.12.18_18%3A00%3A35_TAI-2014.12.18_18%3A00%3A35_TAI%5D&notify=<email>&method=url_quick&protocol=as-is&filenamefmt=hmi.m_720s.%7BT_REC%3AA%7D.%7BCAMERA%7D.%7Bsegment%7D&requestor=jsoc`

The results clearly has `dir=''`. By definition of [`request_data`](https://github.co

[2020-02-19 23:16] lzivadinovic commented on #3817
After little investigation, primekey is nested key in blocks list here and when i

print blocks here https://github.com/sunpy/sunpy/blob/master/sunpy/net/jsoc/jsoc.py#L334 i see harpnum, but in scope here https://github.com/sunpy/sunpy/blob/master/sunpy/net/jsoc/jsoc.py#L334 there is no primekey in blocks when appending as query_args.

[2020-02-20 12:13] Raahul-Singh commented on #3336
@Cadair shall we close this now?

[2020-02-20 14:27] Cadair opened #3824 "Use the Zenodo API to get the citation for the current SunPy version"
Our `sunpy.__citation__` functionality should give you the info for the zenodo record for the version you run it with.

[2020-02-20 14:27] Cadair commented on #3824
See #3803

@dpshelio you want to take this one?

[2020-02-20 14:29] Cadair commented on #3336
@pkj-m That error looks like it hasn't used the proxy. Parfive 1.1rc2 supports the `HTTP_PROXY` and `HTTPS_PROXY` environment variables. If you could test that it would be great.

[2020-02-21 09:44] crusader2000 commented on #3744
I wanna work on this but I am unable to understand what is the structure or type of the variable 'version' is?

I tried to backtrace and found this
[code]
There is no file with the name setuptools_scm

[2020-02-21 09:45] nabobalis commented on #3744
`setuptools_scm` is a python library you would need to install.

[2020-02-21 11:31] dstansby commented on #3744
I wonder if "Edit on github" should always point to the master branch, as thats where the most up to date docs are, and if we want to update docs on an older release branch we typcially update the master branch and then do a backport.

[2020-02-21 13:32] dstansby commented on #2992
Is this fixed? I'm getting
[code]
which seems like quite a nice error message.

[2020-02-21 13:36] dstansby opened #3830 "Allow Fido searches without time"
I am currently trying to download some synoptic maps from JSOC. Because they is one map / Carrington rotation, they are indexed by Carrington number and *not* time. This means that the following search should be valid, but instead throws an error:

[code]

The print statement prints `['CAR_ROT']`, I think confirming that time is not needed.

The error thrown is
[code]

[2020-02-21 13:42] dstansby commented on #3830
Commenting out the lines that check for the precense of time:
https://github.com/sunpy/sunpy/blob/ffd9c0c01a91915fb793ca3104676f806d21843b/sunpy/net/fido_factory.py#L246-L251

fixes this issue, and the query is completed as expected.

[2020-02-21 13:54] samaloney commented on #3744
I think it would be strange to specifically select a version (using the switcher in bottom right) but be brought to a different version of the source code but that could just be me?

[2020-02-21 13:59] nabobalis commented on #3744
Shouldn't the versions point to the tagged version instead of the branch?

Do we even want to allow this in the first place?

[2020-02-21 14:03] Cadair commented on #3830
This should be addressed by #3770

There are actually some interesting fallout issues from changing this in fido_factory. VSO and various data retriever sources need to only respond to queries with time in them.

[2020-02-21 14:31] Cadair commented on #2992
Let's just called it closed by #3770 lol

[2020-02-21 14:33] dstansby opened #3832 "JSOCClient.search() removes primekeys from result.query_args"
When using `JSOCClient` without any time attribute, requesting data fails:

[code]

[code]
Note that whilst the 'CAR_ROT' primekey is in the table, it isn't in the `query_args`. This matters, because when trying to subsequently do
[code]
errors with
[code]

[2020-02-21 14:36] dstansby commented on #3832
Duplicate of #3817

[2020-02-21 14:36] #3832 closed

[2020-02-21 16:39] aribalam opened #3833 "VSO fails to filter query response."
### Description

On playing with VSO's post search filtering code, I came across a bug that involves failure of hashing of query response blocks.

### Expected behavior

The QueryResponse would return a filtered response according to the new attributes provided.

### Actual behavior

`filter_results` in `net/vso/attrs` returns an error. See gist link for more details.

### Steps to Reproduce

This

[2020-02-21 18:51] abhijeetmanhas commented on #3814
@Cadair It is fixed, in #3770 but va is imported but not used, so it should be removed

[2020-02-22 16:30] andy6975 commented on #3447
Hi! I am Shivam, from IIT Mandi. I would like to work on this issue if it's still open. Thank you!

[2020-02-22 16:32] nabobalis commented on #3447
Hi @andy6975, there is an open pull request that solves this. I would suggest tackling another issue.

[2020-02-22 16:34] andy6975 commented on #3447
Oh! Thank you so much for the response. I'll fish for something else.

[2020-02-22 16:37] amogh-jrules commented on #3814
Can I take this up?

[2020-02-22 16:38] nabobalis commented on #3814
It seems to be fixed in an open PR #3770. I would suggest looking for another issue.

[2020-02-22 16:47] andy6975 commented on #3701
Hi! I am sorry if this sound wierd but I wanted to have a look at the code related to this issue, but I couldn't find it. Could anyone please guide me towards it?

[2020-02-22 16:49] nabobalis commented on #3701
I think it is this file: https://github.com/sunpy/sunpy/blob/master/sunpy/tests/runner.py

[2020-02-22 17:10] aribalam commented on #3733
@Cadair @nabobalis It might be really complicated to filter out queries as the data format varies hugely depending on the client. Moreover there are some issues regarding data returned by the VSOClient (as mentioned in #3833). The `QueryResponseBlock` list returned is unhashable and cannot be converted to a set which is necessary to remove duplicate queries. The only way I could think of implement

[2020-02-22 17:45] amogh-jrules commented on #3814
@nabobalis Oops, I saw this message a pr before you replied

[2020-02-22 17:51] amogh-jrules commented on #3800
Could you explain a bit more on what exactly is required?

[2020-02-22 17:58] nabobalis commented on #3733
Could we standardize the data format from each client?

[2020-02-22 18:06] Raahul-Singh commented on #3800
So SunPy supports a lot of clients, for example, HelioViewer, VSO, etc. From each client, we can get many different kinds of data from many different instruments.
For example, you may get SOHO/MDI magnetograms, SDO/HMI continuum data, etc. from HelioViewer.
The purpose of this issue was to create a doc page where we list all the different clients supported by SunPy and give a basic introduction of

[2020-02-22 18:06] Raahul-Singh commented on #3800
Let me know if you need any more help with this :)

[2020-02-22 18:28] amogh-jrules commented on #3767
I looked into some of the errors, but they seem rather vague, for eg. there around 185 contrast errors citing that orange text on white background is not readable, where as on inspection, it looks just fine.
Please point me to specific errors you would like fixed.

[2020-02-22 18:32] nabobalis commented on #3767
Yeah, we need to decide on what and how to fix these issues. I am not sure there is much to be done here without reviewing each error/suggestion first.

[2020-02-22 18:36] amogh-jrules commented on #3800
Correct me if I'm wrong but currently the docs are displayed as classes and their functions, their data vars etc. We would like to have a page which shows different data sources (which a user might want) and the corresponding class which they should use

[2020-02-22 18:46] amogh-jrules commented on #3767
Alright, how do we go about it?

[2020-02-22 18:49] Raahul-Singh commented on #3800
Well, technically yes but I would rather refer to them as the clients. The classes are the implementation of the client API. The idea here is to give more information about the clients themselves rather than any specific implementation.
What I had in mind was something along the lines of :
[code]
But of course, you may choose to do it differently.

[2020-02-22 18:50] nabobalis commented on #3767
I don't think there is anything for you to do here without a group of people reviewing our theme and deciding on what  to fix with it. I would suggest another looking at another issue.

[2020-02-22 19:59] abhijeetmanhas commented on #2744
@Cadair I would like to work on it, is it similar to `search_metadata()` function in JSOC Client? We only want metadata searches, say for egs. query things given in header of fits file?
But the metadata will also depend upon format of file,

I just want further elaboration what exactly metadata integration will make Fido capable of, a simple example will do.

[2020-02-22 20:20] nabobalis commented on #2744
This issue will be tackled as part of the FIDO GSoC project.

[2020-02-23 04:18] pkj-m commented on #3093
@Cadair I was playing around with the padding setting in the doc build and changing it to 8.5 fixes the issue and gives us this output:

![doc title fix 3](https://user-images.githubusercontent.com/17577971/75103527-93b14800-5621-11ea-8147-b811ca536442.png)

I can create a PR if this looks good.

[2020-02-23 04:53] pkj-m commented on #2685
@Cadair can we close this issue after #3776 or do we need to add more than just an example to the documentation explaining the `world_to_pixel` function?

[2020-02-23 04:59] amogh-jrules commented on #3800
Alright, I can get started on this. I looked into the Helioviewer API documentation located [here](https://api.helioviewer.org/docs/v2/#appendix) where all the different datasources and their corresponding instruments are documented. So, I am assuming we will list only the most frequently used endpoints because including each and every one will make the docs hard to read... do you agree?

[2020-02-23 05:28] Raahul-Singh commented on #3800
Sure, get started on it. I agree that abstrction would be necessary. I'll let you know if I think anything more could be added!

[2020-02-23 05:31] amogh-jrules commented on #3820
I would like to fix this issue, which of the above 2 approaches should I implement?

[2020-02-23 10:36] #3093 closed

[2020-02-23 10:44] nabobalis commented on #3820
Probably need to do both. Add link with the other two links and I think we need to expand the example to cover all cases so know what the standard for our documentation is.

[2020-02-23 12:26] #3278 closed

[2020-02-23 12:28] nabobalis commented on #2685
#3776 added an example.

[2020-02-23 12:28] #2685 closed

[2020-02-23 12:31] nabobalis commented on #3688
So #3727 now will raise a nicer error which includes the filename.

I am not sure I am pro having it skip over a broken file and just raising a warning.

[2020-02-23 12:39] #3447 closed

[2020-02-23 15:57] jmason86 commented on #3688
Maybe no skip by default but add an optional kwarg to do so?

On Sun, Feb 23, 2020 at 5:31 AM Nabil Freij <notifications@github.com>
wrote:

[2020-02-23 20:14] abhijeetmanhas commented on #2744
So can this issue be divided into subtasks so that it can be worked upon?

[2020-02-23 20:22] nabobalis commented on #2744
Yes but I expect nothing to happen regarding this issue until the GSoC project starts (if it is picked).

[2020-02-24 04:30] aribalam opened #3839 "Error parsing time in VSO search filtering"
### Description

VSO fails to filter results having Time as Attribute. The bug lies in the imoplementation for filtering time specifically in the line (in `vso/attrs.py`) -
`attr.min <= _attrs.Time.strptime(it.time.end, _TIMEFORMAT)`
The comparison is occuring between a string and a Time object. Moreover, there is no attribute named `strptime` in Time attribute.

### Expected behavior

The Time at

[2020-02-24 12:51] Raahul-Singh opened #3843 "FITS files downloaded from JSOC end up being empty even if the download is successful"
### Description

It has been observed that many times when using JSOC even if the files are downloaded successfully, they are empty.
### Expected behavior

User is notified when the downloaded file is empty or corrupt.
### Actual behavior

Files aren't checked for being corrupt or empty.

[2020-02-24 14:44] Cadair commented on #3802
In #3770 [I have implemented](https://github.com/sunpy/sunpy/pull/3770/files#diff-8462fbe595b939453408d57047affed5R211) `a.Physobs("summary_lightcurve")` to differentiate the results from our client with those from the VSO. Thoughts?

[2020-02-24 14:51] Raahul-Singh opened #3844 "In the jsoc client, for the fetch function, `max_conn` is listed as a parameter in the documentation but its not a valid parameter."
### Description
The title is pretty self-explanatory. This is at line *397* in file `~sunpy/net/jsoc/jsoc.py`
The function snippet below contains the bug. Either `max_conn` be removed from the docstring or should be implemented.
[code]

[2020-02-24 14:57] Cadair commented on #3844
It should be removed from the docstring. Although I thought other clients passed through kwargs to `parfive.enqueue_file`, which includes `max_conn`?

[2020-02-24 15:15] Raahul-Singh commented on #3844
`HelioViever` (helioviever.py line 418) doesn't seem to do so.
[code]

`VSO` (vso.py line 873) does send *args though,
[code]

[2020-02-24 15:28] amogh-jrules opened #3845 "Non-functional links on Sunpy Newcomer's guide"
A couple of links in the newcomer's guide are not rendered properly
https://docs.sunpy.org/en/latest/dev_guide/newcomers.html

![image](https://user-images.githubusercontent.com/31567169/75165401-57c4d280-5748-11ea-9534-d1560e71d7cb.png)

[2020-02-24 17:12] mridullpandey commented on #3845
i am working on it
thanks:-)

[2020-02-25 09:47] #3845 closed

[2020-02-25 13:25] amogh-jrules commented on #3844
Can I take this up?

[2020-02-25 13:48] Cadair commented on #3844
I think it's likely to get addressed as part of #3822

[2020-02-25 14:01] mridullpandey commented on #3307
can i take this up @wtbarnes

[2020-02-25 14:24] mridullpandey commented on #3761
can i take this up @nabobalis

[2020-02-25 14:25] nabobalis commented on #3761
Sure

[2020-02-25 14:25] Cadair commented on #3307
This issue is on hold pending resolution of https://github.com/sunpy/sunpy/issues/3282. It's very likely we will be deprecating `instr.aia` in the near future.

[2020-02-25 14:44] Raahul-Singh opened #3850 "Inconsistent passing of kwargs to parfive in various clients throughout SunPy."
Currently, there is no uniformity in how the kwargs are passed to parfive. This causes problems such as when some servers do not support multiple parallel connection.
We need to decide what keywords we want to be settable by the user and what we want to keep at their default values.

[2020-02-25 14:48] Raahul-Singh commented on #3850
What we do want to be settable :
* `max_splits`
* `max_conns` but this needs to be passed as a named parameter to the `Downloader` constructor.

[2020-02-25 16:17] Cadair commented on #3850
So the `Fido.fetch` method takes the following parameters:
https://github.com/sunpy/sunpy/blob/master/sunpy/net/fido_factory.py#L322

it also allows setting of `downloader`. It's possible I didn't add `max_conn` to the client `fetch()` methods as I expected people to pass a custom `Downloader` object if they wanted to override that.

So maybe we should just generally have a rule that `**kwargs` to

[2020-02-25 19:41] abhijeetmanhas commented on #3337
If for same date, we have multiple satellites with data, what should we do? Should we have one more attr as 'satellite_no' or something similar, and a default satellite no. (mentioned in docs); if data is not available , just give an error messsage or empty results.

Suggestions?

[2020-02-25 19:50] hayesla commented on #3337
there is an attrs for GOES - `a.SatelliteNumber` https://github.com/sunpy/sunpy/blob/master/sunpy/net/dataretriever/attrs/goes.py

If none if given it currently provides the data for the operational satellite number at the time which is hard-coded in.

What would be great to see is if you search a time range then data that is available for that range is provided - for example GOES 15 and GOES 13.

[2020-02-25 19:51] hayesla commented on #3337
I think NOAA also plans to release the GOES 13 data for the past solar cycle with the already available GOES 15 data.

[2020-02-25 22:19] abhijeetmanhas commented on #3337
I found a small hack. Since `filelist` of scraper already opens the directory (in this case the year) , so if we pass `satellite_number = r'\d{2}'` , I am getting every fits file those goes sats which are only available on those page (means we don't neet to use `_get_goes_sat_num` function .)

So this is intelligent enough and don't need hardcorded dates. @hayesla I will open a PR for it, if it is

[2020-02-25 22:49] abhijeetmanhas opened #3851 "Remove EVEClient from sources, as it is in VSO ?"
I think VSO provides all of the data of `eve` https://sdac.virtualsolar.org/cgi/show_details?instrument=EVE

Do we need separate client for it, or are there some data resources not covered by VSO, but according to me, VSO covers all our `EVEClient` accessible data.

[2020-02-26 01:45] amogh-jrules commented on #3851
If a decision is made, I would like to follow through with implementation for the same

[2020-02-26 11:00] Cadair commented on #3851
I am pretty sure that the VSO doesn't include the Level 0CS data that our EVEClient provides. The 0CS data is the near real time space weather data.

[2020-02-26 11:11] Cadair commented on #3337
If I remember correctly there are two major components to this:

1) Scraper needs to be able to handle matching and returning values in paths which are wildcard types, i.e "match all the satellite numbers". The values of these fields needs to be returned to the caller somehow as categorical data. (Probably along with time and everything else, which relates to a solution to #3715 ).
2) We need a wa

[2020-02-26 13:30] mridullpandey commented on #3761
@nabobalis  will you please wish to elaborate what to actually do, if possible as it will be a plus for me to tackle this more elegentaly..

[2020-02-26 13:38] nabobalis commented on #3761
You will need to rename the skipped files to remove the `skip_` from them. Run them and see if they still work. Then open the pull request and see if they still work on circleci.

[2020-02-26 16:31] Cadair opened #3853 "Remote data manager does not recover well from its database being deleted while a session is running"
### Description
You can permanently corrupt the data manager state. So nothing works.

### Expected behavior
It recovers from my abuse and fixes itself.

### Steps to Reproduce

1. Delete all your data_manager stuff so you have a clean slate.
2. Run the following code inside an interactive prompt:
[code]
3. Observe how everything works.
4. do a rm ~/sunpy/data_manager/*
5. **Without** starting a n

[2020-02-26 21:48] wtbarnes opened #3854 "Improve documention on how to write a changelog"
Currently, the dev guide has only a brief explanation on how to write a changelog entry. We should consider including the more detailed instructions [in this file](https://github.com/sunpy/sunpy/blob/master/changelog/README.rst) in the dev guide or simply linking to that file.

[2020-02-27 07:53] amogh-jrules commented on #3820
I'll start work on this

[2020-02-27 11:12] mehulfollytobevice commented on #3824
Hey , I want to work on this .

[2020-02-27 11:19] Cadair commented on #3824
I started looking into this and couldn't find any documentation on how one would do this with the zenodo API. So the biggest task here will be working out how to ask Zenodo for the info.

[2020-02-27 11:22] mehulfollytobevice commented on #3824
I will try to get the information about the cititation .

[2020-02-27 13:31] mehulfollytobevice commented on #3824
hey was this functionality used in the earlier versions , or do we have to create it

[2020-02-27 13:43] amogh-jrules commented on #3820
I was planning on creating a subheading under the section Sphinx and explaining this stuff out.
For the first 2 points mentioned in the first comment I plan on writing a small example similar to what was given in the matplotlib docs. And for the prefix qualifiers I went through the bulk of docs, to come across these :
- :func:
- :ref:
- :doc:
- :meth:
- :class:

I also read the [intersphinx docs](

[2020-02-27 15:23] aribalam commented on #3854
@wtbarnes I am willing to take this up.

[2020-02-28 11:02] Cadair commented on #3824
We have it returning the ApJ paper citation, the idea of this issue is that it would also return the citation info for the running version of SunPy.

[2020-03-01 01:42] amogh-jrules commented on #3853
I can work on this, could you give a me hint on how I should go about fixing this?

[2020-03-01 10:07] vn-ki commented on #3853
@amogh-jrules

Two ways to fix this comes to my mind,

 1. https://github.com/sunpy/sunpy/blob/c6b475659c1c366c574e8b755e7a828c31b6182f/sunpy/data/data_manager/storage.py#L150

	moving this line to init, making it an attribute of the class `self._conn` and using `self._conn` instead of `conn` should fix this issue.

2. You can also check for the exception at every `execute` call, remove the file a

[2020-03-01 15:58] amogh-jrules commented on #3853
Thanks! I'll get started

[2020-03-01 17:16] amogh-jrules commented on #3853
@vn-ki I have a tiny doubt. So if I make conn an attribute of the SqliteStorage class and initialize in init, do I also connect with sqlite3 instance in init itself as in the code you mentioned?

[2020-03-02 04:36] amogh-jrules commented on #3820
Can somebody review this?

[2020-03-02 09:30] nabobalis commented on #3820
Yes, that would be a good start.

[2020-03-02 10:25] Cadair commented on #3820
We shouldn't be recommending extra markup if it has no effect, we already have the default role set [inherited here](https://github.com/astropy/sphinx-astropy/blob/master/sphinx_astropy/conf/v1.py#L77) so we don't need to use the likes of `:class:` to linkify things. @ayshih's discovery of the formatting change when using `:func:` is interesting though, so it would be interesting to know if things

[2020-03-02 19:53] #3817 closed

[2020-03-03 13:16] dstansby commented on #3843
What is the error that SunPy raises when such an empty file is downloaded and then imported? I think I'm with @Cadair in https://github.com/sunpy/sunpy/pull/3842#issuecomment-593915460 that this is a JSOC bug, and as long as we have a sensible error message in SunPy we shouldn't add the overhead of checking each downloaded file.

[2020-03-03 13:21] dstansby opened #3859 "CircleCI backport builds broken"
See #3857 and #3858. The circleCI builds on backport PRs are broken with the following error:

[code]

[2020-03-03 18:55] ayshih commented on #3839
It looks like the bug results from https://github.com/sunpy/sunpy/commit/87d19afc826dd6366d53d9b79d76a08d9b22bbc0#diff-5ce6c89ab3cd6a6a17e4c2fb6ade5774L580-L584 when `Time.strptime()` calls were incorrectly changed to `_attrs.Time.strptime()` calls (incorrect because `Time` was actually `astropy.time.Time`).  A bad search and replace, with apparently no test.

[2020-03-03 19:49] lzivadinovic commented on #3859
It looks like CI is using wrong wrong variable name for branches. I wonder if problem is in actual circleci or in backport app. I will look a little bit into it, we use circleci at work so im used to it. Im not promising anything, i dont know how much time i will have in the following few weeks.

(bottom line, i could write custom script for checkout to strip cherry-pick and this crazy hash at the

[2020-03-03 19:58] Cadair commented on #3839
:see_no_evil:

[2020-03-03 20:00] Cadair commented on #3859
It looks like it has triggered on the wrong commit. The backport bot generates some commits as it's cherry picking which then go away once it creates the backport branch.

[2020-03-03 20:26] nabobalis commented on #3859
I assume there is no bot replacement yet?

I dont think its worth doing any fancy circleci stuff.

[2020-03-03 20:34] Cadair commented on #3859
I am happy to talk to someone about replacing the bot, but I am not getting time to do it myself.

[2020-03-03 20:39] nabobalis commented on #3859
Sure but I don't spending time screwing around with the bot or circleci config to fix it is worth it either.

[2020-03-04 16:07] Raahul-Singh commented on #3843
Right now there is no error message. There are no tests for downloaded files.

[2020-03-04 16:47] Cadair commented on #3843
Unless services like the JSOC provide a sensible way for us to verify the download, i.e. checksums I really don't see a reliable way we can do this. Is checking for valid FITS enough, what if some of the imaging data is corrupted, how could we verify that?

[2020-03-04 17:34] Cadair commented on #3859
Can we just exclude circle from running any branches which start with `cherry-pick`? I think that might go a long way to fixing this if it's possible.

[2020-03-04 17:47] nabobalis commented on #3859
Yeah.

[2020-03-05 09:04] Raahul-Singh commented on #3843
Currently, I have only faced cases where the downloaded files were empty.

[2020-03-05 12:49] lzivadinovic commented on #3859
https://github.com/sunpy/sunpy/blob/master/.circleci/config.yml#L155

All jobs should be something like

`  pip-install:
    jobs:
      - pip-install:
        branches:
          ignore:
            - /cherry-pick*/`

source: https://circleci.com/docs/2.0/configuration-reference/#branches

Should fix it.

[2020-03-05 16:15] aribalam commented on #3839
I think we cant use `astropy.time.Time` over there. We should pass in a Time attribute in the `filter_results` decorator and not a Time object. Reverting to earlier code results in the following error -
[code]
It must have been working earlier due to the use of `MultiMethod` which has now been deprecated.
However, we could use `astropy.time.Time` in the following way -
[code]
We have to change the

[2020-03-05 17:37] vn-ki commented on #3839
@aribalam It doesn't work because of the following lines.

https://github.com/sunpy/sunpy/blob/ac28cf649c436542705f3270a520ff8fc3ef660a/sunpy/net/vso/attrs.py#L383-L393

The namespace already has `Time` class in it (which would be str, I believe).

You can follow through with renaming the imported `Time` as `astropyTime`.

[2020-03-05 18:21] ayshih commented on #3839
@aribalam Just to clear things up, I literally meant that that commit had mistakenly changed an `astropy.time.Time.strptime()` call to a `_attrs.Time.strptime()` call, which errors because it doesn't exist.  One `Time` simply got confused for a different `Time`.  I wasn't suggesting anything more grand as a fix.

There's no real "magic" here.  `strptime()` is decorated as a class method, so is mea

[2020-03-05 23:48] wtbarnes opened #3864 "Passing a norm from the plot_settings of one map to another modifies plot settings in place"
### Description
When passing the normalization from the `plot_settings` dict of a map to the plot method of another map via the `norm` keyword, the new norm is ignored and the original normalization is modified in place such that the original map has the normalization of the new map.

### Expected behavior

The new map to plotted with the normalization of the original and the plot settings to not

[2020-03-06 10:36] dstansby opened #3865 "sunpy.data.manager API docs missing"
https://docs.sunpy.org/en/latest/code_ref/data.html contains no docs for `sunpy.data.manager` - there should be some there, which should be linked to from https://docs.sunpy.org/en/stable/generated/gallery/remote_data_manager.html.

[2020-03-06 10:37] Cadair commented on #3865
Argh, I thought I fixed this ages ago.

[2020-03-06 10:40] Cadair commented on #3865
Oh. The docs that I expect to be there are [here](https://docs.sunpy.org/en/latest/api/sunpy.data.data_manager.DataManager.html#sunpy.data.data_manager.DataManager) `sunpy.data.manager` is an instance of that class (iirc) so much like `Map` and `Fido` is a right PITA to make sphinx document properly. What needs to happen is the links to `sunpy.data.manager` needs to be updated to the same format a

[2020-03-06 15:21] ayshih commented on #3864
You're confusing a number of aspects here.

If you actually want to do this, you ought to do a (deep) copy.  There's no promise `norm` won't be modified, and in this case it is, so of course it's going to affect the first map.

The new `norm` is not actually being ignored.  The normalizer from the first map does not have `vmin` and `vmax` explicitly set.  So, plotting the second map with the norma

[2020-03-08 14:34] dstansby opened #3871 "DATE-OBS in GenericMap.wcs is not FITS compliant"
[code]
prints
[code]
Instead of a space between the date and time, this should have a "T" character. This means if we then round trip this in to a WCS again, astropy raises a warning:
[code]
prints
[code]

[2020-03-08 20:42] abhijeetmanhas commented on #3733
@nabobalis By standardization do you mean that all columns shoud be there in Response, and we could specify through query what columns to display.
Or it is more like generalizing the functions within client classes like have attempted to standardize `_get_time_for_url` here #3863?

[2020-03-08 21:24] dpshelio commented on #3650
Late to the discussion, but here it's what I think.

The danger of keeping author information for the users (i.e., not via git) is that the users would be tempted to contact the author individually rather than through issues or mailing list. That would not be good! The developer contacted then should make the effort to actually report such issue upstream.

The other point, **acknowledgement**, is

[2020-03-08 21:37] dpshelio commented on #1778
@wtbarnes did you add that issue into `aiapy`? I quickly checked the `prep.py` and the issue list and I didn't find anything about this. This is important as support reproducibility.

[2020-03-08 23:18] wtbarnes commented on #1778
Hmm it looks like I didn’t😅I’ll create one now.

Is there a standard way to format what goes in HISTORY? Do we update this keyword anywhere else in sunpy?

I’ve run into cases before where stuff in COMMENT or HISTORY has caused headaches when reading files so I just want to make sure we’re being FITS compliant when modifying or appending to these keys.

[2020-03-08 23:23] wtbarnes commented on #1778
See https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/issues/56

[2020-03-09 10:02] #3871 closed

[2020-03-09 12:23] dpshelio opened #3876 "Guidelines for the use of `HISTORY` tag on fits files (and on data structures)"
### Description

Sunpy should ease reproducibility, by having a [defined version schema](https://github.com/sunpy/sunpy-SEP/blob/master/SEP-0009.md) and using version control the users are able to store such information in the scripts they use to process data. However, if Alice shares data processed (in any way) with Bob, then Bob has no way to know which processing has been done to it. That's whe

[2020-03-09 14:56] Cadair commented on #3876
We need to implement this in a way that is not FITS specific. It should also be done with an eye on a more general metadata framework.

I think it makes sense to tie this kind of operation to an object like `Map`, although because we copy objects when things are changed it would be interesting to work out how to maintain coherence of this information across such copies. Obviously it would be easy

[2020-03-10 06:50] amogh-jrules opened #3879 "Grammatical error in SunPy docs"
### Description

![image](https://user-images.githubusercontent.com/31567169/76287030-835bc700-62c9-11ea-82dd-84c3c26a6933.png)

[2020-03-10 15:02] dstansby commented on #3879
To clarify, this should be changed from "used to with solar data" to "used with solar data".

[2020-03-10 15:04] dstansby commented on #3851
Closing this as above - if I've missed something, feel free to re-open or add a comment.

[2020-03-10 15:04] #3851 closed

[2020-03-10 15:06] dstansby commented on #3794
I think this is now fixed.

[2020-03-10 15:06] #3794 closed

[2020-03-11 04:09] amogh-jrules commented on #3879
Location of typo -> https://docs.sunpy.org/en/stable/generated/gallery/index.html

[2020-03-11 11:41] #3879 closed

[2020-03-11 13:27] dpshelio commented on #997
I think it matters for the same reason that asdf keeps the header in plain text. People like to open the headers with `less` or similar. The order of the original file seems reasonable, like `ctype1` followed by `ctype2`, but on the produced by us it's all a mess. I would prefer people use the right tools for the right work and that the tools would show the header information sorted in a meaningfu

[2020-03-11 16:30] Cadair commented on #997
Given the way we currently handle metadata this is all but impossible. Doing this in a way that does not tie us to carrying around a `astropy.io.fits.Header` object would be tricky.

It is however worth considering this if and when we actually rebuild our metadata handling.

[2020-03-11 16:41] #3864 closed

[2020-03-11 17:23] #848 closed

[2020-03-11 17:39] #3480 closed

[2020-03-11 17:52] nabobalis opened #3885 "Reformatting Colour Tables"
The code (https://github.com/sunpy/sunpy/tree/master/sunpy/visualization/colormaps) that deals with our color tables needs some reformatting to be cleaner.

Ideally we need to do:

* Change the color tables into a series of enums to allow someone to access the array's directly without the use of a function.
* This means deprecation of most of the functions in those files.
* Move the arrays into th

[2020-03-11 17:53] wtbarnes commented on #3859
Is this still an issue?

[2020-03-11 17:54] Cadair commented on #3859
yeah I think so

[2020-03-11 18:28] nabobalis commented on #3859
I'm not sure what causes it in hindsight. The bot branches are called backport-something and are skipped on circleci. Where the cherry-pick branch comes from is unclear and there seems to be no link  to it from circleci.

[2020-03-11 18:30] Cadair commented on #3859
I think the `cherry-pick` branches are made and then removed again, we should be skipping those as well.

[2020-03-11 18:52] ayshih commented on #3198
I just realized that I don't even need to hack `PrecessedGeocentric` (and I probably didn't do it correctly).  I ought to just use the `ITRS` coordinate frame.  See #3886.

There will still be a lingering discrepancy of up to a few arcseconds because of how *The Astronomical Almanac* treats stellar-aberration corrections, but this discrepancy will almost never be evident at the printed precision.

[2020-03-11 19:10] abhijeetmanhas commented on #3885
I want to give it a go. There are many arrays in that file. Should I keep all of them in `sunpy/data` or create a folder named `sunpy/visualization/colormaps/colortables` containing all the arrays stored as `json` or python numpy arrays in it?

[2020-03-11 19:19] nabobalis commented on #3885
I would put them in the same folder as the code to start off. Moving then if we want can be done after.

[2020-03-12 09:20] #3198 closed

[2020-03-12 14:40] #3368 closed

[2020-03-12 14:40] #2992 closed

[2020-03-12 14:40] #3814 closed

[2020-03-12 14:40] #3830 closed

[2020-03-12 17:01] Cadair commented on #3885
I would think something like csv would be best, ascii and easy to read in a text editor.

[2020-03-15 07:59] OlfwayAdbayIgbay opened #3897 "XORing more than 10 different dates throws HTML 500 error when requesting from JSOC"
I'm trying to get hmi 720s data for multiple different time ranges, and I'm trying to do this by iteratively XORing the time objects like so:

[code]
Whereas "date_x_hours_before" simply modifies the date string to be 12 hours earlier.

it works if I don't use or-constructs with more than 10 time objects, but for more than 10 it throws an "urllib.error.HTTPError: HTTP Error 500: Internal Server Er

[2020-03-15 08:15] Cadair commented on #3897
JSOC will get getting these requests separately, and is probably throwing the 500 because you are making too many export requests at once. (JSOC supports one request per time range).

I think what you might need to do here is to do the exports `as-is` and export the headers yourself separately to not run into these limits.

[2020-03-15 08:34] OlfwayAdbayIgbay commented on #3897
I see! Could you specify what you mean by "do the exports as-is"?

[2020-03-15 09:09] Matteo313 opened #3898 "SunPy’s HEK module"
I'm new in Sunpy and I am tring to learn how to use the HEK module in order to obtain a list of events (for example FL ).

When I compile I obtain
"'utf-8' codec can't decode byte 0xc5 in position 10559: invalid continuation byte",

The code used is
1. from sunpy.net import hek
2. client = hek.HEKClient()
3. tstart = '2011/08/09 07:23:56'
4.tend = '2011/08/09 12:40:29'
5.event_type = 'FL'
6.result

[2020-03-15 10:24] nabobalis commented on #3898
It would seem that whatever is returned from the servers is unable to be turned from bytes into a string. Why, I am unsure at the moment.

[2020-03-16 10:36] #3898 closed

[2020-03-16 10:53] nabobalis commented on #3898
We made a fix and hopefully will come out in the next bug fix releases (hopefully soon).

[2020-03-16 20:43] Matteo313 commented on #3898
Thank you for the help!

[2020-03-17 10:05] Cadair commented on #3897
I have asked for some advice from the JSOC people about exporting FITS headers when using as-is.

There is a small section on as-is in the drms (the underlying Python library SunPy uses) here: https://docs.sunpy.org/projects/drms/en/latest/tutorial.html#url-quick-as-is

You can ask for an `as-is` export with SunPy like this:

[code]

The files you export this way will not have any header informati

[2020-03-17 22:57] AzimAhmadzadeh commented on #3898
Can someone plz tell us when this will be fixed? @nabobalis
And till then, what workaround we can use to query data from HEK?

[2020-03-17 23:05] nabobalis commented on #3898
Hi @AzimAhmadzadeh, this fix will be in the next bug release of sunpy 1.0.x and 1.1.x which hopefully will come out over the weekend.

In the mean time, you have to either use HEK directly on their website or use the master version of sunpy here.

[2020-03-17 23:09] AzimAhmadzadeh commented on #3898
Thanks @nabobalis. Any hope that I can use a previous version of sunpy to avoid this issue?

[2020-03-17 23:10] nabobalis commented on #3898
I believe this a problem on all old versions of sunpy due to the nature of the change I had to make to fix it. However, I have not checked.

[2020-03-18 13:26] Cadair opened #3904 "Milestones, bugfixes, oh my."
This is a infrastructure issue to solicit input on what people think the role of milestones should play.

Currently we have two bots, one which checks all PRs have milestones and one which backports PRs based on labels.

This ends up in a bit of a weird workflow (imo) where we are duplicating metadata over labels and milestones and we end up with milestones not really meaning very much:

1) Open a

[2020-03-18 13:27] Cadair commented on #3904
ping @sunpy/sunpy-maintainers

[2020-03-18 13:31] nabobalis commented on #3904
Seems pointless to milestone things now.

[2020-03-18 13:39] Cadair commented on #3904
The main thing I think they are worth keeping for is to have a list of the PRs that have been merged in a window before a bug fix.

You could then do three searches

1) [PRs still open for a bugfix branch](https://github.com/sunpy/sunpy/pulls?q=is%3Aopen+is%3Apr+label%3A%22backport+1.0%22+)
2) [PRs merged for that bugfix](https://github.com/sunpy/sunpy/pulls?q=is%3Apr+milestone%3A1.0.9+)
3) [PRs w

[2020-03-18 13:42] nabobalis commented on #3904
Half of those would have no milestone since they pointed to master originally.

If possible, make a bot or something auto milestone backports and set the no changelog label. That should happen regardless.

[2020-03-18 13:52] nabobalis commented on #3904
Can't we get a bot to auto milestone based on a backport label or a bot to auto label based on the milestone?

[2020-03-18 13:53] nabobalis commented on #3904
Or we go back to version specific labels?

[2020-03-18 14:17] dstansby commented on #3904
My two cents:

- The milestone should be the earliest release in which a PR appears
- If we milestone correctly before merging, it should be possible (he says having never used bots before) to use a bot to backport to all branches including and above the milestoned branch.

[2020-03-18 14:24] nabobalis commented on #3904
The labels allow us to skip versions if we need during a backport.

[2020-03-18 14:26] dstansby commented on #3904
Why do versions need to be skipped? If something is milestoned to 1.0.10, shouldn't it go to the 1.1.10 branch *and* the 1.1.3 branch?

[2020-03-18 14:27] nabobalis commented on #3904
In the unlikely case we have a bug in 1.0.x, master but not 1.1.x

[2020-03-18 14:29] dstansby commented on #3904
Good point. Seems like we need a 1 > many mapping of PRs > versions then. Since github Milestones can only do 1 > 1, we should just use version labels to keep track of which versions a PR goes into, which we sort of do now with the backport labels.

[2020-03-18 14:30] nabobalis commented on #3904
We used to use labels for each version and replaced them with milestones. Milestones do get us the pretty github % for the next version but its not really important.

[2020-03-18 14:32] dstansby commented on #3904
Ah in the process of thinking and writing about this I think I understand @Cadairs original post. Since each PR goes into a single branch, we could milestone every new PR to the next major release (2.0 currently), then milestone the backport PRs to their respective branch release numbers.

[2020-03-18 14:33] nabobalis commented on #3904
But if we milestone all master PRs to the next major release, does that give us anything?

[2020-03-18 14:35] dstansby commented on #3904
It solves

Because in my suggested scheme we would target the original PR to 2.0.

[2020-03-18 14:37] nabobalis commented on #3904
Ah I missed that!

[2020-03-18 14:39] Cadair commented on #3904
I agree that milestoning the PR to master as 2.0 would fix that, but is it giving us anything over just not milestoning it?

[2020-03-18 15:26] dstansby commented on #3904
Github statistics is the only thing that comes to mind...

[2020-03-18 20:05] dpshelio commented on #3904
I'm not understanding the workflow... and maybe because I've always assumed that milestones are a way to put a "due date" to issues... no necessarily to pull-requests. For me marking something with a particular milestone is aim the focus to solve a problem, implement a feature, ...  in a particular time frame. To prioritise work and not to work on what just pop out today (unless is something urgen

[2020-03-19 11:25] Cadair commented on #3904
We only assign milestones to issues that would block a release. These are normally major :fire: bugs or infrastructure issues that actually prevent a release. The reasoning behind this is that we were always moving issues from one milestone to the next because nobody was working on them.

Given that SunPy operates on a almost entirely voluntary basis we can't really have deadlines or really even p

[2020-03-19 15:11] OlfwayAdbayIgbay commented on #3897
Thank you so much, that helped a lot! It solved my html500 error and the metadata acquisition looks to be working as well.

[2020-03-19 15:11] #3897 closed

[2020-03-20 12:22] samaloney commented on #3735
Some very applicable information on https://github.com/sunpy/drms/issues/37

[2020-03-20 13:36] ayshih opened #3906 "SUVI FITS headers have some inaccurate observer information"
For SUVI Maps, we use the ECEF (Earth-centered, Earth-fixed) coordinates in the FITS headers to interpret the observer location.  As far as we know, these coordinates are fine.

However, there are issues with other observer information in the SUVI FITS headers:

- The HEE (Heliocentric Earth Ecliptic) coordinates are consistent with the ECEF coordinates, but because of the included precision (and

[2020-03-20 14:19] dstansby opened #3907 "fido.fetch() progress bar in notebook has too many new lines"
The progress bar used in a Jupyter notebook by `Fido.fetch()` inserts a new line every time it refreshes, resulting in a very long output (see below). Ideally it would not insert these new lines, and the progress bar would stay on one line.

<img width="1080" alt="Screenshot 2020-03-20 at 14 17 37" src="https://user-images.githubusercontent.com/6197628/77172330-afd7c600-6ab5-11ea-9b32-5218a07e4c67

[2020-03-20 14:35] Cadair opened #3908 "Should remote data manager namespace file names?"
While working on sunpy/sunxspex#34 I thought, "what would happen if two affiliated packages both used the same name for a data file?" So I was wondering if we could do some mad introspection stuff to automatically namespace variables so it would be `"sunxspex.xray_abundancies"`?

[2020-03-20 14:42] Cadair commented on #3907
This is a parfive bug.

It's fixed in https://github.com/Cadair/parfive/pull/36

[2020-03-20 15:48] vn-ki commented on #3908
I had thought about this during the initial development and thought I could use the function path + file name (`module.sub.funcname.file`) as the key in the data manager.

The method to get the function name of the callee from the called function turned out to be implementation dependent (cpython vs others), so I abandoned the idea.

Using just the module name might be easier(?).

[2020-03-21 07:40] amogh-jrules commented on #3865
I'll do it 👍

[2020-03-22 04:52] amogh-jrules opened #3910 "How to prevent Sphinx from re-downloading everytime it build_docs is called"
Everytime I run tox -e build_docs to manifest the changes made, Sphinx begins downloading all over again instead of just refreshing the changes.

![image](https://user-images.githubusercontent.com/31567169/77242689-f39e0d00-6c26-11ea-92d4-ea699c8d6818.png)

Is there a way to prevent this?

[2020-03-22 09:39] nabobalis commented on #3910
I'm not sure what is downloading that file but maybe that file changed?

[2020-03-22 10:00] amogh-jrules commented on #3910
No, it downloads those all files all over again whenever I run tox -e build_docs even without any changes

[2020-03-22 10:04] nabobalis commented on #3910
But that looks like one file?

[2020-03-22 10:09] amogh-jrules commented on #3910
No, it is the last of the 26 other files that it has downloaded. Check the overall progress bar above

[2020-03-22 10:12] nabobalis commented on #3910
Ah I missed that. You could try making the documentation outside of tox and hopefully that will prevent it redownloading.

[2020-03-22 10:20] dstansby commented on #3910
The trouble is that `tox` creates a new environment each time, which has to download a new copy of the files each time. You should be able to run `make html` in the `docs/` folder to avoid this - please let us know if that works!

If it does maybe we should add that as a way to build the docs to the dev docs? https://docs.sunpy.org/en/latest/dev_guide/documentation.html

[2020-03-22 10:24] dstansby commented on #281
I think SunPy now downloads to ~/sunpy/data by default, and shows a progress bar when downloading, which seems to fix the original issue. If anyone disagrees feel free to re-open (or maybe re-open a new issue since this one is so old).

[2020-03-22 10:24] #281 closed

[2020-03-22 10:26] dstansby commented on #556
It would be good to have a simple self contained example that illustrates this issue.

[2020-03-22 10:30] dstansby commented on #953
I'm going to close since I too don't actually know what this issue describes - feel free to re-open with a description.

[2020-03-22 10:30] #953 closed

[2020-03-22 14:09] amogh-jrules commented on #3910
Alright, I'll try that out. I'll add it to the docs as well👍🏼

[2020-03-24 09:30] amogh-jrules opened #3913 "pip install does not cover all dependencies of SunPy"
### Description
Whenever you use a virtual environment/ online jupyter-notebook just writing `pip install sunpy` is not enough. To actually use certain modules and sub-modules we are required to manually install libraries for example `zeep` and `drms`. It could be useful if we add them and others to the dependency list.

[2020-03-24 09:34] nabobalis commented on #3913
This is by design, if you want all the extra dependencies you have to do `pip install sunpy[all]`

[2020-03-24 09:35] amogh-jrules commented on #3913
Oh I see, thanks!

[2020-03-24 09:35] #3913 closed

[2020-03-25 17:24] Cadair commented on #3904
From the community call on 2020-03-25 we have a workflow issue with status of bugfix releases. When considering if a bug fix release should occur we need to answer a few question:

1) What PRs have been merged flagged for inclusion in bug fix releases (for one or more active backport branches)
2) Do any PRs require ManualBackport before a release should occur.
3) What is the status of CI / RTD on

[2020-03-25 17:26] Cadair opened #3916 "We should cron CI builds on bugfix branches"
So it is easy to see if something is currently broken

[2020-03-25 17:28] nabobalis commented on #3916
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#scheduled-triggers

[2020-03-25 17:40] nabobalis commented on #3916
https://docs.microsoft.com/en-us/azure/devops/notifications/manage-team-group-notifications?view=azure-devops

[2020-03-25 18:27] ayshih opened #3918 "Make a policy for the minimum version of Astropy that we will support"
We should define a policy for the minimum version of Astropy that we will support for each future SunPy release (e.g., latest LTS, N versions back, ...).  We need to consider our release schedule versus Astropy's release schedule.

(See #3154, where we don't actually know when Astropy v3.2+ will become the minimum version.)

[2020-03-25 18:28] Cadair commented on #3918
My vote would be either the newest stable version 12 months ago or previous 2 releases. Pinning to a LTS is troublesome because of our out of phase cycles.

[2020-03-25 19:41] n1kun-j commented on #3767
I think the non UI issues mentioned in  https://wave.webaim.org/report#/https://docs.sunpy.org/en/stable/code_ref/coordinates.html  are fixed. If anything's remaining, I would like to know.

[2020-03-25 20:18] #2781 closed

[2020-03-25 20:57] #3744 closed

[2020-03-25 20:57] #3859 closed

[2020-03-26 10:03] dstansby commented on #3918
For an example of a minimum version policy, see https://matplotlib.org/devel/min_dep_policy.html. Since astropy release a LTS every two years, supporting astropy latest LTS versions upwards seems like one sensible option.

[2020-03-26 10:08] Cadair commented on #3918
There is also NEP 29 https://numpy.org/neps/nep-0029-deprecation_policy.html we could adopt which in that we could take all our minimum versions to be 24 months like it suggests for Numpy. Although it should be noted that Astropy effectively provides our minimum numpy requirement (as they are often newer than NEP 29 especially for their LTS releases (so the min numpy version isn't 4 years old by t

[2020-03-26 10:09] Cadair commented on #3918
(I am also kind of +0 on a SEP for this, but I am open to what others think on that)

[2020-03-26 10:38] simonmack commented on #1950
Hi @mjpauly, have you found solution of this issue?

This isue is now present while using a basic query from tutorial: https://docs.sunpy.org/en/stable/guide/acquiring_data/hek.html.

Steps to reproduce:
-> Execute following commands:
`
from sunpy.net import hek
client = hek.HEKClient()

tstart = '2011/08/09 07:23:56'
tend = '2011/08/09 12:40:29'
event_type = 'FL'
result = client.search(hek.attrs.

[2020-03-26 10:39] nabobalis commented on #1950
Hi @simonmack, that is a bug in release versions that is fixed on github but has not yet rolled out to users. Hopefully by the weekend we can get that fixed.

[2020-03-26 11:20] Cadair commented on #3767
Some of the UI issues could probably be addressed, and it looks like there is still some contrast issues we could work on. (Also I am not sure I am 100% on board with the colour changes we applied to improve the contrast short term).

[2020-03-27 11:04] Cadair opened #3922 "VSO Results from RHESSI seem to not have consistent ordering"
If you run the following query multiple times:
[code]

[code]

[code]

[code]

The results come back in a different order.

This seems to be a recent change in the VSO response as before this doctest was stable.

[2020-03-27 15:57] ejm4567 commented on #3922
The VSO code itself for RHESSI hasn't changed recently. Testing on IDL/SSW always yields the results in the same order. I can reproduce the above flipping of the order of the results in my test scripts for SunPy 1.0 and 1.1. Perhaps adding a sort on the start time would resolve the issue.

[2020-03-27 19:01] Cadair commented on #3922
I don't understand why out code would have transitioned from sorted to unsorted without some reason?

[2020-03-28 14:12] dpshelio commented on #3922
Maybe we could add a sorting option to `search` that by default sorts by date.

[2020-03-28 14:49] #3854 closed

[2020-03-28 15:05] dpshelio commented on #3908
What if they are the same file! Do we need then to download it twice?

[2020-03-28 16:45] vn-ki commented on #3908
IIRC, they won't download twice because we have a cache which handles the downloads for data manager. I'll have to check to confirm though.

[2020-03-29 11:14] nabobalis opened #3929 "CircleCI sample data cache is not used by tox."
The cache isn't working on circleci at the moment.

If you have a look at this: https://app.circleci.com/pipelines/github/sunpy/sunpy/4298/workflows/d597d7b5-e84f-43ea-a6fc-a7bf85d03a09/jobs/43584/parallel-runs/0/steps/0-101

it seems we don't have one?

and at this:
https://app.circleci.com/pipelines/github/sunpy/sunpy/4298/workflows/d597d7b5-e84f-43ea-a6fc-a7bf85d03a09/jobs/43584/parallel-runs/0

[2020-03-29 14:24] #3761 closed

[2020-03-29 14:25] #2265 closed

[2020-03-29 14:28] nabobalis opened #3930 "We don't close VSO connections"
When I run the some of the examples that call the VSO, I see this in the output in my terminal:

[code]

We should find out where we aren't closing these connections and close them.

[2020-03-30 13:58] Cadair opened #3931 "Reconcile new RotatedSunFrame with differential_rotate"
Now we have #3537 in we have the ability to replace [`differential_rotate`](https://docs.sunpy.org/en/stable/api/sunpy.physics.differential_rotation.differential_rotate.html#sunpy.physics.differential_rotation.differential_rotate) with reproject + `RotatedSunFrame`.

We should pin down any differences between these two approaches and re-write `differential_rotate` to use reproject underneath.

[2020-03-30 15:41] ehsteve opened #3933 "Create an Other issue template"
Currently the only choices provided are Feature Request and Report a bug but there are things that fall between these two and a default template would be helpful.

[2020-03-30 15:42] ayshih commented on #3931
Here's the specific comment with a comparison and generating code: https://github.com/sunpy/sunpy/pull/3537#issuecomment-559194239

And the image from that comment:
![comparison](https://user-images.githubusercontent.com/991759/69748078-916c4a00-1115-11ea-8a04-7f15cc7086e3.png)

Don't focus on the differences near the old limb, but rather at the differences in the neighborhood the new meridian.

[2020-03-30 15:43] ehsteve opened #3934 "Move constants defined in coordinates sub-package to sun"
The sunpy.sun sub-package is the central repository for all constants so no constants should be defined outside (or locally). This ensures that different parts of sunpy can use these constants and provides a central place to audit constants and update them as needed.

[2020-03-30 15:56] dstansby opened #3935 "Document our astropy minimum version bump"
#3919 bumped the minimum astropy version for sunpy 2.0. This should be documented.

[2020-03-30 19:03] Cadair commented on #3908
I think as it's user facing name the module name + filename would be the best option.

[2020-03-30 19:51] #3935 closed

[2020-03-30 21:59] #2696 closed

[2020-03-31 11:36] kakirastern commented on #3934
Hi, I would like to try this issue. Any pointers on how to start?

[2020-03-31 13:34] DShivansh opened #3941 "Returning Astropy Table instead of Pandas DataFrame when using search_metadata() in JSOCClient."
In JSOCClient when we use search metadata like ->
[code]
I think this inconsistency should be removed because even the ``_lookup_records`` in **jsoc.py** returns Astropy Table when this function is not called by ``search_metadata``. Astropy Tables have matured enough to support same syntax as pandas dataframe to filter the columns.

[2020-03-31 14:25] dstansby opened #3942 "Write example showing how to get GOES event list"
As discussed at the developer meeting, `get_goes_event_list` should be deprecated and removed, and a gallery example should be added showing how to get the event list using HEK.

[2020-03-31 14:39] samaloney commented on #3942
Do they actually return the same list?

[2020-03-31 14:45] sashank27 commented on #3941
Related issue: #3293

[2020-03-31 14:45] dstansby commented on #3942
`get_goes_event_list` directly calls the HEKClient, so I would guess yes.

[2020-03-31 15:27] #3929 closed

[2020-04-01 09:22] samaloney commented on #1155
I guess with great power comes great responsibility - how would implicitly related keywords be handled I'm specifically thinking of `DATE_OBS`, `DATE_BEG`, DATE_AVG`, `DATE_END` that all SolarOrbiter files will have and some current fit files have `DATE_OBS` and `DATE_END`?

[2020-04-01 14:07] dstansby commented on #1155
As a slight aside, regardless of setting properties, should we be adding properties for all of these extra FITS keywords?

[2020-04-01 15:28] wafels commented on #2860
After the discussion this week, some further ideas cropped up.

1. Remove the helioviewer client from SunPy entirely and make it its own package as suggested above.
2. Extend Fido to use the helioviewer API so it is possible to search for and download helioviewer JP2 files.
3. Maintain the ability of SunPy to read a JP2 file into a map object.

Idea 3 is an example of the notion that SunPy provide

[2020-04-01 15:37] wafels commented on #2150
#2745 suggests functionality that is not in the current CompositeMap object.  I suggest that more use cases be collected for what CompositeMap could do **uniquely** that cannot already be done with Map or with an extensive matplotlib plotting tutorial.

[2020-04-01 15:43] dstansby opened #3954 "Should sunpy.timeseries.TimeSeries use astropy or pandas underneath?"
This is an issue to discuss whether `sunpy.timeseries.TimeSeries` should use `pandas.DataFrame` or `astropy.timeseries.TimeSeries` underneath.

Some of my thoughts/opinions:
- If we move to `astropy.timeseries.TimeSeries`, should we just remove the SunPy version of a TimeSeries altogether, as a timeseries of data is not a solar physics specific concept?
- Personally I regularly use the underlying

[2020-04-02 09:08] dstansby commented on #3
Should this issue go up(down?)stream to NDCube?

[2020-04-02 09:10] dstansby commented on #164
This seems to exist here: https://docs.sunpy.org/en/stable/api/sunpy.roi.roi.html#sunpy.roi.roi . If there are requests to extend the functionality of the existing class then should we split those out to new issues?

[2020-04-02 09:13] dstansby opened #3961 "Write example showing how to save GenericMap with asdf"
As far as I can see #2366 added support to save a GenericMap using asdf. It would be good to add an example to this section: https://docs.sunpy.org/en/stable/generated/gallery/index.html#saving-and-loading-data showing how to do that.

Fixing this would close #431

[2020-04-02 09:15] dstansby commented on #463
I forget what the plan is for CompositeMap, and this would be a lot of deprecations and API changes. Do we still want to do this?

[2020-04-02 09:16] dstansby commented on #474
I'm not too sure what the feature request/improvement here is, so I'm going to close. Feel free to re-open or comment with more information.

[2020-04-02 09:16] #474 closed

[2020-04-02 09:18] dstansby commented on #531
Is the action here to discourage use of `sunpy.instr.eve` via. warnings, and direct them to Fido?

[2020-04-02 09:29] dstansby commented on #1337
Since the error message doesn't seem to be posted above, and I can't easily find one of the offending files, I'm going to close. If anyone can provide the error message and a file that causes it, feel free to re-open.

[2020-04-02 09:29] #1337 closed

[2020-04-02 09:31] dstansby commented on #1918
This seems to have been un-skipped and fixed at some point.

[2020-04-02 09:31] #1918 closed

[2020-04-02 09:35] dstansby commented on #2420
Looking through the code this has been fixed at some point.

[2020-04-02 09:35] #2420 closed

[2020-04-02 09:36] dstansby commented on #2645
Any more thoughts? We could at least add a `column_names` property alongside `columns` for now?

[2020-04-02 10:10] dstansby commented on #2657
This seems to be fine now; the following code prints what I would expect:
[code]

[2020-04-02 10:10] #2657 closed

[2020-04-02 10:16] Cadair commented on #463
I think it's likely this would be part of a larger refactoring of CompositeMap now, probably folding in NDCollection and a bunch of other stuff. Not sure if this is worth keeping open in light of that as long as we have issues tracking the bigger picture.

[2020-04-02 10:18] #463 closed

[2020-04-02 11:05] Cadair commented on #3
https://github.com/sunpy/ndcube/issues/74 is the related ndcube issue.

It's likely this wont get implemented until NDCube grows the underlying functionality, but I think we should also keep this open for pulling it into map when the time comes.

[2020-04-02 11:14] samaloney opened #3966 "Documentation Structure and Content"
### Description
So some of best documentation I've seen has 4 major sections:
1. Tutorials - introduce newcomers, from 0 to doing something useful
2. How-Tos - goal orientated practical examples
3. Explanations/Discussions - in-depth articles or explanations with details or context not suitable in other sections.
4. Reference - API

I think 1, 2, and 4 are pretty well covered but 3 is sorely missi

[2020-04-02 11:40] dstansby commented on #3070
Do you know how we tell if the issue is or isn't fixed in a <L1 data file?

[2020-04-02 11:41] Cadair commented on #3907
I have just released parfive 1.0.1 can you double check this is now fixed please?

[2020-04-02 11:41] dstansby commented on #1753
Is there a standard FITS keyword for data units?

[2020-04-02 11:45] Cadair commented on #1753
`BUNIT`?

[2020-04-02 12:49] ayshih opened #3968 "Bugs with the message from the deprecation decorator"
Our `deprecated` decorator has some recent bugs, possibly came in with #3124:

- The "scheduled for removal" version is calculated incorrectly.  I think it's an order-of-operations bug in this line: https://github.com/sunpy/sunpy/blob/1f79409372f8bd932c8f4db978e67bff451f04a7/sunpy/util/decorators.py#L48.
- The "scheduled for removal" message is always created (https://github.com/sunpy/sunpy/blob/1

[2020-04-02 13:21] hayesla opened #3969 "sunpy.data.manager does not allow for local path object in manager. override_file()"
### Description
It would be great if `sunpy.data.manager` could take a local file path

[2020-04-02 13:35] hayesla commented on #3969
oh no wait it does seem to be working ....

[2020-04-02 13:39] dstansby commented on #1120
Could you post a short self contained example, that also shows the current output of `help(attrs)`?

[2020-04-02 13:44] dstansby commented on #1950
Can this be closed as fixed?

[2020-04-02 13:49] nabobalis commented on #1950
Yeah, the bugfix have been released. IF there are any more problems, please reopen this!

[2020-04-02 13:49] #1950 closed

[2020-04-02 13:49] nabobalis commented on #3968
Woops.

[2020-04-02 13:50] dstansby commented on #1748
It's not clear what astropy expects as an uncertainty (relative or absolute), so I've opened an issue upstream: https://github.com/astropy/astropy/issues/10102

[2020-04-02 14:23] wtbarnes commented on #1120
#3637 I think is relevant here as it would allow for inspection of allowed attrs for a given client (I think...)

[2020-04-02 14:34] dstansby commented on #3254
What was the conclusion yesterday re. depedencies? Happy to either have a go at this if we don't want to hard depend on matplotlib, or close the issue if we will hard depend on mpl.

[2020-04-02 14:36] dstansby commented on #3201
Do we have a python support policy? Whatever version our astropy minimum version depends on?

[2020-04-02 15:31] wtbarnes commented on #3942
We should think about #2434 when replacing `get_goes_event_list`. From the discussion on that issue, it seems like it may be worth querying other sources of data for the GOES event list mainly due to the response time of the HEK.

I've never actually used GOES data so I'm a bit out of my depth here, but would it be worth including queries to other sources here other than the HEK? I think we alread

[2020-04-02 15:44] wtbarnes commented on #3307
In light of #3282,  this is no longer applicable.

[2020-04-02 15:44] #3307 closed

[2020-04-02 15:45] nabobalis commented on #3201
We did once say the last 3 releases of python at time of package release.

[2020-04-02 16:29] Cadair commented on #3201
My opinion is [NEP-29](https://numpy.org/neps/nep-0029-deprecation_policy.html) for python versions.

[2020-04-02 16:48] kakirastern commented on #3934
I will first systematically go through the codebase starting with the `sunpy.sun` and `sunpy.coordinates` subpackages, and then the rest to get a sense of the scope of the issue, before proceeding to working on submitting a PR to audit the current use of constants in the `sunpy` package as a whole, and finally move all constants currently defined in the `coordinates` subpackage to `sun`.

[2020-04-02 17:15] #3519 closed

[2020-04-02 18:40] dstansby commented on #3036
I'm confused as to what this means? A policy above deciding on a case by case basis?

[2020-04-02 18:41] dstansby commented on #2910
Does this mean we need to wait for depending on astropy 4.0 to fix this issue?

[2020-04-02 18:52] dstansby commented on #2822
I think this is now fixed?

[2020-04-02 20:16] ayshih commented on #3934
@kakirastern These are the specific constants at issue in `sunpy.coordinates`.  The private variables are fine, but the "magic" numbers ought to be moved to `sunpy.sun.constants`.

https://github.com/sunpy/sunpy/blob/d2088eb8dbae23eb2e54181445fbb84b538e628a/sunpy/coordinates/ephemeris.py#L264
https://github.com/sunpy/sunpy/blob/5e96fa9e904d1cca4caf17c7f3c0008c0ab70556/sunpy/coordinates/ephemeris.p

[2020-04-03 09:13] #3969 closed

[2020-04-03 11:03] kakirastern commented on #3934
Sure @ayshih Thanks for the info! Will open a PR to follow up soon.

[2020-04-03 20:04] abhijeetmanhas commented on #3922
@Cadair @dpshelio we don't have ordered result by time in fido docs too.

[code]

https://docs.sunpy.org/en/stable/guide/acquiring_data/fido.html check here. Do we wan't these results in order too?

[2020-04-04 13:26] #3930 closed

[2020-04-04 13:49] Cadair opened #3983 "Ensure manager.override_file works correctly with windows paths"
See https://github.com/sunpy/sunpy/pull/3972#discussion_r403340654 and #3969 and https://matrix.to/#/!MeRdFpEonLoCwhoHeT:matrix.org/$1585987922316946MWjEh:matrix.org?via=cadair.com&via=matrix.org

[2020-04-04 13:51] nabobalis commented on #3983
That matrix comment being:

[code]

[2020-04-05 12:10] #3942 closed

[2020-04-06 13:36] Cadair opened #3988 "Fix compatibility with sphinx 3"
It seems that we have a few issues that sphinx 3 is raising warnings for on our docs, we should fix them.

[2020-04-06 16:37] Cadair opened #3991 "Giles does not post figure test results when circleci fails"

[2020-04-06 17:32] mbobra opened #3992 "Affiliated Package Review Process"
The following is a draft design for an affiliated package review process written during the [2020 SunPy Coordination Meeting](https://github.com/sunpy/sunpy/wiki/Coordination-Meeting-2020-Notes) hack days (April 2 and April 3) by @ayshih @Cadair @DanRyanIrish @dpshelio @dstansby @ehsteve @hayesla @mbobra @nabobalis @samaloney and @wtbarnes.

## Affiliated Package Review Process

## ToDo

To get fi

[2020-04-07 10:32] Cadair commented on #3991
See https://github.com/OpenAstronomy/baldrick/pull/96 for a upstream fix

[2020-04-07 14:41] wafels opened #3997 "Re-projection of LASCO images"
### Description

It would be nice if SunPy could re-project LASCO images from different points of view.  A fundamental issue here is you have to make an assumption about where the off-solar surface material is in space.  One assumption is to assume that the LASCO image represents a plane in space perpendicular to the observer going through the center of Sun.  Another possible assumption (brought u

[2020-04-07 18:11] letmerecall commented on #3988
Hey guys, interested in this project. I would like to explore this issue. Can I work on it?

[2020-04-07 18:19] nabobalis commented on #3988
Sure

[2020-04-08 09:15] Cadair commented on #3154
I think we have decided that we are 3.2+ for 2.0 right? If so we should make all these changes?

[2020-04-08 09:16] Cadair opened #4000 "Changes we can make now we depend on Astropy 4.0+"
This is a list of things which we can change once we depend on Astropy 4.0+. This is a follow on from #3154

## Visualization

- [x] (fixed in https://github.com/sunpy/sunpy/pull/4621) Line plotting in `ArrayAnimatorWCS` is conditional on Astropy 4.0, if it's our minimum requirement we can drop all the conditional stuff and expect it to be there.

## Coordinates

- [x] (Fixed in #4609) Remove expl

[2020-04-08 16:18] dstansby commented on #2822
Since there were no objections, I'm going to close this

[2020-04-08 16:22] dstansby commented on #2472
I think the action here is now just to create a new mark and apply it to the relevant test functions, which shouldn't be too hard.

[2020-04-08 16:25] dstansby commented on #2554
I'm going to close this, as it is probably in scope of NDCube and not SunPy

[2020-04-08 16:25] #2554 closed

[2020-04-08 16:28] dstansby commented on #2609
I think the first original issue is now fixed, and the second warning is a reasonable warning given sunpy is making assumptions about the data. I'm going to close this, but if there are still issues with spurious warnings feel free to leave a comment here or open a new issue.

[2020-04-08 16:28] #2609 closed

[2020-04-08 16:30] dstansby commented on #2711
I'm confused as to what the issue or action to take is here @vn-ki - could you post a link to the code block you're referring to?

[2020-04-08 16:31] dstansby commented on #2721
This is now pointing to a random line in `mapbase.py` - which method is it that needs the extra testing?

[2020-04-08 16:36] dstansby commented on #2506
Closing this as the only action left is #3033

[2020-04-08 16:36] #2506 closed

[2020-04-08 16:42] dstansby commented on #3114
Is this explained anywhere in the astropy docs, that we could easily link to?

[2020-04-08 16:43] dstansby commented on #3108
I'm going to close this with needs more information...

[2020-04-08 16:43] #3108 closed

[2020-04-08 16:44] nabobalis commented on #2822
I don't think any work was ever merged for this.

[2020-04-08 16:46] Cadair commented on #3108
I think this is already implemented anyway :laughing:

[2020-04-08 16:46] dstansby commented on #2822
Pretty sure it works now in map_factory, but actually doesn't look like it does in TimeSeries yet

[2020-04-08 17:07] #3713 closed

[2020-04-08 21:12] fluxtransport opened #4006 "sunpy.map.Map() fails to load list of urls"
### Description
sunpy.map.Map() fails to load list of urls.
e.g
urls = ['http://jsoc.stanford.edu/SUM80/D136597189/S00000/image_lev1.fits'
 'http://jsoc.stanford.edu/SUM79/D136597240/S00000/image_lev1.fits'
 'http://jsoc.stanford.edu/SUM76/D136597241/S00000/image_lev1.fits'
 'http://jsoc.stanford.edu/SUM82/D136597237/S00000/image_lev1.fits'
 'http://jsoc.stanford.edu/SUM83/D136597187/S00000/image_

[2020-04-08 21:15] fluxtransport commented on #4006
Sorry not sure why commas between urls were stripped in the sample code above. I do have commas between the urls in my code.

[2020-04-09 01:22] ayshih commented on #3114
The appropriate Astropy page is https://docs.astropy.org/en/v3.2.x/coordinates/solarsystem.html, but of course our docs need to provide the context.

[2020-04-09 05:43] wtbarnes commented on #4006
I'm not quite sure what's happening in your example above, but when I try to open one of the files I get the following traceback, perhaps because of a problem at the JSOC? I tried this a few hours earlier and I could at least read the first two files.

[code]

[code]

[2020-04-09 08:02] nabobalis commented on #4006
I just tried this and got the same error as Mark. I will look into it now.

[2020-04-09 08:54] nabobalis commented on #4006
Issue seems to be:

The sunpy cache downloads each file in order using a temporary name and it has the same temporary name so it gets updated by `replacement_filename` which returns a string path instead of a Path object. Thus causing this problem if the files are not in the .cache folder.

(Should these files even be saved into the cache folder over the main sunpy downloads folder?)

[2020-04-09 11:40] #3839 closed

[2020-04-09 13:10] dstansby opened #4008 "Missing metadata warnings aren't very helpful"
I'm currently working on some code the raises a lot of Missing metadata warnings, that show up like this
[code]
This isn't very helpful though, as I don't know what line in my code, or object, is the cause of these warnings.

It would be good to add some extra information so the user knows what is causing the warnings, and therefore making them easier to diagnose and fix.

[2020-04-09 13:16] Cadair commented on #3415
At the community meeting on 2020-04-08 we discussed this and I proposed the following solution.

## End goal

`plot_settings` is a plot specific metadata object (which one day might be `.meta.plot_settings`) which provides properties with setters for `.cmap` `.norm` and anything else we think is appropriate.

So users would do
[code]
## Deprecating behaviour

Because we need to be able to deprecat

[2020-04-09 15:01] wtbarnes commented on #4006
Ok so why does this work for some urls and not others then? If we are returning the wrong type, I'd expect it to fail every time.

[2020-04-09 15:04] nabobalis commented on #4006
if the file is already in the case its ok, or if the names don't conflict.

[2020-04-09 15:45] fluxtransport commented on #4006
Hi @wtbarnes and @nabobalis thanks for looking into this. If Map() was not designed to do this, let me know. This is not a feature request, but https://docs.sunpy.org/en/stable/code_ref/map.html says it can handle "Lists of any of the above [including URLs]" so that's why I created the issue. If there's a better way to download files before providing lists of filenames to Map(), please let me know

[2020-04-09 15:47] nabobalis commented on #4006
Oh this is a bug which we will fix.

[2020-04-10 17:07] samaloney opened #4009 "Automate mocking for online tests 🧙‍♂️"
### Description

As good internet citizens we should try to avoid making unnecessary requests to web services and servers, at best it needlessly increases traffic and at worst it can overload upstream services and servers. This is especially true when the requests are for testing and not actual user requests.

Much of sunpy's CI testing infrastructure relies upon such requests. Due to this fact an

[2020-04-10 22:27] abhijeetmanhas commented on #3833
https://github.com/mvantellingen/python-zeep/issues/1075 I created an issue on zeep repo too, showing how we can't make a set from zeep objects since they are unhashable.

[2020-04-13 14:52] abhijeetmanhas commented on #3733
After #4011 is merged, I would like to work on it. Specifically we need to have filter for dataretreiver client responses and jsoc responses, similar to vso one. And then implement a `search()` method in `UnifiedResponse` which uses existing filters and merge responses from all clients.

[2020-04-13 16:34] abhijeetmanhas commented on #3747
Tried the same query on VSO website, it showed no records found

[2020-04-14 10:55] Cadair opened #4016 "Ensuring coordinates are in an expected frame"
I am currently writing a thing where the user specifies coordinates and I want to get them into HPC (assuming this is possible given the input). I am currently struggling to work out the different permutations of this, so I brain dumped here.

## HPC - HPC

[code]
* **HPC SkyCoord**

works:

[code]
Works
[code]

* **HPC Frame**

Doesn't work (expected):
[code]
Doesn't work (but kinda feel like it

[2020-04-14 13:13] ayshih commented on #4016
Hmm, I think it would be confusing if
[code]
gives a different answer than
[code]
which should definitely error with `observer=None` is explicitly specified.

It'd also not be clear how to resolve
[code]
(i.e., an instance rather than a class, so would have `observer=None` by default).

[2020-04-14 15:13] Cadair commented on #4016
Yeah makes sense, thanks.

[2020-04-14 15:13] #4016 closed

[2020-04-14 15:44] #4006 closed

[2020-04-15 17:46] #3844 closed

[2020-04-16 11:46] Raahul-Singh commented on #4008
It's supposed to inform the user if any meta specific to a frame is missing if there is at least one meta present from that frame. Otherwise, it is assumed that the user purposefully omitted those.
In this case, I believe that the file you're making the map with has no meta at all for any frame. Could you please verify this?

For reference, #3692

[2020-04-16 13:17] Cadair commented on #2581
and / or the array animator refactor?

[2020-04-16 14:29] #3991 closed

[2020-04-16 14:36] Cadair opened #4022 "Proposal for changes to Map plotting methods"
Currently `GenericMap` provides the following visualization related methods:

* `plot()`
* `peek()`
* `draw_grid()`
* `draw_limb()`
* `draw_rectangle()`
* `draw_contours()`

This proposal is related to the methods prefixed in this list with `draw_`, `peek()` will be dealt with independently in context of #3951 .

---

## Current API

[code]

### Implicit axes

[code]

### Explicit axes

[code]

##

[2020-04-16 15:39] #3933 closed

[2020-04-16 17:43] Raahul-Singh opened #4025 "Re-order and remove the deprecation on the submap and draw_rectangle parameters after the 2.0 release."
### Description

As [mentioned here](https://github.com/sunpy/sunpy/pull/3677#discussion_r409606416), the new API for specifying rectangular coordinates requires keyword-only arguments.
The current implementation has a decorator for deprecating the old API which will be supported until the official 2.0 release.
This is the issue to keep track of the eventual removal of the deprecation and the reor

[2020-04-17 07:46] #3968 closed

[2020-04-17 10:13] #3922 closed

[2020-04-17 15:58] dstansby commented on #1155
Closing this as per https://github.com/sunpy/sunpy/pull/3911#issuecomment-614728637

[2020-04-17 15:58] #1155 closed

[2020-04-17 17:57] abhijeetmanhas commented on #3734
I got the issue resolved by having one fileid per `DataRequestItem` in VSO `create_getDataRequest` and all 118 files were downloaded by running same commands in Viktor's notebook.

I spend a couple of days on this issue, I created [two notebooks](https://gist.github.com/abhijeetmanhas/3ccff55b148dc9d7708cd00f8f473ceb) one with upstream sunpy installed and one with master. I would highly recommend

[2020-04-18 16:45] dstansby commented on #3824
Looks like the API we need is still under testing and not public: https://developers.zenodo.org/#rest-api

[2020-04-19 15:45] DShivansh commented on #3306
Please correct me if I am wrong.
@Cadair do you mean that from all the attributes that one passes, we pass each attribute from all the _can_handle_queries function implemented by each source and all the queries which return true from all the functions are put in a list and stored?

[2020-04-20 13:47] ayshih commented on #3282
Re-opening because `aiaprep` was only deprecated, not removed.

[2020-04-20 13:51] ayshih commented on #3282
If we don't want to keep open an issue to remind us to remove a function that has been deprecated, then change the title of this issue so it doesn't look like we've done something that we haven't.

[2020-04-21 12:52] nabobalis opened #4040 "What's new for 2.0"
The purpose of this issue is to collect text and examples we can then put into a what's new document.
Then once we have that, someone can open a PR with all the text/examples in this issue in an rst document.

[2020-04-21 13:19] nabobalis opened #4041 "Constants __doc__ creation"
We currently add a list of all constants into an rst table manually:

https://github.com/sunpy/sunpy/blob/master/sunpy/sun/constants.py#L92

This means if a name changes and it becomes wider than the column, it will break the documentation build. We need a way to construct the table that can account for this.

[2020-04-21 14:30] ayshih commented on #4040
Stuff that I'm responsible for:

- #3537 Coordinate frames that include solar differential rotation
- #3782 Carrington coordinates for non-Earth observers
- #3951 Added an HTML summary for Map and MapSequence

[2020-04-21 16:05] dstansby commented on #4041
(thinking outloud) could we just chuck them all in an astropy table, and then render the astropy table?

[2020-04-21 16:29] dstansby opened #4042 "Improve spline option doc in Map.resample"
The [current description ](https://docs.sunpy.org/en/stable/api/sunpy.map.GenericMap.html#sunpy.map.GenericMap.resample)of the `'spline'` option to `Map.resample` is

which doesn't make sense to me. There should be a better description that says what this option does, and ideally which function is used to do the spline interpolation.

[2020-04-21 17:43] abhijeetmanhas commented on #3336
@Cadair @nabobalis can this be closed now after the parfive PR ?

[2020-04-21 17:54] nabobalis commented on #3336
Is the parfive PR enough to fix this issue?

[2020-04-22 08:26] abhijeetmanhas commented on #3316
@nabobalis we can close this issue, on current upstream this query doesn't gives any error, which was mentioned above. I also checked this thing by first doing search for `FL` and then for `AR` and adding length of table for both searches was same with OR in between them in single query.

[code]

[2020-04-22 08:27] #3316 closed

[2020-04-22 16:29] dstansby commented on #4040
Ideas from me
- Changes to Fido (registering clients/attrs)
- `sample_at_coords` to sample a map at a set of `SkyCoord` https://github.com/sunpy/sunpy/pull/3592

[2020-04-22 16:35] nabobalis commented on #4040
Attrs discovery.

[2020-04-22 16:36] nabobalis commented on #4040
aiapy/aiaprep

[2020-04-22 16:36] nabobalis commented on #4040
min version bumps?

[2020-04-22 16:36] wtbarnes commented on #4040
* #3960 aiaprep has been deprecated in favor of the functionality in aiapy

[2020-04-22 16:38] nabobalis commented on #4040
The citation update

[2020-04-22 16:40] nabobalis commented on #4040
What about Context manager to ignore the inertial motion of the Sun for transformations #3540?

[2020-04-22 16:56] wtbarnes commented on #4040
I imagine that could be covered in a single blurb about differential rotation frames.

[2020-04-22 18:52] #3934 closed

[2020-04-22 20:13] dstansby opened #4048 "How to search for VSO EXTENT_TYPE?"
I'm trying to use `Fido` to search the vso by the [EVENT_TYPE keyword](https://sdac.virtualsolar.org/cgi/show_details?keyword=EXTENT_TYPE), but I'm not entirely sure what attr I should be using for this. Sepcifically I want to search for EXTENT_TYPE = 'synotpic'.

The most obvious one seems to be [`sunpy.net.vso.attrs.Extent`](https://docs.sunpy.org/en/latest/code_ref/net.html#module-sunpy.net.vso

[2020-04-22 20:35] dstansby opened #4049 "Searching JSOC without a PrimeKey fails"
It should be possible to search JSOC without a PrimeKey, e.g.
[code]
 but this fails with
[code]

Doing the following search works fine, even though the time attribute to the search is completely ignored and all the synoptic maps that exist are returned by the search
[code]

[2020-04-22 20:43] nabobalis commented on #4049
Was this not tackled by cadair?

[2020-04-22 20:45] dstansby commented on #4049
Ah yes, I was on sunpy 1.something, with `master` I now get a different error (see above)

[2020-04-22 21:07] wafels commented on #3340
Also, bottom_left and top_right don't make any sense as names for these coordinates since we don't verify that the bottom left coordinate passed in is actually "below" and to the "left" of the top right coordinate.  Similarly for the top right coordinate.

[2020-04-22 22:31] Cadair opened #4051 "Unskip gallery examples before 2.0"
A couple of examples are skipped, including the reproject one, we should unskip them before release

[2020-04-23 07:45] Cadair commented on #4049
Huh, well this undermines my understanding of how DRMS works...

[2020-04-24 17:32] abhijeetmanhas commented on #4048
[code]
In the docstring for vso attrs file, it is written their is bug in VSO. May I know what's the bug and whether it is fixed now?

[2020-04-24 17:53] dstansby commented on #4048
Looks like @wafels added that comment a few years back, perhaps he remembers?

[2020-04-24 20:18] abhijeetmanhas commented on #556
Is this duplicate of https://github.com/sunpy/sunpy/issues/3321 ?

[2020-04-24 21:02] abhijeetmanhas commented on #2895
@nabobalis no error now, both for Fido and VSO. Probably close or label with `close?` .

[code]

[2020-04-24 21:10] abhijeetmanhas commented on #1589
@Cadair the thing that is confusing me a lot is, if we don't provide the wavelength attribute, the query works interestingly, shows 3000+ results, while it fails for wave filter, though records are present.

[code]

[2020-04-24 21:45] #2895 closed

[2020-04-27 08:24] #4049 closed

[2020-04-27 08:24] dstansby commented on #4049
See https://github.com/sunpy/sunpy/pull/4050#issuecomment-619166920 for why this is a won't-fix

[2020-04-27 20:11] hayesla opened #4057 "Fido has some issues to download into current working directory"
### Description

When downloading results from a Fido search it's not intuitive on how to save to your current working directory. For example:

[code]
This can be fixed by including the file name from the client such that:
[code]

Is there a reason that you have to define the file name from the client rather than just using `./`?

If so, we should raise an error that says this. Otherwise can we fi

[2020-04-27 20:16] Cadair commented on #4057
I see no reason why that shouldn't work.

[2020-04-27 20:21] hayesla commented on #4057
The issue is in the checking the write access - the path `./` returns an empty list in here `exists = list(filter(lambda p: p.exists(), Path(path).parents))` and so breaks

Otherwise it works - (i.e. if you comment out this condition)

[2020-04-27 20:27] Cadair commented on #4057
I think that could be:
[code]

[2020-04-27 20:29] hayesla commented on #4057
Yep - that fixes it! 🥳

Shall I make a PR to fix this?

[2020-04-27 20:31] nabobalis commented on #4057
Yeah and add a test if you can.

[2020-04-27 20:35] hayesla commented on #4057
will do!

[2020-04-29 07:43] OlfwayAdbayIgbay opened #4059 "HEK example from sunpy documentation throws JSON error"
Using the HEK example from the Documentation:

[code]

I get this as an error:

[2020-04-29 08:14] nabobalis commented on #4059
Hi @OlfwayAdbayIgbay, you can tell what your sunpy version is?

If you do `sunpy.__version__` it should print it out.

[2020-04-29 08:52] OlfwayAdbayIgbay commented on #4059
Hi,
The version is 1.1.1

[2020-04-29 08:57] nabobalis commented on #4059
Thanks!

If you can upgrade to 1.1.2 this bug should be fixed now. `conda update sunpy` should work.

[2020-04-29 10:44] OlfwayAdbayIgbay commented on #4059
Oh, sorry! I missed that there's a new version. It works now, thank you!

[2020-04-29 10:44] #4059 closed

[2020-04-29 11:07] nabobalis commented on #4059
No problem!

[2020-04-29 14:38] dstansby commented on #4051
Are these skipped just to avoid running them over and over again between releases, or because they're broken?

[2020-04-29 14:47] nabobalis commented on #4051
We normally skip them if they are broken.

[2020-04-29 15:49] ayshih commented on #4040
I've added draft blurbs to my earlier post, with the only thing missing being including a couple of the pretty differential-rotation plots.

I don't think #3540 is significant enough to be mentioned in the what's new.

[2020-04-29 22:32] STBadman opened #4063 "sunpy.io.fits.header_to_fits modifies input MetaDict in place, removing 'KEYCOMMENTS` entry."
### Description

`sunpy.io.fits.header_to_fits(header)` edits `header` in place, removing the `KEYCOMMENTS` dictionary entry. This function is often called by `sunpy.map.GenericMap` methods on `self.meta` causing these functions to edit `self.meta` in place. This can then cause problems if, for example, making `GenericMap` subclasses which parse information in the 'KEYCOMMENTS' dictionary (see e.g

[2020-04-29 23:56] #4057 closed

[2020-04-30 08:53] Cadair commented on #4063
Thanks for the report :smile:

[2020-04-30 14:12] nikita-0209 commented on #3941
Hi. I am a novice. Is anyone still working on this issue? If not, can I begin working on it?

[2020-04-30 14:14] nikita-0209 commented on #4000
Since Astropy 4.0 has been released, can I begin working on this issue? I am a novice.

[2020-04-30 14:15] nabobalis commented on #3941
Hi @nikita-0209, we do have an open pull request that is tackling this issue: https://github.com/sunpy/sunpy/pull/3950

I would suggest trying another issue.

[2020-04-30 14:20] nikita-0209 commented on #3789
Hi, is this issue still open? If yes, can someone guide me on what exactly is the issue?

[2020-04-30 14:21] nikita-0209 commented on #4000
Oh alright. I'll look for another issue

[2020-04-30 14:23] dstansby commented on #3789
Hi, this issue is still open ! I would say adding a `Notes` section to the docstring, that says it is possible to do `t in timerange` would be a good way to document this.

[2020-04-30 14:24] nabobalis commented on #3789
What about an example as well?

[2020-04-30 17:28] #4063 closed

[2020-04-30 17:46] ayshih commented on #4040
I've updated the blurb for #3537 with a plot, but will require #4072 to be merged.

[2020-05-01 00:22] hayesla opened #4073 "Converting AltAz to HPC queries"
### Description
I'm looking at the time of the 2015 partial solar eclipse and trying to get the position on the Moon in HPC from an observatory in the Netherlands -

I'm currently getting the position of the Moon and the Sun to be ~ the same in Altitude and Azimuth, but when converted to HPC the Moon goes way off. Its similar even when using WCSAxes and just using the `moon_pos` from `get_body()`

[2020-05-01 00:48] ayshih commented on #4073
The error is in these two lines:
[code]
You've specified the observer as Earth (center), but that's not where the observer actually is.  The offset of the Earth's radius is what's causing the large shift in the apparent location of the Moon relative to the Sun, because the Moon is much closer than the Sun (i.e., there is not a partial eclipse for an observer far away from Exloo).  The "hack" of se

[2020-05-01 12:51] ayshih commented on #4073
Incidentally, I normally recommend that people use our `get_body_heliographic_stonyhurst()` rather than Astropy's `get_body()` because our handling of light-time correction is more flexible.  In your case though, `get_body()` works perfectly fine.

Closing as resolved

[2020-05-01 12:51] #4073 closed

[2020-05-01 23:02] nikita-0209 commented on #3789
I checked the documentation of the `_contains_` function within class `TimeRange`. I notice it already contains a docstring along with example suggesting that `t in timerange` is possible.
Doesn't that solve the issue? Or have I interpreted the issue incorrectly?

[2020-05-01 23:06] nabobalis commented on #3789
What documentation? I can't find any on this page: https://docs.sunpy.org/en/stable/api/sunpy.time.TimeRange.html#sunpy.time.TimeRange

[2020-05-01 23:09] hayesla commented on #3789
https://github.com/sunpy/sunpy/blob/1.1/sunpy/time/timerange.py#L404 I guess because its __contains__ its not showing up in docs?

[2020-05-01 23:18] nikita-0209 commented on #3789
Yeah I was referring to the code documentation posted by @hayesla . Is there a way I can edit https://docs.sunpy.org/en/stable/api/sunpy.time.TimeRange.html#sunpy.time.TimeRange to display a similar description under the methods table?

[2020-05-01 23:34] hayesla commented on #3789
I'm not too sure? and I don't think we want to rename it to `contains`.

One way to do this is to put it in the `Notes` section in the class description ([here](https://github.com/sunpy/sunpy/blob/1.1/sunpy/time/timerange.py#L20)) with an example that `time1 in time_range` will return a boolean answer and then maybe an example there. That should then show up in the docs under the example section.

[2020-05-02 14:37] #4051 closed

[2020-05-02 14:37] #3766 closed

[2020-05-02 14:39] nabobalis opened #4082 "Improve the solar cycle example"
When https://github.com/sunpy/sunpy/pull/4061 is merged we want to update the example to address

@mbobra comments:

[2020-05-02 15:31] nabobalis opened #4083 "Add JSOC and VSO attrs registration"
When #3637 is merged in two things are outstanding.

1. JSOC does not have any attrs to be registered. A way to scrape them is the main blocking issue here.
2. VSO does have attrs but is skipped since it adds a large time penalty to the import. A way to cache and spin off a thread that does it in the background to avoid it holding up the import is needed.

[2020-05-03 21:11] dstansby opened #4086 "test_hpc_hgs_implicit_hcc failing with astropy dev"
Here's a fun new bug. I think this is an upstream astropy issue related to the fact we have an observer frame attribute that is itself a coordinate. See https://github.com/astropy/astropy/issues/10287 for the upstream issue.

[code]

[2020-05-03 23:50] ayshih commented on #4086
Ugh.  This will require an upstream fix.

[2020-05-04 07:19] OlfwayAdbayIgbay opened #4087 "OSError: Failed to load return from the HEKClient."
When trying to search for the flares on 2014/10/24 to /25, I get a "Failed to Load Return" error.
Sunpy Version: 1.1.3

Here's a minimal reproducible example:

[code]

[code]

[2020-05-04 12:38] dstansby commented on #4087
For the record, this is because byte `0xc5` corresponds to a unicode Angstrom character, which is present in the `.json` that the HEK client is trying to load at this location:

https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=FL&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&event_starttime=2014-10-24T20%3A50%3A00&event_endtime=2014-10-25T00%3A14%3A00&page

[2020-05-04 13:25] ayshih commented on #4086
Upstream PR has been merged (astropy/astropy#10290)

[2020-05-04 13:25] #4086 closed

[2020-05-04 14:06] #4087 closed

[2020-05-04 15:55] Cadair opened #4091 "Log something to stdout when sample data download fails"
If we fall over to our mirrors for the sample data download we should log something. Mainly so that we can easily see it happening on the CI etc

[2020-05-05 09:48] Cadair opened #4095 "RTD is failing"
We need to fix RTD. Looks like something related to sample data, so probably needs #4091

[2020-05-05 09:51] dstansby opened #4096 "wcs animator tests failing with astropy 4.1"
Thought I would open a bug to track this, there are several tests currently failing with the master branch of astropy. See e.g. https://dev.azure.com/sunpy/sunpy/_build/results?buildId=7470&view=logs&j=7f33e5bd-7764-5d8a-ba2e-506e078b9c3f&t=041114ed-9dec-54b1-2eeb-2bb11dee55c0&l=4655 for one of the failures.

[2020-05-05 12:47] ayshih commented on #4096
For what it's worth, when I tried to reproduce these failures on my local setup, I could not, for reasons unknown.

[2020-05-05 16:46] Cadair commented on #3643
@DanRyanIrish and @hayesla have been working on constructing WCSes where the observer is specified by an astropy `EarthLocation` object, which is then converted to `SkyCoord` and attached to the WCS.

The changes to wcslib which let it parse the `hgln/lt` headers are great but fail to account for this use case. Maybe we would want a FITS WCS subclass in SunPy which provides some extra functionalit

[2020-05-05 18:26] nabobalis opened #4099 "Slow fetch test for the SUVI client"
When running this (https://github.com/sunpy/sunpy/blob/214920bc48d366ca6168d42b1ad6828ba458b078/sunpy/net/dataretriever/tests/test_goes_suvi.py#L85) test which does one network call via the search, the test took 10 seconds locally for me.

Is this our client code or the sever?

[2020-05-05 23:11] jairideout commented on #3988
@letmerecall, just wanted to check if you're working on this issue. If not, is it alright if I work on it?

[2020-05-05 23:43] jairideout commented on #3006
Can this issue be closed now that #3722 is merged?

[2020-05-05 23:53] jairideout commented on #2750
Can I work on this issue?

[2020-05-06 02:19] hayesla opened #4101 "data manager issue with sunpy.instr.goes"
### Description
I know we are planning to move the instr out of core, but I'm playing around with `sunpy.instr. calculate_temperature_em()`, and there seems to be a bug with the data manager to get the required chianti files.

### Expected behavior
[code]
and this should return a lovely timeseries with two extra columns for temperature and emission measure

### Actual behavior
[code]
### Where is

[2020-05-06 03:47] vn-ki commented on #4101
Looking at the warning, I'd say the file is not downloaded. Can you confirm whether the file is actually downloaded or not?

If that doesn't give any insights, try removing the warn and raise the Exception produced.

https://github.com/sunpy/sunpy/blob/12225c4315d7dbe071bd0e3283adbf3f3e5f1709/sunpy/data/data_manager/cache.py#L168-L169

[code]

The above code works fine for me. You can try this as

[2020-05-06 07:47] nabobalis commented on #2750
Sure.

[2020-05-06 07:47] nabobalis commented on #3006
Yes.

[2020-05-06 07:47] #3006 closed

[2020-05-06 07:47] nabobalis commented on #3988
This was fixed but the issue wasn't linked in the pull request.

[2020-05-06 07:47] #3988 closed

[2020-05-06 07:48] #3916 closed

[2020-05-06 07:48] nabobalis commented on #3910
This was fixed.

[2020-05-06 07:48] #3910 closed

[2020-05-06 13:45] hayesla commented on #4101
Hey @vn-ki !

No the file was not downloaded but I can't figure out why its not?

The data manager is great! Its my own ignorance in how it works is the problem 😆

[2020-05-06 14:17] dstansby commented on #4101
[code]
looks like the key - maybe `/Users/laurahayes/sunpy/data_manager` doesn't exist?

[2020-05-06 15:08] vn-ki commented on #4101
shouldnt that be automatically created?

I purged the directories in the morning to test it out and it worked without any problems.

@hayesla I think you'll have to replace that warn with a `raise` (at least for now) to get a better insight into it.

[2020-05-06 15:16] hayesla commented on #4101
This exists - I've checked it

[code]
Yep, I'll play around with it some more.

Can I ask a silly question though - how are the hash keys generated?

[2020-05-06 15:20] vn-ki commented on #4101
sha256 iirc

[2020-05-06 15:25] vn-ki opened #4104 "Data manager docs report inconsistent information about hashes"
It says SHA-1 here

https://github.com/sunpy/sunpy/blob/12225c4315d7dbe071bd0e3283adbf3f3e5f1709/sunpy/data/data_manager/manager.py#L44

and SHA-256 here

https://github.com/sunpy/sunpy/blob/12225c4315d7dbe071bd0e3283adbf3f3e5f1709/sunpy/data/data_manager/manager.py#L123

Searching for [SHA-1](https://github.com/sunpy/sunpy/search?q=SHA-1&unscoped_q=SHA-1) yield 2 occurrences.

It should both say

[2020-05-06 15:25] hayesla commented on #4101
thanks!

Actually where else in core is the data manager used? Just want to test out some stuff

[2020-05-06 15:27] wtbarnes commented on #4101
It's not as far as I know. But we use it in aiapy: https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/blob/master/aiapy/response/channel.py#L77

[2020-05-06 15:27] vn-ki commented on #4101
https://github.com/sunpy/sunpy/search?q=%22%40manager%5C.require%22&unscoped_q=%22%40manager%5C.require%22

This should be everything. Looks like we are not using enough of data manager :laughing:

[2020-05-06 16:18] #4104 closed

[2020-05-06 16:38] #3865 closed

[2020-05-06 17:20] Cadair commented on #3336
We should probably document it.

[2020-05-06 18:39] jairideout commented on #2750
The `MetaDict` class is fairly general: it's an `OrderedDict` subclass with case-insensitive `str` keys. Is it okay to have `MetaDict` manage its `KEYCOMMENTS` dictionary (if it has one)? This may introduce knowledge of the FITS header format to `MetaDict`, and I wanted to double-check that this is acceptable before implementing the feature.

Also, I noticed that `sunpy.io.header.FileHeader` is an

[2020-05-07 00:46] jairideout commented on #4041
Can I give this one a shot? I can try out the astropy table approach first, and fall back to computing the column widths if that doesn't work.

[2020-05-07 07:40] nabobalis commented on #4041
Sure.

[2020-05-07 09:23] Cadair opened #4108 "Check for deprecated functionality which needs removing before 2.0"
Before we finalise 2.0 we should make sure we have removed all the deprecated code

[2020-05-07 10:21] dstansby commented on #4108
On current master, I get:
[code]
So it looks like there's some 1.0 stuff still to be removed.

[2020-05-07 11:22] Raahul-Singh commented on #4040
**get_rectangle_coordinates** #3737
A utility to get the bottom left and top right coordinates of a rectangular region of interest in longitude and latitude in a given coordinate frame.
**Parameters:** (bottom_left, top_right, width, height)
**Valid Combinations:**
(astropy.coordinates.SkyCoord, astropy.coordinates.SkyCoord, None, None)
(astropy.coordinates.SkyCoord, None, astropy.units.deg, astro

[2020-05-07 13:00] Raahul-Singh commented on #4040
**With the release of parfive 1.1** #3822
1) Allows passing User-Agent Headers to `aiohttp.ClientSession`
If no UA is passed explicitly, the default UA is passed.
[code]
2) Adds support for passing proxy information to `aiohttp.ClientSession`
    * Proxy URL is read from the environment variables `HTTP_PROXY` or `HTTPS_PROXY`,
            depending on the protocol of the `url` passed.
     * Proxy

[2020-05-07 13:14] Raahul-Singh commented on #4040
The GUI support will only work if the parfive patch is merged and released

[2020-05-07 16:25] dstansby commented on #4095
The error is
[code]

I don't think this is sample data, it's data that Fido downloads (or is supposed to download).

[2020-05-07 16:28] nabobalis commented on #4095
DId our LFS storage update?

That one happens every so often.

[2020-05-07 16:45] dstansby commented on #4096
Digging into this a bit, and the `radial_veloctiy` is being added as of https://github.com/astropy/astropy/commit/212c10cb90a787ee37d2f71e99ef54f587f3d07a#diff-68747e26b0d750b21c3464c0a76caf83R484-R492 / https://github.com/astropy/astropy/pull/10185

[2020-05-07 17:18] Cadair commented on #4095
Ok well that's a different error to when I last checked :facepalm:

[2020-05-07 18:01] ayshih commented on #4108
Don't forget to also look at anything that uses `SunpyDeprecationWarning` (https://github.com/sunpy/sunpy/search?q=sunpydeprecationwarning&unscoped_q=sunpydeprecationwarning) because we can't always use the `deprecated` decorator.

[2020-05-07 19:30] Cadair commented on #4096
I have done a little investigation into this and put a minimum example in astropy/astropy#10323 (it is not actually related to visualization) it's because there is a sliced out spectral coord I think, or at least something related to the spectral + spatial components.

[2020-05-07 19:32] #4108 closed

[2020-05-07 20:54] dstansby commented on #4108
I checked the rest and there didn't seem to be anything.

[2020-05-07 22:09] #4041 closed

[2020-05-08 12:34] dstansby opened #4117 "Setting the default Fido download directory to not ~/sunpy"
I'm currently working on writing an external Fido client here https://github.com/heliopython/heliopy/pull/877, but ideally I would like data downloaded with clients in `heliopy` to be downloaded to `~/heliopy` instead of `~/sunpy` (or a user supplied path in the heliopy config). I don't think it's currently possible to do this.

[2020-05-08 13:38] Cadair commented on #4117
I am interpreting this as you want to be able to set the download directory per-client in Fido.

I am not sure this is going to be possible or desirable at all. The path handling is done at the `Fido` layer, and having behaviour which varies based on client I think would be confusing to the user. Currently we can document the default path, and then if a path isn't specified it all goes there. Prov

[2020-05-08 13:41] dstansby opened #4120 "make_fitswcs_header indexes from 1, not 0 as claimed in docs"
Using the following toy example, I would expect the reference coordinate (0, 0) to correspond to the center of the [1, 1] pixel in the array, ie. the top right pixel. Looking at the figure below it seems like it refers to the [0, 0] pixel, which would mean `make_fitswcs_header` is indexing from 1 instead of 0.

The docstring [claims to be indexing from 0.](https://docs.sunpy.org/en/stable/api/sunp

[2020-05-08 13:43] dstansby commented on #3793
It does indeed seem to be off by one. The following code prints the coord as (4, 4), despite the top right of the map being at (3, 3).

[code]

![Figure_1](https://user-images.githubusercontent.com/6197628/81411481-50537980-913a-11ea-8ed9-59ee13ff5f73.png)

[2020-05-08 13:46] Cadair commented on #4120
You are correct, we are indexing from 1, if we were indexing from 0 we would need to be adding `+1`s here: https://github.com/sunpy/sunpy/blob/master/sunpy/map/header_helper.py#L143L144

I am not sure if it's best to change the docstring or the implementation, I lean towards changing the implementation.

[2020-05-08 19:23] dstansby opened #4128 "Fix difference in pixel and coordinate input to submap()"
Currently it seems that submap has slightly different of handling any pixels that overlap with the boundary given. Reading the code the current behaviour is:

- If you give pixel input, these are rounded via. a call to `int()` (so to the nearest integer)
- If you give coordinate input, these are converted to pixels and both are rounded up.

The difference in behaviour should be fixed, but in which

[2020-05-08 23:19] mbobra opened #4130 "Update CONTRIBUTING.rst with a short primer on contributing to OSS"
cc @Cadair and @dpshelio

### Description
We may want to consider including the following in our contributor guidelines:

* A statement like: SunPy is open source, under a BSD-2 license, and by contributing you are stating that you have the right to and agree to have your work distributed under the terms of that license.
* Something about institutional copyright and OSS policy
* A link to resource

[2020-05-09 08:30] abhijeetmanhas commented on #4099
I tested on my system, it in total took 8 seconds. With
* Search takes 3.1 seconds
* Creating mock object takes 2.9 seconds
* fetch taking 2 seconds.

 At root of everything, in creating mock object, we do call `_get_url_for_timerange()` which is takes most of the time, also called in search. It uses scrapers `filelist`, which is called six times because of this https://github.com/sunpy/sunpy/blob

[2020-05-09 08:54] abhijeetmanhas commented on #4099
https://github.com/abhijeetmanhas/sunpy/blob/minorfix/sunpy/net/dataretriever/tests/test_goes_suvi.py#L94-L97 this reduced the test time to approx 1.5 -2 secs Instead of 8-10 seconds.
@nabobalis should I create a PR for this or should we keep test as it is?

[2020-05-09 09:31] nabobalis commented on #4099
Sure open the PR.

[2020-05-09 13:02] astrofrog commented on #3643
For observers that are earth locations, is there any reason not to use ``OBSGEO-?`` keywords?

[2020-05-09 13:03] astrofrog commented on #2910
https://github.com/astropy/astropy/pull/10333 adds support for accessing the solar parameters, please try it out! :)

[2020-05-10 10:41] rutujasurve94 commented on #3767
I would like to contribute to this issue

[2020-05-10 10:44] nabobalis commented on #3767
Hi @rutujasurve94, I would suggest trying a different issue.

[2020-05-10 10:49] rutujasurve94 commented on #4082
Hi, I would like to contribute to this issue

[2020-05-10 10:50] rutujasurve94 commented on #3767
Hi @nabobalis sure, I could take up #4082

[2020-05-10 11:01] nabobalis commented on #4082
Sure.