[2017-02-09 12:06] Cadair commented on #1991
@m-charlton some of the tests are going to be much harder to mock than others, but if you are up for it I am!

[2017-02-09 12:18] m-charlton commented on #1991
Agreed, sometimes mocking can result in tightly coupling test and application
code, which we'd obviously want to avoid, in order to achieve the holy grail of
100% code coverage.

I'll start to investigate this in an isolated branch and report back when I've
something substantial to submit.

[2017-02-09 13:52] bsipocz commented on #1993
@Cadair - Yes, that's the change I mentioned that I want to add to ci-helpers. Once that's done, it will work out of the box for sunpy, and I'll need to adjust ``.travis.yml`` for the rest of the packages.

[2017-02-09 13:54] bsipocz commented on #1993
Btw, I'm closing as #1994 got merged meaning a ~30mins shorter building time.

[2017-02-09 13:54] #1993 closed

[2017-02-10 12:26] m-charlton opened #1999 "sunpy.util.net.get_filename(...) not catching correct exception when unable to find "filename" in 'Content-Disposition'"
I think that `sunpy.util.net.get_filename(...)` may be attempting to catch the
wrong exception when a filename can't be found in the 'Content-Disposition'.

If `sunpy.util.net.get_content_disposition(...)` is called with an argument which
does *not* include a `filename` (for example `form-data; name="fieldName"`) then
`parser.close().get_filename()` will return `None`. When we attempt to call the

[2017-02-10 16:30] nitinkgp23 commented on #1909
Hey @Cadair , I want to work on this. Could you help me get started?

[2017-02-10 20:07] #1196 closed

[2017-02-10 20:56] nitinkgp23 commented on #1909
I was trying to make a data export request using the drms package, as mentioned in the documentation.

[code]
But, the email address `sunpy@sunpy.org` is returned as invalid.
[code]

The same email id works when we use the existing jsoc module.
Why is this happening?

[2017-02-10 21:59] nitinkgp23 commented on #1909
The email id is not yet registered on the JSOC Export E-Mail Registry. The link for the registration is [here](http://jsoc.stanford.edu/ajax/register_email.html).

[2017-02-13 15:00] Cadair commented on #1122
closed by Timeseries.

[2017-02-13 15:00] #1122 closed

[2017-02-14 18:46] m-charlton commented on #1999
Looking more closely at the code I think I've a better understanding of the
intent:

[code]

I'll start by writing unit tests for the following functions:

- `get_system_filename(...)`
- `get_filename(...)`
- `get_content_disposition()`

There's a lot of encoding/decoding going no so I'll have to be careful of any
string/byte/unicode conversion issues and make sure that all tests pass on
both 2.x

[2017-02-15 22:40] dpshelio opened #2002 "JSOC providing empty blocks for IRIS"
Reported in the mailing list by: [Jakub](https://groups.google.com/d/topic/sunpy/FTQ6P9yjyGI/discussion)
This query:

[code]
Produce few resuls
[code]
But JSOC produces an empty file
[code]
Why does this happen is still to know.
Using `dmrs` ( #1909 ) is a solution.

[2017-02-17 13:55] Cadair opened #2003 "Map.rotate is broken"
It's dead jim. http://docs.sunpy.org/en/latest/generated/gallery/gallery/map_rotation.html

It seems that the reference pixel post-rotation is wrong.

ping @SolarDrew @ayshih

[2017-02-17 16:05] Cadair opened #2004 "HelioprojectiveFrame should default to Earth location if dateobs is set"
Currently the distance from the observer to the sun-centre is set as one AU. (https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/frames.py#L288) this should instead use the Sun-Earth distance calculation available `sunpy.sun.sunearth_distance(date)` if the dateobs property is set.

This is also true for the B angle as well, we should use the dateobs to default to the correct inclination

[2017-02-17 16:22] Cadair opened #2005 "It should be possible to instantiate Map with an array and a WCS object"
This should be possible:
[code]

[2017-02-17 19:54] ayshih commented on #2003
<whimper>

[2017-02-19 05:16] nitinkgp23 commented on #2005
Hey @Cadair , I am a newbie and want to work on this issue. Can you give some more details?

[2017-02-19 10:21] curiousrohan commented on #2004
I'd like to work on this bug. I'm new here and have already set up develop environment. Can someone help me?

[2017-02-22 14:07] m-charlton commented on #1999
May have found a few issues:

#### `slugify(...)`

[code]

The default encoding is 'ascii' so I think the output of the above should be:

[code]

Looking at the code, the encoding argument is not used in the function and in an
existing unit test this check is not taking place:

[code]

I've a fix, which I can submit with unit tests.

Furthermore if you pass in an 'exotic' unicode character as the

[2017-02-24 07:36] nitinkgp23 commented on #2003
Can you please elaborate on the issue a little bit? The example code works fine, so what is broken?

[2017-02-24 08:52] nitinkgp23 commented on #2004
@curiousrohan Are you working on this bug?

[2017-02-24 10:42] Cadair commented on #2004
I think this is more complex than I first suspected. The issue is that the `FrameAttribute` classes used for defining these attributes of the frames can't handle calculating a default value based on the value of another attribute.

[2017-02-24 10:48] prateekiiest commented on #2004
If  the FrameAttribute classes are removed and instead assign D0 and B0 to the `sunpy.sun.sunearth_distance(date)` and `sunpy.sun.heliographic_solar_center(date)`, then I hope there would not be a problem. I am looking into this @Cadair

[2017-02-24 10:52] prateekiiest commented on #2004
And should this sunearth_distance take dataobs as argument for calculating D0?

[2017-02-24 10:52] Cadair commented on #2004
You can't remove the `FrameAttribute` classes as they are important for the functioning of `SkyCoord` amongst other things. Also `date` is not defined until inside the `__init__`.

[2017-02-24 10:52] Cadair commented on #2004
yes `dateobs` is the important part of calculating `D0` and `B0`.

[2017-02-24 10:56] nitinkgp23 commented on #2004
We can have our own `SkyCoord` which inherits from astropy. Then, we will be able to pass `dateobs` to the respective frame.

[2017-02-24 10:59] Cadair commented on #2004
No, I would rather make any changes needed to make this work in astropy than subclass `SkyCoord`.

[2017-02-24 11:03] nitinkgp23 commented on #2004
Then, maybe we should open an issue in astropy asking for a function that passes `dateobs` to the respective frame?

[2017-02-24 11:04] Cadair commented on #2004
I have just posted on the mailing list here: https://groups.google.com/forum/#!topic/astropy-dev/5rz55yCKj38

[2017-02-25 07:04] prateekiiest commented on #2003
Is the peek() function not working in this case??

[2017-02-25 07:31] prateekiiest commented on #2003
@Cadair can I correct this in the documentation part?  I have already got the image.

[2017-02-25 11:51] Cadair commented on #2003
The image is auto-generated with the documentation. Interesting that it's not reproducible.

[2017-02-27 10:33] prateekiiest commented on #1870
@Cadair , @wtbarnes  created a PR related to this --  #2010

[2017-03-01 14:26] ehsteve opened #2013 "Add support for GOES-R SUVI Solar EUV images"
SUVI is an EUV imager on the [GOES-R](http://www.goes-r.gov) satellite that was launched on November 19, 2016. A description of the instrument can be found [here](http://www.goes-r.gov/products/baseline-solar-xray-imagery.html).

Data  available at

https://data.ngdc.noaa.gov/platforms/solar-space-observing-satellites/goes/goes16/l1b/

[2017-03-01 14:29] Cadair commented on #2013
What is going to be needed here? A new `GenericMap` subclass presumably, what about acquisition? is this data going to be in the VSO or are we going to need our own downloader client?

[2017-03-01 14:43] wafels commented on #2013
We plan on making SUVI images available via Helioviewer Project clients
too, so we'll be working on the colour tables for that.

On Wed, Mar 1, 2017 at 9:29 AM, Stuart Mumford <notifications@github.com>
wrote:

[2017-03-01 15:21] agneet42 commented on #2013
I want to take up this issue. Could you someone guide me what exactly I'd have to do?

[2017-03-02 20:52] agneet42 commented on #1704
hi. this issue has been resolved, as per my belief. why is it still open then? if i'm wrong, let me know about what more to do to resolve this. Thanks.

[2017-03-03 10:28] Cadair commented on #1704
The install guide should explicitly state that sunpy supports 2.7, and 3.4+

[2017-03-03 12:37] prateekiiest commented on #866
@Cadair , has this issue been previously referred to??

[2017-03-03 13:39] prateekiiest commented on #732
`from sunpy.data.test.waveunit import waveunitdir`

Like in this case. So it should be documented that we are using from the data directory??

[2017-03-04 20:36] agneet42 commented on #1686
@Cadair for this /sunpy/database/tests/test_attrs.py

the header files are:
from datetime import datetime

import pytest
from astropy import units as u

from sunpy.database.database import Database
from sunpy.database import tables
from sunpy.database.attrs import walker, Starred, Tag, Path, DownloadTime,\
    FitsHeaderEntry
from sunpy.net.attr import DummyAttr, AttrAnd, AttrOr
from sunpy.net imp

[2017-03-05 00:35] nitinkgp23 commented on #1686
Hey @agneet42 I guess you took it wrong. These are not header files, those happen to be in C. The header information that is being talked about lies inside FITS files, which can be accessed by Map.meta

[2017-03-06 10:09] Cadair opened #2018 "Data directory should not be created on import"
Currently doing `import sunpy` creates the data directory (default in `$HOME/sunpy/data`) during import of our config module. This should only be done when the user first downloads data into the directory.

[2017-03-06 10:10] #866 closed

[2017-03-06 10:14] nitinkgp23 commented on #2018
I am taking up the issue. :)

[2017-03-06 11:48] prateekiiest commented on #2018
@Cadair  can you please elaborate?

[2017-03-06 12:07] bsipocz commented on #1177
@dpshelio -  This or a similar "Fix all code examples in doc" could be part of project #4. Most of it is much novice friendly task, but needs lots of muscle work...

[2017-03-06 15:57] prateekiiest commented on #732
@dpshelio  #2011.
I have given some documentation. Can you tell me what more documentation is needed in this issue?

[2017-03-07 12:21] prateekiiest commented on #1900
I would like to work on this.

[2017-03-07 13:11] prateekiiest opened #2020 "reshape_image_to_4d_superpixel array seems broken"
http://docs.sunpy.org/en/latest/generated/api/sunpy.image.rescale.reshape_image_to_4d_superpixel.html

This should be like this and not like in the docs.

`x = np.array([[0, 0, 0, 1, 1, 1],
[0, 0, 1, 1, 0, 0], [1, 1, 0, 0, 1, 1], [0, 0, 0, 0, 1, 1], [1, 0, 1, 0, 1, 1], [0, 0, 1, 0, 0, 0]])`

Same with
`array([[0, 3, 2],
[2, 0, 4], [1, 2, 2]])`

Not much of an issue, I guess.

[2017-03-07 20:21] agneet42 commented on #1753
@ehsteve I'd like to work on this. Could you help me by letting me know which file to start looking at?

[2017-03-08 09:56] prateekiiest commented on #1900
@Cadair , @dpshelio  can I take up with this issue?

[2017-03-08 10:39] Cadair commented on #1900
@prateekiiest of course!

[2017-03-08 13:49] prateekiiest commented on #2020
#2022 PR

[2017-03-08 17:37] dpshelio opened #2024 "Remove extract_time function"
the `extract_time` function seems quite dangerous... as it can understand as times things that are not.

[2017-03-08 23:23] m-charlton commented on #2024
I can do this. Just to clarify: Does it need to be deprecated, using the @deprecated decorator, or physically removed, and the change log updated?

[2017-03-09 05:59] prateekiiest commented on #2024
@dpshelio  PR #2029

[2017-03-10 04:52] prateekiiest opened #2031 "AttributeError for BufferedIOBase while running python setup.py build_docs -o"
Currently for building the docs,

when I am running the command `python setup.py build_docs -o`
I am getting an Attribute Error

Same occurs when running the command `python setup.py build_sphinx -lo`

![screenshot 2017-03-10 10 16 02](https://cloud.githubusercontent.com/assets/16035442/23782593/8fb99364-057b-11e7-8f08-e0fb4cd8c446.png)

I have installed the latest version for Sphinx and  Graphviz

[2017-03-10 05:12] prateekiiest commented on #2031
I am sorry, it was my mistake. I should have run the command only under the github directory, not under the sunpy directory. As a result it couldn't find the file name BufferIOBase, since the Anaconda file is under the Github dir.

Its now working.
Sorry for opening the PR.

I am closing it now.

[2017-03-10 05:12] #2031 closed

[2017-03-10 11:23] m-charlton opened #2032 "`sunpy.net.helio.parser.wsdl_retriever()` ignores previously discovered Taverna links"
Found this while writing unit tests for `sunpy.net.helio.parser`.

I think there might be a bug in the `wsdl_retriever` function:

[code]

On line 232 we assign any Taverna links, to `wsdl_links`. The problem is that
`wsdl_links` is reset on each iteration. The worst case scenario is the very
last `link` could yield `None`, no Taverna links found, and all previously
found links would be ignored.

[2017-03-10 13:48] prateekiiest opened #2033 "Spectrogram Attributes not Documented Well"
Some of the documentation is not clear in http://docs.sunpy.org/en/stable/generated/api/sunpy.spectra.spectrogram.Spectrogram.html

in the attribute section table, like for `COPY_Properties` and `shape`.

Also there is some mismatch in the font.

[2017-03-10 13:48] prateekiiest commented on #2033
I will be sending a PR regarding this

[2017-03-13 17:23] bsipocz opened #2039 "Remove usage of deprecated wcs functions (differential rotation)"
Sunpy is already deprecated ``convert_hg_hpc``, yet there is usage of it in quite many places.

A good task for a novice to get rid of these, and use sunpy.coordinates instead.

[2017-03-13 18:33] nitinkgp23 commented on #2039
Already working on it. Will send the PR soon. :)

[2017-03-13 18:37] bsipocz commented on #2039
Looking at it a bit more, there are other similar functions, so would be great if you could remove the usage of those, too (look for the ones that generate an ``AstropyDeprecatonWarning`` when building the docs).

[2017-03-13 18:39] nitinkgp23 commented on #2039
Yeah. Sure. I have seen a lot of `AstropyDeprecatonWarning` too. Will fix them.

[2017-03-14 10:03] Cadair commented on #2032
@dpshelio This is your domain!

[2017-03-14 19:18] wafels commented on #2020
The reason the arrays are formatted the way they are in the docs is to make it easy for the reader to understand what the function is doing.  Reformatting as suggested reduces understanding in my opinion.

[2017-03-14 19:23] wafels commented on #2013
As far as I am aware, data from this instrument is not generally available yet, so there is not much to do just now that would be useful.  This issue is more of a placeholder at the moment.

[2017-03-14 19:41] agneet42 commented on #2013
@wafels. Okay.

[2017-03-15 00:40] wafels commented on #1935
So if the map is instantiated  from a JP2 file then 'helioviewer' is in meta.keys().

[2017-03-15 00:49] wafels commented on #1891
Only TRACE JP2 Helioviewer files are supported.

[2017-03-15 00:54] wafels commented on #1891
There are tests for XRT - see https://github.com/sunpy/sunpy/blob/master/sunpy/map/sources/tests/test_xrt_source.py .

[2017-03-15 12:03] prateekiiest commented on #2039
So, the function just needs to be removed? Or should we replace it with the function using sunpy.coordinates from transformations.py?

[2017-03-15 12:08] Cadair commented on #2039
@prateekiiest Things that use functionality from `sunpy.wcs` need re-writing to use sunpy.coordinates. This is not a simple case of switching one function out for another, the other functionality needs to be re-written to use sunpy.coordinates properly.

In master at the moment there is as lot of stuff in sunpy.map which is still using sunpy.wcs, I have an open PR to remove all of that (#1975).

[2017-03-15 12:08] bsipocz commented on #2039
@prateekiiest - The deprecated functions should stay in place, but their usage within the same codebase should be limited and their alternatives should be used instead.

[2017-03-15 12:09] bsipocz commented on #2039
@Cadair - Fair enough, I haven't seen your PR. Sorry for the noise...

[2017-03-15 12:10] Cadair commented on #2039
@bsipocz There is a lot of use of sunpy.wcs in other places as well, but the map stuff I am working on :)

[2017-03-15 12:10] prateekiiest commented on #2039
Ok, looking into it.

[2017-03-15 14:41] m-charlton opened #2043 "Unable to run sunpy.net.helio.HECClient().get_table_names(...) in Py3.x"
There seems to be a problem with using hec.py under Python 3.5. I suspect the
root cause is that in P2.x `str` & `bytes` are the same type, in Py3.x they are
different.

#### How to reproduce

In Py3.5 environment, execute the following code:

[code]

#### On first inspection:

- `suds_unwrapper(...)` is expecting a String, but receives bytes
- The `astrpoy.parse_single_table(...)` function called

[2017-03-17 11:24] prateekiiest opened #2046 "Code not showing up in maps.rst for plotting keywords and colormap section"
Some codework is not being showed up in the maps.rst section - https://github.com/sunpy/sunpy/blob/master/doc/source/guide/data_types/maps.rst#plotting-keywords

which is present in the current documents http://docs.sunpy.org/en/latest/guide/data_types/maps.html#plotting-keywords.

Also I think it would be better if we could upload the generated plots and the images in the .rst files.

[2017-03-17 11:34] Cadair commented on #2046
Look at the raw rst file: https://raw.githubusercontent.com/sunpy/sunpy/master/doc/source/guide/data_types/maps.rst the code is there.

Because it's a plot directive block to automatically generate the code and the plot it does not show up on GitHub's rubbish rst renderer.

[2017-03-17 11:34] #2046 closed

[2017-03-17 11:36] prateekiiest commented on #2046
But shouldn't we show the code snippet as a preview under the doc/source file.
I saw the code is there, but its not showing up in the preview.

[2017-03-17 12:32] Cadair commented on #2046
that's a limitation of github, not something we have control over. We put a lot of effort into the docs so that they keep up to date with code changes as automatically as possible, which is why we generate these scripts at build time.

[2017-03-17 16:09] wafels opened #2047 "VSO moving to https"
The VSO is moving to using https on 2017 May 15.

http://spd.stanford.edu/SolarNews/current.html#section_gurman

The VSO client should be updated to reflect this change.

[2017-03-17 16:31] Cadair commented on #2047
There was some effort on this a little while ago, I think it should be a relatively easy switch.

[2017-03-18 14:27] swapsha96 commented on #2043
I saw the source code(https://github.com/sunpy/sunpy/blob/master/sunpy/net/helio/hec.py) and found out that this error is because  StringIO is used in the file. Instead of this, BytesIO must be used. Previously, I used it to extract data from FITS file and display image using matplotlib in which I required 'io' and faced similar error. Can I start working on this and later, create a PR?

[2017-03-18 19:25] swapsha96 commented on #2043
@m-charlton

- decode("utf-8") can be used to convert bytes to String
- I checked the type of xml_table and it gives:
`<class 'NoneType'>`
Can you tell me what is the type supposed to be? Additionally BytesIO() must be used to extend compatibility with Python 3.x.

[2017-03-18 20:36] agneet42 commented on #1618
@dpshelio @Cadair I've looked into https://github.com/sunpy/sunpy/blob/master/sunpy/util/config.py.
Do I need to check the the above condition in def _get_home(): ?

[2017-03-19 04:25] prateekiiest commented on #2020
Then should we change it back to normal?

[2017-03-19 07:15] prateekiiest commented on #732
PR #2049

[2017-03-19 22:15] wafels commented on #2020
Yes, please change it back.

On Sun, Mar 19, 2017 at 12:25 AM, Prateek Chanda <notifications@github.com>
wrote:

[2017-03-20 06:33] prateekiiest commented on #2020
http://docs.sunpy.org/en/latest/generated/api/sunpy.image.rescale.reshape_image_to_4d_superpixel.html
@wafels
I think its looks good. But still can you tell me where to change the part specifically?

[2017-03-20 15:52] prateekiiest commented on #2039
I checked through sunpy.wcs but it didnt find hg to hpc.

The all function under sunpy/wcs/transformations is
`__all__ = ['hgs_to_hgc', 'hgc_to_hgs', 'hcc_to_hpc',
           'hpc_to_hcc', 'hcc_to_hgs', 'hgs_to_hcc']`

[2017-03-20 15:55] prateekiiest commented on #2039
So should we do like this
`hgc_to_hgs` => `hgs_to_hcc` =>`hcc_to_hpc`

[2017-03-20 15:58] nitinkgp23 commented on #2039
We have to use transform_to() for changing into frames. These functions are not be used generally. See SkyCoord.transform_to().

[2017-03-20 15:58] Cadair commented on #2039
@prateekiiest the functions in sunpy.coordinates.transformations should never be called directly as @nitinkgp23 says.

[2017-03-20 16:02] prateekiiest commented on #2039
.transform_to() is actually from a different module under astropy.coordinates.transformations, i think
So defining that way would be a problem i think

[2017-03-20 16:08] Cadair commented on #2039
@prateekiiest nope, doing it using astropy specifically either `SkyCoord.transform_to` or `BaseCoordinateFrame.transform_to` is the correct approach.

[2017-03-20 16:16] bsipocz commented on #2039
@prateekiiest - The whole point of this issue is to remove all usage of the functions of sunpy.wcs (as those are deprecated), ``convert_hg_hpc`` was really just an example of these functions.

[2017-03-22 14:27] swapsha96 commented on #1753
@Cadair @dpshelio I would like to fix this issue. Can you suggest me which unit should I set as default? An example in [NDData documentation](http://docs.astropy.org/en/stable/api/astropy.nddata.NDData.html) uses 'u.cm'. Should I create a PR setting default as u.cm?

[2017-03-22 14:53] swapsha96 commented on #1778
@dpshelio Can you suggest how to amend this change?

[2017-03-24 20:42] agneet42 commented on #1071
@Cadair, sunpy.wcs.pixel_to_data is now deprecated by sunpy.map.GenericMap.pixel_to_data, does this function still need a update to accomodate +ve values?

[2017-03-24 22:58] #1071 closed

[2017-03-24 22:59] Cadair commented on #1071
No. It's been replaced.

[2017-03-26 07:59] prateekiiest opened #2053 "README badges broken"
https://github.com/sunpy/sunpy#sunpy

The badges like build-passing and coverage-health at the top seems broken.
Will be sending a PR soon regarding this.

[2017-03-26 08:02] prateekiiest commented on #2053
PR #2054.

[2017-03-26 14:46] #2053 closed

[2017-03-26 17:25] wafels opened #2055 "Source tests are needed in the map factory test."
See
https://github.com/sunpy/sunpy/blob/master/sunpy/map/tests/test_map_factory.py
There are a lot of missing source tests.

[2017-03-26 17:29] nitinkgp23 commented on #2055
Taking up the issue. Will add the test for #2007 too.

[2017-03-27 10:42] DuyguKeskek opened #2057 "Broken link on github page"
SunPy website link is broken on the [github page](https://github.com/sunpy/sunpy) and needs to be fixed.
Broken link :  http://www.sunpy.org
Correct one : http://sunpy.org/

[2017-03-27 10:50] Cadair commented on #2057
Ok, that is less of a problem with the GitHub page and more a DNS setup issue left over from our recent domain registrar swap.

[2017-03-27 13:12] Cadair commented on #2057
I fixed this by fixing the DNS www.sunpy.org should now work.

[2017-03-27 13:12] #2057 closed

[2017-03-27 15:18] #2018 closed

[2017-03-29 19:46] Cadair commented on #1396
The setup_requires has been removed now.

[2017-03-29 19:46] #1396 closed

[2017-03-29 19:47] #1653 closed

[2017-03-29 19:47] Cadair commented on #1653
Fixed and backported to 0.7.

[2017-03-29 19:48] #1691 closed

[2017-03-29 19:53] Cadair commented on #1554
this is addressed in #1975, by deprecating these attributes and replacing them with `bottom_left_coord` and `top_left_coord` which contain the same information under a linear mapping.

[2017-03-29 19:54] Cadair commented on #1554
I am going to remove the affects-released label, as while it is technically true, a fix is not possible.

[2017-03-29 19:54] Cadair commented on #1502
Can someone confirm this is still a bug?

[2017-03-29 19:55] #1306 closed

[2017-03-29 21:28] bsipocz commented on #1502
It’s still not a problem on travis: https://travis-ci.org/sunpy/sunpy/jobs/216349377#L1130 so I suspect this must have been a local irregularity. Does the links to matplotlib look OK on the RTD version of the docs?

[2017-03-29 21:29] Cadair commented on #1502
yeah it seems fine, I am going to close this.

[2017-03-29 21:29] #1502 closed

[2017-03-30 12:48] agneet42 commented on #1687
@Cadair with Python3 and Matplotlib 2.0, I get this image with the given fits file.
![ ](https://github.com/agneet42/sunpy_images/blob/master/Image1.jpg)

[2017-03-30 12:51] Cadair commented on #1687
looks like this could be a python 2 specific unicode error from the original traceback.

[2017-03-30 12:59] agneet42 commented on #1687
If the default encoding of Python is utf8, I guess this error won't come across?

[2017-03-31 17:58] #1704 closed

[2017-04-05 16:41] Cadair opened #2064 "Add an North Offset Example to the Gallery"
We should have a north offset frame demo based on this: https://gist.github.com/494b1d7026918cd97c57c21def52fc31

[2017-04-05 16:48] nabobalis commented on #1498
This can be closed now? Glymur is in conda-forge, I would have to check the build documentation to see if that needs updating though.

[2017-04-05 17:12] #1498 closed

[2017-04-05 17:16] #973 closed

[2017-04-05 17:20] #934 closed

[2017-04-05 17:22] nabobalis commented on #392
USE SCIPY

[2017-04-05 17:22] #392 closed

[2017-04-05 17:23] wafels commented on #382
Close this...!

[2017-04-05 17:25] wafels commented on #152
See https://github.com/Helioviewer-Project/hvJP2K and close this issue.

[2017-04-05 17:25] Cadair commented on #228
Closing due to sunpy.wcs being deprecated.

[2017-04-05 17:25] #228 closed

[2017-04-05 17:25] #152 closed

[2017-04-05 17:28] wafels commented on #456
This should be in sunkit-image.  Close this issue.

[2017-04-05 17:28] #456 closed

[2017-04-05 17:29] Cadair commented on #388
WCSAxes rules the waves...

[2017-04-05 17:29] #388 closed

[2017-04-05 17:30] #382 closed

[2017-04-05 17:30] wafels commented on #253
This is now in the sunpy docs.

[2017-04-05 17:30] #253 closed

[2017-04-05 17:31] #260 closed

[2017-04-05 17:31] Cadair commented on #376
WCSAxes does this

[2017-04-05 17:31] #376 closed

[2017-04-05 17:31] wafels commented on #254
This is in sunpy docs.

[2017-04-05 17:34] Cadair commented on #254
I think other improvements in the returns from HEK would improve this more than this API. For instance if HEK returned skycoords it would be a simple `ax.plot_coord` in a for loop.

[2017-04-05 17:34] #254 closed

[2017-04-05 17:35] Cadair commented on #455
is this: astrofrog/reproject#52

[2017-04-05 17:36] Cadair commented on #455
This belongs in reproject.

[2017-04-05 17:36] #455 closed

[2017-04-05 17:37] wafels commented on #646
See also #1935.

[2017-04-05 17:37] #478 closed

[2017-04-05 17:37] #479 closed

[2017-04-05 17:38] wafels commented on #1495
See #1935

[2017-04-05 17:38] #721 closed

[2017-04-05 17:38] Cadair commented on #658
closed by timeseries

[2017-04-05 17:38] #658 closed

[2017-04-05 17:38] #593 closed

[2017-04-05 17:39] #229 closed

[2017-04-05 17:39] #231 closed

[2017-04-05 17:39] #520 closed

[2017-04-05 17:39] #965 closed

[2017-04-05 17:39] #990 closed

[2017-04-05 17:39] #1076 closed

[2017-04-05 17:39] #1362 closed

[2017-04-05 17:39] #1371 closed

[2017-04-05 17:39] #1508 closed

[2017-04-05 17:39] #1520 closed

[2017-04-05 17:40] #646 closed

[2017-04-05 17:41] #417 closed

[2017-04-05 17:43] #912 closed

[2017-04-05 17:44] Cadair commented on #868
This is being closed by #1975 in that our observer location is being represented by a `HeliographicStonyhurstFrame`.

[2017-04-05 17:44] #842 closed

[2017-04-05 17:44] Cadair commented on #826
This is deliberate, our files are better :p

[2017-04-05 17:44] #826 closed

[2017-04-05 17:45] #500 closed

[2017-04-05 17:46] #1132 closed

[2017-04-05 17:46] #1113 closed

[2017-04-05 17:47] Cadair commented on #1113
This argument was had in a dev meeting iirc.

[2017-04-05 17:48] Cadair commented on #981
ChiantiPy is not GPL anymore...

[2017-04-05 17:48] #981 closed

[2017-04-05 17:50] Cadair commented on #1422
#1975 proposes a change to this, but it's not in it's final form.

[2017-04-05 19:41] #1935 closed

[2017-04-06 15:34] nabobalis commented on #1554
If a fix is not possible, time to close this?

[2017-04-06 15:36] Cadair commented on #1554
I would say that #1975 will close this, because it deprecates the broken API.

[2017-04-06 18:53] nabobalis commented on #2024
Fixed by #2029

[2017-04-06 18:53] #2024 closed

[2017-04-06 21:44] agneet42 commented on #1771
@Cadair in DatabaseEntry Class[in tables.py], the docs don't mention storing the hdu_index. Should I open a PR making this change in the doc and then work on it further, by **saving** it in the database?

[2017-04-06 21:47] Cadair commented on #1771
One file path can be in multiple records, but a combination of HDU index and file path should be unique.

I can't remember the table layout though.

[2017-04-06 21:49] agneet42 commented on #1771
@Cadair shouldn't this[[https://github.com/sunpy/sunpy/blob/master/sunpy/database/tables.py#L224](url) doc mention that hdu_index is being stored in the database? This is missing if I am correct.

[2017-04-06 21:52] Cadair commented on #1771
The point of this issue is that it isn't being stored.

[2017-04-06 22:01] agneet42 commented on #1771
Yes. But after [this](https://github.com/sunpy/sunpy/pull/1952) PR, this(https://github.com/sunpy/sunpy/blob/master/sunpy/database/tables.py#L253) line was added, but the DataBase Class Parameters were not upgraded (https://github.com/sunpy/sunpy/blob/master/sunpy/database/tables.py#193). I hope I am getting through?

[2017-04-06 22:06] Cadair commented on #1771
That is a good point.

[2017-04-06 22:08] Cadair commented on #1771
Also, the map factory should be updated to use hdu index.

[2017-04-06 22:09] agneet42 commented on #1771
Okay @Cadair , I'll work on it.

[2017-04-09 13:32] agneet42 opened #2068 "Missing documentation in DatabaseEntry Class."
The DatabaseEntry class [here](https://github.com/sunpy/sunpy/blob/master/sunpy/database/tables.py) has provisions to store the hdu_index but the same is not documented in the script.

[2017-04-09 13:33] agneet42 commented on #2068
Will be sending a PR to add the missing documentation.

[2017-04-11 21:31] swapsha96 opened #2072 "Warning boxes for sunpy.wcs deprecated functions in documentation"
As mentioned in issue #2039 various sunpy.wcs functions are deprecated using `@deprecated` (total 11 in [wcs.py](https://github.com/sunpy/sunpy/blob/master/sunpy/wcs/wcs.py)) but this is not mentioned in the documentation ([example](http://docs.sunpy.org/en/stable/generated/api/sunpy.wcs.convert_hg_hpc.html#sunpy.wcs.convert_hg_hpc)). It can be done using  [`.. warning::`](http://openalea.gforge.i

[2017-04-12 09:27] Cadair commented on #2072
Your link to the docs is to the released version not the version built from master.

It's not a warning box but it is added from the decorator to the top of the documentation: http://docs.sunpy.org/en/latest/generated/api/sunpy.wcs.convert_hcc_hg.html#sunpy.wcs.convert_hcc_hg

[2017-04-12 09:27] #2072 closed

[2017-04-12 11:28] swapsha96 opened #2075 "TODO: break_time() should be able to handle a time range"
A task is mentioned in [line 282](https://github.com/sunpy/sunpy/blob/master/sunpy/time/time.py#L282) of time.py. What kind of output is expected from it? I think another parameter (say `t2 = None`) can be added. So, if the following code is run:
`from sunpy.time import parse_time, break_time`
`break_time(parse_time('2017/04/10 12:30'), parse_time('2017/04/11 12:30'))`
output CAN be:
`20170410_123

[2017-04-12 15:48] #1771 closed

[2017-04-12 16:55] agneet42 commented on #1492
I've been trying my way around this. Is [this](https://github.com/sunpy/sunpy/blob/master/sunpy/spectra/spectrogram.py#L179) `return` statement, where we're expecting a SpectroFigure object to be returned instead of `figure` ?

[2017-04-12 17:34] #1962 closed

[2017-04-12 18:02] Cadair commented on #2003
So I have traced this to the padding set where crpix1 and crpix2 is modified.

[2017-04-12 18:19] Cadair commented on #2003
I traced the issue back to this patch: https://github.com/sunpy/sunpy/pull/1929/files#diff-9eadd681e99c7419c431865d29b5ca1dR1003

Fix incoming.

[2017-04-13 11:44] #2068 closed

[2017-04-13 20:04] agneet42 commented on #1492
@Cadair  [this](https://github.com/sunpy/sunpy/blob/master/sunpy/spectra/spectrogram.py#L244) needs to return a `SpectroFigure` , in place of the matplotlib figure, if I am not mistaken?

[2017-04-13 21:41] agneet42 commented on #531
@wafels, here do we want to check the `level` and then return the corresponding object of the same(Presently, only [this](https://github.com/sunpy/sunpy/blob/master/sunpy/lightcurve/sources/eve.py#L23) is dealt with) ? Also, what would be returned if the level is `3-merged` , for example?

[2017-04-14 14:23] dpshelio opened #2082 "Times on result table on unidown doesn't make sense"
At the moment unidown query response shows a table where start and end dates are in increasing day order from the starting date of the query till the number of files(urls) obtained. This works well for instrument that takes one file per day, but it's not correct for cases like imagers where you get multiple images per day.

[2017-04-19 17:46] #2003 closed

[2017-04-19 19:26] nabobalis commented on #1964
Closed by #2073

[2017-04-19 19:26] #1964 closed

[2017-04-20 19:38] agneet42 commented on #1393
@ehsteve i think the link you've mentioned above has been removed. Instead, are we looking to add the data from here : http://mlso.hao.ucar.edu/calendars/mlso_data_KCOR_2017.php ?

[2017-04-21 17:16] Cadair opened #2088 "Map and Timeseries factories should have better support for urls"
we should probably use the astropy download_file machinery for the factory classes, and specifically support passing through the cache keyword argument so the data is not re-downloaded everytime the object is created.

[2017-04-21 17:32] agneet42 commented on #2088
@Cadair , as the astropy download_file returns the path of the directory, do we need the `default_dir` as is present in the Timeseries factory?

[2017-04-21 17:42] Cadair commented on #2088
hmm, so this is what I get for posting an issue before looking into it properly.

What timeseries is doing is closer to the perfect situation than my suggestion above, it would just be nice if it didn't re-download everytime you created the object. i.e. it would be nice if there was a caching mechanism somewhere.

If you want to tackle this I suggest the following, reimplement something that looks

[2017-04-21 17:46] agneet42 commented on #2088
Okay, I'll take this up.

[2017-04-27 12:56] wafels opened #2089 "Replace suds-jurko"
The package [suds-jurko](https://bitbucket.org/jurko/suds) is a SOAP client and it is used by SunPy to access the VSO. suds-jurko is not being maintained.  Therefore a critical part of SunPy's functionality relies on software that is not being maintained.  The functionality that suds-jurko provides should be replaced by using another package (or packages), for example [zeep](http://docs.python-zee

[2017-04-28 05:39] wtbarnes opened #2090 "Affiliated package for calculating differential emission measure (DEM) distributions"
Calculating the DEM from observed intensities is a common task in solar physics. There are many different codes for computing the DEM, including (but not limited to),

* [Monte Carlo Markov Chain (MCMC)](http://adsabs.harvard.edu/abs/1998ApJ...503..450K)
* [Regularized inversion](http://adsabs.harvard.edu/abs/2012A%26A...539A.146H)
* [XRT algorithm](https://hesperia.gsfc.nasa.gov/ssw/hinode/xrt/id

[2017-04-28 07:53] Cadair commented on #2090
@SolarDrew ??

[2017-04-28 08:02] SolarDrew commented on #2090
Sounds like a good idea to me, I'm definitely interested.

[2017-04-28 13:13] kdere commented on #2090
there are two good Python packages for doing Bayesian analysis:  pymc and pymc3.  I have used pymc but I have not yet figures out pymce3 which is the upgrade to pymc

[2017-04-28 16:09] wtbarnes commented on #2090
@kdere yes I think those would make implementing the MCMC code much easier. There's also Dan Foreman-Mackey's [emcee](http://dan.iel.fm/emcee/current/) package.

The emcee algorithm (though not the Python implementation) was also recently used in *yet another DEM code* by [Warren et al](http://iopscience.iop.org/article/10.3847/1538-4357/aa5c34/meta). To my knowledge, the code for this last method

[2017-04-28 16:10] wtbarnes commented on #2090
@DanRyanIrish is this something you'd be interested in? I noticed you are one of the co-authors on the Aschwanden paper I linked to above.

[2017-05-02 21:37] wtbarnes opened #2091 "Wrong units on surface gravity constant"
`sunpy.sun.constants` gives surface gravity in length over time (velocity). Should be length over time squared (acceleration).

Problem is [here](https://github.com/sunpy/sunpy/blob/master/sunpy/sun/_constants.py#L75).

## MWE
[code]

[2017-05-04 12:17] nabobalis commented on #2091
Closed by #2092

[2017-05-04 12:17] #2091 closed

[2017-05-04 17:07] #2075 closed

[2017-05-04 23:25] mjpauly opened #2096 "Ability to query jsoc2.stanford.edu with JSOCClient?"
There are a few AIA and HMI data series that are not publicly available and that are not visible from jsoc.stanford.edu. Instead, the query has to go through jsoc2.stanford.edu, which serves requests internally. At LMSAL, we have our own python modules for querying the jsoc but we would like to migrate to Sunpy's JSOCClient. Having functionality to query jsoc2 would allow that.

I tried submitting

[2017-05-07 15:43] Cadair opened #2097 "Links in the inheritance diagrams don't work"
see: http://docs.sunpy.org/en/latest/code_ref/timeseries.html#class-inheritance-diagram

[2017-05-07 15:43] Cadair commented on #2097
ping @Alex-Ian-Hamilton

[2017-05-08 06:26] mirca commented on #2097
@Cadair FYI: https://github.com/astropy/photutils/issues/345

[2017-05-08 19:07] wtbarnes commented on #2097
And the original astropy issue: astropy/astropy#4935 though the consensus seems to be this is an upstream issue with Sphinx.

Either way, not unique to SunPy.

[2017-05-09 23:23] amunozj opened #2098 "AttributeError: module 'pandas.tseries' has no attribute 'index'"
Hi Guys!  I am trying to make a map using an AIA fits files and giving me the following error

AttributeError: module 'pandas.tseries' has no attribute 'index'

when I run sunpy.self_test(online=False) I get the following output.  Any idea what am I doing wrong?

thanks a lot for your help!

============================= test session starts =============================
platform win32 -- Python 3.

[2017-05-10 03:33] wafels commented on #2098
Andres,

I think this error is the same as the one noted in
*https://github.com/sunpy/sunpy/pull/2095
<https://github.com/sunpy/sunpy/pull/2095>*.  To be sure, on the IPython
command line, could you try

*import pandas*

and then type

*pandas.__version__*

and report the version number?

Also, which version of sunpy are you running?  You can find this out on the
IPython command line using

*impor

[2017-05-10 03:38] amunozj commented on #2098
Hi Jack!  typing the commands you told me shows me:

Pandas: '0.20.1'
Sunpy: '0.7.7'

It seems it matches the error in that thread

[2017-05-10 07:33] nabobalis commented on #2098
Yeah, currently the master version of SunPy is broken under the newest version of Pandas.

I hadn't even considered it was broken under the current release version. PR #2095 fixes this. The fix will be backported and a new release sometime in the next week.

For the mean time, I would recommend downgrading to pandas 0.19.1

[2017-05-10 15:58] amunozj commented on #2098
Thank you guys that solved the problem.

[2017-05-10 15:58] #2098 closed

[2017-05-10 16:00] swapsha96 commented on #2097
If this issue is with Sphinx, we can implement the same using [HTML <area> Tag](https://www.w3schools.com/tags/tag_area.asp). The link gives an ugly example but same can be implemented with simple HTML.

[2017-05-10 16:32] amunozj opened #2099 "Opening compressed AIA images"
Hi Guys!

I'm not being able to open AIA images properly and I don't know what I'm doing wrong.  I'm trying to open this file:

https://www.dropbox.com/s/al5pxxix4p7c5kt/aia.lev1_euv_12s.2012-10-20T210004Z.193.image_lev1.fits?dl=0

but I get something that doesn't make sense.  I'm using a windows-based Anaconda with Python 3.

I'm doing the following:

import matplotlib.pyplot as plt
import sunpy.

[2017-05-10 16:38] prateekiiest commented on #2099
Hi @amunozj
The input you gave , then corresponding output looks all right.
What's wrong in it?

[2017-05-10 16:42] larrymanley commented on #2099
Looks like the exposure time (dt) is 0.0 - check the QUALITY keyword (my_map.meta['quality']).  If it's non-zero then it's a bad file.  The 193 channel in particular is very noisy when the automatic exposure control kicks in during high-flux events.

[2017-05-10 16:42] pymilo commented on #2099
Hi Andres,

I used DS9 to open the file you give as an input and I only see noise... Is this the image you expect to see?

https://drive.google.com/file/d/0BxUeyZIz9CG4N0ZVTXhKZmxQajA/view?usp=sharing

[2017-05-10 16:57] amunozj commented on #2099
Hi Guys!

Thank you so much for your very quick answers and for giving the image a try.  I figured out what was the problem:  This is the first time in my life I load AIA data and I just happened to pick at random the first image in an hour, which is always taken with the shutter off so there is no Sun in it.   This is what happens when you are such a n00b ;)

[2017-05-10 16:58] #2099 closed

[2017-05-10 16:59] larrymanley commented on #2099
QUALITY keyword is 65536, bit 16 set means "Dark image flag is set."

[2017-05-10 21:47] amunozj opened #2100 "Saving AIA images (or sections of them) as pngs in native resolution"
Hi Guys!

I have been trying to find a way of saving AIA data in native resolution, but cannot find a way to do it.  Trying to guess a combination of inches and DPI still leaves me with a lot of artifacts.  Does anyone know how to do it?   Ideally saving the entire image would result on a figure area of 4096x4906 plus the padding necessary for the titles and labels.  If one picks one quadrant then

[2017-05-11 12:02] lowderchris commented on #2100
If you wanted to keep axes, you should be able to grab the final axis coordinates (after all plotting and rearrangement) and generate a dpi from that:

[code]

![aia](https://cloud.githubusercontent.com/assets/3028588/25948062/eec2b2ec-3649-11e7-85f0-828302c399dc.png)

Alternatively, if you just want the array itself, it can be saved directly with:

`imsave(arr = maia.data, fname='aia-imsave.png')

[2017-05-12 11:41] Cadair commented on #2096
We are going to be re-writing the JSOC client this summer, so we will keep this in mind.
I *think* the following will work:

[code]

[2017-05-12 21:17] mjpauly commented on #2096
Yes, that should work for data download. Would it be possible to do the same for `JSOC_INFO_URL` so you can look up records as well?

[2017-05-16 16:03] bsipocz commented on #2097
This is somewhat related to our automodapi, as apparently it still works with pure sphinx:
sphinx-doc/sphinx#2484

[2017-05-18 13:21] Cadair opened #2105 "Add tests for dateobs in HGC<>HGS Transformations"
See #2063  and there was a previous pull request with lots of comments here: #2360

[2017-05-25 13:34] Cadair opened #2108 "Modify the downloader so that it keeps a record of failed downloads"
Sometimes VSO drops AIA downloads, if we can we should keep track of this.

@MSKirk

[2017-05-25 17:26] #2082 closed

[2017-05-26 14:49] aringlis opened #2110 "Fido search results are case sensitive"
For example:

    In [17]: goes = Fido.search(a.Time('2011-06-07 00:00','2011-06-08 00:00'),a.Instrument('goes'))

    In [18]: goes
    Out[18]:
    <sunpy.net.fido_factory.UnifiedResponse object at 0x114701050>
    Results from the GOESClient:
    <class 'sunpy.net.dataretriever.client.QueryResponse'><Table length=2>
       Start Time           End Time      Source Instrument Wavelength

[2017-05-26 15:13] aringlis opened #2111 "Specifying path in Fido.fetch behaves strangely"
For example:

    In [36]: aia = Fido.search(a.Time('2011-06-07 06:33','2011-06-07 06:33:08'),a.Instrument('aia'))

    In [37]: aia
    Out[37]:
    <sunpy.net.fido_factory.UnifiedResponse object at 0x11836d890>
    Results from the VSOClient:
    <Table length=8>
       Start Time [1]       End Time [1]    Source ...   Type    Wavelength [2]
                                                   ...

[2017-06-01 22:29] #732 closed

[2017-06-02 14:30] #1554 closed

[2017-06-02 14:30] #868 closed

[2017-06-02 14:30] #1056 closed

[2017-06-02 14:30] #1422 closed

[2017-06-02 15:23] Cadair opened #2122 "importing lightcurve and net under Python 2 ends the world"
[code]
However the following works:
[code]

I don't even know who I am any more.

[2017-06-02 15:29] aringlis commented on #2122
Weird - I get the same error, but if you swap the order of the commands, it works fine:

    ln [1]: from sunpy.net import hek
    ln [2]: from sunpy.lightcurve import GOESLightCurve
    In [3]:

[2017-06-02 15:30] Cadair commented on #2122
@aringlis yeah...

It also seems to happen with `sunpy.timeseries` as well.

[2017-06-02 15:31] Cadair commented on #2122
[code]

[2017-06-02 15:39] Cadair commented on #2122
I am therefore assuming that it's something in one of the old lightcurve source files.

[2017-06-02 16:49] nabobalis commented on #2122
Please hold.

[2017-06-03 15:22] #1536 closed

[2017-06-03 15:25] #1348 closed

[2017-06-03 16:36] nabobalis commented on #531
If lightcurve is dead, does this need to be open? Does it affect time series?

Should I add a timeseries label?

[2017-06-03 16:37] nabobalis commented on #798
If lightcurve is dead, does this need to be open? Does it affect time series?

Should I add a timeseries label?

[2017-06-03 16:37] nabobalis commented on #953
If lightcurve is dead, does this need to be open? Does it affect time series?

Should I add a timeseries label?

[2017-06-03 16:37] nabobalis commented on #1918
If lightcurve is dead, does this need to be open? Does it affect time series?

Should I add a timeseries label?

[2017-06-05 12:37] DanRyanIrish commented on #798
ping @Alex-Ian-Hamilton

[2017-06-05 17:43] Cadair commented on #1918
the code this is referring to is actually in `instr`

[2017-06-05 17:44] Cadair commented on #953
yes this still applies to timeseries.

[2017-06-05 17:45] Cadair commented on #531
This is handled at  a lower level by Fido + timeseries, but the high level functionality is not provided. @wafels opinions?

[2017-06-06 11:26] Cadair commented on #2004
I don't think we should back port this, it should be a new feature in 0.8.

[2017-06-06 13:30] nitinkgp23 opened #2131 "Use VCRpy to mock HTTP requests for VSO"
[VCR](http://vcrpy.readthedocs.io/en/latest/) provides an efficient way to simplify and speed up HTTP requests. It can be used to mock the requests made while querying VSO data, and every time the tests are run, it wont need to connect online.

[2017-06-07 16:15] #1919 closed

[2017-06-07 17:31] dpshelio opened #2136 "Section in SunPy User Guide for Coordinates"

[2017-06-08 09:38] nabobalis commented on #2043
Closed by #2130

[2017-06-08 09:38] #2043 closed

[2017-06-08 09:40] #2110 closed

[2017-06-13 06:54] #2111 closed

[2017-06-14 13:30] Cadair opened #2140 "Fido UnifiedResponse is still not indexing properly"
[code]
ping @DanRyanIrish @dpshelio

[2017-06-14 13:32] Cadair opened #2141 "Should Fido UnifiedResponse objects support concatenation?"
If you have two `UnifiedResponse` objects you should be able to concatenate them (probably using the `+` operator) and then pass the result to `Fido.fetch`.

ping @dpshelio

[2017-06-14 15:54] sarahmcgregor opened #2142 "broken LightCurve for Rhessi"
I'm in sunpy 0.7 running in Canopy

I was trying to get a light curve from rhessi, and I don't think it worked the way it was supposed to, please see errors below.

[code]

[2017-06-14 15:55] aringlis commented on #2142
I looked at this briefly with @sarahmcgregor but it needs an expert look.

I tried this on 0.8 and got a different error altogether - will post that soon.

[2017-06-14 16:00] Cadair commented on #2142
Haven't had a chance to investigate but taking a wild guess I blame the NASA transition to HTTPS somewhere.

[2017-06-14 16:02] aringlis commented on #2142
On 0.8, this happens (I know we are moving to timeseries but still):

[code]

[2017-06-14 16:05] Cadair commented on #2142
This is really two different bugs

[2017-06-14 16:17] nabobalis commented on #2142
That second bug happens because I think empty results return None which move through the code as if a real result was returned. I can't remember where I came across that.

[2017-06-18 13:57] Cadair opened #2143 "Update to allow use of newer astropy constant values"
As of 2.0 Astropy implemented versioned constants, we are currently only using the 1.3 versions.

For example:

Two different values of R_sun with two different descriptions -
IAU2012 (6.95508e8 m, "solar radius") and IAU2015 (6.957e8 m, "nominal solar radius").

Do want to update the values or keep using the older ones?

[2017-06-18 14:58] wafels commented on #2143
Two different values of R_sun with two different descriptions -
IAU2012 (6.95508e8
m, "solar radius") and IAU2015 (6.957e8 m, "nominal solar radius").  Note
that the difference in these radius values correspond to about 1 AIA
pixel.  SunPy's image co-alignment algorithm can estimate changes in image
co-alignment down to about 0.1 to 0.2 AIA pixels.

On Sun, Jun 18, 2017 at 9:57 AM, Stuart Mumford

[2017-06-18 15:05] Cadair commented on #2143
Oh look it's the new solar radius number that we were discussing. Of course if you are using AIA data it's better to use the value in the AIA header for solar radius because they just round it off.

[2017-06-19 20:58] Cadair commented on #2143
https://travis-ci.org/sunpy/sunpy/jobs/244253515#L1183

[2017-06-20 11:28] nabobalis commented on #2143
Highjacking this.

Astropy now has versioned units. This has been temp fixed in master and in 0.7.
The issue now becomes this. Do want SunPy versioned units?

I open the floor. @Cadair

[2017-06-20 15:27] wafels opened #2150 "Do we still need CompositeMap?"
As far as I can tell it doesn't do anything that a matplotlib script could do just as well.  How about deprecating it in 0.8 and removing it in 0.9, and replacing it with a gallery example using Map objects and matplotlib?

[2017-06-20 16:31] Cadair commented on #2150
I am always happy to remove code, we could write tools to overplot different maps in a mapcube.

[2017-06-20 16:34] nabobalis commented on #2150
I am happy to git rm anything at any time.

I thought the idea of CompositeMap was to allow easy overlaying of images with WCS information.
Do we have examples of this anywhere?

[2017-06-20 16:55] wafels commented on #2150
I don't think we need new tools in mapcube either.

All CompositeMap does is plot stuff, nothing else.  If it is just plotting,
then why not just use matplotlib and wcsaxes?  A tutorial replacing the
current example in the CompositeMap docstring would be sufficient.

On Tue, Jun 20, 2017 at 12:34 PM, Nabil Freij <notifications@github.com>
wrote:

[2017-06-20 17:04] Cadair commented on #2150
Fair enough, I didn't completely mean new tools *in* mapcube, just tools that take a mapcube as input. Or just a list of maps maybe.

[2017-06-22 13:05] Cadair opened #2155 "parse_time should support FITS compliant time formats"
i.e
[code]
I wonder if it's worth implementing this, or if we should just port to astropy time.

[2017-06-22 14:26] wafels commented on #2155
AstroPy time for the win!

On Thu, Jun 22, 2017 at 10:04 AM, Nabil Freij <notifications@github.com>
wrote:

[2017-06-23 17:23] ayshih commented on #1745
A [recent mailing-list thread](https://groups.google.com/d/msg/sunpy/BqFosoHdYZ0/caDMv3jeAQAJ) relates to this issue.

For completeness, I have also edited the initial post to link last year's mailing-list thread that prompted this issue.

[2017-06-25 23:21] ayshih commented on #1745
So, our position should probably be to change nothing and continue to let SunPy to defer to Astropy's behavior on memory mapping.  Note that:

- Astropy has a configuration operation (`use_memmap`) that can be set to `False`.  That can be our suggested solution to anyone who encounters the too-many-open-files issues.  (Annoyingly, Astropy's [FAQ entry](http://docs.astropy.org/en/stable/io/fits/app

[2017-06-26 14:22] ayshih commented on #714
See #1745 for some more recent discussion of our use of memory mapping via Astropy's FITS reader.  Note that some FITS files cannot be memory mapped by Astropy, and will be read into RAM regardless of settings.

I'm closing this issue.

[2017-06-26 14:22] #714 closed

[2017-06-26 14:23] aringlis commented on #1745
Out of curiosity, what is the difference between these two files that means only one can be memory mapped?

[2017-06-26 14:27] ayshih commented on #1745
The latter uses FITS keywords such as BZERO et al. that specify how the stored values need to be modified to get to real values.  Thus, it's not possible to provide a memory-mapped array because the data needs to be transformed first.

[2017-06-26 14:35] Cadair opened #2157 "UnifiedResponse should support slicing the results objects it contains"
If you have 5 clients, you should be able to sub-select the results from client 1 and ignore the others then pass to `Fido.fetch`.

@SolarDrew go!

[2017-06-26 14:44] Cadair commented on #1745
@ayshih we could expose the flag to `io.fits.open` that disables scaling though, so the users could explicitly allow memmapping by turning off scaling.

[2017-06-26 14:49] ayshih commented on #495
Closing this issue because this behavior results from memory mapping in the FITS reader of PyFITS/Astropy

[2017-06-26 14:49] #495 closed

[2017-06-26 14:50] ayshih commented on #1101
Closing this issue because this behavior results from memory mapping in the FITS reader of PyFITS/Astropy.

[2017-06-26 14:50] #1101 closed

[2017-06-28 16:30] ehsteve opened #2161 "Rename map function from `pixel_to_data` to `pixel_to_world`"
This nomenclature is clearer as we are not dealing with data units but world coordinates. This also references WCS (world coordinate system).

[2017-06-28 16:33] Cadair commented on #2161
👍 With deprecation of the current API.

[2017-06-28 16:34] wafels commented on #2161
What he said.

[2017-06-28 16:57] ayshih opened #2162 "Fix capitalization of `HeliographicStonyhurst`"
There are a handful of places where the frame `HeliographicStonyhurst` is mis-capitalized as `HelioGraphicStonyhurst` (in docstrings and documentation).  Fix.

[2017-06-28 17:44] dpshelio opened #2164 "Add some metadata to each example."
[Matplotlib's gallery](http://matplotlib.org/gallery.html) has tagged each example with something like this:

[code]
Which allows users to search the example gallery. Which they suggest how to do here:
https://matplotlib.org/faq/howto_faq.html#how-to-search-examples

We should follow this example and do it for our own examples.

[2017-06-28 17:45] Cadair commented on #2164
This should be opened against sphinx-gallery.

[2017-06-29 13:52] nabobalis commented on #2164
You mean subheaders?

[2017-06-29 13:53] Cadair commented on #2164
some kind of tagging system I would think.

[2017-06-29 13:56] nabobalis commented on #2164
Oh i see, the keywords at the bottom.

If this is a sphinx-gallery issue and not a sunpy one, we can close this.

[2017-06-29 14:20] Cadair commented on #2142
This really needs splitting out into two issues, one for the 0.7 branch and one for 0.8.

[2017-06-29 14:25] Cadair commented on #2164
Well this can be an issue to implement it if/when sphinx gallery support it.

[2017-06-29 14:31] nabobalis commented on #2164
We really need like large meta issues so we can reduce the numbers

[2017-06-30 16:12] samaloney opened #2169 "Some 'Edit on Github' links on the top of the documentation pages point to a non existing page (error 404)"
So on this [page](http://docs.sunpy.org/en/stable/code_ref/lightcurve.html) the edit on git hub link (with the Github logo) in the header works but in this [page](http://docs.sunpy.org/en/stable/generated/api/sunpy.lightcurve.EVELightCurve.html#sunpy.lightcurve.EVELightCurve) it links to a non existent page leading to a 404

[2017-06-30 16:15] samaloney commented on #2169
There must be flag or something to signal when to add link or not if you look [here](http://docs.astropy.org/en/stable/stats/lombscargle.html) (at the bottom this time) the link works as expected and then [here](http://docs.astropy.org/en/stable/api/astropy.stats.LombScargle.html#astropy.stats.LombScargle) in the generated docs there is no link.

[2017-07-02 22:32] #2162 closed

[2017-07-04 18:04] #760 closed

[2017-07-05 16:34] #975 closed

[2017-07-05 16:35] #1752 closed

[2017-07-05 16:36] #1417 closed

[2017-07-05 16:36] #670 closed

[2017-07-05 16:37] #468 closed

[2017-07-05 16:38] #83 closed

[2017-07-05 16:53] Cadair commented on #975
I still think this would be worth a mention somewhere. Coordinates and stuff "just work" in ginga.

[2017-07-05 17:01] nabobalis opened #2177 "Test Data Organization"
Regarding Issue #1972 and PRs #2173 and #1982

We already have an attribute called file_list which returns a list of file paths for all test data in sunpy/data/tests. However, we have test data listed in subfolders. Question is, why the mix?
Furthermore, should the test data be dumped into the main level folder or subfolders are made for most test data?

[2017-07-09 15:14] dpshelio commented on #546
This issue was moved to sunpy/spectra#1

[2017-07-09 15:14] #546 closed

[2017-07-09 15:15] dpshelio commented on #1182
This issue was moved to sunpy/spectra#2

[2017-07-09 15:15] #1182 closed

[2017-07-09 15:15] dpshelio commented on #1252
This issue was moved to sunpy/spectra#3

[2017-07-09 15:15] #1252 closed

[2017-07-09 15:15] dpshelio commented on #1376
This issue was moved to sunpy/spectra#4

[2017-07-09 15:16] #1376 closed

[2017-07-09 15:16] dpshelio commented on #1466
This issue was moved to sunpy/spectra#5

[2017-07-09 15:16] #1466 closed

[2017-07-09 15:16] dpshelio commented on #1492
This issue was moved to sunpy/spectra#6

[2017-07-09 15:16] #1492 closed

[2017-07-09 15:17] dpshelio commented on #1687
This issue was moved to sunpy/spectra#7

[2017-07-09 15:17] #1687 closed

[2017-07-09 15:18] dpshelio commented on #1706
This issue was moved to sunpy/spectra#8

[2017-07-09 15:18] #1706 closed

[2017-07-09 15:18] dpshelio commented on #2033
This issue was moved to sunpy/spectra#9

[2017-07-09 15:18] #2033 closed

[2017-07-09 15:22] dpshelio commented on #291
This issue was moved to sunpy/spectra#10

[2017-07-09 15:22] #291 closed

[2017-07-09 15:22] dpshelio commented on #236
This issue was moved to sunpy/spectra#11

[2017-07-09 15:22] #236 closed

[2017-07-09 15:23] dpshelio commented on #266
This issue was moved to sunpy/spectra#12

[2017-07-09 15:23] #266 closed

[2017-07-09 17:11] dpshelio commented on #547
This issue was moved to sunpy/spectra#13

[2017-07-09 17:11] #547 closed

[2017-07-09 17:13] dpshelio commented on #1501
This issue was moved to sunpy/spectra#14

[2017-07-09 17:13] #1501 closed

[2017-07-10 10:42] #2177 closed

[2017-07-12 14:53] PyDL opened #2189 "The VSO Client doesn't download all data"
Hi Guys,

Thanks for providing the wonderful SunPy.

I'm using the SunPy 0.7.8. I found only part of the data found can be downloaded. Here is the code:
[code]
It turns out that totally 51 entries can be found (which is expected), but only 11 are actually downloaded by the client.get(qr) command. The number of downloaded entries may differ, sometimes it is 11, sometimes it is 12 or 12 or 14, but n

[2017-07-12 16:44] #1473 closed

[2017-07-12 16:51] bsipocz opened #2190 "Use astropy deprecated decorator customized for sunpy"
Currently a copy of the astropy decorator is used, but ideally it should be used directly with some minor customization.

See failed attempt here: #2038

[2017-07-13 09:55] Cadair opened #2192 "Fido clients should not be case sensitive for instrument names"
I am looking at you GOES.

The string comparisons in the `_is_source_for` methods of the clients just need the addition of a few `.lower()` calls.

[2017-07-13 11:00] Cadair commented on #2190
This probably needs a PR to astropy. Would be good to convert the deprecated decorator to a class with a class attr that is the class of warning to raise.

[2017-07-13 13:42] nabobalis opened #2194 "Online tests result change"
The database online tests have differing results recently and this issue keeps track of that and the old results.

#2191 was the first PR to make changes here:

```sunpy/database/tests/test_attrs.py```

[code]

```sunpy/database/tests/test_database.py```

[code]

```sunpy/database/tests/test_tables.py```

[code]

[2017-07-14 13:56] #2161 closed

[2017-07-17 11:13] Cadair opened #2199 "Add a "What's New in 0.8" Page to the Docs"
Should be a very high level intro to what has changed, not just a re-hash of the changelog, short code snippets are essential.

[2017-07-17 11:13] nabobalis commented on #2199
How about we leave it as a surprise for the users?

[2017-07-18 07:50] Cadair opened #2206 "Deprecate vso.Wave"
This change will get a lot of people.

[2017-07-19 21:00] wafels opened #2210 "MapSequence needs a save method"
MapSequence does not have a save method.  I suggest saving each map as an individual FITS file using the map save method, with appropriate numbering as part of the output file name.

See https://github.com/sunpy/sunpy/pull/2301 for a previous attempt.

[2017-07-26 01:30] Misara commented on #2192
I'd like to work on this, where is the file located? Sorry, I'm new to the package.

[2017-07-26 08:02] Cadair commented on #2192
Ok, I can no longer reproduce this, I assume that when I opened it I was running on an out-of-date version of master.

@Misara Thanks for your interest in contributing, feel free to ask for advice on tacking another issue.

[2017-07-26 08:02] #2192 closed

[2017-07-26 10:00] #2206 closed

[2017-08-02 11:24] #2140 closed

[2017-08-02 11:24] #2157 closed

[2017-08-02 21:11] Cadair commented on #2199
Fido

New interface for downloading data
Supports VSO, JSOC and other sources of data
Replaces the individual downloaders used to obtain timeseries data.

Coordinates

Spatial locations using solar physics coordinate systems are now represented by SunPy coordinate objects.
Transformation of coordinates between solar physics coordinate systems, and between all SunPy and Astropy-supported coordinate

[2017-08-03 07:53] #2004 closed

[2017-08-03 07:54] Cadair commented on #2136
The transformation docs were done as part of #2186. We still need a guide section.

[2017-08-03 10:01] Cadair commented on #2199
@wafels see above edit for my thoughts on what are the key things from the changelog / my brain. Feel free to drop things that you think are to technical or not interesting.

[2017-08-03 10:11] Cadair commented on #1703
@sunpy/sunpy-developers I can't see me getting time to do this in the next 6 days as well as the documentaion work. I would really like this in 0.8 (because of all the deprecations) so I will actually post stickers to someone who patches this by the dev meeting next week.

[2017-08-03 10:18] nabobalis commented on #1703
@Cadair What doc changes?

[2017-08-03 11:04] ayshih opened #2224 "Resolve different ways to calculate Carrington longitude"
Now that PR #2186 is merged, our ephemeris calculations have accurate correspondence with published sources *except* for arcmin-level discrepancies with Carrington longitudes provided by the _Astronomical Almanac_.  Here are my comments from PR #2186 (starting [here](https://github.com/sunpy/sunpy/pull/2186#discussion_r129573004)):

Currently, `sunpy.coordinates.ephemeris.get_sun_L0()` effectively

[2017-08-03 14:20] Cadair opened #2226 "Examples should all be updated to use Fido"
a few of the examples use `VSOClient` directly, this should be changed.

[2017-08-04 12:12] samaloney opened #2230 "Improve RHESSI uncompress_countrate function"
Possible optimisations for the [uncompress_countrate](https://github.com/sunpy/sunpy/blob/master/sunpy/instr/rhessi.py#L340):

- compute lookup table on first call and then store as class level variable
- vectorise lookup table creation - i.e. remove loop

[2017-08-04 12:25] samaloney opened #2231 "Improve RHESSI instrument module"
Just a tidy up really:

- some repeated code e.g. `parse_obssumm_file` and `parse_obssumm_hdulist`
- refactor methods so more tests can be run offline
- refactor tests to use reprsentative data so can be run offline

Some of the issue raised above have been addressed in PR #2048

[2017-08-04 12:28] samaloney opened #2232 "Implement new Cartesian back projection for RHESSI images"
Cartesian representation is smaller and allows for more efficient computation of back projection from stacked calibrated event list. Also in this representation the process is a bit easier to follow.

[2017-08-04 12:32] samaloney opened #2233 "Implement conversion from RHESSI stacked calibrated event list to RHESSI visibilities"
A stacked calibrated event list (SCEL) is basically a visibility in a different format. The transformation from SCEL to visibly essentially only require a linear regression between the phase and count data which are already binned in the SCEL

[2017-08-05 09:38] ayush1999 commented on #2105
@Cadair I'd love to work on this. Can you tell me how to start? And how can I assign this issue to myself?
Thanks!

[2017-08-05 17:26] #2039 closed

[2017-08-07 09:20] Cadair opened #2237 "Combine Results from the same client into one QueryResponse inside UnifiedResponse"
Currently given a query with an Or block, say for the VSO, two seperate queries to the VSO are performed (because of the way the VSO works), this results in two seperate client blocks inside the `UnifiedResponse` object. With some logic on instantiation this could be avoided, which would make for a nicer UX.

[2017-08-07 19:58] Cadair opened #2239 "instr Lyra has a lightcurve dependency"
This needs moving to timeseries.

[2017-08-09 00:05] dpshelio opened #2241 "map.date() doesn't behave as "wanted" by the code"
The condition https://github.com/sunpy/sunpy/blob/5ea7fe6bee8accc0f9c08da943c112a32549c419/sunpy/map/mapbase.py#L409

will never happen... and if it does, the following statement after the `warning` will fail
 https://github.com/sunpy/sunpy/blob/5ea7fe6bee8accc0f9c08da943c112a32549c419/sunpy/map/mapbase.py#L414

So, I would either remove the `warning` or implement better the preferred behaviour. A

[2017-08-09 09:12] #1703 closed

[2017-08-09 11:42] Cadair commented on #2105
Hi @ayush1999 there have been a lot of changes in the coordinates module in the last few weeks, you should run the existing tests and see if there are gaps in the coverage.

[2017-08-09 15:42] #2239 closed

[2017-08-09 16:08] #1900 closed

[2017-08-09 16:08] #2136 closed

[2017-08-09 16:08] #2226 closed

[2017-08-09 16:56] nabobalis commented on #823
Closed by #2128

[2017-08-09 16:56] #823 closed

[2017-08-10 20:25] Cadair opened #2247 "`sunpy.self_test` shows all the warnings from the test build"
it should not.

[2017-08-11 20:27] wafels opened #2252 "Differential rotation of maps should pass in diff_rot kwargs"
The keywords of _diff_rot_ should be passable from _diffrot_map_.

[2017-08-12 13:36] dpshelio commented on #2233
@samaloney  - is that an event list that needs to be downloaded from a particular place? a new file format we need to read?

[2017-08-12 14:33] samaloney commented on #2233
@dpshelio No same file format as used currently - a fits file with some bin table extensions.

[2017-08-15 11:18] #2020 closed

[2017-08-15 21:00] #2252 closed

[2017-08-16 10:06] samaloney commented on #2230
So it turns out there is no real benefit to a cached version, it is about the same speed and requires the use of global. Similarly if the loop could be vectorise it would just be less readable.

So currently no point in doing either of these.

[2017-08-16 10:06] #2230 closed

[2017-08-16 16:30] nabobalis opened #2265 "Database test changes"
**META ISSUE ACTIVATE:**

Changed Tests:

In `sunpy/database/tests/test_database.py` called `test_fetch_duplicates` and `test_fetch`.
Database len was `4`, now `2`. **Changed by PR #2440.**

In `sunpy/database/tests/test_attrs.py`, old results and names below. **Changed by PR #2191.**

[code]

In `sunpy/database/tests/test_database.py`, **changed by  PR #2191.**

[code]

In `sunpy/database/tests/t

[2017-08-17 15:18] #2199 closed

[2017-08-17 21:21] nabobalis opened #2270 "Make pytest_mock an optional test dep"

[2017-08-17 21:31] nabobalis commented on #2270
FALSE ALARM I CAN'T GOOGLE

[2017-08-17 21:31] #2270 closed

[2017-08-18 12:26] olebole opened #2271 "[0.8] test_query failure"
Hi,

I tried to build the latest sunpy version for upload as Debian package, and got the following error during test:
[code]

[2017-08-18 16:08] olebole commented on #2271
So this is a test that requires online access?
For Debian builds, online access is disabled during build (and testing), which may explain its occurence.
In this case, just the `@pytest.mark.online` mark is missing.

[2017-08-18 16:25] Cadair commented on #2271
No this test doesn't require an internet connection, I think it is because of a change to the way hypothesis handles datetimes. I will investigate probably next week. It is however not an indication of an actual code failure.

[2017-08-18 16:30] olebole opened #2272 "[0.8] tests in net/tests/test_helio fail"
On Debian, all tests in `sunpy/net/tests/test_helio.py` fail with the following error:
[code]
I am also not sure whether these would require internet access, or if I missed the installation of a python package?

[2017-08-18 16:37] nabobalis commented on #2272
The last time I saw that error I did not have ``mock`` installed. Maybe that could be the issue for you.

[2017-08-18 16:39] olebole commented on #2272
The mock package(s) are installed: `python-mock`, `python-pytest-mock`, `python3-mock`, `python3-pytest-mock` (Debian package names). Do I need more?

[2017-08-18 16:41] nabobalis commented on #2272
No, that should be enough.

I might have to spin up a Debian VM and test this myself. I didn't think we would have issues with Debian!

[2017-08-19 09:15] nabobalis commented on #2272
I just installed a VM of Debian and can replicate this test failure on Py3 but not Py2.
The other issue I can not replicate regardless of python version.

My process was:

1. Installed sunpy 0.7 from the main repository
2. Downloaded the 0.8 release (in this case I used current master but thats the same as 0.8 bar the version bump)
3. Install: ```python3-pytest-mock python3-mock python-pytest-mock

[2017-08-19 09:40] olebole commented on #2272
Comparing versions between Debian (unstable) and upstream:

* pytest: both 3.2.1
* mock: both 2.0.0
* pytest-mock: Debian 1.3, upstream (git) 1.6.2

So I would assume that we need a higher pytest-mock package? I could ask to update our package (and temporarily disable the affected tests), if this is the cause.

I still think it is connected with network access. You may try to do `export http_proxy

[2017-08-19 09:41] olebole commented on #2271
Copied from #2272:

Then, I still think it is connected with network access. You may try to do export http_proxy=127.0.0.1:9 before running the tests; this should disable network access.

[2017-08-19 10:40] nabobalis commented on #2272
It would look like, as it why it doesn't happen on Py2 is an odd one.

Should I enable Debian (unstable) and try it there?

[2017-08-19 11:36] nabobalis commented on #2272
So I enabled testing and updated. I got this error when i removed the updated pytest-mock package.

So it seems that we need that updated.

[2017-08-19 11:43] nabobalis commented on #2271
So regarding the other issue, I enabled testing and updated. Updated pytest mock to the lastest version to fix the other test error and was able to get this test failure with the updated pytest-mock package.

On both Py2 and Py3.

[code]

I am going to play around with hypothesis versions and their changelogs to see if anything can be fixed.

[2017-08-19 13:11] nabobalis commented on #2271
So I updated our [wheels](https://travis-ci.org/sunpy/sunpy-wheels/builds/266270024) to use the latest pip version of all the packages and we get that test failure on Py3 only.

Locally on Debian testing, I only have pytest-mock and reruns installed via pip and I once I remembered that hypothesis uses the local dir to write file and deleted that directory. I only get this test failure on Py2.

Thi

[2017-08-22 08:45] Cadair opened #2275 "Migrate to using hypothesis.strategies.datetimes"
The recommended way to generate datetimes in hypothesis has changed, we should update our tests.

[2017-08-22 15:52] olebole commented on #2271
#2276 claims to fix this; however I still see the problem in version 0.8.1 -- just the first lines are a bit different (and confusing):
[code]
However, this issue was also not marked as fixed anyway (on purpose?).

[2017-08-22 16:35] nabobalis commented on #2271
It has fixed this test failure that  was happening on the wheel builds. The fix is more of a hack and it will be worked on more in master probably for 0.9.

I will give it a go on Debian sometime soon.

[2017-08-22 17:12] nabobalis commented on #2271
So a quick test from my end.

Installing 0.8.1 and running it using the system packages did the tests fine for 3.5 but failed for 2.7.
I updated Py2.7 hypothesis to the latest version and that seemed to fix the 2.7 issue.

[2017-08-22 19:31] olebole commented on #2271
Since this (and #2272) seems to be problems in the test and not in the code, I am going to disable the tests for the moment and upload the new Debian package.

[2017-08-22 19:33] olebole commented on #2272
For referece: the Bug report on Debian is [#872618](https://bugs.debian.org/872618). I am going to disable these tests until we have the new version in Debian.

[2017-08-23 14:11] Cadair commented on #2272
Thanks @olebole I will close this as it's not a direct issue with SunPy.

[2017-08-23 14:11] #2272 closed

[2017-08-23 14:33] olebole commented on #2272
Yep, thanks, forgot to do this myself.

[2017-08-23 16:29] ehsteve opened #2278 "Provide easy method/workflow to generate a map header"
Currently there is no good way for a user to know what should be or must be provided in a map header dictionary. The current process is cumbersome. This issue is to, at minimum, provide a convenience function to do this. At best we should provide a meta class object which solves all of our problems.

[2017-08-30 19:50] amunozj opened #2279 "Sample class sunpy.net.jsoc. Doesn't seem available in 0.8 and connection refused problem"
Hi Guys!

I was playing with the jsoc client and it I cannot find the Sampling cadence anymore (it did on 0.7).  I'm doing something like this

[code]

I'm using 'jsoc.Sample(2*u.hour)' so that I get the images every two hours.

the page for Sample class sunpy.net.jsoc. Appears as not existing yet.

Thanks for all your hard work!

Andrés

[2017-08-30 20:02] nitinkgp23 commented on #2279
Hello,
the new JSOCClient will bring this back. For now, you can use the vso Sample attr instead:

[code]

[2017-08-30 21:18] amunozj commented on #2279
Thank you Nitin.  That helped, can abuse your kindness and ask you a related question?  I'm running into a problem where I'm downloading multiple sequences of images and I'm running into a connection problem.   Here is reduced form of my code:

[code]

It basically goes to a bunch of arbitrary dates and grabs all magnetograms in a 10 hour sequence every two hours.   The problem is that when I run

[2017-08-30 21:35] amunozj commented on #2279
Ok, I fixed it by adding:

file_paths = res.wait()

thank you!

[2017-08-30 21:35] #2279 closed

[2017-08-31 15:20] wafels opened #2280 "Ensure Helioviewer client uses Helioviewer API version 2 exclusively"
Version 2 of the Helioviewer API is the version that is being updated (version 1 is largely deprecated).  SunPy's helioviewer client - the actual code and the tests - should use version 2 of the API exclusively.

[2017-09-04 10:15] dpshelio opened #2282 "Prepare for diff-rotations from different points of view."
I've got this from a [draft document](https://issues.cosmos.esa.int/solarorbiterwiki/download/attachments/5801215/Triplet-TN%20SOL-SGS-TN-0020%20v0_2.pdf?version=1&modificationDate=1499950338000&api=v2) from [Solar Orbiter team](https://issues.cosmos.esa.int/solarorbiterwiki/display/SOSP/SOC+Documents):

None of the current values we've got matches what they are planing.

[code]

We do have a `syn

[2017-09-07 11:27] Hackempluf opened #2284 "Fetching HMI data fails whenn no attribute vso.Physobs is provided"
When trying to download HMI data without specifying a vso.Physobs attribute, the query fails with the following error:

'

Searching for the data is succesful, and when at least one vso.Physobs attribute is specified, the download is successful.

Example code:
[code]

Traceback:
[traceback.txt](https://github.com/sunpy/sunpy/files/1284485/traceback.txt)

[2017-09-07 13:06] Cadair commented on #2131
From doing a bit more research as VSO uses SOAP I think VCR wont work.

[2017-09-07 13:07] #2047 closed

[2017-09-07 13:14] Cadair commented on #2284
Thanks for the bug report @Hackempluf. This looks like a VSO side issue to me, I will try and get some VSO peoples eyes on it.

[2017-09-07 16:06] jhourcle commented on #2284
This is believed to be the message that SunPy was sending to the VSO:

    <?xml version="1.0" encoding="UTF-8"?>
    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://virtualsolar.org/VS

[2017-09-07 16:09] jhourcle commented on #2284
I should've mentioned -- $NSMASK likely doesn't matter, as attempting to print $tag gives an empty string.  But as $tag is passed into the function, this is going to require a trace to debug it.

And only having 3 HMI records for that time period is correct.  (IDL reports 2 series w/out matches for the time period requested):

    Fido.search(a.Time('2017-09-02 23:52:00', '2017-09-02 23:52:30') &

[2017-09-08 14:06] mathewjowens opened #2285 "Support for NASA's Common Data Format (CDF)?"
Are there any plans to provide support fro NASA's [Common Data Format (CDF)](https://cdf.gsfc.nasa.gov/)? It's the standard -- and often only -- format for [all NASA in-situ data](https://cdaweb.sci.gsfc.nasa.gov/index.html/).

There was a [python CDF library](https://pypi.python.org/pypi/CDF), but it's no longer supported and refuses to compile on most machines. Similarly, LANL's spacepy library

[2017-09-08 14:41] Cadair commented on #2285
We have been talking about this in the PlasmaPy chat recently. I had a quick look at the CDF library in SpacePy, it does not look like it would be fun to extract the CDF support.

The best solution in my opinion is to fix the packaging issue for SpacePy, I think @SolarDrew was planning on taking a shot at getting SpacePy in conda.

[2017-09-08 14:50] mathewjowens commented on #2285
David Stansby (Imperial), who's started work on [HelioPy](https://pypi.python.org/pypi/heliopy). has put together a version of SpacePy's CDF library with somewhat reduced dependencies. But ultimately, it's the same underlying code and, yeah, best avoided.

After a bit of trial and error, I managed to get SpacePy to install under ubuntu, but it wasn't happy with any combination of Windows compilers

[2017-09-08 15:02] Cadair commented on #2285
Oh no, not windows being a pain. That is never fun for anyone.

Do you know if/how dead SpacePy is? It would be a shame if it was completely left to die. The actual CDF bindings code in SpacePy is pretty clever (not pretty, but clever) I would not want to attempt to write my own from scratch.

[2017-09-08 15:08] mathewjowens commented on #2285
(I managed to get SpacePy to compile under the Windows 10 linux subsystem. Two, poorly meshed OSs. What fun.)

SpacePy - not sure. I might shoot Jon Niehof and Steve Morley an email, as I know them both. The main LANL SpacePy page is down, which isn't encouraging, but according to github, there's been activity reasonably recently.

[2017-09-11 12:29] mathewjowens commented on #2285
I got in contact with Steve Morley (smorley@lanl.gov) and Jon Niehof (Jonathan.Niehof@unh.edu). They're happy to chat about CDF support, etc. But SpacePy is still being supported and developed (the loss of webpage is for other reasons). In particular, they're already looking at getting the Windows support fixed up.

[2017-09-11 15:29] Cadair commented on #2284
@jhourcle Am I to interpret this as a VSO issue or a requirement to change our side?

[2017-09-13 15:34] dianamorosan opened #2286 "Coordinates: sunpy.sun.solar_north() and sunpy.coordinates.get_sun_P() give different answers"
I am trying to get the position angle of the solar north pole and in an older version of sunpy where sunpy.sun.solar_north() was still working I seem to get what looks like the correct result but after upgrading sunny to 0.8.1 I need to use sunpy.coordinates.get_sun_P() which gives a completely different value.

sunpy.sun.solar_north(t='now')
-15.188641163767306

After upgrading:

sunpy.coordinate

[2017-09-13 16:07] ayshih commented on #2286
Checking outside of SunPy, the position angle right now is approximately 23.8 degrees, and the calculations in SunPy 0.8.1 agree with that.  Can you elaborate why you think the position angle should instead be approximately -15 degrees right now?  It looks like such a position angle corresponds to the start of June (and the second week of February), so did you run the first command ~three months a

[2017-09-13 16:31] dianamorosan commented on #2286
So I've double checked this myself against ssw and the position angle is indeed 23.7 degrees in both the new sunny version and ssw. -15 degrees was definitely the value I obtained in the old version but looks like new version is accurate. Thank you for confirming!

[2017-09-13 16:31] #2286 closed

[2017-09-14 18:55] SolarDrew commented on #2285
I was indeed planning on conda-ing up SpacePy. It might take a while - I don't have much experience with conda packaging and CDF looks like it'll be a whole load of hassle - but I'll keep you in the loop.

[2017-09-15 08:47] Cadair opened #2287 "Drop Python 2 Support"
This is the meta issue for dropping Python 2 in SunPy. This is scheduled to be done *after* the 0.9 release.

# Cleaning and Tidying

- ~`sunpy.extern.six` can be removed and all six imports in the code can be replaced by the Python 3 only ones.~
- ~All `__future__` imports.~
- ~Search for and remove any if `six.PY2` blocks and also search for `sys.version_info` or any usage of `minversion` or `Lo

[2017-09-15 10:03] mathewjowens commented on #2285
Excellent, thank you!

[2017-09-18 15:47] mathewjowens commented on #2285
FYI: Thanks to David Stansby's help, I've got HelioPy installed and hence python reading CDFs under Windows. If you're looking to incorporate CDF under SunPy or PlasmaPy, it would be well worth speaking to David.

[2017-09-20 16:36] DanRyanIrish opened #2288 "Ticklabel Control for ImageAnimatorWCS"
Add the following functionalities to ```ImageAnimatorWCS```:
1. Allow user to define the units they want the axes to appear in.
2. Either make ImageAnimator show tick labels with a reasonable format (e.g. adjust scientific notation, significant figures, etc.) and/or allow user to define the format.  This could prevent ticklabels overlapping and being unreadable.

The ```unit_x_axis``` will not nec

[2017-09-21 22:31] apsv opened #2290 "Installed SunPy and ran self_test"
Hi,
I am very new to Python. I do not know if the following errors affect me in anyway. But a few things like read or read_file (while trying to read a fits file) aren't working (gives a read not defined NameError) (may be there are similar dependencies that the following test programs are using). Any advice/help is appreciated.

============================= test session starts ==================

[2017-09-22 00:43] prateekiiest commented on #2290
From what I understood, some modules weren't installed/
You can simply do
`pip install -i https://pypi.anaconda.org/pypi/simple pytest-mock`
or
`pip install pytest-mock`

and with that `pip install mock` for python < 3.3 in your case 2.7.

Check if its working and let us know if it still shows an error.

[2017-09-22 10:01] dstansby commented on #2285
Hello, David here! (I have stumbled upon this issue). I have started writing https://github.com/heliopython/heliopy - the idea behind it was sort of "SunPy for in-situ data".

re. CDF files, I have extracted `pycdf` from `SpacePy` and put it in it's own module in `heliopy`. I have yet to work out exactly what it depends on, but installing and using it seems to work fine for me (and I think @mathew

[2017-09-26 10:21] Cadair commented on #2290
Hi @apsv it looks like you installed with conda so @prateekiiest's solution is almost right but using `conda install mock pytest-mock` would be better.

Also, what version of SunPy have you got installed? I thought we had fixed these issues with 0.8.1.

[2017-10-05 13:13] kiendang commented on #2241
I think can change to `self.meta.get('date-obs', None)` and then inside the condition assign `time = 'now'`. That way the warning will show.
Also `parse_time` is called twice which is kind of redundant. I suggest leaving out the first one.

[2017-10-06 14:57] estathe opened #2294 "Composite map - axes in arcsec"
Hello,

after the upgrade to SunPy 0.8 all my composite maps have a different axes scaling compared to the "usual" arcsec - I see that even the example image from the documentation shows that the X- and Y- axes of the full disk go from -0.3 to +0.3 arcsec.

![maps-8](https://user-images.githubusercontent.com/14076543/31283961-d1ec599e-aabf-11e7-919b-7900dacb2d4b.png)

How to make the plot show the

[2017-10-06 15:20] wafels opened #2295 "Animation of mapcube failing"
A user has reported the failure of mapcube animation.  See the traceback below.  The bug is that the map coordinate_system property changed from using the SpatialPair tuple with 'x y' to a SpatialPair tuple with 'axis1 axis2', but the axis to these values in mapcube.py was not updated.  This is likely not the only place this has happened.  The fix should be relatively easy if this is indeed the bu

[2017-10-06 15:55] wafels opened #2296 "Mapcube animation is not tested"
#2295 points out the fact we don't have a test suite for the plotting capability of MapSequence.
That's not good.
So we need a MapSequence plot test.

https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapsequence.py
https://github.com/sunpy/sunpy/blob/master/sunpy/map/tests/test_mapsequence.py

MapSequence  animation relies on https://github.com/sunpy/sunpy/blob/master/sunpy/visualization/anima

[2017-10-08 14:55] #2241 closed

[2017-10-10 05:38] swapsha96 commented on #2169
The latest documentation doesn't have this feature. Instead of closing it right now, it's better to enable it first.

[2017-10-12 09:51] samaloney commented on #2169
Seems to be fixed in on RTD latest

[2017-10-12 10:01] samaloney opened #2299 "Some docstrings for net.vso.attrs are not showing up correctly on RTD"
Example: http://docs.sunpy.org/en/latest/api/sunpy.net.vso.attrs.Resolution.html#sunpy.net.vso.attrs.Resolution

It looks like the docstrings are not being parsed by sphinx correctly, possibly not in the correct format?

[2017-10-12 19:42] tosalonijain commented on #2288
I want to take up this issue.

[2017-10-12 20:11] tosalonijain commented on #2288
I want to take up this issue.

[2017-10-13 13:42] jerinphilip commented on #2210
Hey, I'd like to try this.

From what I understannd `GenericMap.save(...)` is what I should use internally.

Do you have any signature for this function in mind - as in, what should be the parameters supplied - perhaps a `prefix_path` or something so I can just name the files as `prefix_path + indexof map`?

[2017-10-13 13:53] wafels commented on #2210
+1
Initially, I think a prefix path is the only parameter that needs to be passed in.

[2017-10-13 20:22] nabobalis commented on #2169
Does not work on the versioned RTD versions.

[2017-10-14 18:25] wafels opened #2303 "Map save needs a test"
The save method for Map needs a test.  It doesn't have one.  I suggest using the hash approach we use for testing our plotting code.  What do you think?  The same approach will also be useful in creating a save test for mapcube - see #2301.

[2017-10-15 04:58] #2295 closed

[2017-10-15 15:38] prateekiiest commented on #2287
@Cadair , working on this issue

[2017-10-15 15:56] Cadair commented on #2287
we won't be merging any work on this for at least 6 months probably, as we are going to do the 0.9 release first then work on this a little way into the next release cycle.

[2017-10-15 16:43] prateekiiest commented on #2287
Ok, we can make it as ready as possible till then

[2017-10-17 17:45] estathe commented on #2294
I add here a link to the code I am using https://gist.github.com/estathe/652a367aafa3a310923b7fc31514100e and to the files https://drive.google.com/open?id=0B54mlsw016xTNUswanhWMUtsRmM .

I am creating a differentially rotated composite map, but I find the same problem even if I don't use the differential rotation function. Basically I would like to plot my map between [-400,0] and [-400,0] arcsec

[2017-10-18 02:22] prateekiiest commented on #2288
@DanRyanIrish what's the default unit for unit_x_axis ?
`u.m` or `u.km`

[2017-10-18 14:46] wafels opened #2307 "Example gallery: how to get fine-grained control of the Stonyhurst grid"
A user has asked about achieving fine-grained control of overplotted Stonyhurst grid.  @Cadair has provided an example of how this can be achieved.  I suggest that an addition to the example gallery be made to show how this can be done.

[2017-10-18 14:52] wafels opened #2308 "Some simple extensions to Map Stonyhurst grid plotting"
The example gallery shows plots where the Stonyhurst grid labels and ticklabels are inconveniently placed.  This doesn't show off the examples very well.  This could be solved, and present the casual user with some useful functionality, by having some simple Boolean switches that switch grid labels and ticklabels on off.

[2017-10-18 16:58] wafels commented on #2285
There is also a pure Python CDF reader at https://github.com/MAVENSDC/cdflib .  I tried it and it works for the example file I tried.

[2017-10-18 16:58] #2285 closed

[2017-10-19 01:43] wafels commented on #218
See also #2294

[2017-10-19 01:51] wafels opened #2311 "Changelog not updated from 0.8 to 0.8.2"
There is no changelog entry with entries for 0.8.1 or 0.8.2.

[2017-10-19 09:07] Cadair commented on #2311
are you looking on the 0.8 branch?

[2017-10-19 13:17] nabobalis commented on #2311
They exist in the 0.8 branch.

[2017-10-19 13:39] wafels commented on #2311
Why are they not in master?

[2017-10-19 13:46] nabobalis commented on #2311
I can fix that, I just felt that updating the Log in the 0.8 branch was the way forward leaving people to add new stuff for 0.9 into master.

[2017-10-19 16:29] wafels commented on #2299
My bad. Provider, Source, Physobs, Level, Resolution, Detector, Quicklook and PScale are all affected.  The fix is pretty simple.  Putting "Notes" and the appropriate number of minus signs underneath "Notes" should fix this.

[2017-10-19 18:32] samaloney commented on #2299
Yea I wasn't sure what it was suppose to look like in my PR #2309 an examples below from my local build. The reference section needs to be updated/removed as well as notes section.

<img width="818" alt="screen shot 2017-10-19 at 19 25 42" src="https://user-images.githubusercontent.com/24570854/31787485-d34fa6a8-b503-11e7-8481-974a8630c443.png">

<img width="812" alt="screen shot 2017-10-19 at 19

[2017-10-19 19:48] wafels commented on #2299
Yous looks better than mine.  I've closed my PR and approved yours.

Sorry about that.

On Thu, Oct 19, 2017 at 2:32 PM, samaloney <notifications@github.com> wrote:

[2017-10-19 20:33] samaloney commented on #2299
No bother, cheers.

On 19 Oct 2017, at 20:48, Jack Ireland <notifications@github.com<mailto:notifications@github.com>> wrote:

Yous looks better than mine. I've closed my PR and approved yours.

Sorry about that.

On Thu, Oct 19, 2017 at 2:32 PM, samaloney <notifications@github.com<mailto:notifications@github.com>> wrote:

—
You are receiving this because you authored the thread.
Reply to this ema

[2017-10-20 11:26] yashkgp commented on #2296
Hey @wafels  Can i get more information on this issue?

[2017-10-20 12:57] wafels commented on #2296
Mapcube animation relies on https://github.com/sunpy/sunpy/blob/master/sunpy/visualization/mapcubeanimator.py .  This code has no tests - see the subdirectory https://github.com/sunpy/sunpy/tree/master/sunpy/visualization/tests . Tests for mapcubeanimator go in this subdirectory.  All the methods for the MapCubeAnimator object will need tests.

[2017-10-21 17:05] dpshelio opened #2314 "Wavelength attribute and namedtuple should have the same way to refer to their things"
In dataretriever a [wavelength namedtuple](https://github.com/sunpy/sunpy/blob/master/sunpy/net/dataretriever/client.py#L202) is created with `wavemin` and `wavemax` names. However, a [`Wavelength` attribute](https://github.com/sunpy/sunpy/blob/master/sunpy/net/vso/attrs.py#L132) has `min` and `max` to access the min and max value of that range.

This is at times confusing, because fido will chang

[2017-10-21 17:08] dpshelio opened #2315 "Some multi-line code samples in the documentation don't render properly"
There are some examples in the documentation that when clicked on `>>>` on the top right corner of the code block for copy/paste the other lines disappear. This is to do with not having `...` in the multiple lines.

[2017-10-21 17:27] Cadair commented on #2315
links to examples?

[2017-10-21 18:16] dpshelio commented on #2315
I'm working on it, PR coming soon.

[2017-10-24 09:53] #2311 closed

[2017-10-24 23:11] alwilliams2433 commented on #2290
I just downloaded sunpy test received almost identical error.  ran pip install pytest mock as well... help

================================== ERRORS ====================================
___________ ERROR collecting coordinates/tests/test_offset_frame.py ___________
ImportError while importing test module 'c:\Anaconda3\lib\site-packages\sunpy\coordinates\tests\test_offset_frame.py'.
Hint: make sur

[2017-10-24 23:17] alwilliams2433 opened #2323 "Hypothesis will not import under conda"
I just downloaded sunpy test received almost identical error to the one on 9/21. I ran pip install pytest mock as well... help!!

================================== ERRORS ====================================
___________ ERROR collecting coordinates/tests/test_offset_frame.py ___________
ImportError while importing test module 'c:\Anaconda3\lib\site-packages\sunpy\coordinates\tests\test_offset_fra

[2017-10-25 01:22] prateekiiest commented on #2323
are you on python 3?

[2017-10-25 01:23] alwilliams2433 commented on #2323
yes. 3.6.1

On Tue, Oct 24, 2017 at 9:22 PM, Prateek Chanda <notifications@github.com>
wrote:

[2017-10-25 01:28] prateekiiest commented on #2323
the import formats in python 3 and 2 are different. So you are getting an error since your using py3 and the import format there is in py2

[2017-10-25 01:29] prateekiiest commented on #2323
we have an issue which you can check here https://github.com/sunpy/sunpy/issues/2287

@Cadair, what do you say?

[2017-10-25 01:29] alwilliams2433 commented on #2323
ok I thought I was using py3 installation.  Thank you soooo much!

On Tue, Oct 24, 2017 at 9:28 PM, Prateek Chanda <notifications@github.com>
wrote:

[2017-10-25 07:14] Cadair commented on #2323
This is an issue with the latest version of the hypothesis conda package.

@alwilliams2433 your sunpy installation will work fine as we only use hypothesis for tests. We are working on a fix for this with the hypothesis package maintainers.

[2017-10-25 09:31] dianamorosan opened #2324 "Map plotting does not work without WCSAxes"
I have a data set 600x600 that represents electron densities and I'm trying to put it into a sunpy map like so:
[code]
`den_map.peek()` works fine but when I try to use `den_map.plot()` I get the following error that doesn't make much sense:
[code]
This was tested on an older version of sunpy and it works fine but doesn't work with 0.8.1. Any help would be much appreciated.

[2017-10-25 09:35] nabobalis commented on #2290
@alwilliams2433 Unfortunately right now, the latest conda package for hypothesis is broken.

I would suggest a downgrade from 3.33, but hypothesis broken should not affect the usage of core sunpy, just the tests.

[2017-10-25 10:36] Cadair commented on #2324
Hi @dianamorosan I can not replicate this on my local machine, I ran the following code:
[code]
and I got a plot without any error (just a lot of warnings about default info).

Can you post the output of `sunpy.system_info()` to see if I can spot anything obviously wrong.

[2017-10-25 10:45] dianamorosan commented on #2324
Hi, here is the output of sunpy.system_info():

==========================================================
 SunPy Installation Information

==========================================================

###########
 General
###########
Time : Wednesday, 25. October 2017 10:43AM UT
System : Darwin
Processor : i386
Arch : 64bit
SunPy : 0.8.1
SunPy_git : 69507e4df8f9280f4bada4b64015d556df768368
OS: Mac

[2017-10-25 11:51] dianamorosan commented on #2324
I think I figured it out. @Cadair the code you sent above works fine for me. I got the error when I tried to plot the map as a subplot:

In [1]:  import matplotlib.pyplot as plt
   ...:  import numpy as np
   ...:  import sunpy.map
   ...:  fig = plt.figure( 0, figsize = (14, 7))
   ...:  ax1 = plt.subplot2grid((1,2), (0,0))
   ...:  data = np.random.random((600,600))
   ...:  header = {'cdelt1':2

[2017-10-25 15:50] Cadair commented on #2324
You appear to have found a real, and rather serious, bug.

code:
[code]
result:
![figure_1](https://user-images.githubusercontent.com/1391051/32008642-a42119ac-b9a4-11e7-894d-0af9dba6f329.png)

[2017-10-25 15:52] Cadair commented on #2324
alternative error:
[code]
[code]

[2017-10-25 16:02] wafels commented on #2324
a_map.peek() works.

[2017-10-25 16:46] wafels commented on #2315
Closed by #2317.

[2017-10-25 16:46] #2315 closed

[2017-10-25 16:47] wafels commented on #2299
Closed by #2309

[2017-10-25 16:47] #2299 closed

[2017-10-25 17:03] Cadair commented on #2323
The broken package has now been flagged as such on conda-forge so this should not affect any new users.

[2017-10-25 17:04] alwilliams2433 commented on #2323
Thank you all for responding...

On Wed, Oct 25, 2017 at 1:03 PM, Stuart Mumford <notifications@github.com>
wrote:

[2017-10-25 19:10] #2323 closed

[2017-10-25 19:10] Cadair commented on #2323
@alwilliams2433 thank you for the bug report. :)

[2017-10-25 20:00] DanRyanIrish commented on #2288
Hi @prateekiiest and @tosalonijain.  Apologies for the delay in replying but I've only just returned from holiday and am catching up with things.

The ```unit_x_axis``` will not necessarily be length.  It will depend on the WCS object.  It's probably easiest if the default units are ```None``` which means the data values will automatically be in the wcs object's units.  Then if the units are set b

[2017-10-26 14:16] Cadair commented on #2324
with a non-wcsaxes?

[2017-10-26 14:36] wafels commented on #2324
No - I was just a check of using the map plot method versus the map peek method.  That's all.

[2017-11-01 17:41] #2294 closed

[2017-11-02 16:48] wafels opened #2328 "Enhancing off-limb emission - wrong legend"
The existing legend in the "Enhancing off-limb emission" example describing the function that is fit is wrong.  The function should be an exponential decay with radius, not a power law.  Also, the x-axis caption should read "radius (R_sun)", since the units are solar radii.  The scale_factor function is wrong too, and so the resulting enhanced map is not right.

[2017-11-02 17:11] wafels commented on #2328
Example fixed version

![figure_3](https://user-images.githubusercontent.com/983575/32339825-4478d932-bfcf-11e7-8f8c-a5ea06d366d8.png)

[2017-11-04 07:33] wtbarnes opened #2331 "Use aiaprep with maps besides AIA"
[There is a line in `sunpy.instr.aia.aiaprep`](https://github.com/sunpy/sunpy/blob/master/sunpy/instr/aia.py#L45) that throws an error if `aiaprep()` is called on any Map other than an AIA map. However, this function is still useful for centering and derotating other maps, e.g. if one were to overplot AIA emission on an HMI map.

Could this check be removed so that aiaprep can be called on maps be

[2017-11-04 10:41] larrymanley commented on #2331
It is AIA-specific because it adjusts the plate scale (arcsec/pixel) to 0.6.  Keep in mind that AIA is 0.6, but HMI is 0.5.  Take a look at the code in issue #1697 for an example of compositing AIA and HMI

[2017-11-04 23:51] wtbarnes commented on #2331
Ah ok. Forgot about the plate scale values.

The example in that PR should really be added to the gallery example then. I've tried using masked Numpy arrays with composite maps, but for whatever reason the mask is completely ignored once the composite map is created. So if clipping works, then this should be advertised.

[2017-11-04 23:52] #2331 closed

[2017-11-06 17:55] wafels opened #2333 "Gamma in map doesn't do anything"
The gamma parameter doesn't do anything in map and should be removed.  It has been superseded by the much better functionality in map.plot_settings.

[2017-11-07 12:21] samaloney commented on #2324
This issue seem to also effect certain map instance properties such as `top_right_coord` and `bottom_left_coord`

[2017-11-08 15:42] #1495 closed

[2017-11-08 15:59] chuwyler opened #2334 "GOESLightCurve is stuck on the first day of the timerange"
When passing a TimeRange to GOESLightCurve.create(), GOESLightCurve considers only the first day of the time range instead of downloading also data from the rest. The following is an example:

[code]

As can be seen above, the time range does not reach 2014-07-24. We can also have a look at the index and see a consistent outcome:

[code]
I use the most recent sunpy 0.8.2 installed via `pip install

[2017-11-08 16:08] Cadair commented on #2334
This is a known limitation of lightcurve.

SunPy 0.8 includes timeseries which is designed to replace lightcurve and does not suffer this limitation. I suggest you switch to using timeseries.

[2017-11-08 16:45] aringlis opened #2335 "FIDO XRSClient query results are mislabeled"
When using FIDO to search for and download GOES XRS data, the results from a FIDO.search() are mislabeled, although the actual downloaded files are correct. For example:

    from sunpy.net import Fido
    from sunpy.net import attrs

    files = Fido.search(attrs.Time('2011-06-07','2011-06-09'),attrs.Instrument('goes'))
    files

    <sunpy.net.fido_factory.UnifiedResponse object at 0x1155c7ed0>

[2017-11-08 16:48] Cadair commented on #2335
@dpshelio didn't you do some work on making it possible to fix this? I am sure we have talked about this before somewhere.

[2017-11-09 12:20] nabobalis commented on #2328
Closed via #2329

[2017-11-09 12:20] #2328 closed

[2017-11-09 13:56] chuwyler commented on #2334
Ok, thanks for the hint! Sorry, I could have read a bit more into the LightCurve documentation, there's a nice warning on top..

[2017-11-09 13:56] #2334 closed

[2017-11-09 14:09] Cadair commented on #2334
No worries, I hope timeseries works for you!

[2017-11-22 21:17] dstansby opened #2348 "Class methods not in documentation"
e.g. http://docs.sunpy.org/en/stable/api/sunpy.net.fido_factory.UnifiedResponse.html doesn't contain documentation for the class methods of `UnifiedResponse`.

[2017-11-22 21:23] dstansby commented on #2348
Another example which I guess is the same problem: I can't find any API docs for `draw_limb`: http://docs.sunpy.org/en/stable/search.html?q=draw_limb

[2017-11-25 20:05] dstansby commented on #2348
After lots of digging, this seems to be a one-off problem with `UnifiedResponse`, and I have no idea why. The automatically generated `.rst` file is missing it's method documentation:

[code]
but it should look like the `UnifiedDownloaderFactory` generated file:
[code]

[2017-11-30 18:16] himanshukgp opened #2352 "Figure out how .peek() should behave"
Currently peek() works does not display in Ipython Notebook inline.

peek should not block the execution of a script.  It should display in an interactive session and allow the code to continue.

In non-interactive scripts, `plt.show` should be used.

Also check to make sure it works in iPython notebooks or whatever they are called now.

[2017-12-06 09:12] #2290 closed

[2017-12-10 14:18] #2324 closed

[2017-12-12 16:10] Cadair commented on #2307
The example I provided is this: https://groups.google.com/d/msg/sunpy/Mxo8f9PKMdw/cm_DuJvwAQAJ for reference.

[2017-12-13 17:34] Cadair opened #2375 "Support HPC->HPC transformation with different obstime"
i.e.
[code]
a hpc frame has an observer and an obstime. If the observer is a string representing a planetary body I.e. "earth" the position of earth will be calculated based on the obstime attribute.
The point of the issue is to support transforms where the position of the observer is recalculated for a different obstime

You will need to go and look at all the observer attribute code and understa

[2017-12-13 19:33] #2335 closed

[2017-12-13 19:43] Cadair opened #2376 "Post Python 2: Convert Data Downloader to asyncio over threading"
When we are Python 3.5+ we can refactor the data downloader to use asyncio over threading. This will enable the use of better progress bar and resume options in a substantially easier to maintain code base.

This is only possible post-0.9

the objectives of this re-write include:

* Better progress bar with notebook support (#2773)
* Consistent and sensible file overwriting functionality
* A much

[2017-12-13 20:47] Cadair commented on #2376
I started implementing this as a standalone library here: https://github.com/Cadair/parfive

[2017-12-14 08:58] nabobalis opened #2377 "Decorator to be able to prepend and/or append to doc strings"
Once #2369 is merged in we have under `sunpy/sun/sun.py`, a decorator (called `add_parameter_docs`) that we use to append to the functions under `sun.py` as they all take the same parameter input.

We would like this to moved under to `sunpy/util/decorators.py` where we can import this function more generally as well as let it take arguments allowing us to pass in a prepend and/or append argument

[2017-12-15 14:59] Cadair commented on #2089
After a bunch of research it seems that Zeep is the best contender for replacing suds. It would be good to get this done for 0.9 so we do not have to maintain the version with the `suds-jurko` dependancy till ~2020

[2017-12-15 15:01] Cadair opened #2380 "Fix broken links in the docs"
Thanks to @astrofrog on twitter I learned that if you run:

[code]

from inside the `docs/` directory you get a report of the status of all the URLs in your docs. When I ran this I got the following broken links:

[code]

[2017-12-15 15:02] Cadair commented on #2380
It looks like the Riot ones there will always fail. I don't think it will be possible to get that list to zero. Still it would be worth updating them where possible.

[2017-12-15 17:02] wafels commented on #2380
Must be pretty strict.  Some of links when clicked on automatically
re-direct to their https versions.

On Fri, Dec 15, 2017 at 9:02 AM, Stuart Mumford <notifications@github.com>
wrote:

[2017-12-15 17:12] nabobalis commented on #2380
Well redirects can be dangerous.

We could fix most of those. Something for someone to spend some time in.

On Dec 15, 2017 18:02, "Jack Ireland" <notifications@github.com> wrote:

[2017-12-16 21:38] abhisekupadhyaya commented on #2375
Hi. I would like to work on this.

[2017-12-17 12:27] nabobalis opened #2381 "SunPy test runner should include docs directory"
Using pytest directly results in some test skipping when they should not. Thus we should move back to ``python setup.py`` when possible.

Two solutions:
 - Update the SunPy one
 - Move to the Astropy one

[2017-12-17 12:56] #2303 closed

[2017-12-17 16:55] Cadair opened #2382 "Rhessi Fido queries can not span multiple months"
The code in `instr.rhessi` only returns the database files for the month of the start time. It needs to return a list for every month in the time range.

[2017-12-18 10:06] swapsha96 commented on #2265
Where do I find these two tests?

[2017-12-18 10:15] swapsha96 commented on #211
@nabobalis I would like to work on 3 functions mentioned above:
- sunpy.load_sample('xxx')
- sunpy.list_samples()
- sunpy.download_sample('yyy')

Can you guide me through this? Where do you want me to start from?

[2017-12-18 10:38] #1321 closed

[2017-12-18 11:04] nabobalis commented on #211
@swapsha96 Thanks! But the original issue was solved (in the sunpy/sample-data repo) and I do not agree with khughitt on having separate functions to list and download the sample data. I am in favour of only being able to download the entire sample data set.

So I will close this issue and I think it is solved.

[2017-12-18 11:04] #211 closed

[2017-12-18 11:05] Cadair opened #2383 "Post Python 2: Refactor `parse_time` to use the singledispatch module"
The list of if statements in `parse_time` is a perfect usecase for the generic programming style provided by the [singledispatch](https://docs.python.org/3/library/functools.html#functools.singledispatch) module in the standard library.

*This can not be done until after 0.9*

[2017-12-18 11:11] nabobalis commented on #2265
@swapsha96 That is a good question! I did not add enough text to this issue when I first opened it.

They are found under `sunpy/net/dataretriever/tests/test_goes_ud.py`.
They are called `test_get` and `test_new_logic`.

We had them never completing and we disabled them. The problem might be fixed with more up to date versions of Hypothesis and Pytest but I have not test it.

[2017-12-18 11:30] Cadair opened #2384 "Post Python 2: Refactor Map and Timeseries factory to use singledispatch in `__call__`"
This would remove the large amount of nested if statements, and also allow user code and other packages to add extra argument parsing to the factories.

[singledispatch](https://docs.python.org/3/library/functools.html#functools.singledispatch)

*This can not be done until after 0.9*

[2017-12-18 16:27] wafels commented on #1959
Recommend that this is closed.

[2017-12-18 16:27] #1959 closed

[2017-12-20 17:34] #1972 closed

[2017-12-20 17:46] Cadair commented on #2376
see also #1280

[2017-12-21 15:11] swapsha96 commented on #210
@Cadair @nabobalis Currently, I am writing tests for `sunpy.cm`. I've written [something](https://github.com/swapsha96/sunpy/blob/test-cm/sunpy/cm/tests/test_cm.py), but that's nothing. Can you help me with this?

[2017-12-23 15:16] nabobalis opened #2390 "Astropy Master Breaks Coordinates"
We currently break under the master version of astropy as they are changing various items for their next major release (3.0.0).

Current Output from Travis.
[code]

[2018-01-08 04:56] swapsha96 opened #2392 "Incorrect date string format"
The string in line [317](https://en.wikipedia.org/wiki/ISO_8601) of [differential_rotation.py](https://github.com/sunpy/sunpy/blob/master/sunpy/physics/differential_rotation.py) doesn't follow ISO-8601 representation that is widely accepted. Below is the examples from [wikipedia](https://en.wikipedia.org/wiki/ISO_8601):
[code]
The second one is mostly used to display `datetime` in isoformat. THe c

[2018-01-08 08:25] jnanjekye commented on #2377
@Cadair , nabobalis. I would love to work on this.

[2018-01-08 08:32] nabobalis commented on #2377
@jnanjekye Thanks for the interest, unfortunately PR #2386 exists that tackles this issue.

Feel free to tackle another issue and if you get stuck, send a message here and me or @Cadair should get in touch. Otherwise we have the [matrix channel.](https://riot.im/app/#/room/#sunpy:matrix.org)

[2018-01-08 08:48] jnanjekye commented on #2377
Noted.

[2018-01-08 08:49] nabobalis opened #2394 "New NumPy update breaks some of the documentation tests"
NumPy v1.14.0 updates the way that arrays and numbers are printed to the terminal. As we use this alot in the documentation testing, we have a problem.

Fixing this will mean running the documentation tests locally, checking the print out and changing the current results to the now expected results. Probably just to simpler to run the documentation code in a terminal and then copy and paste termin

[2018-01-08 09:51] nabobalis commented on #2377
@jnanjekye I would suggest having a look at the [Package Novice](https://github.com/sunpy/sunpy/labels/Package%20Novice) label. Those should be good starter issues to tackle, though some of them are not small fixes, the `Effort` label gives a rough indication of the scale of the problem.

[2018-01-10 12:19] yashkgp commented on #2394
Hey @nabobalis, I want to work on this issue. Will I have run all the codes in the documentation?

[2018-01-10 12:27] nabobalis commented on #2394
@yashkgp, you would have to run the SunPy test suite locally using `pytest -k-figure` after having configured the local python environment with all our test depencides and having the main repo cloned locally. That should print out to your terminal all the test failures (you could pipe it to a file instead).

You could also have a look at the travis jobs and see the output there.  But I have not ch

[2018-01-10 16:37] CaptainDaVinci opened #2396 "Typo in CONTRIBUTION.md file"
Point 5 under [this sub heading](https://github.com/sunpy/sunpy/blob/master/CONTRIBUTING.md#making-a-code-or-documentation-contribution) should be "Create a pull request", I think.

[2018-01-10 17:00] CaptainDaVinci commented on #2380
Redirected links should also be fixed or just the broken links?

[2018-01-10 17:00] nabobalis commented on #2380
Go with both.

[2018-01-10 17:12] #2396 closed

[2018-01-11 11:19] CaptainDaVinci commented on #2352
The call to `show()` should be made on `pyplot` object not on a `Figure` object.

[2018-01-11 13:17] Cadair opened #2400 "Fido.fetch should accept pathlib.Path objects."
i.e.:

[code]

[2018-01-11 17:30] jmason86 opened #2401 "Fido implement the "limited support" attributes available in IDL vso_search"
There are several parameters in [vso_search](http://docs.virtualsolar.org/wiki/VsoIDL/VsoSearch) for IDL that aren't available in [net/vso/attrs](https://github.com/sunpy/sunpy/blob/master/sunpy/net/vso/attrs.py). Mostly things in the IDL header under "Keywords with limited support". For example, ```layout``` and ```wavetype```.

This issue was discovered when I was seeking a way to filter SDO/EVE

[2018-01-12 02:34] cmolinaord commented on #2380
Hi. I'm working on this issue. I've fixed the redirected links, and I may spend a bit more time with the broken ones, because sometimes I have to google to find the page that is intended to be linked.
You can see my progress (only the redirects) in my fork. And when I'll finish, I'll do the PR.

[2018-01-12 19:39] cmolinaord commented on #2380
Hi! I'm having a problem when trying to fixing this . To see what I've already changed I run make linkcheck in docs/ but as a result I obtain redirects and broken links that I've already fixed (and they don't appear in the project). Do you know what it's happening? Do I need to re-compile something?

[2018-01-13 06:29] yashkgp commented on #2394
@nabobalis I ran the test locally with NumPy v1.14 , Its passing all the test . The result of the test was :
[code]
Numpy version that I am using
[code]

[2018-01-13 10:56] dpshelio commented on #2380
@cmolinaord feel free to create a PR as soon as you start working on this, so we can help you straight away.

[2018-01-13 14:57] nabobalis commented on #2394
@yashkgp I suspect you used the wrong method to call the doctests.
`sunpy.self_test()` or the `python setup.py test` do not call the doctests. It is a known issue that will hopefully be fixed eventually. You have to call pytest directly with `pytest -k-figure` from the main sunpy folder.

You should see 1500+ tests and these [results.](https://travis-ci.org/sunpy/sunpy/jobs/328136830) Note that as

[2018-01-14 07:12] jnanjekye commented on #2400
Would love to work on this.

[2018-01-15 08:02] swapsha96 commented on #2392
@Cadair @dpshelio @nabobalis

[2018-01-15 09:43] Cadair commented on #2392
@swapsha96 Sorry to be the bearer of bad news on this one, but it shouldn't have the `Z` on the end.

The metadata dicts used in map are reformulated FITS headers, and therefore need to maintain compatibility with the [FITS standard](https://fits.gsfc.nasa.gov/fits_standard.html), to quote from the FITS time standard paper:

[[1]](https://www.aanda.org/articles/aa/full_html/2015/02/aa24653-14/aa24

[2018-01-15 09:43] #2392 closed

[2018-01-15 15:26] yashkgp commented on #2394
Hey @nabobalis
I have send a PR .Can you give it a look?

[2018-01-15 15:29] yashkgp commented on #2382
Hey @Cadair . Can I work on this Issue?

[2018-01-15 15:36] nabobalis commented on #2394
@yashkgp Sure

[2018-01-15 15:36] nabobalis commented on #2382
@yashkgp You don't need to ask for permission to work on issues!

[2018-01-15 22:03] wtbarnes opened #2405 "XRT reader adds non-standard value for FITS keyword"
The [current XRT map reader](https://github.com/sunpy/sunpy/blob/master/sunpy/map/sources/hinode.py#L24) adds the `wavelnth` keyword to the map metadata and populates it with the value `np.nan`. This is a problem because `nan` is a non-standard value for a FITS keyword so when trying to save a map, Astropy will raise an error.

To reproduce this error, download your favorite XRT FITS file `my_xrt_

[2018-01-16 10:38] Cadair commented on #2400
@jnanjekye feel free. Ask here or in our matrix channel if you need any pointers.

[2018-01-16 15:46] dstansby opened #2406 "Coordinate transformation chart too wide for page"
http://docs.sunpy.org/en/stable/code_ref/coordinates.html - scroll the to the bottom, and the transformation chart is too wide for the page. It's also not possible to scroll right to see the rest - the only way is to make the browser window possible or zooming out.

[2018-01-16 15:55] jmason86 opened #2407 "Support EVE Level 2 emission lines data in timeseries"
Currently, the only EVE data supported in sunpy is Level 0CS (space weather related product). Level 2 is the main science level, which consists of two products: spectra and extracted emission lines. This issue is to provide support for the lines through the timeseries module. Support for spectra should go to a separate (larger) issue.

It will require writing the python version of ```eve_read_whol

[2018-01-16 16:10] prateekiiest commented on #2333
so I suppose removing all such instances will do.

@wafels are you working on it currently?

[2018-01-16 16:20] yashkgp commented on #2382
Do you the code in the function `get_obssumm_file` to return database-files for every day in the time range or only start of every month  time range.

[2018-01-16 19:14] jmason86 commented on #2407
Sample data for this should be added to the automatic download into sunpy/data/sample_data.
There is now: 20110607_EVE_L0CS_DIODES_1m.txt, and similar for AIA, etc. Will just need to add the appropriate evl_ file, corresponding to the same date as all the other sample data.

[2018-01-16 19:19] jmason86 commented on #2407
Embedded in the return of this function will be the ```.data``` parameter, which will be a ```pandas.DataFrame```, just as other ```timeseries``` data are (e.g., [LYRA](http://docs.sunpy.org/en/stable/api/sunpy.timeseries.RHESSISummaryTimeSeries.html#sunpy.timeseries.RHESSISummaryTimeSeries) and [RHESSI](http://docs.sunpy.org/en/stable/api/sunpy.timeseries.RHESSISummaryTimeSeries.html#sunpy.timese

[2018-01-16 19:38] vermashresth commented on #2383
Hi @Cadair
I would like to work on this but I have some doubts. Singledispatch works with dispatching on arument based on type but here, in some cases, we are using specific values like `elif time_string is 'now':` and also some cases have an additional boolean condition like `elif isinstance(time_string, pandas.Series) and 'datetime64' in str(time_string.dtype)`. Can you please suggest how should

[2018-01-16 19:44] Cadair commented on #2383
@vermashresth I am not entirely sure, I would imagine that some of the functions will have to have extra conditionals and checks inside the functions.

[2018-01-17 21:29] dpshelio commented on #2406
Could a solution be that we show a thumbnail that expands when clicked?

[2018-01-17 22:54] dstansby commented on #2406
Possibly - on the corresponding astropy page scrolling to the right is possible, so maybe that could be changed on the sunpy website too?

[2018-01-18 19:55] jmason86 commented on #2407
The resolution of this issue is now dependent on [one in astropy being resolved (7092)](https://github.com/astropy/astropy/issues/7092) in order to convert the time provided by EVE (yyydoy, sod) to a pandas DatetimeIndex.
I have some of [my own code that can do this conversion internally for now to get the job done](https://github.com/jmason86/python_convenience_functions/blob/master/jpm_time_conv

[2018-01-19 08:36] #2377 closed

[2018-01-19 13:17] wafels opened #2413 "More examples in the gallery on simple map and mapcube manipulation"
The gallery should include some examples of simple operations on maps.  These include how to make running difference maps and mapcubes, base difference maps and mapcubes, persistence transform maps and mapcubes, color scaling of difference maps and mapcubes, overplotting of multiple maps in the same matplotlib Axes instance.

Although these examples are relatively simple, they represent common ope

[2018-01-19 17:33] swapsha96 commented on #431
@Cadair close?

[2018-01-19 17:50] swapsha96 commented on #1051
@Cadair Looks like `sunpy.self_test('net')`. Could you please tell me which test file is not executed when this command is run?

[2018-01-19 18:15] swapsha96 commented on #1753
@ehsteve @Cadair I would like to work on this.

[2018-01-19 18:20] swapsha96 commented on #1859
@dpshelio Could you please guide me through this?

[2018-01-20 14:26] getsanjeev commented on #2284
@Cadair If this is an error related to sunpy (not a VSO fault), I would like to give it a try. Should I start?

[2018-01-21 18:14] abhayjindal51 commented on #2383
Hi @Cadair
I would like to work on this issue.

[2018-01-22 13:48] getsanjeev commented on #2284
@Cadair Is there a way to know how VSO reacts to our queries, I mean how does it parses our query?

[2018-01-22 14:22] getsanjeev commented on #2406
@dpshelio @dstansby  I would love to do it, following any method (either thumbnail option or adding a horizontal scroller). I would prefer the former to preserve uniformity. May I start?

One third option can be to add Horizontal scroller to the this section only, as done above in the layout.
![selection_086](https://user-images.githubusercontent.com/20872683/35225226-bbb9ad32-ffad-11e7-99e3-cf46b

[2018-01-22 14:43] getsanjeev commented on #2406
An obvious quick fix is to set width = 100 % in object tag. But it is somewhat less clear, It would look like this :
![77e75d94-f2be-4ccd-ae36-e3d2b960ecfd](https://user-images.githubusercontent.com/20872683/35226093-43aed5ee-ffb0-11e7-9e6a-695c5a945b9a.jpeg)

[2018-01-22 15:01] getsanjeev commented on #2406
An obvious quick fix is to set width = 100% in object tag. This would look like -

![option_2](https://user-images.githubusercontent.com/20872683/35226885-9d98338c-ffb2-11e7-9125-f7e716a947c6.jpeg)

But this is somewhat less clear, So I would suggest going with the third option (putting a horizontal scroll bar in the section) would be better. This results in :

![horizontal_scroll_bar](https://use

[2018-01-22 15:08] nabobalis commented on #2406
This is most likely only fixable at the [sunpy-sphinx-theme](https://github.com/sunpy/sunpy-sphinx-theme).

[2018-01-22 15:18] getsanjeev commented on #2406
@nabobalis I did not get that. Can you please elaborate it?

[2018-01-22 15:26] nabobalis commented on #2406
The documentation is built using a custom theme. So if html or CSS changes are required, it's mostly going to be made there and not here. However, that's a guess since I've never dealt with those images directly.

[2018-01-22 15:47] dstansby opened #2419 "Some coordinate frames aren't well defined"
I'm trying to understand some of the coordinate frames build in to SunPy, but some of the documentation doesn't give enough information to understand how the frames are defined:

- [ ] [HeliographicCarrington](http://docs.sunpy.org/en/latest/api/sunpy.coordinates.frames.HeliographicCarrington.html#sunpy.coordinates.frames.HeliographicCarrington):
Not clear what the zero-longitude is defined as. ("

[2018-01-22 15:51] Cadair commented on #2419
@dstansby I am painfully aware of the deficiencies in the SunPy docs with respect to the definitions of the frames. I should really get back to working on my documentation of that.

To answer your questions:

1. The offset in heliographic is the longitude offset 0-306 deg based on the time in the current carrington rotation. i.e. it's 0 every 27 days.

2. Yes, the origin is at the centre of the Su

[2018-01-22 16:39] jmason86 opened #2420 "timeseries/sources/* peek functions sometimes accept kwargs but don't pass them to plot"
Some of the files under timeseries/sources/ accept ```**kwargs``` for the ```peek``` function but do not then pass them to the plot function.
It looks like this is presently the case for:

- fermi_gbm.py
- goes.py (this peek function doesn't accept ```kwargs``` at all but does include it in the docstring
- noaa.py
- norh.py
- rhessi.py

[2018-01-22 16:51] nabobalis commented on #2406
Send a PR, I'd go for a slider myself and apply it to all the graphs if we can.

[2018-01-22 16:55] nabobalis commented on #2406
But we can change things around if need be.

[2018-01-22 19:16] getsanjeev commented on #2405
I did grep in /../../sunpy/ to find usage of "wavelnth" in the project. This is what I got :

sunpy/map/tests/test_mapbase.py:        'wavelnth': 10,
sunpy/map/tests/test_mapbase.py:            'wavelnth': 10,
sunpy/map/tests/test_mapbase.py:        'wavelnth': 10,

sunpy/map/mapbase.py:        return u.Quantity(self.meta.get('wavelnth', 0),
sunpy/map/mapbase.py:        return u.Quantity(self.meta

[2018-01-22 19:32] getsanjeev commented on #2405
I did grep in /../../sunpy/ to find usage of "wavelnth" in the project. This is what I got :

sunpy/map/tests/test_mapbase.py: 'wavelnth': 10,
sunpy/map/tests/test_mapbase.py: 'wavelnth': 10,
sunpy/map/tests/test_mapbase.py: 'wavelnth': 10,

sunpy/map/mapbase.py: return u.Quantity(self.meta.get('wavelnth', 0),
sunpy/map/mapbase.py: return u.Quantity(self.meta.get('wavelnth', 0),
sunpy/map/sources/

[2018-01-22 19:58] getsanjeev commented on #2405
@wtbarnes @nabobalis  It seems clearly that except for few (iris and rhessi) we are not currently utilising "wavelnth" keyword (populating them nan) and that will cause an error as mentioned in the issue. We have two ways to go about it --
1. Remove this meta data keyword from the ones we are [not using & setting them nan].
2. Set some default value, may be negative number and check them while rea

[2018-01-22 20:07] getsanjeev commented on #2400
@Cadair If it is still not assigned, I would love to give it a try. Should I start?

[2018-01-23 09:08] nabobalis commented on #484
Closed by #2416

[2018-01-23 09:08] #484 closed

[2018-01-23 16:18] dpshelio commented on #1859
@swapsha96 The idea would be to remove the prints and change them by log entries, probably using a logging system that astropy has (linked above). I haven't thought much on the implementation, but we could also follow astropy on that.

[2018-01-23 17:30] getsanjeev opened #2425 "pip install dateutil doesnot work in requirements/extra.txt"
While installing dependecies for docs in sunpy, we need dateutil library which should be installed using -

pip install **python-dateutil**

and not using pip install dateutil. This would help in adding dependencies from pipy all at once.

[2018-01-24 17:13] #2333 closed

[2018-01-24 17:55] Cadair commented on #2405
It was agreed at the meeting that we should just remove any instance of `meta['wavelnth'] = nan`. i.e. not have 'wavelnth' in the header. This is because the header should be FITS compliant and `GenericMap` will handle missing 'wavelnth' gracefully.

[2018-01-24 18:13] getsanjeev commented on #2405
@Cadair  So I just need to remove these instances of self.meta['wavelnth'] = np.nan from all the maps (derived from GenericMap). RIght?

[2018-01-24 18:58] Cadair commented on #2405
Yes please

[2018-01-24 20:04] getsanjeev opened #2428 "python setup.py build_sphinx throws DBAccessError error while generating gallery"
While generating gallery with the command given in documentation :
    python setup.py build_sphinx -o
The following erro is thrown -
WARNING: /home/sherlock/miniconda3/sunpy-git/examples/hmi_synoptic_maps.py failed to execute correctly: Traceback (most recent call last):
  File "/home/sherlock/miniconda3/sunpy-git/examples/hmi_synoptic_maps.py", line 26, in <module>
    'http://jsoc.stanford.edu/

[2018-01-24 20:09] nabobalis commented on #2428
Are you using anaconda or system python?

[2018-01-24 20:12] getsanjeev commented on #2428
I have setup miniconda environment (just a chance - not well setup), but I followed sunpy documentation and have ensured that I am in my sunpy-dev environment.

Any quick way to check my environment? I am also looking at internet to understand it better.

[2018-01-24 20:13] nabobalis commented on #2428
Well your error stems from a python 2.7 issue from your system python. You seem to have a anaconda 3 setup, so it should error from within that.

[2018-01-24 22:27] MSKirk opened #2430 "Map not recognizing EIT coordinates."
Something is messed up with the EIT map coordinates. The meta data and WCS looks OK at first glance, but the coordinate grid isn't being translated properly.

`from sunpy.map import Map`
`eit=Map(sunpy.data.sample.EIT_195_IMAGE)`
`eit.peek()`

![eit_example](https://user-images.githubusercontent.com/5497326/35360322-5ac25432-012b-11e8-8554-218c427f171d.png)

[2018-01-24 22:33] getsanjeev commented on #2428
Yes right, error stems from python 2.7. And yes my conda version is 3.

[2018-01-24 22:45] getsanjeev commented on #2428
@nabobalis yeah everything is working! I am closing the issue.

[2018-01-24 22:45] #2428 closed

[2018-01-24 22:45] nabobalis commented on #2428
I'm happy you fixed the issue!

[2018-01-24 22:58] #2394 closed

[2018-01-25 00:48] wtbarnes commented on #2419
@dstansby If you haven't already, take a look at the [Thompson (2006)](http://adsabs.harvard.edu/abs/2006A%26A...449..791T) paper. It defines the all of the coordinate frames/systems quite clearly. Of course this still doesn't solve the problem of the documentation being a bit difficult to parse. Continually pointing people towards a paper is not a great solution...

@Cadair It'd probably be helpf

[2018-01-25 10:08] Cadair commented on #2430
This should be fixed by #2398

[2018-01-25 10:11] Cadair commented on #2419
I have been working on a detailed description of the frames for a number of years! I have a draft of the prose, I am still working on the diagrams though.

[2018-01-25 13:58] MSKirk commented on #2430
I am using version 0.8.2, was it back-ported?

[2018-01-25 14:03] nabobalis commented on #2430
Yes to the next release which I have not released yet.

[2018-01-25 14:28] MSKirk commented on #2430
In `mapbase.py`,  `pixel_to_world` also returns `SkyCoord` using `frame=self.coordinate_frame` causing similar issues.

[2018-01-25 15:15] MSKirk commented on #2430
Does #2398 also fix "Warning: Missing metadata for Carrington longitude: assuming Earth-based observer" when querying the `eit.wcs`?

[2018-01-25 15:17] nabobalis commented on #2430
No it probably only fixes the plotting issue.

[2018-01-25 15:18] nabobalis commented on #2430
So we might need to change it in mapbase as well?

[2018-01-25 15:39] MSKirk commented on #2430
@wafels and I are looking into what exactly needs to be changed.

[2018-01-25 15:52] Cadair commented on #2430
Can you elaborate on that? If there is something wrong with that it's a very different bug.

[2018-01-25 16:45] dstansby commented on #2419
Ah, sorry I didn't realise. If you have something better I'm happy to close my PR?

[2018-01-25 17:05] dstansby commented on #1442
This would be quite a nice addition to HelioPy if SunPy doesn't mind it being stolen. Last I remember trying to get DISCOVR data it involved a horrible online form though, so I'm not too sure how easy it'll be to automate downloading the data.

[2018-01-25 17:07] dstansby commented on #798
I *think* I might have fixed this with https://github.com/sunpy/sunpy/pull/2370 ?

[2018-01-25 17:15] wtbarnes opened #2433 "Add HEEQ coordinates frame"
Feature request for a heliocentric earth equatorial (HEEQ) coordinates frame. Essentially, this is a "de-tilted" HCC frame with the axes permuted such that the z-axis is aligned with the North Pole of solar rotation axis.

 For more details, see [Thompson (2006)](http://adsabs.harvard.edu/abs/2006A%26A...449..791T) and [Hapgood (1992)](http://adsabs.harvard.edu/abs/1992P%26SS...40..711H).

[2018-01-25 17:28] jmason86 opened #2434 "get_goes_event_list doesn't return for TimeRange > several months"
get_goes_event_list queries the HEK. @Cadair says that the HEK doesn't seem to do well with ```TimeRange``` values measured in large numbers of months. I've presently been waiting 16 hours for the event list return for a 4 year time range for flares > C1.0 (I assume it is actually hung). The equivalent method ([rd_gev.pro](http://www.heliodocs.com/php/xdoc_print.php?file=$SSW/gen/idl/fund_lib/yohk

[2018-01-25 19:01] jmason86 commented on #2434
[Here's a NOAA site](ftp://ftp.ngdc.noaa.gov/STP/swpc_products/daily_reports/solar_event_reports/) for events that is more up to date, but doesn't stretch back as far.

[2018-01-25 20:18] Cadair commented on #2419
No! Yours is very welcome, I have been attempting to write some decent narrative docs to explain them to people. At this point it might never actually happen 😁

[2018-01-25 20:21] jmason86 commented on #2434
After contacting some people at NOAA, it looks like there's no super clean way to do this but it's not that bad either. The interface in sunpy will be clean.

On the backend,

1. First check the NGDC site (same one I originally linked, available as [http](https://www.ngdc.noaa.gov/stp/space-weather/solar-data/solar-features/solar-flares/x-rays/goes/xrs/) or ftp). That data ranges from 1975 to (hop

[2018-01-25 22:26] MSKirk commented on #2430
The ephemeris generated by the current coordinate frame (e.g. distance to sun, solar radius, center) is about 0.1% - 1% different than using the EIT image header keywords `HEC_X`, `HEC_Y`, and `HEC_Z`. This means coordinate calculations can be off by about as much as a few pixels, especially near the limb of the sun.

[2018-01-25 23:35] Cadair commented on #2430
Interesting. I would be interested to know the source of that discrepancy. Also we should find a way to load the info from the header.

What coordinate system is HEC?

[2018-01-26 09:44] getsanjeev commented on #2406
@nabobalis I am making PR in sunpy-sphinx-theme and astropy which addresses this issue. I will let you know when it gets merged in astropy, only after that we should merge it in sunpy-sphinx-theme. Is that alright?

[2018-01-26 13:58] getsanjeev commented on #2425
#2426 fixes this issue!

[2018-01-26 13:58] #2425 closed

[2018-01-26 14:14] wafels commented on #2430
The HEC co-ordinate system is defined here:

https://soho.nascom.nasa.gov/data/ancillary/index.html#orbitcoordinates

On Jan 25, 2018 6:35 PM, "Stuart Mumford" <notifications@github.com> wrote:

[2018-01-26 14:29] Cadair commented on #2430
That is one bonkers coordinate system...

[2018-01-26 14:30] Cadair commented on #2430
So other than an observer location error, is the plot bug in the original comment fixed?

[2018-01-26 14:31] MSKirk commented on #2430
Fortunately `astropy.coordinates` supports it!

[2018-01-26 14:31] wafels commented on #2430
That's as may be, but it is one that Astropy has apparently...

http://docs.astropy.org/en/stable/api/astropy.coordinates.HeliocentricTrueEcliptic.html#astropy.coordinates.HeliocentricTrueEcliptic

On Fri, Jan 26, 2018 at 9:29 AM, Stuart Mumford <notifications@github.com>
wrote:

[2018-01-26 14:33] wafels commented on #2430
So we think that we can read in the HEC co-ordinate info for EIT and then
use the co-ordinate transformation graph to get the right Stonyhurst
observer location.

On Fri, Jan 26, 2018 at 9:31 AM, Michael Kirk <notifications@github.com>
wrote:

[2018-01-26 14:34] Cadair commented on #2430
@wafels you don't need to explicitly do the transform, just pass the HEC coordinate object in to frame and it will get transformed for you.

[2018-01-26 14:39] wafels commented on #2430
Yes - I think that is what I meant.

On Fri, Jan 26, 2018 at 9:34 AM, Stuart Mumford <notifications@github.com>
wrote:

[2018-01-26 14:43] MSKirk commented on #2430
The major difference is that `astropy.coordinates` needs {Lat, Lon, Radius} coordinates and the EIT header has {X,Y,Z}.

[2018-01-26 14:44] Cadair commented on #2430
Construct a `CartesianRepresentation` object and pass that in as the only argument, should do the rest for you.

[2018-01-26 18:21] getsanjeev commented on #2434
@Cadair I would like to take this issue. May I start?

[2018-01-26 18:29] getsanjeev commented on #2189
@Cadair @nabobalis  This may take a little long, but I would love to give it a try.

[2018-01-26 20:08] wafels commented on #2430
I came up with something.... the final result is

*In [4]: hgs_coordOut[4]: <HeliographicStonyhurst Coordinate
(obstime=2011-06-07 20:37:52.600000): (lon, lat, radius) in (deg, deg,
km)    (-0.24687872,  0.06050496,   1.50358425e+08)>*

As a sanity check:

*In [6]: np.sqrt(hec_x**2 + hec_y**2 + hec_z**2)Out[6]: <Quantity
150358424.9714794 km>*

So that looks OK.  The *lon* and *lat* values of *hgs

[2018-01-26 23:21] PyDL commented on #2189
@getsanjeev I tried again late last year, I guess they have already fixed this problem?

[2018-01-27 05:40] Cadair commented on #2430
That looks very hopeful! I will have a proper read up on it.

I think the best thing to do would be to have the SOHO map sources override the `observer_coordinate` property and just return a HEC coordinate object. That should then do all the work 😁

[2018-01-27 05:41] Cadair commented on #2430
To complete the API they could then use that property to return `observer_longitude ` and `observer_latitude`

[2018-01-27 12:47] getsanjeev commented on #2189
@PyDL okay I will it check once and close the issue if things are fixed.

[2018-01-28 13:34] dpshelio commented on #2434
@jmason86 - All that data is up to date in [HELIO Event Catalog](http://hec.helio-vo.eu/hec/hec_gui_fetch.php?y_from=2017&mo_from=12&d_from=28&y_to=2018&mo_to=1&d_to=28&radioremote=on&titlesearch2=&goes_sxr_flare=istable) - SunPy has an interface to load them, but it's not too intuitive. (Oh... and it seems you can only do time queries :( ) - in any case, we should make a fido like to query HELIO,

[2018-01-28 18:58] dstansby opened #2438 "Add Heliocentric --> Heliocentric transformation"
`Heliocentric` coordinates are defined with respect to the observer, so it should be possible to transform between two `Heliocentric` coordinate systems that have different observers.

(opened partially as a note to myself as I tinker with coordinates)

[2018-01-29 19:15] jmason86 commented on #2434
Ooh, that's a nice reference! ```Fido``` could be a good place for this to go, as long as it subsumed ```get_goes_event_list```, although it may not be as intuitive for how to specify you want the event list as opposed to the GOES/XRS irradiance data. ```get_goes_event_list``` is a perfect function name. Choosing between the two interfaces and the options for backend data acquisition is beyond me.

[2018-01-29 21:17] MSKirk opened #2441 "SWAP Map coordinate defaults"
Loading a stacked SWAP image into Map doesn't have a `ctype` specified in the header. The default value is set to `CTYPE : 'HPLN-   '  'HPLT-   '`, which causes problems in the `wcs` object.

SWAP images that are unstacked (normal ones) have a `.coordinate_system` specified as  `SpatialPair(axis1='HPLN-TAN', axis2='HPLT-TAN')`. The SWAP Map source should be modified to assume a `HPLN-TAN` ctype wh

[2018-01-30 01:59] Cadair commented on #2441
What's the problem with defaulting to `HPLN-` rather than `HPLN-TAN`? If that is causing problems it's a bug that's bigger than just SWAP.

[2018-01-30 09:08] nabobalis commented on #2390
Fixed by upstream fixes.

[2018-01-30 09:08] #2390 closed

[2018-01-30 14:40] wafels commented on #2307
closed by #2435

[2018-01-30 14:40] #2307 closed

[2018-01-30 15:02] wafels commented on #1851
So isn't this quite simple?  The surface area of a sphere is 4 \pi r^{2}.  The surface area of a hemisphere is 2 \pi r^{2}.  A millionth of a hemisphere is 2 \pi r^{2} / 1000000 .  Is there an example of unit registry I can follow?

[2018-01-31 00:43] Cadair commented on #2189
We had someone else come into the SunPy chat with this the other day. I think that we should keep it open as a meta issue. I think however, it's really a VSO bug. I am in contact with people at the VSO about this.

[2018-01-31 16:30] prateekiiest opened #2444 "Possible Bug in MapcubeAnimator updatefig method"
## Problem

`MapcubeAnimator` class has a method called `updatefig`.

The bug is produced in the following manner.

                  from sunpy.map import MapCube
                  from sunpy.map import Map
                  import sunpy.map
                  from sunpy.data.sample import AIA_193_IMAGE

                  cube = Map(AIA_193_IMAGE, cube=True)
                  z = MapCubeAnimator(c

[2018-01-31 16:35] nabobalis commented on #2444
Isn't the issue that `AIA_193_IMAGE` is just 2D data?

[2018-01-31 16:37] prateekiiest commented on #2444
yes `AIA_193_IMAGE` is a 2d data.

So does MapcubeAnimator operate only on 1D data?

[2018-01-31 16:38] nabobalis commented on #2444
It works on a sequence of 2D data.

[2018-01-31 16:39] nabobalis commented on #2444
I think that `MapCubeAnimator.updatefig(z,0,z.im,slider =2)` might work.

[2018-01-31 16:40] prateekiiest commented on #2444
will work, I used that too but it returns NoneType and BaseFuncAnimator fails

[2018-01-31 16:42] prateekiiest commented on #2444
since `BaseFuncAnimator` has some code saying `            if len(slider_functions) != len(slider_ranges):
                        raise ValueError("You must specify the same number of functions "
                                         "as extents")`

[2018-01-31 16:43] prateekiiest commented on #2444
updatefig works on the aiamap data I suppose, but self.data[0] is not that data

[2018-01-31 16:45] nabobalis commented on #2444
But to update the figure you would need another timestep no?

[2018-01-31 16:55] wafels opened #2445 "Heliocentric True Ecliptic to Heliographic Stonyhurst"
The gist here:

https://gist.github.com/wafels/c04bbea5d3beff3558497cb90f75c647

is some code that downloads EIT data, reads in the Heliocentric True Ecliptic position of SOHO from the FITS header, and attempts to calculate the position of SOHO in Heliographic Stonyhurst (HGS) co-ordinates.

Strangely, the distance of SOHO from the Sun changes depending on which co-ordinate system is used, and in

[2018-01-31 16:59] prateekiiest commented on #2444
which timestep you are talking about?

[2018-01-31 16:59] wafels commented on #2445
See also https://umbra.nascom.nasa.gov/eit/eit_guide/headers.htm and https://soho.nascom.nasa.gov/data/ancillary/index.html#orbitcoordinates .

[2018-01-31 17:00] nabobalis commented on #2444
Well your updating figure, so there has to be something to update to. Generally MapCube is a sequence of Maps, so you are moving from the original Map to another one in that sequence.

[2018-01-31 17:13] #2419 closed

[2018-01-31 17:15] ayshih commented on #2445
I pointed out that `HeliocentricTrueEcliptic` needs to have its `equinox` specified, but apparently that doesn't fix the problem.

[2018-01-31 17:19] MSKirk commented on #2445
`HeliocentricTrueEcliptic` defaults to the J2000 location of the vernal equinox which is the definition that EIT is using the the header.

[2018-01-31 17:20] ayshih commented on #2445
Okay, good to know.

[2018-01-31 17:33] dstansby commented on #2445
Can you isolate a single coordinate point in `HTE` that when transformed to `HGS` goes wrong?

[2018-01-31 17:45] ayshih commented on #2445
I've done some testing entirely within Astropy's frames and transformations, and the bug doesn't appear to be on "our" side.  The origin of `HCRS` is not the same as the origin of `HeliocentricTrueEcliptic`.  Needs more investigation.

[2018-01-31 21:28] ayshih commented on #2445
Ah, bugs with Astropy's ecliptic transformations were fixed in December and released in Astropy 2.0.3.  However, I can only get Astropy 2.0.2 via conda?

[2018-01-31 21:34] MSKirk commented on #2445
`conda update astropy` brought me up to 2.0.3...  @wafels what version of Astropy are you running?

[2018-01-31 21:38] wafels commented on #2445
2.0.2.... will update to 2.0.3 and let you know.

On Wed, Jan 31, 2018 at 4:34 PM, Michael Kirk <notifications@github.com>
wrote:

[2018-01-31 21:51] ayshih commented on #2445
Okay, I figured out the issue I was having with the priority of conda channels, and now I'm running Astropy 2.0.3, so the ecliptic transformations are definitely looking sane again.  Before I resume investigating, @wafels can you confirm whether you're running Astropy 2.0.3 to get the weird results?

[2018-01-31 21:52] ayshih commented on #2445
Oops, heh, didn't see your posts!

[2018-01-31 21:52] wafels commented on #2445
HeliocentricTrueEcliptic now gets an obstime parameter that must be set in
order to use it for my purposes.

Astropy 2.0.3 fixes the Sun-SOHO distance issue.  However, the calculated
Heliographic Stonyhurst lat and lon seem to be out, with a maximum
difference of about 0.5 to 1 degrees compared to those in the FITS files/

On Wed, Jan 31, 2018 at 4:38 PM, Jack Ireland <jackireland@gmail.com> wrote

[2018-01-31 21:55] wafels commented on #2445
Bill Thompson has been helping me with calculating HGS lat and lon using
the SSWIDL SunSPICE code and SOHO SPICE kernels.  Just to keep things
interesting, the HGS lat lon values from SSWIDL differ from the FITS file
values and the SunPy HGS values.👌

On Wed, Jan 31, 2018 at 4:52 PM, Albert Y. Shih <notifications@github.com>
wrote:

[2018-01-31 21:59] wafels commented on #2445
Certainly the fact that the Sun-SOHO distance is now preserved through the
co-ordinate round trip in SunPy is re-assuring.  I don't know *exactly* how
the EIT HGS lat, lon values are calculated, but I can find out (I suspect
that lon has a fixed value of zero).  I'll push on the SunSPICE part too
with Bill.  Understanding SPICE will help us in the future with Solar
Orbiter and Probe.

On Wed, Jan

[2018-02-01 09:26] nabobalis commented on #2194
Closed as I moved it into #2265

[2018-02-01 09:26] #2194 closed

[2018-02-01 09:30] nabobalis commented on #2271
Going to close this for now.

[2018-02-01 09:30] #2271 closed

[2018-02-01 11:56] dstansby commented on #2445
Sounds like adding the transform roundtrip would be a nice test to have for coordinate transforms.

[2018-02-01 12:41] prateekiiest commented on #2444
Is somewhere I am going wrong while defining the Mapcube function in the above code

[2018-02-01 12:44] nabobalis commented on #2444
No, I think the problem is your input data being 2D and trying to create a MapCube out of that.

[2018-02-01 12:49] prateekiiest commented on #2444
could you give an example of 1D array as input for MapCube?

[2018-02-01 12:51] nabobalis commented on #2444
Well the input generally isn't 1D array.

It would be something like:

[code]

[2018-02-01 12:59] prateekiiest commented on #2444
Then I think there should be a raising an error while trying to pass 2D data in MapcubeAnimator

[2018-02-01 13:56] nabobalis commented on #2444
I'm not sure what it checks for. I'd assume that the input was a mapcube at least

[2018-02-01 14:34] wafels commented on #2445
A roundtrip test may have caught this bug if the test had looked at the
intermediate step.  The roundtrip with the bug produces consistent answers
indicating that the forward and reverse transformations are operating
correctly as inverses of each other.  But you have to look at the
intermediate step to see that the transformation calculations are wrong.

It would be worth adding in some tests that

[2018-02-01 14:35] wafels commented on #2445
Anyway, yes to roundtrip tests against independently known values with
testing of sensibleness of the intermediate steps.

On Thu, Feb 1, 2018 at 9:34 AM, Jack Ireland <jackireland@gmail.com> wrote:

[2018-02-01 14:36] prateekiiest commented on #2444
so I guess then we can close this

[2018-02-01 14:38] #2444 closed

[2018-02-01 14:41] ayshih commented on #2445
@wafels Because the Heliocentric True Ecliptic coordinates in the FITS header are given in J2000, you actually need to do an additional transformation in SunPy/Astropy that I don't think you are doing.  The Heliocentric True Ecliptic coordinates need to be in the true-time equinox before being transformed to HGS.  In Astropy, directly transforming between two `HeliocentricTrueEcliptic` frames with

[2018-02-01 14:43] ayshih commented on #2445
As an aside, we *do* have some tests that (implicitly) test the accuracy of SunPy/Astropy transformations (`test_ephemeris.py`).  I wrote them!  We need more for sure, but it's not like we're flying blind.

[2018-02-01 14:47] wafels commented on #2445
Ok, good to know about the tests.  I'll have a bunch more questions @ayshih after I read a little more about ICRS. Thanks!

[2018-02-01 14:59] ayshih commented on #2445
The specifics of ICRS don't particularly matter here, but Astropy transforms directly from `HeliocentricTrueEcliptic` to `ICRS`.  You just need to do `HeliocentricTrueEcliptic`(J2000)->`ICRS`->`HeliocentricTrueEcliptic`(true)->`HeliographicStonyhurst`.  You just need something to calculate the precession of the equinox before crossing from Astropy to SunPy.

[2018-02-01 19:07] Cadair commented on #2445
I am siting in room with @eteq and he points out that the lack of equinox conversion in astropy is bug we should report upstream if it is indeed true

[2018-02-01 20:14] ayshih commented on #2445
It's not a lack of equinox conversion in the sense that it's giving an incorrect answer, but rather it's not reporting the answer in the equinox that is presumably intended.  I can report the bug Later (TM).

[2018-02-01 22:24] MSKirk commented on #2430
This issue seems to be related to issue #2445

[2018-02-04 15:53] dpshelio commented on #1851
`timeseries/timeseriesbase.py` and `timeseries/sources/rhessi.py` has a `unit` called `detector`. It uses[`add_enabled_units`](http://astropy.readthedocs.io/en/stable/api/astropy.units.add_enabled_units.html#astropy.units.add_enabled_units) to use it. Where to create this registry in sunpy so it's available anytime we use units.... I don't know.

[2018-02-06 01:25] AlisdairDavey commented on #2401
VSO folks looked at this issue today and agree that it seems to be an issue with how we are constructing the various queries we send. We will try to figure out what we are doing different between Web/IDL/Python and fix it!

[2018-02-06 18:29] getsanjeev opened #2450 "Refactoring maps by removing waveunit keyword which seems to have no use currently"
As discussed with #2427 the 'waveunit' keyword should also be removed from the header for GenericMap does not require this.

[2018-02-06 22:54] wafels commented on #2445
So,  HeliocentricTrueEcliptic has a settable equinox property.  Let's use that to calculate the position of EIT at the image time of 2002-03-07 22:36:11.176000

[code]
And if you don't....

[code]

[2018-02-07 04:05] ejm4567 commented on #2401
I'm running a test trying to duplicate your EVE query and am getting the error:

Traceback (most recent call last):
  File "./test_sunpy.py", line 3, in <module>
    from sunpy.net import vso
  File "/Applications/anaconda2/lib/python2.7/site-packages/sunpy/net/__init__.py", line 5, in <module>
    from sunpy.net.fido_factory import Fido
  File "/Applications/anaconda2/lib/python2.7/site-packages/

[2018-02-07 14:37] ejm4567 commented on #2401
OK, I corrected the code in BeautifulSoup (changing "_base" to "base") and now get results back:

volterra:anaconda2 mansky$ ./test_sunpy.py
./test_sunpy.py:5: SunpyDeprecationWarning: The query function is deprecated and may be removed in a future version.
        Use VSOClient.search instead.
  results = client.query(vso.attrs.Time("2010-09-05 00:00:00", "2010-09-05 22:00:00"), vso.attrs.Instrum

[2018-02-07 14:53] nabobalis commented on #2401
@ejm4567 That is really strange that you had to edit the source file for BS4.

I will have to run the python 2 tests to make sure that something isn't amiss with our current step!

[2018-02-07 15:09] MSKirk commented on #2445
@wafels can you try a different example further away from the year 2000? I don't expect the Earth's precession to be much of an issue in 2 years. The earth only precesses about 0.014 degrees per year.

[2018-02-07 15:30] wafels commented on #2445
Good idea.

With the equinox keyword set...
[code]
without the equinox keyword set

[code]

[2018-02-07 15:37] MSKirk commented on #2445
The distance did not change (good), but the [Lon,Lat] changed in HGS depending on the equinox date set in HCTE. This is what we expected, right?

[2018-02-07 16:34] wafels commented on #2445
Looking at just the values in lon with and without the equinox correction you get 359.61046809 - 359.85240104 = -0.24191284, and divide by 17 (17 years since the year 2000) you get -0.014230167 degrees/year, which is close to the value you said.  So at least the correction due to equinox precession seems right.

[2018-02-07 18:18] wafels commented on #2430
From Bill:

Hmmm - the SOHO SPICE HAE values are not the same as the EIT FITS header HEC values for the date 2017-03-08 01:13:46.667000.  Seems like the EIT FITS header heliographic longitude value always zero, and the EIT FITS header heliographic latitude header is approximately that given by converting either the SOHO SPICE HAE values or the EIT FITS header HEC values to HGS values.

[2018-02-07 20:01] wtbarnes commented on #2438
You could do this by just transforming to an intermediate HGS frame and then transforming to the new HCC, i.e. HCC_1 --> HGS --> HCC_2.

Seems like it would be easy enough to write a small wrapper (e.g. `hcc_to_hcc()`) to avoid having to chain two `.transform_to()` methods together every time.

[2018-02-07 21:48] wafels commented on #2445
We need to know a value to a HeliocentricTrueEcliptic Coordinate its corresponding HeliographicStonyhurst Coordinate value to test the transformation for a fknown time.  These values should be obtained independently of sunpy/astropy and SSWIDL.

[2018-02-07 21:53] wafels commented on #2430
Using SPICE to transform the Cartesian EIT HEC values to their lon, lat, radius equivalent give values almost identical to the HeliocentricTrueEcliptic values (with equinox set the observation date) when passing in the Cartesian EIT HEC values as a CartesianRepresentation object.  This confirms that EIT coordinates need the equinox property set.

[2018-02-07 22:41] ayshih commented on #2430
I don't understand what you just wrote above.  It sounds like you're just converting between Cartesian and spherical representations without any frame transformation?  I don't get why the equinox matters in what you wrote.

[2018-02-07 22:49] ayshih commented on #2445
Now that I understand Astropy's transformation stack better, the back and forth that I suggested before isn't actually needed.  HTE->HGS has to go through ICRS anyway, so the equinox precession will be computed correctly.  (I confused myself by testing HTE->HTE.)

@wafels Can you provide what SunSPICE says the HGS coordinates are for the examples you gave above?

[2018-02-08 13:10] wafels commented on #2430
That's right - no frame transformation.  When I convert the EIT HEC Cartesian representation to its spherical equivalent in SSWIDL / SPICE, I get the same answers as converting the EIT HEC Cartesian representation to HeliocentricTrueEcliptic with the equinox property set to the observation date.  It adds more information to the definition of the EIT HEC representation as described in https://soho.

[2018-02-08 15:55] Cadair opened #2452 "The repr of GenericMap raises an error if the WCS is an unknown type."
Make a WCS with some nonsense in CTYPE1 CTYPE2 and then call `repr(smap)`

[2018-02-09 15:07] wafels commented on #2445
OK:

[code]

[2018-02-09 18:36] ayshih commented on #2445
Woo hoo, I have just confirmed that the SunPy/Astropy conversion from HGS to heliocentric ecliptic agrees with tabulated values in the Astronomical Almanac to within a few arcseconds, with the remaining discrepancy perhaps attributable to the true/mean equinox difference.

Now to look into SunPy/Astropy versus SunSPICE...

[2018-02-09 19:13] ayshih commented on #2445
@wafels SunPy/Astropy appears to match the SunSPICE values to the ~1e-5 level (hundredths of arcsec).

[code]

[2018-02-09 19:20] ayshih commented on #2445
Note that I have to specify that the HTE coordinates are in J2000.0 to get the right answer.  This indicates that SunSPICE thinks you are specifying HAE coordinatse in J2000.0.  Whether EIT's HEC coordinates are in J2000.0 or in `date_obs` equinox` is for someone else to answer.

[2018-02-09 19:20] MSKirk commented on #2430
I just had a conversation with Dean Pesnell who said that the team using MDI to do helioseismology realized that the ephemeris from SOHO was not accurate enough for their purposes. They have been using the SPICE kernels for the last 15 years or so which has improved their science quality over using the MDI header information. I think this means in order to get the _right_ answer, an implementation

[2018-02-09 19:22] ayshih commented on #2430
I disagree with the conclusion you draw here.  If you're not doing a frame transformation, the equinox attribute doesn't factor in.

[2018-02-09 19:23] ayshih commented on #2430
See https://github.com/sunpy/sunpy/issues/2445#issuecomment-364531159 for my confirmation that SunPy/Astropy agrees with SunSPICE.

[2018-02-09 21:05] wafels commented on #2445
Ok, because of the comment above _Woo hoo, I have just confirmed that the SunPy/Astropy conversion from HGS to heliocentric ecliptic agrees with tabulated values in the Astronomical Almanac to within a few arcseconds, with the remaining discrepancy perhaps attributable to the true/mean equinox difference._ - we should probably close this issue since this comment is pertinent to the title of the is

[2018-02-09 21:05] #2445 closed

[2018-02-09 21:14] wafels commented on #2430
You are right about my comment _That's right - no frame transformation. When I convert the EIT HEC Cartesian representation to its spherical equivalent in SSWIDL / SPICE, I get the same answers as converting the EIT HEC Cartesian representation to HeliocentricTrueEcliptic with the equinox property set to the observation date. It adds more information to the definition of the EIT HEC representation

[2018-02-09 21:35] wafels opened #2453 "_dsunAtSoho has no test"
...and it should (until we work out what to do about the position of SOHO). See #2430 and #2445.

[2018-02-10 15:38] prateekiiest commented on #2413
Hacktoberfest has ended @nabobalis

[2018-02-10 16:32] nabobalis commented on #2413
I believe it comes around every year.

[2018-02-10 16:32] prateekiiest commented on #2413
ok, for next year :)

[2018-02-11 18:19] getsanjeev commented on #2450
@wtbarnes My apologies for what I am asking looks trivial. Can you please elaborate on it?
In previous issue we were setting 'wavelnth' to nan (which made it useless) & was actually causing a bug so its okay to remove it. Also missing 'wavelnth' is handled through defaults.
Now in any map (derived form genericmap) when we set waveunit to something and call _measurement or _wavelength methods, we s

[2018-02-11 18:19] getsanjeev commented on #2450
I had initially thought that as 'wavelnth' has been removed, there is no physical significance of 'wave unit' so should be removed. Am I correct?

[2018-02-11 19:13] Cadair commented on #2450
I thought the point of this issue is that we shouldn't be injecting waveunit in the header where we are not injecting wavelength. As if it's missing it will fall back to the default in [`measurement`](https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L457).

[2018-02-11 19:25] Cadair commented on #1051
This is already fixed.

[2018-02-11 19:25] #1051 closed

[2018-02-11 19:36] Cadair commented on #431
This is probably a good use case for #2366

[2018-02-11 19:38] getsanjeev commented on #2450
#2456 resolves this.

[2018-02-12 06:36] getsanjeev commented on #2450
@wtbarnes I would fix it today just when my classes are over.

[2018-02-12 15:02] MSKirk commented on #2430
From Bill Thompson:

[2018-02-12 16:53] ejm4567 commented on #2401
I installed a fresh copy of Anaconda and SunPy and ran the SunPy tests with self_test. All came back OK.  My problem with bs4  probably stemmed from a downgrade to bs4 triggered from installation of some other modules in my earlier Anaconda env.

Tested again the full search w/o wavelengths and got the full set again (shown above).

Then tested with the wavemin and wavemax specified and got a redu

[2018-02-13 17:39] ejm4567 commented on #2401
The code in the VSO is currently written to basically do an OR on the wavemin/wavemax range given.

In the EVE Perl pkg there is a private method, _ProcessParam_wave, that adds the following SQL:

 `$self->_AddSQL(` 'p.minwave < ? and p.maxwave > ?', $wavemin, $wavemax );`

Hence the VSO search will return everything outside the wavelength range specified for the given date range for EVE.

Let me

[2018-02-14 20:27] wtbarnes commented on #2405
Fixed by #2427 and #2456

[2018-02-14 20:27] #2405 closed

[2018-02-14 23:38] yashkgp commented on #1686
Hey @Cadair , What needs to be updated in header information in these files ?

[2018-02-15 09:34] nabobalis commented on #1686
Does this even still happen?

[2018-02-15 12:43] yashkgp commented on #1686
Yeah , I ran the tests locally ,it's still giving the same warning.

[2018-02-15 12:48] nabobalis commented on #1686
I would guess that the `NAXIS` information is what needs updating.

[2018-02-15 19:05] getsanjeev commented on #2452
@Cadair I would like to take this issue. May I?

[2018-02-15 19:08] nabobalis commented on #2452
You don't need to ask for permission to tackle an issue.

[2018-02-15 19:10] getsanjeev commented on #2452
Okay thanks, From now on I would just inform about me taking the issue.

[2018-02-15 19:13] #2450 closed

[2018-02-16 11:24] nabobalis opened #2460 "Deprecate API where possible."
As we approach the eventual release of SunPy `1.0`, we need to make sure that everything we need to be **deprecated** is **deprecated** in `0.9`.

I don't care how small, how large, we need to make sure anything we plan to remove or replace is **deprecated**.

Please if anyone has any suggestions, go ahead.
Also I would appreciate it if as many of the @sunpy/sunpy-developers can chime in.

[2018-02-16 20:41] yudhik11 commented on #2352
You can simply use matplotlib to overcome this bug

import numpy as np
import matplotlib.pyplot as plt
import sunpy.data.sample
import sunpy.timeseries as ts
my_timeseries = ts.TimeSeries(sunpy.data.sample.GOES_XRS_TIMESERIES, source='XRS')
#my_timeseries.peek()
fig = plt.figure()
my_timeseries.plot()
plt.show()

now after running python test.py the plot won't disappear

[2018-02-17 05:50] yudhik11 commented on #2352
@CaptainDaVinci  @himanshukgp  can you check that your problem is now resolved

[2018-02-17 10:28] nabobalis commented on #2352
@yudhik11 While that might work around the issue, we still need to solve the original problem.

[2018-02-17 18:05] Cadair commented on #2287
revert this commit: https://github.com/sunpy/sunpy/pull/2463/commits/a71c32e8624205ef6b4e0c77fbe419e8f19bf3c5

[2018-02-17 19:47] Cadair commented on #2284
(We should also add a test for this usecase, i.e. a search involving `Physobs`.

[2018-02-17 19:49] getsanjeev commented on #2284
Okay @Cadair I will do it just when I will be done with my previous issue.

[2018-02-17 23:27] gulshan-mittal opened #2470 "hgs_to_hcc(heliogcoord, heliocframe) : Convert from Heliographic Stonyhurst to Heliograpic Carrington."
**Wrong Documentation** under SunpyCoordinates-> sunpy.coordinates.transformations Module.
It should be Convert from Heliographic Stonyhurst to Heliocentric .
**Link to documentation** : http://docs.sunpy.org/en/latest/code_ref/coordinates.html#module-sunpy.coordinates.transformations. @Cadair @nabobalis

[2018-02-18 10:05] SKKSaikia commented on #2413
@nabobalis @wafels  I would like to work on this issue.

[2018-02-18 10:10] nabobalis commented on #2413
@SKKSaikia You don't need permission to work on an issue.

Just be aware that there is a PR open (https://github.com/sunpy/sunpy/pull/2455) that deals with part of this issue.

[2018-02-18 11:55] prateekiiest commented on #2413
Hi @SKKSaikia , I guess you were working on my project https://github.com/prateekiiest/Code-Sleep-Python during winter.

Nice to see you here 😃

[2018-02-18 12:31] nabobalis commented on #2470
Sorry, I am not sure I see what the problem is.

[2018-02-18 13:06] gulshan-mittal commented on #2470
@nabobalis
![issue1](https://user-images.githubusercontent.com/28534390/36352124-4df56088-14da-11e8-94ed-08d9672270d5.png) In this conversion should be Heliographic Stonyhurst to Heliocentric instead of  Heliographic Stonyhurst to Heliograpic Carrington.

[2018-02-18 13:28] nabobalis commented on #2470
Ah yes.  That should be changed.

[2018-02-18 17:45] talsperre opened #2471 "timeseries/sources/rhessi peek function does not change title on passing title as keyword argument, doesn't return figure"
Despite passing the title as keyword argument to the peek function, the plot always has the same title. The [docs](http://docs.sunpy.org/en/stable/api/sunpy.timeseries.RHESSISummaryTimeSeries.html#sunpy.timeseries.RHESSISummaryTimeSeries)  mention that it does have a title parameter.  Also, does not return figure as mentioned by docs.
Test Code:
[code]

Output: Plot with title "RHESSI Observing Su

[2018-02-18 19:34] talsperre commented on #2308
@wafels, are you referring to this [example](http://docs.sunpy.org/en/stable/generated/gallery/2011_06_07_sampledata_overview.html)?
In order to solve it, do we add  something like a boolean variable ```is_grid_title```, ```is_tick_label``` to ```**imshow_kwargs``` of` ```plot``` function & set the title/tick label on/off based on its value?

[2018-02-19 07:50] olebole opened #2472 "Create pytest sample-data flag"
Currently there a number of tests within SunPy that require the sample data to be downloaded. This is a problem since these are not marked as online tests and thus any build or packager requires an online connection which is not the case normally. This will cause the tests to fail.

What we need is to create a pytest flag (similar to how `# doctest: +SKIP +REMOTE_DATA` exist) that is called SAMPLE

[2018-02-19 08:45] nabobalis commented on #2472
So what seems to have happened is that the `sample data` has not downloaded when the doctests were run.

It normally downloads when the import is called but it seems to be ignored when called via the doctest. I wonder if that is a bug.

[2018-02-19 08:47] olebole commented on #2472
The tests in Debian run disconnected; therefore no download may happen in our test environment.

[2018-02-19 08:54] nabobalis commented on #2472
Then we need to mark those sample tests as remote-data then and that is a bug.
I would probably just skip those doctests then.

Having just run the tests without the sample data locally gives me 16 fails.
I need to make sure we do a real offline test for our CI.

Sorry about this!

[2018-02-19 09:00] olebole commented on #2472
Marking them as remote-data is  the best solution, agreed. Thank you for investigating this!

[2018-02-19 09:44] Cadair commented on #2472
I think marking them as remote data is a good stop gap. I think we should probably have a sperate mark for sample data as you only need the remote data for the initial download not the actual test run.

[2018-02-19 13:59] Cadair commented on #2452
[code]

From this error, it looks like it's the `coordinate_frame` property that needs the fix. I think it should probably return `None` if the lookup fails.

[2018-02-20 10:33] DanRyanIrish opened #2473 "New AstropyDeprecationWarning issued by SunPy when using astropy 3.0"
When SunPy inherits from astropy 3.0, the following ```AstropyDeprecationWarning``` is issued:
[code]
This should be addressed or we should at least be aware of its consequences.

[2018-02-20 10:35] nabobalis commented on #2473
We have alot of those.

[2018-02-20 10:39] Cadair commented on #2473
So I think this is fixed in master as we removed the whole `sunpy.coordinates.representation` module. For 0.8 we should explicitly catch this warning on import of reprentation and scilence it, as it's just annoying for the users.

[2018-02-20 12:45] yashkgp commented on #2473
I would like to work on this.

[2018-02-20 12:53] Cadair commented on #2473
@nabobalis yes, we should fix all of them where possible. This issue is about this one, a list of the others would probably be useful.

@yashkgp we should be able to just catch it once inside the `sunpy.coordinates.representation` hopfully.

[2018-02-20 13:14] yashkgp commented on #1686
Hey, @nabobalis  I tried doing that. It's still the warnings. Could we just catch the warnings and ignore them as these warnings are only for test data?

[2018-02-20 13:23] nabobalis commented on #1686
I am not a fan of catching those warnings, we would have probably have to do it for each test.

Updating the header must surely be the way to fix it.

[2018-02-20 13:42] prateekiiest commented on #2413
**Gamma-curve transformation of a map - New Example**

Can we work on that?  Its pretty basic otherwise

[2018-02-20 17:36] dstansby opened #2475 "Don't install apt packages on travis egg tests"
I bet that to run the `egg_info` tests on travis, the apt dependencies don't need to be installed, which takes about 1 minute (e.g. https://travis-ci.org/sunpy/sunpy/jobs/343924620#L441).

[2018-02-21 14:14] talsperre commented on #2452
I tried returning None if the lookup failed in ```coordinate_frame()``` function of ```mapbase```.
[code]
However, this leads to new errors such as ```AttributeError: 'NoneType' object has no attribute 'name'``` when calling ```repr(mapobj)```

[2018-02-22 16:08] wafels commented on #2308
I think I was referring to earlier versions of this http://docs.sunpy.org/en/stable/generated/gallery/lat_lon_lines.html#sphx-glr-generated-gallery-lat-lon-lines-py , which is now fixed.  But the example you link to is also bad. That should be fixed.  I don't think solar longitude and latitude should be on the x and y axes at all, as it is confusing.  Some of this has been tackled by #2435.

[2018-02-26 15:18] nabobalis opened #2483 "TimeSeries features"
From the old sunpy wiki page, (please note, I have no checked if timeseries has them already) features requested/wanted for time series:

* rebinning (count conserving)
* power spectra
* derivatives
* peak finding
* discrete average box car
* convolution/smoothing

multi-timeseries object:

* correlation/time lag

[2018-02-28 19:29] yudhik11 commented on #2308
@wafels I was going through [this page](http://docs.sunpy.org/en/stable/generated/gallery/2011_06_07_sampledata_overview.html) and found out there are issues like: the left axes in the images from the aia_cutouts are cut and are not displayed properly.

Also when I try running
[code]

the image texts overlap which is again a padding problem.
So I can have a go on this issue with @talsperre.

[2018-02-28 21:14] vermashresth commented on #2483
Hey @nabobalis
I have made a pr implementing two features. I'm not sure if applying these operations on all the columns of the timeseries is a good idea. Can you please take a look?

[2018-03-01 11:25] nabobalis opened #2489 "Replace astropy-helpers with sphinx-astropy"
Currently we use the astropy-helpers submodule to build our documentation.
Recently astropy created a sphinx package called [`sphinx-astropy`](https://github.com/astropy/sphinx-astropy) to do this job instead.

We would need at least (and off the top of my head) the `docs/conf.py` to be changed, the requirements.txt file updated, the read the docs yaml file and the travis and appveyor CI files upd

[2018-03-01 11:51] yashkgp commented on #2489
Hey @nabobalis, I am working on it .

[2018-03-01 15:36] elastufka opened #2490 "masks not applied in composite_map"
Masks are applied when using map.peek() or map.plot() for EUVI and COR (generic?) maps (first two images). Combining them into a composite map results in the mask being "forgotten" (final image).

[code]

[code]

![bug_wl](https://user-images.githubusercontent.com/11930844/36852582-4bce9c30-1d6c-11e8-843d-a5c30b6065d7.png)
![bug_uv](https://user-images.githubusercontent.com/11930844/36852583-4becd

[2018-03-01 15:40] wafels commented on #2490
I think the reason for this is that compositemap.plot does not look for the presence of a mask, but map.plot does.  Compare https://github.com/sunpy/sunpy/blob/master/sunpy/map/mapbase.py#L1742-L1745 to
https://github.com/sunpy/sunpy/blob/master/sunpy/map/compositemap.py#L434-L435

I believe that the fix is to look for the mask in compositemap just in the same way that map does.

[2018-03-01 17:14] wafels opened #2493 "SXI support in SunPy"
Iain Hannah has provided some comments and code regarding the GOES SXI support in SunPy.  Basically we need a map source for SXI.  The link to his code and comments is

https://groups.google.com/forum/#!topic/sunpy/fNWKl-V8YbQ

[2018-03-02 05:25] wafels commented on #218
See also #2492.

[2018-03-02 19:16] yashkgp commented on #2483
Hey @nabobalis, I have made a  PR implementing power spectrum for a TimeSeries Object. Could you please give it a review?

[2018-03-02 19:33] wafels commented on #2483
Docs for the features described in the original PR need to come with substantial health warnings to the user.  For example, in #2496 there is no checking that the FFT is even applicable for the time series - what if the original time-series is unevenly sampled?  Can't use FFT in that case.  How is the FFT normalized here?

Health warnings should emphasize that these methods are provided for _conve

[2018-03-02 19:34] nabobalis commented on #2483
It also brings up the debate on who broad we want these features to be. But we can take that to the PR for each one.

[2018-03-02 19:40] nabobalis commented on #2483
@wafels, what docs in the original PR?

[2018-03-02 19:58] wafels commented on #2483
What I meant was if you're going to have these methods, then the docs for them need to come with health warnings.  And I mis-wrote - there is no PR.  I meant to refer to the methods listed at the start of **issue** #2483, not a PR.  My bad.  Sorry!

[2018-03-02 20:01] nabobalis commented on #2483
That's ok, I thought I had missed an older PR on this

[2018-03-03 14:03] prateekiiest opened #2498 "Handling invalid user input in ROI"
This issue pertains to the code present under sunpy/roi/roi.py.

https://github.com/sunpy/sunpy/issues/164
https://github.com/sunpy/sunpy/pull/655

The ROI object has provision for taking user inputs in the form of start,end time , description and source.
Since we are using `parse_time` to take input for start time and end time, so for any invalid time string from user side, an exception will be r

[2018-03-03 15:27] wafels opened #2499 "Gallery CompositeMap plot has wrong x, y axis tick labels"
See
http://docs.sunpy.org/en/stable/guide/data_types/maps.html#composite-maps-and-overlaying-maps

Looks like maybe the x, y axis tick labels are in degrees, not arcsecs.

[2018-03-03 15:53] Cadair opened #2500 "Add support for search attribute value discovery"
This feature would allow users to get a list of all the possible values for search attributes like `a.Instrument` or `a.Source`.

It would be nice if you could also find out extra information about certain values, for example finding the times of operation of "AIA" or the pass bands available.

This feature needs some careful planning and interface design.

[2018-03-03 16:09] wafels commented on #2499
Fixed on the current master, so closing for just now.

[2018-03-03 16:09] #2499 closed

[2018-03-06 15:21] dstansby opened #2506 "Comparing images from image tests"
Currently the image tests only store a hash of the image, so if an image changes (e.g. due to a new version of Matplotlib, or an intended change on the SunPy side) it's impossible to see what changed. This is a plan to store the test images in another repo, so they are available for comparision.

Todo:

- [x] Make a test image repo (https://github.com/sunpy/sunpy-figure-tests), that contains
    -

[2018-03-06 16:16] dpshelio commented on #2506
The images repo is at: https://github.com/sunpy/sunpy-figure-tests

For the image comparison we could make Travis to push to a GH pages that shows similar things that GH does when comparing images.

I'm not sure whether the automated cron job would be a good idea. If you check the sunpy-figure-tests repository it has de conda environment that was used to create these images. That I still believe i

[2018-03-06 16:18] nabobalis commented on #2506
Even if it changes drastically, if it still looks ok it, that is fine by me.

[2018-03-06 16:24] Cadair commented on #2506
All of this should definitely keep the fixed build environment as we do at the moment, the cron job is for updating the figure repo when there is a commit to sunpy that actually changes the figure generation code, not just for random dependency updates.

[2018-03-06 18:37] yashkgp commented on #1939
Hey @Cadair , Could you share a little more about the implementation details of `remote_data_manager` . Apart from checksumming, caching , skipping hash check , downloading file , Is there any specific functionality you want in `remote_data_manager` .

[2018-03-06 21:17] wafels opened #2510 "SunPy colormaps - in reverse!"
How about using

_https://stackoverflow.com/questions/3279560/invert-colormap-in-matplotlib_

to create reverse versions of the SunPy colormaps?  Users sometime use reverse colormaps to better see features in the data.

[2018-03-06 21:57] dstansby commented on #2510
There's functionality to do this baked into Matplotlib: https://matplotlib.org/api/_as_gen/matplotlib.colors.ListedColormap.html?highlight=reverse#matplotlib.colors.ListedColormap.reversed

[2018-03-07 02:56] wafels commented on #2510
Thanks @dstansby !  I didn't know about that.  I'll close the issue.

[2018-03-07 02:56] #2510 closed

[2018-03-07 09:53] nabobalis commented on #2473
Fixed by #2476

[2018-03-07 09:53] #2473 closed

[2018-03-07 15:27] nabobalis commented on #2490
Closed by #2492

[2018-03-07 15:27] #2490 closed

[2018-03-07 17:37] nabobalis commented on #2489
Closed by #2494

[2018-03-07 17:37] #2489 closed

[2018-03-07 17:38] nabobalis commented on #2471
Fixed by #2477

[2018-03-07 17:38] #2471 closed

[2018-03-07 17:38] nabobalis commented on #2470
Fixed by #2502

[2018-03-07 17:38] #2470 closed

[2018-03-08 11:33] #1891 closed

[2018-03-09 04:58] wtbarnes commented on #1259
Has there been any progress on this? Would the [drms](https://github.com/sunpy/drms) package make this easier?

It seems that the only way to do cutouts is via the LMSAL page that @wafels links to above.

I suspect the effort to implement this would be quite high. In the meantime, could we at least provide an example of how to use the job id (the thing that you get in the email after you make the

[2018-03-10 13:41] vermashresth commented on #1792
Hi! @wafels
The PR for this issue seems to have been abandoned, so if it is still relevant, I would like to make an attempt at this.
From what I understand from the discussion, we first have to use the csv file you extracted from [http://www.lmsal.com/hek/VOEvent_Spec.html](http://www.lmsal.com/hek/VOEvent_Spec.html) as a lookup table to generate a list of parameters that are `required` for the gi

[2018-03-10 16:17] wafels commented on #1792
You are right. Each of the HEK parameters will need an astropy quantity.  I can help you with determining which quantity is the correct one.  Parameters like bounding boxes will also need to be parsed and returned using the appropriate co-ordinate system.  I still think writing the function `parse_hek_response_to_quantities` is still the easiest way forward.  Returning quantities and co-ordinates

[2018-03-10 16:18] wafels commented on #1792
And thanks for volunteering ti take on this PR!

[2018-03-10 17:29] vermashresth commented on #1792
I have another doubt. I can't quite get it why we are parsing the output of `get_voevent()` function and not the actual content of `response` object. I'm sure I'm missing something there.
Also your code highlighting seems to be mismarked now because of changes over this time, I hope I'm not confused there.

[2018-03-10 19:12] wafels commented on #1792
Yes, the line that I was referring to is no longer the same.

I'm not sure what you mean by

By default, the function `get_voevent()` already converts the `response` object from XML to a Python dictionary at the line `return xml_to_dict(response)`, because a Python dictionary is probably the more useful to the user than the response itself, which is an XML string.  A simple implementation solving

[2018-03-11 16:17] vermashresth commented on #1792
I meant that is there any specific reason that we apply parser on the python dictionary given by `get_voevent()` and not on the dictionaries(`Reponse` objects) inside list given by [search()](https://github.com/sunpy/sunpy/blob/master/sunpy/net/hek/hek.py#L94:L97) method of `HEKClient`? Because the parameter names that we get from the table you gave, they correspond more closely to the keys we get

[2018-03-12 12:45] nabobalis opened #2554 "PlotInteractor from PySST"
In the now defunct PySST package is an extension of the ImageAnimator class called [PlotInteractor](https://github.com/nabobalis/PySST/blob/master/pysst/visualisation/cube_explorer.py) that enables some basic analysis or viewing of 4D or 5D cubes.

Question is, do we want to move it here in some form?

[2018-03-12 13:04] Cadair commented on #2554
ping @DanRyanIrish

[2018-03-12 13:04] Cadair commented on #2554
:+1: on moving it into `sunpy.visualization`

[2018-03-12 13:11] DanRyanIrish commented on #2554
Sure.  Looks like it might be useful for IRIS!

[2018-03-12 13:16] nabobalis commented on #2554
Note it has no support for WCS. It might be alot of effort to port/move.

[2018-03-12 14:17] nabobalis opened #2556 "Adding `python setup.py test --figure-only`"
We have several flags that can be passed into `python setup.py test` to trigger tests.
There are several tests that create figures and we would like to be able to run just those instead of the entire test suite.

This is a guess:
It would require the combination of adding support for the flag (`--figure-only`) within this [file.](https://github.com/sunpy/sunpy/blob/master/sunpy/tests/__init__.py)

[2018-03-12 14:25] himanshukgp commented on #2556
I'll take up this issue.

[2018-03-12 14:31] Cadair commented on #2556
@himanshukgp as @nabobalis said, you first need to make it work in `sunpy.self_test` and then worry about the setup command.

[2018-03-12 15:20] Cadair commented on #2472
I had a quick chat with @drdavella about this. It would require some reasonably significant changes to pytest-doctestplus.

[2018-03-12 16:25] yashkgp commented on #2438
Hey @dstansby Do we still need a function for `hcc_to_hcc()` transformation ?

[2018-03-12 18:22] ayshih commented on #2556
Wouldn't this just be passing in the option `-kfigure` (or `-mfigure`)?

[2018-03-12 18:25] ayshih commented on #2556
Incidentally, I ask that the existing option (`--figure`) to be renamed to something like `--include-figure` because it's always seemed odd to me that `--figure` did more than only the figure tests.

[2018-03-12 18:49] Cadair commented on #2556
Yes although the modifications required to the test runner to do this are not completely trivial. There is however an exact analogue in the way we handle online tests.

[2018-03-13 09:04] nabobalis opened #2558 "Move back to normal astropy-helpers"
PR #2553  moves to an unofficial version of astropy-helpers while we wait for an upstream fix.

This is your reminder.

[2018-03-14 08:59] nabobalis commented on #2380
Fixed mostly by #2403.

Having had to work with this, I think it's a losing battle to add this to the CI. It might be something we want to check before each major release tho.

[2018-03-14 08:59] #2380 closed

[2018-03-14 09:11] nabobalis commented on #2475
Moved to CircleCI. I don't think they are under the yaml file for that.

[2018-03-14 09:11] #2475 closed

[2018-03-14 09:12] nabobalis commented on #2275
Solved by #2368

[2018-03-14 09:12] #2275 closed

[2018-03-14 09:17] nabobalis commented on #1467
I think we have those in master and as open PRs.

[2018-03-14 09:17] #1467 closed

[2018-03-14 09:19] nabobalis commented on #1456
Superseded by #2381

[2018-03-14 09:19] #1456 closed

[2018-03-14 09:20] nabobalis commented on #1177
Already done by Cadair.

[2018-03-14 09:20] #1177 closed

[2018-03-14 09:20] nabobalis commented on #1000
No.

[2018-03-14 09:22] #1659 closed

[2018-03-14 09:23] nabobalis commented on #1169
Solved by #2087

[2018-03-14 09:23] #1169 closed

[2018-03-14 09:24] nabobalis commented on #487
Superseded by #2352

[2018-03-14 09:24] #487 closed

[2018-03-14 09:26] nabobalis commented on #1339
We can just link to rebase guides?

[2018-03-14 12:36] nabobalis commented on #1960
How about I add them to the front page?

[2018-03-15 13:34] Cadair commented on #1000
This clearly should only have been closed after 1.0!!

[2018-03-15 13:39] nabobalis commented on #1000
Sigh

[2018-03-15 13:50] Cadair commented on #1339
I thought you added a section on this already? and yes we should link things.

[2018-03-15 13:51] nabobalis commented on #1339
I couldn't find the word rebase in the docs.

[2018-03-15 13:56] Cadair commented on #1339
maybe it's in a PR, or maybe I am dreaming of SunPy doc PRs now...

[2018-03-15 14:00] dpshelio commented on #1339
It's in #2561 - though by the title doesn't seem obvious.

[2018-03-15 14:02] nabobalis commented on #1339
It is in a PR now, there wasn't any before that I could find.

That title is deliberate.

[2018-03-15 20:14] vermashresth commented on #2088
Hi @Cadair
I made an attempt implementing this using the astropy download_file function but I have a doubt.
Does providing both the option for cache and giving a directory means that it first downloads in cache directory if file doesn't already exist there(i.e. it doesn't re-download) and then copy from there to the given directory?

[2018-03-16 08:53] #2556 closed

[2018-03-16 09:40] yudhik11 commented on #164
I have gone through [modules for HEK and HELIO](http://docs.sunpy.org/en/stable/code_ref/net.html) and also checked the ROI and CHAINCODE module as you previously suggested.
But I am confused about which area of implementation I should begin with, like making the different area regions like the square, circle, rectangle and then ensuring panning is still available or any specific thing.

[2018-03-16 10:12] nabobalis commented on #164
Has there been any planning on this feature?

[2018-03-16 14:19] wafels commented on #164
There has been little planning concerning this feature.  It depends what
you mean by "region".  Region originally meant a closed area in 2 spatial
dimensions.  Maybe we could start with that concept and generalize as
necessary.  A generalization would be a closed volume in any physical space
describable by WCS co-ordinates?

On Fri, Mar 16, 2018 at 6:12 AM, Nabil Freij <notifications@github.com>
w

[2018-03-17 18:58] yudhik11 commented on #164
What I mean from region was, we already have chaincode module so are we supposed to somehow modify it to give outputs for rectangle, square and circle etc or similar module are supposed to be made as what I figured out was that chaincode returns a plot with the nodes marked as specified and does not relate to ROI for now. So should similar modules for all special figures should be made and than us

[2018-03-21 17:35] #1339 closed

[2018-03-21 17:35] #1960 closed

[2018-03-22 11:07] #2400 closed

[2018-03-25 10:44] talsperre commented on #2384
Hi @Cadair.
I was looking at this issue and wanted to work on it. Are you referring to the nested if statements in ```_parse_args``` that is called in ```__call__``` function? Some of the conditionals here require the use of ```self``` i.e. class methods such as:
[code]
 How should ```functools.singledispatch``` be used with instance methods?  Would something like [this](https://stackoverflow.com/

[2018-03-27 09:57] nabobalis commented on #358
Is this not closed by #2236?

[2018-03-27 09:58] nabobalis opened #2565 "Create a Map Differential Rotation example"
[This feels like this issue should already be open]

Using @dpshelio's example he made for this diffrot PR:
https://gist.github.com/dpshelio/43b301ff7418f569adadda495c3487a7

Creating examples is more than just copy and pasting code, you need to have some understanding of that the code is doing.

It is important to explain the reason behind the example, any parts of the code that are confusing for

[2018-03-27 12:00] wafels commented on #358
Yep, this is done.  See
https://github.com/sunpy/sunpy/blob/master/sunpy/physics/differential_rotation.py#L238

On Tue, Mar 27, 2018 at 5:58 AM, Nabil Freij <notifications@github.com>
wrote:

[2018-03-27 12:01] #358 closed

[2018-03-27 12:19] nabobalis commented on #770
Im pretty sure we have this now.

[2018-03-27 12:19] #770 closed

[2018-03-27 12:20] nabobalis commented on #394
sunpy.pos doesn't exist?

[2018-03-27 12:20] #394 closed

[2018-03-27 12:25] nabobalis commented on #974
Does database.rst need to still be updated?

[2018-03-27 12:40] nabobalis commented on #2348
We have a method summary on there?

[2018-03-27 13:19] prateekiiest commented on #2413
PR #2455

Implemented

- [x] Base Difference
- [x] Running Difference
- [ ] Persistence Transform (Not to be ported here, but we can use it later) - [The gist](https://gist.github.com/prateekiiest/bb7d29192fea03c908dbeb90f7bbf0b7)

[2018-03-27 13:28] wafels commented on #394
not anymore.

On Tue, Mar 27, 2018 at 8:20 AM, Nabil Freij <notifications@github.com>
wrote:

[2018-03-28 07:37] dstansby commented on #2438
It would definitely be a nice new feature to add.

[2018-03-30 16:04] DanRyanIrish opened #2567 "ImageAnimator Bugs"
```ImageAnimator``` seems to have a few bugs in it that cause behaviour apparently inconsistent with the documentation.
* When slider axes coordinates are not provided, the documentation says pixel.array element indices will be used.  This is as it should be.  However, the code used ```np.linspace``` instead of ```np.arange``` leading to decimal "pixel" indices.
* When ```image_axes``` is provided

[2018-04-02 11:00] ghost opened #2571 "Improve documentation in GenericMap.rotate for NaN handling with default order kwarg"
[code]

I was trying to plot a Magnetogram for 02-Apr-2018. The Image is rotated by about 26'. after applying the map.rotate function, the missing values are replaced by 0.0. Is there any way of dealing with this issue!
![figure_1](https://user-images.githubusercontent.com/31451151/38194040-d007cff0-3692-11e8-8abe-b505edc8722f.png)

[2018-04-03 11:26] Cadair commented on #2571
I *think* the best thing to do is to set the `order=3` keyword argument.

[2018-04-03 11:35] Cadair commented on #2571
I just tested this and setting the `order=3` keyword argument does indeed stop the `NaN` being replaced by 0. I will edit this to be a documentation issue to make this clearer.

@ehsteve @ayshih grumble grumble `order=4` as the default grumble grumble.

[2018-04-03 18:11] wafels commented on #2571
Use masks?

On Tue, Apr 3, 2018 at 10:11 AM, Albert Y. Shih <notifications@github.com>
wrote:

[2018-04-04 09:49] Cadair commented on #2571
@wafels would you not have to rotate the mask as well? which doubles the compute time, and you might get some weird non-binary numbers out of the end. What even happens to masks on map if you do a `.rotate()`?

[2018-04-04 16:49] nabobalis opened #2574 "JSOC response_block_properties is empty"
Once PR #2188 is merged.

JSOC requests returns an empty response_block_properties as can be seen [here.](https://github.com/sunpy/sunpy/pull/2188/files#diff-61f5137ce8bef90efb1dd91756542acbR83)

So the fundamental problem with response_block_properties appears to be in the way that JSOC separates it's queries and it's downloads. We need to work out a  way of mapping from the JSOCResponse(query) o

[2018-04-05 10:32] Cadair opened #2575 "Improve JSOC API Docs"
The jsoc specific Time attr isn't in the JSOC attrs docs and there are a few other inconsistencies in the way the classes are represented.

[2018-04-05 16:34] wafels opened #2578 "aiaprep is throwing a submap warning."
The function aiaprep working on full disk images is throwing a submap warning.

I don't think it should be throwing this warning even although it appears that the code is working as intended.  It may be a case of bad instance checking in submap, or poorly specified co-ordinates in aiaprep.

[2018-04-06 12:39] nabobalis opened #2579 "Appveyor Python 2.7 Disabled"
We have a problem with Python 2.7 builds under Windows.

Looking at the log [here](https://ci.appveyor.com/project/nabobalis/sunpy/build/1.0.316/job/ux88alp5lp9i6x6w#L1545). It seems that for some reason under Windows and Python 2.7, the sample data download is being tried. This does not happen under Linux with Python 2.7.

Why? Not a clue.

[2018-04-06 12:43] Cadair commented on #2579
We should really fix this for the 0.9 release cycle.

[2018-04-07 20:19] #798 closed, assigned to nobody

[2018-04-08 16:57] dstansby opened #2580 "Importing sunpy.coordinates.frames requires pytest to be installed"
`sunpy.coordinates.frames` has the line `from astropy.tests.helper import quantity_allclose`. This import fails if `pytest` isn't installed. It would be good to replace this with something else, so using coordinate frames doesn't require an installation of pytest.

[2018-04-08 21:09] DanRyanIrish opened #2581 "Clarify ImageAnimator Axes Input API and Plotting Conventions"
Currently ```ImageAnimator``` supports of number of APIs for defining its axes' coordinate values, for both image axes and slider axes, via the ```axis_ranges``` kwarg.  These include:
* None
* Min, Max pair
* list/array of same length as axis giving value of each pixel.
In certain cases -- e.g. when the axis length is two, or whether the axis is an image or slider axis -- these different APIs can

[2018-04-08 21:38] DanRyanIrish commented on #2581
ping @Cadair @nabobalis

[2018-04-08 21:40] nabobalis commented on #2581
Don't look at me. This is too technical for the janitor of Sunpy to handle. @cadair, stop reading that book and check your notifications.

[2018-04-08 21:51] DanRyanIrish commented on #2581
😆

[2018-04-09 02:24] prateekiiest commented on #2581
Will this involve the current changes in the `ImageAnimatorWCS` also?

[2018-04-09 08:04] prateekiiest commented on #2581
It uses it here https://github.com/sunpy/sunpy/blob/master/sunpy/visualization/imageanimator.py#L1027

[2018-04-09 09:31] Cadair commented on #2580
see astropy/astropy#7235

[2018-04-09 14:55] prateekiiest commented on #2581
Ok, I will be diving deep into that and will let you know about it

[2018-04-09 15:42] Cadair commented on #2581
The one comment I have at the moment is that I don't think it matters to WCSAxes what axes ranges are. I think it just uses the pixel size of the array.

[2018-04-09 15:48] prateekiiest commented on #2581
Going by this

[code]

if `axis_ranges = None`

I get this
`s.axis_ranges` = `[array([0., 2.]), [0, 1024], [0, 1024]]`

[2018-04-09 15:51] prateekiiest commented on #2581
The corresponding plot
![old](https://user-images.githubusercontent.com/16035442/38508109-e41a7962-3c3b-11e8-9d29-2d41599724c4.png)

[2018-04-09 15:57] Cadair commented on #2581
@prateekiiest your numbering in the header is reversed from the correct order. The headers are in reverse order to the numpy array (so CTYPE1 is the last dimension).

[2018-04-09 16:05] prateekiiest commented on #2581
But the ordering in WCS remains the same

[code]

[2018-04-09 16:06] DanRyanIrish commented on #2581
Regarding @Cadair's comment about ```WCSAxes``` not caring about the ```axis_ranges```, I think that's the case too.  If so, we shouldn't need to change ```ImageAnimatorWCS``` due to this proposed API change.  But if this is true, we should probably remove the ```axis_ranges``` kwarg from the ```ImageAnimatorWCS``` API if it is not used.

Another question, what is ```WCSAxes```'s convention for pl

[2018-04-11 08:30] Cadair opened #2583 "Ensure that JsocTime is being converted to TAI before formatting."

[2018-04-11 16:30] Cadair opened #2584 "Change the default keys for jsoc search results to be T_REC rather than DATE and T_OBS"
This is as simple as changing [this](https://github.com/sunpy/sunpy/blob/master/sunpy/net/jsoc/jsoc.py#L843) line to read:
[code]
Unless @mbobra has a better idea.